<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(
        self
    ):
        <a id="change">pass</a>

    def forward(
        self,waveform
    ):</code></pre><h3>After Change</h3><pre><code class='java'>

            inp_channels = out_channels
            out_channels += initial_output_channels
            <a id="change">if layer == num_layers -1</a><a id="change"> :
                </a>decoder<a id="change"> = </a>WavenetDecoder(num_layers * initial_output_channels + inp_channels,inp_channels)
            else:
                decoder<a id="change"> = </a>WavenetDecoder(inp_channels+out_channels,inp_channels)

            self.decoders.insert(0,decoder)
</code></pre>