<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47                     ]
                            
    def forward(self, x):
        x = self.pool(F.relu(<a id="change">self.conv1(</a>x<a id="change">)</a>))
        x = self.pool(F.relu(<a id="change">self.conv2(</a>x<a id="change">)</a>))
        x = x.view(-1, 16 * 5 * 5)
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.fc3(x)
        x<a id="change"> = </a>F.log_softmax(x, dim=1)
        return x

</code></pre><h3>After Change</h3><pre><code class='java'>
        
        &#47&#47pack sequence
        packed_embedded = nn.utils.rnn.pack_padded_sequence(embedded, text_lengths, batch_first=True, enforce_sorted = False)
        packed_output, (hidden<a id="change">, cell</a>) = self.lstm(packed_embedded)

        &#47&#47unpack sequence
        out, out_lengths = nn.utils.rnn.pad_packed_sequence(packed_output, batch_first=True)</code></pre>