<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    super(_Multiply, self).__init__()

  def forward(self, x):
    result = <a id="change">torch.ones(</a>x[0].size()<a id="change">)</a>
    for t in x:
      result *= t
    return t
</code></pre><h3>After Change</h3><pre><code class='java'>
        super(_Multiply, self).__init__()

    def forward(self, x):
        result = <a id="change">torch.ones(x[0].size()).to(</a>self._device<a id="change">)</a>

        for t in x:
            result *= t
</code></pre>