<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                self_mask = rearrange(torch.eye(n, device = device, dtype = torch.bool), &quoti j -&gt; () i j&quot)

                ranking.masked_fill_(self_mask, -1.)
                <a id="change">adj_mat.masked_fill_(</a>self_mask, False<a id="change">)</a>
                ranking.masked_fill_(adj_mat, 0.)

            nbhd_ranking, nbhd_indices = ranking.topk(num_nearest, dim = -1, largest = False)
</code></pre><h3>After Change</h3><pre><code class='java'>

                self_mask = rearrange(torch.eye(n, device = device, dtype = torch.bool), &quoti j -&gt; () i j&quot)

                adj_mat<a id="change"> = </a><a id="change">adj_mat.masked_fill(</a>self_mask, False<a id="change">)</a>
                ranking.masked_fill_(self_mask, -1.)
                ranking.masked_fill_(adj_mat, 0.)

            nbhd_ranking, nbhd_indices = ranking.topk(num_nearest, dim = -1, largest = False)</code></pre>