<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 Alignment
        &#47&#47 (batch, max_time)
        alignment<a id="change"> = </a>self.attention_mechanism(cell_output, processed_memory)

        if mask is not None:
            mask = mask.view(query.size(0), -1)
            alignment.data.masked_fill_(mask, self.score_mask_value)

        &#47&#47 Normalize attention weight
        alignment = F.softmax(alignment, dim=-1)

        &#47&#47 Attention context vector
        &#47&#47 (batch, 1, dim)
        attention = torch.bmm(alignment.unsqueeze(1), memory)

        &#47&#47 (batch, dim)
        attention = attention.squeeze(1)

        <a id="change">return </a>cell_output<a id="change">, attention, alignment</a>

</code></pre><h3>After Change</h3><pre><code class='java'>
        context_vec = torch.bmm(alignment.unsqueeze(1), memory)

        &#47&#47 (batch, dim)
        context_vec<a id="change"> = </a><a id="change">context_vec.squeeze(1</a><a id="change">)</a>

        <a id="change">return </a>cell_output<a id="change">, context_vec, alignment</a>


</code></pre>