<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for vq in self.vqs:
            _xq, _diff, _codes = vq(x - xq)
            diff = diff + _diff
            xq<a id="change"> = </a>xq + _xq
            codes.append(_codes)
        codes = torch.cat(codes, 1)
        return xq, <a id="change">(x - xq).pow(2).mean()</a>, codes

    def encode(self, x):
        return self.forward(x)[-1]</code></pre><h3>After Change</h3><pre><code class='java'>
            all_losses.append(loss)

        out_losses, out_indices = map(torch.stack, (all_losses, all_indices))
        return quantized_out, sum(out_losses), <a id="change">out_indices.permute(1</a>, <a id="change">0</a>, 2<a id="change">)</a>

    def encode(self,
               x: torch.Tensor,
               n_q: Optional[int] = None) -&gt; torch.Tensor:</code></pre>