<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
			nn.Conv2d(in_channels=adain_dim, out_channels=64, padding=2, kernel_size=5),
			nn.LeakyReLU(),

			<a id="change">nn.Conv2d(in_channels=64, out_channels=img_shape[2], padding=3, kernel_size=7)</a>,
			nn.Sigmoid()
		)
</code></pre><h3>After Change</h3><pre><code class='java'>

		self.config = config

		self.content_embedding = nn.Embedding(config[&quotn_imgs&quot], <a id="change">config[&quotcontent_dim&quot]</a>, config[&quotcontent_std&quot])
		self.class_embedding = nn.Embedding(config[&quotn_classes&quot], config[&quotclass_dim&quot])
		self.modulation = Modulation(config[&quotclass_dim&quot], config[&quotn_adain_layers&quot], <a id="change">config[&quotadain_dim&quot]</a>)
		self.decoder = Decoder(config[&quotcontent_dim&quot], config[&quotn_adain_layers&quot], config[&quotadain_dim&quot], config[&quotimg_shape&quot])

	def forward(self, img_id, class_id):</code></pre>