<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                 padding=kernel_size[i] // 2))
            net.append(nn.LeakyReLU(leaky))
        net.append(nn.Flatten())
        net.append(nn.Linear(<a id="change">output_units[0]</a>, <a id="change">output_units[0]</a>))
        self.net = nn.Sequential(*net)

    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
                                 padding=kernel_size[i] // 2))
            net.append(nn.LeakyReLU(leaky))
        net.append(nn.Flatten())
        net.append(<a id="change">nn.Linear(</a>*<a id="change">output_units)</a>)
        self.net = nn.Sequential(*net)

    def forward(self, x):</code></pre>