<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        super(PositionalEncoding, self).__init__()

        self.dropout<a id="change"> = </a><a id="change">nn.Dropout(p=dropout)</a>

        &#47&#47 Compute the positional encodings once in log space.
        pe = torch.zeros(max_len, d_model)
        position = torch.arange(0, max_len).unsqueeze(1)</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Compute the positional encodings once in log space.
        pe = torch.zeros(max_len, d_model, requires_grad=False)
        position = <a id="change">torch.arange(0, max_len).unsqueeze(1).float()</a>
        div_term = torch.exp(torch.arange(0, d_model, 2).float() * -(math.log(10000.0) / d_model))
        pe[:, 0::2] = torch.sin(position * div_term)
        pe[:, 1::2] = torch.cos(position * div_term)
        pe = pe.unsqueeze(0)</code></pre>