<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            ema_unet.update()

    def forward(self, x, *, unet_number, **kwargs):
        return <a id="change">self.decoder(</a>x<a id="change">, unet_number = unet_number, **kwargs)</a>
</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x, *, unet_number, **kwargs):
        with autocast(enabled = self.amp):
            loss<a id="change"> = </a><a id="change">self.decoder(</a>x<a id="change">, unet_number = unet_number, **kwargs)</a>
        return self.scale(loss, unet_number = unet_number)
</code></pre>