<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            constant_init(self.norm, 1, bias=0)

    def forward(self, x, activate=True, norm=True):
        <a id="change">if self.activate_last</a><a id="change">:
            x = </a><a id="change">self.conv(</a>x<a id="change">)</a>
            <a id="change">if norm and self.with_norm</a><a id="change">:
                </a>x<a id="change"> = self.norm(</a>x<a id="change">)</a>
            <a id="change">if activate and self.with_activatation</a><a id="change">:
                </a>x<a id="change"> = self.activate(</a>x<a id="change">)</a>
        else:
            &#47&#47 WARN: this may be removed or modified
            <a id="change">if </a>norm and self.with_norm<a id="change">:
                </a>x = self.norm(x)
            <a id="change">if </a>activate and self.with_activatation<a id="change">:
                </a>x = self.activate(x)
            x<a id="change"> = </a>self.conv(x)
        return x
</code></pre><h3>After Change</h3><pre><code class='java'>
            constant_init(self.norm, 1, bias=0)

    def forward(self, x, activate=True, norm=True):
        <a id="change">for layer</a> in self.order<a id="change">:
            if layer == &quotconv&quot</a><a id="change">:
                </a>x<a id="change"> = </a>self.conv(x)
            elif <a id="change">layer == &quotnorm&quot</a> and norm and self.with_norm<a id="change">:
                </a>x = self.norm(x)
            elif <a id="change">layer == &quotact&quot</a> and activate and self.with_activatation<a id="change">:
                </a>x = self.activate(x)
        return x
</code></pre>