<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.easy_margin = easy_margin
        self.cos_m = math.cos(m)
        self.sin_m = math.sin(m)
        self.th = <a id="change">math.cos(</a>math.pi<a id="change"> - </a>m<a id="change">)</a>
        self.mm = math.sin(math.pi - m) * m

    def extra_repr(self) -&gt; str:
        return &quotin_features={}, out_features={}&quot.format(</code></pre><h3>After Change</h3><pre><code class='java'>
        self.easy_margin = easy_margin
        self.cos_m = torch.tensor(math.cos(m))
        self.sin_m = torch.tensor(math.sin(m))
        self.th = torch.tensor(<a id="change">math.cos(</a>math.pi<a id="change"> - </a>m<a id="change">)</a>)
        self.mm = torch.tensor(math.sin(math.pi - m) * m)

    def extra_repr(self) -&gt; str:</code></pre>