<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if idx != self._num_stages:
                up = self._up[level](x)

            <a id="change">out_up.append(</a>x<a id="change">)</a>

        &#47&#47 Forward out
        outputs = {&quotP&quot + str(level): self._out[level](fm) for level, fm in enumerate(reversed(out_up))}
</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        &#47&#47 Forward lateral
        lateral_out = [lateral(fmap) for lateral, fmap in zip(self._lateral, <a id="change">list(x.values())[-self._lateral_levels:]</a>)]

        &#47&#47 Forward up
        up_out = []</code></pre>