<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                nn.BatchNorm2d(256), nn.LeakyReLU(0.2)))
        self.conv_blocks.append(
            nn.Sequential(
                <a id="change">nn.Conv2d(256</a>, 512, 5<a id="change">, stride=2, padding=2)</a>,
                nn.BatchNorm2d(512), nn.LeakyReLU(0.2)))
        self.decision = nn.Sequential(nn.Linear(7 * 7 * 512, 1), nn.Sigmoid())
</code></pre><h3>After Change</h3><pre><code class='java'>
                 default_act_cfg=dict(type=&quotLeakyReLU&quot, negative_slope=0.2),
                 out_act_cfg=None):
        super().__init__()
        <a id="change">assert </a>input_scale % output_scale == 0
        assert input_scale // output_scale &gt;= 2

        self.input_scale = input_scale</code></pre>