<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                x_tc_out = x_sigmoid

            &#47&#47 Temporal Convolution Layer (Tanh)
            elif <a id="change"></a>self.act_func == &quottanh&quot<a id="change">:
                </a>x_tanh = self.tanh(x_causal_conv + x_in)
                x_tc_out = x_tanh

            &#47&#47 Temporal Convolution Layer (ReLU)
            elif self.act_func == &quotrelu&quot:
                x_relu = self.relu(x_causal_conv + x_in)
                x_tc_out = x_relu
        
            &#47&#47 Temporal Convolution Layer (LeakyReLU)
            elif self.act_func == &quotleaky_relu&quot:
                x_leaky_relu = self.leaky_relu(x_causal_conv + x_in)
                x_tc_out = x_leaky_relu

            &#47&#47 Temporal Convolution Layer (ELU)
            elif self.act_func == &quotelu&quot:
                x_elu = self.elu(x_causal_conv + x_in)
                x_tc_out = x_elu

            else:
                <a id="change">raise </a><a id="change">ValueError(f&quotERROR: activation function {self.act_func} is not defined.&quot</a><a id="change">)</a>
        
        return x_tc_out
</code></pre><h3>After Change</h3><pre><code class='java'>
            x = self.silu(x_causal_conv + x_in)
        
        else:
            <a id="change">raise </a>NotImplementedError(f&quotERROR: The activation function {self.act_func} is not implemented.&quot)
        
        return x
</code></pre>