<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.scRNAseq_tech = scRNAseq_tech
        self.model = model
        if fc1_dim == None and fc2_dim == None and enc_dim == None:
            fc1_dim<a id="change">, fc2_dim, enc_dim</a> = 150, 100, 15

        self.encoder = Encoder(n_genes, fc1_dim, fc2_dim, enc_dim, dropout_prob)
        self.decoder = Decoder(</code></pre><h3>After Change</h3><pre><code class='java'>

        if verbose:
            print("..Running VAE using the following param set:")
            <a id="change">print("......denoised count type: "</a>, feature_type<a id="change">)</a>
            print("......count model: ", count_model)
            print("......num_input_feature: ", n_features)
            print("......NN_layer1: ", nn_layer1)
            print("......NN_layer2: ", nn_layer2)</code></pre>