<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.output_size = output_size
        self.device = device

        self.lstm_layers = <a id="change">[
            nn.LSTMCell(
                in_size,
                hidden_size,
            ).to(device)
            for in_size in [input_size] + [hidden_size] * (num_layers - 1)
        ]</a>
        self.embeddings = nn.Embedding(vocab_size, input_size)
        self.decoder = nn.Linear(hidden_size, output_size)
        self.num_predictions = num_predictions
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.output_size = output_size
        self.device = device

        self.lstm_layers = <a id="change">nn.ModuleList(
            </a><a id="change">[
                nn.LSTMCell(
                    in_size,
                    hidden_size,
                ).to(device)
                for in_size in [input_size] + [hidden_size] * (num_layers - 1)
            ]
        )</a>
        self.embeddings = nn.Embedding(vocab_size, input_size)
        self.decoder = nn.Linear(hidden_size, output_size)
        self.num_predictions = num_predictions
</code></pre>