<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 layer7 = layer6.permute(0,2,3,1)
        layer7 = torch.reshape(layer6,(-1,layer6.shape[2],layer6.shape[3],512))
        layer7 = add_timing_signal_nd(layer7)
        layer7 = torch.reshape(layer7,(-1<a id="change">,512,layer7.shape[1],layer7.shape[2]</a>))
        &#47&#47 layer7 = layer7.permute(0,3,1,2)

        &#47&#47 layer7 = layer7.contiguous()</code></pre><h3>After Change</h3><pre><code class='java'>
        layer6 = F.relu(layer6)

        &#47&#47位置嵌入
        layer7 = <a id="change">layer6.permute(0</a>,<a id="change">2</a>,<a id="change">3</a>,<a id="change">1</a><a id="change">)</a>
        layer7 = self.add_timing_signal_nd(layer7)
        layer7 = layer7.permute(0,3,1,2)

        &#47&#47 layer7 = layer7.contiguous()</code></pre>