<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 Define model
        ch = self.yaml[&quotch&quot] = self.yaml.get(&quotch&quot, ch)  &#47&#47 input channels
        if nc and nc != self.yaml[&quotnc&quot]:
            <a id="change">logger.info(&quotOverriding model.yaml nc=%g with nc=%g&quot</a><a id="change"> % </a>(<a id="change">self.yaml[&quotnc&quot]</a><a id="change">, nc</a>)<a id="change">)</a>
            self.yaml[&quotnc&quot] = nc  &#47&#47 override yaml value
        self.model, self.save = parse_model(deepcopy(self.yaml), ch=[ch])  &#47&#47 model, savelist
        self.names = [str(i) for i in range(self.yaml[&quotnc&quot])]  &#47&#47 default names
        &#47&#47 print([x.shape for x in self.forward(torch.zeros(1, ch, 64, 64))])</code></pre><h3>After Change</h3><pre><code class='java'>
                self.yaml = yaml.load(f, Loader=yaml.SafeLoader)  &#47&#47 model dict

        &#47&#47 Define model
        ch = <a id="change">self.yaml[&quotch&quot]</a> = self.yaml.get(&quotch&quot, ch)  &#47&#47 input channels
        if nc and nc != self.yaml[&quotnc&quot]:
            <a id="change">logger.info(f"Overriding model.yaml nc={self.yaml[&quotnc&quot]} with nc={nc}"</a><a id="change">)</a>
            self.yaml[&quotnc&quot] = nc  &#47&#47 override yaml value
        <a id="change">if anchors</a><a id="change">:
            logger</a><a id="change">.info(f&quotOverriding model.yaml anchors with anchors={anchors}&quot</a><a id="change">)</a>
            <a id="change">self.yaml[&quotanchors&quot]</a><a id="change"> = round(anchors</a><a id="change">)</a>  &#47&#47 override yaml value
        self.model, self.save = parse_model(deepcopy(self.yaml), ch=[ch])  &#47&#47 model, savelist
        self.names = [str(i) for i in range(self.yaml[&quotnc&quot])]  &#47&#47 default names
        &#47&#47 print([x.shape for x in self.forward(torch.zeros(1, ch, 64, 64))])</code></pre>