<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.n_heads = n_heads

        self.d_k_s = int(math.ceil(d_k / n_heads))
        self.d_v_s = int(<a id="change">math.ceil(</a>d_v / n_heads<a id="change">)</a>)
        d_k_p = self.d_k_s * n_heads
        d_v_p = self.d_v_s * n_heads
</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 make sure that dimension of vectors is divisible by n_heads
        d_k_p = int(math.ceil(d_k / n_heads)) * n_heads
        d_v_p = int(<a id="change">math.ceil(</a>d_v / n_heads<a id="change">)</a>)<a id="change"> * </a>n_heads

        self.q_projector = nn.Linear(d_k, d_k_p)
        self.k_projector = nn.Linear(d_k, d_k_p)</code></pre>