<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.cin = cin
        self.cout = cout

        self.AAD1 = <a id="change">AADLayer(</a>cin, c_attr, c_id<a id="change">)</a>
        self.conv1<a id="change"> = </a><a id="change">nn.Conv2d(</a>cin, cin<a id="change">, kernel_size=3, stride=1, padding=1, bias=False)</a>
        self.relu1 = nn.ReLU(inplace=True)

        self.AAD2 = AADLayer(cin, c_attr, c_id)
        self.conv2 = nn.Conv2d(cin, cout, kernel_size=3, stride=1, padding=1, bias=False)
        self.relu2 = nn.ReLU(inplace=True)

        if cin != cout:
            self.AAD3 = AADLayer(cin, c_attr, c_id)
            self.conv3 = nn.Conv2d(cin, cout, kernel_size=3, stride=1, padding=1, bias=False)
            self.relu3<a id="change"> = </a><a id="change">nn.ReLU(inplace=True)</a>

    def forward(self, h, z_attr, z_id):
        x = self.AAD1(h, z_attr, z_id)
        x = self.relu1(x)</code></pre><h3>After Change</h3><pre><code class='java'>
            last_add_block = [AADLayer(cin, c_attr, c_id), 
                             nn.ReLU(inplace=True), 
                             nn.Conv2d(cin, cout, kernel_size=3, stride=1, padding=1, bias=False)]
            self.last_add_block = <a id="change">AddBlocksSequential(</a>*<a id="change">last_add_block)</a>
            

    def forward(self, h, z_attr, z_id):
        x =  self.add_blocks(h, z_attr, z_id)</code></pre>