<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(Generator, self).__init__()
        self.dim = dim
        self.data_shape = data_shape
        preprocess = <a id="change">nn.Sequential(
            </a>nn.Linear(noise_dim, 4 * 4 * 4 * dim)<a id="change">
        )</a>
        preprocess_1 = nn.Sequential(
            nn.BatchNorm2d(4 * 4 * 4 * dim),
            nn.ReLU(True),
        )
        block1 = nn.Sequential(
            nn.ConvTranspose2d(4 * dim, 2 * dim, 2, stride=2),
            nn.BatchNorm2d(2 * dim),
            nn.ReLU(True),
        )
        block2 = nn.Sequential(
            nn.ConvTranspose2d(2 * dim, dim, 2, stride=2),
            nn.BatchNorm2d(dim),
            nn.ReLU(True),
        )
        deconv_out = nn.ConvTranspose2d(dim, 3, 2, stride=2)

        self.preprocess<a id="change"> = </a>preprocess
        self.preprocess_1 = preprocess_1
        self.block1 = block1
        self.block2 = block2</code></pre><h3>After Change</h3><pre><code class='java'>

class Generator(nn.Module):
    def __init__(self, noise_dim: int = 100, dim: int = 64, data_shape: List[int] = [3, 32, 32]):
        <a id="change">super()</a>.__init__()
        self.noise_dim: int = noise_dim
        self.dim: int = dim
        self.data_shape: List[int] = data_shape</code></pre>