<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        loss = 0.

        <a id="change">for idx</a> in <a id="change">range(</a>num_joints<a id="change">):
            </a>heatmap_pred = heatmaps_pred[idx].squeeze(1)
            heatmap_gt = heatmaps_gt[idx].squeeze(1)
            target_weight = target_weights[:, idx, None]
            if self.use_target_weight:
                loss += self.criterion(heatmap_pred * target_weight,
                                       heatmap_gt * target_weight)
            else:
                loss<a id="change"> += </a>self.criterion(heatmap_pred, heatmap_gt)

        return loss / num_joints * self.loss_weight
</code></pre><h3>After Change</h3><pre><code class='java'>
            Tensor: The calculated loss.
        
        if self.use_target_weight:
            loss = self.criterion(output * <a id="change">target_weights[..., None, None]</a>,
                                  target * <a id="change">target_weights[..., None, None]</a>)
        else:
            loss = self.criterion(output, target)
</code></pre>