<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        pos = torch.arange(0, seq.shape[1]).unsqueeze(0).repeat(seq.shape[0], 1).to(self.args.device)
        seq = self.dropout((self.tok_embed(seq) * self.scale) + self.pos_encoding(pos)).transpose(0, 1)
        out = self.transformer(seq, seq).transpose(0, 1)
        <a id="change">print(</a>pos, <a id="change">&quot\n&quot</a>, seq, &quot\n&quot, out<a id="change">)</a>
        return self.fc_out(out)</code></pre><h3>After Change</h3><pre><code class='java'>
        print(self.tok_embed(seq))
        seq = (self.dropout((self.tok_embed(seq) * self.scale) + self.pos_encoding(pos))).transpose(0, 1)
        out = self.transformer(seq, seq).transpose(0, 1)
        <a id="change">print(</a>seq, <a id="change">&quot\n&quot</a>, out<a id="change">)</a>
        return self.fc_out(out)</code></pre>