<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = self.mid_block2(x, t, c)

        for init_block, resnet_blocks, attn_block, upsample in self.ups:
            x = torch.cat((x, <a id="change">hiddens.pop()</a>), dim = 1)
            x = init_block(x, t, c)

            for resnet_block in resnet_blocks:</code></pre><h3>After Change</h3><pre><code class='java'>

        for init_block, resnet_blocks, attn_block, upsample in self.ups:

            skip_connection = <a id="change">hiddens.pop() * </a>self.skip_connect_scale

            x<a id="change"> = </a>torch.cat((x, skip_connection), dim = 1)
            x = init_block(x, t, c)

            for resnet_block in resnet_blocks:</code></pre>