<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
              for entry in conll_data2.split(&quot\n\n&quot) if entry]
    npp = ProbabilisticNonprojectiveParser()
    npp.train(graphs, NaiveBayesDependencyScorer())
    parse_graph<a id="change"> = </a><a id="change">npp.parse(</a>[&quotCathy&quot, &quotzag&quot, &quothen&quot, &quotzwaaien&quot, &quot.&quot], [&quotN&quot, &quotV&quot, &quotPron&quot, &quotAdj&quot, &quotN&quot, &quotPunc&quot]<a id="change">)</a>
    print(parse_graph)

def rule_based_demo():
    grammar = parse_dependency_grammar(</code></pre><h3>After Change</h3><pre><code class='java'>
              for entry in conll_data2.split(&quot\n\n&quot) if entry]
    npp = ProbabilisticNonprojectiveParser()
    npp.train(graphs, NaiveBayesDependencyScorer())
    <a id="change">for </a>parse_graph in <a id="change">npp.parse(</a>[&quotCathy&quot, &quotzag&quot, &quothen&quot, &quotzwaaien&quot, &quot.&quot], [&quotN&quot, &quotV&quot, &quotPron&quot, &quotAdj&quot, &quotN&quot, &quotPunc&quot]<a id="change">):
        </a>print(parse_graph)

def rule_based_demo():
    grammar = parse_dependency_grammar(</code></pre>