<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    ppdp.train(graphs)
    sent = [&quotCathy&quot, &quotzag&quot, &quothen&quot, &quotwild&quot, &quotzwaaien&quot, &quot.&quot]
    print(&quotParsing \&quot&quot, " ".join(sent), &quot\&quot...&quot)
    parse<a id="change"> = </a><a id="change">ppdp.parse(</a>sent<a id="change">)</a>
    print(&quotParse:&quot)
    print(parse[0])

</code></pre><h3>After Change</h3><pre><code class='java'>
    sent = [&quotCathy&quot, &quotzag&quot, &quothen&quot, &quotwild&quot, &quotzwaaien&quot, &quot.&quot]
    print(&quotParsing \&quot&quot, " ".join(sent), &quot\&quot...&quot)
    print(&quotParse:&quot)
    <a id="change">for </a>tree in <a id="change">ppdp.parse(</a>sent<a id="change">):
    	</a>print(tree)

if __name__ == &quot__main__&quot:
    demo()</code></pre>