<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()

    def forward(self, x):
        <a id="change">return </a>x
</code></pre><h3>After Change</h3><pre><code class='java'>
        assert c == 3 and v == self.dim_v, &quotcoordinates have wrong dimensions&quot
        assert n == self.dim_n, &quotscalar features have wrong dimensions&quot

        Vh<a id="change"> = </a>einsum(&quotb v c, v h -&gt; b h c&quot, coors, self.Wh)
        Vu = einsum(&quotb h c, h u -&gt; b u c&quot, Vh, self.Wu)

        sh<a id="change"> = </a><a id="change">torch.norm(</a>Vh<a id="change">, p = 2, dim = -1)</a>
        vu = torch.norm(Vu, p = 2, dim = -1, keepdim = True)

        s = torch.cat((feats, sh), dim = 1)
        sm<a id="change"> = </a>einsum(&quotb h, h m -&gt; b m&quot, s, self.Wm)<a id="change"> + </a>self.Bm

        feats_out = self.σ(sm)
        coors_out = self.σ_plus(vu) * Vu

        <a id="change">return </a>feats_out, coors_out
</code></pre>