<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()
        blocks = nn.ModuleList([])

        for self_attn_block, cross_attn_block in <a id="change">zip(</a>*<a id="change">[iter(input_blocks)] * 2)</a>:
            <a id="change">blocks.append(</a>ReversibleSelfAttnBlock(*self_attn_block)<a id="change">)</a>
            blocks.append(ReversibleCrossAttnBlock(*cross_attn_block))

        self.blocks = blocks
</code></pre><h3>After Change</h3><pre><code class='java'>

        blocks = nn.ModuleList([])

        for block, block_type in <a id="change">zip(</a>input_blocks, block_types<a id="change">)</a>:
            if block_type == &quotself&quot:
                reversible_klass = ReversibleSelfAttnBlock
            elif block_type == &quotcross&quot:</code></pre>