<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        count = np.arange(x.shape[0]) + 1
        self.c_t = torch.zeros_like(self.emb)  &#47&#47 shape=(seq_len, batch_size, day_dim)
        <a id="change">for </a>i, att_timesteps in <a id="change">enumerate(</a>count<a id="change">):
            &#47&#47 按时间步迭代，计算每个时间步的经attention的gru输出
            </a>self.c_t[i] = self.attentionStep(first_h_a, first_h_b, att_timesteps)

        if self.drop &lt; 1.0:
            self.c_t = self.dropout(self.c_t)</code></pre><h3>After Change</h3><pre><code class='java'>

        out = torch.zeros((batch_size, time_steps, self.hidden_dim))

        <a id="change">for cur_time</a> in range(time_steps)<a id="change">:
            </a>cur_x<a id="change"> = </a>x[:, : cur_time + 1, :]
            out[:, cur_time, :]<a id="change"> = </a>self.retain_encoder(cur_x)
        return out
</code></pre>