<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                if i % 2 == 0:
                    pe_matrix[pos, i] = math.sin(pos / (10000 ** (2 * i / d_model)))
                elif i % 2 == 1:
                    pe_matrix[pos, i] = <a id="change">math.cos(</a>pos<a id="change"> / </a>(10000 ** (2 * (i-1) / d_model))<a id="change">)</a>

        pe_matrix = pe_matrix.unsqueeze(0) &#47&#47 (1, L, d_model)
        self.positional_encoding = pe_matrix.to(device=device).requires_grad_(False)</code></pre><h3>After Change</h3><pre><code class='java'>
                if i % 2 == 0:
                    pe_matrix[pos, i] = math.sin(pos / (10000 ** (2 * (i//2) / d_model)))
                elif i % 2 == 1:
                    pe_matrix[pos, i] = <a id="change">math.cos(</a>pos<a id="change"> / </a>(10000 ** (2 * (i//2) / d_model))<a id="change">)</a>

        pe_matrix = pe_matrix.unsqueeze(0) &#47&#47 (1, L, d_model)
        self.positional_encoding = pe_matrix.to(device=device).requires_grad_(False)</code></pre>