<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )

        &#47&#47 final semantic prediction
        self.fc_end = <a id="change">nn.Sequential(
            </a>SharedMLP(d_in, 64, bn=True, activation_fn=nn.ReLU()),
            SharedMLP(64, 32, bn=True, activation_fn=nn.ReLU()),
            nn.Dropout(),
            SharedMLP(32, num_classes)<a id="change">,
        )</a>

    &#47&#47 TODO: activate Batch normalization
    &#47&#47 TODO: deactivate dropout and reduce final layers
    def forward(self, batch):</code></pre><h3>After Change</h3><pre><code class='java'>
            SharedMLP(d_in, 64, bn=True, activation_fn=nn.ReLU()),
            SharedMLP(64, 32, bn=True, activation_fn=nn.ReLU()),
        ]
        dropout<a id="change"> = </a><a id="change">hparams_net.get("dropout"</a>, <a id="change">0.0</a><a id="change">)</a>
        if dropout:
            parts.append(nn.Dropout(p=dropout))
        parts.append(SharedMLP(32, num_classes))
        self.fc_end = nn.Sequential(*parts)</code></pre>