<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, inputs):
        x = self.signal_encoder(inputs)
        x = self.pos_encoding(<a id="change">x.flatten(2</a><a id="change">)</a>)
        x = self.transformer(x)
        x = x.flatten(1)
        x = self.mlp_head(x)</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, inputs):
        x = self.signal_encoder(inputs)

        x = <a id="change">x.squeeze(1</a><a id="change">)</a>.permute(0, 2, 1)

        x = self.transformer(x)
</code></pre>