<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 as stride = 16 -&gt; [2.25, 4.6875, 4.75, 3.4375, 4.5, 9.125]
        &#47&#47 as stride = 32 -&gt; [4.4375, 3.4375, 6.0, 7.59375, 14.34375, 12.53125]
        &#47&#47 ---------------------------------------------------------------------
        self.masked_anchors = [(a_w / self.stride<a id="change">, a_h / self.stride, a</a>) for a_w, a_h in self.anchors for a in
                               self.angles]
        self.reduction = "mean"
</code></pre><h3>After Change</h3><pre><code class='java'>
class YoloLayer(nn.Module):
    def __init__(self, num_classes, anchors, angles, stride, scale_x_y, ignore_thresh):
        super(YoloLayer, self).__init__()
        self.device = &quotcuda&quot<a id="change"> if </a><a id="change">torch.cuda.is_available() else </a>&quotcpu&quot
        self.num_classes = num_classes
        self.anchors = anchors
        self.angles = angles</code></pre>