<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        activated_t = F.relu(out)
        linear_out = self.fc2(activated_t)

        <a id="change">return </a>linear_out, hidden
</code></pre><h3>After Change</h3><pre><code class='java'>
        out = self.fc1(lstm_out)
        activated_t = F.relu(out)
        linear_out = self.fc2(activated_t)
        linear_out<a id="change"> = </a><a id="change">torch.max(</a>linear_out<a id="change">, dim=1)</a>[0]

        return linear_out
</code></pre>