<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        embed_out = self.embedding(x)
        lstm_out, self.hidden = self.lstm(embed_out, self.hidden)
        lstm_out = self.dropout(lstm_out)
        lstm_out<a id="change"> = </a><a id="change">lstm_out.contiguous().view(-1</a>, self.hidden_dim<a id="change">)</a>
        fc_out = self.fc(lstm_out)

        return fc_out
</code></pre><h3>After Change</h3><pre><code class='java'>
        )
        _, (hidden, cell) = self.lstm(packed_embed_out)

        hidden = self.dropout(<a id="change">torch.cat(</a>(hidden[-2, :, :]<a id="change">, hidden[-1, :, :]</a>)<a id="change">, dim=1)</a>)
        fc_out = self.fc(hidden)

        return fc_out</code></pre>