<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.stripes = stripes
        if num_layers == 50:
            resnet = resnet50(pretrained=True, last_stride=1)
        elif <a id="change">num_layers == 101</a>:
            resnet<a id="change"> = </a>resnet101(pretrained=True, last_stride=1)
        elif <a id="change">num_layers == &quot101_32x8d&quot</a><a id="change">:
            </a>resnet<a id="change"> = </a>resnext101_32x8d(pretrained=True, last_stride=1)
        elif num_layers == &quot50_ibn&quot:
            resnet<a id="change"> = </a>resnet50_ibn_a(pretrained=True, last_stride=1)
        elif num_layers == &quot101_ibn&quot:
            resnet = resnet101_ibn_a(pretrained=True, last_stride=1)
        self.backone = nn.Sequential(</code></pre><h3>After Change</h3><pre><code class='java'>
        self.stripes = stripes
        self.margin = margin
        self.loss_type= loss_type
        kwargs<a id="change"> = </a><a id="change">{
            </a>&quotuse_non_local&quot: use_non_local<a id="change">
        }</a>
        resnet = model_zoo[num_layers](
            pretrained=True, last_stride=last_stride,
            **kwargs
        )</code></pre>