<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47     pass

        else:
            <a id="change">raise </a>Exception("[ERROR] Unknown model_name!")

        return out</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47 b
            out = self.classifier(out)

        elif <a id="change"></a>self.cfg[&quotmodel_name&quot]=="xception"<a id="change">:
            </a>out<a id="change"> = </a>self.model_feature(img)
            out = self.avgpool(out)

        elif "efficientnet" in self.cfg[&quotmodel_name&quot]:
            out<a id="change"> = </a>self.pretrain_model(img)

        elif <a id="change"></a>&quotresnext&quot in self.cfg[&quotmodel_name&quot] or \
                <a id="change">&quotxception&quot in self.cfg[&quotmodel_name&quot]</a><a id="change">:
            </a>out = out.view(<a id="change">out.size(</a>0<a id="change">)</a>, -1)
            out = self.last_linear(out)

        &#47&#47 [Add new model here]</code></pre>