<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        num_features = []

        for idx in range(self.depth):
            <a id="change">if idx == 0</a><a id="change">:
                </a>num_features.append(in_channels)
            else:
                num_features.append(growth_rate[idx-1])
            net.append(MultiDilatedConvBlock(num_features, growth_rate[idx], kernel_size=kernel_size, norm=norm, nonlinear=nonlinear, eps=eps))</code></pre><h3>After Change</h3><pre><code class='java'>
        net = []
        _in_channels = in_channels

        <a id="change">for idx</a> in range(depth)<a id="change">:
            </a>_out_channels = sum(growth_rate[idx:])
            dilation = 2**idx
            conv_block<a id="change"> = </a>ConvBlock2d(_in_channels, _out_channels, kernel_size=kernel_size, stride=1, dilation=dilation, eps=eps)
            net.append(conv_block)
            _in_channels = growth_rate[idx]
</code></pre>