<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.ReLU(),
            nn.Dropout(0.5),
            nn.Linear(bottleneck_dim, bottleneck_dim),
            <a id="change">nn.BatchNorm1d(</a>bottleneck_dim<a id="change">)</a>,
            nn.ReLU(),
            nn.Linear(bottleneck_dim, num_classes)
        )</code></pre><h3>After Change</h3><pre><code class='java'>
                nn.AdaptiveAvgPool2d(output_size=(1, 1)),
                nn.Flatten()
            )
        self.head<a id="change"> = </a>nn.Sequential(
            pool_layer,
            nn.Dropout(0.5),
            nn.Linear(in_features, bottleneck_dim),
            nn.BatchNorm1d(bottleneck_dim),
            nn.ReLU(),
            nn.Dropout(0.5),
            nn.Linear(bottleneck_dim, bottleneck_dim),
            <a id="change">nn.BatchNorm1d(</a>bottleneck_dim<a id="change">)</a>,
            nn.ReLU(),
            nn.Linear(bottleneck_dim, num_classes)
        )</code></pre>