<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                activation=activations.get(acts[0])))

        if bn:
            conv1.append(<a id="change">nn.BatchNorm1d(</a>hids[0]<a id="change">)</a>)
        self.conv1 = Sequential(*conv1)

        conv2 = nn.ModuleList()</code></pre><h3>After Change</h3><pre><code class='java'>
                                activation=activations.get(acts[0]))

        if bn:
            self.bn1<a id="change"> = </a><a id="change">nn.BatchNorm1d(</a>hids[0]<a id="change">)</a>
        else:
            self.bn1 = lambda x : x

        conv2 = nn.ModuleList()</code></pre>