<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            downsample_klass = partial(CrossEmbedLayer, kernel_sizes = cross_embed_downsample_kernel_sizes)

        if antialias_downsample:
            downsample_klass<a id="change"> = </a><a id="change">partial(</a>downsample_klass<a id="change">, antialias = True)</a>

        &#47&#47 scale for resnet skip connections

        skip_connect_scale = 1. if not scale_resnet_skip_connection else (2 ** -0.5)</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 downsample klass

        downsample_klass = DownsampleWithBlur<a id="change"> if </a>antialias_downsample<a id="change"> else </a>Downsample

        if cross_embed_downsample:
            downsample_klass = partial(CrossEmbedLayer, kernel_sizes = cross_embed_downsample_kernel_sizes)</code></pre>