<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        head = 1

        for hid, num_head, act in zip(hids, num_heads, acts):
            conv.append(<a id="change">GATConv(</a>in_features<a id="change"> * </a>head,
                                hid<a id="change">,
                                num_heads=num_head,
                                bias=bias,
                                feat_drop=dropout,
                                attn_drop=dropout,
                                activation=activations.get(act))</a>)
            conv.append(nn.Flatten(1))
            conv.append(nn.Dropout(dropout))
            in_features = hid</code></pre><h3>After Change</h3><pre><code class='java'>
        head = 1

        for hid, num_head, act in zip(hids, num_heads, acts):
            <a id="change">conv.append(</a><a id="change">GATConv(</a>in_features<a id="change"> * </a>head,
                                hid<a id="change">,
                                num_heads=num_head,
                                bias=bias,
                                feat_drop=dropout,
                                attn_drop=dropout,
                                activation=None))</a>
            conv.append(nn.Flatten(1))
            if bn:
                conv.append(nn.BatchNorm1d(hid * num_head))</code></pre>