<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        init_eps /= dim_seq
        nn.init.uniform_(self.proj.weight, -init_eps, init_eps)
        <a id="change">nn.init.constant_(</a>self.proj.bias, <a id="change">1.</a><a id="change">)</a>

    def forward(self, x, gate_res = None):
        device, n = x.device, x.shape[1]
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 parameters

        self.use_circulant_matrix = use_circulant_matrix
        shape = (dim_seq,) if use_circulant_matrix else (dim_seq<a id="change">, dim_seq</a>)
        weight = torch.zeros(shape)

        self.weight = nn.Parameter(weight)</code></pre>