<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = F.tanh(self.fc2(x))
        mu =  F.tanh(self.pi(x))
        sigma = F.softplus(self.sigma(x)) +1e-3
        <a id="change">return </a>mu<a id="change">,sigma</a>

class Critic(nn.Module):
    def __init__(self,state_dim,hidden_dim):
        super(Critic, self).__init__()</code></pre><h3>After Change</h3><pre><code class='java'>
        x = F.tanh(self.fc1(x))
        x = F.tanh(self.fc2(x))
        mu = self.pi(x)
        logstd = <a id="change">torch.zeros_like(</a>mu<a id="change">)</a>
        std<a id="change"> = </a>torch.exp(logstd)
        <a id="change">return </a>mu<a id="change">,std</a>

class Critic(nn.Module):
    def __init__(self,state_dim,hidden_dim):
        super(Critic, self).__init__()</code></pre>