<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class SMPLWrapper(nn.Module):
    def __init__(self):
        super(SMPLWrapper,self).__init__()
        self.smpl_model = <a id="change">smpl_model.create(args.smpl_model_path, J_reg_extra9_path=args.smpl_J_reg_extra_path, J_reg_h36m17_path=args.smpl_J_reg_h37m_path, \
            batch_size=args.batch_size,model_type=&quotsmpl&quot, gender=&quotneutral&quot, use_face_contour=False, ext=&quotnpz&quot,flat_hand_mean=True, use_pca=False).cuda()</a>
        self.part_name = [&quotcam&quot, &quotglobal_orient&quot, &quotbody_pose&quot, &quotbetas&quot]
        self.part_idx = [args.cam_dim, args.rot_dim, (args.smpl_joint_num-1)*args.rot_dim, 10]
        self.params_num = np.array(self.part_idx).sum()
</code></pre><h3>After Change</h3><pre><code class='java'>
        super(SMPLWrapper,self).__init__()
        self.smpl_model = smpl_model.create(args.smpl_model_path, J_reg_extra9_path=args.smpl_J_reg_extra_path, J_reg_h36m17_path=args.smpl_J_reg_h37m_path, \
            batch_size=args.batch_size,model_type=&quotsmpl&quot, gender=&quotneutral&quot, use_face_contour=False, ext=&quotnpz&quot,flat_hand_mean=True, use_pca=False)
        <a id="change">if </a>args.GPUS != -1<a id="change">:
            </a>self.smpl_model<a id="change"> = </a><a id="change">self.smpl_model.cuda()</a>
        self.part_name = [&quotcam&quot, &quotglobal_orient&quot, &quotbody_pose&quot, &quotbetas&quot]
        self.part_idx = [args.cam_dim, args.rot_dim, (args.smpl_joint_num-1)*args.rot_dim, 10]
        self.params_num = np.array(self.part_idx).sum()
</code></pre>