<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                output = torch.sum(r_out * (1 - mask2), dim=0) / (lengths2 + 1)
        elif masked_agg ==False:
            Without masked aggregation across rows
            output = <a id="change">r_out[-1, :, :].squeeze(0</a><a id="change">)</a> &#47&#47 take the last step&quots output, shape[128, 36]

        concat static
</code></pre><h3>After Change</h3><pre><code class='java'>
        elif masked_agg ==False:
            Without masked aggregation across rows
            &#47&#47 output = r_out[-1, :, :].squeeze(0) &#47&#47 take the last step&quots output, shape[128, 36]
            output = <a id="change">torch.sum(</a>r_out<a id="change">, dim=0)</a> / (lengths.unsqueeze(1) + 1)

        concat static
</code></pre>