<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		self.head = SVDHead(args=args)

	def forward(self, src, tgt, T_gt=None, prefix="train"):
		feat1 = <a id="change">src[..., :3]</a>.transpose(1, 2)
		feat2 = tgt[..., :3].transpose(1, 2)
		src = src[..., :3]
		tgt = tgt[..., :3]</code></pre><h3>After Change</h3><pre><code class='java'>

        else:
            rotation_ba = rotation_ab.transpose(2, 1).contiguous()
            translation_ba = -torch.matmul(rotation_ba, <a id="change">translation_ab.unsqueeze(2</a><a id="change">)</a>).squeeze(2)
        
        T_12 = rt_to_transformation(rotation_ab, translation_ab.unsqueeze(2))
</code></pre>