<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        &#47&#47 compute output
        att = (att_score @ v).view(batch_size, seg_len, -1)
        return self.layer_norm(<a id="change">self.mlp(</a>att<a id="change">)</a> + x)
              
    def circulant_shift(self, x, shift):
        </code></pre><h3>After Change</h3><pre><code class='java'>
        
        &#47&#47 compute output
        att = (att_score @ v).view(batch_size, seg_len, -1)
        out<a id="change"> = </a>self.dropout(<a id="change">self.mlp(</a>att<a id="change">)</a>)
        return self.layer_norm(out<a id="change"> + </a>x)
              
    def circulant_shift(self, x, shift):
        </code></pre>