<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        assert activation in act_class_mapping, (f&quotUnknown activation function "{activation}". &quot
                                                 f&quotChoose from {", ".join(act_class_mapping.keys())}.&quot)

        <a id="change">if aggr not in [&quotadd&quot, &quotmean&quot, &quotmax&quot]</a><a id="change">:
            raise </a><a id="change">ValueError("aggr must be one of: &quotadd&quot, &quotmean&quot, or &quotmax&quot"</a><a id="change">)</a>

        self.hidden_channels = hidden_channels
        self.num_filters = num_filters
        self.num_layers = num_layers</code></pre><h3>After Change</h3><pre><code class='java'>
                                               f&quotChoose from {", ".join(rbf_class_mapping.keys())}.&quot)
        assert activation in act_class_mapping, (f&quotUnknown activation function "{activation}". &quot
                                                 f&quotChoose from {", ".join(act_class_mapping.keys())}.&quot)
        <a id="change">assert </a>aggr in [&quotadd&quot, &quotmean&quot, &quotmax&quot], &quotArgument aggr must be one of: "add", "mean", or "max"&quot

        self.hidden_channels = hidden_channels
        self.num_filters = num_filters</code></pre>