<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, coors):
        norm = coors.norm(dim = -1, keepdim = True)
        normed_coors = coors / norm.clamp(min = self.eps)
        phase = <a id="change">self.fn(</a>norm<a id="change">)</a>
        <a id="change">return </a>(phase * normed_coors)

class PreNorm(nn.Module):
    def __init__(self, dim, fn):</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, coors):
        norm = coors.norm(dim = -1, keepdim = True)
        normed_coors = coors / norm.clamp(min = self.eps)
        <a id="change">return </a>normed_coors * self.scale + self.bias

class PreNorm(nn.Module):
    def __init__(self, dim, fn):</code></pre>