<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            (creators_1d, destroyers_1d), 1
        )

        source_total_persistence = persistence_0d.pow(2).sum() + <a id="change">persistence_1d.pow(2).sum()</a>
        target_total_persistence = _total_persistence(pd_target[0]) + _total_persistence(pd_target[1])

        loss<a id="change"> = </a>torch.abs(source_total_persistence - target_total_persistence)
        return loss
</code></pre><h3>After Change</h3><pre><code class='java'>
        )

        loss = self.loss(
            <a id="change">[</a>persistence_diagram_0d, persistence_diagram_1d<a id="change"></a>]
        )

        return loss</code></pre>