<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class FixedPositionalEmbedding(nn.Module):
    def __init__(self, dim):
        super().__init__()
        inv_freq = 1 / (10000 ** (<a id="change">torch.arange(0</a>, dim, <a id="change">2</a><a id="change">)</a> / dim))
        self.register_buffer(&quotinv_freq&quot, inv_freq)

    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
class FixedPositionalEmbedding(nn.Module):
    def __init__(self, dim):
        super().__init__()
        inv_freq = 1. / (10000 ** (<a id="change">torch.arange(0</a>, dim, <a id="change">2</a><a id="change">)</a>.float() / dim))
        self.register_buffer(&quotinv_freq&quot, inv_freq)

    def forward(self, x):</code></pre>