<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 Collect valid
        &#47&#47 valid_0 = (pers1 != 0).all(-1)

        <a id="change">return </a>x + self.bn(x0)<a id="change">, x_dim1</a>


class FakeSetTopoLayer(nn.Module):
    def __init__(self, n_features, n_filtrations, mlp_hidden_dim, aggregation_fn):</code></pre><h3>After Change</h3><pre><code class='java'>
        if self.residual_and_bn:
            x0 = x + self.bn(x0)
        else:
            x0<a id="change"> = </a><a id="change">self.out(</a>torch.cat([x, x0], dim=-1)<a id="change">)</a>

        <a id="change">return </a>x0, x1
</code></pre>