<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, input):
        fc=torch.nn.Linear(self.noise_size, self.num_generator_features*self.num_units*4*4)
        output<a id="change">=</a><a id="change">fc(</a>input<a id="change">)</a>
        output=<a id="change">output.view(-1</a>, self.num_generator_features*self.num_units, 4, 4<a id="change">)</a>
        ouptut=self.network(output)
        <a id="change">return </a>output


class DCGAN_Discriminator(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        return layers

    def forward(self, input):
        <a id="change">return </a>self.network(output)


class DCGAN_Discriminator(nn.Module):</code></pre>