<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        pad_l = pad_t = pad_r = pad_b = 0
        Ho, Wo = H, W
        if N &lt;= num_tokens:
            <a id="change">if </a>self.kernel_size &gt; W<a id="change">:
                </a>pad_r<a id="change"> = </a>self.kernel_size - W
            if self.kernel_size &gt; H:
                pad_b = self.kernel_size - H
            x = pad(x, (0, 0, pad_l, pad_r, pad_t, pad_b))</code></pre><h3>After Change</h3><pre><code class='java'>
        B, Hp, Wp, C = x.shape
        H, W = Hp, Wp
        pad_l = pad_t = pad_r = pad_b = 0
        if <a id="change">H &lt; self.kernel_size or W &lt; self.kernel_size</a>:
            pad_l = pad_t = 0
            pad_r = max(0, self.window_size - W)
            pad_b = max(0, self.window_size - H)</code></pre>