<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        ])

        linearInSize = hidden_size
        <a id="change">if bidirectional</a><a id="change">:
            </a>linearInSize<a id="change"> = </a>linearInSize * 2

        self.out = nn.Sequential(
            nn.Linear(linearInSize, int(linearInSize / 3)),</code></pre><h3>After Change</h3><pre><code class='java'>
        ])

        self.modality_weights = nn.Linear(len(modalities), 1, bias=False)
        self.modality_weights.weight = nn.Parameter(F.softmax(<a id="change">torch.ones(</a>len(modalities)<a id="change">)</a>, dim=0))

        &#47&#47 linearInSize = hidden_size
        &#47&#47 if bidirectional:</code></pre>