<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        if blur_filter_size == 3:
            pad_size = [1] * 4
            blur_matrix<a id="change"> = </a><a id="change">torch.Tensor(</a>[<a id="change">[</a>1., 2., 1<a id="change"></a>]]<a id="change">)</a> / 4  &#47&#47 binomial filter b2
        else:
            pad_size = [2] * 4
            blur_matrix = torch.Tensor([[1., 4., 6., 4., 1.]]) / 16  &#47&#47 binomial filter b4</code></pre><h3>After Change</h3><pre><code class='java'>
        self.blur_filter_size = blur_filter_size
        self.stride = stride

        pad_size = <a id="change">[</a>get_padding(blur_filter_size, stride, dilation=1)<a id="change"></a>] * 4
        self.padding = nn.ReflectionPad2d(pad_size)

        blur_matrix = (np.poly1d((0.5, 0.5)) ** (blur_filter_size - 1)).coeffs</code></pre>