<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    

    def forward(self, chosen_reward: torch.Tensor, reject_reward: torch.Tensor) -&gt; torch.Tensor:
        probs<a id="change"> = </a>torch.sigmoid(chosen_reward - reject_reward)
        log_probs = torch.log(probs)
        loss<a id="change"> = </a>-<a id="change">log_probs.mean()</a>
        return loss
</code></pre><h3>After Change</h3><pre><code class='java'>
    Details: https://arxiv.org/abs/2204.05862
    
    def forward(self, chosen_reward: torch.Tensor, reject_reward: torch.Tensor) -&gt; torch.Tensor:
        loss = <a id="change">torch.log(1 + torch.exp(reject_reward - chosen_reward)).mean()</a>
        return loss
</code></pre>