<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        info[&quot_type&quot] = &quotframerelation&quot
        info[&quotrelatedFrame&quot] = []
        for sub in elt:
            <a id="change">if </a><a id="change">sub.tag.endswith(</a>&quotrelatedFrame&quot<a id="change">):
                </a>info[&quotrelatedFrame&quot].append(sub.text)

        return info
</code></pre><h3>After Change</h3><pre><code class='java'>
        info[&quotfeRelations&quot] = PrettyList()

        for sub in elt:
            if <a id="change">sub.tag.endswith(</a>&quotFERelation&quot<a id="change">)</a>:
                ferel = self._handle_elt(sub)
                ferel[&quot_type&quot] = &quotferelation&quot
                ferel[&quotframeRelation&quot] = info   &#47&#47 backpointer</code></pre>