<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
          (hy, cy) where hy and cy have shape (batch, hidden_size)
        
        hx, cx = hidden
        gates = self.linear_ih(input)<a id="change"> + </a>self.linear_hh(hx)
        ingate<a id="change">, forgetgate, cellgate, outgate = </a><a id="change">gates.chunk(</a>4, <a id="change">1</a><a id="change">)</a>

        ingate = torch.sigmoid(ingate)
        forgetgate = torch.sigmoid(forgetgate)
        cellgate = torch.tanh(cellgate)</code></pre><h3>After Change</h3><pre><code class='java'>
        Returns:
          (h&quot, c&quot) where h&quot and c&quot have shape (batch, hidden_size)
        
        <a id="change">if </a>hidden is None<a id="change">:
            </a>hidden = (torch.zeros(input.size(0), self.hidden_size, dtype=input.dtype, 
                                  device=input.device),
                      torch.zeros(input.size(0), self.hidden_size, dtype=input.dtype, 
                                  device=input.device))</code></pre>