<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        sim = einsum(&quotb i d, b j d -&gt; b i j&quot, q, k)

        <a id="change">if </a>self.causal<a id="change">:
            </a>sim<a id="change"> = </a>sim / <a id="change">rearrange(</a>torch.arange(seq_len, device = device) + 1, &quot... -&gt; ... 1&quot<a id="change">)</a>
        else:
            sim = sim / seq_len

        if exists(rel_pos_bias):</code></pre><h3>After Change</h3><pre><code class='java'>
        attn = F.relu(sim) ** 2
        attn = self.dropout(attn)

        <a id="change">if </a><a id="change">exists(</a>mask<a id="change">):
            </a>mask = <a id="change">rearrange(</a>mask, <a id="change">&quotb j -&gt; b 1 j&quot</a><a id="change">)</a>
            attn<a id="change"> = </a>attn.masked_fill(~mask, 0.)

        if self.causal:
            causal_mask = torch.ones((seq_len, seq_len), dtype = torch.bool, device = device).triu(1)</code></pre>