<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.mean = torch.tensor(mean).view(-1, 1, 1)
        else:
            self.mean = None
        <a id="change">if std</a><a id="change">:
            </a>self.std<a id="change"> = </a>torch.tensor(std).view(-1, 1, 1)
        else:
            self.std<a id="change"> = </a>None

    def forward(self, predicted_patches, target, mask):
        &#47&#47 un-normalize input</code></pre><h3>After Change</h3><pre><code class='java'>
        self.output_channel_bits = output_channel_bits
        self.max_pixel_val = max_pixel_val

        self.mean = torch.tensor(mean).view(-1, 1, 1)<a id="change"> if </a>mean<a id="change"> else </a>None
        self.std = torch.tensor(std).view(-1, 1, 1) if std else None

    def forward(self, predicted_patches, target, mask):</code></pre>