<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 h: [batches (steps) nodes features]
        if h.dim() == 4:
            &#47&#47 take last step representation
            h = <a id="change">h[:, -1]</a>
        return self.readout(h)
</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47 take last step representation
            h = rearrange(h[:, -self.receptive_field:], &quotb s n c -&gt; b n (s c)&quot)
        else:
            <a id="change">assert </a>self.receptive_field == 1
        return self.readout(h)
</code></pre>