<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.conv, output_size = cnn((history_length, 16, 32))

        self.fc = <a id="change">nn.Linear(</a>output_size, <a id="change">128</a><a id="change">)</a>
        self.noisy_layer_1 = NoisyLinear(128, 128)
        self.noisy_layer_2 = NoisyLinear(128, action_dim)

    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.conv, output_size = cnn((history_length, 16, 32))

        self.model = noisy_mlp(
            <a id="change">[</a>output_size<a id="change"></a>]<a id="change"> + </a><a id="change">list(</a>fc_layers<a id="change">)</a>,
            list(noisy_layers) + [action_dim])

    def forward(self, x):</code></pre>