<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        target: shape of (N, seq_len)
        mask: shape of (N, seq_len)
        
        item_sum = logits.shape[0]*<a id="change">logits.shape[1]</a>  &#47&#47 N * seq_len
        target, mask = target[:, 1:], mask[:, 1:]
        &#47&#47 loss [N*seq_len]
        loss = self.loss_fn(logits.contiguous().view(item_sum, -1),</code></pre><h3>After Change</h3><pre><code class='java'>
        assert 0 &lt;= self.smoothing &lt; 1

        if self.weight is not None:
            self.weight<a id="change"> = </a><a id="change">self.weight.to(</a>preds.device<a id="change">)</a>

        n = preds.size(-1)
        log_preds = F.log_softmax(preds, dim=-1)
        loss = self.reduce_loss(-log_preds.sum(dim=-1))</code></pre>