<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        shared_network_layers.append(nn.Flatten())
        for ind, layer_spec in enumerate(dense_arch[:-1]):
            in_dim, out_dim = layer_spec.get(&quotin_dim&quot), <a id="change">layer_spec.get(&quotout_dim&quot</a><a id="change">)</a>
            shared_network_layers.append(nn.Linear(in_dim, out_dim))
            shared_network_layers.append(nn.ReLU())

        self.shared_network = nn.Sequential(*shared_network_layers)</code></pre><h3>After Change</h3><pre><code class='java'>
            {&quotin_dim&quot: 64*7*7},
        ]
        dense_arch[0][&quotin_dim&quot] = dense_in_dim
        <a id="change">dense_arch[-1][&quotout_dim&quot]</a> = representation_dim

        &#47&#47 apply the dense layers
        for ind, layer_spec in enumerate(dense_arch[:-1]):</code></pre>