<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            ]

        &#47&#47 only check the first element, assuming user knows t,c,n,s,k are required
        if len(inverted_residual_setting) == 0 or len(<a id="change">inverted_residual_setting[0]</a>) != 5:
            raise ValueError(
                f"inverted_residual_setting should be non-empty or a 4-element list, got {inverted_residual_setting}"
            )</code></pre><h3>After Change</h3><pre><code class='java'>
            ]

        &#47&#47 check inverted_residual_setting for validity - t,c,n,s,k are required
        if len(inverted_residual_setting) == 0 or any(<a id="change">len</a>(ir) != 5 <a id="change">for</a> ir in inverted_residual_setting):
            raise ValueError(
                f"inverted_residual_setting should be non-empty or a 5-element list, got {inverted_residual_setting}"
            )</code></pre>