<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.average:
            distance = distance.mean(0)
        else:
            distance = <a id="change">distance.sum(0</a><a id="change">)</a>

        <a id="change">return </a>distance</code></pre><h3>After Change</h3><pre><code class='java'>
        stfts_y = self.multiscale_stft(y)
        distance = 0.

        <a id="change">for </a>x, y in zip(stfts_x, stfts_y)<a id="change">:
            </a>distance<a id="change"> = </a>distance<a id="change"> + lin_distance(x, y) + </a>log_distance(x, y)


@gin.register</code></pre>