<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :param channels: The last dimension of the tensor you want to apply pos emb to.
        
        super(PositionalEncoding3D, self).__init__()
        channels = int(<a id="change">np.ceil(</a>channels/3<a id="change">)</a>)
        if channels % 2:
            channels += 1
        self.channels = channels</code></pre><h3>After Change</h3><pre><code class='java'>
        :param channels: The last dimension of the tensor you want to apply pos emb to.
        
        super(PositionalEncoding3D, self).__init__()
        channels = int(<a id="change">np.ceil(</a>channels/6<a id="change">)*</a>2)
        if channels % 2:
            channels += 1
        self.channels = channels</code></pre>