<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        f2 = self.res(f2, (H // 2, W // 2))
        f2, _  = self.attention1_1(torch.cat([x1, f2], dim=1), d2.detach()) &#47&#472
        f2, _  = self.attention1_2(torch.cat([x1, f2], dim=1), p2.detach()) &#47&#472
        f1<a id="change">, p1 = </a>self.attention1_3(<a id="change">torch.cat([</a>x1, f2<a id="change"></a>]<a id="change">, dim=1)</a>, p2.detach()) &#47&#472
        d1 = self.pyr.rec(d2.detach(), p1) &#47&#472
        
        f1 = self.res(f1, (H, W))</code></pre><h3>After Change</h3><pre><code class='java'>
        else:
            loss = 0

        <a id="change">if self.resize is True</a><a id="change">:
            </a>d0<a id="change"> = </a>self.res(d0, (h, w))

        if type(sample) == dict:
            return {&quotpred&quot: d0, </code></pre>