<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        u = x.mean(-1, keepdim=True)
        s = (x - u).pow(2).mean(-1, keepdim=True)
        x = (x - u) / torch.sqrt(s + self.variance_epsilon)
        <a id="change">return </a>self.gamma * x + self.beta


</code></pre><h3>After Change</h3><pre><code class='java'>
            weight = self.weight + self.weight_dense(cond)
            bias = self.bias + self.bias_dense(cond)
            u = inputs.mean(-1, keepdim=True)
            s<a id="change"> = </a>(inputs<a id="change"> - </a>u).pow(2).mean(-1, keepdim=True)
            x<a id="change"> = </a>(inputs - u) / <a id="change">torch.sqrt(</a>s<a id="change"> + </a>self.variance_epsilon<a id="change">)</a>
           
            <a id="change">return </a>weight * x + bias


</code></pre>