<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                Upsample(dim_in) if not is_last else nn.Identity()
            ]))

        out_dim = <a id="change">default(</a>out_dim, channels<a id="change">)</a>
        self.final_conv = nn.Sequential(
            block_klass(dim, dim),
            nn.Conv2d(dim, out_dim, 1)
        )</code></pre><h3>After Change</h3><pre><code class='java'>
            ]))

        default_out_dim = channels * (1 if not learned_variance else 2)
        self.out_dim<a id="change"> = </a><a id="change">default(</a>out_dim, default_out_dim<a id="change">)</a>

        self.final_conv = nn.Sequential(
            block_klass(dim, dim),
            nn.Conv2d(dim, self.out_dim, 1)</code></pre>