<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return -self

    def __and__(self, other):
        <a id="change">assert </a>isinstance(other, Expression), "%s is not an Expression" % other
        return AndExpression(self, other)

    def __or__(self, other):</code></pre><h3>After Change</h3><pre><code class='java'>
        return -self

    def __and__(self, other):
        <a id="change">if not isinstance(other, Expression)</a><a id="change">:
            raise </a><a id="change">TypeError(</a><a id="change">"%s is not an Expression"</a><a id="change"> % </a>other<a id="change">)</a>
        return AndExpression(self, other)

    def __or__(self, other):
        if not isinstance(other, Expression):</code></pre>