<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            dump_distograms_path = Path(dump_distograms_path)
            for i, output in enumerate(outputs):
                pt, pp, pd, po = output  &#47&#47 pylint: disable=unused-variable
                distogram_distribution<a id="change"> = </a><a id="change">pd.cpu().detach()</a>.numpy()
                distogram = distogram_distribution_to_distogram(distogram_distribution)
                plot_distogram(
                    distogram, dump_distograms_path / f"dist_model_{i:02}.jpg"</code></pre><h3>After Change</h3><pre><code class='java'>
        if dump_distograms_path:
            dump_distograms_path = Path(dump_distograms_path)
            for i, output in enumerate(outputs):
                distogram_distribution = <a id="change">output[&quotdist&quot]</a>.cpu().detach().numpy()
                distogram = distogram_distribution_to_distogram(distogram_distribution)
                plot_distogram(
                    distogram, dump_distograms_path / f"dist_model_{i:02}.jpg"</code></pre>