<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self._buildframeindex()

        outlist = []
        for fid in <a id="change">self._frame_idx.keys()</a>:
            f = self.frame(fid)
            if any([re.search(pat,lu.name) for lu in f.lexUnit]):
                outlist.append((f.name,f.ID))</code></pre><h3>After Change</h3><pre><code class='java'>
            self._buildframeindex()

        outlist = []
        for fid in <a id="change">list(</a><a id="change">self._frame_idx.keys())</a>:
            f = self.frame(fid)
            if any([re.search(pat,lu.name) for lu in f.lexUnit]):
                outlist.append((f.name,f.ID))</code></pre>