<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        h2 = F.relu(self.fc2(h1))
        h3 = F.relu(self.fc3(h2))
        h4 = torch.sigmoid(self.fc4(h3))
        <a id="change">return </a>h4


def normal_init(m, mean, std):</code></pre><h3>After Change</h3><pre><code class='java'>

	def forward(self, x):
		x = self.fc1(x)
		x<a id="change"> = </a>F.relu(x)
		x<a id="change"> = </a>self.dropout1(x)
		x = self.fc2(x)
		x = F.relu(x)
		x<a id="change"> = </a>self.dropout1(x)
		x<a id="change"> = </a>self.fc3(x)
		x<a id="change"> = </a>F.relu(x)
		x<a id="change"> = </a>self.dropout1(x)
		x = self.fc4(x)
		x<a id="change"> = </a>F.relu(x)
		x<a id="change"> = </a>self.dropout1(x)
		x<a id="change"> = </a>self.fc5(x)
		x<a id="change"> = </a>torch.sigmoid(x)
		<a id="change">return </a>x


def normal_init(m, mean, std):</code></pre>