<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            GEGLU()
        )

        self.proj_out = <a id="change">nn.Conv3d(</a>inner_dim, dim, <a id="change">1</a><a id="change">, bias = False)</a>

    def forward(self, x, enable_time = True):
        x = self.proj_in(x)
</code></pre><h3>After Change</h3><pre><code class='java'>

        self.proj_out = nn.Sequential(
            LayerNorm(inner_dim),
            <a id="change">nn.Conv3d(</a>inner_dim, dim, <a id="change">1</a><a id="change">, bias = False)</a>
        )

    def forward(self, x, enable_time = True):
        x = self.proj_in(x)</code></pre>