<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        q = torch.nn.functional.normalize(q, dim=-1)
        k = torch.nn.functional.normalize(k, dim=-1)

        attn = (q<a id="change"> @ </a>k.transpose(-2, -1)) * self.temperature
        attn<a id="change"> = </a>attn.softmax(dim=-1)

        out<a id="change"> = </a>(attn @ v)

        out<a id="change"> = </a><a id="change">rearrange(</a>out, <a id="change">&quotb head c (h w) -&gt; b (head c) h w&quot</a><a id="change">, head=self.num_heads, h=h, w=w)</a>

        out = self.project_out(out)
        return out
</code></pre><h3>After Change</h3><pre><code class='java'>
        q = q.view(b, c, -1).view(b, self.num_heads, -1, h * w)
        k = k.view(b, c, -1).view(b, self.num_heads, -1, h * w)
        v = v.view(b, c, -1).view(b, self.num_heads, -1, h * w)
        q, k = F.normalize(q, dim=-1)<a id="change">, F.normalize(k, dim=-1)</a>

        attn = torch.softmax(torch.matmul(q, k.transpose(-2, -1)) * self.temperature, dim=-1)
        out = self.project_out(torch.matmul(attn, v).view(b, -1, h * w).view(b, -1, h, w))
        return out</code></pre>