<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 Add the NULL token
        src_vocab.add(None)

        initial_prob = 1<a id="change"> / </a><a id="change">len(</a>trg_vocab<a id="change">)</a>

        &#47&#47 Create the translation model with initial probability
        translation_table = defaultdict(
            lambda: defaultdict(lambda: initial_prob))</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47 M step: Update probabilities with maximum likelihood estimate
            for s in self.src_vocab:
                for t in self.trg_vocab:
                    <a id="change">self.translation_table[t]</a>[s] = (count_t_given_s[t][s] /
                                                    count_any_t_given_s[s])

    def align(self, sentence_pair):</code></pre>