<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Removes the node with the given address.  References
        to this node in others will still exist.
        
        node_index = <a id="change">len(</a>self.nodelist<a id="change">) - </a>1
        while node_index:
            node = self.nodelist[node_index]
            if node[&quotaddress&quot] == address:</code></pre><h3>After Change</h3><pre><code class='java'>
        Removes the node with the given address.  References
        to this node in others will still exist.
        
        del <a id="change">self.nodes[address]</a>

    def redirect_arcs(self, originals, redirect):
        
        Redirects arcs to any of the nodes in the originals list</code></pre>