<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        mask: shape of (N, seq_len)
        
        item_sum = logits.shape[0]*logits.shape[1]  &#47&#47 N * seq_len
        target, mask = <a id="change">target[:, 1:]</a>, mask[:, 1:]
        &#47&#47 loss [N*seq_len]
        loss = self.loss_fn(logits.contiguous().view(item_sum, -1),
                            target.contiguous().view(-1))</code></pre><h3>After Change</h3><pre><code class='java'>
        return self.smoothing * x + (1 - self.smoothing) * y

    def forward(self, preds, target):
        <a id="change">assert </a>0 &lt;= self.smoothing &lt; 1

        if self.weight is not None:
            self.weight = self.weight.to(preds.device)</code></pre>