<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.seq_len = seq_len
        self.prob_survival = prob_survival

        self.to_embed = nn.Embedding(num_tokens, dim)<a id="change"> if </a>exists(num_tokens)<a id="change"> else </a>nn.Identity()

        self.layers = nn.ModuleList([Residual(PreNorm(dim, gMLPBlock(dim = dim, dim_ff = dim_ff, seq_len = seq_len, heads = heads, window = window))) for i in range(depth)])
</code></pre><h3>After Change</h3><pre><code class='java'>

        self.to_embed = nn.Embedding(num_tokens, dim)

        window<a id="change"> = </a><a id="change">cast_tuple(</a>window, depth<a id="change">)</a>
        layers = nn.ModuleList([])

        for ind, w in zip(range(depth), window):
            layer_blocks = nn.ModuleList([</code></pre>