<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                prev_chs = embed_dim
            elif pool == &quotavg&quot:
                assert proj, &quotprojection layer needed if avg pooling used&quot
                head_layers[&quotpool&quot] = <a id="change">nn.AdaptiveAvgPool2d(1</a><a id="change">)</a>
        else:
            &#47&#47 NOTE timm transformers will be changed in the future to return unpooled
            &#47&#47 outputs when head is disabled, this is not he case right now and code be needed
            &#47&#47 here for token extraction or pooling</code></pre><h3>After Change</h3><pre><code class='java'>
        self.trunk = timm.create_model(model_name, pretrained=pretrained)
        feat_size = self.trunk.default_cfg.get(&quotpool_size&quot, None)
        feature_ndim = 1 if not feat_size else 2
        if pool in (&quotabs_attn&quot<a id="change">, &quotrot_attn&quot</a>):
            assert feature_ndim == 2
            &#47&#47 if attn pooling used, remove both classifier and default pool
            self.trunk.reset_classifier(0, global_pool=&quot&quot)</code></pre>