<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        sigma = torch.ones_like(mu)

        dist = Normal(mu, sigma)
        pi<a id="change"> = </a><a id="change">dist.sample().detach()</a>.item()
        return mu, sigma, dist, pi

</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47sigma = torch.ones_like(mu)
        log_sigma = torch.zeros_like(mu)
        sigma = torch.exp(log_sigma)
        <a id="change">return </a>mu<a id="change">, sigma</a>

    def act(self, input):
        mu, sigma = self.forward(input)
        dist = Normal(mu, sigma)</code></pre>