<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.lsnr_net = LSNRNet(p.conv_ch * 2, lsnr_min=p.lsnr_min, lsnr_max=p.lsnr_max)
        &#47&#47 SNR offsets on which each refinement layer is activated
        self.refinement_snr_min = -10
        self.refinement_snr_max = (100<a id="change">, 10, 5, 0, -5, -5, -5, -5</a>)
        &#47&#47 Add a bunch of &quot-5&quot SNRs to support currently a maximum of 8 refinement layers.
        assert len(self.stages) &lt;= 8
</code></pre><h3>After Change</h3><pre><code class='java'>
            depth=p.refinement_depth,
            fstrides=strides,
        )
        self.refinement_op = ComplexMul()<a id="change"> if </a>p.refinement_op == "mul"<a id="change"> else </a>ComplexAdd()
        self.lsnr_net = LSNRNet(self.erb_stage.max_width, lsnr_min=p.lsnr_min, lsnr_max=p.lsnr_max)

    def forward(</code></pre>