<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.apply_act = apply_act  &#47&#47 apply activation (non-linearity)
        self.groups = groups
        self.eps = eps
        param_shape = (<a id="change">1</a><a id="change">, num_features, 1, 1</a>)
        self.weight = nn.Parameter(torch.ones(param_shape), requires_grad=True)
        self.bias = nn.Parameter(torch.zeros(param_shape), requires_grad=True)
        if apply_act:</code></pre><h3>After Change</h3><pre><code class='java'>
        self.eps = eps
        self.weight = nn.Parameter(torch.ones(num_features), requires_grad=True)
        self.bias = nn.Parameter(torch.zeros(num_features), requires_grad=True)
        self.v = nn.Parameter(torch.ones(num_features), requires_grad=True)<a id="change"> if </a>apply_act<a id="change"> else </a>None
        self.reset_parameters()

    def reset_parameters(self):</code></pre>