<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        quantize = self.project_out(quantize)

        <a id="change">if need_transpose</a><a id="change">:
            </a>quantize<a id="change"> = rearrange(</a>quantize, <a id="change">&quotb d n -&gt; b n d&quot</a><a id="change">)</a>

        return quantize, embed_ind, loss
</code></pre><h3>After Change</h3><pre><code class='java'>
        quantize = self.project_out(quantize)

        if need_transpose:
            quantize<a id="change"> = </a>rearrange(quantize, &quotb n d -&gt; b d n&quot)

        if self.accept_image_fmap:
            quantize<a id="change"> = </a><a id="change">rearrange(</a>quantize, <a id="change">&quotb (h w) c -&gt; b c h w&quot</a><a id="change">, h = height, w = width)</a>
            embed_ind = rearrange(embed_ind, &quotb (h w) -&gt; b h w&quot, h = height, w = width)

        return quantize, embed_ind, loss
</code></pre>