<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                assert params is None, &quotNo argument for ReLU please&quot
                self.operators.append(nn.ReLU())
            elif layer == &quotgelu&quot:
                <a id="change">assert </a>params is None, &quotNo argument for GeLU&quot
                self.operators.append(nn.GELU())
            elif layer == &quotdropout&quot:
                self.operators.append(nn.Dropout(params))</code></pre><h3>After Change</h3><pre><code class='java'>
            elif layer == &quotrelu&quot:
                assert params is None, &quotNo argument for ReLU please&quot
                self.operators.append(nn.ReLU())
            elif <a id="change">layer == &quotselu&quot</a><a id="change">:
                </a><a id="change">assert </a>params is None, &quotNo argument for SeLU please&quot
                self.operators.append(nn.SELU())
            elif layer == &quottanh&quot:
                assert params is None, &quotNo argument for Tanh please&quot</code></pre>