<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            hidden_features = [hidden_features]
        self.layers = nn.ModuleList()

        <a id="change">if </a>layer_norm<a id="change">:
            </a><a id="change">self.layers.append(</a>nn.LayerNorm(in_features)<a id="change">)</a>

        self.layers.append(GINConv(in_features=in_features,
                                   out_features=hidden_features[0],
                                   batch_norm=batch_norm,</code></pre><h3>After Change</h3><pre><code class='java'>
                                       activation=activation,
                                       dropout=dropout))
        self.mlp_layers = nn.ModuleList()
        for i in <a id="change">range(</a>n_mlp_layers<a id="change">)</a>:
            if i == n_mlp_layers - 1:
                self.mlp_layers.append(nn.Linear(hidden_features[-1], out_features))
            else:</code></pre>