<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        inner_dim = int(dim * ff_mult)
        if ffn_type == "GEGLU":
            self.net<a id="change"> = nn</a><a id="change">.Sequential(
                </a>GEGLU(dim, inner_dim),
                nn.Dropout(dropout),
                nn.Linear(inner_dim, dim)<a id="change">
            )</a>
        elif ffn_type == "standard":
            self.net = <a id="change">nn.Sequential(
                nn</a><a id="change">.Linear(</a>dim, inner_dim<a id="change">)</a>,
                nn.GELU(),
                nn.Dropout(dropout),
                <a id="change">nn.Linear(</a>inner_dim, dim<a id="change">)</a><a id="change">
            )</a>
        elif ffn_type == "bilinear":
            self.net = nn.Sequential(
                Bilinear(dim, inner_dim),
                nn.Dropout(dropout),</code></pre><h3>After Change</h3><pre><code class='java'>

        all_rows = []
        for h_ in range(int(heads / 2)):
            all_rows.append(lower_tri_rows * <a id="change">slopes[h_]</a>)
            all_rows.append(upper_tri_rows * slopes[h_])

        &#47&#47 The resultant bias applies the Alibi position bias looking forward to half of the heads, and backwards to the</code></pre>