<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            score = F.upsample(
                    input=score, size=(h, w), mode=&quotbilinear&quot)

        loss = <a id="change">self.criterion(</a>score, target<a id="change">)</a>

        <a id="change">return </a>loss

class OhemCrossEntropy(nn.Module): 
    def __init__(self, ignore_label=-1, thres=0.7, </code></pre><h3>After Change</h3><pre><code class='java'>
        weights = config.LOSS.BALANCE_WEIGHTS
        assert len(weights) == len(score)

        <a id="change">return </a>sum([w * self._forward(x, target) for (w, x) in zip(weights, score)])


class OhemCrossEntropy(nn.Module):</code></pre>