<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            pers1_mask = ~((pers1_reshaped==0).all(-1))
            nodes_idx_dim1 = edge_index[:,pers1_mask]
            x0_dim1 = torch.cat(
                <a id="change">[ </a>x[nodes_idx_dim1[0,:],:], x[nodes_idx_dim1[1,:],:], pers1_reshaped[pers1_mask]<a id="change"></a>  ], 1)
            x_dim1 = self.dim1_fn(x0_dim1, edge_slices, mask = pers1_mask)
        else:
            x_dim1 = None</code></pre><h3>After Change</h3><pre><code class='java'>
                if isinstance(layer, DeepSetLayerDim1):
                    x1 = layer(x1, edge_slices, mask=pers1_mask)
                else:
                    x1<a id="change"> = </a><a id="change">layer(</a>x1<a id="change">)</a>
        else:
            x1 = None

        &#47&#47 Collect valid</code></pre>