<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x: List[torch.Tensor]) -&gt; List[torch.Tensor]:
        &#47&#47 top-down
        inters = [x[-1]]                                                        &#47&#47 P7in
        <a id="change">for </a>i, <a id="change">conv</a> in <a id="change">enumerate(</a>self.inter_convs<a id="change">)</a><a id="change">:
            </a>out = F.interpolate(inters[-1], scale_factor=2., mode="nearest")    &#47&#47 resize(P7td)
            out<a id="change"> = </a>self.fuse([x[-2-i], out])                                     &#47&#47 P6in + resize(P7td)
            inters.append(conv(out))                                            &#47&#47 P6td = conv(P6in + resize(P7td))
            
        &#47&#47 bottom-up</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 bottom-up
        outs = [None] * self.num_levels
        outs[0] = tds[0]
        <a id="change">for </a>i in <a id="change">range(</a>self.num_levels - 2<a id="change">):
            </a>outs[i+1] = self.out_fuses[i]([x[i+1], tds[i<a id="change">+</a>1], self.downsample(tds[i])])  &#47&#47 P4in + P4td + resize(P3td)
        outs[-1] = self.out_fuses[-1]([x[-1], self.downsample(tds[-2])])                &#47&#47 P7in + resize(P6td)

        return outs</code></pre>