<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

		layers = []
		for i in range(self.config[&quotdiscriminator&quot][&quotn_layers&quot]):
			in_channels = <a id="change">self.config[&quotdiscriminator&quot][&quotfilters&quot]</a> * (2 ** (i - 1)) if i &gt; 0 else 3
			out_channels = 2 * in_channels if i &gt; 0 else self.config[&quotdiscriminator&quot][&quotfilters&quot]

			layers += [</code></pre><h3>After Change</h3><pre><code class='java'>

		blocks += [nn.LeakyReLU(0.2)]
		blocks += [nn.Conv2d(dim_out, dim_out, 4, 1, 0)]
		blocks += [<a id="change">nn.LeakyReLU(</a>0.2<a id="change">)</a>]
		blocks<a id="change"> += </a>[<a id="change">nn.Conv2d(</a>dim_out, config[&quotn_classes&quot], 1, 1, 0<a id="change">)</a>]
		self.main = nn.Sequential(*blocks)

	def forward(self, x, y):</code></pre>