<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = self.proj(x)
        Hp, Wp = x.shape[2], x.shape[3]

        x<a id="change"> = </a><a id="change">x.flatten(2</a><a id="change">)</a>.transpose(1, 2)
        <a id="change">return </a>x, (Hp, Wp)


class HybridEmbed(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        x = self.proj(x)
        &#47&#47 B C H W -&gt; B H W C
        x = x.permute(0, 2, 3, 1)
        <a id="change">return </a>x


class Attention(nn.Module):</code></pre>