<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        out = self.net(x)
        res = x if self.downsample is None else self.downsample(x)
        o =  self.relu(out + res)
        o<a id="change"> = </a><a id="change">o.flatten(1</a>, -1<a id="change">)</a>
        <a id="change">return </a>self.classifier(o)


class TemporalConvNet(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x):
        out = self.net(x)
        res = x if self.downsample is None else self.downsample(x)
        <a id="change">return </a>self.relu(out + res)


class TemporalConvNet(nn.Module):</code></pre>