<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if key_pos is not None:
            key = key + key_pos

        out = <a id="change">self.attn(
            query=query,
            key=key,
            value=value,
            attn_mask=attn_mask,
            key_padding_mask=key_padding_mask,
        )[0]</a>

        return identity + self.proj_drop(out)

</code></pre><h3>After Change</h3><pre><code class='java'>
                intermediate.append(self.norm(output))

        if self.norm is not None:
            output<a id="change"> = </a><a id="change">self.norm(</a>output<a id="change">)</a>
            if self.return_intermediate:
                intermediate.pop()
                intermediate.append(output)
</code></pre>