<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        prior1 = torch.distributions.Categorical(logits=torch.zeros_like(l1))
        prior2 = torch.distributions.Categorical(logits=torch.zeros_like(l2))

        reg = <a id="change">torch.distributions.kl_divergence(posterior1, prior1).mean()</a> + torch.distributions.kl_divergence(posterior2, prior2).mean()

        <a id="change">return </a>ssimLoss, contextLoss, reg


class CompressionLossQ(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
            reg = torch.distributions.kl_divergence(posterior, prior).mean()
            regs.append(reg)

        <a id="change">return </a>ssimLoss, contextLoss, <a id="change">sum(</a>regs<a id="change">)</a>


class CompressionLossQ(nn.Module):
    def __init__(self):</code></pre>