<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        if &quotraw_points&quot in self.model_cfg.FEATURES_SOURCE:
            mlps = SA_cfg[&quotraw_points&quot].MLPS
            <a id="change">for k</a> in range(len(mlps))<a id="change">:
                </a>mlps[k]<a id="change"> = </a>[num_rawpoint_features<a id="change"> - </a>3]<a id="change"> + </a>mlps[k]

            self.SA_rawpoints = pointnet2_stack_modules.StackSAModuleMSG(
                radii=SA_cfg[&quotraw_points&quot].POOL_RADIUS,</code></pre><h3>After Change</h3><pre><code class='java'>
                continue
            self.downsample_times_map[src_name] = SA_cfg[src_name].DOWNSAMPLE_FACTOR

            if <a id="change">SA_cfg[src_name].get(&quotINPUT_CHANNELS&quot</a>, None<a id="change">)</a> is None:
                input_channels = SA_cfg[src_name].MLPS[0][0] \
                    if isinstance(SA_cfg[src_name].MLPS[0], list) else SA_cfg[src_name].MLPS[0]
            else:</code></pre>