<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 split into multiple time segments, assumes in 2nd dim
        segmented_x = [list(torch.split(x, x.shape[2] // self.split_block, dim=2)) for x in X]
        for x in segmented_x:
            if <a id="change">len(</a>x<a id="change">)</a> &gt; self.split_block:
                x[-2] = torch.cat(x[-2:], dim=2)

        ret_segments = []</code></pre><h3>After Change</h3><pre><code class='java'>
        segment_shapes = [[x.shape[2] // self.split_block] * self.split_block for x in X]
        for x, seg_shape in zip(X, segment_shapes):
            seg_shape[-1] += x.shape[2] % self.split_block
        segmented_x<a id="change"> = </a>[torch.split(x, seg_shape, dim=2) for x, seg_shape in <a id="change">zip(</a>X, segment_shapes<a id="change">)</a>]

        &#47&#47 apply MSAF
        ret_segments = [self.blocks[i]([x[i] for x in segmented_x]) for i in range(self.split_block)]</code></pre>