<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self._dropout is not None:
            quantized = self._dropout(quantized)
        &#47&#47 [n, c, h, w], [n, h, w], [n, h, w, k], [k, c]
        return quantized, <a id="change">sample.argmax(-1</a><a id="change">)</a>.byte(), logit, wv


class Quantizer(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 if self._dropout is not None:
        &#47&#47     quantized = self._dropout(quantized)
        &#47&#47 [n, c, h, w], [n, h, w], [n, h, w, k], [k, c]
        return quantized, trueCode.byte(), logit, (trueCode<a id="change">, frequency</a>)


class Quantizer(nn.Module):</code></pre>