<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            teacher_force = random.random() &lt; teacher_forcing_ratio
            
            &#47&#47get the highest predicted token from our predictions
            top1 = <a id="change">output.argmax(1</a><a id="change">)</a> 
            
            &#47&#47if teacher forcing, use actual next token as next input
            &#47&#47if not, use predicted token</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47teacher_forcing_ratio is probability to use teacher forcing
        &#47&#47e.g. if teacher_forcing_ratio is 0.75 we use ground-truth inputs 75% of the time
        
        batch_size<a id="change">, x_dec_len, dec_in</a> = x_dec.shape
        &#47&#47tensor to store decoder outputs
        outputs = torch.zeros(batch_size, x_dec_len-1, dec_in).to(self.device)
        </code></pre>