<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            features = F.silu(mlp(features))

        &#47&#47 Outputlayer
        features = <a id="change">self.fnn[-1](features).squeeze(1</a><a id="change">)</a>

        return features

</code></pre><h3>After Change</h3><pre><code class='java'>
            features = scatter_mean(features, g_batch.batch, dim=0)

            &#47&#47 MLP 2
            <a id="change">for mlp</a> in self.fnn2[:-1]<a id="change">:
                </a>features<a id="change"> = </a>F.silu(mlp(features))

            &#47&#47 Outputlayer
            features = self.fnn2[-1](features)</code></pre>