<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		
		dec_h(batch,1,hidden)*FC(hidden,hidden)*FC(hidden,1) -&gt; pred_l(batch,1,1) -&gt;pred_l(batch)
		&quot&quot&quot
		pred_l = <a id="change">self.final2FC(dec_h).squeeze(1).squeeze(1</a><a id="change">)</a>
		return pred_l 
	
	def attending_mechanism(self, enc_h, dec_h):
		&quot&quot&quot</code></pre><h3>After Change</h3><pre><code class='java'>
		for i in range(city_t):
			_, (h, c) = self.Decoder(dec_input, (h, c))
			query, ref = h.squeeze(0), enc_h
			<a id="change">for i</a> in range(self.n_glimpse)<a id="change">:
				</a>query<a id="change"> = </a>self.glimpse(query, ref)
		&quot&quot&quot	
		- page 5/15 in paper
		critic model architecture detail is out there, "Critic’s architecture for TSP"</code></pre>