<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x):
        y1 = self.cv3(self.m(self.cv1(x)))
        y2 = self.cv2(x)
        <a id="change">return </a>self.cv4(self.act(self.bn(<a id="change">torch.cat(</a>(y1<a id="change">, y2</a>)<a id="change">, dim=1)</a>)))


class C3(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x):
        y1 = self.cv3(self.m(self.cv1(x)))
        y2 = self.cv2(x)
        y = <a id="change">torch.cat(</a>(y1<a id="change">, y2</a>)<a id="change">, dim=1)</a>
        y = forward_norm_layer(y, self.bn, self.norm_type)
        y<a id="change"> = </a>self.act(y)
        <a id="change">return </a>self.cv4(y)


class C3(nn.Module):</code></pre>