<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            _attn_chunk_size = chunk_size

        m, z = input_tensors
        inplace_safe = <a id="change">not (self.training or torch.is_grad_enabled())</a>

        &#47&#47 If function calls could speak...
        m = add(m, 
            self.msa_dropout_layer(</code></pre><h3>After Change</h3><pre><code class='java'>
        )

        if(not inplace_safe):
            input_tensors = <a id="change">[</a>m, z<a id="change"></a>]

        del m, z
</code></pre>