<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
			out = content_code

		for layer in self.layers:
			out = <a id="change">layer(</a>out, class_code, None<a id="change">)</a>

		out = self.to_rgb(out)
		return out
</code></pre><h3>After Change</h3><pre><code class='java'>
		out = self.input(latent)
		out = self.conv1(out, latent[:, 0])

		skip = self.to_rgb1(out, <a id="change">latent[:, 1]</a>)

		i = 1
		for conv1, conv2, to_rgb in zip(self.convs[::2], self.convs[1::2], self.to_rgbs):</code></pre>