<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x): 
        for l in self.linears[:-1]:
            x<a id="change"> = </a><a id="change">F.relu(</a>l(x)<a id="change">)</a>
            x = self.dropout(x)
        return self.linears[-1](x)

</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x): 
        for l in self.linears[:-1]:
            x = self.dropout(<a id="change">F.leaky_relu(</a>l(x)<a id="change">)</a>)
        return self.linears[-1](x)

</code></pre>