<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            ]
        &#47&#47 To preserve compatibility with Caffe weights `ceil_mode=True`
        &#47&#47 is used instead of `padding=1`.
        <a id="change">layer0_modules.append(</a>(<a id="change">&quotpool&quot</a><a id="change">, nn.MaxPool2d(3, stride=2, ceil_mode=True)</a>)<a id="change">)</a>
        self.layer0 = nn.Sequential(OrderedDict(layer0_modules))
        self.layer1 = self._make_layer(
            block,
            planes=64,</code></pre><h3>After Change</h3><pre><code class='java'>
            downsample_kernel_size=downsample_kernel_size,
            downsample_padding=downsample_padding
        )
        self.feature_info<a id="change"> += </a>[<a id="change">dict(num_chs=512 * block.expansion, reduction=32, module=&quotlayer4&quot)</a>]
        self.num_features = 512 * block.expansion
        self.global_pool = SelectAdaptivePool2d(pool_type=global_pool)
        self.last_linear = nn.Linear(self.num_features, num_classes)</code></pre>