<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        layer_list = list(model.children())

        &#47&#47 Split point
        spl_pnt<a id="change"> = </a><a id="change">{
            </a>"early": 4,
            "middle": 6,
            "linear": 8<a id="change">
        }</a>
        self.split = split
        &#47&#47 Variables for compression module
        if split == "early":
            spatial = 1</code></pre><h3>After Change</h3><pre><code class='java'>
        split = split.lower()
        assert compress_ratio &gt;= 4
        assert (compress_ratio % 4) == 0
        <a id="change">assert </a>split in ["linear", "early", "middle", "middle-2"]

        super(SplitResNet50, self).__init__()
        &#47&#47 We have to change the last FC layer to output num_class scores</code></pre>