<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.edge_mlp = nn.Sequential(
            nn.Linear(edge_input_dim, edge_input_dim * 2),
            <a id="change">nn.Dropout(</a>dropout<a id="change">)</a>,
            SiLU(),
            nn.Linear(edge_input_dim * 2, m_dim),
            SiLU()</code></pre><h3>After Change</h3><pre><code class='java'>
        self.fourier_features = fourier_features

        edge_input_dim = (fourier_features * 2) + (dim * 2) + edge_dim + 1
        dropout = nn.Dropout(dropout)<a id="change"> if dropout &gt; 0</a><a id="change"> else </a>nn.Identity()

        self.edge_mlp = nn.Sequential(
            nn.Linear(edge_input_dim, edge_input_dim * 2),</code></pre>