<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if self._tagged:
                sent = [(word, tag) for (word, tag, dep_num, dep_type) in lines]
            else:
                sent = <a id="change">[word for (word, tag, dep_num, dep_type) in lines]</a>
        &#47&#47 Return the result.
        if self._group_by_sent:
            return [sent]
        else:</code></pre><h3>After Change</h3><pre><code class='java'>
        if not self._dependencies:
            lines = [line.split(&quot\t&quot) for line in sent.split(&quot\n&quot)]
            if len(lines[0]) == 3 or len(lines[0]) == 4:
                sent = [(line[0]<a id="change">, line[1]</a>) for line in lines]
            elif len(lines[0]) == 10:
                sent = [(line[1], line[4]) for line in lines]
            else:</code></pre>