<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 Needed to write header when saving weights
        self.header_info = np.zeros(5, dtype=np.int32)  &#47&#47 First five are header values
        self.seen = <a id="change">self.header_info[3]</a>  &#47&#47 number of images seen during training

    def forward(self, x, var=None):
        img_size = max(x.shape[-2:])</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Darknet Header https://github.com/AlexeyAB/darknet/issues/2914&#47&#47issuecomment-496675346
        self.version = np.array([0, 2, 5], dtype=np.int32)  &#47&#47 (int32) version info: major, minor, revision
        self.seen = <a id="change">np.array(</a>[0]<a id="change">, dtype=np.int64)</a>  &#47&#47 (int64) number of images seen during training

    def forward(self, x, var=None):
        img_size = max(x.shape[-2:])</code></pre>