<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.cheb_polynomials = cheb_polynomials
        self.in_channels = in_channels
        self.out_channels = out_channels
        self.DEVICE = <a id="change">cheb_polynomials[0]</a>.device
        self.Theta = nn.ParameterList([nn.Parameter(torch.FloatTensor(in_channels, out_channels).to(self.DEVICE)) for _ in range(K)])

    def forward(self, x, spatial_attention):</code></pre><h3>After Change</h3><pre><code class='java'>
        W = to_scipy_sparse_matrix(edge_index)
        assert W.shape[0] == W.shape[1]
        D = np.diag(np.sum(W, axis=1))
        L = <a id="change">np.array(</a>D - W.toarray()<a id="change">)</a>
        lambda_max = eigs(L, k=1, which=&quotLR&quot)[0].real
        L_tilde = (2 * L) / lambda_max - np.identity(W.shape[0])
        cheb_polynomials = [np.identity(L_tilde.shape[0]), L_tilde.copy()]
        for i in range(2, K):</code></pre>