<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                             for cp in cpl]

            &#47&#47 For each combination of children, add a tree.
            <a id="change">for children</a> in self._choose_children(child_choices)<a id="change">:
                </a>lhs = edge.lhs().symbol()
                <a id="change">trees.append(</a>tree_class(lhs, children)<a id="change">)</a>

        &#47&#47 If the edge is incomplete, then extend it with "partial trees":
        if edge.is_incomplete():
            unexpanded = [tree_class(elt,[])</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 when we&quotre reading trees off the chart, don&quott use incomplete edges
        if complete and edge.is_incomplete():
            return <a id="change">[]</a>

        &#47&#47 Leaf edges.
        if isinstance(edge, LeafEdge):
            leaf = self._tokens[edge.start()]</code></pre>