<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                for cp in cpl]
            if len(child_choices) &gt; 0 and isinstance(child_choices[0], string_types):
                child_choices = [child_choices]
            <a id="change">for children</a> in self._choose_children(child_choices)<a id="change">:
                </a>lhs = (edge.lhs(), "%s" % edge.rule())
                <a id="change">trees.append(</a>tree_class(lhs, children)<a id="change">)</a>

        memo[edge] = trees
        return trees
</code></pre><h3>After Change</h3><pre><code class='java'>
            word = tree_class(edge.lhs(), [self._tokens[edge.start()]])
            leaf = tree_class((edge.lhs(), "Leaf"), [word])
            memo[edge] = [leaf]
            return <a id="change">[</a>leaf<a id="change"></a>]

        memo[edge] = []
        trees = []</code></pre>