<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :return: A list of all of the frame relation types in framenet
        :rtype: list(dict)
        
        frtypes = <a id="change">[x for x in XMLCorpusView(self.abspath("frRelation.xml"),
                                            &quotframeRelations/frameRelationType&quot,
                                            self._handle_elt)]</a>
        for frt in frtypes:
            frt[&quot_type&quot] = &quotframerelationtype&quot

        return frtypes</code></pre><h3>After Change</h3><pre><code class='java'>
        :return: A list of all of the frame relation types in framenet
        :rtype: list(dict)
        
        frtypes = <a id="change">PrettyList(</a><a id="change">x for x in XMLCorpusView(self.abspath("frRelation.xml"),
                                            &quotframeRelations/frameRelationType&quot,
                                            self._handle_elt))</a>
        for frt in frtypes:
            frt[&quot_type&quot] = &quotframerelationtype&quot

        return frtypes</code></pre>