<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.ops = _make_nConv2d(outChans, nConvs, elu)

    def forward(self, x):
        down = <a id="change">self.relu1(self.bn1(</a>self.down_conv(x)<a id="change">)</a><a id="change">)</a>
        out = self.do1(down)

        out = self.ops(out)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.ops = _make_nConv2d(outChans, nConvs, prob)

    def forward(self, x):
        down = <a id="change">self.relu1(</a><a id="change">self.drop(self.bn1(</a>self.down_conv(x)<a id="change">)</a><a id="change">))</a>
        out = self.ops(down)
        out = torch.add(out, down)
        return out</code></pre>