<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        linear_outputs = self.postnet(mel_outputs)
        linear_outputs = self.last_linear(linear_outputs)

        <a id="change">return </a>mel_outputs<a id="change">, linear_outputs, alignments</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 Reshape
        &#47&#47 (B, T, mel_dim)
        mel_outputs = mel_outputs.view(B, -1, self.mel_dim)
        stop_outputs<a id="change"> = </a><a id="change">stop_outputs.view(</a>B, <a id="change">-1</a><a id="change">)</a>

        linear_outputs = self.postnet(mel_outputs)
        linear_outputs = self.last_linear(linear_outputs)

        <a id="change">return </a>mel_outputs<a id="change">, linear_outputs, alignments, stop_outputs</a>
</code></pre>