<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.nc = nc  &#47&#47 number of classes
        self.no = nc + 5  &#47&#47 number of outputs per anchor
        self.nl = len(anchors)  &#47&#47 number of detection layers
        self.na<a id="change"> = </a><a id="change">len(</a>anchors[0]<a id="change">)</a> * self.nl  &#47&#47 number of anchors
        self.naxs = len(anchors[0])
        self.grid = [torch.empty(1)] * self.nl  &#47&#47 init grid
        self.anchor_grid = [torch.empty(1)] * self.nl  &#47&#47 init anchor grid</code></pre><h3>After Change</h3><pre><code class='java'>
        anchors_ = torch.tensor(anchors).float().view(self.nl, -1, 2) / torch.tensor(self.stride).repeat(6, 1).T.reshape(3, 3, 2)
        self.register_buffer(&quotanchors&quot, anchors_)  &#47&#47 shape(nl,na,2)

        self.out_convs = <a id="change">nn.ModuleList()</a>
        for in_channels in ch:
            self.out_convs<a id="change"> += </a>[
                nn.Conv2d(in_channels=in_channels, out_channels=(5+self.nc) * self.naxs, kernel_size=1)
            ]
</code></pre>