<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            means, buckets, dists, se = kmeans(k_routing, self.means, training=self.training, init=not self.initted)
            indices = distribution(dists, window_size)

        routed_means = batched_index_select(<a id="change">expand_dim(</a>self.means, <a id="change">0</a>, b<a id="change">)</a>, buckets)
        commitment_loss<a id="change"> = </a>F.mse_loss(k_routing, routed_means) * self.commitment

        if self.training:
            self.new_means.copy_(means)</code></pre><h3>After Change</h3><pre><code class='java'>
        k_routing = torch.einsum(&quotbhtd,hdr-&gt;bhtr&quot, qk, self.router) if self.router is not None else qk
        k_routing = F.normalize(qk, dim=-1)

        indices<a id="change">, commitment_loss</a> = self.kmeans(k_routing, wsz)
        
        qk = batched_index_select(qk, indices)
        v = batched_index_select(v, indices)</code></pre>