<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            offset = i + self.offset
            end = start + (tsz - offset) * bsz * copies
            pos_num = (end - start) // copies
            predictions[start:end] = <a id="change">(x[..., :-offset, i] * targets[..., offset:]).sum(dim=2)</a>.flatten()
            labels[start:start + pos_num] = 1.
            if weights is not None:
                weights[start:start + pos_num] = 1.</code></pre><h3>After Change</h3><pre><code class='java'>
            - ((steps + 1) * steps // 2) * copies * bsz
        )
        if self.infonce:
            labels<a id="change"> = </a>predictions.new_full(
                (<a id="change">predictions.shape[0] // </a>copies,), 0, dtype=torch.long
            )
        else:
            labels = torch.zeros_like(predictions)</code></pre>