<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        num_elements = mask.sum(dim=2, keepdim=True).detach()
        x_mean = x.sum(dim=2, keepdim=True).detach() / num_elements
        numerator = (x - x_mean).pow(2).sum(dim=2, keepdim=True).detach()
        x_std = <a id="change">(numerator / num_elements).sqrt()</a>
        &#47&#47 make sure x_std is not zero
        x_std += self.div_guard
        result = (x<a id="change"> - </a>x_mean)<a id="change"> / </a>x_std
        <a id="change">return </a>torch.masked_fill(result, ~mask, 0.0)


class DitherAudio(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 https://github.com/pytorch/pytorch/issues/44768
        with torch.no_grad():
            mask = x.abs() &gt; 0.0
            <a id="change">return </a>normalize_tensor(x, mask, div_guard=self.div_guard)


class DitherAudio(nn.Module):</code></pre>