<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 x = self.fc(x).view(x.shape[0], -1, 4, 4)
        x = self.conv0(x)
        x = x + E_features[self.res]
        style<a id="change"> = </a><a id="change">get_style_code(</a><a id="change">ws[:, 0]</a>, gs<a id="change">)</a>
        x = self.conv1(x, style, noise_mode=noise_mode)
        style<a id="change"> = </a><a id="change">get_style_code(</a><a id="change">ws[:, 1]</a>, gs<a id="change">)</a>
        img = self.toRGB(x, style, skip=None)

        return x, img
</code></pre><h3>After Change</h3><pre><code class='java'>
                           )

    def forward(self, x, img, ws, gs, E_features, noise_mode=&quotrandom&quot):
        style<a id="change"> = </a><a id="change">get_style_code(ws[:, self.res * 2 - 5]</a>, gs<a id="change">)</a>
        x = self.conv0(x, style, noise_mode=noise_mode)
        x = x + E_features[self.res]
        style<a id="change"> = get_style_code(</a><a id="change">ws[:, self.res * 2 - 4]</a>, gs<a id="change">)</a>
        x = self.conv1(x, style, noise_mode=noise_mode)
        style<a id="change"> = get_style_code(</a><a id="change">ws[:, self.res * 2 - 3]</a>, gs<a id="change">)</a>
        img = self.toRGB(x, style, skip=img)

        return x, img
</code></pre>