<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.positional_encoding = positional_encoding
        if positional_encoding:
            self.kh = torch.arange(1,int(np.ceil(np.log2(self.H))))
            self.kw = torch.arange(1,int(<a id="change">np.ceil(</a>np.log2(self.W)<a id="change">)</a>))
        else:
            self.kh, self.kw = [], []
            </code></pre><h3>After Change</h3><pre><code class='java'>
        if positional_encoding:
            assert positional_encoding&gt;1
            nh = int(np.ceil((np.log(self.H) - np.log(1))/np.log(positional_encoding)))
            nw = int(<a id="change">np.ceil(</a>(np.log(self.W) - np.log(1))/np.log(positional_encoding)<a id="change">)</a>)
            self.kh = nn.Parameter(positional_encoding**torch.arange(0,nh),requires_grad=False)
            self.kw = nn.Parameter(positional_encoding<a id="change">**</a>torch.arange(0,nw),requires_grad=False)
        else:
            self.kh, self.kw = [], []
            </code></pre>