<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                        x = torch.cat([layer_outputs[i] for i in layer_i], 1)
                    &#47&#47 print(&quot&quot), [print(layer_outputs[i].shape) for i in layer_i], print(x.shape)
            elif mtype == &quotshortcut&quot:
                layer_i = <a id="change">int(mdef[&quotfrom&quot]</a><a id="change">)</a>
                x = layer_outputs[-1] + layer_outputs[layer_i]
            elif mtype == &quotyolo&quot:
                x = module(x, img_size)
                output.append(x)</code></pre><h3>After Change</h3><pre><code class='java'>
                        x = torch.cat([layer_outputs[i] for i in layer_i], 1)
                    &#47&#47 print(&quot&quot), [print(layer_outputs[i].shape) for i in layer_i], print(x.shape)
            elif mtype == &quotshortcut&quot:
                x += layer_outputs[<a id="change">int(mdef[&quotfrom&quot]</a><a id="change">)</a>]
            elif mtype == &quotyolo&quot:
                x = module(x, img_size)
                output.append(x)</code></pre>