<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, image, text = None, image_embed = None, text_encodings = None, unet_number = None):
        assert not (len(self.unets) &gt; 1 and not exists(unet_number)), f&quotyou must specify which unet you want trained, from a range of 1 to {len(self.unets)}, if you are training cascading DDPM (multiple unets)&quot
        unet_number = default(unet_number, 1)
        <a id="change">assert </a>1 &lt;= unet_number &lt;= len(self.unets)

        index = unet_number - 1
        unet = self.unets[index]</code></pre><h3>After Change</h3><pre><code class='java'>

        text_encodings = self.get_text_encodings(text) if exists(text) and not exists(text_encodings) else None

        lowres_cond_img = image<a id="change"> if unet_number &gt; 1</a><a id="change"> else </a>None
        ddpm_image = resize_image_to(image, target_image_size)
        return self.p_losses(unet, ddpm_image, times, image_embed = image_embed, text_encodings = text_encodings, lowres_cond_img = lowres_cond_img)
</code></pre>