<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if key_pos is not None:
            key = key + key_pos

        out = <a id="change">self.attn(
            query=query,
            key=key,
            value=value,
            attn_mask=attn_mask,
            key_padding_mask=key_padding_mask,
        )[0]</a>

        return identity + self.proj_drop(out)

</code></pre><h3>After Change</h3><pre><code class='java'>
    ):
        output = tgt

        intermediate<a id="change"> = </a><a id="change">[]</a>

        <a id="change">for layer</a> in self.layers<a id="change">:
            </a>output<a id="change"> = </a>layer(
                output,
                memory,
                tgt_mask=tgt_mask,
                memory_mask=memory_mask,
                tgt_key_padding_mask=tgt_key_padding_mask,
                memory_key_padding_mask=memory_key_padding_mask,
                pos=pos,
                query_pos=query_pos,
            )
            if self.return_intermediate:
                <a id="change">intermediate.append(</a>self.norm(output)<a id="change">)</a>

        if self.norm is not None:
            output = self.norm(output)
            if self.return_intermediate:</code></pre>