<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(CNNEncoder, self).__init__()
        &#47&#47 assume square input
        layers = []
        <a id="change">layer_sizes</a> = layer_sizes + [latent_size]

        if kernel_sizes is None:
            kernel_sizes = [5] * (len(layer_sizes) - 1)
        if stride is None:
            stride = [1] * (len(layer_sizes) - 1)
        if padding is None:
            padding = [2] * (len(layer_sizes) - 1)

        current_size = input_size
        current_channels = 1
        for l_id in range(<a id="change">len(</a>layer_sizes<a id="change">) - 1</a>):
            if l_id == <a id="change">len(</a>layer_sizes<a id="change">)</a><a id="change"> - 2</a>:
                layers.append(nn.Sequential(
                    nn.Linear(int(current_size * current_size * current_channels), layer_sizes[l_id<a id="change"> + 1</a>]),
                ))
            else:
                layers.append(nn.Sequential(  &#47&#47 input shape (1, current_size, current_size)</code></pre><h3>After Change</h3><pre><code class='java'>
        super(CNNEncoder, self).__init__()
        &#47&#47 assume square input
        layers = []
        <a id="change">layer_sizes</a> = layer_sizes + [latent_size]

        if kernel_sizes is None:
            kernel_sizes = [5] * (len(layer_sizes) - 1)
        if stride is None:
            stride = [1] * (len(layer_sizes) - 1)
        if padding is None:
            padding = [2] * (len(layer_sizes) - 1)

        current_size = input_size
        current_channels = 1
        for l_id in range(<a id="change">len(</a>layer_sizes<a id="change">)</a>):
            if l_id == <a id="change">len(</a>layer_sizes<a id="change">) - 1</a>:
                layers.append(nn.Sequential(
                    nn.Linear(int(current_size * current_size * current_channels), layer_sizes[l_id]),
                ))</code></pre>