<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if exists(self.to_time_embedding) and exists(t):
            time_embedding = self.to_time_embedding(t)
            time_embedding = rearrange(time_embedding, "b c -&gt; b c 1")
            scale_shift<a id="change"> = </a><a id="change">time_embedding.chunk(2</a><a id="change">, dim=1)</a>

        h = self.block2(h, scale_shift=scale_shift)

        return h + self.to_out(x)</code></pre><h3>After Change</h3><pre><code class='java'>
            h = self.cross_attend(h, context=embedding) + h

        scale_shift = None
        <a id="change">if self.use_mapping</a><a id="change">:
            </a>scale_shift<a id="change"> = </a>self.to_scale_shift(mapping)

        h = self.block2(h, scale_shift=scale_shift)
</code></pre>