<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                unNormlogit = logit.reshape(len(logit), -1, logit.shape[-1])

                &#47&#47 [n, k]
                summedLogit = <a id="change">unNormlogit.mean(</a>1<a id="change">)</a>

                posterior = OneHotCategorical(logits=summedLogit, validate_args=False)
                prior = OneHotCategorical(probs=torch.ones_like(summedLogit) / summedLogit.shape[-1], validate_args=False)
                reg = cv * torch.distributions.kl_divergence(posterior, prior)</code></pre><h3>After Change</h3><pre><code class='java'>
                &#47&#47 N, H, W, K -&gt; N, HW, K
                batchWiseLogit = logit.reshape(len(logit), -1, logit.shape[-1])

                posterior = <a id="change">OneHotCategorical(logits=batchWiseLogit)</a>
                prior = OneHotCategorical(probs=torch.ones_like(batchWiseLogit) / batchWiseLogit.shape[-1])
                regs.append(torch.distributions.kl_divergence(posterior, prior).sum(-1)<a id="change"> + </a>compute_penalties(batchWiseLogit, allowed_entropy=0.1, individual_entropy_coeff=1.0, allowed_js=4.0, js_coeff=1.0, cv_coeff=1.0, eps=Consts.Eps))
            regs = sum(regs)
        return ssimLoss, l1Loss + l2Loss, regs &#47&#47 + 10 * stdReg
</code></pre>