<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        if self.neg_select_rule == &quotrandom&quot:
            &#47&#47 select negatives randomly
            num_of_negatives = <a id="change">min(</a>num_of_negatives, int(num_of_positives*self.random_ratio)<a id="change">)</a>
            num_of_negatives = max(min_num_of_negatives, num_of_negatives)
            num_of_negatives = min(max_num_of_negatives, num_of_negatives)
            s_neg = random.sample(s_neg.cpu().numpy().tolist(), k=num_of_negatives)
            if s_pos.size(0) == 0:</code></pre><h3>After Change</h3><pre><code class='java'>
            num_of_negatives = int(num_of_positives*self.random_ratio)
            num_of_negatives = max(min_num_of_negatives, num_of_negatives)
            num_of_negatives = min(max_num_of_negatives, num_of_negatives)
            num_of_negatives = <a id="change">max(</a>num_of_negatives,<a id="change">1</a><a id="change">)</a> &#47&#47 for safety
            s_neg = random.sample(s_neg.cpu().numpy().tolist(), k=num_of_negatives)
            if s_pos.size(0) == 0:
                return loss[s_neg].mean()</code></pre>