<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.n_nodes = x.shape[0]
        if self.msg_kind == &quotgin&quot:
            if self.id_scope == &quotglobal&quot:
                identifiers_ii<a id="change">, identifiers</a> = self.central_node_id_encoder(identifiers, 
                                                                           self.n_nodes)
            else:
                identifiers_ii, identifiers = self.central_node_id_encoder(identifiers, </code></pre><h3>After Change</h3><pre><code class='java'>
            out = self.update_fn(torch.cat((x, self.propagate(edge_index=edge_index, x=x, identifiers=identifiers)), -1))
        
        else:
            <a id="change">raise </a><a id="change">NotImplementedError(</a>"Message kind {} is not currently supported.".format(self.msg_kind)<a id="change">)</a>

        return out

    </code></pre>