<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.gradient = gradient

    def forward(self, y, logits):
        <a id="change">return </a><a id="change">self.encoder(</a>y if self.gradient else stop_gradient(y)<a id="change">)</a>


class LogInterpolatedNormalizer(nn.Module):
    def __init__(self, normalizer_a, normalizer_b, alpha=0.5):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.gradient = gradient

    def forward(self, y, pos_logits, neg_logits):
        log_normalizer = <a id="change">self.encoder(</a>y if self.gradient else stop_gradient(y)<a id="change">)</a>
        <a id="change">return </a>(log_normalizer<a id="change">, log_normalizer</a>)


class LogInterpolatedNormalizer(nn.Module):</code></pre>