<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.conv2 = nn.Conv2d(32, 64, kernel_size=4, stride=2)
        self.conv3 = nn.Conv2d(64, 64, kernel_size=3, stride=1)

        <a id="change">if </a>use_batch_norm<a id="change">:
            </a>self.bn1 = nn.BatchNorm2d(32)
            self.bn2<a id="change"> = </a>nn.BatchNorm2d(64)
            self.bn3 = nn.BatchNorm2d(64)
            self.bn4 = nn.BatchNorm1d(512)
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 convolutional layers
        in_channels = [observation_shape[0]] + [f[0] for f in filters[:-1]]
        self.convs = nn.ModuleList()
        self.conv_bns<a id="change"> = </a><a id="change">nn.ModuleList()</a>
        <a id="change">for </a>in_channel, <a id="change">f</a> in zip(in_channels, filters)<a id="change">:
            </a>out_channel, kernel_size, stride = f
            conv = nn.Conv2d(in_channel,
                             out_channel,
                             kernel_size=kernel_size,
                             stride=stride)
            self.convs.append(conv)

            if use_batch_norm:
                <a id="change">self.conv_bns.append(</a>nn.BatchNorm2d(out_channel)<a id="change">)</a>

        &#47&#47 last dense layer
        self.fc = nn.Linear(self._get_linear_input_size(), feature_size)
        if use_batch_norm:</code></pre>