<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise ValueError
        inverted_residual=InvertedResidual

        if <a id="change">len(stages_repeats) != 3</a>:
            raise ValueError(&quotexpected stages_repeats as list of 3 positive ints&quot)
        <a id="change">if </a>len(stages_out_channels) != 5<a id="change">:
            </a>raise ValueError(&quotexpected stages_out_channels as list of 5 positive ints&quot)
        self._stage_out_channels = stages_out_channels

        input_channels = 3
        output_channels = self._stage_out_channels[0]
        self.conv1 = nn.Sequential(
            nn.Conv2d(input_channels, output_channels, 3, 2, 1, bias=False),
            nn.BatchNorm2d(output_channels),
            nn.ReLU(inplace=True),
        )
        input_channels = output_channels

        stage_names = [&quotstage{}&quot.format(i) for i in [2, 3, 4]]
        for name, repeats, output_channels in zip(
                stage_names, stages_repeats, self._stage_out_channels[1:]):
            seq = [inverted_residual(input_channels, output_channels, 2)]
            for i in range(repeats - 1):
                seq.append(inverted_residual(output_channels, output_channels, 1))
            setattr(self, name, nn.Sequential(*seq))
            input_channels = output_channels

        <a id="change">if </a>pretrained<a id="change">:
            </a>self.load_pre_trained_weights()

    def load_pre_trained_weights(self):
        print(&quotLoading Pytorch pretrained weights...&quot)</code></pre><h3>After Change</h3><pre><code class='java'>
        input_channels = 3
        stages_repeats = [4, 8, 4]
        output_channels = self._stage_out_channels[0]
        <a id="change">self.conv1</a> = nn.Sequential(
            nn.Conv2d(input_channels, output_channels, 3, 2, 1, bias=False),
            nn.BatchNorm2d(output_channels),
            nn.ReLU(inplace=True),
        )
        input_channels = output_channels
        self.maxpool = nn.MaxPool2d(kernel_size=3, stride=2, padding=1)

        stage_names = ["stage{}".format(i) for i in [2, 3, 4]]
        for name, repeats, output_channels in zip(
            stage_names, stages_repeats, self._stage_out_channels[1:]
        ):
            seq = [InvertedResidual(input_channels, output_channels, 2)]
            for i in range(repeats - 1):
                seq.append(InvertedResidual(output_channels, output_channels, 1))
            setattr(self, name, nn.Sequential(*seq))
            input_channels = output_channels

        if pretrained:
            self.load_pre_trained_weights()

            <a id="change">self.conv1.eval()</a>
            <a id="change">for param</a> in <a id="change">self.conv1.parameters():
                </a>param.requires_grad<a id="change"> = </a>False

    def load_pre_trained_weights(self):
        print("Loading Pytorch pretrained weights...")</code></pre>