<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        l1, l2 = l1.permute(0, 4, 1, 2, 3), l2.permute(0, 4, 1, 2, 3)
        &#47&#47 [N, K, M, H, W], [N, M, H, W]
        &#47&#47 sum(-logP) / ()
        bppLoss = (<a id="change">F.cross_entropy(</a>l1, c1<a id="change">, reduction="mean")</a> + F.cross_entropy(l2, c2, reduction="mean")) / math.log(2)

        <a id="change">return </a>ssimLoss, contextLoss, -bppLoss


class CompressionLossQ(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>

        reg = torch.distributions.kl_divergence(posterior1, prior1).mean() + torch.distributions.kl_divergence(posterior2, prior2).mean()

        <a id="change">return </a>ssimLoss, contextLoss, reg


class CompressionLossQ(nn.Module):</code></pre>