<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        out = self.RDB2(out)
        out = self.RDB3(out)

        <a id="change">return </a>out<a id="change"> * self.scale_ratio + </a>x
</code></pre><h3>After Change</h3><pre><code class='java'>
        out = self.RDB2(out)
        out = self.RDB3(out)

        out<a id="change"> = </a><a id="change">torch.add(</a>out * self.scale_ratio, x<a id="change">)</a>

        <a id="change">return </a>out
</code></pre>