<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        conv4 = self.conv4(torch.cat((x, conv1, conv2, conv3), dim=1))
        conv5 = self.conv5(torch.cat((x, conv1, conv2, conv3, conv4), dim=1))

        <a id="change">return </a>conv5<a id="change"> * self.scale_ratio + </a>x


class ResidualInResidualDenseBlock(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        conv4 = self.conv4(torch.cat((x, conv1, conv2, conv3), dim=1))
        conv5 = self.conv5(torch.cat((x, conv1, conv2, conv3, conv4), dim=1))

        out<a id="change"> = </a><a id="change">torch.add(</a>conv5 * self.scale_ratio, x<a id="change">)</a>

        <a id="change">return </a>out


class ResidualInResidualDenseBlock(nn.Module):</code></pre>