<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 attention GMM parameters
        g_t = torch.softmax(g_t, dim=-1) + self.epsilon  &#47&#47 distribution weight
        sig_t = torch.exp(b_t) + self.epsilon  &#47&#47 variance
        mu_t<a id="change"> = </a>self.mu_tm1 + self.attention_alignment<a id="change"> * </a><a id="change">torch.exp(</a>k_t<a id="change">)</a>  &#47&#47 mean

        g_t = g_t.unsqueeze(2).expand(g_t.size(0),
                                      g_t.size(1),
                                      inputs.size(1))
        sig_t = sig_t.unsqueeze(2).expand_as(g_t)
        mu_t_ = mu_t.unsqueeze(2).expand_as(g_t)
        j = self.J[:g_t.size(0), :, :inputs.size(1)]

        &#47&#47 attention weights
        phi_t = g_t * torch.exp(-0.5 * sig_t * (mu_t_ - j)**2)
        alpha_t = self.COEF * torch.sum(phi_t, 1)

        &#47&#47 apply masking
        &#47&#47 if mask is not None:
        &#47&#47     alpha_t.data.masked_fill_(~mask, self._mask_value)
        
        breakpoint()

        c_t = torch.bmm(alpha_t.unsqueeze(1), inputs).squeeze(1)
        self.mu_tm1 = mu_t
        <a id="change">return </a>c_t<a id="change">, mu_t, alpha_t</a>


class Attention(nn.Module):
    &#47&#47 Pylint gets confused by PyTorch conventions here</code></pre><h3>After Change</h3><pre><code class='java'>
        alpha_t = torch.sum(phi_t, 1)

        &#47&#47 apply masking
        <a id="change">if mask is not None</a><a id="change">:
            </a>alpha_t.data.masked_fill_(~mask, self._mask_value)

        context = torch.bmm(alpha_t.unsqueeze(1), inputs).squeeze(1)
        self.attention_weights = alpha_t</code></pre>