<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        groups = min(out_channels, groups)

        self.paths = nn.ModuleList()
        for k, d in <a id="change">zip(</a>kernel_size, dilation<a id="change">)</a>:
            p = _get_padding(k, stride, d)
            self.paths.append(nn.Sequential(OrderedDict([
                (&quotconv&quot, nn.Conv2d(</code></pre><h3>After Change</h3><pre><code class='java'>

        conv_kwargs = dict(
            stride=stride, groups=groups, drop_block=drop_block, act_layer=act_layer, norm_layer=norm_layer)
        self.paths = nn.ModuleList(<a id="change">[
            ConvBnAct(in_channels, out_channels, kernel_size=k, dilation=d, **conv_kwargs)
            for k, d in zip(kernel_size, dilation)]</a>)

        attn_channels = max(int(out_channels / attn_reduction), min_attn_channels)
        self.attn = SelectiveKernelAttn(out_channels, num_paths, attn_channels)</code></pre>