<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.norm_rel_coors:
            basis = F.normalize(basis, dim = -1, p = 2)

        coors_out = <a id="change">einsum(&quotb h i j, b i j c -&gt; b i c&quot</a>, coor_weights, basis<a id="change">)</a>

        &#47&#47 derive attention

        sim = self.to_attn_mlp(m_ij)</code></pre><h3>After Change</h3><pre><code class='java'>

        nbhd_indices = None
        if num_nn &gt; 0:
            rel_dist = <a id="change">rel_coors.norm(dim = -1, p = 2)</a>
            nbhd_indices = rel_dist.topk(num_nn, dim = -1, largest = False).indices

        rel_dist = rearrange(rel_dist, &quotb i j -&gt; b i j ()&quot)
</code></pre>