<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                t = torch_utils.time_synchronized()
                for _ in range(10):
                    _ = m(x)
                dt<a id="change"> = </a><a id="change">torch_utils.time_synchronized() - </a>t
                ts<a id="change"> += </a>dt
                print(&quot%10.1f%10.0f%10.1fms %-40s&quot % (o, m.np, dt<a id="change"> * 100</a>, m.type))

            x = m(x)  &#47&#47 run
            y.append(x if m.i in self.save else None)  &#47&#47 save output</code></pre><h3>After Change</h3><pre><code class='java'>
                t = torch_utils.time_synchronized()
                for _ in range(10):
                    _ = m(x)
                <a id="change">dt.append(</a>(<a id="change">torch_utils.time_synchronized() - </a>t)<a id="change"> * 100</a><a id="change">)</a>
                print(&quot%10.1f%10.0f%10.1fms %-40s&quot % (o, m.np, <a id="change">dt[-1]</a>, m.type))

            x = m(x)  &#47&#47 run
            y.append(x if m.i in self.save else None)  &#47&#47 save output

        if profile:
            print(<a id="change">&quot%.1fms total&quot</a><a id="change"> % </a><a id="change">sum(</a>dt<a id="change">)</a>)
        return x

    def _initialize_biases(self, cf=None):  &#47&#47 initialize biases into Detect(), cf is class frequency</code></pre>