<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 mask so image has full attention to text, but causal along axis

        i, j = <a id="change">dots_image.shape[-2:]</a>
        mask = torch.ones(i, j, device = device).triu_(j - i + 1).bool()
        dots_image.masked_fill_(mask, mask_value)

        &#47&#47 attention.</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 mask so image has full attention to text, but causal along axis

        bh, i, j = dots_image.shape
        causal_mask<a id="change"> = </a>torch.ones(i, img_size, device = device).triu_(img_size<a id="change"> - i + 1</a>).bool()
        causal_mask = repeat(causal_mask, &quoti j -&gt; b i j&quot, b = bh)

        mask<a id="change"> = </a>repeat(mask, &quotb j -&gt; (b r) i j&quot, r = (bh // b), i = i)
        mask<a id="change"> = </a><a id="change">torch.cat(</a>(~mask<a id="change">, causal_mask</a>)<a id="change">, dim = -1)</a>

        dots_image.masked_fill_(mask, mask_value)

        &#47&#47 attention.</code></pre>