<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        &#47&#47 TODO: loop if window_size is greater than 2 (for cycle loss)
        bsz, encoder_dim, n_points = keypoint_desc.size()
        batch_size<a id="change"> = </a><a id="change">int(</a>bsz<a id="change"> / </a>self.window_size<a id="change">)</a>
        _, _, height, width = desc_dense.size()

        src_desc = keypoint_desc[::self.window_size]  &#47&#47 B x C x N
        src_desc = F.normalize(src_desc, dim=1)</code></pre><h3>After Change</h3><pre><code class='java'>
        BW, encoder_dim, n_points = keypoint_desc.size()
        batch_size = int(BW / self.window_size)
        _, _, height, width = desc_dense.size()
        kp_inds<a id="change">, dense_inds</a> = get_indices(batch_size, self.window_size)

        src_desc = keypoint_desc[kp_inds]  &#47&#47 B x C x N
        src_desc = F.normalize(src_desc, dim=1)</code></pre>