<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, input, hx=None):
        output_size = (
            <a id="change">int(</a>(input.size(-1) - self.kernel_size + 2<a id="change"> * </a>self.padding_ih) / self.stride<a id="change">)</a> + 1
        )
        &#47&#47 Handle the case of no hidden state provided
        if hx is None:
            hx<a id="change"> = </a>torch.zeros(input.size(0), self.h_channels, output_size, device=input.device)
        &#47&#47 Run the optimized convgru-cell
        return _opt_convgrucell_1d(
            input,</code></pre><h3>After Change</h3><pre><code class='java'>

        combined_conv = F.sigmoid(self.conv_zr(combined))

        z<a id="change">, r</a> = torch.split(combined_conv, self.hidden_dim, dim=1)

        h_ = self.activation(self.conv_h1(input) + r * self.conv_h2(h_prev))
</code></pre>