<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()

    def forward(self, x_categ, x_cont):
        <a id="change">return </a>0.
</code></pre><h3>After Change</h3><pre><code class='java'>
        x = self.categorical_embeds(x_categ)

        for attn, ff in self.layers:
            x<a id="change"> = </a>attn(x)
            x = ff(x)

        flat_categ<a id="change"> = </a><a id="change">x.flatten(1</a><a id="change">)</a>
        normed_cont = self.norm(x_cont)

        x = torch.cat((flat_categ, normed_cont), dim = -1)
        <a id="change">return </a>self.mlp(x)
</code></pre>