<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 reg_heads shape:[[B, 80, 80, 4],[B, 40, 40, 4],[B, 20, 20, 4],[B, 10, 10, 4],[B, 5, 5, 4]]
        &#47&#47 center_heads shape:[[B, 80, 80, 1],[B, 40, 40, 1],[B, 20, 20, 1],[B, 10, 10, 1],[B, 5, 5, 1]]

        <a id="change">return </a>cls_heads<a id="change">, reg_heads, center_heads</a>


def _fcos(arch, pretrained, progress, **kwargs):
    model = FCOS(arch, **kwargs)</code></pre><h3>After Change</h3><pre><code class='java'>

        del features

        self.fpn_feature_sizes = <a id="change">torch.tensor(
            </a>self.fpn_feature_sizes<a id="change">)</a>.to(device)

        batch_positions = self.positions(self.batch_size,
                                         self.fpn_feature_sizes)</code></pre>