<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            &#47&#47 Probably not a good idea
            &#47&#47 Actually maybe OK - TODO test
            self.register_buffer(&quotrunning_mean&quot, torch.zeros(input_dim))
            self.register_buffer(&quotrunning_var&quot, <a id="change">torch.ones(</a>input_dim<a id="change">)</a>)

        self.reset_parameters()
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.affine = affine

        if affine is True:
            self.gamma = nn.Parameter(<a id="change">torch.ones(1</a>, input_channels, <a id="change">1</a>, <a id="change">1</a><a id="change">)</a>)
            self.beta = nn.Parameter(torch.zeros(1, input_channels, 1, 1))

    def forward(self, x):</code></pre>