<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class VGG(nn.Module):
    def __init__(self, vgg_name):
        super(VGG, self).__init__()
        self.features = self._make_layers(<a id="change">cfg[vgg_name]</a>)
        self.classifier = nn.Linear(512, 10)

    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.Linear(512 * 7 * 7, 4096),
            nn.ReLU(True),
            nn.Dropout(),
            <a id="change">nn.Linear(</a>4096, 4096<a id="change">)</a>,
            nn.ReLU(True),
            nn.Dropout(),
            <a id="change">nn.Linear(</a>4096, num_classes<a id="change">)</a>,
        )
        if init_weights:
            self._initialize_weights()</code></pre>