<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            states_perturbed = to_list(self.eval_fn(embed_perturbed))
            loss = 0
            &#47&#47 Compute perturbation loss over all states 
            <a id="change">for j</a> in <a id="change">range(len(</a>states<a id="change">)</a><a id="change">):
                </a>loss<a id="change"> += </a>self.loss_fn[j](states_perturbed[j], states[j].detach())
            if i == self.num_steps + 1: 
                return loss 
            &#47&#47 Compute noise gradient     </code></pre><h3>After Change</h3><pre><code class='java'>
            state_perturbed = self.eval_fn(embed_perturbed)
            &#47&#47 Return final loss if last step (undetached state)
            if i == self.num_steps: 
                <a id="change">return </a>self.loss_last_fn(state_perturbed, state) 
            &#47&#47 Compute perturbation loss (detached state)
            loss = self.loss_fn(state_perturbed, state.detach())
            &#47&#47 Compute noise gradient ∂loss/∂noise</code></pre>