<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            H = x.data.size(2)
            W = x.data.size(3)

            return <a id="change">x.view(B, C, H, 1, W, 1).expand(</a>B, C, H, tH // H, W, tW // W<a id="change">)</a>.contiguous().view(B, C, tH, tW)
        else:
            return F.interpolate(x, size=(tH, tW), mode=&quotnearest&quot)
</code></pre><h3>After Change</h3><pre><code class='java'>

            return x.view(x.size(0), x.size(1), x.size(2), 1, x.size(3), 1).\
                    expand(x.size(0), x.size(1), x.size(2), target_size[2] // x.size(2), x.size(3), target_size[3] // x.size(3)).\
                    contiguous().view(x.size(0), <a id="change">x.size(1</a><a id="change">)</a>, target_size[2], target_size[3])
        else:
            return F.interpolate(x, size=(target_size[2], target_size[3]), mode=&quotnearest&quot)
</code></pre>