<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
def read_cmudict_block(stream):
    line = stream.readline().split()
    if line:
        return <a id="change">[ </a>(line[0], int(line[1]), tuple(line[2:]))<a id="change"></a> ]
    else:
        return []
</code></pre><h3>After Change</h3><pre><code class='java'>
    &#47&#47}

def read_cmudict_block(stream):
    entries<a id="change"> = </a>[]
    while len(entries) &lt; 100: &#47&#47 Read 100 at a time.
        line = stream.readline()
        <a id="change">if line == &quot&quot</a><a id="change">: </a>return entries &#47&#47 end of file.
        pieces<a id="change"> = </a>line.split()
        entries.append( (pieces[0], int(pieces[1]), tuple(pieces[2:])) )
    return entries
</code></pre>