<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.fc2 = nn.Linear(hl, action_size)

    def forward(self, x):
        x<a id="change"> = </a><a id="change">F.relu(</a>self.fc1(x)<a id="change">)</a>
        x<a id="change"> = </a>F.relu(self.fc2(x))
        return x</code></pre><h3>After Change</h3><pre><code class='java'>
        self.gate = F.relu

    def forward(self, x):
        <a id="change">for layer</a> in self.layers<a id="change">:
            </a>x<a id="change"> = </a>self.gate(layer(x))
        return x</code></pre>