<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    for sent in gold:
        sent = list(sent)
        gold_tokens += sent
        test_tokens += <a id="change">list(</a>tagger.tag(untag(sent))<a id="change">)</a>

    return evaluate.accuracy(gold_tokens, test_tokens)

&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47</code></pre><h3>After Change</h3><pre><code class='java'>
    @param gold: The list of tagged tokens to score the tagger on.
    @rtype: C{float}
    
    tagged_sents = tagger.batch_tag(<a id="change">[untag(sent) for sent in gold]</a>)
    gold_tokens = sum(gold, [])
    test_tokens = sum(tagged_sents, [])
    return evaluate.accuracy(gold_tokens, test_tokens)</code></pre>