<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def tag_sents(self, sentences):
        &#47&#47 Converting list(list(str)) -&gt; list(str)
        sentences = (&quot &quot.join(words) for words in sentences)
        return <a id="change">list(</a>self.raw_tag_sents(sentences)<a id="change">)</a>


    def tag(self, sentence):
        return self.tag_sents([sentence])[0]</code></pre><h3>After Change</h3><pre><code class='java'>
        
        &#47&#47 Converting list(list(str)) -&gt; list(str)
        sentences = (&quot &quot.join(words) for words in sentences)
        return <a id="change">[sentences[0] for sentences in self.raw_tag_sents(sentences)]</a>

    def tag(self, sentence):
        
        Tag a list of tokens.</code></pre>