<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.log_std_min = log_std_min
        self.log_std_max = log_std_max

        self.l1 = <a id="change">nn.Linear(</a>in_dim, hidden_dim<a id="change">)</a>
        self.l2<a id="change"> = </a><a id="change">nn.Linear(</a>hidden_dim, hidden_dim<a id="change">)</a>
        self.l3<a id="change"> = </a><a id="change">nn.Linear(</a>hidden_dim, hidden_dim<a id="change">)</a>

        self.mean_linear = nn.Linear(hidden_dim, action_dim)
        self.mean_linear.weight.data.uniform_(-init_w, init_w)
        self.mean_linear.bias.data.uniform_(-init_w, init_w)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.log_std_min = log_std_min
        self.log_std_max = log_std_max

        layers = [<a id="change">nn.Linear(</a>in_dim, hidden_dim<a id="change">)</a>]

        <a id="change">for </a>l in range(num_layers_linear_hidden)<a id="change">:
            </a>layers.append(<a id="change">nn.ReLU()</a>)
            layers.append(<a id="change">nn.Linear(</a>hidden_dim, hidden_dim<a id="change">)</a>)
        layers.append(nn.ReLU())

        self.net = <a id="change">nn.Sequential(</a>*<a id="change">layers)</a>

        self.mean_linear = nn.Linear(hidden_dim, action_dim)
        self.mean_linear.weight.data.uniform_(-init_w, init_w)
        self.mean_linear.bias.data.uniform_(-init_w, init_w)</code></pre>