<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        x10 = self.Conv_9(x9)

        <a id="change">return </a>x10


class DRPNN(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        lms = inp[:, :-1, 2::self.ratio, 2::self.ratio]
        pan = torch.unsqueeze(inp[:, -1, :, :], dim=1)

        lms_hp<a id="change"> = </a>lms - self.dephtconv_ms(lms)
        pan_hp<a id="change"> = </a>pan - self.dephtconv_pan(pan)

        x = self.Conv2d_transpose(lms_hp)
        net_inp = torch.cat((x, pan_hp), dim=1)

        x1 = F.relu(self.Conv(net_inp))

        x2 = F.relu(self.Conv_1(x1))
        x3 = self.Conv_2(x2) + x1

        x4 = F.relu(self.Conv_3(x3))
        x5 = self.Conv_4(x4) + x3

        x6 = F.relu(self.Conv_5(x5))
        x7 = self.Conv_6(x6) + x5

        x8 = F.relu(self.Conv_7(x7))
        x9 = self.Conv_8(x8) + x7

        x10 = self.Conv_9(x9)

        x11 = <a id="change">inp[:, :-1, :, :]</a> + x10

        <a id="change">return </a>x11


class DRPNN(nn.Module):</code></pre>