<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        mask = mask[(hh - h) // 2:(hh - h) // 2 + h,
                    (ww - w) // 2:(ww - w) // 2 + w]

        mask = <a id="change">torch.from_numpy(mask).to(x.dtype).cuda()</a>
        if self.mode == 1:
            mask = 1 - mask
        mask = mask.expand_as(x)
        if self.offset:</code></pre><h3>After Change</h3><pre><code class='java'>
                mask[:, s:t] *= 0

        r = np.random.randint(self.rotate)
        mask = rotate(<a id="change">mask.unsqueeze(0</a><a id="change">)</a>, r)[0]
        mask = mask[(hh - h) // 2:(hh - h) // 2 + h,
                    (ww - w) // 2:(ww - w) // 2 + w]
        mask = mask.to(x.dtype)</code></pre>