<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 One GAT layer for each meta path based adjacency matrix
        self.gat_layers = nn.ModuleList()
        for i in range(<a id="change">len(</a>meta_paths<a id="change">)</a>):
            <a id="change">self.gat_layers.append(</a>GATConv(in_size, out_size, layer_num_heads,
                                           dropout, dropout, activation=F.elu,
                                           allow_zero_in_degree=True)<a id="change">)</a>
        self.semantic_attention = SemanticAttention(in_size=out_size * layer_num_heads)
        self.meta_paths = list(tuple(meta_path) for meta_path in meta_paths)

        self._cached_graph = None</code></pre><h3>After Change</h3><pre><code class='java'>
        semantic_attention = SemanticAttention(in_size=out_size * layer_num_heads)
        self.model = MetapathConv(
            meta_paths,
            <a id="change">[GATConv(in_size, out_size, layer_num_heads,
                                           dropout, dropout, activation=F.elu,
                                           allow_zero_in_degree=True)
             for _ in meta_paths]</a>,
            semantic_attention
        )
        self._cached_graph = None</code></pre>