<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.Pt = Pt/self.Nh
        self.fc1 = Pt/self.Nh
                
        x_flat = np.ones((1<a id="change">,1,Nl,Nc</a>))
        x_flat = torch.Tensor(x_flat)
        x_flat = x_flat.float()
        x_flat = x_flat.to(self.H.device)</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47    Pinv = torch.from_numpy(Pinv)
        &#47&#47else:
        if Stat_comp:
            <a id="change">print("Statistic completion"</a><a id="change">)</a>
            Pinv = torch.pinverse(self.H2, rcond=alpha)
        else:
            Pinv = torch.pinverse(self.H, rcond=alpha)
        Pinv = Pinv.float()</code></pre>