<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        d_neg = torch.einsum(&quotncm,ck-&gt;nkm&quot, dense_q, self.queue_dense.clone().detach())
        logits_dense = torch.cat([d_pos, d_neg], dim=1)
        logits_dense = logits_dense / self.T
        labels_dense<a id="change"> = </a><a id="change">torch.zeros(</a>(n, h*w)<a id="change">, dtype=torch.long)</a>.cuda()

        &#47&#47 dequeue and enqueue
        self._dequeue_and_enqueue(k, dense_k)</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 dequeue and enqueue
        self._dequeue_and_enqueue(k, dense_k)

        return <a id="change">[</a>l_pos, l_neg<a id="change"></a>], [d_pos, d_neg]
        &#47&#47  return logits, labels, logits_dense, labels_dense

</code></pre>