<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    num_heads=attention_heads,
                    head_features=attention_features,
                ),
            )<a id="change">
            if use_attention</a><a id="change">
            else </a><a id="change">nn.Identity()</a>
        )

        self.post_block = ResnetBlock1d(
            in_channels=channels,</code></pre><h3>After Change</h3><pre><code class='java'>
            time_context_features=time_context_features,
        )

        <a id="change">if use_attention</a><a id="change">:
            </a>assert exists(attention_heads) and exists(attention_features)
            self.attention<a id="change"> = </a>EinopsToAndFrom(
                "b c l",
                "b l c",
                Attention(</code></pre>