<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        end_net.append(nn.Conv1d(hidden_channels, out_channels, kernel_size=1, stride=1, bias=False))
        
        if output_nonlinear is not None:
            <a id="change">if output_nonlinear == &quottanh&quot</a><a id="change">:
                end_net.append(</a><a id="change">nn.Tanh())</a>
            elif <a id="change"></a>output_nonlinear == &quotsoftmax&quot<a id="change">:
                </a>end_net.append(nn.Softmax(dim=1))
            else:
                raise ValueError("Not support {}".format(output_nonlinear))
        </code></pre><h3>After Change</h3><pre><code class='java'>
        end_net.append(nn.Conv1d(hidden_channels, out_channels, kernel_size=1, stride=1, bias=False))
        
        if output_nonlinear is not None:
            <a id="change">if </a>output_nonlinear == &quotsoftmax&quot<a id="change">:
                </a>kwargs = {
                    "dim": 1
                }
            else:</code></pre>