<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.depth = depth
        
        self.loss_fn = lambda x, y: weighted_tversky_bce_loss(x, y, alpha=0.2, beta=0.8, gamma=2)
        self.depth_loss_fn = <a id="change">nn.MSELoss()</a>
        self.pyramidal_consistency_loss_fn = nn.L1Loss()
        
        self.rgb_encoder = Encoder(in_channels, depth)
        self.rgb_decoder = Decoder(in_channels, depth, self.loss_fn)</code></pre><h3>After Change</h3><pre><code class='java'>
        
        self.reduce = conv(4, 3, 3)
        
        self.context1 = PAA_e(<a id="change">self.in_channels[0]</a>, self.depth)
        self.context2 = PAA_e(self.in_channels[1], self.depth)
        self.context3 = PAA_e(self.in_channels[2], self.depth)
        self.context4 = PAA_e(self.in_channels[3], self.depth)
        self.context5 = PAA_e(<a id="change">self.in_channels[4]</a>, self.depth)

        self.decoder = PAA_d(self.depth)
</code></pre>