<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            quantized.shape[-1],
        ).permute(0, 2, 1)
        codes = codes.reshape(batch_size, -1)
        return quantized<a id="change">, diff.mean(), codes[:, None]</a>


class ResidualVQ(nn.Module):
</code></pre><h3>After Change</h3><pre><code class='java'>
                self.cluster_size, self.codebook_size, self.epsilon) *
                            self.cluster_size.sum())
            embed_normalized = self.embed_avg / cluster_size.unsqueeze(1)
            <a id="change">self.embed.data.copy_(</a>embed_normalized<a id="change">)</a>

        return quantize, embed_ind

</code></pre>