<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    @staticmethod
    def _assemble_pretty(first_lines, op, second_lines):
        max_lines = max(len(first_lines), len(second_lines))
        first_lines = first_lines + [&quot &quot*len(<a id="change">first_lines[0]</a>)]*(max_lines-len(first_lines))
        second_lines = second_lines + [&quot &quot*len(second_lines[0])]*(max_lines-len(second_lines))
        return [&quot &quot + first_line + &quot &quot + &quot &quot*len(op) + &quot &quot + second_line     + &quot &quot for first_line, second_line in zip(first_lines, second_lines)[:2]] + \
               [&quot(&quot + first_lines[2]   + &quot &quot + op    + &quot &quot + second_lines[2] + &quot)&quot] + \</code></pre><h3>After Change</h3><pre><code class='java'>
        max_lines = max(len(first_lines), len(second_lines))
        first_lines = _pad_vertically(first_lines, max_lines)
        second_lines = _pad_vertically(second_lines, max_lines)
        blank = &quot &quot<a id="change"> * </a><a id="change">len(</a>op<a id="change">)</a>
        first_second_lines = list(zip(first_lines, second_lines))
        return ([&quot &quot + first_line + &quot &quot + blank + &quot &quot + second_line + &quot &quot for first_line, second_line in first_second_lines[:2]] + 
                [&quot(&quot + first_line + &quot &quot + op    + &quot &quot + second_line + &quot)&quot for first_line, second_line in first_second_lines[2:3]] + 
                [&quot &quot + first_line + &quot &quot + blank + &quot &quot + second_line + &quot &quot for first_line, second_line in first_second_lines[3:]])</code></pre>