<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        s_total = defaultdict(float)
        for e in english_words:
            for f in foreign_words:
                z = <a id="change">t[e,f]</a>

        globally_converged = False
        iteration_count = 0
        while not globally_converged:</code></pre><h3>After Change</h3><pre><code class='java'>
        num_probs = len(english_words) * len(foreign_words)

        &#47&#47 Initialise t(e|f) uniformly
        default_prob = 1.0<a id="change"> / </a><a id="change">len(</a>english_words<a id="change">)</a>
        t = defaultdict(lambda: default_prob)

        convergent_threshold = self.convergent_threshold
        globally_converged = False</code></pre>