<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    self.action_size, self.state_only = action_size, state_only
    self.discount = discount
    self.g = nn.Linear(state_size if state_only else state_size + action_size, 1)  &#47&#47 Reward function r
    self.h = <a id="change">nn.Sequential(</a>nn.Linear(state_size, hidden_size), <a id="change">nn.Tanh()</a>, <a id="change">nn.Linear(</a>hidden_size, hidden_size<a id="change">)</a>, <a id="change">nn.Tanh()</a>, <a id="change">nn.Linear(</a>hidden_size, 1<a id="change">)</a><a id="change">)</a>  &#47&#47 Shaping function Φ

  def reward(self, state, action):
    if self.state_only:</code></pre><h3>After Change</h3><pre><code class='java'>
    self.action_size, self.state_only = action_size, state_only
    self.discount = discount
    self.g = nn.Linear(state_size if state_only else state_size + action_size, 1)  &#47&#47 Reward function r
    self.h = <a id="change">_create_fcnn(</a>state_size, hidden_size, 1, <a id="change">&quottanh&quot</a><a id="change">)</a>  &#47&#47 Shaping function Φ

  def reward(self, state, action):
    if self.state_only:</code></pre>