<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.training:
            self.new_means = ema(self.new_means, means, 0.5)

        <a id="change">return </a>indices, loss

&#47&#47 kmeans attention class
</code></pre><h3>After Change</h3><pre><code class='java'>
        with torch.no_grad():
            dists, buckets = dists_and_buckets(x, means)

        <a id="change">if update_means</a><a id="change">:
            </a><a id="change">with torch.no_grad()</a><a id="change">:
                </a>means = kmeans_iter(x, means, buckets)
            self.new_means = means

        routed_means = batched_index_select(expand_dim(means, 0, b), buckets)</code></pre>