<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        self.out_dim = out_dim

        <a id="change">super(TabNet_Decoder, self).__init__()</a>
        if n_shared &gt; 0:
            self.shared = nn.ModuleList()
            self.shared.append(nn.Linear(inp_dim, 2 * out_dim))
            for x in range(n_shared - 1):</code></pre><h3>After Change</h3><pre><code class='java'>
        
        TabNet decoder that is used in pre-training
        
        <a id="change">super().__init__()</a>
        self.out_dim = out_dim
        if n_shared &gt; 0:
            self.shared = nn.ModuleList()
            self.shared.append(nn.Linear(inp_dim, 2 * out_dim))</code></pre>