<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self,x):
        Xout = self.FC(x).view(-1, self.nchannels, self.height_target, self.width_target)
        return Xout[:,0,:,:]<a id="change"> if </a>self.None_nchannels<a id="change"> else </a>Xout

if __name__ == &quot__main__&quot:
    ny = (20,20)</code></pre><h3>After Change</h3><pre><code class='java'>
        
    def forward(self, Y):
        if self.None_nchannels:
            Y = <a id="change">Y[:,None,:,:]</a>
        return self.downblocks(Y).view(Y.shape[0],-1)

class CNN_encoder(nn.Module):
    def __init__(self, nb, nu, na, ny, nx, n_nodes_per_layer=64, n_hidden_layers=2, activation=nn.Tanh, features_ups_factor=1.33):</code></pre>