<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        else:
            &#47&#47 Temporal Convolution Layer (Linear)
            <a id="change">if </a>self.act_func == &quotlinear&quot<a id="change">:
                </a>x_linear = self.linear(x_causal_conv + x_in)
                x_tc_out = x_linear
            
            &#47&#47 Temporal Convolution Layer (Sigmoid)
            elif self.act_func == &quotsigmoid&quot:
                x_sigmoid = self.sigmoid(x_causal_conv + x_in)
                x_tc_out = x_sigmoid

            &#47&#47 Temporal Convolution Layer (Tanh)
            elif self.act_func == &quottanh&quot:
                x_tanh = self.tanh(x_causal_conv + x_in)
                x_tc_out = x_tanh

            &#47&#47 Temporal Convolution Layer (ReLU)
            elif self.act_func == &quotrelu&quot:
                x_relu = self.relu(x_causal_conv + x_in)
                x_tc_out = x_relu
        
            &#47&#47 Temporal Convolution Layer (LeakyReLU)
            elif self.act_func == &quotleaky_relu&quot:
                x_leaky_relu = self.leaky_relu(x_causal_conv + x_in)
                x_tc_out<a id="change"> = </a>x_leaky_relu

            &#47&#47 Temporal Convolution Layer (ELU)
            elif self.act_func == &quotelu&quot:</code></pre><h3>After Change</h3><pre><code class='java'>
        x_in = self.align(x)[:, :, self.Kt - 1:, :]
        x_causal_conv = self.causal_conv(x)

        if <a id="change">self.act_func == &quotglu&quot or self.act_func == &quotgtu&quot</a>:
            x_p = x_causal_conv[:, : self.c_out, :, :]
            x_q = x_causal_conv[:, -self.c_out:, :, :]
</code></pre>