<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.args = args
        self.pad_idx = numericalizer.pad_id

        <a id="change">if </a>sum(emb.dim for emb in encoder_embeddings) != args.dimension<a id="change">:
            </a>raise ValueError(&quotHidden dimension must be equal to the sum of the embedding sizes to use IdentityEncoder&quot)

        self.encoder_embeddings = CombinedEmbedding(numericalizer, encoder_embeddings, args.dimension,
                                                    trained_dimension=0,</code></pre><h3>After Change</h3><pre><code class='java'>
                                                    finetune_pretrained=args.train_encoder_embeddings)

        if self.args.rnn_layers &gt; 0 and self.args.rnn_dimension != self.args.dimension:
            self.dropout<a id="change"> = nn</a><a id="change">.Dropout(</a>args.dropout_ratio<a id="change">)</a>
            self.projection = <a id="change">nn.Linear(</a>self.encoder_embeddings.dimension, self.args.rnn_dimension<a id="change">, bias=False)</a>
        else:
            self.dropout = None
            self.projection = None
</code></pre>