<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.sample()

    def forward(self, x: torch.FloatTensor) -&gt; torch.FloatTensor:
        batch_size = <a id="change">x.shape[0]</a>

        return x * self.mask.repeat(batch_size, 1)

    def sample(self):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x: torch.FloatTensor) -&gt; torch.FloatTensor:
        if self.mask is None:
            <a id="change">raise </a><a id="change">ValueError("Dropout mask hasn&quott been sampled yet. Use .sample()."</a><a id="change">)</a>

        return x * self.mask

    def sample(self, batch_size: int):</code></pre>