<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )

    def forward(self, x):
        <a id="change">return </a>x<a id="change"> + </a>self.layers(x)


class TransformerEncoderLayer(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        ffn_output = self.ffn(x)
        ffn_output = gelu_fast(ffn_output)
        ffn_output = self.ffn_output(ffn_output)
        <a id="change">return </a><a id="change">self.layer_norm(</a>x + ffn_output<a id="change">)</a>


class TransformerEncoderLayer(nn.Module):
    </code></pre>