<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x,
        convolve_across_time = True
    ):
        b<a id="change">, c, *_, h, w</a> = x.shape

        is_video = x.ndim == 5
        convolve_across_time &= is_video</code></pre><h3>After Change</h3><pre><code class='java'>
    ):

        scale_shift = None
        <a id="change">if </a>exists(self.time_mlp) and <a id="change">exists(</a>time_emb<a id="change">):
            </a>time_emb = self.time_mlp(time_emb)
            time_emb = rearrange(time_emb, &quotb c -&gt; b c 1 1&quot)
            scale_shift<a id="change"> = time_emb.chunk(2</a><a id="change">, dim = 1)</a>

        h = self.block1(x, scale_shift = scale_shift, convolve_across_time = convolve_across_time)

        h = self.block2(h, convolve_across_time = convolve_across_time)</code></pre>