<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if not self.use_pre_downsample:
            x = self.downsample(x)

        return x<a id="change">, skips</a>


class UpsampleBlock(nn.Module):
    def __init__(</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Compute scale and shift from time_context
        scale_shift = None
        <a id="change">if </a>exists(self.to_time_embedding) and <a id="change">exists(</a>time_context<a id="change">):
            </a>time_embedding = self.to_time_embedding(time_context)
            time_embedding = rearrange(time_embedding, "b c -&gt; b c 1")
            scale_shift<a id="change"> = time_embedding.chunk(2</a><a id="change">, dim=1)</a>

        h = self.block2(h, scale_shift=scale_shift)

        return h + self.to_out(x)</code></pre>