<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.conv_final = nn.Conv1d(2048, 1, kernel_size=1, stride=1)
        self.lrelu_final = nn.LeakyReLU(negative_slope)
        self.fully_connected = nn.Linear(in_features=8, out_features=1)
        self.dropout4<a id="change"> = </a><a id="change">nn.Dropout()</a>
        self.sigmoid = nn.Sigmoid()

        &#47&#47 initialize weights
        self.init_weights()</code></pre><h3>After Change</h3><pre><code class='java'>
    D

    def __init__(self):
        <a id="change">super()</a>.__init__()
        &#47&#47 D gets a noisy signal and clear signal as input [B x 2 x 16384]
        negative_slope = 0.03
        self.conv1 = nn.Conv1d(in_channels=2, out_channels=32, kernel_size=31, stride=2, padding=15)  &#47&#47 [B x 32 x 8192]</code></pre>