<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        w_mask = h_mask = None

        <a id="change">if </a><a id="change">exists(</a>mask<a id="change">):
            </a>w_mask = rearrange(mask, &quotb h w -&gt; (b w) h&quot)
            h_mask<a id="change"> = </a><a id="change">rearrange(</a>mask, <a id="change">&quotb h w -&gt; (b h) w&quot</a><a id="change">)</a>

        &#47&#47 calculate attention bias

        attn_bias = None</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 axial attention

        <a id="change">if </a>self.col_attn<a id="change">:
            </a>axial_dim = w
            mask_fold_axial_eq = &quotb h w -&gt; (b w) h&quot
            input_fold_eq = &quotb h w d -&gt; (b w) h d&quot
            output_fold_eq<a id="change"> = </a>&quot(b w) h d -&gt; b h w d&quot

        elif self.row_attn:
            axial_dim = h</code></pre>