<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        losses = losses * self.loss_weight(sigmas)
        loss = losses.mean()

        <a id="change">return </a>loss


class DiffusionSampler(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        raise NotImplementedError("Diffusion class missing denoise_fn")

    def forward(self, x: Tensor, noise: Tensor = None, **kwargs) -&gt; Tensor:
        <a id="change">raise </a><a id="change">NotImplementedError(</a>"Diffusion class missing forward function"<a id="change">)</a>


class VDiffusion(Diffusion):
    def __init__(self, net: nn.Module, *, sigma_distribution: Distribution):</code></pre>