<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.input_dim_2 = _streams[self.input_name_2][-1]
        len_input_2 = _streams[self.input_name_2][-2]

        <a id="change">assert </a>len_input_1 == len_input_2, f"Merging streams must have the same length!"

        if (self.merge_name == &quotadd&quot) or (self.merge_name == &quotmult&quot):
            assert self.input_dim_1 == self.input_dim_2, f"When merging streams with &quotadd&quot or &quotmult&quot, the two input" \</code></pre><h3>After Change</h3><pre><code class='java'>
        assert (self.merge_name == &quotadd&quot) or (self.merge_name == &quotmultiply&quot) or (self.merge_name == &quotsubtract&quot), \
            f"Merge stream operations available are: &quotadd&quot, &quotmultiply&quot, and &quotsubtract&quot!"

        if <a id="change">len(self.input_shape_1) &lt; len(self.input_shape_2)</a>:
            self.output_shape = self.input_shape_2
        else:
            self.output_shape = self.input_shape_1</code></pre>