<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        entity_embeddings, embedded_entity = self.entity_encoder(state.entity_state)   

        pos_index = SCHP.max_unit_type + AHP.entity_x_y_index  &#47&#47 13 + 1 + 5 + 5
        entity_x_y = <a id="change">state.entity_state[:, :, pos_index: pos_index + 8 * 2]</a>

        &#47&#47map_skip, embedded_spatial = self.spatial_encoder(state.map_state, entity_embeddings, entity_x_y)
        map_skip, embedded_spatial = self.spatial_encoder(state.map_state)</code></pre><h3>After Change</h3><pre><code class='java'>
        action = ArgsAction(action_type=action_type, delay=delay, queue=queue,
                            units=units, target_unit=target_unit, target_location=target_location)

        <a id="change">if </a>multi_gpu_supvised_learning<a id="change">:
            </a>return action_type<a id="change">, action_type_logits, delay_logits, queue_logits, \
                units_logits, target_unit_logits, target_location_logits</a>

        if return_logits:
</code></pre>