<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class Processor(nn.Module):
    def __init__(self, make_mlp, output_size, message_passing_steps, message_passing_aggregator):
        super().__init__()
        <a id="change">self._submodules_ordered_dict</a> = OrderedDict()
        for index in range(message_passing_steps):
            <a id="change">self._submodules_ordered_dict[str(index)] = </a>GraphNetBlock(model_fn=make_mlp, output_size=output_size, message_passing_aggregator=message_passing_aggregator)
        self.submodules = nn.Sequential(self._submodules_ordered_dict)
        &quot&quot&quot
        super().__init__()</code></pre><h3>After Change</h3><pre><code class='java'>
                 stochastic_message_passing_used=False):
        super().__init__()
        self.stochastic_message_passing_used = stochastic_message_passing_used
        self.graphnet_blocks<a id="change"> = </a><a id="change">nn.ModuleList()</a>
        for index in range(message_passing_steps):
            self.graphnet_blocks.append(GraphNetBlock(model_fn=make_mlp, output_size=output_size,
                                                      message_passing_aggregator=message_passing_aggregator,
                                                      attention=attention))</code></pre>