<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    None for _ in range(num_blocks)
                ]
        else:
            <a id="change">raise ValueError(</a>"Not support `out_channels`={}".format(out_channels)<a id="change">)</a>

        net = []
        for idx in range(num_blocks):
            net.append(D2Block(in_channels, out_channels, kernel_size, depth=depth[idx], eps=eps))</code></pre><h3>After Change</h3><pre><code class='java'>
        elif type(growth_rate) is list:
            pass
        else:
            <a id="change">raise ValueError(</a><a id="change">"Not support `growth_rate`={}".format(</a>growth_rate<a id="change">))</a>
            
        if depth is None:
            depth = [
                None for _ in range(num_blocks)</code></pre>