<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		batch, city_t, xy = x.size()
		embed_enc_inputs = self.Embedding(x)
		enc_h, (h, c) = self.Encoder(embed_enc_inputs, None)
		dec_input = <a id="change">self.dec_input.unsqueeze(0).repeat(batch,1).unsqueeze(1).to(</a>device<a id="change">)</a>
		for i in range(city_t):
			_, (h, c) = self.Decoder(dec_input, (h, c))
			query, ref = h.squeeze(0), enc_h
			for i in range(self.n_glimpse):</code></pre><h3>After Change</h3><pre><code class='java'>
		embed = embed_enc_inputs.size(2)
		enc_h, (h, c) = self.Encoder(embed_enc_inputs, None)
		ref = enc_h
		query<a id="change"> = </a><a id="change">h.permute(1</a>,<a id="change">0</a>,<a id="change">2</a><a id="change">)</a>.to(device)&#47&#47 query = self.dec_input.unsqueeze(0).repeat(batch,1).unsqueeze(1).to(device)
		process_h, process_c = [torch.zeros((1, batch, embed), device = device) for _ in range(2)]
		for i in range(self.n_process):
			query, (process_h, process_c) = self.Decoder(query, (process_h, process_c))
			query = query.squeeze(1)
			for i in range(self.n_glimpse):
				query = self.glimpse(query, ref)
				query<a id="change"> = </a>query.unsqueeze(1)
		&quot&quot&quot	
		- page 5/15 in paper
		critic model architecture detail is out there, "Critic’s architecture for TSP"</code></pre>