<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            x = F.interpolate(x, scale_factor= 1. / self.scale, mode="bilinear", align_corners=False)
        x = self.conv0(x)
        x = self.convblock(x) + x
        x<a id="change"> = </a><a id="change">self.conv1(</a>x<a id="change">)</a>
        <a id="change">flow</a> = x
        <a id="change">if self.scale != 1</a><a id="change">:
            </a>flow<a id="change"> = </a><a id="change">F.interpolate(flow</a><a id="change">, scale_factor= self.scale, mode="bilinear", align_corners=False)</a>
        <a id="change">return flow</a>
    
class IFNet(nn.Module):
    def __init__(self):
        super(IFNet, self).__init__()</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x, flow, scale):
        if scale != 1:
            x = F.interpolate(x, scale_factor = 1. / scale, mode="bilinear", align_corners=False)
        <a id="change">if flow != None</a><a id="change">:
            </a>flow<a id="change"> = </a><a id="change">F.interpolate(flow</a><a id="change">, scale_factor = 1. / scale, mode="bilinear", align_corners=False) * 1. / scale</a>
            x<a id="change"> = </a><a id="change">torch.cat(</a>(x<a id="change">, flow</a>), <a id="change">1</a><a id="change">)</a>
        x = self.conv0(x)
        x = self.convblock(x) + x
        tmp = <a id="change">self.lastconv(</a>x<a id="change">)</a>
        <a id="change">tmp = F</a><a id="change">.interpolate(</a>tmp<a id="change">, scale_factor = scale * 2, mode="bilinear", align_corners=False)</a>
        flow<a id="change"> = tmp[:, :4]</a><a id="change"> * scale * 2</a>
        mask<a id="change"> = tmp[:, 4:5]</a>
        <a id="change">return </a>flow<a id="change">, mask</a>
    
class IFNet(nn.Module):
    def __init__(self):
        super(IFNet, self).__init__()</code></pre>