<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        lifted_x = self.group.lift(x, self.liftsamples)
        <a id="change">return </a>self.net(lifted_x)
</code></pre><h3>After Change</h3><pre><code class='java'>
        lifted_x = self.group.lift(x, self.liftsamples)
        out = self.net(lifted_x)

        <a id="change">if </a>not pool<a id="change">:
            </a>_, features, _ = out
            return features

        return <a id="change">self.pool(</a>out<a id="change">)</a>
</code></pre>