<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.net = nn.Sequential(
            nn.Linear(dim, dim * mult),
            <a id="change">activation()</a>,
            nn.Dropout(dropout),
            nn.Linear(dim * mult, dim))
</code></pre><h3>After Change</h3><pre><code class='java'>

        self.glu = glu
        self.w1 = nn.Linear(dim, dim * mult * (2 if glu else 1))
        self.act<a id="change"> = </a><a id="change">activation()</a>
        self.dropout = nn.Dropout(dropout)
        self.w2 = nn.Linear(dim * mult, dim)

    def forward(self, x):</code></pre>