<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            stride=stride, padding=padding, demod=True
        )
        self.scale_noise = ScaleNoise()
        self.activation = <a id="change">FusedLeakyReLU(</a>out_channels<a id="change">)</a>

    def forward(self, x, style, noise=None):
        if self.upsample:
            x = self.upsample(x)</code></pre><h3>After Change</h3><pre><code class='java'>
            Blur2d(),
            ModulatedConv2d(in_channels, out_channels, style_dim, 3),
            InjectNoise(),
            <a id="change">nn.LeakyReLU(0.2</a><a id="change">, inplace=True)</a>
        ])
        for _ in range(num_conv-1):
            self.block.extend([
                ModulatedConv2d(out_channels, out_channels, style_dim, 3),
                InjectNoise(),
                <a id="change">nn.LeakyReLU(0.2</a><a id="change">, inplace=True)</a>
            ])
    def forward(self, x, y):

        for module in self.block:</code></pre>