<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        loss_ball = - torch.sum(x_target * torch.log(x_pred + self.epsilon), dim=-1) / self.w - torch.sum(
            y_target * torch.log(y_pred + self.epsilon), dim=-1) / self.h

        <a id="change">return </a>loss_ball


class Events_Spotting_Loss(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        x_target = target_ball_position[:, :self.w]
        y_target = target_ball_position[:, self.w: (self.w + self.h)]

        loss_ball_x<a id="change"> = </a>- torch.mean(
            x_target * torch.log(x_pred + self.epsilon) + (1 - x_target)<a id="change"> * </a><a id="change">torch.log(1</a><a id="change"> - </a>x_pred + self.epsilon<a id="change">)</a>, dim=-1)
        loss_ball_y = - torch.mean(
            y_target * torch.log(y_pred + self.epsilon) + (1 - y_target) * torch.log(1 - y_pred + self.epsilon), dim=-1)
        <a id="change">return </a>loss_ball_x + loss_ball_y


class Events_Spotting_Loss(nn.Module):</code></pre>