<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            c = (q @ k.transpose(-2, -1)) * (1.0 / RWKV_HEAD_QK_DIM)
            c = c.masked_fill(self.copy_mask[:T, :T] == 0, 0)

            c = c @ <a id="change">F.one_hot(idx, num_classes=RWKV_CFG.vocab_size).float()</a>
            x = self.head(x) + c
        else:
            x = self.head(x)        
</code></pre><h3>After Change</h3><pre><code class='java'>
            c = c.masked_fill(self.copy_mask[:T, :T] == 0, 0)

            if &quot32&quot in os.environ[&quotRWKV_FLOAT_MODE&quot]:
                c = c @ <a id="change">F.one_hot(</a>idx<a id="change">, num_classes=RWKV_CFG.vocab_size)</a>
            elif os.environ[&quotRWKV_FLOAT_MODE&quot] == &quotfp16&quot:
                c = c @ F.one_hot(idx, num_classes=RWKV_CFG.vocab_size).half()
            elif os.environ[&quotRWKV_FLOAT_MODE&quot] == &quotbf16&quot:
                c = c @ F.one_hot(idx, num_classes=RWKV_CFG.vocab_size).bfloat16()</code></pre>