<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Gather the vectors at the specific positions over a batch.
        
        num_classes = int(sequence.shape[1])
        one_hot_positions = <a id="change">F.one_hot(</a>positions, num_classes<a id="change">)</a>
        if self._is_half:
            one_hot_positions = one_hot_positions.half()
        else:
            one_hot_positions = <a id="change">one_hot_positions.float()</a>
        return torch.matmul(one_hot_positions.detach(), sequence)
</code></pre><h3>After Change</h3><pre><code class='java'>
        Gather the vectors at the specific positions over a batch.
        
        num_classes = int(sequence.shape[1])
        one_hot_positions = <a id="change">F.one_hot(</a>positions, num_classes<a id="change">)</a>.to(dtype=sequence.dtype)
        return torch.matmul(one_hot_positions.detach(), sequence)
</code></pre>