<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 regularization: loss over negative regions.
        loss_neg = torch.tensor([0.])
        if self.reg_loss is not None:
            <a id="change">assert </a>scores_neg is not None, "ERROR"
            loss_neg = self.reg_loss(scores_neg)
            total_loss = total_loss + self.lambda_neg * loss_neg
</code></pre><h3>After Change</h3><pre><code class='java'>
                cams=None
                ):

        <a id="change">if self.dataset_name == constants.GLAS</a><a id="change">:
            </a>return self.forward_glas(
                scores_pos=scores_pos,
                sc_cl_se=sc_cl_se,
                labels=labels,
                masks_pred=masks_pred,
                scores_neg=scores_neg
            )

        <a id="change">if </a><a id="change">self.dataset_name == constants.CAMELYON16P512:
            </a>return self.f_camelyon16(
                scores_pos=scores_pos,
                sc_cl_se=sc_cl_se,
                labels=labels,
                masks_pred=masks_pred,
                scores_neg=scores_neg,
                cams=cams
            )

        <a id="change">raise </a>NotImplementedError

    def __str__(self):
        return "{}()".format(self.__class__.__name__,)</code></pre>