<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        action_type_logits = action_type_logits / self.temperature
        print(&quotaction_type_logits after temperature:&quot, action_type_logits) if debug else None

        if <a id="change">self.is_rl_training and random.random() &lt; 0.5</a>:
            action_type_logits[:] = 0.

        action_type_probs = self.softmax(action_type_logits)</code></pre><h3>After Change</h3><pre><code class='java'>
        if self.is_rl_training:
            if random.random() &lt; 0.8:
                if random.random() &lt; 0.8:
                    <a id="change">action_type_logits[:, 0]</a> = 1e5
                else:
                    action_type_logits[:] = 0.
</code></pre>