<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )
        self.enc = nn.ModuleList()

        <a id="change">if </a>isinstance(gru_dim, int)<a id="change">:
            </a>gru_dim<a id="change"> = </a>[gru_dim]<a id="change"> * </a>self.depth
        fstrides = fstrides or [2] * self.depth
        freqs = num_freqs
        for i in range(self.depth):</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47 )
        self.inner_ch = out_ch
        self.gru = nn.GRU(freqs * out_ch, gru_dim, num_layers=3)
        self.gru_fc<a id="change"> = </a><a id="change">nn.Linear(</a>gru_dim, freqs * out_ch<a id="change">)</a>
        self.gru_skip = nn.Conv2d(out_ch, out_ch, 1)

        self.dec = nn.ModuleList()
        for i in range(self.depth - 1, -1, -1):</code></pre>