<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        for _ in range(repeat - 1):
            &#47&#47 Stride last means only the last convolution in block will have stride
            <a id="change">if stride_last</a><a id="change">:
                </a>stride_val<a id="change"> = </a>[1]
            else:
                stride_val<a id="change"> = </a>stride

            conv.extend(
                self._get_conv_bn_layer(</code></pre><h3>After Change</h3><pre><code class='java'>

        for _ in range(repeat - 1):
            &#47&#47 Stride last means only the last convolution in block will have stride
            stride_val = [1]<a id="change"> if </a>stride_last<a id="change"> else </a>stride

            conv.extend(
                self._get_conv_bn_layer(</code></pre>