<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if i == 0:
                input4 = x.unsqueeze(1)
            else:
                input4<a id="change"> = </a><a id="change">torch.cat(</a>(input4<a id="change">, x.unsqueeze(1)</a>)<a id="change">, dim=1)</a>

        comm = torch.mean(input4, axis=1)
        for i in range(self.agents):
            x = input4[:, i]</code></pre><h3>After Change</h3><pre><code class='java'>
        for i in range(self.agents):
            x = input4[:, i]
            x = self.fc3[i](torch.cat((x, comm), axis=-1))
            <a id="change">output.append(</a>x<a id="change">)</a>
        output = torch.stack(output, dim=1)

        return output.cpu()
</code></pre>