<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class UnetDown(nn.Module):
    def __init__(self, in_size, out_size, normalize=True, dropout=0.0):
        super(UnetDown, self).__init__()
        layers = [<a id="change">nn.Conv2d(</a>in_size, out_size, <a id="change">4</a>, 2, <a id="change">1</a><a id="change">, bias=False)</a>]
        if normalize:
            layers.append(nn.InstanceNorm2d(out_size))
        layers.append(<a id="change">nn.LeakyReLU(0.2</a><a id="change">)</a>)
        if dropout:
            layers.append(nn.Dropout(dropout))
        self.model = nn.Sequential(*layers)</code></pre><h3>After Change</h3><pre><code class='java'>
class UnetDown(nn.Module):
    def __init__(self, in_size, out_size):
        super(UnetDown, self).__init__()
        layers = <a id="change">[</a>Conv3(in_size, out_size), nn.MaxPool2d(2)<a id="change"></a>]
        self.model = nn.Sequential(*layers)

    def forward(self, x):</code></pre>