<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 [*]
        &#47&#47 norm_denom = torch.sqrt(sum(torch.unbind(quats ** 2, dim=-1)) + 1)
        norm_denom = <a id="change">torch.sqrt(</a>torch.sum(quats ** 2, dim=-1) + 1<a id="change">)</a>

        &#47&#47 [*, 3]
        ones = s.new_ones((1,)<a id="change"> * </a>len(quats.shape)).expand(
            quats.shape[:-1] + (1,)
        )

        &#47&#47 [*, 4]
        quats = torch.cat([ones, quats], dim=-1)
        quats = quats<a id="change"> / </a>norm_denom[..., None]

        &#47&#47 [*, 3, 3]
        rots = quat_to_rot(quats)

        <a id="change">return </a>T(rots, trans)


class StructureModuleTransitionLayer(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 [*, 6]
        update = self.linear(s)

        <a id="change">return </a>update 


class StructureModuleTransitionLayer(nn.Module):</code></pre>