<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    
    def __init__(self, d_model=512, num_heads=8):
        super(MultiHeadAttention, self).__init__()
        self.d_k<a id="change"> = </a><a id="change">int(</a>d_model<a id="change"> / </a>num_heads<a id="change">)</a>
        self.d_v = int(d_model / num_heads)
        self.num_heads = num_heads
        self.scaled_dot_attn = ScaledDotProductAttention(self.d_k)
        self.linear_q = nn.Linear(d_model, self.d_k * num_heads)</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, d_model=512, num_heads=8):
        super(MultiHeadAttention, self).__init__()

        <a id="change">assert </a>d_model % num_heads == 0, "d_model % num_heads should be zero."

        self.d_head = int(d_model / num_heads)
        self.num_heads = num_heads</code></pre>