<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    nn.init.xavier_uniform_(embed, gain=nn.init.calculate_gain(&quotrelu&quot))
                    self.embed_dict[ntype] = embed
            else:
                linear_dict[ntype] = <a id="change">[</a>h.shape[1], self.embed_size<a id="change"></a>]
        if need_trans:
            self.hetero_linear<a id="change"> = </a>HeteroLinearLayer(linear_dict, act=act)

    def forward(self):
        r</code></pre><h3>After Change</h3><pre><code class='java'>
        self.h_dict = h_dict
        self.need_trans = need_trans

        self.type_node_num_sum<a id="change"> = </a>[0]
        self.all_type = []
        <a id="change">for </a>ntype, <a id="change">type_num</a> in n_nodes_dict.items()<a id="change">:
            </a>num_now<a id="change"> = </a>self.type_node_num_sum[-1]
            num_now += type_num
            self.type_node_num_sum.append(num_now)
            self.all_type.append(ntype)</code></pre>