<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.c_in_channels = c_in_channels

        &#47&#47 init encoder
        <a id="change">if encoder_type.lower() == "transformer"</a><a id="change">:
            &#47&#47 text encoder
            </a>self.encoder = RelativePositionTransformerEncoder(
                in_hidden_channels, out_channels, in_hidden_channels,
                encoder_params)  &#47&#47 pylint: disable=unexpected-keyword-arg
        elif encoder_type.lower() == &quotresidual_conv_bn&quot:</code></pre><h3>After Change</h3><pre><code class='java'>
        self.c_in_channels = c_in_channels

        &#47&#47 init encoder
        if <a id="change">encoder_type.lower() == "relative_position_transformer"</a>:
            &#47&#47 text encoder
            self.encoder = RelativePositionTransformerEncoder(
                in_hidden_channels, out_channels, in_hidden_channels,
                encoder_params)  &#47&#47 pylint: disable=unexpected-keyword-arg
        elif <a id="change"></a>encoder_type.lower() == &quotresidual_conv_bn&quot<a id="change">:
            </a>self.encoder = ResidualConv1dBNEncoder(in_hidden_channels,
                                                   out_channels,
                                                   in_hidden_channels,
                                                   encoder_params)</code></pre>