<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            ]
        &#47&#47 To preserve compatibility with Caffe weights `ceil_mode=True`
        &#47&#47 is used instead of `padding=1`.
        <a id="change">layer0_modules.append(</a>(<a id="change">&quotpool&quot</a><a id="change">, nn.MaxPool2d(3, stride=2, ceil_mode=True)</a>)<a id="change">)</a>
        self.layer0 = nn.Sequential(OrderedDict(layer0_modules))
        self.layer1 = self._make_layer(
            block,
            planes=64,</code></pre><h3>After Change</h3><pre><code class='java'>
        self.layer0 = nn.Sequential(OrderedDict(layer0_modules))
        &#47&#47 To preserve compatibility with Caffe weights `ceil_mode=True` is used instead of `padding=1`.
        self.pool0 = nn.MaxPool2d(3, stride=2, ceil_mode=True)
        self.feature_info = [<a id="change">dict(num_chs=inplanes, reduction=2, module=&quotlayer0&quot)</a>]
        self.layer1 = self._make_layer(
            block,
            planes=64,
            blocks=layers[0],
            groups=groups,
            reduction=reduction,
            downsample_kernel_size=1,
            downsample_padding=0
        )
        self.feature_info += [dict(num_chs=64 * block.expansion, reduction=4, module=&quotlayer1&quot)]
        self.layer2 = self._make_layer(
            block,
            planes=128,
            blocks=layers[1],
            stride=2,
            groups=groups,
            reduction=reduction,
            downsample_kernel_size=downsample_kernel_size,
            downsample_padding=downsample_padding
        )
        self.feature_info += [dict(num_chs=128 * block.expansion, reduction=8, module=&quotlayer2&quot)]
        self.layer3 = self._make_layer(
            block,
            planes=256,
            blocks=layers[2],
            stride=2,
            groups=groups,
            reduction=reduction,
            downsample_kernel_size=downsample_kernel_size,
            downsample_padding=downsample_padding
        )
        self.feature_info<a id="change"> += </a>[dict(num_chs=256 * block.expansion, reduction=16, module=&quotlayer3&quot)]
        self.layer4 = self._make_layer(
            block,
            planes=512,</code></pre>