<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, *args):
        self.root._forward_edge(*args)
        <a id="change">assert </a>len(self.output_leaves) &gt; 0

        if len(self.output_leaves) == 1:
            return self.output_leaves[0].outs</code></pre><h3>After Change</h3><pre><code class='java'>
                    root._forward_edge(arg)

        if len(self.outputs) == 1:
            return <a id="change">self.outputs[0]</a>.outs
        else:
            return tuple(output_leaf.outs for output_leaf in self.outputs)
</code></pre>