<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

		self.config = config

		layers = <a id="change">[]</a>
		<a id="change">for i</a> in <a id="change">range(</a>self.config[&quotstyle_encoder&quot][&quotn_layers&quot]<a id="change">):
			</a>in_channels = self.config[&quotstyle_encoder&quot][&quotfilters&quot]<a id="change"> * </a>(<a id="change">2</a><a id="change"> ** </a>(<a id="change">i</a><a id="change"> - 1</a>))<a id="change"> if i</a><a id="change"> &gt; 0 else </a>3
			out_channels = <a id="change">2</a><a id="change"> * in_channels</a><a id="change"> if i</a><a id="change"> &gt; 0 else </a>self.config[&quotstyle_encoder&quot][&quotfilters&quot]

			layers<a id="change"> += </a><a id="change">[
				nn.Conv2d(in_channels</a>, out_channels<a id="change">, kernel_size=4, stride=2, padding=1)</a>,
				<a id="change">nn.LeakyReLU(negative_slope=0.2, inplace=True)</a>
			]

		self.convs = nn.Sequential(*layers)
</code></pre><h3>After Change</h3><pre><code class='java'>
		img_size = config[&quotimg_shape&quot][0]

		dim_in = 2**14 // img_size
		blocks<a id="change"> = </a><a id="change">[]</a>
		blocks<a id="change"> += </a><a id="change">[</a><a id="change">nn.Conv2d(3</a>, <a id="change">dim_in</a>, <a id="change">3</a>, <a id="change">1</a>, <a id="change">1</a><a id="change">)</a>]

		repeat_num<a id="change"> = </a><a id="change">int(np.log2(</a>img_size<a id="change">)</a><a id="change">)</a><a id="change"> - 2</a>
		<a id="change">for </a><a id="change">_</a> in <a id="change">range(</a>repeat_num<a id="change">):
			dim_out = </a><a id="change">min(dim_in</a><a id="change">*2</a>, max_conv_dim<a id="change">)</a>
			blocks<a id="change"> += </a><a id="change">[ResBlk(dim_in</a>, <a id="change">dim_out</a><a id="change">, downsample=True)</a>]
			dim_in<a id="change"> = dim_out</a>

		blocks<a id="change"> += </a><a id="change">[</a><a id="change">nn.LeakyReLU(0.2</a><a id="change">)</a>]
		blocks<a id="change"> += </a><a id="change">[nn</a><a id="change">.Conv2d(</a>dim_out, dim_out, <a id="change">4</a>, <a id="change">1</a>, <a id="change">0</a><a id="change">)</a>]
		blocks<a id="change"> += </a><a id="change">[nn</a><a id="change">.LeakyReLU(0.2</a><a id="change">)</a>]
		self.shared = nn.Sequential(*blocks)

		self.unshared = nn.ModuleList()</code></pre>