<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, hidden_states):
        &#47&#47 We "pool" the model by simply taking the hidden state corresponding
        &#47&#47 to the first token.
        first_token_tensor = <a id="change">hidden_states[:, 0]</a>
        pooled_output = self.dense(first_token_tensor)
        pooled_output = self.activation(pooled_output)
        return pooled_output
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.activation = nn.Tanh()

    def forward(self, hidden_states):
        first_token_tensor = <a id="change">hidden_states.mean(</a>-1<a id="change">)</a>
        pooled_output = self.dense(first_token_tensor)
        pooled_output = self.activation(pooled_output)
        return pooled_output
</code></pre>