<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.global_norm = nn.LayerNorm(dim_global)

        self.global_feedforward = nn.Sequential(
            <a id="change">Rearrange(&quotb () d -&gt; b d&quot</a><a id="change">)</a>,
            Residual(nn.Sequential(
                nn.Linear(dim_global, dim_global),
                nn.GELU()</code></pre><h3>After Change</h3><pre><code class='java'>
                Reduce(&quotb n d -&gt; b d&quot, &quotmean&quot),
                nn.Linear(dim_global, dim),
                nn.GELU(),
                <a id="change">Rearrange(&quotb d -&gt; b () d&quot</a><a id="change">)</a>
            )

        self.local_norm = nn.LayerNorm(dim)
</code></pre>