<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                nn.Linear(inner_dim, dim)
            )
        elif ffn_type == "standard":
            self.net<a id="change"> = </a>nn.Sequential(
                nn.Linear(dim, inner_dim),
                nn.GELU(),
                <a id="change">nn.Dropout(</a>dropout<a id="change">)</a>,
                nn.Linear(inner_dim, dim)
            )
        elif ffn_type == "bilinear":</code></pre><h3>After Change</h3><pre><code class='java'>

        all_rows = []
        for h_ in range(int(heads / 2)):
            <a id="change">all_rows.append(</a>lower_tri_rows * slopes[h_]<a id="change">)</a>
            all_rows.append(upper_tri_rows * slopes[h_])

        &#47&#47 The resultant bias applies the Alibi position bias looking forward to half of the heads, and backwards to the
        &#47&#47 other half. Since for each head, only 1 direction contains positional information, you should probably use</code></pre>