<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            inputs: network output tensor with r x memory_dim feature dimension.
            rnn_hidden: hidden state of the RNN cell.
        
        rnn_hidden<a id="change"> = </a><a id="change">self.rnn(</a>inputs, rnn_hidden<a id="change">)</a>
        outputs = self.relu(rnn_hidden)
        outputs = self.linear(outputs)
        outputs = self.sigmoid(outputs)
        <a id="change">return </a>outputs, rnn_hidden
</code></pre><h3>After Change</h3><pre><code class='java'>
        outputs = self.dropout(inputs)
        outputs = self.linear(outputs)
        outputs = self.sigmoid(outputs)
        <a id="change">return </a>outputs</code></pre>