<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            offsetx = torch.randint(0, width - size, ())
            offsety = torch.randint(0, width - size, ())
            apper = out[:, :, offsetx:offsetx + size, offsety:offsety + size]
            apper = <a id="change">torch.nn.functional.interpolate(</a>apper, (224, 224)<a id="change">, mode = &quotbilinear&quot, align_corners = False)</a>
            pieces.append(normalize_image(apper))

        image = torch.cat(pieces)
</code></pre><h3>After Change</h3><pre><code class='java'>

        pieces = []

        <a id="change">for </a>(num_images, (lo, hi), <a id="change">downsize</a>) in cutout_specs<a id="change">:
            </a>for _ in range(num_images):
                cutout = rand_cutout(out, ratio = (lo, hi))
                if exists(downsize):
                    cutout<a id="change"> = </a>interpolate(cutout, downsize)
                resized_cutout = interpolate(cutout, 224)
                pieces.append(normalize_image(resized_cutout))
</code></pre>