<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 print(&quot&#47&#47&#47&#47&#47&#47 fm&quot,self.fm(embed_x).size())
        &#47&#47 print(&quot&#47&#47&#47&#47&#47&#47 mlp&quot,torch.sum(self.mlp(embed_x).squeeze(-1),dim=1).size())
        if self.enable_qr:
            x = self<a id="change">.linear(x) + self.fm(embed_x) + self.mlp(embed_x).squeeze(1</a><a id="change">)</a>
        else:
            x = self.linear(x).squeeze(1) + torch.sum(self.fm(embed_x),dim=1) + torch.sum(self.mlp(embed_x).squeeze(-1),dim=1)
        return torch.sigmoid(x)
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 print(&quot[DEBUG] linear&quot,self.linear(x).squeeze(1).size())
        &#47&#47 print(&quot[DEBUG] fm&quot,self.fm(embed_x).size())
        &#47&#47 print(&quot[DEBUG] mlp&quot,self.mlp(embed_x).squeeze(-1).size())
        x = self.linear(x).squeeze(1) + <a id="change">self.fm(</a>embed_x<a id="change">)</a> + self.mlp(embed_x).squeeze(-1)
        return torch.sigmoid(x)
</code></pre>