<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class conv_block(nn.Module):
    def __init__(self,ch_in,ch_out):
        super(conv_block,self).__init__()
        self.conv = <a id="change">nn.Sequential(
            </a>nn.Conv2d(ch_in, ch_out, kernel_size=3,stride=1,padding=1,bias=True),
            nn.BatchNorm2d(ch_out),
            nn.ReLU(inplace=True),
            nn.Conv2d(ch_out, ch_out, kernel_size=3,stride=1,padding=1,bias=True),
            nn.BatchNorm2d(ch_out),
            <a id="change">nn.ReLU(inplace=True)
        )</a>


    def forward(self,x):
        x = self.conv(x)</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.Upsample(scale_factor=2),
            nn.Conv2d(in_channels, out_channels, 3, 1, 1)
        )
        self.resblocks = <a id="change">nn.ModuleList(</a>[ResNetBlock(in_channels, num_groups, skip_connection_scale, swish, skip_path=skip_path) for i in range(numResNetBlocks)]<a id="change">)</a>

    def forward(self, x):
        for resblock in self.resblocks:
            x = resblock(x) </code></pre>