<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        hx, cx = hidden
        gates = self.linear_ih(input) + self.linear_hh(hx)
        ingate<a id="change">, forgetgate, cellgate, outgate = </a><a id="change">gates.chunk(4</a>, <a id="change">1</a><a id="change">)</a>

        ingate = torch.sigmoid(ingate)
        forgetgate = torch.sigmoid(forgetgate)
        cellgate = torch.tanh(cellgate)</code></pre><h3>After Change</h3><pre><code class='java'>
        o = torch.sigmoid(self.linear_o_i(input) + self.linear_o_h(h))
        c_prime = (f * c) + (i * g)
        h_prime = o * torch.tanh(c_prime)
        <a id="change">return </a>h_prime, c_prime

    def init_weights(self, init_weight):
        nn.init.uniform_(self.linear_i_i.weight.data, -init_weight, init_weight)</code></pre>