<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.output_size = trainargs[&quotoutput_size&quot]
        self.num_layers = len(trainargs[&quothidden_sizes&quot]) + 1

        <a id="change">if trainargs[&quotfp_type&quot] == &quotsep&quot</a><a id="change">:
            </a>self.input_dim<a id="change"> = </a>trainargs[&quotrctfp_size&quot] + trainargs[&quotprodfp_size&quot] &#47&#47 will be rctfp_size + prodfp_size for FF_sep
        elif <a id="change">trainargs[&quotfp_type&quot] == &quotdiff&quot</a><a id="change">:
            </a>self.input_dim<a id="change"> = </a>trainargs[&quotrctfp_size&quot]
            assert trainargs[&quotrctfp_size&quot] == trainargs[&quotprodfp_size&quot], &quotrctfp_size != prodfp_size, unable to make difference FPs!!!&quot

        self.create_ffn(trainargs)</code></pre><h3>After Change</h3><pre><code class='java'>
            input_dim = rctfp_size + prodfp_size  
        elif rxn_type == &quotdiff&quot:
            input_dim = rctfp_size
            <a id="change">assert </a>rctfp_size == prodfp_size, &quotrctfp_size must equal prodfp_size for difference fingerprints!&quot

        num_layers = len(hidden_sizes) + 1
        dropout = nn.Dropout(dropout)</code></pre>