<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    self.combining_function(trial_embeddings, dim=0)
                )

            combined_embedding<a id="change"> = </a><a id="change">torch.stack(</a>combined_embedding<a id="change">, dim=0)</a>

        assert not torch.isnan(combined_embedding).any(), "NaNs in embedding."

        &#47&#47 add number of trials as additional input</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 Get number of trials from non-nan entries
        num_batch, max_num_trials = x.shape[0], x.shape[self.aggregation_dim]
        nan_counts = (
            <a id="change">torch.isnan(x)
            .sum(dim=self.aggregation_dim)  &#47&#47 count nans over trial dimension
            .reshape(-1)[:num_batch]  &#47&#47 counts are the same across data dims
            .unsqueeze(-1</a><a id="change">)  &#47&#47 make it (batch, 1) to match embeddings below
        )</a>
        &#47&#47 number of non-nan trials
        trial_counts = max_num_trials - nan_counts

        &#47&#47 get nan entries</code></pre>