<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for _ in range(depth):
            layers.append(nn.ModuleList([
                SinkhornSelfAttention(dim, causal = causal, heads = heads, buckets = buckets, sinkhorn_iter = sinkhorn_iter, n_sortcut = n_sortcut, temperature = temperature),
                <a id="change">Chunk(</a>ff_chunks, <a id="change">FeedForward(</a>dim<a id="change">)</a><a id="change">, along_dim=1)</a>
            ]))
        self.layers = ReversibleSequence(layers)
    def forward(self, x, input_mask = None):
        x = torch.cat([x, x], dim = -1)</code></pre><h3>After Change</h3><pre><code class='java'>
        for _ in range(depth):
            layers.append(nn.ModuleList([
                WithNorm(nn.LayerNorm, dim, SinkhornSelfAttention(dim, causal = causal, heads = heads, buckets = buckets, sinkhorn_iter = sinkhorn_iter, n_sortcut = n_sortcut, temperature = temperature)),
                <a id="change">Chunk(</a>ff_chunks, WithNorm(nn.LayerNorm, dim, <a id="change">FeedForward(</a>dim<a id="change">)</a>)<a id="change">, along_dim=1)</a>
            ]))
        self.layers = ReversibleSequence(layers)
    def forward(self, x, input_mask = None):
        x = torch.cat([x, x], dim = -1)</code></pre>