<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, logits, samples, soft):
        if samples is None:
            return <a id="change">self.gumbel_softmax(</a>logits, self._temperature, self._eps<a id="change">, hard=True)</a>
        else:
            return -torch.sum(-samples * F.log_softmax(logits, -1), -1)
</code></pre><h3>After Change</h3><pre><code class='java'>
        else:
            &#47&#47 Reparametrization trick.
            ret = y_soft
        <a id="change">return </a>ret<a id="change">, y_soft</a>
</code></pre>