<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        for (time_attn, spatial_attn, ff) in self.layers:
            x = time_attn(x, &quotb (f n) d&quot, &quot(b n) f d&quot, n = n)
            <a id="change">x</a> = spatial_attn(x, &quotb (f n) d&quot, &quot(b f) n d&quot, f = f)
            x = <a id="change">ff(</a>x<a id="change">)</a>

        cls_token = tokens[:, 0]
        return self.to_out(cls_token)
</code></pre><h3>After Change</h3><pre><code class='java'>

        for (time_attn, spatial_attn, ff) in self.layers:
            x = time_attn(x, &quotb (f n) d&quot, &quot(b n) f d&quot, n = n) + x
            <a id="change">x</a> = spatial_attn(x, &quotb (f n) d&quot, &quot(b f) n d&quot, f = f)<a id="change"> + </a>x
            x = <a id="change">ff(</a>x<a id="change">) + </a>x

        cls_token = tokens[:, 0]
        return self.to_out(cls_token)</code></pre>