<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47implement manual circular padding
        self.conv = nn.Conv1d(1, 1, kernel_size=k_size, padding=0, bias=False)
        self.padding = (k_size - 1) // 2
        self.sigmoid<a id="change"> = </a><a id="change">nn.Sigmoid()</a>

    def forward(self, x):
        &#47&#47 Feature descriptor on the global spatial information
        y = self.avg_pool(x)</code></pre><h3>After Change</h3><pre><code class='java'>

        if channels is not None:
            t = int(abs(math.log(channels, 2) + beta) / gamma)
            kernel_size = <a id="change">max(</a>t if t % 2 else t + 1, <a id="change">3</a><a id="change">)</a>

        self.avg_pool = nn.AdaptiveAvgPool2d(1)
        &#47&#47pytorch circular padding mode is buggy as of pytorch 1.4
        &#47&#47see https://github.com/pytorch/pytorch/pull/17240</code></pre>