<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            &#47&#47 The prior score is the product between edge weights and the
            &#47&#47 pre-computed object detection scores with LIS
            all_prior.append(
                <a id="change">adjacency_matrix[x_keep, y_keep, None]</a><a id="change"> *
                </a><a id="change">self.compute_prior_scores(x_keep</a>, <a id="change">y_keep</a>, scores, labels<a id="change">)</a>
            )

            counter += n
</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47 The prior score is the product between edge weights and the
            &#47&#47 pre-computed object detection scores with LIS
            all_prior.append(
                <a id="change">self.compute_prior_scores(</a>x_keep, y_keep, scores, labels<a id="change">)</a>
            )

            counter += n
</code></pre>