<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        in_channels = 3
        out_channels = 64

        <a id="change">for _</a> in <a id="change">range(</a>num_conv_block<a id="change">)</a><a id="change">:
            </a>block += [nn.ReflectionPad2d(1),
                      nn.Conv2d(in_channels, out_channels, 3),
                      nn.LeakyReLU(),
                      nn.BatchNorm2d(out_channels)]
            in_channels = out_channels

            block += <a id="change">[nn.ReflectionPad2d(</a>1<a id="change">)</a>,
                      <a id="change">nn.Conv2d(</a>in_channels, out_channels, 3, 2<a id="change">)</a>,
                      nn.LeakyReLU()<a id="change"></a>]
            out_channels *= 2

        out_channels //= 2</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.LeakyReLU(negative_slope=0.2, inplace=True),

            &#47&#47 Conv1
            <a id="change">nn.Conv2d(</a>64, 128<a id="change">, kernel_size=3, stride=1, padding=1, bias=False)</a>,
            nn.BatchNorm2d(128),
            nn.LeakyReLU(negative_slope=0.2, inplace=True),
            nn.Conv2d(128, 128, kernel_size=4, stride=2, padding=1, bias=False),
            nn.BatchNorm2d(128),
            nn.LeakyReLU(negative_slope=0.2, inplace=True),

            &#47&#47 Conv2
            nn.Conv2d(128, 256, kernel_size=3, stride=1, padding=1, bias=False),
            nn.BatchNorm2d(256),
            nn.LeakyReLU(negative_slope=0.2, inplace=True),
            nn.Conv2d(256, 256, kernel_size=4, stride=2, padding=1, bias=False),
            nn.BatchNorm2d(256),
            nn.LeakyReLU(negative_slope=0.2, inplace=True),

            &#47&#47 Conv3
            nn.Conv2d(256, 512, kernel_size=3, stride=1, padding=1, bias=False),
            nn.BatchNorm2d(512),
            nn.LeakyReLU(negative_slope=0.2, inplace=True),
            nn.Conv2d(512, 512, kernel_size=4, stride=2, padding=1, bias=False),
            nn.BatchNorm2d(512),
            <a id="change">nn.LeakyReLU(negative_slope=0.2, inplace=True)</a>,

            &#47&#47 Conv4
            nn.Conv2d(512, 512, kernel_size=3, stride=1, padding=1, bias=False),</code></pre>