<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		self.__initial_width = img_shape[1] // (2 ** n_adain_layers)
		self.__adain_dim = adain_dim

		self.fc_layers = <a id="change">nn.Sequential(
			</a><a id="change">nn.Linear(
				in_features=content_dim,
				out_features=self.__initial_height * self.__initial_width * (adain_dim // 8)
			)</a>,

			nn.LeakyReLU(),

			nn.Linear(
				in_features=self.__initial_height * self.__initial_width * (adain_dim // 8),
				out_features=self.__initial_height * self.__initial_width * (adain_dim // 4)
			),

			nn.LeakyReLU(),

			<a id="change">nn.Linear(
				in_features=self.__initial_height * self.__initial_width * (adain_dim // 4),
				out_features=self.__initial_height * self.__initial_width * adain_dim
			)</a>,

			nn.LeakyReLU()<a id="change">
		)</a>

		self.adain_conv_layers = nn.ModuleList()
		for i in range(n_adain_layers):
			self.adain_conv_layers += [
				nn.Upsample(scale_factor=(2, 2)),
				nn.Conv2d(in_channels=adain_dim, out_channels=adain_dim, padding=1, kernel_size=3),
				nn.LeakyReLU(),
				AdaptiveInstanceNorm2d(adain_layer_idx=i)
			]

		self.adain_conv_layers<a id="change"> = </a><a id="change">nn.Sequential(</a>*<a id="change">self.adain_conv_layers)</a>

		self.last_conv_layers = nn.Sequential(
			nn.Conv2d(in_channels=adain_dim, out_channels=64, padding=2, kernel_size=5),
			nn.LeakyReLU(),</code></pre><h3>After Change</h3><pre><code class='java'>
		self.content_embedding = nn.Embedding(config[&quotn_imgs&quot], config[&quotcontent_dim&quot], config[&quotcontent_std&quot])
		self.class_embedding = nn.Embedding(config[&quotn_classes&quot], config[&quotclass_dim&quot])
		self.modulation = Modulation(config[&quotclass_dim&quot], config[&quotn_adain_layers&quot], config[&quotadain_dim&quot])
		self.decoder = Decoder(config[&quotcontent_dim&quot], <a id="change">config[&quotn_adain_layers&quot]</a>, config[&quotadain_dim&quot], config[&quotimg_shape&quot])

	def forward(self, img_id, class_id):
		content_code = self.content_embedding(img_id)</code></pre>