<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    minibatch standard deviation
    &quot&quot&quot
    def forward(self, x):
        std = torch.std(x).expand(x.shape[0], 1, *<a id="change">x.shape[2:]</a>)
        return torch.cat([x, std], dim=1)

class Blur2d(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
&quot&quot&quotPixel Normalization&quot&quot&quot
class PixelNorm(nn.Module):
    def forward(self, x):
        x = x / <a id="change">x.pow(2</a><a id="change">)</a>.mean(dim=1, keepdim=True).sqrt().add_(1e-4)
        return x

&quot&quot&quot</code></pre>