<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        P -&gt; &quotin&quot | &quotunder&quot | &quotwith&quot
    )

    sent = <a id="change">list(tokenize.whitespace(</a>&quotthe dog saw a man in the park&quot<a id="change">)</a><a id="change">)</a>

    RecursiveDescentDemo(grammar, sent).mainloop()

if __name__ == &quot__main__&quot: demo()</code></pre><h3>After Change</h3><pre><code class='java'>
        P -&gt; &quotin&quot | &quotunder&quot | &quotwith&quot
    )

    sent = <a id="change">&quotthe dog saw a man in the park&quot.split()</a>

    RecursiveDescentDemo(grammar, sent).mainloop()

if __name__ == &quot__main__&quot: demo()</code></pre>