<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        EntryDialog(self._top, sentence, instr, self.set_sentence, title)

    def set_sentence(self, sentence):
        self._sent = <a id="change">list(tokenize.whitespace(</a>sentence<a id="change">)</a><a id="change">)</a> &#47&#47[XX] use tagged?
        self.reset()

def demo():</code></pre><h3>After Change</h3><pre><code class='java'>
        EntryDialog(self._top, sentence, instr, self.set_sentence, title)

    def set_sentence(self, sentence):
        self._sent = <a id="change">sentence.split()</a> &#47&#47[XX] use tagged?
        self.reset()

def demo():</code></pre>