<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, num_anchors, strides, anchor_grids):
        super().__init__()

        <a id="change">if not isinstance(strides[0], (list, tuple))</a><a id="change">:
            </a>strides<a id="change"> = tuple(</a><a id="change">(s,) for s in strides)</a>

        self.num_anchors = num_anchors
        self.strides = strides
        self.anchor_grids = anchor_grids</code></pre><h3>After Change</h3><pre><code class='java'>
        anchor_grids: List[List[int]],
    ):
        super().__init__()
        <a id="change">assert </a>len(strides) == len(anchor_grids)
        self.num_anchors = num_anchors
        self.strides = strides
        self.anchor_grids = anchor_grids</code></pre>