<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 bucket query, key, values

        bucket_fn = partial(bucket, buckets)
        b_q, b_k, b_v = <a id="change">map(</a>bucket_fn, (q<a id="change">, k, v</a>)<a id="change">)</a>

        &#47&#47 calculate reordering matrix R with simple sort net

        R = self.sort_net(q, k)</code></pre><h3>After Change</h3><pre><code class='java'>
            b_k_r = expand_dim(b_k_r, 1, buckets)
            b_v_r = expand_dim(b_v_r, 1, buckets)
        
        b_k = torch.cat((b_k_r, b_k), dim=2)<a id="change"> if </a>buckets == kv_buckets<a id="change"> else </a>b_k_r
        b_v = torch.cat((b_v_r, b_v), dim=2) if buckets == kv_buckets else b_v_r

        dots = torch.einsum(&quotbuie,buje-&gt;buij&quot, b_q, b_k) * (d ** -0.5)</code></pre>