<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x, **kwargs):
        &#47&#47 input: T frames: [b, T, c, h, w]
        &#47&#47 output: single frame: [b, c, h, w]
        <a id="change">raise </a>NotImplementedError

    def pred_n(self, x, pred_length=1, **kwargs):
        &#47&#47 input: T frames: [b, T, c, h, w]</code></pre><h3>After Change</h3><pre><code class='java'>
            pred = pred.unsqueeze(dim=1)
            preds.append(pred)
            loss_dicts.append(loss_dict)
            x = torch.cat([<a id="change">x[:, 1:]</a>, pred], dim=1)

        pred = torch.cat(preds, dim=1)
        if loss_dicts[0] is not None:</code></pre>