<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self,
        semantic_token_ids
    ):
        <a id="change">raise </a>NotImplemented

class CoarseTransformer(nn.Module):
    def __init__(</code></pre><h3>After Change</h3><pre><code class='java'>
        return_loss = False
    ):
        if return_loss:
            labels, ids = ids.clone(), <a id="change">ids[:, :-1]</a>

        tokens = self.semantic_embedding(ids)

        start_tokens = repeat(self.start_token, &quotd -&gt; b 1 d&quot, b = ids.shape[0])</code></pre>