<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            (creators_1d, destroyers_1d), 1
        )

        loss = <a id="change">self.loss(
            </a>[persistence_diagram_0d, persistence_diagram_1d]<a id="change">
        )</a>

        <a id="change">return </a>loss
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47    [persistence_diagram_0d, persistence_diagram_1d]
        &#47&#47)

        <a id="change">return </a>[persistence_diagram_0d, persistence_diagram_1d], self.pd_target
</code></pre>