<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        X_ = self.linear1(X_)
        X_ = F.relu(X_)
        y = self.linear2(X_[target_x])
        loss = <a id="change">self.loss(</a>y, target<a id="change">)</a>
        <a id="change">return </a>loss, y, Ws


class GTLayer(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
            X_ = self.linear1(X_)
            X_ = F.relu(X_)
            y = self.linear2(X_)
        <a id="change">return </a>y


class GTLayer(nn.Module):</code></pre>