<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 init fpn
        for m in self.fpn.children():
            <a id="change">if </a>not <a id="change">isinstance(m</a>, ASPP<a id="change">)</a><a id="change">:
                </a>nn.init.normal_(m.weight, mean=0, std=0.01)
                <a id="change">nn.init.constant_(</a>m.bias, 0<a id="change">)</a>

    def forward(self, x):
        &#47&#47 Top-down</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 init fpn
        for m in self.fpn.children():
            nn.init.normal_(m.weight, mean=0, std=0.01)
            <a id="change">nn.init.constant_(</a>m.bias, 0<a id="change">)</a>

    def forward(self, x):
        &#47&#47 Top-down</code></pre>