<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        bias_value = 0
        for modules in self.loc:
            for <a id="change">l</a> in modules.modules():
                <a id="change">if isinstance(</a>l, nn.Conv2d<a id="change">)</a><a id="change">:
                    </a>torch.nn.init.normal_(l.weight, std=0.01)
                    <a id="change">torch.nn.init.constant_(</a>l.bias, bias_value<a id="change">)</a>
        import math
        prior_prob = 0.01
        bias_value = -math.log((1 - prior_prob) / prior_prob)
        for modules in self.conf:</code></pre><h3>After Change</h3><pre><code class='java'>
        bias_value = 0
        for modules in self.loc:
            torch.nn.init.normal_(modules[-1].weight, std=0.01)
            <a id="change">torch.nn.init.constant_(</a>modules[-1].bias, bias_value<a id="change">)</a>
        import math
        prior_prob = 0.01
        bias_value = -math.log((1 - prior_prob) / prior_prob)
        for modules in self.conf:</code></pre>