<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        
        &#47&#47 device = output.device
        batch_size = <a id="change">len(</a>x<a id="change">)</a>
        batch_size<a id="change"> = </a>batch_size<a id="change"> // 2</a>

        x1, x2 = x[:batch_size], x[batch_size:]

        emb1, emb2 = self.backbone(x1), self.backbone(x2)</code></pre><h3>After Change</h3><pre><code class='java'>
        if return_features:
            out0, out1 = (out0, f0), (out1, f1)

        <a id="change">return </a>out0, out1
</code></pre>