<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        cnn_input = torch.cat(cnn_input_list, dim=1)

        <a id="change">with </a><a id="change">torch.no_grad:
            </a>out<a id="change"> = </a>self.cnn(cnn_input)
        
        return out
</code></pre><h3>After Change</h3><pre><code class='java'>

        cnn_input = torch.cat(cnn_input_list, dim=1)

        <a id="change">return </a>self.cnn(cnn_input)


class RNNStateEncoder(nn.Module):</code></pre>