<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &quottry&quot ... stem to &quotspi&quot, &quotfli&quot, &quottri&quot and conflate with &quotspied&quot, &quottried&quot,
        &quotflies&quot ...
        
        if word[-1] == &quoty&quot and len(word) &gt; 2 and self._cons(word, <a id="change">len(</a>word<a id="change">) - </a>2):
            return word[:-1] + &quoti&quot
        else:
            return word</code></pre><h3>After Change</h3><pre><code class='java'>
        def original_condition(stem):
            return self._contains_vowel(stem)
        
        return self._apply_rule_list(word, <a id="change">[
            </a>(
                &quoty&quot,
                &quoti&quot,
                nltk_condition if self.mode == self.NLTK_EXTENSIONS
                               else original_condition
            )<a id="change"></a>
        ])

    def _step2(self, word):
        Implements Step 2 from "An algorithm for suffix stripping"</code></pre>