<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 (B, T, mel_dim) -&gt; (B, T&quot, mel_dim*r)
        if inputs is not None:
            &#47&#47 Grouping multiple frames if necessary
            <a id="change">if inputs.size(-1) == self.mel_dim</a><a id="change">:
                </a>inputs<a id="change"> = </a>inputs.reshape(B, inputs.size(1)<a id="change"> // </a>self.r, -1)
            assert inputs.size(-1) == self.mel_dim * self.r
            T_decoder<a id="change"> = </a>inputs.size(1)

        &#47&#47 Time first (T&quot, B, mel_dim*r)
        if inputs is not None:</code></pre><h3>After Change</h3><pre><code class='java'>
        stop_tokens = torch.cat(stop_tokens, dim=1) &#47&#47 (B, T_decoder)

        &#47&#47 Validation check
        <a id="change">assert </a>greedy or mel_outputs.size(1) == T_decoder

        return mel_outputs, stop_tokens, attn_scores
</code></pre>