<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        if self.identity:
            <a id="change">return </a>x + <a id="change">self.conv(</a>x<a id="change">)</a>
        else:
            return self.conv(x)
</code></pre><h3>After Change</h3><pre><code class='java'>
            )

    def forward(self, x):
        out<a id="change"> = </a><a id="change">self.conv(</a>x<a id="change">)</a>

        if self.identity:
            out<a id="change"> = </a>out + x
        <a id="change">return </a>out

class MobileViTBlock(nn.Module):
    def __init__(self, dim, depth, channel, kernel_size, patch_size, mlp_dim, dropout=0.):</code></pre>