<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.pool = nn.AdaptiveAvgPool2d(output_size)

    def forward(self, x):
        <a id="change">return </a>self.pool(x)

    def feat_mult(self):
        return adaptive_pool_feat_mult(self.pool_type)</code></pre><h3>After Change</h3><pre><code class='java'>
            self.pool = nn.AdaptiveAvgPool2d(output_size)

    def forward(self, x):
        x<a id="change"> = </a>self.pool(x)
        if self.flatten:
            x<a id="change"> = </a><a id="change">x.flatten(1</a><a id="change">)</a>
        <a id="change">return </a>x

    def feat_mult(self):
        return adaptive_pool_feat_mult(self.pool_type)</code></pre>