<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.assertEqual(4, len(filtered))
        
    def test_maximum_informaition_gain_stump_is_selected(self):
        tree = <a id="change">decisiontree.DecisionTree(</a>datasetsDir<a id="change">(self) + &quottest_phones&quot + </a><a id="change">SEP + &quotphoney&quot</a><a id="change">)</a>
        max_ig_stump = tree.maximum_information_gain()
        self.assertEqual(&quotsize&quot, max_ig_stump.attribute.name)
        
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.assertEqual(4, len(filtered))
        
    def test_maximum_informaition_gain_stump_is_selected(self):
        <a id="change">path</a> = datasetsDir<a id="change">(self) + &quottest_phones&quot + </a><a id="change">SEP + &quotphoney&quot</a>
        tree<a id="change"> = </a><a id="change">decisiontree.DecisionTree(format.C45_FORMAT.get_training_instances(</a>path<a id="change">)</a>, <a id="change">format.C45_FORMAT.get_attributes(</a>path<a id="change">)</a>, <a id="change">format.C45_FORMAT.get_klass(</a>path<a id="change">)</a>, format.C45_FORMAT<a id="change">)</a>
        max_ig_stump = tree.maximum_information_gain()
        self.assertEqual(&quotsize&quot, max_ig_stump.attribute.name)
        
</code></pre>