<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

class DecisionTreeTestCase(unittest.TestCase):
    def test_tree_creation(self):
        tree = <a id="change">decisiontree.DecisionTree(</a>datasetsDir<a id="change">(self) + &quottest_phones&quot + </a><a id="change">SEP + &quotphoney&quot</a><a id="change">)</a>
        self.assertNotEqual(None, tree)
        self.assertNotEqual(None, tree.root)
        self.assertEqual(&quotband&quot, tree.root.attribute.name)
        self.assertEqual(1, len(tree.root.children))</code></pre><h3>After Change</h3><pre><code class='java'>

class DecisionTreeTestCase(unittest.TestCase):
    def test_tree_creation(self):
        <a id="change">path</a> = datasetsDir<a id="change">(self) + &quottest_phones&quot + </a><a id="change">SEP + &quotphoney&quot</a>
        tree<a id="change"> = </a><a id="change">decisiontree.DecisionTree(format.C45_FORMAT.get_training_instances(</a>path<a id="change">)</a>, <a id="change">format.C45_FORMAT.get_attributes(</a>path<a id="change">)</a>, <a id="change">format.C45_FORMAT.get_klass(</a>path<a id="change">)</a>, format.C45_FORMAT<a id="change">)</a>
        self.assertNotEqual(None, tree)
        self.assertNotEqual(None, tree.root)
        self.assertEqual(&quotband&quot, tree.root.attribute.name)
        self.assertEqual(1, len(tree.root.children))</code></pre>