<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        torch._C._log_api_usage_once(f"torchrec.modules.{self.__class__.__name__}")
        self.embeddings: nn.ModuleDict = nn.ModuleDict()
        self.embedding_configs = tables
        self._embedding_names: List[str] = <a id="change">[]</a>
        table_names = set()
        shared_feature: Dict[str, bool] = {}
        for embedding_config in tables:
            if embedding_config.name in table_names:</code></pre><h3>After Change</h3><pre><code class='java'>
                config.embedding_dim if self.embedding_dim &lt; 0 else self.embedding_dim
            )
            if self.embedding_dim != config.embedding_dim:
                <a id="change">raise </a><a id="change">ValueError(
                    "All tables in a EmbeddingCollection are required to have same embedding dimension."</a><a id="change">
                )</a>
            dtype = (
                torch.float32 if config.data_type == DataType.FP32 else torch.float16
            )
            self.embeddings[config.name] = nn.Embedding(</code></pre>