<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

class OutputLayer(nn.Module):
    def __init__(self, task="binary", use_bias=True):
        if task not in <a id="change">[</a>"binary", "multiclass", "regression"<a id="change"></a>]:
            raise ValueError("task must be binary, multiclass or regression")

        super(OutputLayer, self).__init__()</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, output_fn=None, output_fn_args=None, use_bias=True):
        super(OutputLayer, self).__init__()
        if not output_fn:
            <a id="change">raise </a><a id="change">ValueError("Arg output_fn must be givin"</a><a id="change">)</a>
        if not output_fn_args:
            output_fn_args = dict()

        self.use_bias = use_bias</code></pre>