<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

            &#47&#47 pairwise attention and transition

            x = <a id="change">attn(</a>x<a id="change">, mask = mask)</a>
            x = ff(x)<a id="change"> + </a>x

        return x, m
</code></pre><h3>After Change</h3><pre><code class='java'>
        msa_mask = None
    ):
        inp = (x, m, mask, msa_mask)
        x<a id="change">, m, *_</a> = checkpoint_sequential(self.layers, 1, inp)
        return x, m

class Alphafold2(nn.Module):</code></pre>