<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 Initial convolution block
        down_layers = [nn.ReflectionPad2d(3),
                       <a id="change">nn.Conv2d(</a>in_channels, <a id="change">64</a><a id="change">, kernel_size=7, stride=1, padding=0, bias=False)</a>,
                       nn.InstanceNorm2d(64),
                       nn.ReLU(inplace=True)]
</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Gamma, Beta block
        if self.light:
            fc<a id="change"> = </a>[<a id="change">nn.Linear(</a>256, 256<a id="change">, bias=False)</a>,
                  nn.ReLU(inplace=True),
                  nn.Linear(256, 256, bias=False),
                  nn.ReLU(inplace=True)]</code></pre>