<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )

    def forward(self, observation):
        <a id="change">if type(observation) is dict</a><a id="change">:
            </a>observation = torch.cat([value for _, value in observation.items()], dim=-1)

        &#47&#47 detach prevents gradient flowing into encoder.
        obs_v = obs_pi = observation</code></pre><h3>After Change</h3><pre><code class='java'>
        self.features_embedding = nn.Linear(feature_size, embedding_size)

    def forward(self, observation):
        img<a id="change"> = </a><a id="change">observation.pop(</a>&quotimg&quot<a id="change">)</a>
        conv_features = self.cnn(img)
        obs_features = torch.cat([value for _, value in observation.items()], dim=-1)
        features_emb = self.features_embedding(obs_features)
        result = torch.cat([conv_features, features_emb], dim=-1)</code></pre>