<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            rst = th.matmul(feat_src, self.weight1) + th.matmul(rst, self.weight2)


            <a id="change">if self.activation is not None</a><a id="change">:
                </a>rst = self.activation(rst)

            return rst
</code></pre><h3>After Change</h3><pre><code class='java'>
                stype, etype, dtype = e
                sub_graph = hg[stype, etype, dtype]
                sub_graph.update_all(aggregate_fn, fn.sum(msg=&quotm&quot, out=&quotout&quot))
                temp = <a id="change">hg.ndata[&quotout&quot].pop(</a>dtype<a id="change">)</a>
                if isinstance(temp, dict):
                    temp = temp[dtype]
                if outputs.get(dtype) is None:
                    outputs[dtype]<a id="change"> = </a>temp
                else:
                    outputs[dtype].add_(temp)
</code></pre>