<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                labels = torch.zeros_like(classification, device=device)
                class_loss_total.append(weighted_binary_focal_loss(
                    classification, labels, self.alpha, self.gamma, reduction=&quotsum&quot))
                reg_loss_total.append(<a id="change">torch.tensor(0.</a><a id="change">)</a>)
                continue
            &#47&#47 ---------------------------------------- class_loss
            iou, matched = box_iou(anchors, boxes_ori).max(dim=1)  &#47&#47 每个anchors只能对应一个boxes</code></pre><h3>After Change</h3><pre><code class='java'>
                labels = torch.zeros_like(classification, device=device)
                class_loss_total.append(weighted_binary_focal_loss(
                    classification, labels, self.alpha, self.gamma, reduction=&quotsum&quot))
                reg_loss_total.append(<a id="change">torch.tensor(0.</a><a id="change">)</a>.to(device))
                continue
            &#47&#47 ---------------------------------------- class_loss
            iou, matched = box_iou(anchors, boxes_ori).max(dim=1)  &#47&#47 每个anchors只能对应一个boxes</code></pre>