<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                         self.hidden_size).to(device)
        out, _ = self.lstm(input0, (h0, c0))
        out = self.attention_net(out)
        out = self.fc(<a id="change">out[:, -1, :]</a>)
        return out

</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, features, device):
        inp = features[0]
        self.sequence_length = <a id="change">inp.size(1</a><a id="change">)</a>
        out, _ = self.lstm(inp)
        out = self.attention_net(out, device)
        out = self.fc1(out)
        out = self.fc2(out)</code></pre>