<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        super(SoftQNetwork, self).__init__()

        <a id="change">layers</a> = [nn.Linear(in_dim + action_dim, hidden_dim)]

        for l in range(num_layers_linear_hidden):
            layers.append(nn.ReLU())
            layers.append(nn.Linear(hidden_dim, hidden_dim))

        layers.append(nn.Linear(hidden_dim, 1))

        &#47&#47 init
        <a id="change">layers[-1]</a>.weight.data.uniform_(-init_w, init_w)
        <a id="change">layers[-1]</a>.bias.data.uniform_(-init_w, init_w)

        self.net = nn.Sequential(*layers)
</code></pre><h3>After Change</h3><pre><code class='java'>

class Critic(nn.Module):
    def __init__(self, in_dim, action_dim, hidden_dim, num_layers_linear_hidden):
        <a id="change">super(Critic, self).__init__()</a>

        assert len(in_dim) == 1
        assert len(action_dim) == 1
</code></pre>