<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return (sigmas ** 2 + self.sigma_data ** 2) * (sigmas * self.sigma_data) ** -2

    def forward(self, x: Tensor, noise: Tensor = None, **kwargs) -&gt; Tensor:
        batch, device = x.shape[0]<a id="change">, x.device</a>

        &#47&#47 Sample amount of noise to add for each batch element
        sigmas = self.sigma_distribution(num_samples=batch, device=device)
        sigmas_padded = rearrange(sigmas, "b -&gt; b 1 1")</code></pre><h3>After Change</h3><pre><code class='java'>
        raise NotImplementedError("Diffusion class missing denoise_fn")

    def forward(self, x: Tensor, noise: Tensor = None, **kwargs) -&gt; Tensor:
        <a id="change">raise </a><a id="change">NotImplementedError(</a>"Diffusion class missing forward function"<a id="change">)</a>


class VDiffusion(Diffusion):
    def __init__(self, net: nn.Module, *, sigma_distribution: Distribution):</code></pre>