<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        q, k, v = (self.to_q(x), self.to_k(x), self.to_v(x))

        q = q.reshape(b, self.heads, -1, h * w)
        k<a id="change"> = </a><a id="change">k.reshape(</a>b, -1, h * w<a id="change">)</a>
        v = v.reshape(b, -1, h * w)

        if context is not None:
            context = context.reshape(b, c, 1, -1)</code></pre><h3>After Change</h3><pre><code class='java'>

        q, k, v = (self.to_q(x), self.to_k(x), self.to_v(x))

        q, k, v = <a id="change">map(</a>lambda t: t.reshape(b, heads, -1, h * w), (q<a id="change">, k, v</a>)<a id="change">)</a>

        if context is not None:
            context = context.reshape(b, c, 1, -1)
            ck, cv = self.to_k(context), self.to_v(context)</code></pre>