<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Returns:
            output (batch_size, out_channels, T)
        
        <a id="change">x</a> = self.map(input)
        x_sigmoid = self.map_gate(input)
        output = x<a id="change"> * </a><a id="change">torch.sigmoid(</a>x_sigmoid<a id="change">)</a>
        
        return output

class GLU2d(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        Returns:
            output (batch_size, out_channels, T)
        
        <a id="change">x_output</a> = self.map(input)
        x_gate = self.map_gate(input)
        x_gate = <a id="change">torch.sigmoid(</a>x_gate<a id="change">)</a>

        <a id="change">if self.out_nonlinear is not None</a><a id="change">:
            </a>x_output<a id="change"> = self.out_nonlinear(</a>x_output<a id="change">)</a>
        
        output<a id="change"> = </a>x_output<a id="change"> * </a>x_gate
        
        return output
</code></pre>