<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                nn.Dropout(dropout),
                nn.Linear(inner_dim, dim)
            )
        elif <a id="change">ffn_type == "bilinear"</a><a id="change">:
            </a>self.net = nn.Sequential(
                Bilinear(dim, inner_dim),
                <a id="change">nn.Dropout(</a>dropout<a id="change">)</a>,
                nn.Linear(inner_dim, dim)
            )
        else:</code></pre><h3>After Change</h3><pre><code class='java'>
        slopes = self._get_slopes(heads=int(heads / 2))

        all_rows = []
        for h_ in <a id="change">range(</a>int(heads / 2)<a id="change">)</a>:
            all_rows.append(lower_tri_rows * slopes[h_])
            all_rows.append(upper_tri_rows * slopes[h_])
</code></pre>