<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.nonlinear = False
        else:
            self.nonlinear = True
            <a id="change">if nonlinear == &quotrelu&quot</a><a id="change">:
                </a>self.nonlinear1d<a id="change"> = nn.ReLU()</a>
            elif <a id="change">nonlinear == &quottanh&quot</a><a id="change">:
                </a>self.nonlinear1d<a id="change"> = </a>nn.Tanh()
            else:
                <a id="change">raise </a>NotImplementedError(<a id="change">"Invalid nonlinear function ({}) is specified.".format(</a>nonlinear<a id="change">)</a>)
    
    def forward(self, input):
        x = self.fc(input)</code></pre><h3>After Change</h3><pre><code class='java'>
            self.nonlinear = False
        else:
            self.nonlinear = True
            self.nonlinear1d<a id="change"> = </a><a id="change">choose_nonlinear(</a>nonlinear<a id="change">)</a>
    
    def forward(self, input):
        x = self.fc(input)
        x = self.norm1d(x)</code></pre>