<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        bin_weight = min(((step - self.bin_start_steps) / self.bin_warmup_steps) / 100, 0.01)

        if self.include_forward_loss and self.forward_start_steps &lt; step:
            l_forward = <a id="change">self.l_forward_func(</a>torch.log(soft_attention), in_lens, out_lens<a id="change">)</a>
        else:
            l_forward = 0.0

        if self.bin_start_steps &lt; step:</code></pre><h3>After Change</h3><pre><code class='java'>
        bin_weight = min(((step - self.bin_start_steps) / self.bin_warmup_steps) / 100, 0.01)

        if self.include_forward_loss and self.forward_start_steps &lt; step:
            l_forward = <a id="change">self.l_forward_func(</a>torch.log(soft_attention), in_lens, out_lens<a id="change">) * </a>self.forward_loss_weight
        else:
            l_forward = 0.0
</code></pre>