<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            print(&quotyr&quot, yr)
        preds = torch.unsqueeze(new_data_final, dim=1)

        pred = <a id="change">np.squeeze(preds).cpu().data.numpy()</a>
        multi_fuse<a id="change"> = </a>255 * pred</code></pre><h3>After Change</h3><pre><code class='java'>
            print(&quotyr&quot, yr)
        preds = torch.unsqueeze(new_data_final, dim=1)
        print(preds.min())
        <a id="change">return </a>preds</code></pre>