<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        inputs = list(inputs)
        if not all(isinstance(x, LTNObject) for x in inputs):
            <a id="change">raise TypeError("Only LTNObject objects are valid inputs for function."</a><a id="change">)</a>

        proc_objs, output_vars, output_shape = process_ltn_objects(inputs)

        &#47&#47 the management of the input is left to the model or the lambda function</code></pre><h3>After Change</h3><pre><code class='java'>
        
        inputs = list(inputs)
        if not all(isinstance(x, LTNObject) for x in inputs):
            <a id="change">raise </a><a id="change">TypeError(</a><a id="change">"Expected parameter &quotinputs&quot to be a tuple of LTNObject, but got "</a><a id="change"> + str(</a><a id="change">[type(i)
                                                                                                      for i in inputs])</a><a id="change">)</a>

        proc_objs, output_vars, output_shape = process_ltn_objects(inputs)

        &#47&#47 the management of the input is left to the model or the lambda function</code></pre>