<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise RuntimeError("Unknown value for attention norm type")
        context = torch.bmm(alignment.unsqueeze(1), inputs)
        context = context.squeeze(1)
        return context<a id="change">, alignment</a>


class Postnet(nn.Module):
    def __init__(self, mel_dim, num_convs=5):</code></pre><h3>After Change</h3><pre><code class='java'>
                    attention).sum(dim=1).unsqueeze(1)
        else:
            raise RuntimeError("Unknown value for attention norm type")
        <a id="change">if </a><a id="change">self.forward_attn:
            &#47&#47 forward attention
            </a>prev_alpha<a id="change"> = </a><a id="change">F.pad(</a>self.alpha[:, :-1].clone(), (1<a id="change">, 0, 0, 0</a>)<a id="change">)</a>.to(inputs.device)
            self.alpha = (((1-self.u) * self.alpha.clone().to(inputs.device) + self.u * prev_alpha) + 1e-7) * alignment
            alpha_norm = self.alpha / self.alpha.sum(dim=1).unsqueeze(1)
            &#47&#47 compute context</code></pre>