<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                "Padding must be &quotsame&quot or &quotvalid&quot. Got " + self.padding
            )

        <a id="change">if </a>self.padding == "causal"<a id="change">:
            </a>self.conv.weight.data<a id="change"> = </a>self.conv.weight.data<a id="change"> * </a>self.k_mask
        wx = self.conv(x)

        if self.unsqueeze:</code></pre><h3>After Change</h3><pre><code class='java'>
            num_pad = (self.kernel_size[1] - 1) * self.dilation[1]
            x = F.pad(x, (0, 0, num_pad, 0))

            <a id="change">print("padded tensor is "</a>, x<a id="change">)</a>

        elif self.padding == "valid":
            pass
</code></pre>