<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            torch.Tensor(out_channels, in_channels, *self.kernel_size))
        self.bias = nn.Parameter(torch.zeros(out_channels))
        self.reset_parameters()
        <a id="change">if not bias</a><a id="change">:
            </a>self.bias.requires_grad<a id="change"> = </a>False

    def reset_parameters(self):
        n = self.in_channels</code></pre><h3>After Change</h3><pre><code class='java'>
        self.padding = padding
        self.dilation = dilation
        self.deformable_groups = deformable_groups
        self.with_bias<a id="change"> = </a>bias

        self.weight = nn.Parameter(
            torch.Tensor(out_channels, in_channels, *self.kernel_size))
        <a id="change">if bias</a><a id="change">:
            </a>self.bias = nn.Parameter(torch.Tensor(out_channels))
        else:
            self.bias<a id="change"> = nn.Parameter(</a><a id="change">torch.Tensor([0</a>]<a id="change">))</a>  &#47&#47 fake tensor
        self.reset_parameters()

    def reset_parameters(self):</code></pre>