<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        w = w_1 / w_2

        out<a id="change"> = </a>torch.matmul(w.transpose(1, 2), encoder_outputs)

        return out<a id="change">, w</a>


class DurationPredictor(nn.Module):
     Duration Parameter Predictor </code></pre><h3>After Change</h3><pre><code class='java'>
        w = self.get_alignment_energies(g, t)  &#47&#47 [B, L, T]

        if mask is not None:
            w = <a id="change">w.masked_fill(</a>mask.unsqueeze(-1), <a id="change">0.0</a><a id="change">)</a>

        attn = w / (torch.sum(w, dim=1).unsqueeze(1) + 1e-8)  &#47&#47 [B, L, T]
        out = torch.bmm(attn.transpose(1, 2), encoder_outputs)
</code></pre>