<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    @staticmethod
    def forward(x: torch.Tensor) -&gt; torch.Tensor:
        <a id="change">return </a>x<a id="change"> * </a>(<a id="change">torch.tanh(</a>F.softplus(x)<a id="change">))</a>


class Sine(nn.Module):
    r Applies the sine function element-wise.</code></pre><h3>After Change</h3><pre><code class='java'>

    @staticmethod
    def forward(x: torch.Tensor) -&gt; torch.Tensor:
        out<a id="change"> = </a>x<a id="change"> * </a>(<a id="change">torch.tanh(</a>torch.nn.functional.softplus(x)<a id="change">))</a>

        <a id="change">return </a>out


class Sine(nn.Module):</code></pre>