<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.conv_img = nn.Conv2d(nf, 3, 3, padding=1)

    def forward(self, z, y):
        <a id="change">assert</a>(z.size(0) == y.size(0))
        batch_size = z.size(0)

        if y.dtype is torch.int64:</code></pre><h3>After Change</h3><pre><code class='java'>
        self.conv_img = nn.Conv2d(nf, 3, 3, padding=1)

    def forward(self, z):
        z<a id="change"> = </a><a id="change">z.squeeze(-1</a><a id="change">)</a>.squeeze(-1)
        batch_size = z.size(0)
        out = self.fc(z)
        out = out.view(batch_size, self.nf0, self.s0, self.s0)</code></pre>