<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        from torch.nn import TransformerEncoder, TransformerEncoderLayer
        self.model_type = &quotTransformer&quot

        d_pe = <a id="change">int(</a>perc<a id="change"> * </a>d_model<a id="change">)</a>
        d_enc = d_model - d_pe

        &#47&#47 d_pe = 16
</code></pre><h3>After Change</h3><pre><code class='java'>
        d_fi = 128 + 16

        &#47&#47 d_fi = d_inp
        <a id="change">if static == False</a><a id="change">:
            </a>d_fi<a id="change"> = </a>128  &#47&#47 + d_inp  &#47&#47 if static is None
        else:
            d_fi = 128 + d_pe
        self.mlp = nn.Sequential(</code></pre>