<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        h = self.fc1(embedded_sent.mean(1))
        z = self.fc2(h)

        <a id="change">return </a>self.softmax(z)

&#47&#47 ====================================================================================================================
</code></pre><h3>After Change</h3><pre><code class='java'>
        embedded_sent = self.embedding(text)
        h = self.fc1(embedded_sent.mean(1))
        z = self.fc2(h)
        out<a id="change"> = </a><a id="change">F.log_softmax(</a>z<a id="change">, dim=1)</a>

        <a id="change">return </a>out

&#47&#47 ====================================================================================================================
</code></pre>