<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        upsampling = []
        for _ in range(2):
            upsampling += [
                <a id="change">nn.Conv2d(64</a>, <a id="change">256</a><a id="change">, kernel_size=3, stride=1, padding=1)</a>,
                nn.PixelShuffle(upscale_factor=2),
                <a id="change">nn.PReLU()</a>
            ]
        self.upsampling = nn.Sequential(*upsampling)

        &#47&#47 Final output layer</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 Upsampling layers
        upsampling = []
        for _ in range(2):
            <a id="change">upsampling.append(</a>UpsampleBlock(256)<a id="change">)</a>
        self.upsampling = nn.Sequential(*upsampling)

        &#47&#47 Final output layer
        self.conv3 = nn.Conv2d(64, 3, kernel_size=9, stride=1, padding=4)</code></pre>