<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.BatchNorm2d(oc),
            nn.ReLU(),
            nn.Conv2d(oc, oc, 3, 1, 1),
            <a id="change">nn.BatchNorm2d(</a>oc<a id="change">)</a>,
            nn.ReLU(),
            <a id="change">nn.Conv2d(</a>oc, oc, 3, 1, 1<a id="change">)</a>,
            nn.BatchNorm2d(oc),
            nn.ReLU(),
        )</code></pre><h3>After Change</h3><pre><code class='java'>
class Conv3(nn.Module):
    def __init__(self, ic, oc):
        super().__init__()
        self.main = <a id="change">nn.Sequential(
            </a>nn.Conv2d(ic, oc, 3, 1, 1),
            nn.BatchNorm2d(oc),
            nn.ReLU()<a id="change">,
        )</a>
        self.conv<a id="change"> = </a>nn.Sequential(
            nn.Conv2d(oc, oc, 3, 1, 1),
            <a id="change">nn.BatchNorm2d(</a>oc<a id="change">)</a>,
            nn.ReLU(),
            <a id="change">nn.Conv2d(</a>oc, oc, 3, 1, 1<a id="change">)</a>,
            nn.BatchNorm2d(oc),
            nn.ReLU(),
        )</code></pre>