<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    Context Enhancement Module
    def __init__(self, channels, fea_channel, conv_block):
        super(CEM, self).__init__()
        self.conv1 = conv_block(<a id="change">channels[0]</a>, fea_channel, kernel_size=1, padding=0, relu=False)
        self.conv2 = nn.Sequential(
            conv_block(<a id="change">channels[1]</a>, fea_channel, kernel_size=1, padding=0, relu=False),
            nn.Upsample(scale_factor=2, mode=&quotnearest&quot),
            )
        self.conv3 = nn.Sequential(</code></pre><h3>After Change</h3><pre><code class='java'>
    Context Enhancement Module
    def __init__(self, channels, fea_channel, conv_block):
        super(CEM, self).__init__()
        <a id="change">for </a>i, <a id="change">c</a> in enumerate(channels)<a id="change">:
            </a>layer_name<a id="change"> = </a>f&quotconv{i+1}&quot
            <a id="change">if </a>i == 0<a id="change">:
                </a>layer = conv_block(c, fea_channel, kernel_size=1, relu=False)
            else:
                layer = nn.Sequential(
                    conv_block(c, fea_channel, kernel_size=1, relu=False),</code></pre>