<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        fnames = [item[2] for item in batch]

        tuple_of_batches = (
            torch.cat(transforms, 0)<a id="change">,
            torch.LongTensor(labels),
            fnames</a>,
        )
        return tuple_of_batches
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 tuple of transforms
        transforms = (
            torch.cat(transforms[:batch_size], 0),
            torch.cat(<a id="change">transforms[batch_size:]</a>, 0)
        )

        return transforms, labels, fnames</code></pre>