<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    self.tokenizer = hyper_parameters[&quottokenizer&quot]

    self.__cnn__ = cnn.features
    self.__img2embed_conv__ = nn.Conv2d(self.features_dim, <a id="change">int(</a>self.embed_dim<a id="change"> * 0.5</a><a id="change">)</a>, kernel_size = 1, stride = 1)
    self.__content_embed__ = gpt2_model.wte
    self.__position_embed__ = gpt2_model.wpe
    self.__hidden_layers__ = gpt2_model.h</code></pre><h3>After Change</h3><pre><code class='java'>
    self.vocab_dim = hyper_parameters[&quotvocab_dim&quot]
    self.layer_num = hyper_parameters[&quotlayer_num&quot]
    self.block_num = hyper_parameters[&quotblock_num&quot]
    self.clip_dim = <a id="change">hyper_parameters[&quotclip_dim&quot]</a>
    self.tags_num = 0&#47&#47hyper_parameters[&quottags_num&quot]
    self.tokenizer = hyper_parameters[&quottokenizer&quot]
    self.start_token = hyper_parameters[&quotstart_token&quot]
    self.end_token = <a id="change">hyper_parameters[&quotend_token&quot]</a>
    
    self.__clip__ = clip_model
    self.__cnn__ = cnn.features
    self.__img2embed__ = nn.Linear(self.clip_dim, self.embed_dim)</code></pre>