<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        if self.readout == "sum":
            hg = dgl.sum_nodes(g, &quoth&quot)
        elif <a id="change">self.readout == "max"</a><a id="change">:
            </a>hg<a id="change"> = </a>dgl.max_nodes(g, &quoth&quot)
        elif <a id="change">self.readout == "mean"</a><a id="change">:
            </a>hg = dgl.mean_nodes(g, &quoth&quot)
        else:
            hg<a id="change"> = </a>dgl.mean_nodes(g, &quoth&quot)  &#47&#47 default readout is mean nodes

        sig = nn.Sigmoid()
</code></pre><h3>After Change</h3><pre><code class='java'>
            h, e = conv(g, h, e)
        g.ndata[&quoth&quot] = h

        readouts_to_cat = <a id="change">[dgl.readout_nodes(g, &quotf&quot, op=aggr) for aggr in self.readout_aggregators]</a>
        readout = torch.cat(readouts_to_cat, dim=-1)
        return self.output(readout)

</code></pre>