<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        current_channels = 1
        for l_id in range(len(layer_sizes)):
            if l_id == len(layer_sizes) - 1:
                <a id="change">layers.append(</a>nn.Sequential(
                    nn.Linear(input_size, int(current_size * current_size * current_channels)),
                    nn.Sigmoid()
                )<a id="change">)</a>
            else:
                layers.append(nn.Sequential(
                    nn.ReLU(),  &#47&#47 input shape (1, current_size, current_size)
                    nn.ConvTranspose2d(</code></pre><h3>After Change</h3><pre><code class='java'>
        if padding is None:
            padding = [2] * (len(channels) - 1)

        <a id="change">layers</a> = []
        layer_sizes = channels + [latent_size]
        current_size = input_size
        current_channels = 1
        for l_id in range(len(layer_sizes)):
            if l_id == len(layer_sizes) - 1:
                <a id="change">if norm_output</a><a id="change">:
                    </a><a id="change">layers.append(</a>nn.Sequential(
                        nn.Linear(input_size, int(current_size * current_size * current_channels)),
                        nn.Sigmoid()
                    )<a id="change">)</a>
                else:
                    <a id="change">layers.append(nn.Sequential(
                        </a>nn.Linear(input_size, int(current_size * current_size * current_channels))<a id="change">,
                    )</a><a id="change">)</a>
            else:
                layers.append(nn.Sequential(
                    nn.ReLU(),  &#47&#47 input shape (1, current_size, current_size)
                    nn.ConvTranspose2d(</code></pre>