<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        loss = self.loss_fn(logits.contiguous().view(item_sum, -1),
                            target.contiguous().view(-1))
        mask_loss = loss * mask.contiguous().view(-1)
        output = torch.sum(mask_loss)<a id="change"> / </a><a id="change">torch.sum(</a>mask<a id="change">)</a>
        return output


class EarlyStopping:</code></pre><h3>After Change</h3><pre><code class='java'>
        return self.smoothing * x + (1 - self.smoothing) * y

    def forward(self, preds, target):
        <a id="change">assert </a>0 &lt;= self.smoothing &lt; 1

        if self.weight is not None:
            self.weight = self.weight.to(preds.device)</code></pre>