<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            target = target * mask

        a = torch.sum(pred * target)
        b = <a id="change">torch.sum(</a>pred<a id="change">)</a>
        c = torch.sum(target)
        d = (2 * a) / (b<a id="change"> + </a>c + self.eps)

        return 1 - d
</code></pre><h3>After Change</h3><pre><code class='java'>
            torch.Tensor: The loss value.
        

        <a id="change">assert </a>pred.size() == gt.size() and gt.numel() &gt; 0
        if mask is None:
            mask = torch.ones_like(gt)
        assert mask.size() == gt.size()</code></pre>