<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.activation = activate_name[residual_activation]

    def forward(self, x):
        <a id="change">return </a>self.activation(x+<a id="change">self.block(</a>x<a id="change">)</a>)

class CSPFirstStage(nn.Module):
    def __init__(self, in_channels, out_channels):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        residual = x
        out = <a id="change">self.block(</a>x<a id="change">)</a>
        if self.attention is not None:
            out<a id="change"> = </a>self.attention_module(out)
        out += residual
        <a id="change">return </a>out

class CSPFirstStage(nn.Module):
    def __init__(self, in_channels, out_channels):</code></pre>