<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                &#47&#47 CoaT series: Aggregate features of last three scales for classification.
                assert embed_dims[1] == embed_dims[2] == embed_dims[3]
                self.aggregate = torch.nn.Conv1d(in_channels=3, out_channels=1, kernel_size=1)
                self.head = nn.Linear(<a id="change">embed_dims[3]</a>, num_classes)
            else:
                &#47&#47 CoaT-Lite series: Use feature of last scale for classification.
                self.head = nn.Linear(embed_dims[3], num_classes)</code></pre><h3>After Change</h3><pre><code class='java'>
                self.head = nn.Linear(self.num_features, num_classes) if num_classes &gt; 0 else nn.Identity()
            else:
                &#47&#47 CoaT-Lite series: Use feature of last scale for classification.
                self.head = nn.Linear(self.num_features, num_classes)<a id="change"> if num_classes &gt; 0</a><a id="change"> else nn.Identity()</a>

        &#47&#47 Initialize weights.
        trunc_normal_(self.cls_token1, std=.02)
        trunc_normal_(self.cls_token2, std=.02)</code></pre>