<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    __eq__.__doc__ = equals.__doc__

    def __ge__(self, other):
        <a id="change">return </a>(self &gt; other) or (self == other)
    
    def __le__(self, other):
        return (self &lt; other) or (self == other)</code></pre><h3>After Change</h3><pre><code class='java'>
    __eq__.__doc__ = equals.__doc__

    def __ge__(self, other):
        <a id="change">try:
            </a>return self.superset(other)
        <a id="change">except </a>NotImplementedError:
            <a id="change">return </a>other.subset(self)
    __ge__.__doc__ = superset.__doc__
    
    def __le__(self, other):</code></pre>