<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    &quot&quot&quot
    &#47&#47 if node is a leaf, we cannot retrieve its parent
    if not hasattr(node, &quotparent&quot):
        <a id="change">return </a>[]
    results = []
    current = node.parent()
    while current and len(current) == 1:</code></pre><h3>After Change</h3><pre><code class='java'>
    there is only a single path of descent.
    &quot&quot&quot
    results = []
    <a id="change">try:
        </a>current = node.parent()
    <a id="change">except </a>AttributeError:
        &#47&#47 if node is a leaf, we cannot retrieve its parent
        <a id="change">return </a>results
    while current and len(current) == 1:
        results.append(current)
        current = current.parent()</code></pre>