<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 GET SCORES for pseudo point locations
        pseudo_norm = normalize_coords(pseudo_coords, height, width).unsqueeze(1)          &#47&#47 B x 1 x N x 2
        tgt_scores_dense = scores_dense[<a id="change">1::self.window_size</a>]
        pseudo_scores = F.grid_sample(tgt_scores_dense, pseudo_norm, mode=&quotbilinear&quot)           &#47&#47 B x 1 x 1 x N
        pseudo_scores = pseudo_scores.reshape(batch_size, 1, n_points)                          &#47&#47 B x 1 x N
        &#47&#47 GET DESCRIPTORS for pseudo point locations</code></pre><h3>After Change</h3><pre><code class='java'>
        
        &#47&#47 TODO: loop if window_size is greater than 2 (for cycle loss)
        BW, encoder_dim, n_points = keypoint_desc.size()
        batch_size = <a id="change">int(</a>BW<a id="change"> / </a>self.window_size<a id="change">)</a>
        _, _, height, width = desc_dense.size()
        kp_inds, dense_inds = get_indices(batch_size, self.window_size)

        src_desc = keypoint_desc[kp_inds]  &#47&#47 B x C x N</code></pre>