<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.period = period
        self.discriminator = nn.ModuleList([
            nn.Sequential(
                nn.utils.weight_norm(<a id="change">nn.Conv2d(1</a>, <a id="change">64</a><a id="change">, kernel_size=(5, 1), stride=(3, 1))</a>),
                <a id="change">nn.LeakyReLU(0.2</a><a id="change">, inplace=True)</a>,
            ),
            nn.Sequential(
                nn.utils.weight_norm(nn.Conv2d(64, 128, kernel_size=(5, 1), stride=(3, 1))),</code></pre><h3>After Change</h3><pre><code class='java'>

    def __init__(self, period):
        super(PeriodDiscriminator, self).__init__()
        layer = <a id="change">[]</a>
        self.period = period
        inp = 1
        for l in range(4):
            out = int(2 ** (5 + l + 1))</code></pre>