<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for i in range(self.upsample_factor // 2):
            self.add_module("upsample_block_" + str(i + 1), UpsampleBlock(64, 256))

        self.conv3 = <a id="change">nn.Conv2d(64</a>, <a id="change">3</a><a id="change">, kernel_size=9, stride=1, padding=4)</a>

    def forward(self, x):
        x = self.conv1(x)
        x = F.relu(x, inplace=True)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.upsampling = nn.Sequential(*upsampling)

        &#47&#47 Final output layer
        self.conv3 = <a id="change">nn.Sequential(
            </a><a id="change">nn.Conv2d(64</a>, <a id="change">3</a><a id="change">, kernel_size=9, stride=1, padding=4)</a>, 
            <a id="change">nn.Tanh()</a><a id="change">
        )</a>

    def forward(self, inputs):
        out1 = self.conv1(inputs)
        out = self.residual_blocks(out1)</code></pre>