<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        outstr += "[superType]\n"
        ststr = "{0}".format(st.superType)
        for line in ststr.split("\n"):
            outstr += <a id="change">"  {0}\n".format(</a>line<a id="change">)</a>

    return outstr

def _pretty_frame_relation_type(frt):</code></pre><h3>After Change</h3><pre><code class='java'>
    else:
        outstr += "[superType] {0}({1})\n".format(st.superType.name, st.superType.ID)
    outstr += "[subTypes] {0} subtypes\n".format(len(st.subTypes))
    outstr += "  " + ", ".join(<a id="change">&quot{0}({1})&quot.format(</a>x.name, x.ID<a id="change">)</a> for x in st.subTypes) + &quot\n&quot*(len(st.subTypes)&gt;0)
    return outstr

def _pretty_frame_relation_type(freltyp):</code></pre>