<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, *dimensions):
        device = self.device

        if not <a id="change">exists(</a>self.rel_pos<a id="change">)</a> or not self.cache_rel_pos:
            positions = [torch.arange(d, device = device) for d in dimensions]
            grid = torch.stack(torch.meshgrid(*positions, indexing = &quotij&quot))
            grid = rearrange(grid, &quotc ... -&gt; (...) c&quot)</code></pre><h3>After Change</h3><pre><code class='java'>

        positions = [torch.arange(d, device = device) for d in dimensions]
        grid = torch.stack(torch.meshgrid(*positions, indexing = &quotij&quot), dim = -1)
        grid<a id="change"> = </a><a id="change">rearrange(</a>grid, <a id="change">&quot... c -&gt; (...) c&quot</a><a id="change">)</a>
        rel_dist = rearrange(grid, &quoti c -&gt; i 1 c&quot) - rearrange(grid, &quotj c -&gt; 1 j c&quot)

        &#47&#47 get all relative positions across all dimensions

        rel_positions = [torch.arange(-d + 1, d, device = device) for d in dimensions]
        rel_pos_grid = torch.stack(torch.meshgrid(*rel_positions, indexing = &quotij&quot), dim = -1)
        rel_pos_grid = rearrange(rel_pos_grid, &quot... c -&gt; (...) c&quot)

        &#47&#47 mlp input

        bias = rel_pos_grid.float()

        for layer in self.net:
            bias = layer(bias)

        &#47&#47 convert relative distances to indices of the bias

        rel_dist += (shape - 1)  &#47&#47 make sure all positive
        rel_dist<a id="change"> *= </a>strides
        rel_dist_indices = rel_dist.sum(dim = -1)

        &#47&#47 now select the bias for each unique relative position combination</code></pre>