<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, in_dim, num_units, init_scale=0.1):
        super().__init__()
        self.W = nn.Parameter(default_init(scale=init_scale)(
            (in_dim<a id="change">, num_units</a>)), requires_grad=True)
        self.b = nn.Parameter(torch.zeros(num_units), requires_grad=True)

    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.block = nn.Sequential(
            nn.GroupNorm(groups, dim),
            Swish(),
            nn.Dropout(dropout)<a id="change"> if dropout != 0</a><a id="change"> else </a><a id="change">nn.Identity()</a>,
            nn.Conv2d(dim, dim_out, 3, padding=1)
        )
</code></pre>