<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        f1 = self.res(f1, (H, W))
        f1, _ = self.attention0_1(f1, d1.detach()) &#47&#472
        f1, _ = self.attention0_2(f1, p1.detach()) &#47&#47attention0_2
        _<a id="change">, p0 = </a>self.attention0_3(f1, <a id="change">p1.detach()</a>) &#47&#472
        d0 = self.pyr.rec(d1.detach(), p0) &#47&#472
        
        if type(sample) == dict and &quotgt&quot in sample.keys() and sample[&quotgt&quot] is not None:</code></pre><h3>After Change</h3><pre><code class='java'>
        else:
            loss = 0

        <a id="change">if </a>self.resize is True<a id="change">:
            </a>d0<a id="change"> = </a>self.res(d0, (h, w))

        if type(sample) == dict:
            return {&quotpred&quot: d0, </code></pre>