<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    pass
        &#47&#47 Now the alpha versions:
        ents = set(HTML_ENTITY_ALPHA_RE.findall(s))
        ents = <a id="change">list(</a>filter((lambda x : x != AMP), ents)<a id="change">)</a>
        for ent in ents:
            entname = ent[1:-1]
            try:
                s = s.replace(ent, chr(htmlentitydefs.name2codepoint[entname]))</code></pre><h3>After Change</h3><pre><code class='java'>
                    pass
        &#47&#47 Now the alpha versions:
        ents = set(HTML_ENTITY_ALPHA_RE.findall(text))
        ents = [e for e in ents if <a id="change">not e == AMP</a>]
        for ent in ents:
            entname = ent[1:-1]
            try:</code></pre>