<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def test_node_printing(self):
        &quot&quot&quotTest that the tgrep print operator &quot is properly ignored.&quot&quot&quot
        <a id="change">tree</a> = ParentedTree.fromstring(&quot(S (n x) (N x))&quot)
        self.assertEqual(<a id="change">tgrep.tgrep_positions(</a>tree, <a id="change">&quotN&quot</a><a id="change">)</a>,
                         <a id="change">tgrep.tgrep_positions(</a>tree, <a id="change">&quot\&quotN&quot</a><a id="change">)</a>)
        self.assertEqual(<a id="change">tgrep.tgrep_positions(</a>tree, <a id="change">&quot/[Nn]/&quot</a><a id="change">)</a>,
                         <a id="change">tgrep.tgrep_positions(</a>tree, <a id="change">&quot\&quot/[Nn]/&quot</a><a id="change">)</a>)

    def test_node_encoding(self):
        &quot&quot&quot</code></pre><h3>After Change</h3><pre><code class='java'>

    def test_node_printing(self):
        &quot&quot&quotTest that the tgrep print operator &quot is properly ignored.&quot&quot&quot
        <a id="change">tree</a> = ParentedTree.fromstring(&quot(S (n x) (N x))&quot)
        self.assertEqual(<a id="change">list(tgrep.tgrep_positions(</a><a id="change">[</a>tree<a id="change"></a>], <a id="change">&quotN&quot</a><a id="change">)</a><a id="change">)</a>,
                         <a id="change">list(tgrep.tgrep_positions(</a><a id="change">[</a>tree<a id="change"></a>], <a id="change">&quot\&quotN&quot</a><a id="change">)</a><a id="change">)</a>)
        self.assertEqual(<a id="change">list(</a><a id="change">tgrep.tgrep_positions([</a>tree<a id="change"></a>], <a id="change">&quot/[Nn]/&quot</a><a id="change">))</a>,
                         <a id="change">list(tgrep.tgrep_positions(</a><a id="change">[</a>tree<a id="change"></a>], <a id="change">&quot\&quot/[Nn]/&quot</a><a id="change">)</a><a id="change">)</a>)

    def test_node_encoding(self):
        &quot&quot&quot</code></pre>