<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.conv_down = ReduceSize(dim=dim, keep_dim=True)

    def forward(self, x):
        x = <a id="change">self.proj(</a>x<a id="change">)</a>.permute(0, 2, 3, 1)
        x = self.conv_down(x)
        return x
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.conv_down = ReduceSize(dim=dim, keep_dim=True)

    def forward(self, x):
        x = <a id="change">self.proj(</a>x<a id="change">)</a>
        x<a id="change"> = </a>_to_channel_last(x)
        x = self.conv_down(x)
        return x
</code></pre>