<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.SA_layers.append(cur_layer)
            self.SA_layer_names.append(src_name)

            c_in<a id="change"> += </a>sum(<a id="change">[x[-1] for x in mlps]</a>)

        if &quotbev&quot in self.model_cfg.FEATURES_SOURCE:
            c_bev = num_bev_features</code></pre><h3>After Change</h3><pre><code class='java'>

            if SA_cfg[src_name].get(&quotINPUT_CHANNELS&quot, None) is None:
                input_channels = SA_cfg[src_name].MLPS[0][0] \
                    if isinstance(SA_cfg[src_name].MLPS[0], list) else <a id="change">SA_cfg[src_name].MLPS[0]</a>
            else:
                input_channels = SA_cfg[src_name][&quotINPUT_CHANNELS&quot]

            cur_layer, cur_num_c_out = pointnet2_stack_modules.build_local_aggregation_module(</code></pre>