<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                )
        self.features3 = nn.Linear(4, 4)

        self.linear_relu1<a id="change"> = </a>nn.Sequential(
                nn.Linear(32*5*3 + 32*5*3 + 4, 128, bias=True),
                <a id="change">nn.LeakyReLU()</a>
                )

        self.classifier = nn.Sequential(
                nn.Linear(128, 4),</code></pre><h3>After Change</h3><pre><code class='java'>
                )
        self.features2 = nn.Sequential(
                nn.Conv2d(1, 16, 4, stride=2, padding=1),
                <a id="change">nn.LeakyReLU()</a>,
                nn.Conv2d(16, 32, 2, stride=1),
                nn.LeakyReLU(),
                )
        &#47&#47 self.features3 = nn.Linear(4, 4)

        self.linear_relu1 = <a id="change">nn.Sequential(
                </a>nn.Linear(32*7*7 + 32*7*7 + 4, 128),
                <a id="change">nn.LeakyReLU()</a>,
                nn.Dropout(0.2),
                nn.Linear(128, 128),
                nn.LeakyReLU(),
                nn.Dropout(0.2),
                nn.Linear(128, 128),
                nn.LeakyReLU()<a id="change">
                )</a>

        self.classifier = nn.Sequential(
                nn.Linear(128, 4),
                &#47&#47 nn.Softmax(dim=-1)</code></pre>