<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        in_dim = np.product(in_dim)
        action_dim = np.product(action_dim)

        <a id="change">super(</a>PolicyNet, self<a id="change">)</a>.__init__()
        &#47&#47 device is initialized by agents Class

        self.device = device</code></pre><h3>After Change</h3><pre><code class='java'>
        action_dim = np.product(action_dim)

        &#47&#47 device is initialized by agents Class
        self.operators = <a id="change">nn.ModuleList(</a>[
            Flatten(),
            nn.Linear(in_dim, hidden_dim),
        ]<a id="change">)</a>

        for l in range(num_layers_linear_hidden):
            self.operators.append(nn.ReLU())
            self.operators.append(nn.Linear(hidden_dim, hidden_dim))

        <a id="change">self.operators.append(</a>nn.Linear(hidden_dim, 2 * action_dim)<a id="change">)</a>

        self.operators.apply(init_xavier_uniform)

        self.std_clamp = Clamp(log_std_min, log_std_max)</code></pre>