<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )

        last_pad = 0
        last_pad = <a id="change">self.model_cfg.get(&quotlast_pad&quot</a>, last_pad<a id="change">)</a>

        self.conv_out = spconv.SparseSequential(
            &#47&#47 [200, 150, 5] -&gt; [200, 150, 2]
            spconv.SparseConv3d(64, 128, (3, 1, 1), stride=(2, 1, 1), padding=last_pad,</code></pre><h3>After Change</h3><pre><code class='java'>
            block(64, 64, 3, norm_fn=norm_fn, padding=1, indice_key=&quotsubm4&quot),
        )

        if <a id="change">self.model_cfg.get(&quotRETURN_ENCODED_TENSOR&quot</a>, True<a id="change">)</a>:
            last_pad = self.model_cfg.get(&quotlast_pad&quot, 0)

            self.conv_out = spconv.SparseSequential(</code></pre>