<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            ConvBnAct(in_channels, out_channels, kernel_size=k, dilation=d, **conv_kwargs)
            for k, d in zip(kernel_size, dilation)])

        attn_channels = <a id="change">max(int(</a>out_channels<a id="change"> / </a>attn_reduction<a id="change">)</a>, min_attn_channels<a id="change">)</a>
        self.attn = SelectiveKernelAttn(out_channels, self.num_paths, attn_channels)
        self.drop_block = drop_block

    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
            norm_layer (nn.Module): batchnorm/norm layer to use
        
        super(SelectiveKernel, self).__init__()
        out_channels = <a id="change">out_channels or in_channels</a>
        kernel_size = kernel_size or [3, 5]  &#47&#47 default to one 3x3 and one 5x5 branch. 5x5 -&gt; 3x3 + dilation
        _kernel_valid(kernel_size)
        if not isinstance(kernel_size, list):
            kernel_size = [kernel_size] * 2</code></pre>