<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        shape0, shape1 = [], []  &#47&#47 image and inference shapes
        batch = range(len(x))  &#47&#47 batch size
        for i in batch:
            x[i] = <a id="change">np.array(x[i])[:, :, :3]</a>  &#47&#47 up to 3 channels if png
            s = x[i].shape[:2]  &#47&#47 HWC
            shape0.append(s)  &#47&#47 image shape
            g = (size / max(s))  &#47&#47 gain</code></pre><h3>After Change</h3><pre><code class='java'>
        shape0, shape1 = [], []  &#47&#47 image and inference shapes
        batch = range(len(x))  &#47&#47 batch size
        for i in batch:
            <a id="change">x[i]</a> = <a id="change">np.array(x[i]</a><a id="change">)</a>  &#47&#47 to numpy
            x[i] = <a id="change">x[i][:, :, :3] if x[i]</a><a id="change">.ndim == 3 else np.tile(x[i][:, :, None]</a>, <a id="change">3</a><a id="change">)</a>  &#47&#47 enforce 3ch input
            s = x[i].shape[:2]  &#47&#47 HWC
            shape0.append(s)  &#47&#47 image shape
            g = (size / max(s))  &#47&#47 gain</code></pre>