<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.args = args
        self.pad_idx = numericalizer.pad_id

        <a id="change">if sum(emb.dim for emb in encoder_embeddings) != args.dimension</a><a id="change">:
            </a>raise ValueError(&quotHidden dimension must be equal to the sum of the embedding sizes to use IdentityEncoder&quot)

        self.encoder_embeddings = CombinedEmbedding(numericalizer, encoder_embeddings, args.dimension,
                                                    trained_dimension=0,</code></pre><h3>After Change</h3><pre><code class='java'>
                                                    project=False,
                                                    finetune_pretrained=args.train_encoder_embeddings)

        <a id="change">if </a><a id="change">self.args.rnn_layers &gt; 0 and self.args.rnn_dimension != self.args.dimension:
            </a>self.dropout = nn.Dropout(args.dropout_ratio)
            self.projection = nn.Linear(self.encoder_embeddings.dimension, self.args.rnn_dimension, bias=False)
        else:
            self.dropout = None</code></pre>