<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 returing:
        &#47&#47 WideResNet/NetworkBlock[block1]/Sequential[layer]/BasicBlock[0]/Conv2d[conv2]
        &#47&#47 WideResNet/NetworkBlock[block1]/Sequential[layer]/BasicBlock[0]/ReLU[relu1]
        return (self.l_7(self.l_6(self.l_5(self.l_4(self.l_3(t_0)))))<a id="change">, t_0</a>)

    def state_dict(self,device):
        &#47&#47 we return the state dict of this part as it should be in the original model</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 calling torch.add with arguments:
        &#47&#47 WideResNet/NetworkBlock[block1]/Sequential[layer]/BasicBlock[0]/aten::add286
        &#47&#47 WideResNet/NetworkBlock[block1]/Sequential[layer]/BasicBlock[1]/Conv2d[conv2]
        t_2 = <a id="change">torch.add(input=t_1, other=self.l_15(self.l_14(self.l_13(self.l_12(self.l_11(self.l_10(self.l_9(t_1))))))))</a>
        &#47&#47 returing:
        &#47&#47 WideResNet/NetworkBlock[block1]/Sequential[layer]/BasicBlock[1]/aten::add379
        &#47&#47 WideResNet/NetworkBlock[block1]/Sequential[layer]/BasicBlock[2]/ReLU[relu1]
        <a id="change">return </a>(t_2, self.l_17(self.l_16(t_2)))

    def state_dict(self,device):
        &#47&#47 we return the state dict of this part as it should be in the original model</code></pre>