<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 returing:
        &#47&#47 GPT2Model/Block[2]/MLP[mlp]/Dropout[dropout]
        &#47&#47 GPT2Model/Block[2]/aten::add5567
        return (self.l_29(self.l_28(torch.mul(input=torch.mul(input=t_33, other=0.5), other=torch.add(input=Tensor.tanh(torch.mul(input=torch.add(input=t_33, other=torch.mul(input=Tensor.pow(t_33, exponent=3), other=0.044715)), other=0.7978845608028654)), other=1))))<a id="change">, t_32</a>)

    def state_dict(self,device=None):
        &#47&#47 we return the state dict of this part as it should be in the original model</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 calling torch.add with arguments:
        &#47&#47 GPT2LMHeadModel/GPT2Model[transformer]/Block[2]/aten::add5739
        &#47&#47 GPT2LMHeadModel/GPT2Model[transformer]/Block[3]/Attention[attn]/Dropout[resid_dropout]
        t_43 = <a id="change">torch.add(input=t_34, other=self.l_34(self.l_33(Tensor.view(t_42, size=[Tensor.size(t_42, dim=0), Tensor.size(t_42, dim=1), torch.mul(input=Tensor.size(t_42, dim=-2), other=Tensor.size(t_42, dim=-1))]))))</a>
        &#47&#47 returing:
        &#47&#47 GPT2LMHeadModel/GPT2Model[transformer]/Block[3]/LayerNorm[ln_2]
        &#47&#47 GPT2LMHeadModel/GPT2Model[transformer]/Block[3]/aten::add5953
        <a id="change">return </a>(self.l_35(t_43), t_43)

    def state_dict(self,device=None):
        &#47&#47 we return the state dict of this part as it should be in the original model</code></pre>