<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            init.zeros_(self.bias)

    def forward(self, x):
        batch_size<a id="change">, c_in, T, n_vertex</a> = x.shape

        &#47&#47 Using recurrence relation to reduce time complexity from O(n^2) to O(K|E|),
        &#47&#47 where K = Ks - 1</code></pre><h3>After Change</h3><pre><code class='java'>
        cheb_graph_conv = torch.einsum(&quotbtkhi,kij-&gt;bthj&quot, x, self.weight)

        if self.bias is not None:
            cheb_graph_conv = <a id="change">torch.add(</a>cheb_graph_conv, self.bias<a id="change">)</a>
        else:
            cheb_graph_conv = cheb_graph_conv
        
        <a id="change">return </a>cheb_graph_conv

class GraphConv(nn.Module):
    def __init__(self, c_in, c_out, gso, bias):</code></pre>