<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.period = period
        inp = 1
        for l in range(4):
            out = <a id="change">int(</a>2<a id="change"> ** </a>(5<a id="change"> + l + 1</a>)<a id="change">)</a>
            layer<a id="change"> += </a>[
                nn.utils.weight_norm(nn.Conv2d(inp, out, kernel_size=(5, 1), stride=(3, 1))),
                nn.LeakyReLU(0.2)
            ]
            inp<a id="change"> = </a>out
        self.layer = nn.Sequential(*layer)
        self.output = nn.Sequential(
            nn.utils.weight_norm(nn.Conv2d(out, 1024, kernel_size=(5, 1))),</code></pre><h3>After Change</h3><pre><code class='java'>
                nn.LeakyReLU(0.2, inplace=True),
            ),
            nn.Sequential(
                nn.utils.weight_norm(<a id="change">nn.Conv2d(128</a>, 256<a id="change">, kernel_size=(5, 1), stride=(3, 1))</a>),
                nn.LeakyReLU(0.2, inplace=True),
            ),
            nn.Sequential(</code></pre>