<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 returing:
        &#47&#47 GPT2Model/Block[2]/MLP[mlp]/Dropout[dropout]
        &#47&#47 GPT2Model/Block[2]/aten::add5567
        <a id="change">return </a>(self.l_29(self.l_28(torch.mul(input=torch.mul(input=t_33, other=0.5), other=torch.add(input=Tensor.tanh(torch.mul(input=torch.add(input=t_33, other=torch.mul(input=Tensor.pow(t_33, exponent=3), other=0.044715)), other=0.7978845608028654)), other=1))))<a id="change">, t_32</a>)

    def state_dict(self,device=None):
        &#47&#47 we return the state dict of this part as it should be in the original model</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 GPT2LMHeadModel/GPT2Model[transformer]/Block[3]/Attention[attn]/Conv1D[c_attn]
        &#47&#47 GPT2LMHeadModel/GPT2Model[transformer]/Block[3]/Attention[attn]/prim::Constant5779
        &#47&#47 GPT2LMHeadModel/GPT2Model[transformer]/Block[3]/Attention[attn]/prim::Constant5780
        t_35<a id="change"> = </a><a id="change">Tensor.split(</a>self.l_31(self.l_30(t_34))<a id="change">, split_size=768, dim=2)</a>
        t_36 = t_35[0]
        t_37 = t_35[1]
        t_38 = t_35[2]
        &#47&#47 calling torch.div with arguments:</code></pre>