<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        cls_loss = ((50 * torch.topk(soft_one_hot_classes, largest = False, dim = 1, k = 999)[0]) ** 2).mean()

        sim_loss = -self.loss_coef * <a id="change">torch.cosine_similarity(text_embed, image_embed, dim = -1).mean()</a>
        return (lat_loss, cls_loss, sim_loss)

class Imagine(nn.Module):
    def __init__(</code></pre><h3>After Change</h3><pre><code class='java'>
        results = []
        for txt_embed in text_embeds:
            results.append(self.sim_txt_to_img(txt_embed, image_embed))
        <a id="change">for txt_min_embed</a> in text_min_embeds<a id="change">:
            results.append(</a>self.sim_txt_to_img(txt_min_embed, image_embed, "min")<a id="change">)</a>
        sim_loss = sum(results).mean()
        return (lat_loss, cls_loss, sim_loss)

class Imagine(nn.Module):</code></pre>