<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.revert_projs.append(nn.Sequential(*tmp))

    def forward(self, x):
        outs_b = [<a id="change">block(</a>x_<a id="change">)</a> for x_, block in zip(x, self.blocks)]
        &#47&#47 only take the cls token out
        proj_cls_token<a id="change"> = </a>[proj(x[:, 0:1]) for x, proj in zip(outs_b, self.projs)]
        &#47&#47 cross attention
        outs = []
        for i in range(self.num_branches):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x: List[torch.Tensor]) -&gt; List[torch.Tensor]:

        outs_b = <a id="change">[]</a>
        for i, block in enumerate(self.blocks):
            outs_b.append(block(x[i]))

        &#47&#47 only take the cls token out</code></pre>