<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 Compute the action probabilities and the value function estimate
        &#47&#47 Apply action mask to the logits as well.
        output_dims = [ph.out_features for ph in self.policy_head]
        action_masks = [None for _ in <a id="change">range(</a>len(output_dims)<a id="change">)</a>]
        if self.action_mask is not None:
            start = 0
            for idx, dim in enumerate(output_dims):</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Compute the action probabilities and the value function estimate
        &#47&#47 Apply action mask to the logits as well.
        action_masks = [None for _ in <a id="change">range(</a><a id="change">len(</a>self.output_dims<a id="change">))</a>]
        if self.action_mask is not None:
            start = 0
            for idx, dim in enumerate(self.output_dims):</code></pre>