<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                                       self.base_channels)
        self.make_decode_layers(make_block, norm_cfg, encoder_out_channels)

        norm_name, norm_layer = <a id="change">build_norm_layer(</a>norm_cfg,
                                                 self.out_conv_channels<a id="change">)</a>
        self.conv_out = spconv.SparseSequential(
            &#47&#47 [200, 176, 5] -&gt; [200, 176, 2]
            spconv.SparseConv3d(
                encoder_out_channels,</code></pre><h3>After Change</h3><pre><code class='java'>
                padding=0,
                bias=False,
                indice_key=&quotspconv_down2&quot),
            <a id="change">build_norm_layer(norm_cfg, self.output_channels)[1]</a>,
            nn.ReLU(),
        )
</code></pre>