<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 build normalization layers
        if self.with_norm:
            norm_channels = out_channels<a id="change"> if </a>self.activate_last<a id="change"> else </a>in_channels
            self.norm_name, norm = build_norm_layer(norm_cfg, norm_channels)
            self.add_module(self.norm_name, norm)
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 build normalization layers
        if self.with_norm:
            &#47&#47 norm layer is after conv layer
            <a id="change">if order.index(&quotnorm&quot) &gt; order.index(&quotconv&quot)</a><a id="change">:
                </a>norm_channels<a id="change"> = </a>out_channels
            else:
                norm_channels<a id="change"> = </a>in_channels
            self.norm_name, norm = build_norm_layer(norm_cfg, norm_channels)
            self.add_module(self.norm_name, norm)
</code></pre>