<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, dim):
        super(ResNetBlock, self).__init__()
        self.main = nn.Sequential(
            <a id="change">nn.ReflectionPad2d(1</a><a id="change">)</a>,
            nn.Conv2d(dim, dim, kernel_size=3, stride=1, padding=0, bias=False),
            nn.InstanceNorm2d(dim),
            nn.ReLU(True),</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, dim):
        super(ResNetBlock, self).__init__()
        conv_block = []
        conv_block += [<a id="change">nn.ReflectionPad2d(1</a><a id="change">)</a>,
                       nn.Conv2d(dim, dim, 3, 1, 0, bias=False),
                       nn.InstanceNorm2d(dim),
                       nn.ReLU(True)]</code></pre>