<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.log_std_max = log_std_max

        self.l1 = nn.Linear(in_dim, hidden_dim)
        self.l2<a id="change"> = </a><a id="change">nn.Linear(</a>hidden_dim, hidden_dim<a id="change">)</a>
        self.l3 = nn.Linear(hidden_dim, hidden_dim)

        self.mean_linear = nn.Linear(hidden_dim, action_dim)
        self.mean_linear.weight.data.uniform_(-init_w, init_w)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.log_std_min = log_std_min
        self.log_std_max = log_std_max

        <a id="change">layers</a> = <a id="change">[</a>nn.Linear(in_dim, hidden_dim)<a id="change"></a>]

        <a id="change">for l</a> in range(num_layers_linear_hidden)<a id="change">:
            </a><a id="change">layers.append(nn.ReLU()</a><a id="change">)</a>
            <a id="change">layers.append(</a>nn.Linear(hidden_dim, hidden_dim)<a id="change">)</a>
        <a id="change">layers.append(</a>nn.ReLU()<a id="change">)</a>

        self.net = <a id="change">nn.Sequential(</a>*<a id="change">layers)</a>

        self.mean_linear = nn.Linear(hidden_dim, action_dim)
        self.mean_linear.weight.data.uniform_(-init_w, init_w)
        self.mean_linear.bias.data.uniform_(-init_w, init_w)</code></pre>