<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.pos_emb = RelativePositionalEmbedding
        self.to_logits = nn.Linear(dim, num_tokens)

        layers<a id="change"> = </a><a id="change">[]</a>
        for _ in range(depth):
            layers.extend([
                Residual(PreNorm(dim, SelfAttention(dim, heads))),
                Residual(PreNorm(dim, FeedForward(dim)))</code></pre><h3>After Change</h3><pre><code class='java'>
        self.to_logits = nn.Linear(dim, num_tokens)

        self.attn_layers = nn.ModuleList([Residual(PreNorm(dim, SelfAttention(dim, heads))) for _ in range(depth)])
        self.ff_layers = nn.ModuleList(<a id="change">[Residual(PreNorm(dim, FeedForward(dim))) for _ in range(depth)]</a>)

    def forward(self, x, mem = None):
        x = self.token_emb(x)</code></pre>