<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if return_attns:
                enc_slf_attn_list += [enc_slf_attn]

        return enc_output<a id="change">, non_pad_mask</a>


class Decoder(nn.Module):
     Decoder </code></pre><h3>After Change</h3><pre><code class='java'>
        batch_size, max_len = src_seq.shape[0], src_seq.shape[1]
        
        &#47&#47 -- Prepare masks
        slf_attn_mask = <a id="change">mask.unsqueeze(1).expand(-1</a>, max_len, <a id="change">-1</a><a id="change">)</a>

        &#47&#47 -- Forward
        enc_output = self.src_word_emb(src_seq) + self.position_enc[:, :max_len, :].expand(batch_size, -1, -1)
</code></pre>