<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            else:
                return m

        <a id="change">self.apply(</a>add_sn<a id="change">)</a>

    def forward(self, image_batch):
        image_batch = image_batch.to(module_device(self))
        features = self.encoder(image_batch)</code></pre><h3>After Change</h3><pre><code class='java'>
            level_sizes=self.level_sizes,
        )

        <a id="change">for module</a> in <a id="change">self.modules()</a><a id="change">:
            </a><a id="change">if </a>(
                <a id="change">isinstance(module</a>, (nn.Conv2d, nn.ConvTranspose2d)<a id="change">)</a>
                and len(module._forward_pre_hooks) == 0
            )<a id="change">:
                </a>torch.nn.utils.spectral_norm(module)

    def forward(self, image_batch):
        image_batch = image_batch.to(module_device(self))</code></pre>