<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        Produce a Giza-formatted string representing the alignment.
        
        <a id="change">return </a>" ".join("%d-%d"<a id="change"> % </a>p[:2] for p in sorted(self))

    def _build_index(self):
        </code></pre><h3>After Change</h3><pre><code class='java'>
        @rtype: C{string}
        
        source = " ".join(self._words)[:20] + "..."
        target = <a id="change">" ".join(self._mots)[:20]</a> + "..."
        return "&lt;AlignedSent: &quot%s&quot -&gt; &quot%s&quot&gt;" % (source, target)

    def invert(self):</code></pre>