<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        image_tokens = self.image_to_cond(image_embed)

        image_tokens = <a id="change">torch.where(
            </a>rearrange(cond_prob_mask, &quotb -&gt; b 1 1&quot),
            image_tokens,
            self.null_image_embed<a id="change">
        )</a>

        c = torch.cat((time_tokens, image_tokens), dim = -2) &#47&#47 c for condition

        hiddens = []</code></pre><h3>After Change</h3><pre><code class='java'>

        image_tokens = self.image_to_cond(image_embed)

        image_tokens<a id="change"> = </a><a id="change">torch.where(
            </a>cond_prob_mask,
            image_tokens,
            self.null_image_embed<a id="change">
        )</a>

        &#47&#47 take care of text encodings (optional)

        if exists(text_encodings):</code></pre>