<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return not (self == other)

    def __lt__(self, other):
        <a id="change">if </a>other.__class__ != FeatureValueType<a id="change">:
            </a>return True
        return self._value &lt; other._value

    def __hash__(self):</code></pre><h3>After Change</h3><pre><code class='java'>
        return not self == other

    def __lt__(self, other):
        <a id="change">if </a>not <a id="change">isinstance(</a>other, FeatureValueType<a id="change">):
            </a>raise_unorderable_types("&lt;", self, other)
        return self._value &lt; other._value

    def __hash__(self):</code></pre>