<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                depth = [
                    None for _ in range(num_blocks)
                ]
        elif <a id="change">type(out_channels) is list</a>:
            <a id="change">if </a>depth is None or <a id="change">type(depth) is int</a><a id="change">:
                </a>depth = [
                    None for _ in range(num_blocks)
                ]
        else:</code></pre><h3>After Change</h3><pre><code class='java'>
            growth_rate = [
                growth_rate for _ in range(num_blocks)
            ]
        elif <a id="change">type(growth_rate) is list</a><a id="change">:
            </a><a id="change">pass</a>
        else:
            raise ValueError("Not support `growth_rate`={}".format(growth_rate))
            
        if depth is None:</code></pre>