<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for child_x in child_centers:
            c.create_line(node_x, node_y, child_x, child_y)
                          
        <a id="change">return </a>right + (TreeView._X_SPACING/2)
        
    def _draw_tree(self, tree, left, depth):
        </code></pre><h3>After Change</h3><pre><code class='java'>
            c.create_line(node_x, node_y, child_x, child_y)

        right = right + (TreeView._X_SPACING/2)
        <a id="change">return </a>(right<a id="change">, node_x</a>)
        
    def _draw_tree(self, tree, left, depth):
        </code></pre>