<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, logitsCondition: torch.Tensor, logitsJoint: torch.Tensor, step: int):
        dLoss = self._loss(logitsCondition, torch.ones_like(logitsCondition)) + self._loss(logitsJoint, torch.zeros_like(logitsJoint))
        <a id="change">if step % 2 == 0</a><a id="change">:
            </a>return dLoss
        return -dLoss
</code></pre><h3>After Change</h3><pre><code class='java'>
        self._ema -= self._alpha * (self._ema - expMean)
        loss = EMALoss.apply(logitsJoint, self._ema)
        &#47&#47 dLoss = self._loss(logitsCondition, torch.ones_like(logitsCondition)) + self._loss(logitsJoint, torch.zeros_like(logitsJoint))
        return <a id="change">(-logitsCondition.mean())</a><a id="change"> + </a>loss
</code></pre>