<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        length = input.size(1)

        <a id="change">return </a>self.pe[:, :length]


class DPTBlock(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 x is batch, channels, seq_len
        x = x + self.pe[:, :, :x.size(2)]

        x<a id="change"> = </a>self.dropout(x)

        x<a id="change"> = </a><a id="change">x.permute(0, 2, 1).contiguous()</a>

        <a id="change">return </a>x


class DPTBlock(nn.Module):</code></pre>