<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            quantizeds.append(deTransformed)
            codes.append(sample.argmax(-1).permute(1, 0).reshape(n, h, w))
            logits.append(logit.reshape(n, h, w, k))
            allCodewords.append(<a id="change">codewords.t()</a>)
        return quantizeds, codes, logits, allCodewords

</code></pre><h3>After Change</h3><pre><code class='java'>
            quantizeds.append(deTransformed)
            codes.append(sample.argmax(-1).permute(1, 0).reshape(n, h, w))
            logits.append(logit.permute(1, 0, 2).reshape(n, h, w, k))
        <a id="change">return </a>quantizeds<a id="change">, codes, logits</a>


class TransformerQuantizerRein(nn.Module):
    def __init__(self, k: List[int], cin: int, rate: float = 0.1):</code></pre>