<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(GenBlock, self).__init__()
        self.conditional_bn = conditional_bn

        <a id="change">if g_spectral_norm</a><a id="change">:
            </a>self.deconv0<a id="change"> = </a>sndeconv2d(in_channels=in_channels, out_channels=out_channels,
                                  kernel_size=4, stride=2, padding=1)
        else:
            self.deconv0 = deconv2d(in_channels=in_channels, out_channels=out_channels,</code></pre><h3>After Change</h3><pre><code class='java'>
                                          stride=2,
                                          padding=1)

        if <a id="change">self.g_cond_mtd == "W/O"</a>:
            self.bn0 = MODULES.g_bn(in_features=out_channels)
        elif self.g_cond_mtd == "cBN":
            self.bn0 = <a id="change">MODULES.g_bn(</a>num_classes, out_channels, MODULES<a id="change">)</a>
        else:
            raise NotImplementedError

        self.activation = MODULES.g_act_fn</code></pre>