<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.yolo_losses = []
        for i in range(2):
            self.yolo_losses.append(YOLOLoss(config["yolo"]["anchors"],config["yolo"]["mask"][i] \
                ,20,[<a id="change">config["img_w"]</a>,<a id="change">config["img_h"]</a>],<a id="change">config["iou_thres"]</a>[i],<a id="change">config["noobj_scale"]</a>[i],<a id="change">config["nocls_scale"]</a>[i]).to(device))
        self.yolo_detection = []
        for i in range(2):
            self.yolo_detection.append(YOLO_Detection(config["yolo"]["anchors"],config["yolo"]["mask"][i] \</code></pre><h3>After Change</h3><pre><code class='java'>
        self.upsample = Upsample(512,256)
        self.conv_for_S16 = DepwiseConvolution(96,256)
        self.connect_for_S16 = Connect(256)
        self.yolo_headS16<a id="change"> = </a>yolo_head(<a id="change">[512</a>, self.num_anchors * (5 + self.num_classes)<a id="change"></a>],256)

        self.yolo_losses = []
        for i in range(2):</code></pre>