<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class Generator(nn.Module):
    def __init__(self, ngf=64, n_blocks=6):
        assert (n_blocks &gt;= 0)
        <a id="change">super(Generator, self).__init__()</a>
        self.ngf = ngf
        self.n_blocks = n_blocks

        DownBlock = []</code></pre><h3>After Change</h3><pre><code class='java'>
                         nn.Conv2d(ngf, int(ngf / 2), kernel_size=3, stride=1, padding=0, bias=False),
                         ILN(int(ngf / 2)),
                         nn.ReLU(True)]
            ngf<a id="change"> = </a><a id="change">int(</a>ngf<a id="change"> / </a>2<a id="change">)</a>

        UpBlock2 += [nn.ReflectionPad2d(3),
                     nn.Conv2d(ngf, 3, kernel_size=7, stride=1, padding=0, bias=False),
                     nn.Tanh()]</code></pre>