<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    &#47&#47&#47&#47 Define a stem() method that implements the StemmerI interface.
    def stem(self, word):
        stem = self.stem_word(word.lower(), 0, len(word) - 1)
        <a id="change">return </a>self._adjust_case(word, stem)

    &#47&#47&#47&#47 --NLTK--
    &#47&#47&#47&#47 Add a string representation function</code></pre><h3>After Change</h3><pre><code class='java'>
    def stem(self, word):
        stem = word.lower()
        
        if <a id="change">self.mode == self.NLTK_EXTENSIONS and word in self.pool</a>:
            return self.pool[word]

        if self.mode != self.ORIGINAL_ALGORITHM and len(word) &lt;= 2:</code></pre>