<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    
    def __lt__(self, other):
        try:
            <a id="change">return </a>other.superset(self)
        except NotImplementedError:
            return self.subset(other)
    __lt__.__doc__ = subset.__doc__</code></pre><h3>After Change</h3><pre><code class='java'>
        @raise NotImplementedError: If C{other} is not a
               supported Event type.
        
        return <a id="change">(self &lt;= other) and (self != other)</a>

    def __gt__(self, other):
        
        Return true if this event is a proper superset of the given </code></pre>