<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                raise TypeError("Unknown Type:\t{}".format(norm))
        self.norm0 = norm(out_channels)

        <a id="change">if </a>self.concat<a id="change">:
            </a>if <a id="change">self.mode == &quotres_mask&quot</a>:
                k= 2*out_channels + 1
            else:
                k = 2*out_channels</code></pre><h3>After Change</h3><pre><code class='java'>
                    nn.Conv2d(out_channels // 2 + 1, out_channels // 4, 5, 1, 2),
                    nn.ReLU(True),
                    nn.Conv2d(out_channels // 4, 1, 5, 1, 2),
                    <a id="change">nn.Sigmoid()</a>
                ])
            )
            self.conv3.append(conv3x3(out_channels // 2, out_channels))
        </code></pre>