<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    tests = unittest.TestSuite()

    loctests = unittest.makeSuite(LocationTestCase, &quottest&quot)
    tests = unittest.TestSuite( (tests<a id="change">, loctests</a>) )

    toktests = unittest.makeSuite(TokenTestCase, &quottest&quot)
    tests = unittest.TestSuite( (tests, toktests) )

    tokenizertests = unittest.makeSuite(WSTokenizerTestCase, &quottest&quot)
    tests = unittest.TestSuite( (tests, tokenizertests) )

    <a id="change">return </a>tests

def test():
    import unittest</code></pre><h3>After Change</h3><pre><code class='java'>
    t2 = unittest.makeSuite(TokenTestCase, &quottest&quot)
    t3 = unittest.makeSuite(WSTokenizerTestCase, &quottest&quot)
    t4 = unittest.makeSuite(RETokenizerTestCase, &quottest&quot)
    <a id="change">return </a>unittest.TestSuite( (t1, t2, t3, t4) )

def test():
    import unittest</code></pre>