<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            (&quotrelu1&quot, activation_fn(inplace=True)),
            (&quotconv1&quot, Conv2d1x1(inp, width)),
            (&quotnorm2&quot, normalizer_fn(width, eps=bn_epsilon, momentum=bn_momentum)),
            (<a id="change">&quotrelu2&quot</a><a id="change">, activation_fn(inplace=True)</a>),
            (&quotconv2&quot, Conv2d3x3(width, width, stride=stride, groups=groups)),
            (&quotnorm3&quot, normalizer_fn(width, eps=bn_epsilon, momentum=bn_momentum)),
            (&quotrelu3&quot, activation_fn(inplace=True)),</code></pre><h3>After Change</h3><pre><code class='java'>
            (&quotnorm1&quot, normalizer_fn(inp)),
            (&quotrelu1&quot, activation_fn()),
            (&quotconv1&quot, Conv2d1x1(inp, width)),
            (<a id="change">&quotnorm2&quot</a><a id="change">, normalizer_fn(width)</a>),
            (&quotrelu2&quot, activation_fn()),
            (&quotconv2&quot, Conv2d3x3(width, width, stride=stride, groups=groups)),
            (&quotnorm3&quot, normalizer_fn(width)),</code></pre>