<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        op4 = max_of_cols
        op5 = max_all.expand_as(op1)

        <a id="change">return </a><a id="change">torch.stack(</a>[op1, op2, op3, op4, op5]<a id="change">)</a>.permute(1, 0, 2, 3).reshape(N, -1, m)</code></pre><h3>After Change</h3><pre><code class='java'>
        op4 = max_of_cols
        op5 = max_all.expand_as(op1)

        output = <a id="change">torch.stack(</a>[op1, op2, op3, op4, op5]<a id="change">, dim=2)</a>
        assert output.size() == (b, n, basis, in_features), output.size()
        <a id="change">return </a>output.view(b, n, basis*in_features)
</code></pre>