<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            return None
        info = self._load_xml_attributes(AttrDict(), elt)
        info[&quot_type&quot] = &quotframerelation&quot
        info[&quotrelatedFrame&quot] = <a id="change">[]</a>
        for sub in elt:
            if sub.tag.endswith(&quotrelatedFrame&quot):
                info[&quotrelatedFrame&quot].append(sub.text)
</code></pre><h3>After Change</h3><pre><code class='java'>
        for sub in elt:
            if sub.tag.endswith(&quotFERelation&quot):
                ferel = self._handle_elt(sub)
                <a id="change">ferel[&quot_type&quot]</a> = &quotferelation&quot
                ferel[&quotframeRelation&quot] = info   &#47&#47 backpointer
                info[&quotfeRelations&quot].append(ferel)
</code></pre>