<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        luinfo = self._load_xml_attributes(AttrDict(), elt)
        luinfo[&quot_type&quot] = &quotlu&quot
        luinfo[&quotdefinition&quot] = ""
        luinfo[&quotsubCorpus&quot] = <a id="change">[]</a>
        luinfo[&quotlexeme&quot] = AttrDict()
        luinfo[&quotsemType&quot] = AttrDict()
        for k in ignorekeys:
            if k in luinfo:</code></pre><h3>After Change</h3><pre><code class='java'>
                luinfo[&quotlexemes&quot].append(self._load_xml_attributes(AttrDict(), sub))
            elif sub.tag.endswith(&quotsemType&quot) and &quotsemType&quot not in ignorekeys:
                semtypeinfo = self._load_xml_attributes(AttrDict(), sub)
                <a id="change">luinfo[&quotsemTypes&quot]</a>.append(self.semtype(semtypeinfo.ID))

        return luinfo
</code></pre>