<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        luinfo = self._load_xml_attributes(luinfo, elt)
        luinfo["definition"] = ""
        luinfo["sentenceCount"] = AttrDict()
        luinfo["lexeme"] = <a id="change">[]</a>

        for sub in elt:
            if sub.tag.endswith(&quotdefinition&quot):
                luinfo[&quotdefinition&quot] = self._strip_tags(sub.text)</code></pre><h3>After Change</h3><pre><code class='java'>
                luinfo[&quotlexemes&quot].append(self._load_xml_attributes(AttrDict(), sub))
            elif sub.tag.endswith(&quotsemType&quot):
                semtypeinfo = self._load_xml_attributes(AttrDict(), sub)
                <a id="change">luinfo[&quotsemTypes&quot]</a>.append(self.semtype(semtypeinfo.ID))

        return luinfo
</code></pre>