<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x, device, info=None):
        extra info is not used here
        x = <a id="change">x.permute(0</a>, 2, <a id="change">1</a><a id="change">)</a>  &#47&#47 Permute to channel first
        o = self.network(x)
        o = o.permute(0, 2, 1)  &#47&#47 Permute to channel last
        return o</code></pre><h3>After Change</h3><pre><code class='java'>
        extra info is not used here
        batch_size, time_steps, _ = x.size()
        out = torch.zeros((batch_size, time_steps, self.num_channels))
        <a id="change">for cur_time</a> in <a id="change">range(</a>time_steps<a id="change">):
            </a>cur_x = x[:, : cur_time + 1, :]
            cur_x = cur_x.permute(0, 2, 1)  &#47&#47 Permute to channel first
            o = self.network(cur_x)
            o = o.permute(0, 2, 1)  &#47&#47 Permute to channel last
            <a id="change">out</a>[:, cur_time, :] = torch.mean(o, dim=1)
        return out
</code></pre>