<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if not self._dependencies:    &#47&#47If it is necessary to show the dependences the line does not need any change
            lines = [line.split(&quot\t&quot) for line in sent.split(&quot\n&quot)] &#47&#47divide the line in 4 parts [word,category,dep_number,dep_type]
            if self._tagged:
                sent = [(word<a id="change">, tag</a>) for (word, tag, dep_num, dep_type) in lines]
            else:
                sent = [word for (word, tag, dep_num, dep_type) in lines]
        &#47&#47 Return the result.</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 extract word and tag from any of the formats
        if not self._dependencies:
            lines = [line.split(&quot\t&quot) for line in sent.split(&quot\n&quot)]
            <a id="change">if </a>len(lines[0]) == 3 or len(lines[0]) == 4<a id="change">:
                </a>sent<a id="change"> = [(line[0], line[1]) for line in lines]</a>
            elif <a id="change">len(lines[0]) == 10</a>:
                sent = [(line[1], line[4]) for line in lines]
            else:
                raise ValueError(&quotUnexpected number of fields in dependency tree file&quot)</code></pre>