<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            original_msg = str(err.args) if err.args else ""
            msg = ("Internal error while evaluating `ContractExpression`. Note that few checks are performed"
                   " - the number and rank of the array arguments must match the original expression. "
                   "The internal error was: &quot%s&quot" % original_msg<a id="change"></a>, )
            err.args = msg
            raise
</code></pre><h3>After Change</h3><pre><code class='java'>
            raise ValueError("The only valid keyword arguments to a `ContractExpression` "
                             "call are `out=` or `backend=`. Got: %s." % kwargs)

        <a id="change">if </a>self.constants<a id="change">:
            &#47&#47 fill in the missing non-constant terms with newly supplied arrays
            </a>arrays = iter(arrays)
            arrays<a id="change"> = [next(arrays) if op is None else op for op in self.constants]</a>

        try:
            &#47&#47 Check if the backend requires special preparation / calling
            &#47&#47   but also ignore non-numpy arrays -&gt; assume user wants same type back</code></pre>