<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 Serialize the actual sentences to a temporary string
        _input = &quot\n&quot.join((&quot &quot.join(x) for x in sentences))+&quot\n&quot
        <a id="change">if </a>isinstance(_input, compat.text_type) and encoding<a id="change">:
            </a>_input<a id="change"> = </a>_input.encode(encoding)

        &#47&#47 Run the tagger and get the output
        p = Popen(_senna_cmd, stdin=PIPE, stdout=PIPE, stderr=PIPE)</code></pre><h3>After Change</h3><pre><code class='java'>
        for each sentence a list of tuples of (word, tag).
        
        tagged_sents = super(SennaTagger, self).tag_sents(sentences)
        for i in range(<a id="change">len(</a>tagged_sents<a id="change">)</a>):
            for j in range(len(tagged_sents[i])):
                annotations = tagged_sents[i][j]
                tagged_sents[i][j] = (annotations[&quotword&quot], annotations[&quotpos&quot])</code></pre>