<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        enc_inputs = enc_inputs.view(batch_size, -1, encoder_dim)
        encoder_out, enc_self_attns = self.encoder(enc_inputs)
        &#47&#47 encoder_out: [batch_size, 196, 2048]
        return <a id="change">self.decoder(</a>encoder_out, encoded_captions, caption_lengths<a id="change">)</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
        enc_inputs = enc_inputs.view(batch_size, -1, encoder_dim)
        encoder_out, enc_self_attns = self.encoder(enc_inputs)
        &#47&#47 encoder_out: [batch_size, 196, 2048]
        predictions<a id="change">, encoded_captions, decode_lengths, sort_ind, dec_self_attns, dec_enc_attns = </a><a id="change">self.decoder(</a>encoder_out, encoded_captions, caption_lengths<a id="change">)</a>
        alphas = {"enc_self_attns": enc_self_attns, "dec_self_attns": dec_self_attns, "dec_enc_attns": dec_enc_attns}
        return predictions, encoded_captions, decode_lengths, alphas, sort_ind
</code></pre>