<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        loss    = 0
        n       = torch.sum(y_true[..., 4] == 1)
        <a id="change">if </a><a id="change">n != 0:
            &#47&#47---------------------------------------------------------------&#47&#47
            &#47&#47   计算预测结果和真实结果的giou
            &#47&#47----------------------------------------------------------------&#47&#47
            </a>giou        = self.box_giou(pred_boxes, y_true[..., :4])
            loss_loc    = torch.mean((1 - giou)[y_true[..., 4] == 1])
            loss_cls    = torch.mean(self.BCELoss(pred_cls[y_true[..., 4] == 1], self.smooth_labels(y_true[..., 5:][y_true[..., 4] == 1], self.label_smoothing, self.num_classes)))
            loss<a id="change">        += </a>loss_loc * self.box_ratio + loss_cls * self.cls_ratio
            &#47&#47-----------------------------------------------------------&#47&#47
            &#47&#47   计算置信度的loss
            &#47&#47-----------------------------------------------------------&#47&#47
            tobj        = torch.where(y_true[..., 4] == 1, giou.detach().clamp(0), <a id="change">torch.zeros_like(</a>y_true[..., 4]<a id="change">)</a>)
        else:
            tobj<a id="change">        = </a>torch.zeros_like(y_true[..., 4])
        loss_conf   = torch.mean(self.BCELoss(conf, tobj))

        loss        += loss_conf * self.balance[l] * self.obj_ratio</code></pre><h3>After Change</h3><pre><code class='java'>
                      torch.sum(self.BCELoss(conf, y_true[..., 4]) * noobj_mask)
        loss_cls    = torch.sum(self.BCELoss(pred_cls[y_true[..., 4] == 1], self.smooth_labels(y_true[..., 5:][y_true[..., 4] == 1], self.label_smoothing, self.num_classes)))

        loss<a id="change">        = </a>loss_loc * self.box_ratio + loss_conf * self.balance[l] * self.obj_ratio + loss_cls * self.cls_ratio
        num_pos<a id="change"> = </a>torch.sum(y_true[..., 4])
        num_pos = torch.max(num_pos, torch.ones_like(num_pos))
        return loss<a id="change">, num_pos</a>
    
    def get_near_points(self, x, y, i, j):
        sub_x = x - i
        sub_y = y - j</code></pre>