<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.lin = Lin(hparams_net["MLP3_channels"][-1], hparams_net["num_classes"])
        pi_init = hparams_net["pi_init"]
        a = 0
        b = -np.log((<a id="change">1</a><a id="change"> - </a>pi_init) / pi_init)
        self.lin.bias<a id="change"> = </a>torch.nn.Parameter(
            torch.Tensor(
                <a id="change">[
                    </a>a,
                    b<a id="change"></a>,
                ]
            )
        )</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()

        self.num_classes = hparams_net["num_classes"]
        bn<a id="change"> = </a><a id="change">hparams_net.get("batch_norm"</a>, True<a id="change">)</a>
        d1 = hparams_net.get("MLP1_channels", [10, 64, 64])
        d2 = hparams_net.get("MLP2_channels", [64, 256, 512, 1024])
        d3 = hparams_net.get("MLP3_channels", [1088, 512, 256, 64, 4])
</code></pre>