<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        x = self.conv_1(x)
        x = self.conv_2(x)
        x<a id="change"> = </a>self.dropout(x)

        x<a id="change"> = </a>self.conv_3(x)
        x = self.conv_4(x)
        x<a id="change"> = </a><a id="change">self.dropout(</a>x<a id="change">)</a>

        x<a id="change"> = </a>self.conv_classifier(x)
        <a id="change">return </a>x.squeeze()


class Conv2dBlockELU(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        x = self.base(x)
        x = torch.flatten(x, start_dim=1)
        x = self.fc(x)
        <a id="change">return </a>x


def test():</code></pre>