<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if required_arg == "img_shape":
                self.img_h, self.img_w, self.img_c = self.img_shape
            elif required_arg == "tensor_value_range":
                <a id="change">assert </a>isinstance(self.tensor_value_range, list) or isinstance(self.tensor_value_range, tuple)
                assert len(self.tensor_value_range) == 2

        &#47&#47 set optional parameters</code></pre><h3>After Change</h3><pre><code class='java'>

            &#47&#47 pre-setattr checks
            if required_arg == "tensor_value_range":
                if type(required_val) not in [tuple, list] or <a id="change">len(required_val) != 2</a>:
                    raise ValueError("value for argument &quottensor_value_range&quot needs to be tuple or list with 2 elems")

            &#47&#47 set parameter</code></pre>