<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        tensor([1., 2., 3., 4.])

        
        K = <a id="change">y[..., :1]</a>
        y = y[..., 1:]
        if self.gamma == 0:
            x0 = torch.log(K)
            x1 = y</code></pre><h3>After Change</h3><pre><code class='java'>
        tensor([1., 2., 3., 4.])

        
        K, y = <a id="change">torch.split(</a>y, <a id="change">[</a>1, self.cep_order<a id="change"></a>]<a id="change">, dim=-1)</a>
        if self.gamma == 0:
            x0 = torch.log(K)
            x1 = y
        else:</code></pre>