<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        bottom = self.tree.tree_depth(0)
        self.c[&quotwidth&quot] = right+PADDING
        
        <a id="change">if (bottom+2)*50 &lt;= 250</a><a id="change">:
            </a>self.c[&quotheight&quot]<a id="change"> = 250</a>
        else:
            self.c[&quotheight&quot]<a id="change"> = </a>(bottom+2)<a id="change">*50</a>
            


</code></pre><h3>After Change</h3><pre><code class='java'>
        right = self.drawtree(self.tree, PADDING)
        bottom = self.tree.tree_depth(0)

        self.c[&quotscrollregion&quot]=(0<a id="change">,0,right+PADDING,min(250,(bottom+2)*50)</a>)
        
        &#47&#47self.c[&quotwidth&quot] = right+PADDING
        &#47&#47</code></pre>