<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 Post-process
        for i in batch:
            <a id="change">if y[i] is not None</a><a id="change">:
                y[i][:, :4] = </a><a id="change">scale_coords(</a>shape1, <a id="change">y[i][:, :4]</a>, <a id="change">shape0[i]</a><a id="change">)</a>

        return Detections(imgs, y, self.names)

</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 Inference
        with torch.no_grad():
            y = self.model(x, augment, profile)[0]  &#47&#47 forward
        <a id="change">y</a> = non_max_suppression(y, conf_thres=self.conf, iou_thres=self.iou, classes=self.classes)  &#47&#47 NMS

        &#47&#47 Post-process
        for i in batch:
            <a id="change">scale_coords(</a>shape1, <a id="change">y[i][:, :4]</a>, <a id="change">shape0[i]</a><a id="change">)</a>

        return Detections(imgs, y, self.names)

</code></pre>