<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.module_list = nn.Sequential(*self.module_list)

    def forward(self, x):
        <a id="change">return </a>self.module_list(x)


class GraphSageModel(thnn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        for i in range(self.num_layers - 1):
            x = F.relu(<a id="change">self.lins[i](</a>x<a id="change">)</a>)
            x<a id="change"> = </a><a id="change">self.bns[i](</a>x<a id="change">)</a>  &#47&#47 batch norm
            x = F.dropout(x, p=0.5, training=self.training)
        x<a id="change"> = self.lins[-1](</a>x<a id="change">)</a>
        <a id="change">return </a>x


class GraphSageModel(thnn.Module):</code></pre>