<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            return self.parse_sents([sent])[0]
        else:
            trees = self.nbest_parse(sent, 1)
            if trees: return <a id="change">trees[0]</a>
            else: return None

    def nbest_parse(self, sent, n=None):
        </code></pre><h3>After Change</h3><pre><code class='java'>
        
        if overridden(self.parse_sents):
            return self.parse_sents([sent])[0]
        elif <a id="change"></a>overridden(self.parse)<a id="change">:
            </a>return self.parse(sent)
        else:
            raise NotImplementedError()
</code></pre>