<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 figure out how big the convolution output will be
        conv_arch = DEFAULT_CNN_ARCHITECTURE[&quotCONV&quot]
        dense_arch = DEFAULT_CNN_ARCHITECTURE[&quotDENSE&quot].copy()  &#47&#47 copy to mutate
        dense_in_dim = np.prod(sb_conv_arch_output_size(<a id="change">obs_space.shape[1:]</a>,
                                                        conv_arch))
        dense_arch[0][&quotin_dim&quot] = dense_in_dim
</code></pre><h3>After Change</h3><pre><code class='java'>
        shared_network_layers = []

        &#47&#47 first apply convolution layers + flattening
        conv_arch<a id="change"> = </a>[
            <a id="change">{</a>&quotout_dim&quot: 32, &quotkernel_size&quot: 8, &quotstride&quot: 4<a id="change">}</a>,
            <a id="change">{</a>&quotout_dim&quot: 64, &quotkernel_size&quot: 4, &quotstride&quot: 2<a id="change">}</a>,
            {&quotout_dim&quot: 64, &quotkernel_size&quot: 3, &quotstride&quot: 1},
        ]
        for layer_spec in conv_arch:</code></pre>