<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x):
        device = x.device
        half_dim = self.dim // 2
        emb<a id="change"> = </a>math.log(10000)<a id="change"> / </a>(half_dim - 1)
        emb = torch.exp(torch.arange(half_dim, device=device) * -emb)
        emb<a id="change"> = </a><a id="change">x[:, None]</a> * emb[None, :]
        emb<a id="change"> = </a>torch.cat((emb.sin()<a id="change">, emb.cos()</a>), dim=-1)
        return emb

</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, input):
        shape = input.shape
        sinusoid_in<a id="change"> = </a>torch.ger(<a id="change">input.view(-1</a><a id="change">)</a>.float(), self.inv_freq)
        pos_emb<a id="change"> = </a>torch.cat([sinusoid_in.sin(), sinusoid_in.cos()], dim=-1)
        pos_emb = <a id="change">pos_emb.view(</a>*shape, self.dim<a id="change">)</a>
        return pos_emb


class Swish(nn.Module):</code></pre>