<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        if channel is not None:
            t = int(abs(math.log(channel, 2)+beta) / gamma)
            k_size = t<a id="change"> if </a>t<a id="change"> % </a>2<a id="change"> else </a>t<a id="change"> + </a>1

        self.avg_pool = nn.AdaptiveAvgPool2d(1)
        &#47&#47pytorch circular padding mode is buggy as of pytorch 1.4</code></pre><h3>After Change</h3><pre><code class='java'>

        if channels is not None:
            t = int(abs(math.log(channels, 2) + beta) / gamma)
            kernel_size = <a id="change">max(</a>t<a id="change"> if </a>t<a id="change"> % </a>2<a id="change"> else </a>t<a id="change"> + </a>1, <a id="change">3</a><a id="change">)</a>

        self.avg_pool = nn.AdaptiveAvgPool2d(1)
        &#47&#47pytorch circular padding mode is buggy as of pytorch 1.4
        &#47&#47see https://github.com/pytorch/pytorch/pull/17240</code></pre>