<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.outermost:
            return self.model(x)
        else:  &#47&#47 add skip connections
            return torch.cat(<a id="change">[</a>x, self.model(x)<a id="change"></a>], 1)
</code></pre><h3>After Change</h3><pre><code class='java'>
            if isinstance(layer, UnetSkipConnectionBlock):
                output, return_feats = layer(output, return_feats)
            else:
                output = <a id="change">layer(</a>output<a id="change">)</a>

        if not self.outermost:  &#47&#47 add skip connections
            output<a id="change"> = </a>torch.cat([x, output], 1)

        return output, return_feats
</code></pre>