<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                        x = torch.cat([layer_outputs[i] for i in layers], 1)
                    &#47&#47 print(&quot&quot), [print(layer_outputs[i].shape) for i in layers], print(x.shape)
            elif mtype == &quotshortcut&quot:
                x = x + layer_outputs[<a id="change">int(mdef[&quotfrom&quot]</a><a id="change">)</a>]
            elif mtype == &quotyolo&quot:
                output.append(module(x, img_size))
            layer_outputs.append(x if i in self.routs else [])</code></pre><h3>After Change</h3><pre><code class='java'>
                        x = torch.cat([layer_outputs[i] for i in layers], 1)
                    &#47&#47 print(&quot&quot), [print(layer_outputs[i].shape) for i in layers], print(x.shape)
            elif mtype == &quotshortcut&quot:
                j = <a id="change">int(mdef[&quotfrom&quot]</a><a id="change">)</a>
                if verbose:
                    print(&quotshortcut adding layer %g-%s to %g-%s&quot % (j, layer_outputs[j].shape, i - 1, x.shape))
                x = x + layer_outputs[j]
            elif mtype == &quotyolo&quot:</code></pre>