<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()

    def forward(self, x):
        <a id="change">return </a>x

&#47&#47 relative positional bias
</code></pre><h3>After Change</h3><pre><code class='java'>
        if x.ndim == 2:
            x = rearrange(x, &quotb n -&gt; b 1 n&quot)

        orig_x<a id="change"> = </a><a id="change">x.clone()</a>

        x = self.encoder(x)

        x = rearrange(x, &quotb c n -&gt; b n c&quot)
        x, indices, commit_loss = self.rq(x)
        x = rearrange(x, &quotb n c -&gt; b c n&quot)

        recon_x = self.decoder(x)

        recon_loss<a id="change"> = </a>F.mse_loss(orig_x, recon_x)
        <a id="change">return </a>recon_loss

&#47&#47 relative positional bias
</code></pre>