<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self,
        img
    ):
        <a id="change">return </a>img

&#47&#47 normalizations
</code></pre><h3>After Change</h3><pre><code class='java'>
        self,
        img
    ):
        fmap = <a id="change">img.clone()</a>

        for enc in self.encoders:
            fmap<a id="change"> = </a>enc(fmap)

        fmap, indices, commit_loss = self.vq(fmap)

        for dec in self.decoders:
            fmap = dec(fmap)

        recon_loss = F.mse_loss(fmap, img)
        loss<a id="change"> = </a>recon_loss + commit_loss
        <a id="change">return </a>loss

&#47&#47 normalizations
</code></pre>