<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for idx, block in enumerate(self.blocks):
            x = block(x)
            if idx in self.output_blocks:
                <a id="change">outp.append(</a>x<a id="change">)</a>

            if idx == self.last_needed_block:
                break
</code></pre><h3>After Change</h3><pre><code class='java'>
            List of torch.FloatTensor, corresponding to the selected output
            block, sorted ascending by index
        
        outputs = [None for _ in <a id="change">range(</a><a id="change">len(</a>self.output_blocks<a id="change">))</a>]

        if self.resize_input:
            x = F.interpolate(x,</code></pre>