<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            spembs = spembs.repeat(1, x.shape[1], 1)
            x = torch.cat((x, spembs), 2)
        else:
            <a id="change">raise </a>NotImplementedError("support only add or concat.")
            
        return x
        </code></pre><h3>After Change</h3><pre><code class='java'>
        x shape : (batch, 39, 256)
        spembs shape : (batch, 256)
        &quot&quot&quot
        spembs<a id="change"> = </a><a id="change">spembs.unsqueeze(</a>1<a id="change">)</a>
        spembs = spembs.repeat(1,x.shape[1] ,1)
        x = x + spembs
            
        return x</code></pre>