<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        heatmaps_pred = output.reshape(
            (batch_size, num_joints, -1)).split(1, 1)
        heatmaps_gt<a id="change"> = </a><a id="change">target.reshape((batch_size, num_joints, -1)).split(</a>1, 1<a id="change">)</a>

        loss = 0.

        for idx in range(num_joints):</code></pre><h3>After Change</h3><pre><code class='java'>
            Tensor: The calculated loss.
        
        if self.use_target_weight:
            loss = self.criterion(output * target_weights[...<a id="change">, None, None</a>],
                                  target * target_weights[..., None, None])
        else:
            loss = self.criterion(output, target)</code></pre>