<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.classifier = nn.Linear(self.reid_dim, self.nID)
            self.IDLoss = nn.CrossEntropyLoss(ignore_index=-1)
            self.emb_scale = np.math.sqrt(2) * np.math.log(self.nID - 1)
            self.s_det<a id="change"> = </a>nn.Parameter(-1.85 * <a id="change">torch.ones(</a>1<a id="change">)</a>, requires_grad=False)
            self.s_id = nn.Parameter(-1.05 * torch.ones(1), requires_grad=False)

    def forward(self, preds, targets, imgs=None):</code></pre><h3>After Change</h3><pre><code class='java'>
            self.classifiers = nn.ModuleList()
            self.emb_scales = []
            for idx, (label, id_num) in enumerate(zip(self.label_name, id_nums)):
                <a id="change">print(</a>"{}, tracking label name: &quot{}&quot, tracking_id number: {}, feat dim: {}".format(idx, label, id_num,
                                                                                                   self.reid_dim)<a id="change">)</a>
                self.emb_scales.append(np.math.sqrt(2) * np.math.log(id_num - 1))
                self.classifiers.append(nn.Linear(self.reid_dim, id_num))

    def forward(self, preds, targets, imgs=None):</code></pre>