<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :rtype: unicode

        
        <a id="change">word</a> = word.lower()

        if word in self.stopwords:
            return word

        <a id="change">r1</a> = self._r1_scandinavian(word, self.__vowels)

        &#47&#47 STEP 1
        for <a id="change">suffix</a> in self.__step1_suffixes:
            if r1.endswith(suffix):
                if suffix in ("erte", "ert"):
                    word = <a id="change">"".join(</a>(<a id="change">word[:-len(suffix)]</a><a id="change">, "er"</a>)<a id="change">)</a>
                    r1 = <a id="change">"".join(</a>(<a id="change">r1[:-len(suffix)]</a><a id="change">, "er"</a>)<a id="change">)</a>

                elif suffix == "s":
                    if (word[-2] in self.__s_ending or
                        (word[-2] == "k" and word[-3] not in self.__vowels)):</code></pre><h3>After Change</h3><pre><code class='java'>
        :rtype: unicode

        
        <a id="change">word</a> = word.lower()

        if word in self.stopwords:
            return word

        <a id="change">r1</a> = self._r1_scandinavian(word, self.__vowels)

        &#47&#47 STEP 1
        for <a id="change">suffix</a> in self.__step1_suffixes:
            if r1.endswith(suffix):
                if suffix in ("erte", "ert"):
                    word = <a id="change">suffix_replace(</a>word, suffix, <a id="change">"er"</a><a id="change">)</a>
                    r1 = <a id="change">suffix_replace(</a>r1, suffix, <a id="change">"er"</a><a id="change">)</a>

                elif suffix == "s":
                    if (word[-2] in self.__s_ending or
                        (word[-2] == "k" and word[-3] not in self.__vowels)):</code></pre>