<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 is put into upper case.
        for i in range(1, len(word)):
            if word[i-1] == "q" and word[i] == "u":
                <a id="change">word</a> = "".join((word[:i], "U", word[i+1:]))

        &#47&#47 Every occurrence of &quotu&quot and &quoti&quot
        &#47&#47 between vowels is put into upper case.
        for i in range(1, len(word)-1):
            if word[i-1] in self.__vowels and word[i+1] in self.__vowels:
                if word[i] == "u":
                    word = "".join((word[:i], "U", word[i+1:]))

                elif word [i] == "i":
                    word = "".join((word[:i], "I", word[i+1:]))

        r1, r2 = self._r1r2_standard(word, self.__vowels)
        <a id="change">rv</a> = self._rv_standard(word, self.__vowels)

        &#47&#47 STEP 0: Attached pronoun
        for <a id="change">suffix</a> in self.__step0_suffixes:
            if rv.endswith(suffix):
                if rv[-len(suffix)-4:-len(suffix)] in ("ando", "endo"):
                    word = word[:-len(suffix)]
                    r1 = r1[:-len(suffix)]
                    r2 = r2[:-len(suffix)]
                    rv = rv[:-len(suffix)]

                elif (rv[-len(suffix)-2:-len(suffix)] in
                      ("ar", "er", "ir")):
                    word = <a id="change">"".join(</a>(<a id="change">word[:-len(suffix)]</a><a id="change">, "e"</a>)<a id="change">)</a>
                    r1 = "".join((r1[:-len(suffix)], "e"))
                    r2 = "".join((r2[:<a id="change">-len(suffix)</a>], "e"))
                    rv = <a id="change">"".join(</a>(<a id="change">rv[:-len(suffix)]</a><a id="change">, "e"</a>)<a id="change">)</a>
                break

        &#47&#47 STEP 1: Standard suffix removal
        for suffix in self.__step1_suffixes:</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 is put into upper case.
        for i in range(1, len(word)):
            if word[i-1] == "q" and word[i] == "u":
                <a id="change">word</a> = "".join((word[:i], "U", word[i+1:]))

        &#47&#47 Every occurrence of &quotu&quot and &quoti&quot
        &#47&#47 between vowels is put into upper case.
        for i in range(1, len(word)-1):
            if word[i-1] in self.__vowels and word[i+1] in self.__vowels:
                if word[i] == "u":
                    word = "".join((word[:i], "U", word[i+1:]))

                elif word [i] == "i":
                    word = "".join((word[:i], "I", word[i+1:]))

        r1, r2 = self._r1r2_standard(word, self.__vowels)
        <a id="change">rv</a> = self._rv_standard(word, self.__vowels)

        &#47&#47 STEP 0: Attached pronoun
        for <a id="change">suffix</a> in self.__step0_suffixes:
            if rv.endswith(suffix):
                if rv[-len(suffix)-4:-len(suffix)] in ("ando", "endo"):
                    word = word[:-len(suffix)]
                    r1 = r1[:-len(suffix)]
                    r2 = r2[:-len(suffix)]
                    rv = rv[:-len(suffix)]

                elif (rv[-len(suffix)-2:-len(suffix)] in
                      ("ar", "er", "ir")):
                    word = <a id="change">suffix_replace(</a>word, suffix, <a id="change">"e"</a><a id="change">)</a>
                    r1 = suffix_replace(r1, suffix, "e")
                    r2 = suffix_replace(r2, suffix, "e")
                    rv = <a id="change">suffix_replace(</a>rv, suffix, <a id="change">"e"</a><a id="change">)</a>
                break

        &#47&#47 STEP 1: Standard suffix removal
        for suffix in self.__step1_suffixes:</code></pre>