<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    &#47&#47 feats: [bts, seq_len, num_labels+2]
    &#47&#47 mask: [bts, seq_len]
    def forward(self, feats, mask):
        best_path<a id="change"> = </a>self._viterbi_decode(feats, mask)  &#47&#47 [bts, seq_len]
        <a id="change">return </a>best_path
    
    @staticmethod
    def log_sum_exp(vec, m_size):</code></pre><h3>After Change</h3><pre><code class='java'>
            tags: [btz, seq_len]
        
        if reduction not in (&quotnone&quot, &quotsum&quot, &quotmean&quot, &quottoken_mean&quot):
            <a id="change">raise </a><a id="change">ValueError(f&quotinvalid reduction: {reduction}&quot</a><a id="change">)</a>
        if mask.dtype != torch.uint8:
            mask = mask.byte()
        self._validate(emissions, tags=tags, mask=mask)</code></pre>