<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
			preds.append(self.Linear(h))
		preds = torch.stack(preds, dim = 1)
		if y is not None:
			preds_ = <a id="change">torch.transpose(</a>preds, <a id="change">1</a>, <a id="change">2</a><a id="change">)</a>
			&#47&#47print(preds.size())

			y = y.long()
			loss<a id="change"> = </a>self.Loss(preds_, torch.squeeze(y))
			<a id="change">return </a>preds<a id="change">, loss</a>
		return preds

</code></pre><h3>After Change</h3><pre><code class='java'>
		preds_ = torch.stack(preds_, dim = 1)
		if y is not None:
			loss/=len(xs)
			<a id="change">return </a>preds_<a id="change">, loss</a>
		return preds_

</code></pre>