<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    
    def __as_integers(self, name, attribute_indices):
        indices = []
        <a id="change">for </a>attribute_index in attribute_indices.split(&quot,&quot)<a id="change">:
            </a>try:
                indices.append(int(attribute_index.strip()))
            except ValueError:
                raise inv.InvalidDataError(&quotInvalid Data. &quot + name + &quot should be integers.&quot)</code></pre><h3>After Change</h3><pre><code class='java'>
    
    def __as_integers(self, name, str_array):
        indices = []
        <a id="change">if str_array is not None</a><a id="change">:
            </a><a id="change">for </a>element in str_array.split(&quot,&quot)<a id="change">:
                </a>try:
                    indices.append(int(element.strip()))
                except ValueError:
                    raise inv.InvalidDataError(&quotInvalid Data. &quot + name + &quot should be integers.&quot)</code></pre>