<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 seed with a uniform distribution
        initial_prob = 1 / len(self.trg_vocab)
        <a id="change">for </a>t in self.trg_vocab<a id="change">:
            </a>for s in self.src_vocab:
                self.translation_table[t][s] = initial_prob

        self.train(sentence_aligned_corpus, iterations)</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 seed with a uniform distribution
        initial_prob = 1 / len(self.trg_vocab)
        <a id="change">if initial_prob &gt; IBMModel.MIN_PROB</a><a id="change">:
            </a><a id="change">for </a>t in self.trg_vocab<a id="change">:
                </a>for s in self.src_vocab:
                    self.translation_table[t][s] = initial_prob
        else:
            warnings.warn("Target language vocabulary is too large. "</code></pre>