<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, img):
        b = img.shape[0]
        tokens = self.image_to_tokens(img)
        <a id="change">print(</a>tokens.shape<a id="change">)</a>
        return tokens
</code></pre><h3>After Change</h3><pre><code class='java'>
        tokens = self.image_to_tokens(img)
        n = tokens.shape[1]

        pos_embs<a id="change"> = </a>self.pos_emb(<a id="change">torch.arange(</a>n<a id="change">, device = device)</a>)
        bottom_level<a id="change"> = </a>tokens<a id="change"> + </a>rearrange(pos_embs, &quotn d -&gt; () n d&quot)
        levels = repeat(self.init_levels, &quotl d -&gt; b n l d&quot, b = b, n = n)

        return tokens</code></pre>