<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.max_pixel_val = max_pixel_val

        if mean:
            self.mean = <a id="change">torch.tensor(mean).view(-1</a>, 1, <a id="change">1</a><a id="change">)</a>
        else:
            self.mean = None
        if std:
            self.std = torch.tensor(std).view(-1, 1, 1)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.output_channel_bits = output_channel_bits
        self.max_pixel_val = max_pixel_val

        self.mean = <a id="change">torch.tensor(mean).view(-1</a>, 1, <a id="change">1</a><a id="change">)</a> if mean else None
        self.std = torch.tensor(std).view(-1, 1, 1) if std else None

    def forward(self, predicted_patches, target, mask):</code></pre>