<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 construct convolutional-pooling subnet
        pool = nn.MaxPool1d(pool_size)
        conv_layers = [
            <a id="change">nn.Conv1d(</a>1, out_channels_cnn_1, kernel_size<a id="change">, padding="same")</a>,
            nn.ReLU(),
            pool,
            nn.Conv1d(</code></pre><h3>After Change</h3><pre><code class='java'>
                padding=padding,
            )
            pool = pool_module(kernel_size=pool_kernel_size)
            cnn_layers<a id="change"> += </a><a id="change">[</a>conv_layer, nn.ReLU(inplace=True), pool<a id="change"></a>]
            &#47&#47 Calculate change of output size of each CNN layer
            cnn_output_size = get_new_cnn_output_size(cnn_output_size, conv_layer, pool)
</code></pre>