<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if not isinstance(feat, tuple):
            feat = (feat, )
        if len(feat) &gt;= 2:
            <a id="change">assert </a>self.with_temporal_pool
        if self.with_temporal_pool:
            feat = [torch.mean(x, 2, keepdim=True) for x in feat]
        feat = torch.cat(feat, axis=1)</code></pre><h3>After Change</h3><pre><code class='java'>
            feat = [F.interpolate(x, max_shape).contiguous() for x in feat]

        if self.with_temporal_pool:
            <a id="change">if self.temporal_pool_mode == &quotavg&quot</a><a id="change">:
                </a>feat = [torch.mean(x, 2, keepdim=True) for x in feat]
            elif <a id="change">self.temporal_pool_mode == &quotmax&quot:
                </a>feat = [torch.max(x, 2, keepdim=True)[0] for x in feat]
            else:
                <a id="change">raise </a>NotImplementedError

        feat = torch.cat(feat, axis=1).contiguous()
</code></pre>