<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.ReLU()
        ])

        <a id="change">for l</a> in <a id="change">range(</a>num_layers_linear_hidden - 1<a id="change">):
            self.operators.append(</a>nn.Linear(hidden_dim, hidden_dim)<a id="change">)</a>
            <a id="change">self.operators.append(</a>nn.ReLU()<a id="change">)</a>
            &#47&#47 self.operators.append(nn.Dropout(0.2))

        self.operators.append(nn.Linear(hidden_dim, 2 * action_dim))
</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.Linear(in_dim, prev_object[1]),
        ])

        <a id="change">for </a>layer, <a id="change">argument</a> in policy_structure[:-1]<a id="change">:
            </a>if layer == &quotlinear&quot:
                <a id="change">self.operators.append(</a>nn.Linear(prev_object[1], argument)<a id="change">)</a>
                prev_object = (layer, argument)
            elif <a id="change">layer == &quotrelu&quot</a><a id="change">:
                </a>assert argument is None, &quotNo argument for ReLU please&quot
                <a id="change">self.operators.append(</a>nn.ReLU()<a id="change">)</a>
            elif layer == &quotdropout&quot:
                self.operators.append(nn.Dropout(argument))
            else:
                raise NotImplementedError(f&quot{layer} not known&quot)</code></pre>