<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

                &#47&#47 Update human nodes
                node_encodings[:n_h] = self.sub_update(torch.cat([
                    <a id="change">node_encodings[:n_h]</a>,
                    torch.mm(adjacency_matrix, self.obj_to_sub(node_encodings))
                ], 1))
</code></pre><h3>After Change</h3><pre><code class='java'>
            x_keep, y_keep = torch.nonzero(x != y).unbind(1)
            &#47&#47 Human nodes have been duplicated and will be treated independently
            &#47&#47 of the humans included amongst object nodes
            x = x.flatten(); y<a id="change"> = </a><a id="change">y.flatten()</a>

            for i in range(self.num_iter):
                &#47&#47 Compute weights of each edge
                weights = self.adjacency(torch.cat([</code></pre>