<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            blocks = self.blocks[:1] if len(blocks) == 0 else blocks

        if not reverse:
            <a id="change">return </a><a id="change">nn.Sequential(*blocks)(</a>x<a id="change">)</a>

        return _ReversibleFunction.apply(x, blocks)
</code></pre><h3>After Change</h3><pre><code class='java'>
        if not reverse:
            for block in blocks:
                x = block(x, **block_kwargs)
            <a id="change">return </a>x

        return _ReversibleFunction.apply(x, blocks, block_kwargs)
</code></pre>