<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            &#47&#47 out = F.silu(out.transpose(-1, -2) + residual)
            out = out.transpose(-1, -2) + residual

        <a id="change">return </a>out, None  &#47&#47 empty state

    def _get_input_buffer(self, state: Optional[Dict[str, Dict[str, Optional[torch.Tensor]]]]) -&gt; Dict[str, Optional[torch.Tensor]]:
        result = self.get_state(state, "ema_state")</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 assert not self.bidirectional or state is None, &quotBidirectional EMA does not support incremental state&quot
        if state is not None:
            <a id="change">raise </a><a id="change">NotImplementedError(
                </a>"MultiHeadEMA module does not support state passing in this repository."
                "Use S4D for more functionality such as state passing and better performance."<a id="change">
            )</a>
        else:
            k = self.kernel(L)  &#47&#47 (H L)
            l_fft = L
            s = 0</code></pre>