<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                head_layers[&quotpool&quot] = AbsAttentionPool2d(prev_chs, feat_size=feat_size, out_features=embed_dim)
                prev_chs = embed_dim
            elif pool == &quotrot_attn&quot:
                <a id="change">assert </a>feature_ndim == 2
                head_layers[&quotpool&quot] = RotAttentionPool2d(prev_chs, out_features=embed_dim)
                prev_chs = embed_dim
            elif pool == &quotavg&quot:</code></pre><h3>After Change</h3><pre><code class='java'>
            self.trunk.reset_classifier(0, global_pool=&quot&quot)
        else:
            &#47&#47 reset global pool if pool config set, otherwise leave as network default
            reset_kwargs = dict(global_pool=pool)<a id="change"> if </a>pool<a id="change"> else {}</a>
            self.trunk.reset_classifier(0, **reset_kwargs)
        prev_chs = self.trunk.num_features

        head_layers = OrderedDict()</code></pre>