<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.refinement_snr_min = -10
        self.refinement_snr_max = (100, 10, 5, 0, -5, -5, -5, -5)
        &#47&#47 Add a bunch of &quot-5&quot SNRs to support currently a maximum of 8 refinement layers.
        <a id="change">assert </a>len(self.stages) &lt;= 8

    def forward(
        self, spec: Tensor, atten_lim: Optional[Tensor] = None, **kwargs  &#47&#47 type: ignore</code></pre><h3>After Change</h3><pre><code class='java'>
        self.mask = Mask(erb_inv_fb, post_filter=p.mask_pf)
        refinement_act = {"tanh": nn.Tanh, "identity": nn.Identity}[p.refinement_act.lower()]
        assert p.refinement_depth &lt;= 6
        strides = <a id="change">[</a>2, 2, 2, 2, 1, 2<a id="change"></a>]<a id="change"> if </a>p.refinement_depth == 6<a id="change"> else </a>None
        self.refinement_stage = FreqStage(
            in_ch=2,
            out_ch=2,</code></pre>