<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if isinstance(layer, SelfAttentionLayer):
                x = layer(x, valid_len, time_step_len)

        <a id="change">return </a>x


class SelfAttentionLayer(MessagePassing):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, global_data):
        x, edge_index = global_data.x, global_data.edge_index
        valid_lens, time_step_len = global_data.valid_lens<a id="change">, int(global_data.time_step_len[0])</a>

        &#47&#47 print("x size:", x.size())
        x = x.view(-1, time_step_len, self.in_channels)
        &#47&#47 randomly mask out node features when training</code></pre>