<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.spk_embed_integration_type = hp.spk_embed_integration_type
    
    def forward(self, x, spembs):
        <a id="change">if self.spk_embed_integration_type == "add"</a><a id="change">:
            </a>pass
        elif self.spk_embed_integration_type == "concat":
            spembs = torch.unsqueeze(spembs, 1)
            spembs = spembs.repeat(1, x.shape[1], 1)
            x<a id="change"> = </a>torch.cat((x, spembs), 2)
        else:
            raise NotImplementedError("support only add or concat.")
            </code></pre><h3>After Change</h3><pre><code class='java'>
        x shape : (batch, 39, 256)
        spembs shape : (batch, 256)
        &quot&quot&quot
        spembs<a id="change"> = </a><a id="change">spembs.unsqueeze(1</a><a id="change">)</a>
        spembs = spembs.repeat(1,x.shape[1] ,1)
        x<a id="change"> = </a>x<a id="change"> + </a>spembs
            
        return x
        </code></pre>