<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self._frame_idx is None:
            self._buildframeindex()

        outlist<a id="change"> = []</a>
        <a id="change">for fid</a> in list(self._frame_idx.keys())<a id="change">:
            </a>f = self.frame(fid)
            if any([re.search(pat, lu.name) for lu in f.lexUnit]):
                <a id="change">outlist.append(</a>(f.name, f.ID)<a id="change">)</a>

        return outlist

    def lu_basic(self, fn_luid):</code></pre><h3>After Change</h3><pre><code class='java'>
        :return: A list of frame objects.
        :rtype: list(AttrDict)
        
        return PrettyList(f for f in self.frames() if <a id="change">any(</a>re<a id="change">.search(pat, luName) for luName in f.lexUnit)</a>)

    def lu_basic(self, fn_luid):
        </code></pre>