<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            &#47&#47 generate spikes
            if neg_spikes:
                activations = (
                    threshold_subtract(<a id="change">state.abs()</a>, threshold, threshold * window)
                    * state.sign().int()
                )
            else:</code></pre><h3>After Change</h3><pre><code class='java'>
        for iCurrentTimeStep in range(time_steps):

            &#47&#47 update neuron states (membrane potentials)
            <a id="change">if </a>self.membrane_reset<a id="change">:
                &#47&#47 sum the previous state only where there were no spikes
                </a>state<a id="change"> = </a>syn_out[iCurrentTimeStep] + state * (activations == 0.)
            else:
                &#47&#47 subtract a number of membrane_subtract&quots as there are spikes
                state = syn_out[iCurrentTimeStep] + state - activations * self.membrane_subtract</code></pre>