<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        pearson = [neg_Pearson_Loss(prediction,targets) for prediction in predictions ]
        &#47&#47 snr_loss = [si_snr(prediction,targets) for prediction in predictions ]

        return torch.mean(<a id="change">torch.tensor(</a>pearson<a id="change">)</a>)&#47&#47torch.sum(torch.Tensor(pearson)) &#47&#47+ torch.sum(torch.Tensor(snr_loss))&#47&#47torch.mean(torch.tensor(pearson))


</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 p_loss = mutual_information_loss(predictions[i], targets)

        <a id="change">if epoch &gt;= 400</a><a id="change">:
            </a>loss<a id="change"> += </a>phase_correlation_loss(predictions[i],targets)
            loss<a id="change"> += </a>power_spectrum_loss(predictions[i], targets)
        shrink_factor = 4

</code></pre>