<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        hPad = max(0, 32 - h)
        wPad = max(0, 32 - w)
        x = F.pad(x, (0, wPad, 0, hPad))
        return self._quantizer(self._encoder(x)), <a id="change">torch.tensor(</a>[h, w]<a id="change">, dtype=torch.int)</a>


class RefDecoder(nn.Module):
    def __init__(self, m, k, channel):</code></pre><h3>After Change</h3><pre><code class='java'>
        for i in range(self._levels):
            head = self._heads[i]
            z = head(latent)
            <a id="change">if i &lt; self._levels - 1</a><a id="change">:
                </a>mapper<a id="change"> = </a>self._mappers[i]
                latent = mapper(latent)
                code = self._quantizers[i](z)
                hard = self._deQuantizers[i](code)
                latent<a id="change"> = </a>latent - hard
            else:
                code = self._quantizers[i](z)
            codes.append(code)</code></pre>