<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.rho.data.fill_(0.)

        self.instance_norm = nn.InstanceNorm2d(channels, eps=eps, affine=False)
        self.layer_norm    = nn.LayerNorm((channels<a id="change">, resl, resl</a>), eps=eps, elementwise_affine=False)

        self.gamma = nn.Parameter(torch.Tensor(1, channels, 1, 1))
        self.beta  = nn.Parameter(torch.Tensor(1, channels, 1, 1))</code></pre><h3>After Change</h3><pre><code class='java'>
        self.layer_norm = get_normalization(&quotln&quot, channels, affine=False)
        self.instance_norm = get_normalization(&quotin&quot, channels, affine=False)
        self.rho   = nn.Parameter(torch.ones(1, channels, 1, 1) * 0.5)
        <a id="change">if affine</a><a id="change">:
            </a>self.affine<a id="change"> = </a>True
            self.gamma = nn.Parameter(torch.ones(1, channels, 1, 1))
            self.beta  = nn.Parameter(torch.zeros(1, channels, 1, 1))
        else: self.affine<a id="change"> = </a>False

    def forward(self, x):
        layer_norm = self.layer_norm(x)</code></pre>