<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    if len(s) == 0:
        return True
    &#47&#47 all the elements are tuples of the same length
    elif s == set([elem for elem in s if <a id="change">isinstance(</a>elem, tuple<a id="change">)</a>]) and\
         len(max(s))==len(min(s)):
        return True
    else:</code></pre><h3>After Change</h3><pre><code class='java'>
    if len(s) == 0:
        return True
    &#47&#47 all the elements are tuples of the same length
    elif all(<a id="change">isinstance</a>(el, tuple) <a id="change">for</a> el in s) and len(max(s))==len(min(s)):
        return True
    else:
        raise ValueError("Set %r contains sequences of different lengths" % s)</code></pre>