<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        val = sqrt(3.0) * std  &#47&#47 uniform bounds for std
        self.embedding.weight.data.uniform_(-val, val)
        self.encoder = Encoder(hparams)
        self.decoder = <a id="change">Decoder(</a>hparams<a id="change">)</a>
        self.postnet = Postnet(hparams)

    def parse_data_batch(self, batch):
        text_padded, input_lengths, mel_padded, gate_padded, \</code></pre><h3>After Change</h3><pre><code class='java'>
        self.embedding.weight.data.uniform_(-val, val)

        &#47&#47 Encoder
        encoder_cfg = <a id="change">model_cfg["encoder"]</a>
        encoder_out_dim = encoder_cfg["blstm_units"]
        self.encoder = Encoder(embed_dim, **encoder_cfg)

        &#47&#47 Decoder
        decoder_cfg = <a id="change">model_cfg["decoder"]</a>
        self.decoder = Decoder(mel_dim, r, encoder_out_dim, **decoder_cfg,
            max_decoder_steps=max_decoder_steps, stop_threshold=stop_threshold)

        &#47&#47 Postnet</code></pre>