<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            downsample_kernel_size=downsample_kernel_size,
        )
        &#47&#47 self.adaptive_avg_pool = avg_pool_type(1)
        self.dropout = dropout_type(dropout_prob)<a id="change"> if </a>dropout_prob is not None<a id="change"> else </a>None
        &#47&#47 self.last_linear = nn.Linear(512 * block.expansion, num_classes)
        self.num_features = 512 * block.expansion
</code></pre><h3>After Change</h3><pre><code class='java'>
            reduction=reduction,
            downsample_kernel_size=downsample_kernel_size,
        )
        all_layers = <a id="change">[</a>layer0, layer1, layer2, layer3, layer4<a id="change"></a>]
        self.layers = <a id="change">nn.ModuleList(</a>all_layers[:num_layers + 1]<a id="change">)</a>

        for m in self.modules():
            if isinstance(m, conv_type):
                nn.init.kaiming_normal_(torch.as_tensor(m.weight))</code></pre>