<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        p = self.projection(c_onehot)

        x<a id="change"> += </a><a id="change">torch.sum(</a>p * h<a id="change">, dim=1, keepdim=True)</a>

        return x

</code></pre><h3>After Change</h3><pre><code class='java'>

        in_prod = p * h

        x<a id="change"> = </a>x.view(<a id="change">x.size(0</a><a id="change">)</a>, -1)
        x = torch.mean(x, dim=-1) + torch.mean(in_prod, dim=-1)

        return x</code></pre>