<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.backbone, feature_channels = _BuildCSPDarknet53()

        &#47&#47 head conv
        self.head_conv<a id="change"> = </a>nn.Sequential(
            <a id="change">Conv(</a>feature_channels[-1], feature_channels[-1]//2, <a id="change">1</a><a id="change">)</a>,
            Conv(feature_channels[-1]//2, feature_channels[-1], 3),
            Conv(feature_channels[-1], feature_channels[-1]//2, 1),
        )</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, weight_path=None, out_channels=255, resume=False):
        super(YOLOv4, self).__init__()

        a = <a id="change">cfg.MODEL_TYPE[&quotTYPE&quot]</a>
        if cfg.MODEL_TYPE[&quotTYPE&quot] == &quotYOLOv4&quot:
            &#47&#47 CSPDarknet53 backbone
            self.backbone, feature_channels = _BuildCSPDarknet53(weight_path=weight_path, resume=resume)
        elif cfg.MODEL_TYPE["TYPE"] == &quotMobilenet-YOLOv4&quot:</code></pre>