<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.init.ones_(self.v)

    def forward(self, x):
        <a id="change">assert </a>x.dim() == 4, &quotexpected 4D input&quot
        x_type = x.dtype
        running_var = self.running_var.view(1, -1, 1, 1)
        if self.training:</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.init.ones_(self.v)

    def forward(self, x):
        _assert(<a id="change">x.dim() == 4</a>, &quotexpected 4D input&quot)
        x_type = x.dtype
        if self.v is not None:
            running_var = self.running_var.view(1, -1, 1, 1)</code></pre>