<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        super().__init__()

        self.n_hidden_layers = <a id="change">len(</a>hidden_units<a id="change">)</a> - 1
        self.layers = []
        for i in range(self.n_hidden_layers):
            self.layers.append(nn.Linear(hidden_units[i], hidden_units[i + 1]))</code></pre><h3>After Change</h3><pre><code class='java'>
        
        super().__init__()

        self.n_hidden_layers = <a id="change">len(</a>hidden_units<a id="change">)</a>
        self.layers = []
        for i in range(self.n_hidden_layers<a id="change"> - 2</a>):
            self.layers.append(nn.Linear(hidden_units[i], hidden_units[i + 1]))
            self.layers.append(nn.ReLU(True))
        self.layers.append(nn.Linear(hidden_units[self.n_hidden_layers - 2], hidden_units[self.n_hidden_layers - 1]))</code></pre>