<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        pred = outputs["outputs"]
        targets = move_to(batch["targets"], device)
        
        batch_size, num_classes = <a id="change">pred.shape[:2]</a>
        y_hot = move_to(torch.zeros(pred.shape), device).scatter_(1, targets.unsqueeze(1) , 1.0)
        y_smooth = (1 - self.alpha) * y_hot + self.alpha / num_classes
        loss = torch.sum(- y_smooth * torch.nn.functional.log_softmax(pred, -1), -1).sum()
</code></pre><h3>After Change</h3><pre><code class='java'>
        pred = outputs["outputs"]
        target = move_to(batch["targets"], device)

        <a id="change">if </a><a id="change">self.weight is not None:
            </a>self.weight = move_to(self.weight, device)

        <a id="change">if self.ignore_index is not None</a><a id="change">:
            </a>target<a id="change"> = </a>torch.argmax(target, dim=1)
            loss<a id="change"> = </a>nn.functional.cross_entropy(pred, target, weight=self.weight, ignore_index=self.ignore_index)
        else:
            loss = nn.functional.cross_entropy(pred, target, weight=self.weight)
            </code></pre>