<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.hidden_layers=hidden_layers
        
        self.feature_layer=nn.Linear(self.input_size,self.hidden_layers)
        self.value_layer=<a id="change">nn.Linear(</a>self.hidden_layers,<a id="change">1</a><a id="change">)</a>&#47&#47输出value
        self.advantage_layer=nn.Linear(self.hidden_layers,self.output_size)&#47&#47输出每个动作的优先值
       
    </code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 复制参数
        self.target_net.load_state_dict(self.train_net.state_dict())
        self.optimizer = optim.RMSprop(
            <a id="change">self.train_net.parameters()</a>, lr=lr, eps=0.001, alpha=0.95)
        self.memory = MEMORY_BUFFER_PER(memory_size)
        self.learn_step_counter = 0
        self.epsilon = e_greedy</code></pre>