<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :param x: [x_len, batch_size, emb_size]
        :return: [x_len, batch_size, emb_size]
        
        x<a id="change"> = </a>self.pe[:x.size(0), :]  &#47&#47 [src_len, 1, d_model]
        <a id="change">return </a>x  &#47&#47 [src_len, 1, d_model]


class TokenEmbedding(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        :param position_ids: [1,position_ids]
        :return: [position_ids_len, 1, hidden_size]
        
        <a id="change">return </a><a id="change">self.embedding(</a>position_ids<a id="change">)</a>.transpose(0, 1)

    def _reset_parameters(self, initializer_range):
        rInitiate parameters.</code></pre>