<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.preactivation = preactivation
        self._incremental_n_modes = incremental_n_modes

        <a id="change">assert </a>len(self.layer_configs) == n_layers
        

        if domain_padding is not None and domain_padding &gt; 0:</code></pre><h3>After Change</h3><pre><code class='java'>
        
        if self.horizontal_skips_map is None:
            self.horizontal_skips_map = {}
            for i in <a id="change">range(</a>n_layers//2,<a id="change">0</a><a id="change">,)</a>:
                self.horizontal_skips_map[n_layers - i -1] = i
        
</code></pre>