<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        assert ratio_ul &gt;= 1 and 0 &lt; p_cutoff &lt;= 1

        &#47&#47 mixup args
        <a id="change">assert </a>mix_mode in [
            "mixup", "manifoldmix", "cutmix", "saliencymix", "resizemix", "fmix"]
        if mix_mode in ["manifoldmix"]:
            assert 0 == min(mix_args[mix_mode]["layer"]) and max(mix_args[mix_mode]["layer"]) &lt; 4</code></pre><h3>After Change</h3><pre><code class='java'>
        if self.mix_prob is not None:
            assert len(self.mix_prob) == len(self.alpha) and abs(sum(self.mix_prob)-1e-10) &lt;= 1, \
                "mix_prob={}, sum={}, alpha={}".format(self.mix_prob, sum(self.mix_prob), self.alpha)
            for i in <a id="change">range(1</a>, len(self.mix_prob)<a id="change">)</a>:
                self.mix_prob[i] = self.mix_prob[i] + self.mix_prob[i-1]
        assert label_rescale in [&quotlabeled&quot, &quotunlabeled&quot, &quotboth&quot, &quotnone&quot]
        self.label_rescale = label_rescale</code></pre>