<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 set required parameters
        self.device = device
        for required_arg in self.REQUIRED_ARGS:
            <a id="change">if required_arg not in model_kwargs.keys()</a><a id="change">:
                raise </a><a id="change">ValueError(f"model {self.NAME} requires parameter &quot{required_arg}&quot"</a><a id="change">)</a>
            required_val = model_kwargs[required_arg]

            &#47&#47 pre-setattr checks
            if required_arg == "tensor_value_range":</code></pre><h3>After Change</h3><pre><code class='java'>

            &#47&#47 pre-setattr checks
            if required_arg == "tensor_value_range":
                required_val = model_kwargs.get(required_arg, (<a id="change">0</a><a id="change">, 0</a>))
                if type(required_val) not in [tuple, list] or len(required_val) != 2:
                    raise ValueError("value for argument &quottensor_value_range&quot needs to be tuple or list with 2 elems")
</code></pre>