<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 scale back the data to the original representation
        if inverse:
            <a id="change">return </a>torch<a id="change">.sqrt(self.running_variance.float()) \
                * torch.clamp(x, min=-self.clip_threshold, max=self.clip_threshold) + </a>self.running_mean.float()
        &#47&#47 standardization by centering and scaling
        else:
            return torch.clamp((x - self.running_mean.float()) / (torch.sqrt(self.running_variance.float()) + self.epsilon), </code></pre><h3>After Change</h3><pre><code class='java'>
            with torch.no_grad():
                return self._compute(x, train, inverse)
        else:
            <a id="change">return </a>self._compute(x, train, inverse)</code></pre>