<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        se_interpolation_mode: str = "nearest",
        stride_last: bool = False,
    ):
        <a id="change">super(</a>JasperBlock, self<a id="change">)</a>.__init__()

        if padding != "same":
            raise ValueError("currently only &quotsame&quot padding is supported")</code></pre><h3>After Change</h3><pre><code class='java'>
            res_list = nn.ModuleList()

            stride_residual = (
                stride if <a id="change">stride[0] == 1</a> or stride_last else stride[0] ** repeat
            )
            if len(residual_panes) == 0:
                res_panes = [inplanes]</code></pre>