<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for layer_name in self.res_layers:
            res_layer = getattr(self, layer_name)
            x = res_layer(x)
        <a id="change">return </a>x

    def _freeze_stages(self):
        Prevent all the parameters from being optimized before</code></pre><h3>After Change</h3><pre><code class='java'>
        
        x = self.conv1(x)
        x = self.maxpool(x)
        <a id="change">outs</a> = []
        for i, layer_name in enumerate(self.res_layers):
            res_layer = getattr(self, layer_name)
            x = res_layer(x)
            if i in self.out_indices:
                outs.append(x)
        if len(outs) == 1:
            return <a id="change">outs[0]</a>
        else:
            <a id="change">return </a><a id="change">tuple(</a>outs<a id="change">)</a>

    def _freeze_stages(self):
        Prevent all the parameters from being optimized before
        ``self.frozen_stages``.</code></pre>