<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &quottry&quot ... stem to &quotspi&quot, &quotfli&quot, &quottri&quot and conflate with &quotspied&quot, &quottried&quot,
        &quotflies&quot ...
        
        if <a id="change">word[-1]</a> == &quoty&quot and len(word) &gt; 2 and self._cons(word, len(word) - 2):
            return word[:-1] + &quoti&quot
        else:
            return word</code></pre><h3>After Change</h3><pre><code class='java'>
            (
                &quoty&quot,
                &quoti&quot,
                nltk_condition<a id="change"> if self.mode == self.NLTK_EXTENSIONS</a><a id="change">
                               else </a>original_condition
            )
        ])
</code></pre>