<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    
    conv_features = self.__img2embed_conv__(batch_features).permute(0, 2, 3, 1) &#47&#47 (N, block_num, block_num, embed_dim * 0.5)
    apool = torch.mean(conv_features, dim = 1) &#47&#47 (N, block_num, embed_dim * 0.5)
    mpool<a id="change">, _</a> = torch.max(conv_features, dim = 1) &#47&#47 (N, block_num, embed_dim * 0.5)

    imgs_embed = torch.cat([apool, mpool], dim = 2) &#47&#47 (N, block_num, embed_dim)
</code></pre><h3>After Change</h3><pre><code class='java'>
    batch = images.shape[0] &#47&#47 (N)

    
    <a id="change">with torch</a><a id="change">.no_grad():
      </a>batch_features = self.__clip__.encode_image(images)
      
    &#47&#47text_input = self.__get_text_input__(tag_ids)
    &#47&#47batch_texts = self.__clip__.encode_text(text_input)</code></pre>