<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        warnings.warn("We will change the network architecture.", DeprecationWarning)
    
    def forward(self, input):
        stacked<a id="change"> = </a><a id="change">[]</a>

        x = self.band_split(input)

        for idx, key in enumerate(self.bands[:-1]):</code></pre><h3>After Change</h3><pre><code class='java'>

        _, _, n_bins, _ = input.size()

        sections<a id="change"> = </a>[sum(sections), n_bins - sum(sections)]
        x_valid, x_invalid = <a id="change">torch.split(</a>input, sections<a id="change">, dim=2)</a>

        x = self.band_split(x_valid)

        x_bands = []</code></pre>