<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        self.fc_out = nn.Linear((enc_hid_dim * 2) + dec_hid_dim + emb_dim, dec_in)
        
        self.dropout<a id="change"> = </a><a id="change">nn.Dropout(</a>dropout<a id="change">)</a>
        
    def forward(self, input, hidden, encoder_outputs):
             
        &#47&#47hidden = [batch size, dec hid dim]</code></pre><h3>After Change</h3><pre><code class='java'>

        self.attention = attention
        
        self.embedding = <a id="change">DataEmbedding_ED(</a>dec_in, emb_dim, embed, freq, dropout<a id="change">)</a>
        
        self.rnn = nn.GRU((enc_hid_dim * 2) + emb_dim, dec_hid_dim, batch_first=True)
        
        self.fc_out = nn.Linear((enc_hid_dim * 2) + dec_hid_dim + emb_dim, dec_in)</code></pre>