<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        self.fc_out = nn.Linear(emb_dim + hid_dim * 2, dec_in)
        
        self.dropout<a id="change"> = </a><a id="change">nn.Dropout(</a>dropout<a id="change">)</a>
        
    def forward(self, input, hidden, context):
        
        &#47&#47input = [batch size]</code></pre><h3>After Change</h3><pre><code class='java'>

        self.hid_dim = hid_dim
        
        self.embedding = <a id="change">DataEmbedding_ED(</a>dec_in, emb_dim, embed, freq, dropout<a id="change">)</a>
        self.rnn = nn.GRU(emb_dim + hid_dim, hid_dim, batch_first=True)
        self.fc_out = nn.Linear(emb_dim + hid_dim * 2, dec_in)
        
    def forward(self, input, input_mark, hidden, context):</code></pre>