<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, input: torch.Tensor):
        spatial_shape = input.ndimension() - 2
        dim = tuple(range(spatial_shape, spatial_shape + 2))
        <a id="change">return </a>torch.mean(input, dim=dim, keepdim=True)
</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()
        self.avgpool = nn.AdaptiveAvgPool2d((1, 1))
    def forward(self, input: torch.Tensor):
        <a id="change">return </a><a id="change">self.avgpool(</a>input<a id="change">)</a>
</code></pre>