<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    disagree = F.avg_pool1d(disagree, kernel_size=6, stride=6, padding=0)
                disagree = disagree.permute(0,2,1).expand_as(fea_t)
                weight = disagree / disagree.sum()
            <a id="change">return </a>(weight*((fea_s-fea_t)**2)).sum() * self.factor

        raise NotImplementedError</code></pre><h3>After Change</h3><pre><code class='java'>
        if self.mode == &quotmse&quot:
            return ((fea_s-fea_t)**2).mean() * self.factor

        <a id="change">if </a>self.mode == &quotpdf&quot<a id="change">:
            </a>with torch.no_grad():
                x1 = conf_t.sigmoid()
                x2 = conf_s.sigmoid()
                disagree = (x1 - x2) ** 2
                weight = disagree.sum(-1).unsqueeze(1).sqrt()
                if self.multi_anchor:
                    weight = F.avg_pool1d(weight, kernel_size=6, stride=6, padding=0)
                weight = weight.permute(0,2,1).expand_as(fea_t)
                weight = weight / weight.sum()
            loss_pdf = (weight*((fea_s-fea_t)**2)).sum() * self.factor
                    
            loss_cls<a id="change"> = </a>F.binary_cross_entropy_with_logits(conf_s, x1, reduction=&quotnone&quot)<a id="change"> * </a>disagree
            loss_cls = loss_cls.sum()<a id="change"> / (x1&gt;0.5).float().sum()</a>

            loss_reg = F.mse_loss(loc_s, loc_t)

            <a id="change">return </a>loss_pdf + loss_cls + loss_reg
            
        raise NotImplementedError</code></pre>