<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        g = g.local_var()
        if self.use_weight:
            weight = self.basis() if self.use_basis else self.weight
            wdict = {self.rel_names[i]: {&quotweight&quot: <a id="change">w.squeeze(0</a><a id="change">)</a>}
                     for i, w in enumerate(<a id="change">th.split(</a>weight, <a id="change">1</a><a id="change">, dim=0)</a>)}
        else:
            wdict = {}
</code></pre><h3>After Change</h3><pre><code class='java'>
        h_dict = self.conv(g, h_dict)
        out_put = {}
        for n_type, h in h_dict.items():
            <a id="change">out_put[n_type]</a> = h.squeeze()
        return out_put</code></pre>