<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        match = regex.search(html)
        if match: break
    if not match: raise BabelfishChangedError("Can&quott recognize translated string.")
    <a id="change">return </a>clean(match.group(1))

def babelize(phrase, source, target, limit = 12):
    </code></pre><h3>After Change</h3><pre><code class='java'>
    

    phrase = clean(phrase)
    <a id="change">if </a><a id="change">isinstance(</a>phrase, compat.text_type<a id="change">):
        </a>phrase = phrase.encode(&quotutf8&quot)

    try:
        source_code = __languages[source]</code></pre>