<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 input is dim (N, T, in_channels)
        x = input
        raw, rel = [], []
        <a id="change">for i</a> in range(self.att_num - 1)<a id="change">:
            </a>x, re, ra = self.layers["attention_{}".format(i)](x, time_steps)
            x = self.layers["tconv_{}".format(i)](x)
            <a id="change">rel.append(</a>re<a id="change">)</a>
            raw.append(ra)

        x, re, ra = self.layers["attention_{}".format(self.att_num-1)](x, time_steps)
        rel.append(re)</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, input: t.Tensor, time_steps=None, additional=None):
        &#47&#47 input is dim (N, T, in_channels)
        x = input
        <a id="change">for </a>i in <a id="change">range(</a>self.tc_num<a id="change">):
            </a>x = self.layers["tconv_{}".format(i)](x)

        x, rel, raw = self.layers["attention"](x, time_steps)
</code></pre>