<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.ReLU()
        )

        self.u_update = <a id="change">nn.Linear(
            </a>node_encoding_size<a id="change"> + </a>representation_size,
            node_encoding_size<a id="change">,
            bias=False
        )</a>
        self.v_update = <a id="change">nn.Linear(
            </a>node_encoding_size<a id="change"> + </a>representation_size,
            node_encoding_size<a id="change">,
            bias=False
        )</a>

    def forward(self, encodings_u, encodings_v, u=None, v=None):
        
        Arguments:</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.Linear(node_encoding_size, representation_size),
            nn.ReLU()
        )
        self.u_to_v_norm<a id="change"> = </a><a id="change">nn.LayerNorm(</a>representation_size<a id="change">)</a>

        self.v_to_u = nn.Sequential(
            nn.Linear(node_encoding_size, representation_size),
            nn.ReLU()
        )
        self.v_to_u_norm<a id="change"> = </a><a id="change">nn.LayerNorm(</a>representation_size<a id="change">)</a>

        self.u_update = <a id="change">nn.Sequential(
            </a><a id="change">nn.Linear(
                </a>node_encoding_size<a id="change"> + </a>representation_size,
                node_encoding_size<a id="change">,
                bias=False)</a>,
            <a id="change">nn.LayerNorm(</a>node_encoding_size<a id="change">)</a><a id="change">
        )</a>
        self.v_update = <a id="change">nn.Sequential(
            </a><a id="change">nn.Linear(
                </a>node_encoding_size<a id="change"> + </a>representation_size,
                node_encoding_size<a id="change">,
                bias=False)</a>,
            <a id="change">nn.LayerNorm(</a>node_encoding_size<a id="change">)</a><a id="change">
        )</a>

    def forward(self, encodings_u, encodings_v, u=None, v=None):
        
        Arguments:</code></pre>