<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x, pool_indices):

        x_current = x
        <a id="change">print (</a>pool_indices.keys()<a id="change">)</a>
        for k_layer in range(self.n_layers):
            key = &quotlayer_{}&quot.format(k_layer)
            key_inverse = &quotlayer_{}&quot.format(self.n_layers - k_layer - 1)
            pool_index = pool_indices[key_inverse]</code></pre><h3>After Change</h3><pre><code class='java'>
            key = &quotlayer_{}&quot.format(k_layer)
            key_inverse = &quotlayer_{}&quot.format(self.n_layers - k_layer - 1)
            pool_index = pool_indices[key_inverse]
            <a id="change">if key in self.norms</a><a id="change">:
                </a>x_current = self.norms[key](self.convolutions[key](self.pools[key](x_current, pool_index)))
            else:
                x_current<a id="change"> = </a>self.convolutions[key](self.pools[key](x_current, pool_index))

        return x_current
</code></pre>