<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            )

    def forward(self, x):
        <a id="change">print(</a>&quot\n input of first convolution:{}&quot.format(x.size())<a id="change">)</a>
        out = F.relu(self.bn1(self.conv1(x)))
        print(&quot\n output of first convolution:{}&quot.format(out.size()))

        out = self.bn2(self.conv2(out))</code></pre><h3>After Change</h3><pre><code class='java'>
        out = self.conv2(out)
        out = self.bn2(out)

        <a id="change">if self.downsample is not None</a><a id="change">:
            </a>identity<a id="change"> = </a>self.downsample(x)

        out += identity
        out = self.relu(out)</code></pre>