<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return self.attn(x, x, x, need_weights=False, attn_mask=attn_mask)[0]

    def forward(self, x: torch.Tensor, attn_mask: Optional[torch.Tensor] = None):
        x = x + <a id="change">self.attention(</a><a id="change">self.ln_1(</a>x<a id="change">), attn_mask=attn_mask)</a>
        x = x + self.mlp(self.ln_2(x))
        return x

</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47     return self.attn(x, attn_mask=attn_mask)

    def forward(self, x: torch.Tensor, attn_mask: Optional[torch.Tensor] = None):
        x = x + self.ln_attn(<a id="change">self.attention(</a><a id="change">self.ln_1(</a>x<a id="change">), attn_mask=attn_mask)</a>)
        x = x + self.mlp(self.ln_2(x))
        return x
</code></pre>