<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            "nltk.LineTokenizer instead.")
def line(text):
    &#47&#47 note -- LineTokenizer doesn&quott strip out blank lines.
    return <a id="change">[line for line in text.split(&quot\n&quot) if line]</a>

&#47&#47}

</code></pre><h3>After Change</h3><pre><code class='java'>
@deprecated("Use nltk.line_tokenize() or "
            "nltk.LineTokenizer instead.")
def line(text):
    <a id="change">return </a>LineTokenizer().tokenize(text)

&#47&#47}
</code></pre>