<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        BOW = self.property(&quotBOW&quot)
        TEXT = self.property(&quotTEXT&quot)
        SUBTOKENS = self.property(&quotSUBTOKENS&quot)
        return {BOW: <a id="change">[tok[TEXT] for tok in token[SUBTOKENS]]</a>}
    
    def features(self):
        BOW = self.property(&quotBOW&quot)</code></pre><h3>After Change</h3><pre><code class='java'>
        pass
        
    def get_features(self, tokens):
        <a id="change">return </a>{&quotbow&quot: tokens}
    
    def features(self):
        return [&quotbow&quot]</code></pre>