<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
         
        &#47&#47 Build the senna command to run the tagger
        _senna_cmd = [self.executable(self._path), &quot-path&quot, self._path, &quot-usrtokens&quot, &quot-iobtags&quot]
        _senna_cmd.extend(<a id="change">[&quot-&quot+op for op in self.operations]</a>)

        &#47&#47 Serialize the actual sentences to a temporary string
        _input = &quot\n&quot.join((&quot &quot.join(x) for x in sentences))+&quot\n&quot</code></pre><h3>After Change</h3><pre><code class='java'>
            for j in range(len(tagged_sents[i])):
                annotations = tagged_sents[i][j]
                tagged_sents[i][j] = (annotations[&quotword&quot], annotations[&quotpos&quot])
        <a id="change">return </a>tagged_sents

@python_2_unicode_compatible
class SennaChunkTagger(Senna):</code></pre>