<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        in_dim = np.product(in_dim)
        action_dim = np.product(action_dim)

        <a id="change">super(SoftQNetwork, self).__init__()</a>

        layers = [nn.Linear(in_dim + action_dim, hidden_dim)]

        for l in range(num_layers_linear_hidden):</code></pre><h3>After Change</h3><pre><code class='java'>

class Critic(nn.Module):
    def __init__(self, in_dim, action_dim, hidden_dim, num_layers_linear_hidden):
        <a id="change">super(Critic, self).__init__()</a>

        assert len(in_dim) == 1
        assert len(action_dim) == 1
</code></pre>