<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        steps (int): The total number of convs in this module, 1 conv 1x1 and (steps - 1) conv3x3.
    
    def __init__(self, in_channels: int, out_channels: int, steps: int, stride: int = 1):
        <a id="change">super(STDCBlock, self).__init__()</a>
        assert steps in [2, 3, 4], f"only 2, 3, 4 steps number are supported, found: {steps}"

        self.stride = stride
</code></pre><h3>After Change</h3><pre><code class='java'>
        :param stdc_downsample_mode: downsample mode in stdc block, supported `avg_pool` for average-pooling and
         `dw_conv` for depthwise-convolution.
        
        <a id="change">super().__init__()</a>
        assert steps in [2, 3, 4], f"only 2, 3, 4 steps number are supported, found: {steps}"
        self.stride = stride
        self.conv_list = nn.ModuleList()
        &#47&#47 build first step conv 1x1.</code></pre>