<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        fourier_features=4,
        aggr="mean",
    ):
        <a id="change">super(DeltaNetAtomic, self).__init__()</a>

        self.pos_dim = 3
        self.m_dim = m_dim
        self.embedding_dim = embedding_dim</code></pre><h3>After Change</h3><pre><code class='java'>
        global_prop : bool, optional
            Whether to predict a molecule-level property or an atomic one, by default True
        
        <a id="change">super(EGNN, self).__init__()</a>

        self.pos_dim = 3
        self.m_dim = m_dim
        self.embedding_dim = embedding_dim</code></pre>