<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 y = convert_labels(y, self.b_int_digits, self.b_dec_digits)


        z = torch.cat((z<a id="change">, y</a>), dim=1)
        if z.is_cuda and self.ngpu &gt; 1:
            output = nn.parallel.data_parallel(self.linear, z, range(self.ngpu))
            output_img = output.view(-1, 8*self.ngf, 4, 4)</code></pre><h3>After Change</h3><pre><code class='java'>
            output_img = output.view(-1, 8*self.ngf, 4, 4)
            output_img = self.conv1(output_img)
            output_img = output_img + y
            output_img<a id="change"> = </a><a id="change">self.conv2(</a>output_img<a id="change">)</a>



        return output_img</code></pre>