<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        down2, indices_2, unpool_shape2 = self.down2(down1)
        down3, indices_3, unpool_shape3 = self.down3(down2)
        down4, indices_4, unpool_shape4 = self.down4(down3)
        down5<a id="change">, indices_5, unpool_shape5</a> = self.down5(down4)

        up5 = self.up5(down5, indices_5, unpool_shape5)
        up4 = self.up4(up5, indices_4, unpool_shape4)</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47&#47&#47 encode &#47&#47&#47&#47
        x = F.relu(self.conv1(x))
        x = self.pool(x)
        x = F.relu(<a id="change">self.conv2(</a>x<a id="change">)</a>)
        x = self.pool(x)

        x = F.relu(self.conv3(x))
        x = self.pool(x)

        x = F.relu(self.conv4(x))
        x = self.pool(x)
        
        &#47&#47&#47&#47 decode &#47&#47&#47&#47
        x = F.relu(self.t_conv1(x))
        x = F.relu(self.t_conv2(x))
        x = F.relu(self.t_conv3(x))
        x<a id="change"> = </a>F.relu(self.t_conv4(x))

                
        return x</code></pre>