<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            device=wav.device,
            dtype=torch.long,
        )
        factor<a id="change"> = </a><a id="change">int(</a>self.config.num_negatives<a id="change"> % </a>dynamic_num_negatives.item()<a id="change">)</a>
        negative_sample_indices = torch.cat(
            [negative_sample_indices] * 2, dim=-1
        )
        print(negative_sample_indices.shape)</code></pre><h3>After Change</h3><pre><code class='java'>
            [negative_sample_indices] * 2, dim=-1
        )
        print(negative_sample_indices.shape)
        <a id="change">print(</a>dynamic_num_negatives<a id="change">)</a>

        return (
            self.model(
                wav,</code></pre>