<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            lw = [1, ] * len(config[&quotloss&quot])
        else:
            lw = [float(w) for w in config[&quotlw&quot].split(&quot,&quot)]
        <a id="change">assert </a>len(config[&quotloss&quot]) == len(lw), &quotLength of loss and loss_weight should be equal.&quot
        
        self.losses = config[&quotloss&quot]
        self.lw = lw</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, loss_config):
        super(Loss_factory, self).__init__()
        
        <a id="change">self.loss_cluster</a> = {}
        <a id="change">for </a>out_name, <a id="change">loss_casket</a> in loss_config.items()<a id="change">:
            self.loss_cluster[out_name]</a><a id="change"> = </a>loss_worker(loss_casket[0], loss_casket[1:])
            print(&quot{} loss for output \"{}\".&quot.format(self.loss_cluster[out_name].loss_print, out_name))
        
    def forward(self, preds, target, config):</code></pre>