<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.fc = nn.Linear(encoder.get_feature_size(), action_size)

    def forward(self, x, with_logits=False):
        h<a id="change"> = </a>self.encoder(x)
        logits<a id="change"> = </a>self.fc(h)
        log_probs = <a id="change">F.log_softmax(</a>logits<a id="change">, dim=1)</a>
        if with_logits:
            <a id="change">return </a>log_probs, logits
        return log_probs

    def compute_error(self, x, action):</code></pre><h3>After Change</h3><pre><code class='java'>
        self._fc = nn.Linear(encoder.get_feature_size(), action_size)

    def forward(self, x: torch.Tensor) -&gt; torch.Tensor:
        <a id="change">return </a>self.compute_log_probs_with_logits(x)[0]

    def compute_log_probs_with_logits(
        self, x: torch.Tensor</code></pre>