<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(MarginCosineProduct, self).__init__()
        self.in_features = in_features
        self.out_features = out_features
        self.weight = <a id="change">nn.Parameter(</a>torch.Tensor(out_features, in_features)<a id="change">)</a>
        nn.init.xavier_uniform_(self.weight)

    def forward(self, input):
        &#47&#47 cosine = cosine_sim(input, self.weight)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.fc = nn.Sequential(
            nn.Linear(channel, channel // reduction, bias=False),
            nn.ReLU(inplace=True),
            <a id="change">nn.Linear(</a>channel<a id="change"> // </a>reduction, channel<a id="change">, bias=False)</a>,
            nn.Sigmoid()
        )
</code></pre>