<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            ])
        if self.use_bn:
            self.bn_layers = nn.ModuleList(
                <a id="change">[nn.BatchNorm1d(
                    hidden_units[i + 1]) for i in range(len(hidden_units) - 1)
                ]</a>)
        self.activation_layers = nn.ModuleList(
            [activation_gen(
                activation,</code></pre><h3>After Change</h3><pre><code class='java'>
        self.linear_layers = nn.ModuleList()
        self.activation_layers = nn.ModuleList()
        if self.use_bn:
            self.bn_layers<a id="change"> = </a><a id="change">nn.ModuleList()</a>
        
        for i in range(len(hidden_units) - 1):
            self.linear_layers.append(
                nn.Linear(hidden_units[i], hidden_units[i + 1]))</code></pre>