<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(BasicBlock, self).__init__()
        self.conv1 = nn.Conv2d(in_planes, int(planes * sketch_rate), kernel_size=3, stride=stride, padding=1, bias=False)
        self.bn1 = nn.BatchNorm2d(int(planes * sketch_rate))
        self.conv2 = nn.Conv2d(<a id="change">int(</a>planes<a id="change"> * </a>sketch_rate<a id="change">)</a>, planes, kernel_size=3, stride=1, padding=1, bias=False)
        self.bn2 = nn.BatchNorm2d(planes)

        self.downsample = nn.Sequential()</code></pre><h3>After Change</h3><pre><code class='java'>
        super(BasicBlock, self).__init__()
        if norm_layer is None:
            norm_layer = nn.BatchNorm2d
        if <a id="change">groups != 1 or base_width != 64</a>:
            raise ValueError(&quotBasicBlock only supports groups=1 and base_width=64&quot)
        if dilation &gt; 1:
            raise NotImplementedError("Dilation &gt; 1 not supported in BasicBlock")</code></pre>