<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
			content_code = content_code + noise

		x = content_code
		<a id="change">for </a>block in self.decoder<a id="change">:
			</a>x<a id="change"> = </a>block(x, style_code)

		return self.to_rgb(x)
</code></pre><h3>After Change</h3><pre><code class='java'>
		nn.init.uniform_(self.class_embedding.weight, a=-0.05, b=0.05)

	def forward(self, content_code, class_id):
		batch_size<a id="change"> = </a>content_code.shape[0]

		if self.training and self.config[&quotcontent_std&quot] != 0:
			noise = torch.zeros_like(content_code)
			noise.normal_(mean=0, std=self.config[&quotcontent_std&quot])

			content_code = content_code + noise

		class_code = self.class_embedding(class_id)
		class_code_repeated<a id="change"> = </a><a id="change">class_code.view((batch_size, -1, 1, 1)).repeat(</a>(1, 1, 16, 16)<a id="change">)</a>
		x<a id="change"> = </a>torch.cat((content_code, class_code_repeated), dim=1)

		for block in self.adains:
			x<a id="change"> = </a>block(x, class_code)

		return self.convs(x)
</code></pre>