<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            spatial_encodings = self.get_spatial_encoding(x_keep, y_keep, coords)
            edge_features = self.spatial_head(spatial_encodings)

            adjacency_matrix<a id="change"> = torch</a><a id="change">.ones(n_h</a>, <a id="change">n</a><a id="change">, device=device)</a>
            <a id="change">for </a><a id="change">i</a> in <a id="change">range(</a>self.num_iter<a id="change">):
                &#47&#47 Compute weights of each edge
                </a>weights<a id="change"> = self</a><a id="change">.adjacency(torch.cat(</a><a id="change">[
                    h_node_encodings[x]</a>,
                    <a id="change">node_encodings[y]</a>
                ], <a id="change">1</a><a id="change">)</a><a id="change">)</a>
                <a id="change">adjacency_matrix = </a><a id="change">weights.reshape(n_h</a>, <a id="change">n</a><a id="change">)</a>

                &#47&#47 Update human nodes
                h_node_encodings<a id="change"> = self</a><a id="change">.sub_update(torch.cat(</a><a id="change">[
                    h_node_encodings</a>,
                    <a id="change">torch.mm(adjacency_matrix</a>, <a id="change">self.obj_to_sub(node_encodings</a><a id="change">))</a>
                ], <a id="change">1</a><a id="change">)</a><a id="change">)</a>

                &#47&#47 Update object nodes (including human nodes)
                node_encodings<a id="change"> = self</a><a id="change">.obj_update(torch</a><a id="change">.cat([
                    node_encodings</a>,
                    <a id="change">torch.mm(adjacency_matrix.t()</a>, <a id="change">self.sub_to_obj(</a>h_node_encodings<a id="change">)</a><a id="change">)</a>
                ], <a id="change">1</a><a id="change">))</a>

            if targets is not None:
                all_labels.append(self.associate_with_ground_truth(
                    coords[x_keep], coords[y_keep], targets[b_idx])</code></pre><h3>After Change</h3><pre><code class='java'>
            if not torch.all(labels[:n_h]==self.human_idx):
                raise AssertionError("Human detections are not permuted to the top")

            <a id="change">node_encodings</a> = box_features[counter: counter+n]
            &#47&#47 Duplicate human nodes
            <a id="change">h_node_encodings</a> = node_encodings[:n_h]
            &#47&#47 Get the pairwise index between every human and object instance
            x, y = torch.meshgrid(
                torch.arange(n_h, device=device),
                torch.arange(n, device=device)
            )
            &#47&#47 Remove pairs consisting of the same human instance
            x_keep, y_keep = torch.nonzero(x != y).unbind(1)
            if len(x_keep) == 0:
                &#47&#47 Should never happen, just to be safe
                continue

            &#47&#47 Compute spatial encoding and edge features
            spatial_encodings = self.get_spatial_encoding(x_keep, y_keep, coords)
            edge_features = self.spatial_head(spatial_encodings)
            &#47&#47 Run bipartite graph
            <a id="change">h_node_encodings</a><a id="change">, node_encodings, adjacency_matrix = </a><a id="change">self.bipartite_graph(
                h_node_encodings</a>, <a id="change">node_encodings</a><a id="change">
            )</a>

            if targets is not None:
                all_labels.append(self.associate_with_ground_truth(
                    coords[x_keep], coords[y_keep], targets[b_idx])</code></pre>