<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.basic_block = nn.Sequential(*basic_block_layer)

        self.conv2 = nn.Sequential(<a id="change">nn.ReflectionPad2d(1</a><a id="change">)</a>, nn.Conv2d(num_init_features, num_init_features, 3), nn.ReLU())
        self.upsample = upsample_block(in_channels=num_init_features, scale_factor=scale_factor)
        self.conv3 = nn.Sequential(nn.ReflectionPad2d(1), nn.Conv2d(num_init_features, num_init_features, 3), nn.ReLU())
        self.conv4 = nn.Sequential(nn.ReflectionPad2d(1), nn.Conv2d(num_init_features, out_channels, 3), nn.ReLU())</code></pre><h3>After Change</h3><pre><code class='java'>
        self.conv2 = nn.Conv2d(64, 64, kernel_size=3, stride=1, padding=1, bias=False)

        &#47&#47 Upsampling layers
        self.upsampling<a id="change"> = </a><a id="change">nn.Conv2d(</a>64, <a id="change">64</a><a id="change">, kernel_size=3, stride=1, padding=1, bias=False)</a>

        &#47&#47 Final output layer
        self.conv3 = nn.Sequential(
            nn.Conv2d(64, 64, kernel_size=3, stride=1, padding=1, bias=False),</code></pre>