<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            F.interpolate, mode=&quotbicubic&quot, align_corners=True)

        for scale in range(num_scales + 1):
            base_ch = min(base_channels * pow(2, <a id="change">math.floor(</a>scale<a id="change"> / </a>4<a id="change">)</a>), 128)
            min_feat_ch = min(
                min_feat_channels * pow(2, math.floor(scale / 4)), 128)
</code></pre><h3>After Change</h3><pre><code class='java'>
            F.interpolate, mode=&quotbicubic&quot, align_corners=True)

        for scale in range(num_scales + 1):
            base_ch = min(base_channels * pow(2, int(<a id="change">np.floor(</a>scale<a id="change"> / </a>4<a id="change">)</a>)),
                          128)
            min_feat_ch = min(
                min_feat_channels * pow(2, int(np.floor(scale / 4))), 128)</code></pre>