<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(REPVGGBackbone, self).__init__()

        self.version = version
        if <a id="change">self.version == &quotA0&quot</a>:
            num_blocks=[2, 4, 14, 1]
            width_multiplier=[0.75, 0.75, 0.75, 2.5]
        elif <a id="change">self.version == &quotA1&quot</a>:
            num_blocks=[2, 4, 14, 1]
            width_multiplier=[1, 1, 1, 2.5]
        elif self.version == &quotA2&quot:
            num_blocks=[2, 4, 14, 1]
            width_multiplier=[1.5, 1.5, 1.5, 2.75]
        elif <a id="change"></a>self.version == &quotB1&quot<a id="change">:
            </a>num_blocks=[4, 6, 16, 1]
            width_multiplier=[2, 2, 2, 4]
        elif self.version == &quotB2&quot:
            num_blocks=[4, 6, 16, 1]</code></pre><h3>After Change</h3><pre><code class='java'>
            for param in self.stage0.parameters():
                param.requires_grad = False
            self.stage0.switch_to_deploy()
            <a id="change">self.stage1.eval()</a>
            <a id="change">for param</a> in <a id="change">self.stage1.parameters()</a><a id="change">:
                </a>param.requires_grad<a id="change"> = </a>False
            self.stage1[0].switch_to_deploy()
            self.stage1[1].switch_to_deploy()
</code></pre>