<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        &#47&#47 device = output.device
        batch_size = len(x)
        <a id="change">batch_size</a> = batch_size<a id="change"> // 2</a>

        x1, x2 = x[<a id="change">:batch_size</a>], <a id="change">x[batch_size:]</a>

        emb1, emb2 = self.backbone(x1), self.backbone(x2)
        emb1, emb2 = emb1.squeeze(), emb2.squeeze()
        z1, z2 = self.projection_mlp(emb1), self.projection_mlp(emb2)</code></pre><h3>After Change</h3><pre><code class='java'>
        out0, out1 = (z0, p0), (z1, p1)

        &#47&#47 append features if requested
        <a id="change">if </a>return_features<a id="change">:
            </a>out0, out1 = (out0, f0), (out1<a id="change">, f1</a>)

        return out0, out1
</code></pre>