<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 Create PillarFeatureNet layers
        self.num_input_features = num_input_features
        num_filters = <a id="change">[</a>num_input_features<a id="change"></a>]<a id="change"> + list(</a>num_filters<a id="change">)</a>
        pfn_layers = []
        for i in range(len(num_filters) - 1):
            in_filters = num_filters[i]
            out_filters = num_filters[i + 1]</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Create PillarFeatureNet layers
        self.in_channels = in_channels
        feat_channels = <a id="change">[</a>in_channels<a id="change"></a>]<a id="change"> + </a><a id="change">list(</a>feat_channels<a id="change">)</a>
        pfn_layers = []
        for i in range(len(feat_channels) - 1):
            in_filters = feat_channels[i]
            out_filters = feat_channels[i + 1]</code></pre>