<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self._encoding = encoding

    def tag(self, tokens):
        return <a id="change">self.batch_tag([tokens])[0]</a>

    def batch_tag(self, sentences):
        encoding = self._encoding
        hunpos = Popen([self._hunpos_bin, self._hunpos_model],</code></pre><h3>After Change</h3><pre><code class='java'>

        tagged_tokens = []
        for token in tokens:
            tagged<a id="change"> = </a><a id="change">self._hunpos.stdout.readline().strip()</a>.split("\t")
            if len(tagged) &gt; 1:
                tag = tagged[1]
            else:</code></pre>