<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        A = A[:M1]
        A[1:, 0] /= 2
        A[0, 1:] *= 2
        self.register_buffer("A", <a id="change">torch.from_numpy(</a><a id="change">A.astype(</a><a id="change">default_dtype()))</a>)

    def forward(self, c1):
        c2 = torch.matmul(c1, self.A)</code></pre><h3>After Change</h3><pre><code class='java'>
        A = A[:M1]
        A[1:, 0] /= 2
        A[0, 1:] *= 2
        self.register_buffer("A", <a id="change">numpy_to_torch(</a>A<a id="change">)</a>)

    def forward(self, c1):
        c2 = torch.matmul(c1, self.A)</code></pre>