<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        &#47&#47 compute output
        att = (att_score @ v).view(batch_size, seg_len, -1)
        <a id="change">return </a>self.layer_norm(self.mlp(att)<a id="change"> + </a>x)
              
    def circulant_shift(self, x, shift):
        </code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 compute output
        att = (att_score @ v).view(batch_size, seg_len, -1)
        out = self.dropout(self.mlp(att))
        <a id="change">return </a><a id="change">self.layer_norm(</a>out + x<a id="change">)</a>
              
    def circulant_shift(self, x, shift):
        
        Shifts top row of `x` by `shift`, second row by `shift-1`, etc. This is</code></pre>