<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    if i == 0:
                        rec_features.append(rec_feature[:, :inputs[i].size(1)])
                    else:
                        rec_features.append(<a id="change">rec_feature[:, \
                            inputs[i-1].size(1):inputs[i-1].size(1)+inputs[i].size(1)]</a>)
            &quot&quot&quot
            if i == 0:
                rec_features.append(rec_feature[:, :outs[i].size(-1)])</code></pre><h3>After Change</h3><pre><code class='java'>
                            inputs[0][i-1].size(1):inputs[0][i-1].size(1)+inputs[i].size(1)])
                else:
                    if i == 0:
                        rec_features.append(rec_feature[:, :<a id="change">sizes[0]</a>])
                        curr = sizes[0]
                    else:
                        rec_features.append(rec_feature[:, \</code></pre>