<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        first_h_a = self.initHidden_alpha(x.shape[1])
        first_h_b = self.initHidden_beta(<a id="change">x.shape[1]</a>)

        self.emb = self.embedding(x)
        if self.drop &lt; 1:</code></pre><h3>After Change</h3><pre><code class='java'>
        out = torch.zeros((batch_size, time_steps, self.hidden_dim))

        for cur_time in range(time_steps):
            cur_x = <a id="change">x[:, : cur_time + 1, :]</a>
            out[:, cur_time, :] = self.retain_encoder(cur_x)
        return out
</code></pre>