<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 first position should be a layer, linear layer for now
        assert policy_structure[0][1] is not None
        prev_object = <a id="change">policy_structure.pop(</a>0<a id="change">)</a>

        self.operators = nn.ModuleList([
            Flatten(),
            nn.Linear(in_dim, prev_object[1]),
        ])

        for layer, argument in <a id="change">policy_structure[:-1]</a>:
            if layer == &quotlinear&quot:
                self.operators.append(nn.Linear(prev_object[1], argument))
                prev_object = (layer, argument)</code></pre><h3>After Change</h3><pre><code class='java'>
        in_dim = np.product(in_dim)
        action_dim = np.product(action_dim)

        self.operators = nn.ModuleList(<a id="change">[
            </a>Flatten()<a id="change"></a>
        ])

        current_layer_size = in_dim
</code></pre>