<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            B = x.data.size(0)
            C = x.data.size(1)
            H = x.data.size(2)
            W<a id="change"> = </a>x.data.size(3)

            <a id="change">return x.view(B, C, H, 1, W, 1).expand(B, C, H, tH // H, W, tW // W).contiguous().view(</a>B, C, tH, tW<a id="change">)</a>
        else:
            return F.interpolate(x, size=(tH, tW), mode=&quotnearest&quot)

</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47H = x.data.size(2)
            &#47&#47W = x.data.size(3)

            <a id="change">return </a>x.view(x.size(0), x.size(1), x.size(2), 1, x.size(3), 1).\
                    expand(x.size(0), x.size(1), x.size(2), target_size[2] // x.size(2), x.size(3), target_size[3] // x.size(3)).\
                    contiguous().view(x.size(0), x.size(1), target_size[2], target_size[3])
        else:</code></pre>