<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        rnn_outputs = rnn_outputs.contiguous().view(-1, rnn_outputs.size(-1))
        if self.dropout &gt; 0.0:
            rnn_outputs = self.nn_dropout(rnn_outputs)
        output<a id="change"> = </a>self.nn_output(rnn_outputs)
        output = <a id="change">output.contiguous().view(</a>batch_size, time_step, self.output_dim<a id="change">)</a>
        output = torch.sigmoid(output)

        &#47&#47 return output, torch.stack(distance)
        <a id="change">return </a>output
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 output = torch.sigmoid(output)

        &#47&#47 return output, torch.stack(distance)
        <a id="change">return </a>rnn_outputs
</code></pre>