<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                     type=&quotCrossEntropyLoss&quot, use_mask=True, loss_weight=1.0)):
        super(FCNMaskHead, self).__init__()
        if upsample_method not in [None, &quotdeconv&quot, &quotnearest&quot, &quotbilinear&quot]:
            <a id="change">raise ValueError(
                </a>&quotInvalid upsample method {}, accepted methods &quot
                &quotare "deconv", "nearest", "bilinear"&quot.format(upsample_method)<a id="change">)</a>
        self.num_convs = num_convs
        &#47&#47 WARN: roi_feat_size is reserved and not used
        self.roi_feat_size = _pair(roi_feat_size)
        self.in_channels = in_channels</code></pre><h3>After Change</h3><pre><code class='java'>
                 loss_mask=dict(
                     type=&quotCrossEntropyLoss&quot, use_mask=True, loss_weight=1.0)):
        super(FCNMaskHead, self).__init__()
        <a id="change">self.upsample_cfg</a> = upsample_cfg.copy()
        if <a id="change">self.upsample_cfg[&quottype&quot]</a> not in [
                None, &quotdeconv&quot, &quotnearest&quot, &quotbilinear&quot, &quotcarafe&quot
        ]:
            <a id="change">raise ValueError(
                </a><a id="change">&quotInvalid upsample method {}, accepted methods &quot
                &quotare "deconv", "nearest", "bilinear", "carafe"&quot.format(
                    </a><a id="change">self.upsample_cfg[&quottype&quot]))</a>
        self.num_convs = num_convs
        &#47&#47 WARN: roi_feat_size is reserved and not used
        self.roi_feat_size = _pair(roi_feat_size)
        self.in_channels = in_channels</code></pre>