<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )
        k = torch.cat((nk, k), dim=-2)
        v = torch.cat((nv, v), dim=-2)
        mask = <a id="change">F.pad(</a>mask<a id="change">, pad=(1, 0), value=True)</a>
        return k, v, mask


class LayerNorm(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        )
        k = torch.cat((nk, k), dim=-2)
        v = torch.cat((nv, v), dim=-2)
        mask = <a id="change">F.pad(</a>mask<a id="change">, pad=(1, 0), value=True) if </a>exists(mask)<a id="change"> else </a>None
        return k, v, mask

</code></pre>