<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.combining_operation = combining_operation

        &#47&#47 define function for permutation invariant embedding
        if <a id="change">combining_operation == "mean"</a>:
            self.combining_function = torch.mean
        elif <a id="change">self.combining_operation == "sum"</a><a id="change">:
            </a>self.combining_function = torch.sum
        else:
            <a id="change">raise </a><a id="change">ValueError("combining_operation must be in [&quotsum&quot, &quotmean&quot]."</a><a id="change">)</a>

        &#47&#47 construct fully connected layers
        self.fc_subnet = FCEmbedding(
            input_dim=trial_net_output_dim + 1,  &#47&#47 +1 to encode number of trials</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()
        self.trial_net = trial_net
        self.aggregation_dim = aggregation_dim
        <a id="change">assert </a>aggregation_fn in [
            "mean",
            "sum",
        ], "aggregation_fn must be &quotmean&quot or &quotsum&quot."</code></pre>