<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47     return {&quoth&quot: accum}

        if self.dropout:
            h<a id="change"> = </a><a id="change">self.dropout(</a>h<a id="change">)</a>
        self.g.ndata[&quoth&quot] = torch.mm(h, self.weight)
        self.g.update_all(gcn_msg, gcn_reduce, self.node_update)
        h = self.g.ndata.pop(&quoth&quot)
        return h</code></pre><h3>After Change</h3><pre><code class='java'>
            accum = torch.sum(node.mailbox[&quotm&quot], 1)
            return {&quoth&quot: accum}

        <a id="change">graph.ndata[&quoth&quot]</a> = torch.mm(h, self.weight)
        graph.update_all(gcn_msg, gcn_reduce)
        h = graph.ndata.pop(&quoth&quot)
        return h</code></pre>