<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        input0 = features[2]
        h0 = torch.zeros(self.num_layers, input0.size(0),
                         self.hidden_size).to(device)
        c0<a id="change"> = </a><a id="change">torch.zeros(</a>self.num_layers, input0.size(0),
                         self.hidden_size<a id="change">)</a>.to(device)
        out, _ = self.lstm(input0, (h0<a id="change">, c0</a>))
        out = self.attention_net(out)
        out = self.fc(out[:, -1, :])
        return out</code></pre><h3>After Change</h3><pre><code class='java'>
        self.sequence_length = inp.size(1)
        out, _ = self.lstm(inp)
        out = self.attention_net(out, device)
        out<a id="change"> = </a>self.fc1(out)
        out = self.fc2(out)
        return out<a id="change">, out</a>


&#47&#47log key add embedding
class loganomaly(nn.Module):</code></pre>