<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.transformer = Transformer(dim = dim, **kwargs)

        self.coarse_logits = <a id="change">nn.Linear(</a>dim, codebook_size<a id="change">)</a>
        self.fine_logits = nn.Linear(dim, codebook_size)

    def forward(
        self,</code></pre><h3>After Change</h3><pre><code class='java'>
        self.num_coarse_quantizers = num_coarse_quantizers
        self.num_fine_quantizers = num_fine_quantizers

        self.coarse_logit_weights<a id="change"> = nn</a><a id="change">.Parameter(</a>torch.randn(num_coarse_quantizers, codebook_size, dim)<a id="change">)</a>
        self.fine_logit_weights<a id="change"> = nn</a><a id="change">.Parameter(</a>torch.randn(num_fine_quantizers, codebook_size, dim)<a id="change">)</a>

    def forward(
        self,
        coarse_token_ids,</code></pre>