<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        readout_query = self.readout_query[None, None, :].expand((batch_size, -1, -1))
        pooled, attention_weights = self.readout_attention(readout_query, h, h, key_padding_mask=mask)
        return <a id="change">self.output(</a>pooled<a id="change">)</a>


class TransformerGNN(nn.Module):
    def __init__(self,</code></pre><h3>After Change</h3><pre><code class='java'>

        readout_query = self.readout_query[None, None, :].expand((batch_size, -1, -1))
        pooled, attention_weights = self.readout_attention(readout_query, h, h, key_padding_mask=mask)
        return <a id="change">self.output(pooled).squeeze()</a>


class TransformerGNN(nn.Module):
    def __init__(self,</code></pre>