<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        
        d = x.dim()
        <a id="change">for </a><a id="change">_</a> in range(3 - d)<a id="change">:
            </a>x<a id="change"> = </a><a id="change">x.unsqueeze(0</a><a id="change">)</a>

        x = torch.sign(x)
        x = self.pad(x)
        x = x.unfold(-1, self.frame_length + 1, self.frame_length)</code></pre><h3>After Change</h3><pre><code class='java'>

        
        x = torch.sign(x)
        x = torch.cat((<a id="change">x[..., :1]</a>, x), dim=-1)
        x = x.unfold(-1, self.frame_length + 1, self.frame_length)
        z = 0.5 * torch.abs(x[..., 1:] - x[..., :-1]).sum(-1)
        if self.norm:</code></pre>