<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        nums_nodes, id = graph.batch_num_nodes(), 0
        items_embedding = self.item_embedding(torch.tensor([i for i in range(self.items_total)]).to(nodes.device))
        <a id="change">batch_embedding</a><a id="change"> = []</a>
        <a id="change">for </a><a id="change">num_nodes</a> in nums_nodes<a id="change">:
            </a>output_node_features = nodes_output[id:id + num_nodes, :]
            output_nodes = nodes[id: id + num_nodes]
            beta = torch.zeros(self.items_total, 1).to(nodes.device)
            beta[output_nodes] = 1
            embed<a id="change"> = </a>(1 - beta * self.alpha) * items_embedding.clone()
            embed[output_nodes, :] = embed[output_nodes, :] + self.alpha[output_nodes] * output_node_features
            <a id="change">batch_embedding.append(</a>embed<a id="change">)</a>
            id += num_nodes
        batch_embedding<a id="change"> = </a><a id="change">torch.stack(</a>batch_embedding<a id="change">)</a>
        <a id="change">return </a>batch_embedding


class AggregateTemporalNodeFeatures(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        
        items_embedding = self.item_embedding(torch.tensor([i for i in range(self.items_total)]).to(nodes.device))
        alpha = torch.sigmoid(self.alpha)
        embed<a id="change"> = </a>(1 - alpha) * items_embedding.clone() + alpha * nodes_output
        <a id="change">return </a>embed


class AggregateTemporalNodeFeatures(nn.Module):</code></pre>