<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.norm = norm_layer(self.num_features)
        self.avgpool = nn.AdaptiveAvgPool1d(1)
        self.head = nn.Linear(self.num_features, num_classes)<a id="change"> if </a>num_classes &gt; 0<a id="change"> else </a>nn.Identity()

        self.apply(self._init_weights)
</code></pre><h3>After Change</h3><pre><code class='java'>
                use_checkpoint=use_checkpoint)
            self.layers.append(layer)

        num_features = [<a id="change">int(</a>embed_dim * 2<a id="change"> ** </a>i<a id="change">)</a> for i in range(self.num_layers)]
        self.num_features = num_features

        &#47&#47 add a norm layer for each output</code></pre>