<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.to_q = nn.Linear(dim, dim, bias = False)

        kv_heads = 1<a id="change"> if </a>one_kv_head<a id="change"> else </a>heads
        self.one_kv_head = one_kv_head
        self.kv_heads = kv_heads
        self.to_k = nn.Linear(dim, d_heads * kv_heads, bias = False)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.psi_fn = psi_fn
        self.receives_context = receives_context

        self.global_attn_heads = heads<a id="change"> - </a>n_local_attn_heads
        self.global_attn_fn = linear_attn if not causal else partial(causal_linear_attn, psi=psi_fn, bucket_size = blindspot_size)

        self.local_attn_heads = n_local_attn_heads
        self.local_attn  = LocalAttention(local_attn_window_size, n_local_attn_heads, d_heads, causal = causal, dropout = attn_dropout)

        self.to_q = nn.Linear(dim, dim, bias = False)

        kv_heads = (int(self.local_attn_heads &gt; 0) + <a id="change">int(</a>self.global_attn_heads &gt; 0<a id="change">)</a>) if one_kv_head else heads

        self.one_kv_head = one_kv_head
        self.kv_heads = kv_heads</code></pre>