<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, labels: Union[str, Sequence[str]]) -&gt; torch.FloatTensor:
        Encode labels via the provided model and tokenizer.
        <a id="change">if </a>isinstance(labels, str)<a id="change">:
            </a>labels = [labels]
        return self.model(
            **self.tokenizer(
                labels,</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, labels: Union[str, Sequence[str]]) -&gt; torch.FloatTensor:
        Encode labels via the provided model and tokenizer.
        labels = upgrade_to_sequence(labels)
        labels<a id="change"> = </a><a id="change">list(map(</a>str, labels<a id="change">)</a><a id="change">)</a>
        return self.model(
            **self.tokenizer(
                labels,
                return_tensors="pt",</code></pre>