<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 TODO: extend to more than 2 modalities
        m1 = modalities[0]
        m2 = modalities[1]
        <a id="change">return</a>


class TensorFusion(nn.Module):
    &#47&#47 https://github.com/Justin1904/TensorFusionNetworks/blob/master/model.py</code></pre><h3>After Change</h3><pre><code class='java'>


    def forward(self, modalities, training=False):
        <a id="change">if </a><a id="change">len(modalities) == 1:
            </a>return <a id="change">modalities[0]</a>
        elif <a id="change"></a>len(modalities) == 2<a id="change">:
            </a>m1 = modalities[0]
            m2 = modalities[1]
            t1 = torch.einsum(&quotbn, nmd -&gt; bmd&quot, m1, self.W)
            t1 = torch.einsum(&quotbmd, bm -&gt; bd&quot, t1, m2)</code></pre>