<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x):
        assert len(x) == 1
        if self.with_avg_pool:
            x<a id="change"> = </a><a id="change">self.avgpool(x[0]</a><a id="change">)</a>
        x = x.view(x.size(0), -1)
        x = self.fc0(x)
        x = self._forward_syncbn(self.bn0, x)
        for fc_name, bn_name in zip(self.fc_names, self.bn_names):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        assert len(x) == 1
        x<a id="change"> = x[0]</a>
        if self.with_avg_pool:
            x<a id="change"> = </a><a id="change">self.avgpool(</a>x<a id="change">)</a>
        x = x.view(x.size(0), -1)
        x = self.fc0(x)
        x = self._forward_syncbn(self.bn0, x)
        for fc_name, bn_name in zip(self.fc_names, self.bn_names):</code></pre>