<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for l_id in range(len(layer_sizes) - 1):
            if l_id == len(layer_sizes) - 2:
                layers.append(nn.Sequential(
                    <a id="change">nn.BatchNorm1d(num_features=layer_sizes[l_id])</a>,
                    nn.Linear(layer_sizes[l_id], layer_sizes[l_id + 1]),
                ))
            else:</code></pre><h3>After Change</h3><pre><code class='java'>
                    nn.ReLU()
                ))
        self.layers = nn.ModuleList(layers)
        <a id="change">if </a>self.variational<a id="change">:
            </a>self.fc_mu<a id="change"> = </a>nn.Linear(layer_sizes[-1], output_size)
            self.fc_var = nn.Linear(layer_sizes[-1], output_size)

    def forward(self, x):</code></pre>