<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.fn = fn

    def forward(self, x, **kwargs):
        <a id="change">return </a>self.fn(<a id="change">self.norm(</a>x<a id="change">)</a>, **kwargs)

&#47&#47 feed forward
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.fn = fn

    def forward(self, x, **kwargs):
        x<a id="change"> = </a><a id="change">self.norm(</a>x<a id="change">)</a>
        x = self.fn(x, **kwargs)
        <a id="change">return </a>self.norm_out(x)

&#47&#47 feed forward
</code></pre>