<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                nn.Linear(dim, inner_dim),
                nn.GELU(),
                nn.Dropout(dropout),
                <a id="change">nn.Linear(</a>inner_dim, dim<a id="change">)</a>
            )
        elif ffn_type == "bilinear":
            self.net = nn.Sequential(
                Bilinear(dim, inner_dim),</code></pre><h3>After Change</h3><pre><code class='java'>
        slopes = self._get_slopes(heads=int(heads / 2))

        all_rows = []
        for h_ in range(<a id="change">int(</a>heads<a id="change"> / 2</a><a id="change">)</a>):
            all_rows.append(lower_tri_rows * slopes[h_])
            all_rows.append(upper_tri_rows * slopes[h_])
</code></pre>