<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class MultiScaleDecoder(nn.Module):
    def __init__(self, channel, scale):
        super().__init__()
        self._postProcess = <a id="change">nn.Sequential(
            &#47&#47 ResidualBlock(channel, channel),
            &#47&#47 &#47&#47 AttentionBlock(channel),
            &#47&#47 ResidualBlockUpsample(channel, channel, 2),
            </a>ResidualBlock(channel, channel),
            &#47&#47 AttentionBlock(channel),
            ResidualBlockUpsample(channel, channel, 2),
            <a id="change">ResidualBlock(</a>channel, channel<a id="change">)</a>,
            &#47&#47 AttentionBlock(channel),
            ResidualBlockUpsample(channel, channel, 2),
            ResidualBlock(channel, channel),
            &#47&#47 AttentionBlock(channel),
            subPixelConv3x3(channel, 3, 2)<a id="change">,
        )</a>
        &#47&#47 Upsample -&gt; 2x, 2x
        self._scales = nn.ModuleList([UpSample(channel) for _ in range(scale)])

    def forward(self, latents):</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()
        postProcess = []
        for i in range(postProcessNum - 1):
            postProcess += [<a id="change">ResidualBlock(</a>channel, channel<a id="change">)</a>, ResidualBlockUpsample(channel, channel, 2)]
        postProcess += [ResidualBlock(channel, channel), subPixelConv3x3(channel, 3, 2)]
        self._postProcess = nn.Sequential(*postProcess)
        &#47&#47 Upsample -&gt; 2x, 2x</code></pre>