<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise ValueError("in_channels must be divisible by groups.")
        self.groups = groups

        filter_shape<a id="change"> = </a><a id="change">[</a>out_channels, in_channels // groups, kernel_size, kernel_size<a id="change"></a>]

        self.weight = torch.nn.Parameter(torch.randn(filter_shape))
        self.bias = None</code></pre><h3>After Change</h3><pre><code class='java'>
                 groups=1,
                 bias=False):
        super(MyDCNv2, self).__init__()
        <a id="change">assert </a>groups == 1
        if in_channels % groups != 0:
            raise ValueError("in_channels must be divisible by groups.")
        self.in_channels = in_channels</code></pre>