<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Args:
            x (torch.Tensor):
        
        <a id="change">pass</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 check input tensors
        if x.ndim != 2:
            raise ValueError(f"Expected a 2D tensor. Got {x.ndim}-D tensor.")
        <a id="change">if </a><a id="change">x.shape[-1] != self.in_dim:
            </a>raise ValueError(f"Expected {self.in_dim}-D position vector. Got {x.shape[-1]}.")

        out = self.relu_actvn(self.fc_in(x))
        out = self.relu_actvn(self.fc_1(out))
        out = self.relu_actvn(self.fc_2(out))
        out<a id="change"> = </a>self.fc_out(out)

        return out
</code></pre>