<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nodes, but no leaves.
        @rtype: C{Tree}
        
        newchildren<a id="change"> = </a><a id="change">[]</a>
        <a id="change">for child</a> in self._children<a id="change">:
            </a>if isinstance(child, Tree):
                <a id="change">newchildren.append(</a>child.nodes()<a id="change">)</a>
        return Tree(self.node(), *newchildren)

    def height(self):
        </code></pre><h3>After Change</h3><pre><code class='java'>
            nodes, but no leaves.
        @rtype: I{tree}
        
        newchildren<a id="change"> = </a><a id="change">[c for c in self._children
                       if isinstance(c, AbstractTree)]</a>
        &#47&#47 Return a new tree containing only the nodes.
        &#47&#47 "self.__class__" is the constructor for this class.
        return self.__class__(self.node(), *newchildren)
</code></pre>