<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )

    def forward(self, x: torch.Tensor) -&gt; torch.Tensor:
        <a id="change">return </a><a id="change">self.net(</a>x<a id="change">)</a></code></pre><h3>After Change</h3><pre><code class='java'>
        self.output = nn.Linear(width, 1)

    def forward(self, x: torch.Tensor) -&gt; torch.Tensor:
        <a id="change">for layer</a> in self.linears<a id="change">:
            </a>x<a id="change"> = </a>f.relu(layer(x))
        <a id="change">return </a>self.output(x)</code></pre>