<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            output_splits=output_splits,
            group=self._pg,
        )
        <a id="change">return </a><a id="change">SequenceEmbeddingsAwaitable(
            tensor_awaitable=tensor_awaitable,
            unbucketize_permute_tensor=unbucketize_permute_tensor,
            embedding_dim=local_embs.shape[1],
        )</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
            group=self._pg,
            codecs=self._codecs,
        )
        sequence_awaitable = <a id="change">SequenceEmbeddingsAwaitable(
            tensor_awaitable=tensor_awaitable,
            unbucketize_permute_tensor=unbucketize_permute_tensor,
            embedding_dim=local_embs.shape[1],
        )</a>

        <a id="change">return </a>sequence_awaitable
</code></pre>