<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def test_unsupervised_equal_frequency(self):
        path = datasetsDir(self) + &quotnumerical&quot + SEP + &quotweather&quot
        disc = <a id="change">discretise.Discretiser(</a>path, path<a id="change"> + &quot.test,&quot</a>+ path + &quot.gold&quot, <a id="change">&quot1&quot</a>, <a id="change">&quot3&quot</a><a id="change">)</a>
        self.assertTrue(disc.attributes[1].is_continuous())
        self.assertEqual(27.5, disc.training[0].value(disc.attributes[1]))
        self.assertEqual(32, disc.training[2].value(disc.attributes[1]))
        self.assertEqual(25.4, <a id="change">disc.instances[0][0]</a>.value(disc.attributes[1]))
        values = disc.training.values_grouped_by_attribute([disc.attributes[1]])
        values[0].sort()
        self.assertEqual([6.0, 9.0, 9.0, 10.699999999999999, 12.0, 12.0, 12.0, 14.1, 18.0, 27.5, 32.0, 33.100000000000001], values[0])</code></pre><h3>After Change</h3><pre><code class='java'>

    def test_unsupervised_equal_frequency(self):
        path = datasetsDir(self) + &quotnumerical&quot + SEP + &quotweather&quot
        training<a id="change">, attributes, klass, test, gold</a> = self.get_instances(path)
        disc = <a id="change">discretise.Discretiser(</a>training, attributes, klass, test, gold, <a id="change">[1</a>], <a id="change">[3</a>]<a id="change">)</a>
        self.assertTrue(disc.attributes[1].is_continuous())
        self.assertEqual(27.5, disc.training[0].value(disc.attributes[1]))
        self.assertEqual(32, disc.training[2].value(disc.attributes[1]))
        self.assertEqual(25.4, disc.test[0].value(disc.attributes[1]))</code></pre>