<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        global_column_attn = False
    ):
        super().__init__()
        self.layers = <a id="change">nn.ModuleList(</a>[]<a id="change">)</a>

        <a id="change">for _</a> in range(depth)<a id="change">:
            </a><a id="change">self.layers.append(</a>nn.ModuleList(<a id="change">[
                </a>PairwiseAttentionBlock(dim = dim, seq_len = seq_len, heads = heads, dim_head = dim_head, dropout = attn_dropout, global_column_attn = global_column_attn),
                FeedForward(dim = dim, dropout = ff_dropout),
                MsaAttentionBlock(dim = dim, seq_len = seq_len, heads = heads, dim_head = dim_head, dropout = attn_dropout),
                FeedForward(dim = dim, dropout = ff_dropout)<a id="change"></a>,
            ])<a id="change">)</a>

    def forward(
        self,
        x,</code></pre><h3>After Change</h3><pre><code class='java'>
        **kwargs
    ):
        super().__init__()
        self.layers = nn.ModuleList(<a id="change">[EvoformerBlock(**kwargs) for _ in range(depth)]</a>)

    def forward(
        self,</code></pre>