<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            label_batch = None

        elif isinstance(label, torch.Tensor):
            <a id="change">assert </a>label.ndim == 1, (&quotThe label shoube be in shape of (n, )&quot
                                     f&quotbut got {label.shape}.&quot)
            label_batch = label
        elif callable(label):</code></pre><h3>After Change</h3><pre><code class='java'>
            label_batch = None

        elif isinstance(label, torch.Tensor):
            <a id="change">if not use_outside_embedding</a><a id="change">:
                </a><a id="change">assert </a>label.ndim == 1, (
                    &quotThe label shoube be in shape of (n, )&quot
                    f&quotbut got {label.shape}.&quot)
            label_batch = label</code></pre>