<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.pool2d = False
        self.combine_batch_time = False

        <a id="change">if </a><a id="change">isinstance(</a>self.kernel_size, int<a id="change">):
            </a>self.kernel_size = (self.kernel_size,)
        if isinstance(self.pool_axis, int):
            self.pool_axis = (self.pool_axis,)
</code></pre><h3>After Change</h3><pre><code class='java'>
        else:
            self.stride = stride

        <a id="change">if self.pool_type == "avg"</a><a id="change">:

            </a>self.pool_layer<a id="change"> = </a>torch.nn.AvgPool1d(
                self.kernel_size,
                stride=self.stride,
                padding=self.padding,
                ceil_mode=self.ceil_mode,
            )

        else:
            self.pool_layer<a id="change"> = </a>torch.nn.MaxPool1d(
                self.kernel_size,
                stride=self.stride,
                padding=self.padding,</code></pre>