<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                             stride=pooling_stride,
                             padding=pooling_padding) if max_pool else nn.Identity()
            )
                for i in <a id="change">range(</a>n_conv_layers<a id="change">)</a>
            ])

        self.flattener = nn.Flatten(2, 3)
        self.apply(self.init_weight)</code></pre><h3>After Change</h3><pre><code class='java'>
                        [in_planes for _ in range(n_conv_layers - 1)] + \
                        [n_output_channels]

        n_filter_list_pairs = zip(n_filter_list[:-1], <a id="change">n_filter_list[1:]</a>)

        self.conv_layers = nn.Sequential(
            *[nn.Sequential(</code></pre>