<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        projected = self.projection(x)
        x<a id="change"> = </a>self.gelu(projected)
        x<a id="change"> = </a>self.fc(x)
        x<a id="change"> = </a><a id="change">self.dropout(</a>x<a id="change">)</a>
        x<a id="change"> = </a>x + projected
        x = self.layer_norm(x)
        <a id="change">return </a>x


class CLIPModel(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        projected = self.projection(x)
        <a id="change">return </a>projected


class CLIPModel(nn.Module):</code></pre>