<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            outs.append(self.__getattr__(f&quotout_block_{i}&quot)(x))
            if i &gt; 0:
                x = self.__getattr__(f&quotup_block_{i}&quot)(x)
        <a id="change">return </a>outs[::-1]

    def init_weights(self):
        pass</code></pre><h3>After Change</h3><pre><code class='java'>
            outs.append(self.__getattr__(f&quotout_block_{i}&quot)(x))
            if i &gt; 0:
                x = self.__getattr__(f&quotup_block_{i}&quot)(x)
                score<a id="change"> = </a><a id="change">self.__getattr__(f&quotscore_block_{i}&quot)(</a>x<a id="change">)</a>
                mask<a id="change">, loss = </a>self._prune(score, inputs[i - 1], gt_bboxes, gt_labels, img_metas)
                x = self.pruning(x, mask)
                losses += loss
        outs = outs[::-1]</code></pre>