<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                      norm_layer(int(ngf * mult / 2)),
                      nn.ReLU(True)]

        model += [nn.ZeroPad2d(3) if os.environ[&quotDEEPLIIF_SEED&quot] != &quotNone&quot else <a id="change">nn.ReflectionPad2d(3</a><a id="change">)</a>]
        model += [nn.Conv2d(ngf, output_nc, kernel_size=7, padding=0)]
        model += [nn.Tanh()]
</code></pre><h3>After Change</h3><pre><code class='java'>
                      nn.ReLU(True)]

        if padding_type == &quotreflect&quot:
            model += [<a id="change">nn.ReflectionPad2d(3</a><a id="change">)</a>]
        else:
            model += [nn.ZeroPad2d(3)]
</code></pre>