<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.has_mean = False

    def forward(self, x):
        <a id="change">if </a>self.has_mean<a id="change">:
            </a>batch_size<a id="change"> = </a><a id="change">x.data.size(0</a><a id="change">)</a>
            x<a id="change"> = </a>x - torch.autograd.Variable(self.mean_img.repeat(batch_size, 1, 1, 1))

        ind = -2
        self.loss = None</code></pre><h3>After Change</h3><pre><code class='java'>
                if self.training:
                    pass
                else:
                    boxes<a id="change"> = </a>self.models[ind](x)
                    <a id="change">out_boxes.append(</a>boxes<a id="change">)</a>
            elif block[&quottype&quot] == &quotcost&quot:
                continue
            else:
                print(&quotunknown type %s&quot % (block[&quottype&quot]))</code></pre>