<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self._encoding = encoding

    def tag(self, tokens):
        return <a id="change">self.batch_tag([tokens])[0]</a>

    def batch_tag(self, sentences):
        encoding = self._encoding
        hunpos = Popen([self._hunpos_bin, self._hunpos_model],</code></pre><h3>After Change</h3><pre><code class='java'>
        Tags a single sentence: a list of words.
        The tokens should not contain any newline characters.
        
        <a id="change">for token</a> in tokens<a id="change">:
            </a>assert "\n" not in token, "Tokens should not contain newlines"
            if isinstance(token, unicode):
                token<a id="change"> = </a>token.encode(self._encoding)
            self._hunpos.stdin.write(token + "\n")
        &#47&#47 We write a final empty line to tell hunpos that the sentence is finished:
        self._hunpos.stdin.write("\n")</code></pre>