<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        info_gain, max_info_gain_stump = -1, None
        for decision_stump in self.decision_stumps:
            new_info_gain = decision_stump.information_gain()
            <a id="change">if new_info_gain &gt; info_gain</a><a id="change">: 
                </a>info_gain<a id="change"> = </a>new_info_gain
                max_info_gain_stump<a id="change"> = </a>decision_stump
        return max_info_gain_stump
</code></pre><h3>After Change</h3><pre><code class='java'>
            instance.set_klass(klass)
        
    def maximum_information_gain(self):
        <a id="change">return </a>self.higher_value_preferred(lambda decision_stump: decision_stump.information_gain())
    
    def maximum_gain_ratio(self):
        return self.higher_value_preferred(lambda decision_stump: decision_stump.gain_ratio())</code></pre>