<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    
    def __init__(self, node_dim, edge_dim, hidden_dim, target_dim, n_layers: int = 4, **kwargs):
        super(MPNN3D, self).__init__()
        self.input = <a id="change">nn.Linear(</a>node_dim, hidden_dim<a id="change">)</a>
        self.edge_input<a id="change"> = </a><a id="change">nn.Linear(</a>edge_dim, hidden_dim<a id="change">)</a>
        self.mp_layers = nn.ModuleList()
        for _ in range(n_layers):
            self.mp_layers.append(MPLayer(
                message_network=nn.Sequential(nn.Linear(3 * hidden_dim + 1, hidden_dim),</code></pre><h3>After Change</h3><pre><code class='java'>
                 batch_norm_momentum=0.1,
                 **kwargs):
        super(MPNN3D, self).__init__()
        self.node_input_net = <a id="change">MLP(
            in_dim=node_dim,
            hidden_size=hidden_dim,
            out_dim=hidden_dim,
            mid_batch_norm=mid_batch_norm,
            last_batch_norm=last_batch_norm,
            layers=1,
            mid_activation=&quotrelu&quot,
            dropout=dropout,
            last_activation=last_activation,
            batch_norm_momentum=batch_norm_momentum

        )</a>

        self.mp_layers = nn.ModuleList()
        for _ in range(propagation_depth):
            self.mp_layers.append(MPLayer(in_dim=hidden_dim,</code></pre>