<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self):
        super(LinearModel, self).__init__()
        self.resnet_rgb = resnet18(pretrained=False)
        self.resnet_rgb.fc = <a id="change">nn.Sequential(
                            </a>nn.Linear(512, 512), nn.BatchNorm1d(512), nn.ReLU(True)<a id="change">)</a>
        self.layer_steering = nn.Sequential(
                            nn.Linear(512, 256), nn.BatchNorm1d(256), nn.ReLU(True),
                            nn.Linear(256, 128), nn.BatchNorm1d(128), nn.ReLU(True),
                            nn.Linear(128, 1)</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self):
        super(LinearModel, self).__init__()
        &#47&#47 similar to the self-driving car model from Nvidia in 2016: https://developer.nvidia.com/blog/deep-learning-self-driving-cars/
        self.layer_cnn = <a id="change">nn.Sequential(
            nn.Conv2d(in_channels= 3, out_channels= 32, kernel_size=3, stride=2, padding=1)</a>, &#47&#47size: 224--&gt;112
            <a id="change">nn.BatchNorm2d(</a>32<a id="change">)</a>,
            nn.ReLU(inplace=True),
            nn.Conv2d(in_channels= 32, out_channels= 64, kernel_size=3, stride=2, padding=1), &#47&#47112--&gt;56
            <a id="change">nn.BatchNorm2d(</a>64<a id="change">)</a>,
            nn.ReLU(inplace=True),
            <a id="change">nn.Conv2d(in_channels= 64, out_channels= 128, kernel_size=3, stride=2, padding=1)</a>, &#47&#4756--&gt;28
            <a id="change">nn.BatchNorm2d(</a>128<a id="change">)</a>,
            nn.ReLU(inplace=True),
            <a id="change">nn.Conv2d(in_channels= 128, out_channels= 256, kernel_size=3, stride=2, padding=1)</a>, &#47&#4728--&gt;14
            nn.BatchNorm2d(256),
            nn.ReLU(inplace=True),
            <a id="change">nn.Conv2d(in_channels= 256, out_channels= 512, kernel_size=3, stride=2, padding=1)</a>, &#47&#4714--&gt;7, final size: batch_size*512*7*7
            <a id="change">nn.BatchNorm2d(</a>512<a id="change">)</a>,
            nn.ReLU(inplace=True)<a id="change">
        )</a>
        self.avgpool = nn.AdaptiveAvgPool2d((1, 1)) &#47&#47 pooling, change the size to batch_size*512*1*1

        self.layer_steering = nn.Sequential(
                            nn.Linear(512, 256), nn.BatchNorm1d(256), nn.ReLU(True),</code></pre>