<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                            stride=scale_factor, padding=9 // 2,
                                            output_padding=scale_factor - 1)

        <a id="change">self._initialize_weights()</a>

    def _initialize_weights(self):
        for m in self.first_part:
            if isinstance(m, nn.Conv2d):</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.PReLU())

        self.mid_part = nn.Sequential(
            <a id="change">nn.Conv2d(in_channels=64, out_channels=12, kernel_size=1, stride=1, padding=0)</a>,
            nn.PReLU(),

            nn.Conv2d(in_channels=12, out_channels=12, kernel_size=3, stride=1, padding=1),
            nn.Conv2d(in_channels=12, out_channels=12, kernel_size=3, stride=1, padding=1),
            <a id="change">nn.Conv2d(in_channels=12, out_channels=12, kernel_size=3, stride=1, padding=1)</a>,
            nn.Conv2d(in_channels=12, out_channels=12, kernel_size=3, stride=1, padding=1),
            nn.PReLU(),
</code></pre>