<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.init.kaiming_normal_(to.zeros([number_of_node_features, number_of_node_features], device=self.device)),
            requires_grad=True)
        self.linear = to.nn.Linear(self.fully_connected_layer_input_size, self.fully_connected_layer_output_size)
        self.sigmoid<a id="change"> = </a><a id="change">to.nn.Sigmoid()</a>

    def forward(self,
                node_features: to.Tensor,
                adjacency_matrix: to.Tensor,</code></pre><h3>After Change</h3><pre><code class='java'>
            to.empty([number_of_node_features, number_of_node_features]),
            requires_grad=True)
        self.linear_weight = nn.Parameter(
            to.empty(<a id="change">[</a>self.fully_connected_layer_output_size, self.fully_connected_layer_input_size<a id="change"></a>]),
            requires_grad=True)
        self.linear_bias = nn.Parameter(
            to.empty(self.fully_connected_layer_output_size),</code></pre>