<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                x_tc_out = x_glu

            &#47&#47 Temporal Convolution Layer (GTU)
            elif <a id="change"></a>self.act_func == &quotgtu&quot<a id="change">:
                &#47&#47 Tanh(x_p + x_in) ⊙ Sigmoid(x_q)
                </a>x_gtu = torch.mul(self.tanh(x_p + x_in), self.sigmoid(x_q))
                x_tc_out<a id="change"> = </a>x_gtu

            else:
                raise ValueError(f&quotERROR: activation function {self.act_func} is not defined.&quot)</code></pre><h3>After Change</h3><pre><code class='java'>
        x_in = self.align(x)[:, :, self.Kt - 1:, :]
        x_causal_conv = self.causal_conv(x)

        if <a id="change">self.act_func == &quotglu&quot or self.act_func == &quotgtu&quot</a>:
            x_p = x_causal_conv[:, : self.c_out, :, :]
            x_q = x_causal_conv[:, -self.c_out:, :, :]
</code></pre>