<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.padding = padding if padding is not None else 1
        self.norm = nn.BatchNorm2d if norm_layer is None else norm_layer
        self.down_sampling = <a id="change">nn.Sequential(
            </a>nn.Conv2d(input_channel, output_channel, 1, self.stride),
            self.norm(output_channel)<a id="change">
        )</a> if self.stride != 1 else None


class ResNetBlock(ResNetBlockBase):</code></pre><h3>After Change</h3><pre><code class='java'>
            self.stride = stride
        else:
            self.stride = 1
            if <a id="change">(in_channel != out_channel) and not remain_dim</a>:
                self.stride = 2

        self.padding = padding if padding is not None else 1</code></pre>