<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return clone

    def __le__(self, other):
        if not isinstance(other, FreqDist): <a id="change">return </a>False
        return set(self).issubset(other) and all(self[key] &lt;= other[key] for key in self)
    def __lt__(self, other):
        if not isinstance(other, FreqDist): return False</code></pre><h3>After Change</h3><pre><code class='java'>

    def __le__(self, other):
        if not isinstance(other, FreqDist): 
            <a id="change">raise_unorderable_types("&lt;="</a>, self, other<a id="change">)</a>
        return set(self).issubset(other) and all(self[key] &lt;= other[key] for key in self)

    &#47&#47 @total_ordering doesn&quott work here, since the class inherits from a builtin class
    __ge__ = lambda self, other: not self &lt;= other or self == other</code></pre>