<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __lt__(self, other):
        if not isinstance(other, self.__class__):
            &#47&#47 XXX: self.__class__ vs Nonterminal?
            <a id="change">return </a>False
        return self._symbol &lt; other._symbol

    def __hash__(self):</code></pre><h3>After Change</h3><pre><code class='java'>

    def __lt__(self, other):
        if not isinstance(other, Nonterminal):
            <a id="change">raise_unorderable_types("&lt;"</a>, self, other<a id="change">)</a>
        return self._symbol &lt; other._symbol

    def __hash__(self):
        return self._hash</code></pre>