<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if not isinstance(other, ConditionalFreqDist): return False
        return self &lt;= other and self != other
    def __ge__(self, other):
        if not isinstance(other, ConditionalFreqDist): <a id="change">return </a>False
        return other &lt;= self
    def __gt__(self, other):
        if not isinstance(other, ConditionalFreqDist): return False</code></pre><h3>After Change</h3><pre><code class='java'>
        return self &lt;= other and self != other
    def __ge__(self, other):
        if not isinstance(other, ConditionalFreqDist): 
            <a id="change">raise_unorderable_types("&gt;="</a>, self, other<a id="change">)</a>
        return other &lt;= self
    def __gt__(self, other):
        if not isinstance(other, ConditionalFreqDist): 
            raise_unorderable_types("&gt;", self, other)</code></pre>