<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return set(self.conditions()).issubset(other.conditions()) \
               and all(self[c] &lt;= other[c] for c in self.conditions())
    def __lt__(self, other):
        if not isinstance(other, ConditionalFreqDist): <a id="change">return </a>False
        return self &lt;= other and self != other
    def __ge__(self, other):
        if not isinstance(other, ConditionalFreqDist): return False</code></pre><h3>After Change</h3><pre><code class='java'>
               and all(self[c] &lt;= other[c] for c in self.conditions())
    def __lt__(self, other):
        if not isinstance(other, ConditionalFreqDist): 
            <a id="change">raise_unorderable_types("&lt;"</a>, self, other<a id="change">)</a>
        return self &lt;= other and self != other
    def __ge__(self, other):
        if not isinstance(other, ConditionalFreqDist): 
            raise_unorderable_types("&gt;=", self, other)</code></pre>