<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def _handle_framerelation_elt(self, elt):
        Load frame relation info from an xml element in a frame.
        <a id="change">if </a>len(elt) == 0<a id="change">:
            </a><a id="change">return </a>None
        info = self._load_xml_attributes(AttrDict(), elt)
        info[&quot_type&quot] = &quotframerelation&quot
        info[&quotrelatedFrame&quot] = []</code></pre><h3>After Change</h3><pre><code class='java'>
        info[&quotfeRelations&quot] = PrettyList()

        for sub in elt:
            <a id="change">if </a>sub.tag.endswith(&quotFERelation&quot)<a id="change">:
                </a>ferel<a id="change"> = </a>self._handle_elt(sub)
                ferel[&quot_type&quot] = &quotferelation&quot
                ferel[&quotframeRelation&quot]<a id="change"> = </a>info   &#47&#47 backpointer
                info[&quotfeRelations&quot].append(ferel)

        return info</code></pre>