<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        resnet = resnet50(pretrained=True)
        &#47&#47 resnet = resnext101_32x8d(pretrained=True)
        <a id="change">resnet.layer4[0]</a>.conv2 = nn.Conv2d(512, 512, kernel_size=3, bias=False, stride=1, padding=1)
        resnet.layer4[0].downsample = nn.Sequential(nn.Conv2d(1024, 2048, kernel_size=1, stride=1, bias=False),
                                                    nn.BatchNorm2d(2048))
</code></pre><h3>After Change</h3><pre><code class='java'>
            resnet = resnet50(pretrained=True, last_stride=1)
        elif num_layers == 101:
            resnet = resnet101(pretrained=True, last_stride=1)
        elif <a id="change">num_layers == &quot101_32x8d&quot</a><a id="change">:
            </a>resnet<a id="change"> = </a>resnext101_32x8d(pretrained=True, last_stride=1)
        elif <a id="change">num_layers == &quot50_ibn&quot</a><a id="change">:
            </a>resnet<a id="change"> = </a>resnet50_ibn_a(pretrained=True, last_stride=1)
        elif <a id="change">num_layers == &quot101_ibn&quot</a><a id="change">:
            </a>resnet<a id="change"> = </a>resnet101_ibn_a(pretrained=True, last_stride=1)
        self.backone = nn.Sequential(
            resnet.conv1,
            resnet.bn1,</code></pre>