<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            torch.Tensor: quantized input tensor.
        
        if self._gradient_cancellation_threshold and self._gradient_cancellation_threshold &gt; 0:
            <a id="change">return </a><a id="change">GradientCancellation.apply(</a>input_tensor, self._gradient_cancellation_threshold, self._activation<a id="change">)</a>
        else:
            return self._activation(input_tensor)
</code></pre><h3>After Change</h3><pre><code class='java'>
            torch.Tensor: quantized input tensor.
        
        if self._gradient_cancellation_threshold and self._gradient_cancellation_threshold &gt; 0:
            input_tensor<a id="change"> = </a><a id="change">GradientCancellation.apply(</a>input_tensor, self._gradient_cancellation_threshold<a id="change">)</a>
        return self._activation(input_tensor)
</code></pre>