<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        m_ij = self.edge_mlp(edge_input)

        coor_mlp_input<a id="change"> = </a><a id="change">rearrange(</a>m_ij, <a id="change">&quotb h i j d -&gt; b i j (h d)&quot</a><a id="change">)</a>
        coor_weights = self.coors_mlp(coor_mlp_input)

        if exists(mask):
            coor_mask = rearrange(mask, &quotb () i j -&gt; b i j&quot)</code></pre><h3>After Change</h3><pre><code class='java'>

        rel_coors = self.rel_coors_norm(rel_coors)

        coors_out<a id="change"> = </a><a id="change">einsum(&quotb h i j, b i j c -&gt; b i c h&quot</a>, coor_weights, rel_coors<a id="change">)</a>
        coors_out = self.to_coors_out(coors_out)

        &#47&#47 derive attention
</code></pre>