<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        pe[:, 0::2] = torch.sin(position.float() * div_term)
        pe[:, 1::2] = torch.cos(position.float() * div_term)
        pe = pe.unsqueeze(0).transpose(1, 2)
        <a id="change">super(PositionalEncoding, self).__init__()</a>
        self.register_buffer(&quotpe&quot, pe)
        if dropout &gt; 0:
            self.dropout = nn.Dropout(p=dropout)
        self.dim = dim</code></pre><h3>After Change</h3><pre><code class='java'>
    

    def __init__(self, dim, dropout=0.0, max_len=5000):
        <a id="change">super().__init__()</a>
        if dim % 2 != 0:
            raise ValueError("Cannot use sin/cos positional encoding with "
                             "odd dim (got dim={:d})".format(dim))
        pe = torch.zeros(max_len, dim)</code></pre>