<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        ramp = np.arange(self.cep_order + 1, dtype=default_dtype()) * half_fft_length
        if self.cep_order == half_fft_length:
            ramp[-1] *= 2
        ramp[1:] = np.reciprocal(<a id="change">ramp[1:]</a>)
        self.register_buffer("ramp", torch.from_numpy(ramp))

    def forward(self, n):</code></pre><h3>After Change</h3><pre><code class='java'>
        ramp = np.arange(self.cep_order + 1, dtype=np.float64) * half_fft_length
        if self.cep_order == half_fft_length:
            ramp[-1] *= 2
        ramp[1:] = 1 / <a id="change">ramp[1:]</a>
        self.register_buffer("ramp", numpy_to_torch(ramp))

    def forward(self, n):
        Convert NPDS to cepstrum.</code></pre>