<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, input, hidden_state=None):
        output = []
        <a id="change">for step</a> in range(input.size(1))<a id="change">:
            &#47&#47 Compute current time-step
            </a>hidden_state = self.rnn_cell(input[:, step, :, :, :], hidden_state)
            <a id="change">output.append(</a>hidden_state<a id="change">)</a>
        &#47&#47 Stack the list of output hidden states into a tensor
        output = torch.stack(output, 0)
        return output
</code></pre><h3>After Change</h3><pre><code class='java'>
        for l, (gru_cell, hid_dp) in enumerate(zip(self.cell_list, self.hidden_dps)):
            h = hidden_state[l]
            output_inner = []
            <a id="change">for </a>t in <a id="change">range(</a>seq_len<a id="change">):
                </a>h = gru_cell(input=cur_layer_input[t], h_prev=h)
                output_inner.append(h)

            cur_layer_input = torch.stack(output_inner)  &#47&#47 list to array</code></pre>