<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 32*32 尺度下的映射
        self.map1 = nn.Sequential(
            <a id="change">nn.Conv3d(256</a>, 1, 1, 1<a id="change">)</a>,
            nn.Upsample(scale_factor=(8, 8, 8), mode=&quottrilinear&quot),
            nn.Sigmoid()
        )</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 32*32 尺度下的映射
        self.map1 = nn.Sequential(
            <a id="change">nn.Conv3d(256</a>, 2, 1, 1<a id="change">)</a>,
            nn.Upsample(scale_factor=(8, 16, 16), mode=&quottrilinear&quot),
            nn.Softmax(dim=1)
        )</code></pre>