<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, channel, scale):
        super().__init__()
        &#47&#47 1/4, 1/4
        self._preProcess = <a id="change">nn.Sequential(
            </a>ResidualBlockWithStride(3, channel, stride=2),
            ResidualBlock(channel, channel),
            ResidualBlockWithStride(channel, channel, stride=2),
            <a id="change">ResidualBlock(</a>channel, channel<a id="change">),
            &#47&#47 ResidualBlockWithStride(channel, channel, stride=2),
            &#47&#47 ResidualBlock(channel, channel)
        )</a>
        &#47&#47 DownSample -&gt; 1/2, 1/2
        self._scales = nn.ModuleList([DownSample(channel) for _ in range(scale)])
        &#47&#47 conv -&gt; 1/2, 1/2
        self._postProcess = nn.ModuleList([conv3x3(channel, channel, stride=2) for _ in range(scale)])</code></pre><h3>After Change</h3><pre><code class='java'>
        preProcess = [ResidualBlockWithStride(3, channel, stride=2), ResidualBlock(channel, channel)]
        preProcessNum -= 1
        for i in range(preProcessNum):
            preProcess += [ResidualBlockWithStride(channel, channel, stride=2), <a id="change">ResidualBlock(</a>channel, channel<a id="change">)</a>]
        &#47&#47 1/4, 1/4
        self._preProcess = nn.Sequential(*preProcess)
        &#47&#47 DownSample -&gt; 1/2, 1/2</code></pre>