<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        else:
            use_bias = norm_layer == nn.InstanceNorm2d

        model = [nn.ZeroPad2d(3) if <a id="change">os.environ[&quotDEEPLIIF_SEED&quot]</a> != &quotNone&quot else nn.ReflectionPad2d(3),
                 nn.Conv2d(input_nc, ngf, kernel_size=7, padding=0, bias=use_bias),
                 norm_layer(ngf),
                 nn.ReLU(True)]</code></pre><h3>After Change</h3><pre><code class='java'>
                 norm_layer(ngf),
                 nn.ReLU(True)]
        else:
            model<a id="change"> = [</a>nn.ZeroPad2d(3),
                 <a id="change">nn.Conv2d(</a>input_nc, ngf<a id="change">, kernel_size=7, padding=0, bias=use_bias)</a>,
                 norm_layer(ngf),
                 nn.ReLU(True)<a id="change"></a>]

        n_downsampling = 2
        for i in range(n_downsampling):  &#47&#47 add downsampling layers</code></pre>