<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x):
        x, gate = x.chunk(2, dim = -1)
        gate = self.norm(gate)
        return <a id="change">self.proj(</a>gate<a id="change">)</a> * x

&#47&#47 main classes
</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x):
        res, gate = x.chunk(2, dim = -1)
        gate = self.norm(gate)
        gate = <a id="change">self.proj(</a>gate<a id="change">)</a>
        if exists(self.attn):
            gate<a id="change"> += </a>self.attn(x)
        return gate * res

&#47&#47 main classes</code></pre>