<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            mel = mel.masked_select(mel_mask.unsqueeze(-1))
            mel_postnet = mel_postnet.masked_select(mel_mask.unsqueeze(-1))
            mel_target = mel_target.masked_select(mel_mask.unsqueeze(-1))
            mel_loss = <a id="change">self.mse_loss(</a>mel, mel_target<a id="change">)</a>
            mel_postnet_loss = self.mse_loss(mel_postnet, mel_target)

            d_loss = self.mae_loss(log_d_predicted, log_d_target)*0.01
        except:</code></pre><h3>After Change</h3><pre><code class='java'>
            mel = mel.masked_select(mel_mask.unsqueeze(-1))
            mel_postnet = mel_postnet.masked_select(mel_mask.unsqueeze(-1))
            mel_target = mel_target.masked_select(mel_mask.unsqueeze(-1))
            mel_loss = <a id="change">self.mse_loss(</a>mel, mel_target<a id="change">)*</a>0.1
            mel_postnet_loss = self.mse_loss(mel_postnet, mel_target)

            d_loss = self.mae_loss(log_d_predicted, log_d_target)*0.01</code></pre>