<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        focal_weight = (
            target * (target &gt; 0.0).float()
            + self.alpha
            * <a id="change">(pred_sigmoid - target).abs()</a>.pow(self.gamma)
            * (target == 0.0).float()
        )
        loss = (</code></pre><h3>After Change</h3><pre><code class='java'>
            target * (target &gt; 0.0).float()
            + self.alpha * pred_sigmoid.pow(self.gamma) * (target == 0.0).float()
        )
        pt<a id="change"> = </a>(
            pred_sigmoid * (target &gt; 0.0).float()
            + (1 - pred_sigmoid) * <a id="change">(target == 0.0).float()</a>
        )
        loss = F.binary_cross_entropy_with_logits(
            pred, target, reduction="none"
        ) * focal_weight + self.epsilon * (1 - pt).pow(self.gamma + 1)</code></pre>