<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.preactivation = preactivation
        self._incremental_n_modes = incremental_n_modes

        <a id="change">assert </a>len(self.layer_configs) == n_layers
        

        if domain_padding is not None and domain_padding &gt; 0:</code></pre><h3>After Change</h3><pre><code class='java'>
        assert len(uno_layers[&quotn_modes&quot]) == n_layers, "number of modes for all layers are not given"
        assert len(uno_layers[&quotres_scaling&quot]) == n_layers, "Scaling factor for all layers are not given"

        self.n_dim = len(<a id="change">uno_layers[&quotn_modes&quot]</a>[0])
        self.hidden_channels = hidden_channels
        self.lifting_channels = lifting_channels
        self.projection_channels = projection_channels
        self.in_channels = in_channels
        self.out_channels = out_channels
        self.horizontal_skips_map = horizontal_skips_map
        self.joint_factorization = joint_factorization
        self.non_linearity = non_linearity
        self.rank = rank
        self.factorization = factorization
        self.fixed_rank_modes = fixed_rank_modes
        self.decomposition_kwargs = decomposition_kwargs
        self.fno_skip = fno_skip,
        self.mlp_skip = mlp_skip,
        self.fft_norm = fft_norm
        self.implementation = implementation
        self.separable = separable
        self.preactivation = preactivation
        self._incremental_n_modes = incremental_n_modes

        

        self.layer_configs = []
        for l in range(n_layers):
            l_config = {}
            l_config[&quotout_channels&quot] = uno_layers[&quotout_channels&quot][l]
            l_config[&quotn_modes&quot] = <a id="change">uno_layers[&quotn_modes&quot]</a>[l]
            l_config[&quotres_scaling&quot] = uno_layers[&quotres_scaling&quot][l]
            self.layer_configs.append(l_config)
        </code></pre>