<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        super(RetinaFace, self).__init__()
        self.phase = phase
        <a id="change">assert </a>cfg[&quotname&quot] == &quotmobilenet0.25&quot
        backbone = MobileNetV1()
        self.body = _utils.IntermediateLayerGetter(backbone, cfg[&quotreturn_layers&quot])
        in_channels_stage2 = cfg[&quotin_channel&quot]</code></pre><h3>After Change</h3><pre><code class='java'>
        super(RetinaFace, self).__init__()
        self.phase = phase
        backbone = None
        if <a id="change">cfg["name"]</a> == "mobilenet0.25":
            backbone = MobileNetV1()
        elif <a id="change">cfg["name"]</a> == "Resnet50":
            import torchvision.models as models

            backbone = models.resnet50(pretrained=cfg["pretrain"])</code></pre>