<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>


    def forward(self, x): 
        <a id="change">for </a><a id="change">l</a> in self.linears[:-1]<a id="change">:
            </a>x<a id="change"> = </a><a id="change">self.dropout(</a><a id="change">F.leaky_relu(</a>l(x)<a id="change">))</a>
        <a id="change">return </a>self.linears[-1](x)


    def make_param(self):</code></pre><h3>After Change</h3><pre><code class='java'>


    def forward(self, x): 
        <a id="change">return </a><a id="change">self.net(</a>x<a id="change">)</a>


    def make_param(self):
        device = next(self.net.parameters()).device</code></pre>