<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.embedding = nn.Embedding(vocab_size + 3, d_model)  &#47&#47 3 more classes EOS/SOS/PAD
        self.pos_encoding = positional_encoding(maximum_position_encoding, d_model)

        self.dec_layers = <a id="change">[
            nn.TransformerDecoderLayer(
                d_model=d_model,
                nhead=num_heads,
                dim_feedforward=dff,
                dropout=dropout,
                activation=&quotrelu&quot,
            ) for _ in range(num_layers)
        ]</a>

        self.dropout = nn.Dropout(dropout)

    def forward(</code></pre><h3>After Change</h3><pre><code class='java'>
        self.embedding = nn.Embedding(vocab_size + 3, d_model)  &#47&#47 3 more classes EOS/SOS/PAD
        self.register_buffer(&quotpos_encoding&quot, positional_encoding(maximum_position_encoding, d_model))

        self.dec_layers = <a id="change">nn.ModuleList(</a><a id="change">[
            nn.TransformerDecoderLayer(
                d_model=d_model,
                nhead=num_heads,
                dim_feedforward=dff,
                dropout=dropout,
                activation=&quotrelu&quot,
            ) for _ in range(num_layers)
        ])</a>

        self.dropout = nn.Dropout(dropout)

    def forward(</code></pre>