<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, frame, target):
        x = x.view(-1, 28 * 28)
        x = F.relu(self.fc1(x))
        x = <a id="change">F.relu(</a>self.fc2(x)<a id="change">)</a>
        x<a id="change"> = </a>self.fc3(x)

        <a id="change">return </a>x

    def name(self):
        return "RhythmNet"</code></pre><h3>After Change</h3><pre><code class='java'>

        output, h_n = self.rnn(x.unsqueeze(1))

        <a id="change">return </a><a id="change">torch.mean(</a>output<a id="change">, dim=0)</a>

    def name(self):
        return "RhythmNet"
</code></pre>