<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x, action, with_variance=False):
        mu, logstd = self.compute_stats(x, action)
        dist<a id="change"> = </a>Normal(mu, <a id="change">logstd.exp()</a>)
        pred = dist.rsample()
        &#47&#47 residual prediction
        next_x<a id="change"> = </a>x<a id="change"> + </a>pred[:, :-1]
        next_reward = pred[:, -1].view(-1, 1)
        if with_variance:
            return next_x, next_reward, dist.variance.sum(dim=1, keepdims=True)</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(
        self, x: torch.Tensor, action: torch.Tensor
    ) -&gt; Tuple[torch.Tensor, torch.Tensor]:
        return <a id="change">self.predict_with_variance(x, action)[:2]</a>

    def predict_with_variance(
        self, x: torch.Tensor, action: torch.Tensor
    ) -&gt; Tuple[torch.Tensor, torch.Tensor, torch.Tensor]:</code></pre>