<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :type inverse: bool, optional
        
        if train:
            self._parallel_variance(torch.mean(x, dim=0), torch.var(x, dim=0), <a id="change">x.shape[0]</a>)

        &#47&#47 scale back the data to the original representation
        if inverse:</code></pre><h3>After Change</h3><pre><code class='java'>
        :type no_grad: bool, optional
        
        if no_grad:
            <a id="change">with torch.no_grad()</a><a id="change">:
                </a>return self._compute(x, train, inverse)
        else:
            return self._compute(x, train, inverse)</code></pre>