<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()

    def forward(self, x):
        <a id="change">return </a>x
</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, img, *args, **kwargs):
        b, c, h, w, device, img_size, = *img.shape, img.device, self.image_size
        assert h == img_size and w == img_size, f&quotheight and width of image must be {img_size}&quot
        t<a id="change"> = </a><a id="change">torch.randint(0, self.num_timesteps, (b,), device=device).long()</a>

        img = normalize_to_neg_one_to_one(img)
        return self.p_losses(img, t, *args, **kwargs)
</code></pre>