<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise ValueError
        inverted_residual=InvertedResidual

        <a id="change">if len(stages_repeats) != 3</a><a id="change">:
            </a>raise ValueError(&quotexpected stages_repeats as list of 3 positive ints&quot)
        <a id="change">if len(stages_out_channels) != 5</a><a id="change">:
            </a><a id="change">raise </a><a id="change">ValueError(&quotexpected stages_out_channels as list of 5 positive ints&quot</a><a id="change">)</a>
        self._stage_out_channels = stages_out_channels

        input_channels = 3
        output_channels = self._stage_out_channels[0]</code></pre><h3>After Change</h3><pre><code class='java'>
class ShuffleNetBackbone(nn.Module):
    def __init__(self, version="shufflenet-1.0", pretrained=True):
        super(ShuffleNetBackbone, self).__init__()
        <a id="change">self.version</a> = version
        if self.version == "shufflenet-0.5":
            self._stage_out_channels = [24, 48, 96, 192, 1024]
            self.out_channels = (96, 192)
        elif <a id="change">self.version == "shufflenet-1.0":
            </a>self._stage_out_channels = [24, 116, 232, 464, 1024]
            self.out_channels = (232, 464)
        elif <a id="change">self.version == "shufflenet-1.5"</a><a id="change">:
            </a>self._stage_out_channels = <a id="change">[</a>24, 176, 352, 704, 1024<a id="change"></a>]
            self.out_channels = (352, 704)
        elif self.version == "shufflenet-2.0":
            self._stage_out_channels = [24, 244, 488, 976, 2048]</code></pre>