<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        layer_list.append(nn.ReLU())
        if dropout_rate is not None and dropout_rate &gt; 0:
            layer_list.append(nn.Dropout(p=dropout_rate))
        last_layer_size<a id="change"> = </a><a id="change">layers_description[0]</a>
        for curr_layer_size in layers_description[1:]:
            layer_list.append(nn.Conv2d(last_layer_size, curr_layer_size, kernel_size=1, stride=1))
            layer_list.append(nn.ReLU())
            if dropout_rate is not None and dropout_rate &gt; 0:</code></pre><h3>After Change</h3><pre><code class='java'>
        layer_list = []
        last_layer_size = in_ch

        for i in range(<a id="change">len(</a>layers_description<a id="change">)</a>):
            curr_layer_size = layers_description[i]
            layer_list.append(nn.Conv2d(last_layer_size, curr_layer_size, kernel_size=1, stride=1))
            layer_list.append(nn.ReLU())</code></pre>