<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            **kwargs
        ))
        if bn:
            <a id="change">self.seq.add_module(&quot_bn&quot</a>, nn.BatchNorm2d(out_ch)<a id="change">)</a>
        if act:
            self.seq.add_module(&quot_act&quot, relu())

    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
        **kwargs
    ):
        super().__init__()
        seq<a id="change"> = </a><a id="change">[]</a>
        if kernel_size &gt;= 2:
            seq.append(getattr(nn, pad_mode.capitalize()+&quotPad2d&quot)(kernel_size//2))
        seq.append(
            nn.Conv2d(</code></pre>