<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.flatten = flatten

        self.proj = nn.Conv2d(in_chans, embed_dim, kernel_size=patch_size, stride=patch_size)
        self.norm = norm_layer(embed_dim)<a id="change"> if </a>norm_layer<a id="change"> else </a>nn.Identity()

    def forward(self, x):
        B, C, H, W = x.shape</code></pre><h3>After Change</h3><pre><code class='java'>
        self.embed_dim = embed_dim

        self.proj = nn.Conv2d(in_chans, embed_dim, kernel_size=patch_size, stride=patch_size)
        <a id="change">if norm_layer is not None</a><a id="change">:
            </a>self.norm<a id="change"> = </a>norm_layer(embed_dim)
        else:
            self.norm<a id="change"> = </a>None

    def forward(self, x):
        B, C, H, W = x.shape</code></pre>