<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for i in range(block_per_stage):
            last_block = i == block_per_stage - 1
            blocks += [OsaBlock(
                in_chs<a id="change"> if </a>i == 0<a id="change"> else </a>out_chs, mid_chs, out_chs, layer_per_block, residual=residual and i &gt; 0,
                depthwise=depthwise, attn=attn if last_block else &quot&quot, norm_layer=norm_layer, act_layer=act_layer)
            ]
        self.blocks = nn.Sequential(*blocks)</code></pre><h3>After Change</h3><pre><code class='java'>
        blocks = []
        for i in range(block_per_stage):
            last_block = i == block_per_stage - 1
            <a id="change">if drop_path_rates is not None</a> and drop_path_rates[i] &gt; 0.<a id="change">:
                </a>drop_path<a id="change"> = </a>DropPath(drop_path_rates[i])
            else:
                drop_path<a id="change"> = </a>None
            blocks += [OsaBlock(
                in_chs, mid_chs, out_chs, layer_per_block, residual=residual and i &gt; 0, depthwise=depthwise,
                attn=attn if last_block else &quot&quot, norm_layer=norm_layer, act_layer=act_layer, drop_path=drop_path)</code></pre>