<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.num_dilations = len(dilations)

        net = []
        stacked_in_channels<a id="change"> = </a><a id="change">[]</a>

        for idx in range(self.num_dilations):
            if len(stacked_in_channels) == 0:
                stacked_in_channels.append(in_channels)</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, in_channels, out_channels, kernel_size, depth=None, eps=EPS):
        super().__init__()

        if <a id="change">type(out_channels) is int</a>:
            assert depth is not None, "Specify `depth`"
            out_channels = [
                out_channels for _ in range(depth)
            ]
        elif type(out_channels) is list:
            depth<a id="change"> = </a>len(out_channels)
        else:
            <a id="change">raise ValueError(</a>"Not support out_channels={}".format(out_channels)<a id="change">)</a>
        self.depth = depth

        net = []
        num_features = []</code></pre>