<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            else:
                self.ce_loss = nn.CrossEntropyLoss()  &#47&#47 .cuda()
        elif &quotarcface&quot in self.loss_type:
            <a id="change">pass</a>
        elif &quotcircle&quot in self.loss_type:
            self.fc_layer = Circle(num_classes, reduce_dim)
            if &quotlabelsmooth&quot in self.loss_type:
                self.ce_loss = CrossEntropyLabelSmooth(num_classes)</code></pre><h3>After Change</h3><pre><code class='java'>
                self.ce_loss = nn.CrossEntropyLoss()  &#47&#47 .cuda()
        elif &quotarcface&quot in self.loss_type:
            self.fc_layer = ArcMarginProduct(reduce_dim, num_classes)
            <a id="change">if &quotlabelsmooth&quot in self.loss_type</a><a id="change">:
                </a>self.ce_loss<a id="change"> = </a>CrossEntropyLabelSmooth(num_classes)
            else:
                self.ce_loss<a id="change"> = </a>nn.CrossEntropyLoss()  &#47&#47 .cuda()
        elif &quotcircle&quot in self.loss_type:
            self.fc_layer = Circle(num_classes, reduce_dim)
            if &quotlabelsmooth&quot in self.loss_type:</code></pre>