<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.ups = nn.ModuleList([])

        num_resolutions = len(in_out)
        conv_next<a id="change"> = </a><a id="change">partial(</a>ConvNextBlock<a id="change">, time_emb_dim = time_dim)</a>

        for ind, (dim_in, dim_out) in enumerate(in_out):
            is_last = ind &gt;= (num_resolutions - 1)
</code></pre><h3>After Change</h3><pre><code class='java'>
        )

        self.has_cond = exists(cond_dim)
        self.null_cond_emb = nn.Parameter(torch.randn(1, cond_dim))<a id="change"> if </a>self.has_cond<a id="change"> else </a>None

        cond_dim = time_dim + int(cond_dim)
</code></pre>