<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
			preds_ = torch.transpose(preds, 1, 2)
			&#47&#47print(preds.size())

			y = <a id="change">y.long()</a>
			loss = self.Loss(preds_, torch.squeeze(y))
			<a id="change">return </a>preds, loss
		return preds

</code></pre><h3>After Change</h3><pre><code class='java'>
		if y is not None:
			loss/=len(xs)
			return preds_, loss
		<a id="change">return </a>preds_

</code></pre>