<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        if lengths is None:
            mean = x.mean(dim=1)
            std<a id="change"> = </a><a id="change">x.std(dim=1)</a>
        else:
            mean = []
            std = []
            for snt_id in range(x.shape[0]):</code></pre><h3>After Change</h3><pre><code class='java'>
        mean += gnoise

        &#47&#47 Adding small noise to std
        std<a id="change"> = </a><a id="change">x.std(dim=1)</a> + self.eps

        &#47&#47 Append mean and std of the batch
        pooled_stats = torch.cat((mean, std), dim=1)</code></pre>