<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 dblocks
        self.dblocks = nn.ModuleList([
            <a id="change">Conv1d(1</a>, y_conv_channels, 5<a id="change">, padding=2)</a>,
        ])
        ic = y_conv_channels
        for oc, df in zip(dblock_out_channels, reversed(upsample_factors)):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.sigma = None

        &#47&#47 dblocks
        self.y_conv = <a id="change">Conv1d(1</a>, y_conv_channels, 5<a id="change">, padding=2)</a>
        self.dblocks = nn.ModuleList([])
        ic = y_conv_channels
        for oc, df in zip(dblock_out_channels, reversed(upsample_factors)):
            self.dblocks.append(DBlock(ic, oc, df))</code></pre>