<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        out1 = self.mpd1(x)
        out2<a id="change"> = </a>self.mpd2(x)
        out3<a id="change"> = </a>self.mpd3(x)
        out4 = self.mpd4(x)
        out5<a id="change"> = </a>self.mpd5(x)
        <a id="change">return </a>out1<a id="change">, out2, out3, out4, out5</a>
</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        scores, feats = self.msd(x)
        <a id="change">for </a>key, <a id="change">disc</a> in enumerate(self.discriminators)<a id="change">:
            </a>score<a id="change">, feat = </a>disc(x)
            <a id="change">scores.append(</a>score<a id="change">)</a>
            feats.append(feat)
        return scores, feats
</code></pre>