<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 proposed in https://arxiv.org/abs/2110.11316 (CLOOB)
        self.extra_latent_projection = extra_latent_projection

        self.to_text_latent_extra = <a id="change">nn.Linear(</a>dim_text, dim_latent<a id="change">, bias = False)</a>
        self.to_visual_latent_extra = nn.Linear(dim_image, dim_latent, bias = False)

    def forward(
        self,</code></pre><h3>After Change</h3><pre><code class='java'>
                RearrangeImage(),
                nn.Conv2d(dim_image, dim_image, 4, stride = 2, padding = 1, bias = False, groups = dim_image),
                nn.Conv2d(dim_image, dim_latent, 1),
                <a id="change">Rearrange(&quotb c h w -&gt; b (h w) c&quot</a><a id="change">)</a>
            )
        else:
            self.to_visual_latent = nn.Linear(dim_image, dim_latent, bias = False)
</code></pre>