<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            &quotE&quot: [64, 64, &quotM&quot, 128, 128, &quotM&quot, 256, 256, 256, 256, &quotM&quot, 512, 512, 512, 512, &quotM&quot, 512, 512, 512, 512],
        }

        self.filter[type] = <a id="change">[int(i * width_mult) if i != &quotM&quot else i for i in self.filter[type]][:-1]</a> + [512]

        &#47&#47 define VGG-19 feature extractor layers
        if self.input_shape &gt; 64:</code></pre><h3>After Change</h3><pre><code class='java'>
                if &quothuman&quot in self.mode:
                    layers += [nn.MaxPool2d(2, 2)]
                elif self.mode == &quotautosc&quot:
                    layers<a id="change"> += </a><a id="change">[</a>nn.MaxPool2d(2, 2, ceil_mode=True)<a id="change"></a>]
            else:
                &#47&#47 Standard mode is built on the human-designed network *without* the original resizing layers
                layers += [nn.Conv2d(channel_in, ch, kernel_size=3, padding=1),</code></pre>