<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        if use_se:
            use_ses = [False] * (layers[0] + layers[1]) + \
                [True] * sum(<a id="change">layers[2:]</a>)
        else:
            use_ses = [False] * sum(layers[:])
</code></pre><h3>After Change</h3><pre><code class='java'>

        layers = [1, 2, 2, 3, 3, 5]
        strides = [1, 2, 2, 2, 1, 2]
        use_ses<a id="change"> = </a><a id="change">[</a>False, False, True, True, True, True<a id="change"></a>]

        layers = [ceil(element * depth_mult) for element in layers]
        strides = sum([[element] + [1] * (layers[idx] - 1)</code></pre>