<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.gmp = nn.AdaptiveMaxPool2d(1)
            input_dim = 4096
        else:
            <a id="change">print(</a>&quotuse use_gem_pool&quot<a id="change">)</a>
            self.gemp = GeneralizedMeanPoolingP()
            input_dim = 2048

        self.embedding_layer = nn.Conv2d(input_dim, reduce_dim, kernel_size=1, stride=1, bias=False)</code></pre><h3>After Change</h3><pre><code class='java'>
            self.gap = nn.AdaptiveAvgPool2d(1)
            self.gmp = nn.AdaptiveMaxPool2d(1)
            input_dim = 4096
        elif <a id="change">self.pool_type == &quotgemm&quot</a><a id="change">:
            </a><a id="change">print(</a>&quotuse use_gem_pool&quot<a id="change">)</a>
            self.gemp = GeneralizedMeanPoolingP()
            input_dim = 2048
        elif self.pool_type == &quotnorm&quot:
            input_dim = 2048</code></pre>