<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        layers = []
        in_chan = channels[0]
        for out_chan in <a id="change">channels[1:]</a>:
            layers += self.make_block(in_chan, out_chan, **kwargs)
            in_chan = out_chan
</code></pre><h3>After Change</h3><pre><code class='java'>

        layers = []
        in_chan = channels[0]
        for i, out_chan in enumerate(<a id="change">channels[1:]</a>):
            is_last = i == len(channels[1:]) - 1
            layers += self.make_block(
                in_chan, out_chan, Norm, is_bias, is_last, **kwargs</code></pre>