<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        x = input
        stacked = []
        output = <a id="change">[]</a>

        stacked.append(input)

        for idx in range(self.depth):</code></pre><h3>After Change</h3><pre><code class='java'>
            x_residual = x_residual + x
            
            in_channels = growth_rate[idx]
            stacked_channels = sum(<a id="change">growth_rate[idx+1:]</a>)
            sections = [in_channels, stacked_channels]

            if idx != depth - 1:</code></pre>