<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        attn = softmax(dots, dim=-1)

        self.save_attn(<a id="change">{</a>"attn": attn, "v": v<a id="change">}</a>)

        out = torch.einsum("b h i j, b h j d -&gt; b h i d", attn, v)
        out = rearrange(out, "b h n d -&gt; b n (h d)")</code></pre><h3>After Change</h3><pre><code class='java'>

        if exists(self.static_mask):
            dots.masked_fill_(
                ~<a id="change">self.static_mask[offset : offset + n, : offset + n]</a>, mask_value
            )

        attn = softmax(dots, dim=-1)</code></pre>