<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.dropout = nn.Dropout(p=dropout)

    def forward(self, x, x_mark):
        x = <a id="change">self.value_embedding(</a>x<a id="change">)</a><a id="change"> + </a><a id="change">self.temporal_embedding(</a>x_mark<a id="change">)</a>
        return self.dropout(x)
        
&#47&#47 helper functions
def exists(val):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.dropout = nn.Dropout(p=dropout)

    def forward(self, x, x_mark=None):
        x = <a id="change">self.value_embedding(</a>x<a id="change">)</a>
        <a id="change">if </a><a id="change">x_mark is not None:
            </a>x<a id="change"> = </a>x<a id="change"> + </a><a id="change">self.temporal_embedding(</a>x_mark<a id="change">)</a>
        return self.dropout(x)
        
&#47&#47 helper functions
def exists(val):</code></pre>