<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            in_ch = widths[i]
            out_ch = widths[i + 1]
            fstride = fstrides[i]
            reduce_ = "channels"<a id="change"> if </a>i == 0<a id="change"> else </a>"frequencies"
            freqs = freqs // fstride
            self.enc.append(
                EncLayer(</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47 )
        self.inner_ch = out_ch
        self.gru = nn.GRU(freqs * out_ch, gru_dim, num_layers=3)
        self.gru_fc<a id="change"> = </a><a id="change">nn.Linear(</a>gru_dim, freqs * out_ch<a id="change">)</a>
        self.gru_skip = nn.Conv2d(out_ch, out_ch, 1)

        self.dec = nn.ModuleList()
        for i in range(self.depth - 1, -1, -1):</code></pre>