<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()

        inner_dim = int(dim * ff_mult)
        <a id="change">if </a>ffn_type == "GEGLU"<a id="change">:
            </a>self.net<a id="change"> = </a>nn.Sequential(
                GEGLU(dim, inner_dim),
                nn.Dropout(dropout),
                nn.Linear(inner_dim, dim)
            )
        elif ffn_type == "standard":
            self.net = nn.Sequential(
                nn.Linear(dim, inner_dim),
                nn.GELU(),
                nn.Dropout(dropout),
                nn.Linear(inner_dim, dim)
            )
        elif ffn_type == "bilinear":
            self.net<a id="change"> = </a>nn.Sequential(
                Bilinear(dim, inner_dim),
                nn.Dropout(dropout),
                nn.Linear(inner_dim, dim)</code></pre><h3>After Change</h3><pre><code class='java'>
        upper_tri_rows = rearrange(upper_tri_rows, &quoti j -&gt; () i j&quot)
        slopes = self._get_slopes(heads=int(heads / 2))

        all_rows<a id="change"> = []</a>
        for h_ in range(int(heads / 2)):
            <a id="change">all_rows.append(</a>lower_tri_rows * slopes[h_]<a id="change">)</a>
            all_rows.append(upper_tri_rows * slopes[h_])

        &#47&#47 The resultant bias applies the Alibi position bias looking forward to half of the heads, and backwards to the
        &#47&#47 other half. Since for each head, only 1 direction contains positional information, you should probably use
        &#47&#47 RoPE along with Alibi, to give the opposite direction some positional information.

        self.bias<a id="change"> = </a>torch.cat(all_rows, dim=0).cuda()  &#47&#47 shape (heads, max_length, max_length)

    @staticmethod
    def _get_slopes(heads):</code></pre>