<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()

    def forward(self, x):
        return x<a id="change"> * </a>torch.tanh(<a id="change">F.softplus(</a>x<a id="change">)</a>)


class YOLOLayer(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()

    def forward(self, x):
        return x.mul_(<a id="change">F.softplus(</a>x<a id="change">)</a>.tanh())


class YOLOLayer(nn.Module):</code></pre>