<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

class ColorJitter(nn.Module):
    def __init__(self, brightness=0, contrast=0, saturation=0, hue=0):
        <a id="change">pass</a>

    def forward(self, x):
        &#47&#47 TODO
        pass</code></pre><h3>After Change</h3><pre><code class='java'>

class ColorJitter(nn.Module):
    def __init__(self, brightness=0, contrast=0, saturation=0, hue=0):
        <a id="change">super(ColorJitter, self).__init__()</a>
        pass

    def forward(self, x):
        &#47&#47 TODO</code></pre>