<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        on padded values. Returns ``sent_scores``.
        
        x = self.linear(x).squeeze(-1)
        x<a id="change"> = </a><a id="change">self.sigmoid(</a>x<a id="change">)</a>
        sent_scores = x * mask.float()
        return sent_scores

</code></pre><h3>After Change</h3><pre><code class='java'>
        x = self.linear(x).squeeze(-1)
        &#47&#47 x = self.sigmoid(x)
        sent_scores = x * mask.float()
        <a id="change">sent_scores[sent_scores==0]</a> = -9e9
        return sent_scores

</code></pre>