<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()
        blocks = nn.ModuleList([])

        for self_attn_block, cross_attn_block in <a id="change">zip(</a>*<a id="change">[iter(input_blocks)] * 2)</a>:
            blocks.append(ReversibleSelfAttnBlock(*self_attn_block))
            blocks.append(ReversibleCrossAttnBlock(*cross_attn_block))
</code></pre><h3>After Change</h3><pre><code class='java'>
        for block, block_type in zip(input_blocks, block_types):
            if block_type == &quotself&quot:
                reversible_klass = ReversibleSelfAttnBlock
            elif <a id="change">block_type == &quotcross&quot</a><a id="change">:
                </a>reversible_klass = ReversibleCrossAttnBlock
            elif block_type == &quotconv&quot:
                reversible_klass = ReversibleSelfAttnBlock
</code></pre>