<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        mask = rearrange(torch.eye(n).bool(), &quoti j -&gt; () () i j&quot)
        coor_weights.masked_fill_(mask, mask_value)
        coors_attn<a id="change"> = </a><a id="change">coor_weights.softmax(dim = -1)</a>

        coors_out<a id="change"> = </a><a id="change">einsum(&quotb h i j, b i j c -&gt; b i c&quot</a>, coors_attn, rel_coors<a id="change">)</a> + coors

        &#47&#47 derive attention
</code></pre><h3>After Change</h3><pre><code class='java'>
        m_ij = self.edge_mlp(edge_input)

        coor_weights = self.coors_mlp(m_ij)
        coors_out = <a id="change">einsum(&quotb h i j, b i j c -&gt; b i c&quot</a>, coor_weights, rel_coors<a id="change">)</a> + coors

        &#47&#47 derive attention
</code></pre>