<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self._window = window
        
    def raw_detect_features(self, token):
        bow = <a id="change">[tok[&quotTEXT&quot] for tok in
               token[&quotCONTEXT&quot].getrange(-self._window, 0)+
               token[&quotCONTEXT&quot].getrange(1, 1+self._window)]</a>
        return {&quotSOW&quot: bow}
    
    def features(self):
        return [&quotSOW&quot]</code></pre><h3>After Change</h3><pre><code class='java'>
        self._window = window
        
    def raw_detect_features(self, token):
        sow = Set(<a id="change">[tok[&quotTEXT&quot] for tok in
                   token[&quotCONTEXT&quot].getrange(-self._window, 0)+
                   token[&quotCONTEXT&quot].getrange(1, 1+self._window)]</a>)
        return {&quotSOW&quot: sow}
    
    def features(self):</code></pre>