<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        themroles = list()
        for trole in vnclass.findall(&quotTHEMROLES/THEMROLE&quot):
            modifiers = <a id="change">[{&quotvalue&quot: restr.get(&quotValue&quot), &quottype&quot: restr.get(&quottype&quot)}
                         for restr in trole.findall(&quotSELRESTRS/SELRESTR&quot)]</a>
            themroles.append({
                &quottype&quot: trole.get(&quottype&quot),
                &quotmodifiers&quot: modifiers
            })</code></pre><h3>After Change</h3><pre><code class='java'>
        for trole in vnclass.findall(&quotTHEMROLES/THEMROLE&quot):
            themroles.append({
                &quottype&quot: trole.get(&quottype&quot),
                &quotmodifiers&quot: <a id="change">[{&quotvalue&quot: restr.get(&quotValue&quot), &quottype&quot: restr.get(&quottype&quot)}
                              for restr in trole.findall(&quotSELRESTRS/SELRESTR&quot)]</a>
            })
        return themroles

    &#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47&#47</code></pre>