<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        assumptions = [a for a in self._command.assumptions()]
        goal = self._command.goal()
        domain = get_domain(goal, assumptions)
        return list(<a id="change">[self.replace_quants(ex, domain) for ex in assumptions]</a>)

    def goal(self):
        goal = self._command.goal()</code></pre><h3>After Change</h3><pre><code class='java'>
        assumptions = [a for a in self._command.assumptions()]
        goal = self._command.goal()
        domain = get_domain(goal, assumptions)
        return <a id="change">[self.replace_quants(ex, domain) for ex in assumptions]</a>

    def goal(self):
        goal = self._command.goal()
        domain = get_domain(goal, self._command.assumptions())</code></pre>