<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def test_train_on_unigrams(self):
        words = list("abcd")
        unigram_sent = <a id="change">[(w,) for w in words]</a>
        self.counter.update([unigram_sent])

        self.assertFalse(bool(self.counter[3]))
        self.assertFalse(bool(self.counter[2]))</code></pre><h3>After Change</h3><pre><code class='java'>

    def test_train_on_unigrams(self):
        words = list("abcd")
        counter = NgramCounter([<a id="change">[(w,) for w in words]</a>])

        self.assertFalse(bool(counter[3]))
        self.assertFalse(bool(counter[2]))</code></pre>