<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		embed = embed_enc_inputs.size(2)
		already_played_action_mask = torch.zeros(batch, city_t).to(device)
		enc_h, (dec_h0, dec_c0) = self.Encoder(embed_enc_inputs, None)
		dec_state = (dec_h0<a id="change">, dec_c0</a>)
		pred_tour_list, neg_log = [], 0
		dec_i1 = torch.rand(batch, 1, embed).to(device)
		for i in range(city_t):</code></pre><h3>After Change</h3><pre><code class='java'>
			logits, dec_input = self.pointer(query, ref, mask)	
			log_p = torch.log_softmax(logits, dim = -1)
			&#47&#47 next_node = torch.argmax(log_p, dim = 1).type(torch.long)
			next_node<a id="change"> = </a><a id="change">torch.multinomial(log_p.exp(), 1).type(</a>torch.long<a id="change">)</a>.squeeze(1)
			
			pi_list.append(next_node)
			log_ps.append(log_p)</code></pre>