<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.linear = nn.Linear(3, 1)

    def forward(self, input_list: dict[str, torch.Tensor]) -&gt; dict[str, IntWithGetitem]:
        x = input_list["foo"] if input_list else <a id="change">torch.ones(</a>3<a id="change">)</a>
        x = self.linear(x)
        return {"foo": IntWithGetitem(x)}

</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, input_list: dict[str, torch.Tensor]) -&gt; dict[str, IntWithGetitem]:
        device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
        x = input_list["foo"] if input_list else <a id="change">torch.ones(3).to(</a>device<a id="change">)</a>
        x = self.linear(x)
        return {"foo": IntWithGetitem(x)}

</code></pre>