<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        B, L, C = x.shape
        if L != H * W:
            raise ValueError(f&quotPatchMerging module. Input features L={L} doesn`t match with image size H*W={H*W}.&quot)
        <a id="change">if H % 2 != 0</a><a id="change">:
            </a>raise ValueError(f&quotPatchMerging module. Input height {H} is not even number&quot)
        <a id="change">if W % 2 != 0</a><a id="change">:
            raise </a><a id="change">ValueError(f&quotPatchMerging module. Input weight {W} is not even number&quot</a><a id="change">)</a>

        x = x.view(B, H, W, C)

        x0 = x[:, 0::2, 0::2, :]  &#47&#47 B H/2 W/2 C</code></pre><h3>After Change</h3><pre><code class='java'>
        
        H, W = self.input_resolution
        B, L, C = x.shape
        <a id="change">assert </a>L == H * W, "input feature has wrong size"
        assert H % 2 == 0 and W % 2 == 0, f"x size ({H}*{W}) are not even."

        x = x.view(B, H, W, C)</code></pre>