<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.failIf(s1 == s2)
        s2 = s2.union(Set((1,7)))
        self.failUnless(s1 == s2)
        self.failUnless(<a id="change">Set() == Set()</a>)

    def testElements(self):
        "nltk.set.Set: elements accessor tests"</code></pre><h3>After Change</h3><pre><code class='java'>
        self.failIfEqual(s1, s2)
        s2 = s2.union(Set((1,7)))
        self.failUnlessEqual(s1, s2)
        self.failUnlessEqual(Set(), <a id="change">Set()</a>)

    def testElements(self):
        "nltk.set.Set: elements accessor tests"</code></pre>