<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.failUnlessEqual(s2.insert(&quotabcd&quot), 0)
        self.failUnlessEqual(s2.insert(&quotabc&quot), 0)
        self.failUnlessEqual(s2.insert((1,2)), 0)
        self.failUnless(<a id="change">s2 == Set(&quota&quot, &quotz&quot, &quotabcd&quot, (1,2), 3,
                                  1, &quotb&quot, &quota&quot, &quotabc&quot)</a>)

    def testUnion(self):
        "nltk.set.Set: union tests"</code></pre><h3>After Change</h3><pre><code class='java'>
        self.failUnlessEqual(s2.insert(&quotabcd&quot), 0)
        self.failUnlessEqual(s2.insert(&quotabc&quot), 0)
        self.failUnlessEqual(s2.insert((1,2)), 0)
        self.failUnlessEqual(s2, <a id="change">Set(</a>&quota&quot, &quotz&quot, &quotabcd&quot, (1,2), 3,
                                     1, &quotb&quot, &quota&quot, &quotabc&quot<a id="change">)</a>)

    def testCopy(self):
        "nltk.set.Set: copy tests"</code></pre>