<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.lw = width  &#47&#47 Layer width
        self.fe = num_freqs  &#47&#47 Number of frequency bins in embedding
        self.hd = hidden_dim
        <a id="change">if self.fe % (patch_size // 2) != 0</a><a id="change">:
            </a><a id="change">raise ValueError(</a>"`num_freqs` must be dividable by overall stride"<a id="change">)</a>

        norm_layer = partial(LayerNorm2d, eps=1e-6)
        cl_norm_layer = norm_layer if conv_mlp else partial(nn.LayerNorm, eps=1e-6)
        self.conv_in = nn.Sequential(</code></pre><h3>After Change</h3><pre><code class='java'>
        self.fe = num_freqs  &#47&#47 Number of frequency bins in embedding
        self.hd = hidden_dim
        ic(self.fe, patch_size)
        <a id="change">if </a>self.fe % (patch_size * 2) != 0<a id="change">:
            </a><a id="change">raise </a><a id="change">ValueError(
                f"num_freqs ({num_freqs}) must be dividable by overall stride. "
                f"Match the number of frequencies to be a multiple of {patch_size*2} "
                "or reduce the number of stages."</a><a id="change">
            )</a>

        norm_layer = partial(LayerNorm2d, eps=1e-6)
        cl_norm_layer = norm_layer if conv_mlp else partial(nn.LayerNorm, eps=1e-6)
        self.conv_in = nn.Sequential(</code></pre>