<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.cc_encoder = copy.deepcopy(self.encoder)
            cc_input_dim = input_dim * custom_config["num_agents"]
        else:
            state_dim = <a id="change">len(</a>full_obs_space["state"].shape<a id="change">)</a>
            if state_dim &gt; 1:  &#47&#47 TODO not right
                raise NotImplementedError()
            else:
                cc_layers = []</code></pre><h3>After Change</h3><pre><code class='java'>
        self._features = None

        &#47&#47 Central VF
        <a id="change">if </a><a id="change">isinstance(</a>custom_config["space_act"], Box<a id="change">):  &#47&#47 continues
            </a>input_size<a id="change"> = </a>cc_input_dim + 2 * (custom_config["num_agents"] - 1)
        else:
            input_size = cc_input_dim + num_outputs * (custom_config["num_agents"] - 1)
        self.central_vf = nn.Sequential(</code></pre>