<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.group = self.lbmgr.get_group(self.rank)
        self.block_dim = self.lbmgr.get_block_dim(self.rank)

        <a id="change">if </a>comm_func is not None<a id="change">:
            </a>self.comm_func<a id="change"> = </a>comm_func
        else:
            self.comm_func = reduce_forward
</code></pre><h3>After Change</h3><pre><code class='java'>
                assert weights[1].size() == (self.embedding_dim, self.block_dim), \
                    &quotpassed linear layer dimensions are wrong: {x1} vs {x2} \
                    &quot.format(x1=weights[1].size(), x2=(self.embedding_dim, self.block_dim))
            <a id="change">if </a>base_embedding_dim != self.embedding_dim<a id="change">:
                </a><a id="change">DISTLogger.warning(&quotBase embedding dimension provided by blk_embed is different from \
                    default or manually passed. Will overwrite by blk_embed.base_embedding_dim&quot</a><a id="change">)</a>
                self.embedding_dim<a id="change"> = </a>base_embedding_dim
            self.embed = BlockEmbeddingBag.from_pretrained(
                                                weights=weights,
                                                base_embedding_dim=base_embedding_dim,</code></pre>