<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self._cached_h = None
        self._k = k

        <a id="change">if </a>weight<a id="change">:
            </a>self.weight<a id="change"> = </a>nn.Parameter(th.Tensor(in_feats, out_feats))
        else:
            self.register_parameter(&quotweight&quot, None)
</code></pre><h3>After Change</h3><pre><code class='java'>
                 bias=True):
        
        super().__init__()
        <a id="change">if norm not in (&quotnone&quot, &quotboth&quot, &quotright&quot, &quotleft&quot)</a><a id="change">:
            </a><a id="change">raise </a>DGLError(<a id="change">&quotInvalid norm value. Must be either "none", "both", "right" or "left".&quot
                           &quot But got "{}".&quot.format(</a>norm<a id="change">)</a>)     
        self._in_feats = in_feats
        self._out_feats<a id="change"> = </a>out_feats            
        self._cached = cached
        self._cached_h = None
        self._k = k
        self._norm = norm
        self._add_self_loop<a id="change"> = </a>add_self_loop

        self.linear = Linear(in_feats, out_feats, weight=weight, bias=bias)
</code></pre>