<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class Block(nn.Module):
    def __init__(self, dim, dim_out, groups = 8):
        super().__init__()
        self.block = <a id="change">nn.Sequential(
            </a>nn.Conv2d(dim, dim_out, 3, padding = 1),
            nn.GroupNorm(groups, dim_out),
            <a id="change">nn.SiLU()
        )</a>
    def forward(self, x):
        return self.block(x)

class ResnetBlock(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()
        self.proj = nn.Conv2d(dim, dim_out, 3, padding = 1)
        self.norm = nn.GroupNorm(groups, dim_out)
        self.act<a id="change"> = </a><a id="change">nn.SiLU()</a>

    def forward(self, x, scale_shift = None):
        x = self.proj(x)
        x = self.norm(x)</code></pre>