<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                       nn.InstanceNorm2d(dim),
                       nn.ReLU(True)]

        conv_block += [<a id="change">nn.ReflectionPad2d(1</a><a id="change">)</a>,
                       nn.Conv2d(dim, dim, kernel_size=3, stride=1, padding=0, bias=use_bias),
                       nn.InstanceNorm2d(dim)]
</code></pre><h3>After Change</h3><pre><code class='java'>
                      nn.Conv2d(in_features, in_features, 3),
                      nn.BatchNorm2d(in_features),
                      nn.ReLU(),
                      <a id="change">nn.ReflectionPad2d(1</a><a id="change">)</a>,
                      nn.Conv2d(in_features, in_features, 3),
                      nn.BatchNorm2d(in_features)]
</code></pre>