<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(Bottleneck, self).__init__()
        self.conv1 = nn.Conv2d(in_planes, int(planes * sketch_rate), kernel_size=1, bias=False)
        self.bn1 = nn.BatchNorm2d(int(planes * sketch_rate))
        self.conv2 = <a id="change">nn.Conv2d(</a><a id="change">int(</a>planes<a id="change"> * </a>sketch_rate<a id="change">)</a>, int(planes * sketch_rate)<a id="change">, kernel_size=3, stride=stride, padding=1, bias=False)</a>
        self.bn2 = nn.BatchNorm2d(int(planes * sketch_rate))
        self.conv3 = nn.Conv2d(<a id="change">int(</a>planes<a id="change"> * </a>sketch_rate<a id="change">)</a>, self.expansion*planes, kernel_size=1, bias=False)
        self.bn3 = nn.BatchNorm2d(self.expansion*planes)

        self.downsample = nn.Sequential()</code></pre><h3>After Change</h3><pre><code class='java'>
        self.bn2 = norm_layer(conv2_planes)
        self.conv3 = conv1x1(conv2_planes, planes * self.expansion)
        self.bn3 = norm_layer(planes * self.expansion)
        self.relu = <a id="change">nn.ReLU(inplace=True)</a>
        self.downsample = downsample
        self.stride = stride

    def forward(self, x):</code></pre>