<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        out = self.backbone(x)
        if <a id="change">out.size(-1</a><a id="change">)</a> != 1:
            out = F.relu(out, inplace=True).mean([2, 3])
        else:
            out = out.squeeze()</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, *x):
        x = list(x)
        input_shape = x[0].shape[<a id="change">-2:</a>]
        out = self.bacbone(x[0])
        x[0] = out
        out = self.classifer(*x)</code></pre>