<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class Attention_block(nn.Module):
    def __init__(self,F_g,F_l,F_int):
        super(Attention_block,self).__init__()
        self.W_g = <a id="change">nn.Sequential(
            nn.Conv2d(</a>F_g, F_int<a id="change">, kernel_size=1,stride=1,padding=0,bias=True)</a>,
            <a id="change">nn.BatchNorm2d(</a>F_int<a id="change">)
            )</a>
        
        self.W_x = nn.Sequential(
            nn.Conv2d(F_l, F_int, kernel_size=1,stride=1,padding=0,bias=True),
            nn.BatchNorm2d(F_int)</code></pre><h3>After Change</h3><pre><code class='java'>
            self.down_sample_conv = nn.Conv2d(in_channels, out_channels, 3, 2, 1)
        else:
            self.down_sample_conv = nn.Conv2d(in_channels, out_channels, 3, 1, 1)
        self.resblocks = nn.ModuleList([ResNetBlock(out_channels, num_groups, skip_connection_scale, swish, skip_path=skip_path) for i in <a id="change">range(</a>numResNetBlocks<a id="change">)</a>])

    def forward(self, x):
        if not self.use_conv:</code></pre>