<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        memory_input = initial_memory
        while True:
            if t &gt; 0:
                memory_input = outputs[-1]<a id="change"> if </a>greedy<a id="change"> else </a>memory[t - 1]
            &#47&#47 Prenet
            processed_memory = self.prenet(memory_input)
</code></pre><h3>After Change</h3><pre><code class='java'>
            if t &gt; 0:
                &#47&#47 using harmonized teacher-forcing.
                &#47&#47 from https://arxiv.org/abs/1707.06588
                <a id="change">if </a>greedy<a id="change">:
                    </a>memory_input<a id="change"> = </a><a id="change">outputs[-1]</a>
                else:
                    &#47&#47 combine prev. model output and prev. real target
                    memory_input = torch.div(outputs[-1] + memory[t-1], 2.0)
                    &#47&#47 add a random noise</code></pre>