<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        pass
        
    def forward(self, x):
        <a id="change">pass</a>
        </code></pre><h3>After Change</h3><pre><code class='java'>
            return self.model(input)
        result = []
        down = input
        <a id="change">for i</a> in <a id="change">range(</a>self.num_D<a id="change">):
            </a>model<a id="change"> = </a>getattr(self, "model_%d" % i)
            result.append(model(down))
            if i != self.num_D - 1:
                down = self.down(down)</code></pre>