<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            for n in stage_with_gcb_list:
                stage_with_gcb[n] = True
        if num_layers in [50, 101, &quot101_32x8d&quot]:
            if <a id="change">num_layers == 50</a>:
                resnet_fn = resnet50
            elif <a id="change">num_layers == 101</a><a id="change">:
                </a>resnet_fn = resnet101
            elif num_layers == &quot101_32x8d&quot:
                resnet_fn = resnext101_32x8d
            self.resnet = resnet_fn(pretrained=True,</code></pre><h3>After Change</h3><pre><code class='java'>
                self.ce_loss = CrossEntropyLabelSmooth(num_classes)
            else:
                self.ce_loss = nn.CrossEntropyLoss()  &#47&#47 .cuda()
        elif <a id="change">&quotarcface&quot in self.loss_type</a><a id="change">:
            </a><a id="change">pass</a>
        elif &quotcircle&quot in self.loss_type:
            self.fc_layer = Circle(num_classes, reduce_dim)

        if &quottriplet&quot in self.loss_type:</code></pre>