<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        tagged_tokens = []
        for token in tokens:
            tagged = self._hunpos.stdout.readline().strip().split("\t")
            <a id="change">if len(tagged) &gt; 1</a><a id="change">:
                </a>tag<a id="change"> = </a>tagged[1]
            else:
                tag = None
            tagged_tokens.append((token, tag))</code></pre><h3>After Change</h3><pre><code class='java'>
        tagged_tokens = []
        for token in tokens:
            tagged = self._hunpos.stdout.readline().strip().split("\t")
            tag = (tagged[1]<a id="change"> if len(tagged) &gt; 1</a><a id="change"> else </a>None)
            tagged_tokens.append((token, tag))
        &#47&#47 We have to read (and dismiss) the final empty line:
        self._hunpos.stdout.readline()</code></pre>