<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                depth = [
                    None for _ in range(num_blocks)
                ]
        elif <a id="change">type(</a>out_channels<a id="change">)</a> is list:
            if depth is None or type(depth) is int:
                depth = [
                    None for _ in range(num_blocks)</code></pre><h3>After Change</h3><pre><code class='java'>

        for idx in range(num_blocks):
            net.append(D2Block(in_channels, growth_rate[idx], kernel_size, depth=depth[idx], eps=eps))
            in_channels += growth_rate[idx]<a id="change"> * </a><a id="change">depth[idx]</a>
        
        self.net = nn.Sequential(*net)

        self.eps = eps</code></pre>