<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        memo[edge] = []

        &#47&#47 Leaf edges.
        <a id="change">if </a>isinstance(edge, LeafEdge)<a id="change">:
            </a>leaf = self._tokens[edge.start()]
            memo[edge] = leaf
            return [leaf]

        &#47&#47 Each child pointer list can be used to form trees.
        <a id="change">for cpl</a> in self.child_pointer_lists(edge)<a id="change">:
            &#47&#47 Get the set of child choices for each child pointer.
            &#47&#47 child_choices[i] is the set of choices for the tree&quots
            &#47&#47 ith child.
            </a>child_choices<a id="change"> = </a>[self._trees(cp, complete, memo, tree_class)
                             for cp in cpl]

            &#47&#47 For each combination of children, add a tree.
            for children in self._choose_children(child_choices):
                lhs = edge.lhs().symbol()
                trees.append(tree_class(lhs, children))

        &#47&#47 If the edge is incomplete, then extend it with "partial trees":
        if edge.is_incomplete():
            unexpanded = [tree_class(elt,[])
                          for elt in edge.rhs()[edge.dot():]]
            for tree in trees:
                tree.extend(unexpanded)

        &#47&#47 Update the memoization dictionary.
        memo[edge] = trees

        &#47&#47 Return the list of trees.
        <a id="change">return </a>trees

    def _choose_children(self, child_choices):
        </code></pre><h3>After Change</h3><pre><code class='java'>
            return []

        &#47&#47 Leaf edges.
        <a id="change">if </a>isinstance(edge, LeafEdge)<a id="change">:
            </a>leaf = self._tokens[edge.start()]
            memo[edge] = <a id="change">[</a>leaf<a id="change"></a>]
            return [leaf]

        &#47&#47 Until we&quotre done computing the trees for edge, set</code></pre>