<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		for block in self.decoder:
			x = block(x, class_with_style_code)

		<a id="change">return </a><a id="change">{
			</a>&quotimg&quot: self.to_rgb(x),
			&quotcontent_code&quot: content_code,
			&quotstyle_code&quot: style_code<a id="change">
		}</a>


class Discriminator(nn.Module):
</code></pre><h3>After Change</h3><pre><code class='java'>
		class_with_style_code = self.class_style_modulation(class_with_style_code)

		adain_params = self.modulation(class_with_style_code)
		generated_img = <a id="change">self.decoder(</a>regularized_content_code, adain_params<a id="change">)</a>

		return {
			&quotimg&quot: generated_img,
			&quotcontent_code&quot: content_code,</code></pre>