<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.block_aggs = nn.ModuleList([])
        drop_path_rates = [x.item() for x in torch.linspace(0, drop_path_rate, sum(depths))]
        for lix in range(self.num_levels):
            dpr = drop_path_rates[sum(depths[:lix]):<a id="change">sum(</a>depths[:lix+1]<a id="change">)</a>]
            self.levels.append(NestLevel(
                self.num_blocks[lix], self.block_size, self.seq_length, num_heads[lix], depths[lix],
                embed_dims[lix], mlp_ratio, qkv_bias, drop_rate, attn_drop_rate, dpr, norm_layer,</code></pre><h3>After Change</h3><pre><code class='java'>
        depths = to_ntuple(num_levels)(depths)
        self.num_classes = num_classes
        self.num_features = embed_dims[-1]
        self.feature_info<a id="change"> = </a><a id="change">[]</a>
        norm_layer = norm_layer or partial(nn.LayerNorm, eps=1e-6)
        act_layer = act_layer or nn.GELU
        self.drop_rate = drop_rate
        self.num_levels = num_levels</code></pre>