<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
			self.rnn = [nn.LSTMCell(args[&quotvalue_size_input&quot], args[&quothidden_size&quot]).to(self.device) for _ in range(args[&quotnum_units&quot])]
			self.query = [nn.Linear(args[&quothidden_size&quot], args[&quotkey_size_input&quot] * args[&quotnum_input_heads&quot]).to(device) for _ in range(args[&quotnum_units&quot])]
		self.query_ = [nn.Linear(args[&quothidden_size&quot], args[&quotquery_size_comm&quot] * args[&quotnum_comm_heads&quot]).to(self.device) for _ in range(args[&quotnum_units&quot])]
		self.key_ = [<a id="change">nn.Linear(args[&quothidden_size&quot], args[&quotkey_size_comm&quot] * args[&quotnum_comm_heads&quot]).to(self.device</a><a id="change">)</a> for _ in range(args[&quotnum_units&quot])]
		self.value_ = [<a id="change">nn.Linear(args[&quothidden_size&quot], args[&quotvalue_size_comm&quot] * args[&quotnum_comm_heads&quot]).to(self.device</a><a id="change">)</a> for _ in range(args[&quotnum_units&quot])]


	def transpose_for_scores(self, x, num_attention_heads, attention_head_size):</code></pre><h3>After Change</h3><pre><code class='java'>
		self.key_size = args[&quotkey_size_input&quot]
		self.args = args
		self.k = args[&quotk&quot]
		self.key = <a id="change">nn.Linear(args[&quotinput_size&quot], args[&quotnum_input_heads&quot] * args[&quotquery_size_input&quot]).to(self.device</a><a id="change">)</a>
		self.value = <a id="change">nn.Linear(args[&quotinput_size&quot], args[&quotnum_input_heads&quot] * args[&quotvalue_size_input&quot]).to(self.device</a><a id="change">)</a>

		if self.rnn_cell == &quotGRU&quot:
			self.rnn = nn.ModuleList([nn.GRUCell(args[&quotvalue_size_input&quot], args[&quothidden_size&quot]) for _ in range(args[&quotnum_units&quot])])
			self.query = nn.ModuleList([nn.Linear(args[&quothidden_size&quot], args[&quotkey_size_input&quot] * args[&quotnum_input_heads&quot]) for _ in range(args[&quotnum_units&quot])])</code></pre>