<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        out = self.to_logits(x)

        next_mem, next_lmem = map(torch.stack, (next_mem, next_lmem))
        next_mem<a id="change">, next_lmem = </a><a id="change">map(</a>torch.detach, (next_mem, next_lmem)<a id="change">)</a>

        return out, Memory(short = next_mem, long = next_lmem)
</code></pre><h3>After Change</h3><pre><code class='java'>
        pos_emb = self.pos_emb[:, (self.seq_len - t):total_len]
        mem_iter, lmem_iter = map(iterate_tensor, (mem, lmem))

        hiddens = <a id="change">[]</a>

        for ind, (attn, ff) in enumerate(zip(self.attn_layers, self.ff_layers)):
            layer_num = ind + 1
            use_memory = layer_num in self.memory_layers</code></pre>