<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        alphas_cumprod = diffusion.alphas_cumprod
        alphas_cumprod_prev = F.pad(alphas_cumprod[:-1], pad=(1, 0), value=1.0)

        self.register("sqrt_recip_alphas_cumprod", <a id="change">torch.sqrt(</a>1.0<a id="change"> / </a>alphas_cumprod<a id="change">)</a>)
        self.register(
            "sqrt_recipm1_alphas_cumprod", torch.sqrt(1.0 / alphas_cumprod - 1)
        )</code></pre><h3>After Change</h3><pre><code class='java'>
        alphas_cumprod = diffusion.alphas_cumprod
        alphas_cumprod_prev = F.pad(alphas_cumprod[:-1], pad=(1, 0), value=1.0)

        sqrt_recip_alphas_cumprod<a id="change"> = </a><a id="change">torch.sqrt(</a>1.0<a id="change"> / </a>alphas_cumprod<a id="change">)</a>
        self.register("sqrt_recip_alphas_cumprod", sqrt_recip_alphas_cumprod)
        sqrt_recipm1_alphas_cumprod = torch.sqrt(1.0 / alphas_cumprod - 1)
        self.register("sqrt_recipm1_alphas_cumprod", sqrt_recipm1_alphas_cumprod)
        &#47&#47 calculations for posterior q(x_{t-1} | x_t, x_0)</code></pre>