<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, data):

        sparse_emb_list = self.embedding_layer(data)
        feature_emb = <a id="change">torch.stack(sparse_emb_list, dim=1).squeeze(2</a><a id="change">)</a>
        lr_logit = self.lr_layer(data)
        cin_logit = self.cin(feature_emb)
        if self.dnn is not None:
            dnn_logit = self.dnn(feature_emb.flatten(start_dim=1))</code></pre><h3>After Change</h3><pre><code class='java'>
        lr_logit = self.lr_layer(data)
        cin_logit = self.cin(feature_emb)
        if self.dnn is not None:
            dense_input<a id="change"> = </a>get_linear_input(self.enc_dict, data)
            emb_flatten = feature_emb.flatten(start_dim=1)
            dnn_logit<a id="change"> = </a>self.dnn(<a id="change">torch.cat([</a>emb_flatten, dense_input<a id="change"></a>]<a id="change">, dim=1)</a>)
            y_pred = lr_logit + cin_logit + dnn_logit
        else:
            y_pred = lr_logit + cin_logit</code></pre>