<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if len(modalities) == 1:
            return modalities[0]

        nonfeature_size = <a id="change">modalities[0].shape[:-1]</a>

        m = torch.cat((Variable(torch.ones(*nonfeature_size, 1).type(modalities[0].dtype), requires_grad=False), modalities[0]), dim=-1)
        for mod in modalities[1:]:
            mod = torch.cat((Variable(torch.ones(*nonfeature_size, 1).type(mod.dtype), requires_grad=False), mod), dim=-1)</code></pre><h3>After Change</h3><pre><code class='java'>
            return modalities[0]

        mod0 = modalities[0]
        nonfeature_size<a id="change"> = </a><a id="change">mod0.shape[:-1]</a>

        m = torch.cat((Variable(torch.ones(*nonfeature_size, 1).type(mod0.dtype).to(mod0.device), requires_grad=False), mod0), dim=-1)
        for mod in modalities[1:]:
            mod = torch.cat((Variable(torch.ones(*nonfeature_size, 1).type(mod.dtype).to(mod.device), requires_grad=False), mod), dim=-1)</code></pre>