<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            atom_hiddens = self.W_s2s_b(atom_hiddens)

        if self.bert_pretraining:
            return <a id="change">self.W_v(atom_hiddens)[1:]</a>  &#47&#47 num_atoms x vocab/output size (leave out atom padding)

        &#47&#47 Readout
        if self.set2set:</code></pre><h3>After Change</h3><pre><code class='java'>
            atom_hiddens = self.W_s2s_b(atom_hiddens)

        if self.bert_pretraining:
            atom_preds<a id="change"> = </a><a id="change">self.W_v(atom_hiddens)[1:]</a>  &#47&#47 num_atoms x vocab/output size (leave out atom padding)

        &#47&#47 Readout
        if self.set2set:</code></pre>