<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            h_label = self.embedding(label)
            proj = torch.mul(h, h_label)
            cls_output = torch.sum(proj, dim=[1])
            return None<a id="change">, None, authen_output + cls_output</a>

        elif self.auxiliary_classifier and not self.projection_discriminator and not self.contrastive_training:
            authen_output = torch.squeeze(self.linear5(h))
            cls_output = self.linear6(h)
            return None, cls_output, authen_output
        else:
            authen_output = torch.squeeze(self.linear5(h))
            return None<a id="change">, None, authen_output</a>
</code></pre><h3>After Change</h3><pre><code class='java'>

        elif self.conditional_strategy == &quotcGAN&quot:
            authen_output = torch.squeeze(self.linear1(h))
            proj = torch.sum(torch.mul(<a id="change">self.embedding(</a>label<a id="change">)</a>, h), 1)
            return authen_output + proj
        
        elif self.conditional_strategy == &quotACGAN&quot:</code></pre>