<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, model_path, dtype=torch.float32):
        super(SMPL, self).__init__()
        self.dtype = dtype
        model_info = <a id="change">np.load(</a>model_path<a id="change">, allow_pickle=True)</a>[&quotannots&quot][()]

        self.vertex_joint_selector = VertexJointSelector(model_info[&quotextra_joints_index&quot], \
            model_info[&quotJ_regressor_extra9&quot], model_info[&quotJ_regressor_h36m17&quot], dtype=self.dtype)</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 The vertices of the template model
        self.register_buffer(&quotv_template&quot, model_info[&quotv_template&quot])
        &#47&#47 The shape components, take the top 10 PCA componence.
        <a id="change">if model_type == &quotsmpl&quot</a><a id="change">:
            </a>self.register_buffer(&quotshapedirs&quot, model_info[&quotshapedirs&quot])
        elif model_type == &quotsmpla&quot:
            self.register_buffer(&quotshapedirs&quot, model_info[&quotsmpla_shapedirs&quot])
            </code></pre>