<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        torch.onnx.export(self.model, dummy_inputs, "model.onnx", verbose=True, input_names=input_names, opset_version=12)
        SymbolicShapeInference.infer_shapes("model.onnx", "shape_infer.onnx")

        onnx_model = <a id="change">onnx.load(</a>"./shape_infer.onnx"<a id="change">)</a>
        self.dace_model = ONNXModel("dace_model", onnx_model)
        self.sdfg = self.dace_model.sdfg
        self.sdfg.validate()
        self.sdfg.save("./model.sdfg")</code></pre><h3>After Change</h3><pre><code class='java'>
        
        self.model = model
        self.sdfg = None
        <a id="change">if dummy_inputs is not None</a><a id="change">:
            </a>self.initialize_sdfg(dummy_inputs)

    def initialize_sdfg(self, dummy_inputs):
        input_names = [ "actual_input_1" ]</code></pre>