<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.downsample = downsample
        self.stride = stride

        <a id="change">if use_cbam</a><a id="change">:
            </a>self.cbam<a id="change"> = </a>CBAM(planes * 4, 16)
        else:
            self.cbam<a id="change"> = </a>None

    def forward(self, x):
        residual = x</code></pre><h3>After Change</h3><pre><code class='java'>
        )
        self.bn_expand = nn.BatchNorm2d(out_channels)

        self.shortcut = <a id="change">nn.Sequential()</a>
        if in_channels != out_channels:
            self.shortcut.add_module(
                "shortcut_conv",
                nn.Conv2d(</code></pre>