<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    @override(ModelV2)
    def forward(self, input_dict, state, seq_lens):
        model_out<a id="change">, _ = </a><a id="change">self.model(</a>input_dict, state, seq_lens<a id="change">)</a>
        return model_out, []
</code></pre><h3>After Change</h3><pre><code class='java'>

    @override(ModelV2)
    def forward(self, input_dict, state, seq_lens):
        return <a id="change">input_dict["obs_flat"]</a>.float(), state
</code></pre>