<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.ReLU(inplace=True),
            nn.Linear(in_features=meta_network_hidden_features, out_features=number_of_heads, bias=True))
        &#47&#47 Init tau
        self.register_parameter("tau", torch.nn.Parameter(<a id="change">torch.ones(1</a>, number_of_heads, <a id="change">1</a>, <a id="change">1</a><a id="change">)</a>))
        &#47&#47 Init pair-wise relative positions (log-spaced)
        self.__make_pair_wise_relative_positions()
</code></pre><h3>After Change</h3><pre><code class='java'>
            act_layer=nn.ReLU,
            drop=0.  &#47&#47 FIXME should we add stochasticity?
        )
        self.register_parameter("tau", torch.nn.Parameter(<a id="change">torch.ones(</a>num_heads<a id="change">)</a>))
        self._make_pair_wise_relative_positions()

    def _make_pair_wise_relative_positions(self) -&gt; None:</code></pre>