<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                v = self.dropout(v)
            v = self.fc[-1](v) &#47&#47 (B*2*(N-k), 1)
            v = torch.reshape(v, (B*2, N-k)) &#47&#47 (B*2, N-k)
            v1<a id="change">, v2 = </a><a id="change">torch.chunk(</a>v, <a id="change">2</a><a id="change">, dim=0)</a> &#47&#47 (B, N-k) * 2
            y += torch.diag_embed(v1, offset=k) &#47&#47 (B, N, N)
            y += torch.diag_embed(v2, offset=-k) &#47&#47 (B, N, N)
        return y</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47     y += torch.diag_embed(v2, offset=-k) &#47&#47 (B, N, N)

        x_l = x.view(B, N, 1, C).expand(B, N, N, C)
        x_r<a id="change"> = </a><a id="change">x.view(</a>B, <a id="change">1</a>, N, C<a id="change">)</a>.expand(B, N, N, C)
        v = torch.cat((x_l, x_r), dim=3) &#47&#47 (B, N, N, C*2)
        v = v.view(B*N*N, C*2)
        for fc in self.fc[:-1]:</code></pre>