<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, heads, action_size):
        super().__init__()
        self.action_size = action_size
        self.q_funcs<a id="change"> = </a><a id="change">nn.ModuleList()</a>
        for head in heads:
            self.q_funcs.append(DiscreteQFunction(head, action_size))

    def forward(self, x, reduction=&quotmin&quot):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.head = head
        self.action_size = head.action_size
        self.n_quantiles = n_quantiles
        self.fc = <a id="change">nn.Linear(</a>head.feature_size, n_quantiles<a id="change">)</a>

    def forward(self, x, action, as_quantiles=False):
        h = self.head(x, action)
        quantiles = self.fc(h)</code></pre>