<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.make_windows: bool = True
        &#47&#47 Init normalization layers
        self.normalization_1: nn.Module = norm_layer(normalized_shape=in_channels)
        self.normalization_2<a id="change">: nn.Module = </a><a id="change">norm_layer(normalized_shape=in_channels)</a>
        &#47&#47 Init window attention module
        self.window_attention: WindowMultiHeadAttention = WindowMultiHeadAttention(
            in_features=in_channels,
            window_size=self.window_size,</code></pre><h3>After Change</h3><pre><code class='java'>
        super(SwinTransformerBlock, self).__init__()
        self.dim: int = dim
        self.feat_size: Tuple[int, int] = feat_size
        self.target_shift_size: Tuple[int, int] = <a id="change">to_2tuple(</a>shift_size<a id="change">)</a>
        self.window_size, self.shift_size = self._calc_window_shift(to_2tuple(window_size))
        self.window_area = self.window_size[0] * self.window_size[1]

        &#47&#47 attn branch</code></pre>