<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise TypeError("Exactly one of `h_module`, `h_tensor` must be passed.")
        self.h_module = h_module
        self.h_tensor: Tensor
        <a id="change">self.register_buffer(&quoth_tensor&quot</a>, h_tensor<a id="change">, persistent=False)</a>  &#47&#47 so that `.to()` works
        self.h_kwarg = h_kwarg

        &#47&#47 transition matrix:</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 can/should be overridden by subclasses:
        self.expected_kwargs: Optional[List[str]] = None
        self.f_modules: nn.ModuleDict = nn.ModuleDict()
        self.f_tensors: Dict[str, torch.Tensor] = <a id="change">{}</a>

    @jit.ignore
    def offset_initial_state(self, initial_state: Tensor, start_offsets: Optional[Sequence] = None) -&gt; Tensor:
        return initial_state</code></pre>