<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                        nonlinearity=&quotleaky_relu&quot)
            elif isinstance(m, nn.BatchNorm2d):
                nn.init.constant_(m.weight, 1.0)
                <a id="change">nn.init.constant_(</a>m.bias, <a id="change">0.0</a><a id="change">)</a>
            elif isinstance(m, nn.Linear):
                nn.init.xavier_normal_(m.weight)
                nn.init.constant_(m.bias, 0.0)
</code></pre><h3>After Change</h3><pre><code class='java'>
                m.bias.data.zero_()
            elif isinstance(m, nn.Linear):
                nn.init.xavier_normal_(m.weight.data)
                <a id="change">m.bias.data.zero_()</a>

    def forward(self, x):
        out = self.conv1(x)
        out = self.block1(out)</code></pre>