<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        sparse_dict = sparse_features.to_dict()
        flattened_sparse_features = torch.cat(
            [sparse_dict[key].values()<a id="change"> + offset</a> <a id="change">for</a> key, <a id="change">offset</a> in <a id="change">zip(</a>keys, self.offsets<a id="change">)</a>])
        batch_offsets = sparse_features.offsets()

        batch_size = len(sparse_features.lengths()) // len(keys)</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, sparse_features):
        sparse_features = self.kjt_collector.all_to_all(sparse_features)
        keys, batch_size = sparse_features.keys()<a id="change">, sparse_features.stride()</a>

        flattened_sparse_features = sparse_features.values()
        batch_offsets = sparse_features.offsets()
</code></pre>