<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, input: torch.Tensor) -&gt; torch.Tensor:
        projected = F.linear(input, self.weight)
        <a id="change">return torch.cos(</a>projected + self.bias<a id="change">)</a> * <a id="change">torch.sin(</a>projected<a id="change">)</a>
</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, input: torch.Tensor) -&gt; torch.Tensor:
        projected = F.linear(input, self.weight)
        output = <a id="change">torch.cos(</a>projected + self.bias<a id="change">)</a> * <a id="change">torch.sin(</a>projected<a id="change">)</a>
        <a id="change">return </a>output.as_subclass(MAP)
</code></pre>