<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 set required parameters
        self.device = device
        for required_arg in self.REQUIRED_ARGS:
            <a id="change">if required_arg not in model_kwargs.keys()</a><a id="change">:
                </a>raise ValueError(f"model {self.NAME} requires parameter &quot{required_arg}&quot")
            required_val<a id="change"> = </a>model_kwargs[required_arg]

            &#47&#47 pre-setattr checks
            if required_arg == "tensor_value_range":</code></pre><h3>After Change</h3><pre><code class='java'>
                self.img_c, self.img_h, self.img_w = self.img_shape

        &#47&#47 set optional parameters
        optional_args = <a id="change">[arg for arg in model_kwargs.keys() if arg not in self.REQUIRED_ARGS]</a>
        for model_arg in optional_args:
            set_from_kwarg(self, model_kwargs, model_arg)

    @property</code></pre>