<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        B, C, H, W = x.shape
        h<a id="change"> = </a><a id="change">F.interpolate(</a>x, (H * 2, W * 2)<a id="change">, mode=&quotnearest&quot)</a>
        if self.with_conv:
            h<a id="change"> = </a>self.Conv_0(h)
        <a id="change">return </a>h


class Downsample(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.conv = nn.Conv2d(dim, dim, 3, padding=1)

    def forward(self, x):
        <a id="change">return </a>self.conv(self.up(x))


class Downsample(nn.Module):</code></pre>