<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            Rearrange(&quotb x y w1 w2 d -&gt; b d (w1 x) (w2 y)&quot),
        )
    def forward(self,x):
        <a id="change">return </a>self.block(x)


def INF(B, H, W):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.l9 = Rearrange(&quotb x y w1 w2 d -&gt; b d (w1 x) (w2 y)&quot)
        &#47&#47 )
    def forward(self,x):
        x<a id="change"> = </a>self.l0(x)
        x<a id="change"> = </a>self.l1(x)
        x<a id="change"> = </a>self.l2(x)
        x<a id="change"> = </a>self.l3(x)
        x<a id="change"> = </a>self.l4(x)
        x<a id="change"> = </a>self.l5(x)
        x<a id="change"> = </a>self.l6(x)
        x<a id="change"> = </a>self.l7(x)
        x<a id="change"> = </a>self.l8(x)
        x<a id="change"> = </a>self.l9(x)
        <a id="change">return </a>x


def INF(B, H, W):</code></pre>