<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 self.linear2 = nn.Linear(label_width_d, ndf*8*4*4, bias=bias)
        &#47&#47 self.sigmoid = nn.Sigmoid()

        self.linear = <a id="change">nn.Sequential(
            </a>nn.Linear(ndf*8*4*4, 1, bias=bias),
            nn.Sigmoid()<a id="change">
        )</a>

    def forward(self, x, y):
        y = y.view(-1,1)
</code></pre><h3>After Change</h3><pre><code class='java'>
                nn.LeakyReLU(0.2, inplace=True),
            )
        elif img_size == 128:
            self.inputblock = <a id="change">nn.Sequential(
                &#47&#47 input is (nc) x 128 x 128
                </a><a id="change">nn.Conv2d(</a>nc, ndf<a id="change">, kernel_size=4, stride=2, padding=1, bias=bias)</a>, &#47&#47h=h/2
                <a id="change">nn.BatchNorm2d(</a>ndf<a id="change">)</a>,
                nn.LeakyReLU(0.2, inplace=True),
                &#47&#47 input is ndf x 64 x 64
                <a id="change">nn.Conv2d(</a>ndf, ndf<a id="change">, kernel_size=3, stride=1, padding=1, bias=bias)</a>, &#47&#47h=h
                <a id="change">nn.BatchNorm2d(</a>ndf<a id="change">)</a>,
                nn.LeakyReLU(0.2, inplace=True),

                &#47&#47 input is ndf x 64 x 64
                <a id="change">nn.Conv2d(</a>ndf, ndf<a id="change">, kernel_size=4, stride=2, padding=1, bias=bias)</a>, &#47&#47h=h/2
                <a id="change">nn.BatchNorm2d(</a>ndf<a id="change">)</a>,
                nn.LeakyReLU(0.2, inplace=True),
                &#47&#47 input is ndf x 32 x 32
                <a id="change">nn.Conv2d(</a>ndf, ndf<a id="change">, kernel_size=3, stride=1, padding=1, bias=bias)</a>, &#47&#47h=h
                <a id="change">nn.BatchNorm2d(</a>ndf<a id="change">)</a>,
                nn.LeakyReLU(0.2, inplace=True)<a id="change">,
            )</a>



        self.discblock1 = nn.Sequential(</code></pre>