<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.initialize()

    def forward(self, inputs, targets):
        enc_output, i_mask = None<a id="change">, None</a>
        if self.has_inputs:
            i_mask = utils.create_pad_mask(inputs, self.src_pad_idx)
            enc_output = self.encode(inputs, i_mask)
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.initialize()

    def forward(self, padded_input, input_lengths, padded_target):
        <a id="change">if self.feat_extractor == &quotemb_cnn&quot</a><a id="change"> or self.feat_extractor == &quotvgg_cnn&quot:
            </a>padded_input<a id="change"> = </a>self.conv(padded_input)

        &#47&#47 Reshaping features
        sizes = padded_input.size() &#47&#47 B x H_1 (channel?) x H_2 x T</code></pre>