<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.ce = CELoss()

    def forward(self, pred: torch.Tensor, batch: Dict[str, Any], device: torch.device):
        targets = <a id="change">batch[&quottargets&quot]</a>.to(device)
        dice_loss, _ = self.dice(pred, batch, device)
        ce_loss, _ = self.ce(pred, batch, device)
        total_loss = dice_loss + ce_loss</code></pre><h3>After Change</h3><pre><code class='java'>
        for weight, loss_fn in zip(self.weights, self.losses):
          loss, loss_dict = loss_fn(pred, batch, device)
          total_loss += (weight*loss)
          <a id="change">total_loss_dict.update(</a>loss_dict<a id="change">)</a>

        total_loss_dict.update({&quotTotal&quot: total_loss.item()})
        return total_loss, total_loss_dict</code></pre>