<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        band = hz[1:] - hz[:-1]

        self.band = band[:-1]
        self.f_central = <a id="change">hz[1:-1]</a>

        &#47&#47 Adding the central frequency and the band to the list of nn param
        if not self.freeze:
            self.f_central = nn.Parameter(self.f_central)</code></pre><h3>After Change</h3><pre><code class='java'>
        band = hz[1:] - hz[:-1]

        self.band = band[:-1].to(self.device_inp)
        self.f_central = <a id="change">hz[1:-1]</a>.to(self.device_inp)

        &#47&#47 Adding the central frequency and the band to the list of nn param
        if not self.freeze:</code></pre>