<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            Normalized audio tensor with same shape as input
        
        mean = audio.mean(1, keepdim=True).detach()
        std<a id="change"> = </a>(<a id="change">audio.var(1, keepdim=True).detach()</a> + self.div_guard).sqrt()
        return (audio - mean) / std
</code></pre><h3>After Change</h3><pre><code class='java'>
            Normalized audio tensor with same shape as input
        
        attention_mask: Optional[torch.Tensor] = None
        <a id="change">if </a>self.mask_input<a id="change">:
            </a>attention_mask<a id="change"> = </a>lengths_to_mask(
                audio_lengths, max_len=audio.size(-1)
            ).int()
</code></pre>