<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            image_tokens += [image_token]
        
            if self.is_verbose:
                token<a id="change"> = </a>int(<a id="change">image_token.detach()</a>.numpy())
                print("image token {} is {}".format(i, token))
            
        return torch.cat(image_tokens)</code></pre><h3>After Change</h3><pre><code class='java'>
    ) -&gt; LongTensor:
        image_tokens: List[LongTensor] = []
        keys_values_state = torch.zeros(self.keys_values_state_shape)
        <a id="change">if </a>torch.cuda.is_available()<a id="change">: 
            </a>keys_values_state<a id="change"> = </a>keys_values_state.cuda()
        image_token = self.start_token

        for i in range(self.sample_token_count):</code></pre>