<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                t = F.normalize(t, p=2, dim=2)
            t = torch.bmm(t, t.transpose(1, 2)).view(-1)

        s = student.unsqueeze(0)<a id="change"> - </a><a id="change">student.unsqueeze(1</a><a id="change">)</a>
        if normalize:
            s = F.normalize(s, p=2, dim=2)
        s = torch.bmm(s, s.transpose(1, 2)).view(-1)
        return F.smooth_l1_loss(s, t, reduction="mean")</code></pre><h3>After Change</h3><pre><code class='java'>

        with torch.no_grad():
            t = pairwaise_distance(teacher)
            t_mean = <a id="change">t[t &gt; 0].mean()</a>
            t = t / (t_mean + 1e-7)

        s = pairwaise_distance(student)
        s_mean = s[s &gt; 0].mean()</code></pre>