<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, dataset_config, device="cpu", **model_args):
        super(VideoPredictionModel, self).__init__()
        if dataset_config is not None:
            self.img_shape = <a id="change">dataset_config["img_shape"]</a>
            self.img_c<a id="change"> = dataset_config</a><a id="change">["img_c"]</a>
            self.img_h = dataset_config["img_h"]
            self.img_w = dataset_config["img_w"]
            self.action_size = dataset_config["action_size"]
            self.action_conditional = model_args.get("action_conditional", False)</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, device="cpu", **model_args):
        super(VideoPredictionModel, self).__init__()
        self.img_shape = model_args.get("img_shape", (None, None, None))  &#47&#47 h, w, c
        self.img_h<a id="change">, self.img_wm, self.img_c</a> = self.img_shape
        self.action_size = model_args.get("action_size", 0)
        self.action_conditional = model_args.get("action_conditional", False)
        self.device = device</code></pre>