<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.score_consensus_attn = score_consensus_attn

        assert downsample_factor &lt;= max_block_size, &quotfinal downsample factor should be less than the maximum block size&quot
        self.block_sizes = <a id="change">[</a>*range(1, max_block_size + 1)<a id="change"></a>]
        self.block_pad_multiple = lcm(*self.block_sizes)
        self.downsample_factor = downsample_factor
</code></pre><h3>After Change</h3><pre><code class='java'>
            self.blocks = tuple(map(lambda el: el if isinstance(el, tuple) else (el, 0), blocks))
            assert all([(offset &lt; block_size) for block_size, offset in self.blocks]), &quotoffset must be always smaller than the block size&quot

            max_block_size<a id="change"> = </a>max(<a id="change">list(</a>map(lambda t: t[0], self.blocks)<a id="change">)</a>)
        else:
            self.blocks = tuple(map(lambda el: (el, 0), range(1, max_block_size + 1)))
</code></pre>