<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.point_cloud_range = point_cloud_range
        self.scatter = DynamicScatter(voxel_size, point_cloud_range, True)

        num_filters = <a id="change">[</a>self.num_input_features<a id="change"></a>] + list(num_filters)
        vfe_layers = []
        for i in range(len(num_filters) - 1):
            in_filters = num_filters[i]</code></pre><h3>After Change</h3><pre><code class='java'>
        self.point_cloud_range = point_cloud_range
        self.scatter = DynamicScatter(voxel_size, point_cloud_range, True)

        feat_channels<a id="change"> = </a>[self.in_channels] + <a id="change">list(</a>feat_channels<a id="change">)</a>
        vfe_layers = []
        for i in range(len(feat_channels) - 1):
            in_filters = feat_channels[i]
            out_filters = feat_channels[i + 1]</code></pre>