<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        mask_value = max_neg_value(q)
        mask = torch.zeros((b * h, buckets, buckets), device=device).bool()
        i, j = torch.triu_indices(buckets, buckets)
        <a id="change">mask[:, 0, :]</a> = True
        mask[:, i, j] = True
        R.masked_fill_(mask, mask_value)
        R = R.softmax(dim=-1)</code></pre><h3>After Change</h3><pre><code class='java'>
        b, h, t, d_h, d, heads, buckets, device = *q.shape, self.dim, self.heads, self.buckets, q.device
        bh = b * h

        <a id="change">bsz</a> = t // buckets
        hh = h // 2

        hh_slice = (slice(None), slice(hh, None))

        q[hh_slice] = rotate_left(q[hh_slice], bsz-1, dim=2)
        k[hh_slice] = rotate_left(k[hh_slice], bsz-1, dim=2)
        v[hh_slice] = rotate_left(v[hh_slice], bsz-1, dim=2)

        merge_batch_head = lambda x: x.reshape(b * h, t, d_h)
        q, k, v = map(merge_batch_head, (q, k, v))

        &#47&#47 bucket qkv

        bucket_fn = partial(bucket, buckets)
        b_q, b_k, b_v = map(bucket_fn, (q, k, v))

        &#47&#47 calculate R

        R = self.sort_net(q, k)

        &#47&#47 softmax and mask to prevent future buckets going to past

        mask_value = max_neg_value(q)
        mask = torch.zeros((b * h, buckets, buckets + 1), device=device).bool()
        i, j = torch.triu_indices(buckets, buckets)
        mask[:, i, j + 1] = True
        R.masked_fill_(mask, mask_value)
        R = R.softmax(dim=-1)
        R = R.tril(diagonal=-1) &#47&#47 extra insurance
        del mask

        R = R.type_as(q).to(q)

        &#47&#47 only allow one bucket to be reordered to, needed for input masking to work
        R = zero_all_but_top(R, dim=2, k=1)

        &#47&#47 add null key / value buckets at index 0
        null_key_bucket = <a id="change">self.null_key[None, :, None, :, :].expand(</a>b, -1, 1, bsz, -1<a id="change">)</a>.reshape(bh, 1, bsz, -1)
        null_value_bucket = <a id="change">self.null_value[None, :, None, :, :].expand(</a>b, -1, 1, bsz, -1<a id="change">)</a>.reshape(bh, 1, bsz, -1)

        b_k_r = torch.cat((null_key_bucket, b_k), dim=1)
        b_v_r<a id="change"> = </a>torch.cat((null_value_bucket, b_v), dim=1)

        &#47&#47 reorder buckets to buckets of the past
        b_k_r = reorder_buckets(b_k_r, R)</code></pre>