<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        ])

        &#47&#47 Vertex features
        out = <a id="change">self.conv1(</a>pos_flat, batch<a id="change">)</a>
        &#47&#47 out = self.conv2(out, batch)
        &#47&#47 out = self.conv3(out, batch)  &#47&#47 n_points x length_features
        &#47&#47 reshape back into batch 
        out<a id="change"> = </a>out.contiguous().view(batch_size, n_vertices, -1)

        &#47&#47 aggregate features from vertices
        out = out.max(dim=-2, keepdim=False)[0]</code></pre><h3>After Change</h3><pre><code class='java'>
        if self.config[&quotskip_connections&quot]:
            aggr_features.append(self.global_pool(out, batch, batch_size))
        
        <a id="change">for conv_id</a> in <a id="change">range(</a>1, self.config[&quotconv_depth&quot]<a id="change">):
            </a>out<a id="change"> = </a>self.conv_layers[conv_id](out, batch)
            if self.config[&quotskip_connections&quot]:
                aggr_features.append(self.global_pool(out, batch, batch_size))
        </code></pre>