<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, anchor, positive, dist_keypts):
        pids = torch.FloatTensor(np.arange(len(anchor)))
        if torch.cuda.is_available():
            pids<a id="change"> = </a><a id="change">pids.cuda()</a>
        &#47&#47 if self.metric == &quoteuclidean&quot:
            &#47&#47 distance = torch.sqrt(2 - 2 * torch.matmul(anchor, positive.transpose(0, 1)))
            &#47&#47 return batch_hard(distance, pids, margin=self.margin)
        dist = cdist(anchor, positive, metric=self.metric)</code></pre><h3>After Change</h3><pre><code class='java'>
        add_matrix = torch.zeros_like(dist)
        add_matrix[np.where(dist_keypts &lt; self.safe_radius)] += 10
        dist = dist + add_matrix
        <a id="change">return </a>self.calculate_loss(dist, pids)


    def calculate_loss(self, dists, pids):</code></pre>