<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    padding=ratio // 2 + ratio % 2,
                    output_padding=ratio % 2,
                ),
                *[<a id="change">ResnetBlock(</a>dim // 2, 3<a id="change">, dilation=res_dilations[idx])</a>] * 4
            )
            self.res_stack.append(stack)
</code></pre><h3>After Change</h3><pre><code class='java'>
                    padding=ratio // 2 + ratio % 2,
                    output_padding=ratio % 2,
                ),
                *<a id="change">[ResnetBlock(dim // 2, 3, dilation=res_dilations[i]) for i in range(4)]</a>
            )
            self.res_stack.append(stack)

            dim //= 2</code></pre>