<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        attn = sim.softmax(dim = -1)

        out = einsum(&quotb h i j, b h d j -&gt; b h i d&quot, attn, v)
        out<a id="change"> = </a><a id="change">rearrange(</a>out, <a id="change">&quotb h (x y) d -&gt; b (h d) x y&quot</a><a id="change">, x = h, y = w)</a>
        out<a id="change"> = </a>self.to_out(out)
        <a id="change">return rearrange(</a>out, <a id="change">&quot(b f) c h w -&gt; b c f h w&quot</a><a id="change">, b = b)</a>

&#47&#47 model

class Unet3D(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>

        out = einsum(&quot... h i j, ... h j d -&gt; ... h i d&quot, attn, v)
        out = rearrange(out, &quot... h n d -&gt; ... n (h d)&quot)
        <a id="change">return </a>self.to_out(out)

&#47&#47 model
</code></pre>