<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47&#47&#47 Return average loss over classes and batch
        &#47&#47 return 1 - loss.mean()
        return -(<a id="change">loss.mean() - </a>1.)


&quot&quot&quot</code></pre><h3>After Change</h3><pre><code class='java'>
        loss = inter / union

        &#47&#47&#47&#47 Return average loss over classes and batch
        return -(<a id="change">loss[:, -self.classes]</a>.mean() - 1.)


&quot&quot&quot</code></pre>