<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.output_layers = output_layers

        &#47&#47 we need to multiply by this to be able to fit the signal
        if <a id="change">len(input_scales) != n_layers+1</a>:
            raise ValueError(&quotrequire n+1 scales for n hidden_layers&quot)
        input_scales = [[round((np.pi*freq*s)/quantization_interval) * \
                         quantization_interval</code></pre><h3>After Change</h3><pre><code class='java'>
            
        &#47&#47 make the final layer (after sigmoid) "almost" uniform in [0, 1]
        &#47&#47 TODO: find the math formula...
        nn.init.uniform_(<a id="change">self.out[0]</a>.weight,
                         -6/hidden_size**0.5, 6/hidden_size**0.5)

    def forward(self, x):</code></pre>