<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                          layers=readout_layers)

    def forward(self, graph: dgl.DGLGraph):
        <a id="change">graph.apply_nodes(</a>self.input_node_func<a id="change">)</a>

        for mp_layer in self.mp_layers:
            mp_layer(graph)
</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, graph: dgl.DGLGraph):
        graph.ndata[&quotfeat&quot] = self.atom_encoder(graph.ndata[&quotfeat&quot])
        <a id="change">graph.edata[&quotfeat&quot] = </a>self.bond_encoder(graph.edata[&quotfeat&quot])

        for mp_layer in self.mp_layers:
            mp_layer(graph)</code></pre>