<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, config: Union[Dict, BaseOWAConfig]) -&gt; None:
        super().__init__()

        <a id="change">if </a>not <a id="change">isinstance(</a>config, BaseOWAConfig<a id="change">):
            </a>config = BaseOWAConfig.from_dict(config)

        &#47&#47 Device selection
        self.device = config.get_device()</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Entity dimensions
        &#47&#47: The number of entities in the knowledge graph
        self.num_entities = <a id="change">self.config[NUM_ENTITIES]</a>
        &#47&#47: The number of unique relation types in the knowledge graph
        self.num_relations = self.config[NUM_RELATIONS]
        &#47&#47: The dimension of the embeddings to generate
        self.embedding_dim = self.config[EMBEDDING_DIM]</code></pre>