<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.GELU(),
            nn.Linear(mlp_dim, embed_dim),
        )
        self.layer_scale_2 = nn.Parameter(torch.full((<a id="change">1</a><a id="change">,1,embed_dim</a>), layer_scale_init))
        self.norm_2 = nn.LayerNorm(embed_dim)

    def forward(self, x: torch.Tensor):</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.GELU(),
            nn.Linear(mlp_dim, embed_dim)
        )
        self.layer_scale_2 = nn.Parameter(<a id="change">torch.ones(</a>embed_dim<a id="change">) * </a>layer_scale_init)
        self.norm_3 = nn.LayerNorm(embed_dim)

    def forward(self, x: torch.Tensor):</code></pre>