<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            SqueezeExcitation(width, width // 4),
            nn.Conv2d(width, width, 1)
        )
        self.layer_scale = nn.Parameter(torch.full((<a id="change">1</a><a id="change">,width,1,1</a>), layer_scale_init))

    def forward(self, x: torch.Tensor):
        &#47&#47 (N, C, H, W)</code></pre><h3>After Change</h3><pre><code class='java'>
            SqueezeExcitation(embed_dim, embed_dim // 4),
            nn.Conv2d(embed_dim, embed_dim, 1)
        )
        self.layer_scale = nn.Parameter(<a id="change">torch.ones(</a>(1,embed_dim,1,1)<a id="change">) * </a>layer_scale_init)

    def forward(self, x: torch.Tensor):
        &#47&#47 (N, C, H, W)</code></pre>