<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            distance_list.append(dist(x, y))

        distance = torch.stack(distance_list, 0)
        if <a id="change">self.average</a>:
            distance<a id="change"> = </a>distance.mean(0)
        else:
            distance<a id="change"> = </a><a id="change">distance.sum(0</a><a id="change">)</a>

        return distance</code></pre><h3>After Change</h3><pre><code class='java'>
        stfts_y = self.multiscale_stft(y)
        distance = 0.

        <a id="change">for </a>x, y in <a id="change">zip(</a>stfts_x, stfts_y<a id="change">):
            </a>distance = distance + lin_distance(x, y) + log_distance(x, y)


@gin.register</code></pre>