<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                 transpose=True, concat=True,  norm=nn.BatchNorm2d, act=F.relu, dilations=[1,2,5]):
        super(SharedDecoder, self).__init__()
        self.up_convs = []
        self.im_atts = <a id="change">[]</a>
        self.wm_atts = []
        self.mask_atts = []
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.up_mask_atts = []

        dilations = [1,2,5]
        start_depth<a id="change"> = </a>depth<a id="change"> - </a>shared_depth
        max_filters = 512
        for <a id="change">i</a> in range(start_depth, depth): &#47&#47 depth = 5 [0,1,2,3]
            ins = in_channels if i == start_depth else outs
            outs = min(ins * 2, max_filters)
            &#47&#47 Encoder convs
            pooling = True if i &lt; depth-1 else False
            down_conv = DownConv(ins, outs, blocks, pooling=pooling, residual=residual, norm=norm, act=act, dilations=dilations)
            self.down_convs.append(down_conv)

            &#47&#47 Decoder convs
            if i &lt; depth - 1:
                up_conv = UpConv(<a id="change">min(</a>outs<a id="change">*2</a>, max_filters<a id="change">)</a>, outs, blocks, residual=residual, concat=concat, norm=norm,act=F.relu, dilations=dilations)
                self.up_convs.append(up_conv)
                self.up_im_atts.append(ECABlock(outs))
                self.up_mask_atts.append(ECABlock(outs))</code></pre>