<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Returns:
            dict: Output results.
        
        <a id="change">with </a><a id="change">torch.no_grad():
            </a>output<a id="change"> = </a>self.generator(lq)

        return output
</code></pre><h3>After Change</h3><pre><code class='java'>
        Returns:
            Tensor: Output result.
        
        <a id="change">return </a>self.generator(lq)
</code></pre>