<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        H = 0.0  &#47&#47 entropy is conventionally denoted by "H"
        for ngram in text_ngrams:
            if len(ngram) == 1:
                context, word = None, <a id="change">ngram[0]</a>
            else:
                context, word = ngram[:-1], ngram[-1]
            score = self.score(word, context)
            H -= score * log_base2(score)</code></pre><h3>After Change</h3><pre><code class='java'>
        :rtype: float

        
        return -1 * np.mean(<a id="change">[self.logscore(ngram[-1], ngram[:-1]) for ngram in text_ngrams]</a>)

    def perplexity(self, text_ngrams):
        Calculates the perplexity of the given text.</code></pre>