<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        drs_s = self.drs._pretty()
        blank = &quot &quot*(len(str(self.variable))+1)
        return [blank + drs_s[0],
                str(self.variable) + &quot:&quot + <a id="change">drs_s[1]</a>] + \
                list(map(lambda l: blank+l, drs_s[2:]))

    def visit(self, function, combinator):</code></pre><h3>After Change</h3><pre><code class='java'>
        blank = &quot &quot * len(str(self.variable))
        return ([blank              + &quot &quot + line for line in drs_s[:1]] + 
                [str(self.variable) + &quot:&quot + line for line in drs_s[1:2]] + 
                <a id="change">[blank              + &quot &quot + line for line in drs_s[2:]]</a>)

    def visit(self, function, combinator):
        :see: Expression.visit()</code></pre>