<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for module in self.discriminator:
            y = module(y)
            features.append(y)
        <a id="change">return </a>features[-1], features[:-1]


class MultiPeriodDiscriminator(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        y = x.view(batch_size, -1, self.period).contiguous()
        y = y.unsqueeze(1)
        out1 = self.layer(y)
        <a id="change">return </a><a id="change">self.output(</a>out1<a id="change">)</a>


class MultiPeriodDiscriminator(nn.Module):
    def __init__(self,</code></pre>