<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def peek_event(self):
        &#47&#47 Get the next event.
        if self.current_event is None:
            <a id="change">try:
                </a>self.current_event<a id="change"> = </a>self.event_generator.next()
            <a id="change">except </a>StopIteration:
                <a id="change">pass</a>
        return self.current_event

    def get_event(self):
        &#47&#47 Get the next event.</code></pre><h3>After Change</h3><pre><code class='java'>
    def peek_event(self):
        &#47&#47 Get the next event.
        if self.current_event is None:
            <a id="change">if self.state</a><a id="change">:
                </a>self.current_event<a id="change"> = </a>self.state()
        return self.current_event

    def get_event(self):</code></pre>