<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 TODO: try residual connection

        logits<a id="change"> = </a>self.out(<a id="change">torch.cat(</a>(text_attn_feature, visual_attn_feature, audio_attn_feature)<a id="change">, dim=1)</a>)
        return logits
</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, X_text, X_audio, X_visual):
        &#47&#47 TODO: try residual connection

        batch_size = <a id="change">X_text.size(0</a><a id="change">)</a>
        logits = None
        if &quott&quot in self.modalities:
            output_text, _ = self.RNNs[0](X_text)
            output_text = output_text[:, -1, :]</code></pre>