<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

		self.content_embedding = nn.Embedding(config[&quotn_imgs&quot], config[&quotcontent_dim&quot], config[&quotcontent_std&quot])
		self.class_embedding = nn.Embedding(config[&quotn_classes&quot], config[&quotclass_dim&quot])
		self.modulation = Modulation(config[&quotclass_dim&quot] + <a id="change">config[&quotstyle_dim&quot]</a>, config[&quotgenerator&quot][&quotn_adain_layers&quot], config[&quotgenerator&quot][&quotadain_dim&quot])
		self.decoder = Decoder(config[&quotcontent_dim&quot], config[&quotgenerator&quot][&quotn_adain_layers&quot], config[&quotgenerator&quot][&quotadain_dim&quot], config[&quotimg_shape&quot])

	def forward(self, img_id, class_id, style_code):</code></pre><h3>After Change</h3><pre><code class='java'>
		)

		self.projection = nn.Sequential(
			<a id="change">nn.Linear(in_features=config[&quotcontent_dim&quot], out_features=256)</a>,
			nn.LeakyReLU(negative_slope=0.2),

			<a id="change">nn.Linear(in_features=256, out_features=256*4*4)</a>,
			nn.LeakyReLU(negative_slope=0.2)
		)
</code></pre>