<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if l_id == len(layer_sizes) - 2:
                layers.append(nn.Sequential(
                    nn.BatchNorm1d(num_features=layer_sizes[l_id]),
                    nn.Linear(layer_sizes[l_id], <a id="change">layer_sizes[l_id + 1]</a>),
                ))
            else:
                layers.append(nn.Sequential(</code></pre><h3>After Change</h3><pre><code class='java'>
                ))
        self.layers = nn.ModuleList(layers)
        if self.variational:
            self.fc_mu = <a id="change">nn.Linear(</a>layer_sizes[-1], output_size<a id="change">)</a>
            self.fc_var = <a id="change">nn.Linear(</a>layer_sizes[-1], output_size<a id="change">)</a>

    def forward(self, x):
        for layer in self.layers[:-1]:
            x = layer(x)</code></pre>