<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

            if flattened_dim:
                logits = rearrange(logits, &quotb ... n -&gt; b (...) n&quot)
                logits = <a id="change">logits[:, :seq_len]</a>

            return logits

        logits = logits[..., :-1, :]</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 bump space by one to account for a boundary case

        ids = <a id="change">F.pad(</a>ids, (0<a id="change">, 0, 0, 1</a>)<a id="change">)</a>

        b, space, depth, device = *ids.shape, ids.device
        assert space &lt;= (self.max_spatial_seq_len + 1), &quotspatial dimension is greater than the max_spatial_seq_len set&quot
        assert depth == self.depth_seq_len, &quotdepth dimension must be equal to depth_seq_len&quot</code></pre>