<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            &#47&#47 a batch version of det is on its way (end July 2019)
            &#47&#47 https://github.com/pytorch/pytorch/issues/7500
            &#47&#47 we&quotll move to that asap but in the mean time we loop
            <a id="change">for isample</a> in <a id="change">range(</a>nbatch<a id="change">):
                </a>out[isample,ic]<a id="change"> = </a>(torch.det(mo_up[isample]) * torch.det(mo_down[isample]))

        return out
</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47    out[isample,ic] = (torch.det(mo_up[isample]) * torch.det(mo_down[isample]))

            &#47&#47 using my own BatchDeterminant
            <a id="change">out[:,ic]</a> = BatchDeterminant.apply(mo_up) * BatchDeterminant.apply(mo_down)

        return out
</code></pre>