<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.num_features = num_features

        if <a id="change">isinstance(</a>norm, int<a id="change">)</a> and norm:
            norm_name = &quotgLN&quot
        else:
            norm_name<a id="change"> = </a>norm
        
        self.positional_encoding = PositionalEncoding(num_features, batch_first=False)
        encoder_layer = nn.TransformerEncoderLayer(num_features, num_heads, d_ff, dropout=dropout, activation=nonlinear, layer_norm_eps=eps, batch_first=False, norm_first=norm_first)</code></pre><h3>After Change</h3><pre><code class='java'>

        self.num_features = num_features

        if <a id="change">isinstance(</a>norm, int<a id="change">)</a>:
            if norm:
                norm_name = &quotgLN&quot
                layer_norm = LayerNormWrapper(norm_name, num_features, causal=False, batch_first=False, eps=eps)
            else:
                layer_norm<a id="change"> = </a>None
        else:
            norm_name<a id="change"> = </a>norm
            layer_norm = LayerNormWrapper(norm_name, num_features, causal=False, batch_first=False, eps=eps)
        
        self.positional_encoding = PositionalEncoding(num_features, batch_first=False)</code></pre>