<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.Conv2d(channels, dim, kernel_size=patch_size, stride=patch_size),
            Rearrange(&quotb c h w -&gt; b (h w) c&quot),
        )
        self.en_pos_embedding = nn.Parameter(<a id="change">torch.randn(</a>1, self.num_patches, dim<a id="change">)</a>)
        self.transformer = Transformer(dim, depth, heads, dim_head, mlp_dim)

    def forward(self, img: torch.FloatTensor) -&gt; torch.FloatTensor:</code></pre><h3>After Change</h3><pre><code class='java'>
                                    else (patch_size, patch_size)

        assert image_height % patch_height == 0 and image_width % patch_width == 0, &quotImage dimensions must be divisible by the patch size.&quot
        en_pos_embedding = get_2d_sincos_pos_embed(dim, (image_height<a id="change"> // </a>patch_height<a id="change">, image_width // patch_width</a>))

        self.num_patches = (image_height // patch_height) * (image_width // patch_width)
        self.patch_dim = channels * patch_height * patch_width</code></pre>