<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        mask_value = max_neg_value(dots_text)

        i, j = dots_text.shape[-2:]
        mask<a id="change"> = </a><a id="change">torch.ones(</a>i, j<a id="change">, device = device)</a>.triu_(j - i + 1).bool()
        dots_text.masked_fill(mask, mask_value)

        attn_text = dots_text.softmax(dim = -1)</code></pre><h3>After Change</h3><pre><code class='java'>
        causal_mask = repeat(causal_mask, &quoti j -&gt; b i j&quot, b = bh)

        mask = repeat(mask, &quotb j -&gt; (b r) i j&quot, r = (bh // b), i = i)
        mask = torch.cat((~mask<a id="change">, causal_mask</a>), dim = -1)

        dots_image.masked_fill_(mask, mask_value)
</code></pre>