<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        data = self.data_proj(data)

        x = self.latents<a id="change"> + </a>self.pos_emb
        x<a id="change"> = </a><a id="change">repeat(</a>x, <a id="change">&quotn d -&gt; b n d&quot</a><a id="change">, b = b)</a>

        for i, (cross_attn, cross_ff, rev_cross_attn, rev_cross_ff, input_attn, latent_attn, latent_ff) in enumerate(self.layers):
            is_last = i == (len(self.layers) - 1)
</code></pre><h3>After Change</h3><pre><code class='java'>

        data = self.data_proj(data)

        x = <a id="change">repeat(</a>self.latents, <a id="change">&quotn d -&gt; b n d&quot</a><a id="change">, b = b)</a>

        for i, (cross_attn, cross_ff, rev_cross_attn, rev_cross_ff, input_attn, latent_attn, latent_ff) in enumerate(self.layers):
            is_last = i == (len(self.layers) - 1)
</code></pre>