<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
def setup_module():
    import pytest

    <a id="change">try:
        </a>import numpy
    <a id="change">except </a>ImportError:
        <a id="change">pytest.skip("classify.doctest requires numpy"</a><a id="change">)</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
&#47&#47 most of classify.doctest requires numpy
def setup_module():
    import pytest
    <a id="change">pytest.importorskip("numpy"</a><a id="change">)</a>
</code></pre>