<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
def setup_module():
    import pytest

    <a id="change">try:
        </a>import gensim
    <a id="change">except </a>ImportError:
        <a id="change">pytest.skip("Gensim doctest requires gensim"</a><a id="change">)</a>
</code></pre><h3>After Change</h3><pre><code class='java'>

def setup_module():
    import pytest
    <a id="change">pytest.importorskip("gensim"</a><a id="change">)</a>
</code></pre>