<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        sig = nn.Sigmoid()

        <a id="change">return </a>sig(self.MLP_layer(hg))


class SAN_NodeLPE(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>

        readouts_to_cat = [dgl.readout_nodes(g, &quotf&quot, op=aggr) for aggr in self.readout_aggregators]
        readout = torch.cat(readouts_to_cat, dim=-1)
        <a id="change">return </a><a id="change">self.output(</a>readout<a id="change">)</a>


class SAN_NodeLPE(nn.Module):
    def __init__(self, node_dim, edge_dim, batch_norm_momentum, residual, in_feat_dropout, dropout,</code></pre>