<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.block = nn.ConvTranspose3d(in_planes, out_planes, kernel_size=2, stride=2, padding=0, output_padding=0)

    def forward(self, x):
        <a id="change">return </a><a id="change">self.block(</a>x<a id="change">)</a>

&#47&#47 blue box in Fig.1
class BlueBlock(nn.Module):
    def __init__(self, in_planes, out_planes):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.block = nn.ConvTranspose3d(in_planes, out_planes, kernel_size=2, stride=2, padding=0, output_padding=0)

    def forward(self, x):
        y<a id="change"> = </a><a id="change">self.block(</a>x<a id="change">)</a>
        <a id="change">return </a>y


&#47&#47 blue box in Fig.1</code></pre>