<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.layers.append(prenorm_fn(layer))

    def forward(self, x, context = None, mask = None, context_mask = None):
        <a id="change">for </a>(layer_type, block) in zip(self.layer_types, self.layers)<a id="change">:
            </a>if layer_type == &quota&quot:
                x = block(x, mask = mask, rel_pos = self.rel_pos) + x
            elif layer_type == &quotc&quot:
                x = block(x, context = context, mask = mask, context_mask = context_mask) + x</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x, context = None, mask = None, context_mask = None):
        prev_attn = None
        <a id="change">for </a>(<a id="change">layer_type</a>, (norm, block)) in zip(self.layer_types, self.layers)<a id="change">:
            </a>if self.pre_norm:
                x<a id="change"> = </a>norm(x)

            if layer_type == &quota&quot:
                attn_out<a id="change">, pre_attn</a> = block(x, mask = mask, rel_pos = self.rel_pos, prev_attn = prev_attn)
                x<a id="change"> = </a>x + attn_out
            elif layer_type == &quotc&quot:
                attn_out<a id="change">, pre_attn</a> = block(x, context = context, mask = mask, context_mask = context_mask, prev_attn = prev_attn) + x
                x = x + attn_out
            elif layer_type == &quotf&quot:
                x = block(x) + x

            <a id="change">if </a>isinstance(block, Attention) and self.residual_attn<a id="change">:
                </a>prev_attn = pre_attn

            if not self.pre_norm:
                x<a id="change"> = </a>norm(x)

        return x
</code></pre>