<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        mlmLoss = list()
        for mlm, logit, mask, target in zip(self._mLoss, predicts, masks, targets):
            mlmLoss.append(mlm(logit, target, mask))
        return (ssimLoss, l1l2Loss, sum<a id="change">(mlmLoss) / len(self._mLoss) + </a>0.1 * reg), (restored, codes, None, logits, None)


class Whole(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        mlmLoss = list()
        for mlm, logit, mask, target in zip(self._mLoss, predicts, masks, targets):
            mlmLoss.append(mlm(logit, target, mask))
        return (ssimLoss, l1l2Loss, sum(mlmLoss)<a id="change"> / </a><a id="change">len(</a>self._mLoss<a id="change">)</a>), (restored, codes, None, logits, None)


class Whole(nn.Module):</code></pre>