<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return len(self.d)

    def __str__(self):
        return &quot{&quot<a id="change"> + &quot, &quot.join(&quot%s: %s&quot % (v, self.d[v]) for v in self.d) + </a>&quot}&quot

    def __repr__(self):
        return "%s" % self</code></pre><h3>After Change</h3><pre><code class='java'>
        return len(self.d)

    def __str__(self):
        data_str = &quot, &quot.join(<a id="change">&quot%s: %s&quot</a> % (v, self.d[v]) for v in sorted(self.d.keys()))
        return &quot{&quot + data_str + &quot}&quot

    def __repr__(self):</code></pre>