<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        The second is achieved by adding 1 to vocabulary size.
        
        &#47&#47 the if-clause here looks a bit dumb, should we make it clearer?
        return sum(<a id="change">1</a> for item in self if item in self)<a id="change"> + </a>1

    def __eq__(self, other):
        return (super(self.__class__, self).__eq__(other)</code></pre><h3>After Change</h3><pre><code class='java'>

    def __len__(self):
        Computing size of vocabulary reflects the cutoff.
        return sum(<a id="change">1</a> for item in self)

    def __eq__(self, other):
        return (super(self.__class__, self).__eq__(other)</code></pre>