<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Note that we *must* loop over the counter&quots vocabulary so as to include
        padding symbols.
        
        return (sum(<a id="change">self</a>.model.score(w, context) for w in self.vocab)<a id="change">
                + </a>self.model.score(self.vocab.unk_label, context))


class BaseNgramModelTests(NgramModelBaseTest):</code></pre><h3>After Change</h3><pre><code class='java'>
        Note that we *must* loop over the counter&quots vocabulary so as to include
        padding symbols.
        
        return sum(<a id="change">self</a>.model.score(w, context) for w in self.vocab)


class BaseNgramModelTests(NgramModelBaseTest):</code></pre>