<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        means = self.means.type(dtype)
        x = F.normalize(x, 2, dim=-1).type(dtype)

        <a id="change">with </a><a id="change">torch.no_grad():
            </a>means, buckets, dists = kmeans(x, means, training=self.training, init=not self.initted)
            indices = distribution(dists, window_size)
            indices = indices.contiguous().view(*indices.size()[:2], -1)
</code></pre><h3>After Change</h3><pre><code class='java'>
        means = self.means.type(dtype)
        x = F.normalize(x, 2, dim=-1).type(dtype)

        <a id="change">with </a><a id="change">torch.no_grad():
            </a>dists<a id="change">, buckets = </a>dists_and_buckets(x, means)

        if update_means:
            with torch.no_grad():</code></pre>