<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for vq in self.vqs:
            _xq, _diff, _codes = vq(x - xq)
            diff = diff + _diff
            <a id="change">xq</a><a id="change"> = </a>xq + _xq
            codes.append(_codes)
        codes = torch.cat(codes, 1)
        <a id="change">return xq</a><a id="change">, (x - xq).pow(2).mean(), codes</a>

    def encode(self, x):
        return self.forward(x)[-1]
</code></pre><h3>After Change</h3><pre><code class='java'>
        all_losses = []
        all_indices = []

        n_q = n_q or <a id="change">len(</a>self.layers<a id="change">)</a>

        for layer in self.layers[:n_q]:
            quantized, indices, loss = layer(residual)
            residual = residual - quantized</code></pre>