<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        edge_index = radius_graph(pos, r=self.cutoff_upper, batch=batch)
        row, col = edge_index
        edge_weight<a id="change"> = </a><a id="change">(pos[row] - pos[col]).norm(dim=-1)</a>
        edge_attr = self.distance_expansion(edge_weight)

        if self.neighbor_embedding:
            x = self.neighbor_embedding(z, x, edge_index, edge_weight, edge_attr)</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, z, pos, batch=None):
        x = self.embedding(z)

        edge_index<a id="change">, edge_weight</a> = self.distance(pos, batch)
        edge_attr = self.distance_expansion(edge_weight)

        if self.neighbor_embedding:</code></pre>