<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                out = out + self.mean

        if self.dipole:
            out<a id="change"> = </a><a id="change">torch.norm(</a>out<a id="change">, dim=-1, keepdim=True)</a>

        if self.derivative:
            dy = -grad(out, pos, grad_outputs=torch.ones_like(out),
                    create_graph=True, retain_graph=True)[0]</code></pre><h3>After Change</h3><pre><code class='java'>
        representation = self.representation_model(z, pos, batch=batch)

        if len(representation) == 5:
            x<a id="change">, v, z, pos, batch</a> = representation
        else:
            v = None
            x, z, pos, batch = representation</code></pre>