<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            ns = scaled_attention_logits.size(-1)
            scaled_attention_logits += mask[ns - nd: ns, :ns] * -1e4

        <a id="change">if attention_mask is not None</a><a id="change">:
            &#47&#47 Apply the attention mask
            </a>scaled_attention_logits = scaled_attention_logits + attention_mask

        attention_weights = torch.softmax(scaled_attention_logits, dim=-1)
</code></pre><h3>After Change</h3><pre><code class='java'>
        scaled_attention_logits += mask[ns - nd: ns, :ns] * -1e4

        attention_weights = torch.softmax(scaled_attention_logits, dim=-1)
        scaled_attention<a id="change"> = </a><a id="change">torch.matmul(</a>attention_weights, v<a id="change">)</a>

        return scaled_attention

</code></pre>