<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        seq = self.embedding(seq_idx)
        pack = pack_padded_sequence(seq, seq_len, batch_first=True)
        h0 = <a id="change">torch.zeros(</a>self.num_layers, <a id="change">seq.shape[0]</a>, self.hidden_size<a id="change">)</a>
        if self.c is True:
            c0 = torch.zeros(self.num_layers, seq.shape[0], self.hidden_size)
            output, (hn, _) = self.rnn(pack, (h0, c0))
        else:</code></pre><h3>After Change</h3><pre><code class='java'>
        
        seq = self.embedding(seq_idx)
        pack = pack_padded_sequence(seq, seq_len.cpu(), batch_first=True, enforce_sorted=False).to(device)
        h0 = <a id="change">torch.zeros(self.num_layers, seq.shape[0], self.hidden_size).to(</a>device<a id="change">)</a>
        if self.c is True:
            c0 = torch.zeros(self.num_layers, seq.shape[0], self.hidden_size).to(device)
            output, (hn, _) = self.rnn(pack, (h0, c0))
        else:</code></pre>