<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        temp = self.tag_sents([tokens])
        &#47&#47 Handle the case where return more than one sentence. 
        &#47&#47 Note that if it is the case, user should use tag_sents instead  
        result<a id="change"> = []</a>
        for sent in temp:
            result += sent
        <a id="change">return </a>result 

    def tag_sents(self, sentences):
        encoding = self._encoding</code></pre><h3>After Change</h3><pre><code class='java'>
      raise NotImplementedError

    def tag(self, tokens):
        <a id="change">return </a>list(self.tag_sents([tokens]))

    def tag_sents(self, sentences):
        encoding = self._encoding</code></pre>