<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.layer_norm:
            h = self.ln0(h)  &#47&#47 (B, N, d)

        h += F.relu(<a id="change">self.fc(</a>h<a id="change">)</a>)  &#47&#47 (B, N, d)
        if self.layer_norm:
            h = self.ln1(h)  &#47&#47 (B, N, d)
</code></pre><h3>After Change</h3><pre><code class='java'>
        if self.layer_norm:
            h = self.ln0(h)  &#47&#47 (B, N, d)

        h<a id="change"> = </a>h + F.relu(<a id="change">self.fc(</a>h<a id="change">)</a>)  &#47&#47 (B, N, d)
        if self.layer_norm:
            h = self.ln1(h)  &#47&#47 (B, N, d)
</code></pre>