<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if first_input is not None:

            &#47&#47 Shape check
            if len(first_input[0].shape) &gt; 5 or <a id="change">len(first_input[0].shape) &lt; 2</a>:

                err_msg = (
                    &quotThe input of "linear" must be a tensor with one of the  &quot</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 Ensure kernel_size and padding are lists
        if not isinstance(self.kernel_size, list):
            self.kernel_size = [self.kernel_size]
        if <a id="change">self.padding is not None and not isinstance(self.padding, list)</a>:
            self.padding = [self.padding]

        &#47&#47 Making sure that the kernel size is odd (if the kernel is not</code></pre>