<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x2 = self.down2(x1)
        x3 = self.down3(x2)
        x4 = self.down4(x3)
        x5<a id="change"> = </a>self.down5(x4)

        x = self.up1(x5, x4)
        x = self.up2(x, x3)
        x = self.up3(x, x2)
        x<a id="change"> = </a>self.up4(x, x1)
        x = self.up5(x, x)
        x = self.outc(x)

        <a id="change">return </a>torch.sigmoid(x)
</code></pre><h3>After Change</h3><pre><code class='java'>
        up2 = self.up2(up1, down2)
        up3 = self.up3(up2, down1)

        out<a id="change"> = </a><a id="change">self.out(</a>up3<a id="change">)</a>

        <a id="change">return </a>out
</code></pre>