<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        if mask_nonlinear == &quotsigmoid&quot:
            self.mask_nonlinear2d = nn.Sigmoid()
        elif <a id="change"></a>mask_nonlinear == &quotsoftmax&quot<a id="change">:
            </a>self.mask_nonlinear2d<a id="change"> = </a><a id="change">nn.Softmax(dim=1)</a>
        else:
            raise NotImplementedError("")
        
        self.take_log, self.take_db = take_log, take_db</code></pre><h3>After Change</h3><pre><code class='java'>
        if mask_nonlinear == &quotsoftmax&quot:
            kwargs["dim"] = 1
        
        self.mask_nonlinear2d<a id="change"> = </a><a id="change">choose_nonlinear(</a>mask_nonlinear<a id="change">, **kwargs)</a>
        
        self.take_log, self.take_db = take_log, take_db
        self.eps = eps
</code></pre>