<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, num_features, eps=1e-5):
        super(ILN, self).__init__()
        self.eps = eps
        self.rho = Parameter(<a id="change">torch.Tensor(</a><a id="change">[1</a>, num_features, <a id="change">1</a>, <a id="change">1</a>]<a id="change">)</a>)
        self.gamma = Parameter(torch.Tensor([1, num_features, 1, 1]))
        self.beta = Parameter(torch.Tensor([1, num_features, 1, 1]))
        self.rho.data.fill_(0.0)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.eps = eps
        self.rho = Parameter(torch.Tensor(1, num_features, 1, 1))
        self.gamma = Parameter(torch.Tensor(1, num_features, 1, 1))
        self.beta = Parameter(<a id="change">torch.Tensor(</a>1, num_features, 1, 1<a id="change">)</a>)
        self.rho.data.fill_(0.0)
        self.gamma.data.fill_(1.0)
        self.beta.data.fill_(0.0)</code></pre>