<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )

        self.to_v = nn.Sequential(
            <a id="change">nn.Conv1d(</a>dim, inner_dim, <a id="change">1</a><a id="change">, bias = False)</a>,
            <a id="change">nn.Conv1d(</a>inner_dim, inner_dim, <a id="change">3</a><a id="change">, bias = False, groups = inner_dim)</a>
        )

        self.to_out = nn.Linear(inner_dim, dim, bias = False)
</code></pre><h3>After Change</h3><pre><code class='java'>

        self.norm = nn.LayerNorm(dim)

        self.to_qkv = <a id="change">nn.Conv1d(</a>dim, inner_dim * 3, <a id="change">1</a><a id="change">, bias = False)</a>

        &#47&#47 ds convs with different kernel sizes for 4 groups of heads

        self.qkv_ds_convs = nn.ModuleList([])</code></pre>