<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        out = rearrange(u_f * K_f, &quot... h d -&gt; ... (h d)&quot)

        out = <a id="change">irfft</a>(out, seq_len * 2, dim = -2)[..., <a id="change">:</a>seq_len, :]

        return out + residual
</code></pre><h3>After Change</h3><pre><code class='java'>

        out = conv1d_fft(u, K, dim = -3, weight_dim = -2)

        out = <a id="change">rearrange(</a>out, <a id="change">&quot... h d -&gt; ... (h d)&quot</a><a id="change">)</a>

        return out + residual

class GatedDsConv(nn.Module):</code></pre>