<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47     for layer in self.layers[:-1]:
        &#47&#47         print(&quotwent through 1 layer&quot)
        &#47&#47         x = F.relu(layer(x))
        for layer in self.layers[<a id="change">:(self.n_layers - 1)</a>]:

            x = F.leaky_relu(layer(x), negative_slope=self.neg_slope)        
        logits = F.softmax(self.layers[-1](x), dim=1)</code></pre><h3>After Change</h3><pre><code class='java'>
        x = x.reshape((batch_size, -1)).float()
        x = F.relu(self.dense(x))

        <a id="change">if self.neg_slope is not None</a><a id="change"> and not 0:
            </a>for layer in self.layers[:-1]:
                x = F.leaky_relu(layer(x), negative_slope=self.neg_slope)

        else:
            for layer in self.layers[:-1]:
                x<a id="change"> = </a>F.relu(layer(x))

        logits = F.softmax(self.layers[-1](x), dim=1)
        return logits, 0</code></pre>