<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

	def forward(self, row_index, ind, x, y = None):
		x = x.float()
		hs = <a id="change">[torch.randn(x.size(0), self.args[&quothidden_size&quot]).to(self.device) for _ in range(self.args[&quotnum_units&quot])]</a>
		cs = None
		if self.args[&quotrnn_cell&quot] == &quotLSTM&quot:
			cs = [torch.randn(x.size(0), self.args[&quothidden_size&quot]).to(self.device) for _ in range(self.args[&quotnum_units&quot])]
</code></pre><h3>After Change</h3><pre><code class='java'>
			preds = self.Linear(hs.contiguous().view(x.size(0), -1))
			preds_.append(preds)
			if y is not None:
				loss+=self.Loss(preds, <a id="change">y[:,i]</a>.squeeze().long())
		preds_ = torch.stack(preds_, dim = 1)
		if y is not None:
			loss/=len(xs)</code></pre>