<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.prelu4 = [nn.PReLU().to(self.device) for _ in range(self.agents)]
        self.fc2 = [nn.Linear(in_features=256, out_features=128).to(self.device) for _ in range(self.agents)]
        self.prelu5 = [nn.PReLU().to(self.device) for _ in range(self.agents)]
        self.fc3 = <a id="change">[nn.Linear(in_features=128, out_features=number_actions).to(self.device) for _ in range(self.agents)]</a>
        print("Network2d", self)


    def forward(self, input):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.prelu4 = nn.ModuleList([nn.PReLU().to(self.device) for _ in range(self.agents)])
        self.fc2 = nn.ModuleList([nn.Linear(in_features=256, out_features=128).to(self.device) for _ in range(self.agents)])
        self.prelu5 = nn.ModuleList([nn.PReLU().to(self.device) for _ in range(self.agents)])
        self.fc3 = <a id="change">nn.ModuleList(</a><a id="change">[nn.Linear(in_features=128, out_features=number_actions).to(self.device) for _ in range(self.agents)])</a>


    def forward(self, input):
        </code></pre>