<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                self.padding = self.padding[0]

            &#47&#47 Initialization of the parameters
            self.conv = <a id="change">nn.Conv1d(
                </a>self.in_channels,
                self.out_channels,
                self.kernel_size[0]<a id="change">,
                stride=self.stride[0],
                dilation=self.dilation[0],
                padding=0,
                groups=self.groups,
                bias=self.bias,
                padding_mode=self.padding_mode,
            )</a>

        &#47&#47 Managing 2d convolutions
        if self.conv2d:
</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Ensure kernel_size and padding are lists
        if not isinstance(self.kernel_size, list):
            self.kernel_size<a id="change"> = </a><a id="change">[</a>self.kernel_size<a id="change"></a>]
        if self.padding is not None and not isinstance(self.padding, list):
            self.padding = [self.padding]
</code></pre>