<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        A = B+C+D

        L = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        jjj = <a id="change">numpy.sum(</a>L<a id="change">)</a>
        cum = jjj * 2


        P = [1, 2, 3, 4, 5, 6, 7, 8, 9]</code></pre><h3>After Change</h3><pre><code class='java'>

        K = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        fff = 0
        <a id="change">for a</a> in L<a id="change">:
            </a>fff<a id="change"> += </a>a

        loo = fff*100
</code></pre>