<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class Test6 ():
    def add_arrays(self):
        Q = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        ccc = <a id="change">numpy.sum(</a>Q<a id="change">)</a>
        result=ccc*2
        return result

</code></pre><h3>After Change</h3><pre><code class='java'>
    def add_arrays(self):
        Q = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        bbb = 0
        <a id="change">for a</a> in Q<a id="change">:
            </a>bbb<a id="change"> += </a>a
        cum = bbb * 2
        return cum
</code></pre>