<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class Test1 ():
    def add_arrays(self):
        Z = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        aaa = <a id="change">numpy.sum(</a>Z<a id="change">)</a>
        mult = aaa*2
        return mult

</code></pre><h3>After Change</h3><pre><code class='java'>
    def add_arrays(self):
        Z = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        bbb = 0
        <a id="change">for y</a> in Z<a id="change">:
            </a>bbb<a id="change"> += </a>y
        sum = bbb * 2
        return sum
</code></pre>