<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                self._path = path.join(environ[&quotSENNA&quot],&quot&quot)  
                senna_binary_file = self.executable(self._path)
                if not path.isfile(senna_binary_file):
                    <a id="change">raise </a>ExecutableNotFound(<a id="change">"Senna executable expected at %s but not found"</a><a id="change"> %
                                  </a>senna_binary_file)
                    
        &#47&#47 Build the senna command to run the tagger
        _senna_cmd = [senna_binary_file, &quot-path&quot, self._path, &quot-usrtokens&quot, &quot-iobtags&quot]</code></pre><h3>After Change</h3><pre><code class='java'>
        encoding = self._encoding
         
        &#47&#47 Build the senna command to run the tagger
        _senna_cmd = <a id="change">[</a>self.executable(self._path), &quot-path&quot, self._path, &quot-usrtokens&quot, &quot-iobtags&quot<a id="change"></a>]
        _senna_cmd.extend([&quot-&quot+op for op in self.operations])

        &#47&#47 Serialize the actual sentences to a temporary string</code></pre>