<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            the mask for the src keys per batch (optional).
        
        in_shape = src.shape
        <a id="change">if </a>self.reshape<a id="change">:
            </a>src<a id="change"> = </a>src.reshape(
                in_shape[0], in_shape[1], in_shape[2] * in_shape[3]
            )
</code></pre><h3>After Change</h3><pre><code class='java'>
            the mask for the src keys per batch (optional).
        
        if self.normalize_before:
            src1<a id="change"> = </a><a id="change">self.norm1(</a>src<a id="change">)</a>
        else:
            src1 = src

        output, self_attn = self.self_att(</code></pre>