<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 sum(-logP) / ()
        &#47&#47 bppLoss = (F.cross_entropy(l1, c1, reduction="mean") + F.cross_entropy(l2, c2, reduction="mean")) / math.log(2)

        l1 = l1.mean((2<a id="change">,3</a>))
        l2 = l2.mean((2,3))

        posterior1 = torch.distributions.Categorical(logits=l1)</code></pre><h3>After Change</h3><pre><code class='java'>
            reg = torch.distributions.kl_divergence(posterior, prior).mean()
            regs.append(reg)

        <a id="change">return </a>ssimLoss, contextLoss, <a id="change">sum(</a>regs<a id="change">)</a>


class CompressionLossQ(nn.Module):
    def __init__(self):</code></pre>