<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                 stage_with_gcb_str=&quot0,1,2,3&quot):
        super(Baseline, self).__init__()
        stage_with_gcb = [False, False, False, False]
        <a id="change">if </a>gcb and stage_with_gcb_str<a id="change">:
            </a>stage_with_gcb_list<a id="change"> = </a><a id="change">map(</a>int, stage_with_gcb_str.split(&quot,&quot)<a id="change">)</a>
            for n in stage_with_gcb_list:
                stage_with_gcb[n] = True
        if num_layers in [50, 101, &quot101_32x8d&quot]:
            if num_layers == 50:</code></pre><h3>After Change</h3><pre><code class='java'>
        self._init_bn(self.bn)

        self.loss_type = loss_type
        <a id="change">if </a>&quotsoftmax&quot in self.loss_type<a id="change">:
            </a>self.fc_layer = nn.Sequential(nn.Dropout(), nn.Linear(reduce_dim, num_classes))
            self._init_fc(self.fc_layer)
            if &quotlabelsmooth&quot in self.loss_type:
                self.ce_loss<a id="change"> = </a>CrossEntropyLabelSmooth(num_classes)
            else:
                self.ce_loss = nn.CrossEntropyLoss()  &#47&#47 .cuda()
        elif &quotarcface&quot in self.loss_type:</code></pre>