<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :param dropout_rate: if 0 will not include the dropout layers
        
        super().__init__()
        <a id="change">layer_list</a> = []
        layer_list.append(nn.Conv2d(in_ch, layers_description[0], kernel_size=1, stride=1))
        <a id="change">layer_list.append(</a>nn.ReLU()<a id="change">)</a>
        if dropout_rate is not None and dropout_rate &gt; 0:
            <a id="change">layer_list.append(</a>nn.Dropout(p=dropout_rate)<a id="change">)</a>
        last_layer_size = layers_description[0]
        for curr_layer_size in layers_description[1:]:
            layer_list.append(nn.Conv2d(last_layer_size, curr_layer_size, kernel_size=1, stride=1))
            layer_list.append(nn.ReLU())</code></pre><h3>After Change</h3><pre><code class='java'>
        last_layer_size = in_ch

        for i in range(len(layers_description)):
            curr_layer_size = <a id="change">layers_description[i]</a>
            layer_list.append(nn.Conv2d(last_layer_size, curr_layer_size, kernel_size=1, stride=1))
            layer_list.append(nn.ReLU())
            if dropout_rate is not None and dropout_rate &gt; 0:
                layer_list.append(nn.Dropout(p=dropout_rate))</code></pre>