<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            &#47&#47 this input size is accurate for Atari, but will be ovewritten for other envs
            {&quotin_dim&quot: 64*7*7},
        ]
        <a id="change">dense_arch[0][&quotin_dim&quot]</a> = dense_in_dim
        dense_arch[-1][&quotout_dim&quot] = representation_dim

        &#47&#47 apply the dense layers</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 now customise the dense layers to handle an appropriate-sized conv output
        dense_in_dim, = compute_output_shape(observation_space, deconv_layers + [nn.Flatten()])
        dense_arch<a id="change"> = </a><a id="change">[</a>{&quotin_dim&quot: dense_in_dim, &quotout_dim&quot: representation_dim}<a id="change"></a>]
        <a id="change">print(</a>dense_arch<a id="change">)</a>
        &#47&#47 apply the dense layers
        for ind, layer_spec in enumerate(dense_arch[:-1]):
            dense_layers.append(nn.Linear(layer_spec[&quotin_dim&quot], layer_spec[&quotout_dim&quot]))
            dense_layers.append(nn.ReLU())</code></pre>