<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return Instance.__str__(self)
        
    def as_line(self):
        return self.attr_values_as_str()<a id="change"> + </a><a id="change">str(</a>self.klass_value<a id="change">)</a> + &quot,&quot +str(self.classifiedKlass)</code></pre><h3>After Change</h3><pre><code class='java'>
        
    def as_line(self):
        training_as_line = TrainingInstance.as_line(self)
        <a id="change">if self.classifiedKlass == None</a><a id="change">:
            </a><a id="change">return </a>training_as_line
        return training_as_line + &quot,&quot + self.classifiedKlass</code></pre>