<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if self._cached:
                self._cached_h = feat

        return <a id="change">self.linear(</a>feat<a id="change">)</a>
    
    def extra_repr(self):
        Set the extra representation of the module,</code></pre><h3>After Change</h3><pre><code class='java'>
            if self._cached:
                self._cached_h = feat

        <a id="change">if self.weight is not None</a><a id="change">:
            </a>feat<a id="change"> = </a>feat<a id="change"> @ </a>self.weight

        <a id="change">if self.bias is not None</a><a id="change">:
            </a>feat<a id="change"> = </a>feat<a id="change"> + </a>self.bias

        return feat
</code></pre>