<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 print(attn.shape)
        out = einsum(&quotb h i j, b h j d -&gt; b h i d&quot, attn, v)
        out = rearrange(out, &quotb h n d -&gt; b n (h d)&quot)
        return <a id="change">self.to_out(</a>out<a id="change">)</a>, attn


class CrossAttention(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
            print(&quotadd pos_embeddings to q and k&quot)
            q = q + pos_embeddings
            k = k + pos_embeddings
            <a id="change">if </a>self.AddPosEmb2Value<a id="change">:
                </a>print(&quotadd pos_embeddings to v&quot)
                v<a id="change"> = </a>v + pos_embeddings

        &#47&#47 self attention
        attn_q, attn_map = self.Attention(q, k, v)  &#47&#47 attn_q has same shape with q</code></pre>