<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        h = self.block2(h, scale_shift=scale_shift)

        return h + <a id="change">self.to_out(</a>x<a id="change">)</a>


class InsertNullTokens(nn.Module):
    def __init__(self, head_features: int, num_heads: int):</code></pre><h3>After Change</h3><pre><code class='java'>
            x = block(x, t)
            skips += [x]

        <a id="change">if </a>self.use_attention<a id="change">:
            </a>x = self.transformer(x)
            skips<a id="change"> += </a>[x]

        if not self.use_pre_downsample:
            x = self.downsample(x)</code></pre>