<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.channels = channels
        self.self_condition = self_condition
        input_channels = channels * (2<a id="change"> if </a>self_condition<a id="change"> else </a>1)

        init_dim = default(init_dim, dim)
        self.init_conv = nn.Conv2d(input_channels, init_dim, 7, padding = 3)</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 for initial dwt transform (or whatever transform researcher wants to try here)

        <a id="change">if </a><a id="change">exists(</a>init_img_transform<a id="change">)</a> and exists(final_img_itransform)<a id="change">:
            </a>init_shape<a id="change"> = </a>torch.Size(1, 1, 32, 32)
            mock_tensor = torch.randn(init_shape)
            <a id="change">assert </a>final_img_itransform(init_img_transform(mock_tensor)).shape == init_shape

        self.init_img_transform = default(init_img_transform, identity)
        self.final_img_itransform = default(final_img_itransform, identity)</code></pre>