<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        C3, C4, C5 = inputs
        up5 = self.P5_upsampled(C5)
        concat1 = self.concat([up5, C4])
        p41<a id="change"> = </a>self.P4_1(concat1)
        P4 = self.P4_2(p41)
        up4 = self.P4_upsampled(P4)
        P3 = self.concat([C3, up4])
        P5<a id="change"> = </a>C5
        <a id="change">return </a>P3<a id="change">, P4, P5</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, inputs):
        C3, C4, C5 = inputs
    
        P5<a id="change"> = </a>self.P5(C5) 
        up5 = self.P5_upsampled(P5)
        concat1 = self.concat([up5, C4])
        conv1 = self.conv1(concat1)

        P4<a id="change"> = </a>self.P4(conv1)
        up4 = self.P4_upsampled(P4)
        concat2 = self.concat([C3, up4])
        
        PP3<a id="change"> = </a>self.P3(concat2)

        <a id="change">return </a>PP3<a id="change">, P4, P5</a></code></pre>