<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.denoising_mean = self.denoising.mean_mode
        &#47&#47 output_channels in denoising may be double, therefore we
        &#47&#47 get number of channels from config
        image_channels = <a id="change">self._denoising_cfg.get(&quotin_channels&quot</a><a id="change">)</a>
        &#47&#47 image_size should be the attribute of denoising network
        image_size = self.denoising.image_size

        image_shape = torch.Size([image_channels, image_size, image_size])</code></pre><h3>After Change</h3><pre><code class='java'>
        self.denoising_mean_mode = self.denoising.mean_mode
        &#47&#47 output_channels in denoising may be double, therefore we
        &#47&#47 get number of channels from config
        image_channels = <a id="change">self._denoising_cfg[&quotin_channels&quot]</a>
        &#47&#47 image_size should be the attribute of denoising network
        image_size = self.denoising.image_size

        image_shape = torch.Size([image_channels, image_size, image_size])</code></pre>