<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.output_channel_bits = output_channel_bits
        self.max_pixel_val = max_pixel_val

        <a id="change">if mean</a><a id="change">:
            </a>self.mean<a id="change"> = </a>torch.tensor(mean).view(-1, 1, 1)
        else:
            self.mean<a id="change"> = </a>None
        if std:
            self.std = torch.tensor(std).view(-1, 1, 1)
        else:</code></pre><h3>After Change</h3><pre><code class='java'>
        self.max_pixel_val = max_pixel_val

        self.mean = torch.tensor(mean).view(-1, 1, 1) if mean else None
        self.std = torch.tensor(std).view(-1, 1, 1)<a id="change"> if </a>std<a id="change"> else </a>None

    def forward(self, predicted_patches, target, mask):
        p, c, mpv, bits, device = self.patch_size, self.channels, self.max_pixel_val, self.output_channel_bits, target.device</code></pre>