<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x: torch.Tensor) -&gt; torch.Tensor:
        if self.training:
            mask<a id="change"> = </a>x == 0.0
            result<a id="change"> = </a>self.layer(x)
            <a id="change">return </a><a id="change">torch.masked_fill(</a>result, mask, <a id="change">0.0</a><a id="change">)</a>
        else:
            return self.layer(x)

</code></pre><h3>After Change</h3><pre><code class='java'>
        if self.use_mask:
            x = self.mask_fill(x, lens)
        out = self.conv(x)
        <a id="change">return </a>out, self.get_seq_len(lens)


def _get_conv_bn_layer(</code></pre>