<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            batch, permutation_dim, -1
        )

        <a id="change">if self.combining_operation == "mean"</a><a id="change">:
            </a>e = iid_embeddings.mean(dim=1)
        elif <a id="change">self.combining_operation == "sum"</a><a id="change">:
            </a>e = iid_embeddings.sum(dim=1)
        else:
            <a id="change">raise </a><a id="change">ValueError("combining_operation must be in [&quotsum&quot, &quotmean&quot]."</a><a id="change">)</a>

        embedding = self.fc_subnet(e)

        return embedding</code></pre><h3>After Change</h3><pre><code class='java'>

            combined_embedding = torch.stack(combined_embedding, dim=0)

        <a id="change">assert </a>not torch.isnan(combined_embedding).any(), "NaNs in embedding."

        &#47&#47 add number of trials as additional input
        &#47&#47 print(torch.cat([combined_embedding, trial_counts], dim=1))</code></pre>