<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

class RandomGamma(nn.Module):
    def forward(self, x: torch.Tensor) -&gt; torch.Tensor:
        randomChoice = torch.randint(0, 4, (<a id="change">len(</a>x<a id="change">)</a>, ))
        x[randomChoice == 0] = srgbToLinear(x[randomChoice == 0])
        x[randomChoice == 1] = linearToSrgb(x[randomChoice == 1])
        x[randomChoice == 2]<a id="change"> = </a>randomGamma(x[randomChoice == 2], torch.rand((x[randomChoice == 2].shape[0], ), device=x.device)<a id="change"> * 1.95</a> + 0.05)
        return x

</code></pre><h3>After Change</h3><pre><code class='java'>
    ]
    def forward(self, x: torch.Tensor) -&gt; torch.Tensor:
        choice = random.randint(0, 3)
        <a id="change">return </a>self._fns[choice](x)


class DeTransform(nn.Module):</code></pre>