<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if normalize:
            layers.append(nn.InstanceNorm2d(out_size))
        layers.append(nn.LeakyReLU(0.2))
        <a id="change">if </a>dropout<a id="change">:
            </a>layers.append(<a id="change">nn.Dropout(</a>dropout<a id="change">)</a>)
        self.model = nn.Sequential(*layers)

    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
class UnetDown(nn.Module):
    def __init__(self, in_size, out_size):
        super(UnetDown, self).__init__()
        layers = <a id="change">[</a>Conv3(in_size, out_size), nn.MaxPool2d(2)<a id="change"></a>]
        self.model = nn.Sequential(*layers)

    def forward(self, x):</code></pre>