<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            Warped sequence.

        
        y = <a id="change">torch.matmul(</a>x, self.A<a id="change"> if </a><a id="change">x.dtype == self.A.dtype else </a><a id="change">self.A.double())</a>
        return y
</code></pre><h3>After Change</h3><pre><code class='java'>
            Warped sequence.

        
        A = self.A<a id="change"> if </a><a id="change">x.dtype == self.A.dtype else </a><a id="change">self.A.double()</a>
        y<a id="change"> = torch.matmul(</a>x, A<a id="change">)</a>
        return y
</code></pre>