<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    

    def __init__(self, n_e, e_dim, beta):
        <a id="change">super(</a>VectorQuantizer, self<a id="change">)</a>.__init__()
        self.n_e = n_e
        self.e_dim = e_dim
        self.beta = beta</code></pre><h3>After Change</h3><pre><code class='java'>
        self.remap = remap
        if self.remap is not None:
            self.register_buffer("used", torch.tensor(np.load(self.remap)))
            self.re_embed = <a id="change">self.used.shape[0]</a>
            self.unknown_index = unknown_index &#47&#47 "random" or "extra" or integer
            if self.unknown_index == "extra":
                self.unknown_index = self.re_embed
                self.re_embed = self.re_embed+1</code></pre>