<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 pad for last token in video

        if padding &gt; 0:
            x = <a id="change">F.pad(</a>x, (0, 0, 0, padding)<a id="change">, value = 0.)</a>

        &#47&#47 derive queries / keys / values

        q, k, v = (self.to_q(x), *self.to_kv(x).chunk(2, dim = -1))</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 pad for last token in video

        padded_x = <a id="change">F.pad(</a>x, (0, 0, 0, padding)<a id="change">, value = 0.) if </a>padding &gt; 0<a id="change"> else </a>x

        &#47&#47 derive queries / keys / values
</code></pre>