<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, codes):
        &#47&#47 [n, c, h, w]
        <a id="change">return </a><a id="change">self.decode(</a>codes<a id="change">)</a>


class RefEncoder(nn.Module):
    def __init__(self, m, k, channel, groups, alias):</code></pre><h3>After Change</h3><pre><code class='java'>
        n, h, w, _ = codes.shape
        &#47&#47 use codes to index codebook (m, k, d) ==&gt; [n, h, w, m, k] -&gt; [n, c, h, w]
        &#47&#47 ix = torch.arange(self._m, device=codes.device).expand_as(codes)
        ix<a id="change"> = </a>self._ix.expand_as(codes)
        <a id="change">return </a>self._codebook[ix<a id="change">, codes</a>].reshape(n, h, w, -1).permute(0, 3, 1, 2)
        &#47&#47 return self.decode(codes)

</code></pre>