<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        varPosterior = Categorical(logits=logit)
        sample = self._method(varPosterior)
        quantized = torch.einsum("znhwmk,mkd-&gt;znhwmd", sample, v).reshape(-1, n, h, w, c).permute(0, 1, 4, 2, 3)
        return quantized, <a id="change">logit.argmax(-1</a><a id="change">)</a>.byte(), logit
</code></pre><h3>After Change</h3><pre><code class='java'>
        varPosterior = Categorical(logits=logit)
        sample = self._method(varPosterior)
        quantized = torch.einsum("znhwmk,mkd-&gt;znhwmd", sample, v).reshape(-1, n, h, w, c).permute(0, 1, 4, 2, 3)
        return quantized, <a id="change">logit.argmax(-1</a><a id="change">)</a>, logit
</code></pre>