<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if key_pos is not None:
            key = key + key_pos

        out<a id="change"> = </a><a id="change">self.attn(
            query=query,
            key=key,
            value=value,
            attn_mask=attn_mask,
            key_padding_mask=key_padding_mask,
        )</a>[0]

        return identity + self.proj_drop(out)
</code></pre><h3>After Change</h3><pre><code class='java'>
                pos=pos,
                query_pos=query_pos,
            )
            <a id="change">if </a>self.return_intermediate<a id="change">:
                </a>intermediate.append(self.norm(output))

        if self.norm is not None:
            output = self.norm(output)</code></pre>