<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        x = self.downsmaple(x)

        <a id="change">for </a><a id="change">layer</a> in self.encoder<a id="change">:
            </a>x<a id="change"> = </a><a id="change">layer(</a>x<a id="change">)</a>
        
        x, cam_logit = self.cam(x)
        x<a id="change"> = </a>F.relu(x)
        
        gamma, beta = self.gamma_beta(x)
</code></pre><h3>After Change</h3><pre><code class='java'>
        x = self.up(x)
        x = self.output(x)

        <a id="change">if </a>return_heatmap<a id="change">: &#47&#47 we don&quott need heatmap when training
            </a>return x, cam_logit, heatmap
        return x, cam_logit

</code></pre>