<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                )

            &#47&#47 transform residual for flattened_grn
            self.residual_norm = <a id="change">nn.LayerNorm(</a>self.num_inputs<a id="change">)</a>

        self.single_variable_grns = nn.ModuleDict()
        for name, input_size in self.input_sizes.items():
            if name in single_variable_grns:</code></pre><h3>After Change</h3><pre><code class='java'>
                if name in prescalers:
                    self.prescalers[name] = prescalers[name]
                else:
                    self.prescalers[name]<a id="change"> = </a><a id="change">nn.Linear(</a>1, input_size<a id="change">)</a>  &#47&#47 reals need to be first scaled up
                self.single_variable_grns[name] = GatedResidualNetwork(
                    input_size,
                    self.hidden_size,  &#47&#47 alternative: min(input_size, self.hidden_size),</code></pre>