<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.pos_encoding = nn.Embedding(100, self.config.hidden_size)

        self.dropout = nn.Dropout(0.1)
        self.scale = <a id="change">torch.sqrt(</a><a id="change">torch.FloatTensor(</a>self.config.hidden_size<a id="change">))</a>

        self.fc_out = nn.Linear(self.config.hidden_size, self.config.vocab_size)

        self.transformer = nn.Transformer(d_model=self.config.hidden_size, nhead=self.config.num_attention_heads, activation=self.config.hidden_act)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.pos_encoding = nn.Embedding(100, self.config.hidden_size)

        self.dropout = nn.Dropout(0.1)
        self.scale = <a id="change">torch.sqrt(torch.FloatTensor(self.config.hidden_size)).to(</a>self.args.device<a id="change">)</a>

        self.fc_out = nn.Linear(self.config.hidden_size, self.config.vocab_size)

        self.transformer = nn.Transformer(d_model=self.config.hidden_size, nhead=self.config.num_attention_heads, activation=self.config.hidden_act)</code></pre>