<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.queues = None
        if n_queues &gt; 0:
            self.queues = <a id="change">[MemoryBankModule(size=queue_length) for _ in range(n_queues)]</a>
            self.queues = nn.ModuleList(self.queues)
            self.queue_length = queue_length
            self.num_features_queued = 0
            self.start_queue_at_epoch = start_queue_at_epoch</code></pre><h3>After Change</h3><pre><code class='java'>
        self.prototypes = SwaVPrototypes(128, 512, 1)

        self.start_queue_at_epoch = 2
        self.queues = <a id="change">nn.ModuleList(</a><a id="change">[MemoryBankModule(size=3840) for _ in range(2)])</a>

    def forward(self, high_resolution, low_resolution, epoch):
        self.prototypes.normalize()
</code></pre>