<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.conv3 = nn.Conv3d(in_channels=64, out_channels=64, kernel_size=(3,3,3)).to(self.device)
        self.prelu3 = nn.PReLU().to(self.device)

        self.fc1 = <a id="change">[nn.Linear(in_features=512, out_features=256).to(self.device) for _ in range(self.agents)]</a>
        self.prelu4 = [nn.PReLU().to(self.device) for _ in range(self.agents)]
        self.fc2 = [nn.Linear(in_features=256, out_features=128).to(self.device) for _ in range(self.agents)]
        self.prelu5 = [nn.PReLU().to(self.device) for _ in range(self.agents)]
        self.fc3 = [nn.Linear(in_features=128, out_features=number_actions).to(self.device) for _ in range(self.agents)]</code></pre><h3>After Change</h3><pre><code class='java'>
        self.conv3 = nn.Conv3d(in_channels=64, out_channels=64, kernel_size=(3,3,3)).to(self.device)
        self.prelu3 = nn.PReLU().to(self.device)

        self.fc1 = <a id="change">nn.ModuleList(</a><a id="change">[nn.Linear(in_features=512, out_features=256).to(self.device) for _ in range(self.agents)])</a>
        self.prelu4 = nn.ModuleList([nn.PReLU().to(self.device) for _ in range(self.agents)])
        self.fc2 = nn.ModuleList([nn.Linear(in_features=256, out_features=128).to(self.device) for _ in range(self.agents)])
        self.prelu5 = nn.ModuleList([nn.PReLU().to(self.device) for _ in range(self.agents)])
        self.fc3 = nn.ModuleList([nn.Linear(in_features=128, out_features=number_actions).to(self.device) for _ in range(self.agents)])</code></pre>