<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            inputs: network output tensor with r x memory_dim feature dimension.
            rnn_hidden: hidden state of the RNN cell.
        
        rnn_hidden<a id="change"> = </a>self.rnn(inputs, rnn_hidden)
        outputs = self.relu(rnn_hidden)
        outputs = self.linear(outputs)
        outputs = self.sigmoid(outputs)
        <a id="change">return </a>outputs<a id="change">, rnn_hidden</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, inputs):
        &#47&#47 rnn_hidden = self.rnn(inputs, rnn_hidden)
        &#47&#47 outputs = self.relu(rnn_hidden)
        outputs<a id="change"> = </a><a id="change">self.dropout(</a>inputs<a id="change">)</a>
        outputs = self.linear(outputs)
        outputs = self.sigmoid(outputs)
        return outputs</code></pre>