<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 [n, m, h, w]
        code = quantized.argmax(-1)
        &#47&#47      [n, m * k, h, w]
        <a id="change">return </a>quantized.permute(0, 1, 4, 2, 3).reshape(n, -1, h, w)<a id="change">, code, logit</a>


class _multiCodebookDeQuantization(nn.Module):
    def __init__(self, channel: int, m: int, k: int):</code></pre><h3>After Change</h3><pre><code class='java'>
        n, _, h, w = x.shape
        sample, logit = self._sample(x)
        &#47&#47 [n, m, h, w]
        code = <a id="change">sample.argmax(-1</a><a id="change">)</a>
        &#47&#47      [n, m, h, w, k]
        return sample, code, logit

</code></pre>