<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.ups = nn.ModuleList([])
        num_resolutions = len(in_out)

        for ind, ((dim_in, dim_out), layer_num_resnet_blocks, groups, layer_attn, layer_cross_attn) in enumerate(<a id="change">zip(</a>in_out, num_resnet_blocks, resnet_groups, layer_attns, layer_cross_attns<a id="change">)</a>):
            is_first<a id="change"> = </a>ind == 0
            is_last = ind &gt;= (num_resolutions - 1)
            layer_cond_dim = cond_dim if layer_cross_attn else None
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.mid_attn = EinopsToAndFrom(&quotb c h w&quot, &quotb (h w) c&quot, Residual(Attention(mid_dim, **attn_kwargs))) if attend_at_middle else None
        self.mid_block2 = ResnetBlock(mid_dim, mid_dim, cond_dim = cond_dim, time_cond_dim = time_cond_dim, groups = resnet_groups[-1])

        for ind, ((dim_in, dim_out), layer_num_resnet_blocks, groups, layer_attn, layer_cross_attn) in enumerate(<a id="change">zip(</a>reversed(in_out[1:]), *<a id="change">reversed_layer_params)</a>):
            layer_cond_dim = cond_dim if layer_cross_attn else None

            self.ups.append(nn.ModuleList([</code></pre>