<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            x = self.downsample(x)

        skips = []
        <a id="change">for block</a> in self.blocks<a id="change">:
            </a>x<a id="change"> = </a><a id="change">block(</a>x, t<a id="change">)</a>
            skips += [x]

        if self.use_attention:
            x = self.transformer(x)</code></pre><h3>After Change</h3><pre><code class='java'>

        h = self.block2(h, scale_shift=scale_shift)

        <a id="change">return </a>h + self.to_out(x)


class InsertNullTokens(nn.Module):</code></pre>