<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
			content_code = content_code + noise

		class_code = self.class_embedding(class_id)
		class_code_repeated = <a id="change">class_code.view((batch_size, -1, 1, 1)).repeat(</a>(1<a id="change">, 1, 16, 16</a>)<a id="change">)</a>
		x = torch.cat((content_code, class_code_repeated), dim=1)

		for block in self.adains:
			x = block(x, class_code)</code></pre><h3>After Change</h3><pre><code class='java'>
		batch_size = content_img_id.shape[0]

		content_code = self.content_embedding(content_img_id)
		content_code = content_code.view((batch_size<a id="change">, -1, 16, 16</a>))

		if self.training and self.config[&quotcontent_std&quot] != 0:
			noise = torch.zeros_like(content_code)</code></pre>