<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        kv = torch.cat((x, mem, keys))

        attn_shape = (t, kv.shape[0])
        attn_mask<a id="change"> = </a><a id="change">torch.zeros(</a>*<a id="change">attn_shape, device=x.device)</a>
        if self.causal:
            i, j = torch.triu_indices(t, t, 1)
            attn_mask[i, j] = float(&quot-inf&quot)
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.causal = causal

    def forward(self, qk, v, query_len = None):
        query_len = default(query_len, <a id="change">qk.shape[1]</a>)
        t = query_len

        q = qk[:, 0:query_len]</code></pre>