<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for i in range(target.shape[1]):
            if i != self.ignore_index:
                dice_loss, _ = dice(predict[:, i], {&quottargets&quot: target[:, i]}, device)
                <a id="change">if </a>self.weight is not None<a id="change">:
                    </a><a id="change">assert </a>self.weight.shape[0] == target.shape[1], \
                        &quotExpect weight shape [{}], get[{}]&quot.format(target.shape[1], self.weight.shape[0])
                    dice_loss *= self.weights[i]
                total_loss += dice_loss</code></pre><h3>After Change</h3><pre><code class='java'>
        inputs = inputs.view(-1)
        targets = targets.view(-1)
        
        intersection = <a id="change">(inputs * targets).sum()</a>                            
        dice = (2.*intersection + self.eps)<a id="change">/</a>(<a id="change">inputs.sum() + targets.sum() + </a>self.eps)  
        
        loss =  1 - dice
</code></pre>