<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        a, b = input  &#47&#47&#47&#47------------------ edited to fix error in len(input tensor) which behaves like a tensor with extra features
    
        
        if <a id="change">len(a) == 2</a>:
        &#47&#47if isinstance(a, tuple):
            out, mask = a
            extra = b</code></pre><h3>After Change</h3><pre><code class='java'>
        
        a, b = input  
    
        if <a id="change">isinstance(</a>a, tuple<a id="change">)</a>:
            out, mask = a
            extra = b
            if len(extra) == 2:</code></pre>