<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                            "&quot+&quot or &quot-&quot.  Got %s" % (flag,))
                except (AttributeError, KeyError):
                    raise ValueError("Unknown doctest option %s" %
                                     (<a id="change">flag[1:]</a>,))


</code></pre><h3>After Change</h3><pre><code class='java'>
                        self.optionflags |= doctest.OPTIONFLAGS_BY_NAME[stroption[1:]]
                        continue
                    elif stroption.startswith(&quot-&quot):
                        self.optionflags &= ~doctest.OPTIONFLAGS_BY_NAME[<a id="change">stroption[1:]</a>]
                        continue
                    try:
                        key,value=stroption.split(&quot=&quot)</code></pre>