<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if len(ngram) == 1:
                context, word = None, ngram[0]
            else:
                context, word = <a id="change">ngram[:-1]</a>, ngram[-1]
            score = self.score(word, context)
            H -= score * log_base2(score)
        return H</code></pre><h3>After Change</h3><pre><code class='java'>
        :rtype: float

        
        return -1 * np.mean([self.logscore(ngram[-1], <a id="change">ngram[:-1]</a>) for ngram in text_ngrams])

    def perplexity(self, text_ngrams):
        Calculates the perplexity of the given text.</code></pre>