<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            layer_output_list = layer_output_list[-1:]
            last_state_list = last_state_list[-1:]

        <a id="change">return </a>layer_output_list, last_state_list

    def _init_hidden(self, batch_size, image_size):
        init_states = []</code></pre><h3>After Change</h3><pre><code class='java'>
        -------
        last_state_list, layer_output
        
        cur_layer_input = <a id="change">torch.unbind(</a>input<a id="change">, dim=int(self.batch_first))</a>

        if not hidden_state:
            hidden_state = self.get_init_states(cur_layer_input[0].size(int(not self.batch_first)))

        seq_len<a id="change"> = </a>len(cur_layer_input)

        layer_output_list = []
        last_state_list = []</code></pre>