<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            output.append(hidden_state)
        &#47&#47 Stack the list of output hidden states into a tensor
        output = torch.stack(output, 0)
        <a id="change">return </a>output


&#47&#47 --------------------------------------------------------------------------</code></pre><h3>After Change</h3><pre><code class='java'>
        last_state_list, layer_output
        
        input = self.input_dp(input)
        cur_layer_input<a id="change"> = </a><a id="change">torch.unbind(</a>input<a id="change">, dim=int(self.batch_first))</a>

        if hidden_state is None:
            hidden_state = self.get_init_states(cur_layer_input[0])
</code></pre>