<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.layer_count = layer_count
        self.sample_token_count = sample_token_count
        self.start_token = torch.tensor([start_token]).to(torch.long)
        self.pad_token<a id="change"> = </a>torch.tensor(<a id="change">[</a>1<a id="change"></a>]).to(torch.long)
        self.condition_factor = torch.tensor([10]).to(torch.float)
        &#47&#47 if torch.cuda.is_available(): 
        &#47&#47     self.start_token = self.start_token.cuda()</code></pre><h3>After Change</h3><pre><code class='java'>
            attention_head_count,
            embed_count // attention_head_count
        )
        self.zero_prob = <a id="change">torch.zeros(</a>[1]<a id="change">)</a>
        self.token_indices = torch.arange(self.sample_token_count)
        self.start_token = torch.tensor([start_token]).to(torch.long)
        if torch.cuda.is_available():
            self.zero_prob = self.zero_prob.cuda()</code></pre>