<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.encoder = encoder
        num_patches, encoder_dim = encoder.pos_embedding.shape[-2:]
        self.to_patch<a id="change">, self.patch_to_emb</a> = encoder.to_patch_embedding[:2]
        pixel_values_per_patch = self.patch_to_emb.weight.shape[-1]

        &#47&#47 decoder parameters</code></pre><h3>After Change</h3><pre><code class='java'>
        num_patches, encoder_dim = encoder.pos_embedding.shape[-2:]

        self.to_patch = encoder.to_patch_embedding[0]
        self.patch_to_emb<a id="change"> = </a><a id="change">nn.Sequential(</a>*<a id="change">encoder.to_patch_embedding[1:])</a>

        pixel_values_per_patch = encoder.to_patch_embedding[2].weight.shape[-1]

        &#47&#47 decoder parameters</code></pre>