<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47&#47&#47 perform addition to calculate the score

        &#47&#47 hidden_with_time_axis shape == (batch_size, 1, hidden_dim)
        <a id="change">print("EncOutput"</a>, enc_output.shape<a id="change">)</a>
        hidden_with_time_axis = hidden.permute(1, 0, 2)
        print("HiddenTimeaxis:", hidden_with_time_axis.shape)
        &#47&#47 score: (batch_size, max_length, hidden_dim)
        score = torch.tanh(self.W1(enc_output) + self.W2(hidden_with_time_axis))</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 output shape == (batch_size * 1, output_dim)
        output = self.fc(output)

        <a id="change">return </a>output<a id="change">, hidden</a>


class Seq2Seq(nn.Module):
    def __init__(self, encoder, decoder, device,</code></pre>