<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        print(&quotlstm_output is nan:&quot, torch.isnan(lstm_output).any()) if debug else None

        action_type_logits, action_type, autoregressive_embedding = self.action_type_head(lstm_output, scalar_context)
        <a id="change">print("action_type:"</a>, action_type<a id="change">)</a> if debug else None

        delay_logits, delay, autoregressive_embedding = self.delay_head(autoregressive_embedding)
        queue_logits, queue, autoregressive_embedding = self.queue_head(autoregressive_embedding, action_type, embedded_entity)</code></pre><h3>After Change</h3><pre><code class='java'>
                            units=units, target_unit=target_unit, target_location=target_location)

        if multi_gpu_supvised_learning:
            <a id="change">return </a>action_type<a id="change">, action_type_logits, delay_logits, queue_logits, \
                units_logits, target_unit_logits, target_location_logits</a>

        if return_logits:
</code></pre>