<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            spatial_encodings = self.get_spatial_encoding(x_keep, y_keep, coords)
            edge_features = self.spatial_head(spatial_encodings)
            &#47&#47 Run bipartite graph
            h_node_encodings<a id="change">, node_encodings, adjacency_matrix = </a><a id="change">self.bipartite_graph(
                </a>h_node_encodings, node_encodings<a id="change">
            )</a>

            if targets is not None:
                all_labels.append(self.associate_with_ground_truth(
                    coords[x_keep], coords[y_keep], targets[b_idx])</code></pre><h3>After Change</h3><pre><code class='java'>
                continue
            &#47&#47 Human nodes have been duplicated and will be treated independently
            &#47&#47 of the humans included amongst object nodes
            x<a id="change"> = </a><a id="change">x.flatten()</a>; y = y.flatten()

            &#47&#47 Compute spatial encoding and edge features
            spatial_encodings = self.get_spatial_encoding(x_keep, y_keep, coords)</code></pre>