<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            conv_channels=encoder_dim,
            subsampling_factor=subsampling_factor,
        )
        self.input_projection = <a id="change">nn.Sequential(
            </a><a id="change">nn.Linear(</a>encoder_dim, encoder_dim<a id="change">)</a>, nn.Dropout(p=dropout)<a id="change">
        )</a>
        module_list = [
            ConformerBlock(
                encoder_dim=encoder_dim,
                num_attention_heads=num_heads,</code></pre><h3>After Change</h3><pre><code class='java'>
        conv_kernel_size: int = 31,
        half_step_residual: bool = True,
    ):
        <a id="change">super(</a>ConformerEncoder, self<a id="change">)</a>.__init__()
        self.conv_subsample = ConvSubsampling(
            input_dim=input_dim, feat_out=encoder_dim, conv_channels=encoder_dim
        )</code></pre>