<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                nn.Linear(inner_dim, dim)
            )
        elif ffn_type == "standard":
            self.net = <a id="change">nn.Sequential(
                nn.Linear(</a>dim, inner_dim<a id="change">)</a>,
                nn.GELU(),
                nn.Dropout(dropout),
                <a id="change">nn.Linear(</a>inner_dim, dim<a id="change">)
            )</a>
        elif ffn_type == "bilinear":
            self.net<a id="change"> = </a><a id="change">nn.Sequential(
                </a>Bilinear(dim, inner_dim),
                nn.Dropout(dropout),
                nn.Linear(inner_dim, dim)<a id="change">
            )</a>
        else:
            print(f&quotffn_type does not match any available options&quot)

        &#47&#47 despite many varieties of applying layer norms in transformers, pre-norm still seems like the best option</code></pre><h3>After Change</h3><pre><code class='java'>
        all_rows = []
        for h_ in range(int(heads / 2)):
            all_rows.append(lower_tri_rows * slopes[h_])
            all_rows.append(upper_tri_rows * <a id="change">slopes[h_]</a>)

        &#47&#47 The resultant bias applies the Alibi position bias looking forward to half of the heads, and backwards to the
        &#47&#47 other half. Since for each head, only 1 direction contains positional information, you should probably use</code></pre>