<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        assert t &lt;= self.seq_len, f&quotinput contains a sequence length {t} that is greater than the designated maximum sequence length {self.seq_len}&quot

        mem = lmem = None
        <a id="change">if memories is not None</a><a id="change">:
            </a>mem, lmem = memories

        num_memory_layers = len(self.memory_layers)
        mem = default(mem, lambda: torch.empty(num_memory_layers, b, 0, d, **to(x)))</code></pre><h3>After Change</h3><pre><code class='java'>
        mem, lmem = memories

        num_memory_layers = len(self.memory_layers)
        <a id="change">init_mem</a> = lambda: torch.empty(num_memory_layers, b, 0, d, **to(x))

        mem<a id="change"> = </a><a id="change">default(</a>mem, init_mem<a id="change">)</a>
        lmem<a id="change"> = </a><a id="change">default(</a>lmem, init_mem<a id="change">)</a>

        mem_len, lmem_len = map(lambda t: t.shape[2], (mem, lmem))
        total_len = mem_len + lmem_len + self.seq_len
</code></pre>