<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            encoder_attns.append(encoder_attn)
            inputs = output

        return output<a id="change">, self_attns, encoder_attns</a>
</code></pre><h3>After Change</h3><pre><code class='java'>

        non_pad_mask = get_pad_mask(targets, pad_id=self.pad_id).eq(False)
        self_attn_mask = get_attn_pad_mask(targets, self.pad_id) | get_subsequent_mask(targets)
        memory_mask = <a id="change">get_pad_mask(memory, input_lengths).squeeze(-1).unsqueeze(1).expand(-1</a>, targets.size(1), <a id="change">-1</a><a id="change">)</a>

        output = self.input_dropout(self.embedding(targets) * self.logit_scale + self.pos_encoding(targets.size(1)))

        for layer in self.layers:</code></pre>