<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for ind, image in enumerate(images):
            is_first = ind == 0
            encoded = self.encoder(image)
            z<a id="change"> = </a>self.to_out(<a id="change">encoded.flatten(1</a><a id="change">)</a>)
            hx, cx = self.rnn(kx, (hx, cx))
            yt, gt, kwt = self.to_output(hx), self.to_gate(hx), self.to_key(hx)
</code></pre><h3>After Change</h3><pre><code class='java'>
                wkt = sim.softmax(dim = -1)

                &#47&#47 calculate confidence
                sim<a id="change">, wkt</a> = map(lambda t: rearrange(t, &quotb n -&gt; b n ()&quot), (sim, wkt))
                ck = self.to_confidence(sim).sigmoid()

                &#47&#47 concat confidence to memory keys</code></pre>