<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.causal = causal
        inner_dim = dim_head * heads

        dim_context<a id="change"> = </a><a id="change">default(</a>dim_context, dim<a id="change">)</a>

        self.norm = LayerNorm(dim)
        self.context_norm = LayerNorm(dim_context) if norm_context else nn.Identity()
</code></pre><h3>After Change</h3><pre><code class='java'>

        self.to_qkv = nn.Linear(dim, dim * 3, bias = False)

        self.attend = <a id="change">nn.Sequential(
            </a>nn.Softmax(dim = -1),
            nn.Dropout(dropout)<a id="change">
        )</a>

        self.to_out = nn.Sequential(
            nn.Linear(dim, dim, bias = False),
            nn.Dropout(dropout)</code></pre>