<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

                    &#47&#47 all random semi hard indices (or hardest easy if not enough semi hard)
                    neg_list_idx = all_semi_hard(ap_dist, an_dists, self.margin)
                    num_missing_negatives<a id="change"> = </a>NUM_NEGATIVES<a id="change"> - </a><a id="change">neg_list_idx.shape[0]</a>
                    if num_missing_negatives &gt; 0:
                        hardest_easy_neg_idx = torch.topk(an_dists, NUM_NEGATIVES, largest=False)[1]
                        added_negs = hardest_easy_neg_idx[neg_list_idx.shape[0]:NUM_NEGATIVES]
                        neg_list_idx = torch.cat((neg_list_idx, added_negs), 0)</code></pre><h3>After Change</h3><pre><code class='java'>
                        an_sim = torch.exp((1 - an_dists_selected) / temperature)
                    else:
                        print(&quotEuclidean dist not supported with infonce loss&quot)
                        <a id="change">assert</a>(0)

                    loss_info_nce = -torch.log(ap_sim / (torch.sum(an_sim) + ap_sim))
                    loss += loss_info_nce</code></pre>