<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()
        self.output_tokens = output_tokens
        self.image_size = to_2tuple(image_size)
        <a id="change">self.patch_size</a> = to_2tuple(patch_size)
        self.grid_size = (self.image_size[0] // <a id="change">self.patch_size[0]</a>, self.image_size[1] // <a id="change">self.patch_size[1]</a>)
        self.output_dim = output_dim
        self.conv1 = nn.Conv2d(in_channels=3, out_channels=width, kernel_size=patch_size, stride=patch_size, bias=False)
</code></pre><h3>After Change</h3><pre><code class='java'>
            self.patchnorm_pre_ln = LayerNorm(patch_input_dim)
            self.conv1 = nn.Linear(patch_input_dim, width)
        else:
            self.patchnorm_pre_ln = <a id="change">nn.Identity()</a>
            self.conv1 = nn.Conv2d(in_channels=3, out_channels=width, kernel_size=patch_size, stride=patch_size, bias=False)

        &#47&#47 class embeddings and positional embeddings
        scale = width ** -0.5</code></pre>