<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        seg_out = self.interpolate(dec1, x_size[2:], mode=&quotbilinear&quot)

        if self.training:
            <a id="change">return </a><a id="change">self.criterion(</a>(seg_out, edge_out), gts<a id="change">)</a>
        else:
            return seg_out, edge_out
</code></pre><h3>After Change</h3><pre><code class='java'>
        dec1 = self.final_seg(dec0)
        seg_out = self.interpolate(dec1, x_size[2:], mode=&quotbilinear&quot)

        <a id="change">return </a>seg_out
</code></pre>