<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        avg_target = target.mean(dim=3)

        channel_bins = torch.tensor(<a id="change">[</a>0.333, 0.666, 1.0<a id="change"></a>])
        descritized_target = torch.bucketize(avg_target, channel_bins, right=True)
        descritized_target = F.one_hot(descritized_target, self.output_channel_bits)
        c, bi = self.channels, self.output_channel_bits</code></pre><h3>After Change</h3><pre><code class='java'>
        avg_target = target.mean(dim=3)

        bin_size = self.max_pixel_val / self.output_channel_bits
        channel_bins<a id="change"> = </a><a id="change">torch.arange(</a>bin_size, self.max_pixel_val, bin_size<a id="change">)</a>
        discretized_target = torch.bucketize(avg_target, channel_bins)
        discretized_target = F.one_hot(discretized_target,
                                       self.output_channel_bits)
        c, bi = self.channels, self.output_channel_bits</code></pre>