<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            print(&quotyr&quot, yr)
        preds = torch.unsqueeze(new_data_final, dim=1)

        pred<a id="change"> = </a><a id="change">np.squeeze(</a>preds<a id="change">)</a>.cpu().data.numpy()
        multi_fuse = 255 * pred</code></pre><h3>After Change</h3><pre><code class='java'>
            print(&quoth&quot, h)
            print(&quotyr&quot, yr)
        preds = torch.unsqueeze(new_data_final, dim=1)
        <a id="change">print(</a>preds.min()<a id="change">)</a>
        return preds</code></pre>