<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if exists(custom_freqs):
            freqs = custom_freqs
        elif freqs_for == &quotlang&quot:
            freqs = 1. / (theta ** (<a id="change">torch.arange(</a>0, dim, 2<a id="change">)</a>.float()<a id="change"> / </a>dim))
        elif freqs_for == &quotpixel&quot:
            freqs = torch.logspace(0., log(max_freq / 2) / log(2), dim // 2, base = 2) * pi
        elif freqs_for == &quotconstant&quot:</code></pre><h3>After Change</h3><pre><code class='java'>
        if exists(custom_freqs):
            freqs = custom_freqs
        elif freqs_for == &quotlang&quot:
            freqs = 1. / (theta<a id="change"> ** </a>(<a id="change">torch.arange(</a>0, dim, 2<a id="change">)</a>[:(dim<a id="change"> // </a>2)].float() / dim))
        elif freqs_for == &quotpixel&quot:
            freqs = torch.logspace(0., log(max_freq / 2) / log(2), dim // 2, base = 2) * pi
        elif freqs_for == &quotconstant&quot:</code></pre>