<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    frels = []
    for fr in frame.frameRelation:
        frels.append("{0}({1})\n".format(fr[&quottype&quot],
                                         &quot,&quot.join([x for x in <a id="change">fr[&quotrelatedFrame&quot]</a>])))
    outstr += "  " + ", ".join(frels) + &quot\n&quot

    outstr += "\n[lexUnit] {0} lexical units\n".format(len(frame.lexUnit))</code></pre><h3>After Change</h3><pre><code class='java'>
    outstr += _pretty_longstring(frame.definition, &quot  &quot) + &quot\n&quot

    outstr += "[semTypes] {0} semantic types\n".format(len(frame.semTypes))
    outstr += "  " + ", ".join(<a id="change">&quot{0}({1})&quot.format(</a>x.name, x.ID<a id="change">)</a> for x in frame.semTypes) + &quot\n&quot*(len(frame.semTypes)&gt;0)

    outstr += "[FEcoreSet] {0} frame element core sets\n".format(len(frame.FEcoreSet))
    outstr += "  " + ", ".join([x.name for x in frame.FEcoreSet]) + &quot\n&quot</code></pre>