<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.attend = nn.Softmax(dim=-1)
        self.to_qkv = nn.Linear(dim, inner_dim * 3, bias=False)

        self.to_out = <a id="change">nn.Sequential(
            nn.Linear(</a>inner_dim, dim<a id="change">)</a>,
            <a id="change">nn.Dropout(</a>dropout<a id="change">)
        )</a> if project_out else nn.Identity()

    def forward(self, x):
        </code></pre><h3>After Change</h3><pre><code class='java'>

        
        super().__init__()
        <a id="change">if </a>channel_mlp is None<a id="change">:
            </a>channel_mlp = token_channels
        self.AddPosEmb2Value = AddPosEmb2Value

        self.norm1 = nn.LayerNorm(token_channels)</code></pre>