<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, nx, ny, n_nodes_per_layer=64, n_hidden_layers=2, activation=nn.Tanh):
        super(FC_video, self).__init__()
        assert isinstance(ny,(list,tuple)) and (len(ny)==2 or len(ny)==3), &quotny should have 2 or 3 dimentions in the form (nchannels, height, width) or (height, width)&quot
        <a id="change">if len(ny)==2</a><a id="change">:
            </a>self.nchannels<a id="change"> = </a>1
            self.None_nchannels<a id="change"> = </a>True
            self<a id="change">.height_target, self.width_target = </a>ny
        else:
            self.None_nchannels = False
            self<a id="change">.nchannels, self.height_target, self.width_target = </a>ny

        self.FC = simple_res_net(n_in=nx, n_out=self.nchannels*self.height_target*self.width_target, \
                  n_hidden_layers=n_hidden_layers, activation=activation, n_nodes_per_layer=n_nodes_per_layer)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.nx = nx
        self.nu = tuple() if nu is None else ((nu,) if isinstance(nu,int) else nu)
        assert isinstance(ny,(list,tuple)) and (len(ny)==2 or len(ny)==3), &quotny should have 2 or 3 dimentions in the form (nchannels, height, width) or (height, width)&quot
        ny = (ny[0]*na<a id="change">, ny[1], ny[2]</a>) if <a id="change">len(ny)==3</a> else (na<a id="change">, ny[0], ny[1]</a>)
        &#47&#47 print(&quotny=&quot,ny)

        self.CNN = CNN_chained_downscales(ny, features_ups_factor=features_ups_factor) </code></pre>