<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                roi_feat = roi_feat.contiguous()
            roi_feats.append(roi_feat)

        <a id="change">return </a><a id="change">torch.stack(</a>roi_feats<a id="change">, dim=2)</a>, feat
</code></pre><h3>After Change</h3><pre><code class='java'>
                roi_feat = roi_feat.contiguous()
            roi_feats.append(roi_feat)

        roi_feats = <a id="change">torch.stack(</a>roi_feats<a id="change">, dim=2)</a>
        <a id="change">return </a>roi_feats, feat

if mmdet_imported:
    MMDET_MODELS.register_module()(SingleRoIExtractor3D)</code></pre>