<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        q = merge_heads(q)

        <a id="change">if </a>not self.one_kv_head<a id="change">:
            </a>k, v = map(merge_heads, (k, v))

        out = []
</code></pre><h3>After Change</h3><pre><code class='java'>
            lq, q = split_index_fn(q)

            split_kv_fn = partial(split_at_index, 1, int(self.local_attn_heads &gt; 0))
            (<a id="change">lk, k), (lv, v) = </a><a id="change">map(</a>split_kv_fn, (k<a id="change">, v</a>)<a id="change">)</a>

            local_expand_heads_fn = lambda t: expand_dim(t, 1, self.local_attn_heads, unsqueeze=False)
            lk, lv = map(local_expand_heads_fn, (lk, lv))
</code></pre>