<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.trend_changepoints_t = torch.tensor(linear_t, requires_grad=False, dtype=torch.float)

        &#47&#47 autoregression
        <a id="change">if </a>self.n_lags &gt; 0<a id="change">:
            </a>self.ar = nn.Linear(n_lags, n_forecasts, bias=False)
            nn.init.kaiming_normal_(self.ar.weight, mode=&quotfan_in&quot)

</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47     self.ar_net = nn.Linear(n_lags, n_forecasts, bias=False)
            &#47&#47     nn.init.kaiming_normal_(self.ar_net.weight, mode=&quotfan_in&quot)
            &#47&#47 else:
            self.ar_net<a id="change"> = </a>nn.ModuleList()
            d_inputs = self.n_lags
            <a id="change">for i</a> in <a id="change">range(</a>self.num_hidden_layers<a id="change">):
                self.ar_net.append(</a>nn.Linear(d_inputs, self.d_hidden, bias=True)<a id="change">)</a>
                d_inputs = d_hidden
            self.ar_net.append(nn.Linear(d_inputs, self.n_forecasts, bias=True))
            for lay in self.ar_net:
                nn.init.kaiming_normal_(lay.weight, mode=&quotfan_in&quot)</code></pre>