<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 Merge results from the different repetitions into the channel dimension
        batch_size, features, channels, repetitions = x.size()
        assert features == 1  &#47&#47 number of features should be 1 at this point
        <a id="change">assert </a>channels == self.config.C

        &#47&#47 Treat repetitions as additional channels at this point
        x = x.reshape(batch_size, 1, channels * repetitions, 1)</code></pre><h3>After Change</h3><pre><code class='java'>
        

        &#47&#47 Add channel dimension if not present
        if <a id="change">x.dim() == 2</a>:  &#47&#47 [N, D]
            x = x.unsqueeze(-1)

        if x.dim() == 4:  &#47&#47 [N, C, H, W]</code></pre>