<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.add_module(self.norm_name, norm)

        if self.with_activatation:
            <a id="change">assert </a>activation in [&quotrelu&quot], &quotOnly ReLU supported.&quot
            if self.activation == &quotrelu&quot:
                self.activate = nn.ReLU(inplace=inplace)
</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 build activation layer
        if self.with_activatation:
            <a id="change">if self.activation not in [&quotrelu&quot]</a><a id="change">:
                raise ValueError(</a><a id="change">&quot{} is currently not supported.&quot.format(
                    self.activation</a><a id="change">))</a>
            if self.activation == &quotrelu&quot:
                self.activate = nn.ReLU(inplace=inplace)

        &#47&#47 Use msra init by default</code></pre>