<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
			nn.LeakyReLU(negative_slope=0.2)
		)

		self.modulation = Modulation(<a id="change">config[&quotclass_dim&quot]</a>, n_adain_layers=4, adain_dim=256)
		self.decoder = Decoder(config[&quotcontent_dim&quot], n_adain_layers=4, adain_dim=256, img_shape=config[&quotimg_shape&quot])

		self.apply(self.weights_init)</code></pre><h3>After Change</h3><pre><code class='java'>
			nn.Conv2d(in_channels=3, out_channels=256, kernel_size=3, stride=1, padding=1)
		)

		self.encoder<a id="change"> = </a>nn.Sequential(
			<a id="change">ResBlk(dim_in=256, dim_out=512, normalize=True, downsample=True)</a>,
			ResBlk(dim_in=512, dim_out=512, normalize=True, downsample=True),
			&#47&#47 ResBlk(dim_in=256, dim_out=256, normalize=True, downsample=True),
			&#47&#47 ResBlk(dim_in=256, dim_out=256, normalize=True, downsample=True),</code></pre>