<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        act1 = F.softmax(self.act1(x), dim=1)
        act2<a id="change"> = </a><a id="change">F.softmax(</a>self.act2(x)<a id="change">, dim=1)</a>
        <a id="change">return </a>act1<a id="change">, act2</a>

def mini_batch(buffer):
    batch = random.sample(buffer, batch_size)
    obs, acts, rewards, next_obs, done = [], [], [], [], []</code></pre><h3>After Change</h3><pre><code class='java'>
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        acts = [F.softmax(self.acts[idx](x), dim=1) for idx in range(num_act)]
        <a id="change">return </a>acts

def mini_batch(buffer):
    batch = random.sample(buffer, batch_size)</code></pre>