<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                       nn.InstanceNorm2d(dim),
                       nn.ReLU(True)]

        conv_block<a id="change"> += </a><a id="change">[</a>nn.ReflectionPad2d(1),
                       nn.Conv2d(dim, dim, kernel_size=3, stride=1, padding=0, bias=use_bias),
                       nn.InstanceNorm2d(dim)<a id="change"></a>]

        self.conv_block = nn.Sequential(*conv_block)
</code></pre><h3>After Change</h3><pre><code class='java'>
                      nn.ReLU(),
                      nn.ReflectionPad2d(1),
                      nn.Conv2d(in_features, in_features, 3),
                      <a id="change">nn.BatchNorm2d(</a>in_features<a id="change">)</a>]

        self.conv_block = nn.Sequential(*conv_block)
</code></pre>