<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        super(Discriminator, self).__init__()

        block = <a id="change">[]</a>

        &#47&#47 Define the initial number of channels
        in_channels = 3
        out_channels = 64

        for _ in range(num_conv_block):
            block += [nn.ReflectionPad2d(1),
                      nn.Conv2d(in_channels, out_channels, 3),
                      nn.LeakyReLU(),
                      nn.BatchNorm2d(out_channels)]
            in_channels = out_channels

            block<a id="change"> += </a>[nn.ReflectionPad2d(1),
                      nn.Conv2d(in_channels, out_channels, 3, 2),
                      nn.LeakyReLU()]
            out_channels *= 2</code></pre><h3>After Change</h3><pre><code class='java'>

            &#47&#47 Conv1
            nn.Conv2d(64, 128, kernel_size=3, stride=1, padding=1, bias=False),
            <a id="change">nn.BatchNorm2d(</a>128<a id="change">)</a>,
            nn.LeakyReLU(negative_slope=0.2, inplace=True),
            nn.Conv2d(128, 128, kernel_size=4, stride=2, padding=1, bias=False),
            nn.BatchNorm2d(128),</code></pre>