<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            target = target * mask

        a = torch.sum(pred * target)
        b = <a id="change">torch.sum(</a>pred<a id="change">)</a>
        c = torch.sum(target)
        d = (2 * a) / (b + c + self.eps)

        return 1<a id="change"> - </a>d
</code></pre><h3>After Change</h3><pre><code class='java'>
        assert mask.size() == gt.size()

        pred = pred.contiguous().view(pred.size(0), -1)
        gt = <a id="change">gt.contiguous()</a>.view(gt.size(0), -1)

        mask = mask.contiguous().view(mask.size(0), -1)
        pred = pred * mask</code></pre>