<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(
        self
    ):
        <a id="change">pass</a>

    def forward(
        self,waveform
    ):</code></pre><h3>After Change</h3><pre><code class='java'>
        num_layers:int=12,
        initial_output_channels:int=24
    ):
        <a id="change">super(WaveUnet,self).__init__()</a>

        self.encoders = nn.ModuleList()
        self.decoders = nn.ModuleList()
        out_channels = initial_output_channels</code></pre>