<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        else:
            raise ValueError("Not support conditioning {}".format(conditioning))
        
        <a id="change">if </a><a id="change">nonlinear == &quotrelu&quot:
            </a>self.nonlinear<a id="change"> = </a><a id="change">nn.ReLU()</a>
        elif <a id="change">nonlinear == &quotleaky-relu&quot</a><a id="change">:
            </a>self.nonlinear<a id="change"> = </a><a id="change">nn.LeakyReLU()</a>
        else:
            <a id="change">raise </a>NotImplementedError()
            
    def forward(self, input, gamma, beta):
        </code></pre><h3>After Change</h3><pre><code class='java'>
        else:
            raise ValueError("Not support conditioning {}".format(conditioning))
        
        self.nonlinear2d<a id="change"> = </a><a id="change">choose_nonlinear(</a>nonlinear<a id="change">)</a>
            
    def forward(self, input, gamma, beta):
        
        Args:</code></pre>