<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                &#47&#47 cv2.imwrite(&quotimg%g.jpg&quot % i, 255 * xi[0].numpy().transpose((1, 2, 0))[:, :, ::-1])
                y.append(self.forward_once(xi)[0])

            y[1][..., :4] /= <a id="change">s[0]</a>  &#47&#47 scale
            y[1][..., 0] = img_size[1] - y[1][..., 0]  &#47&#47 flip lr
            y[2][..., :4] /= s[1]  &#47&#47 scale
            return torch.cat(y, 1), None  &#47&#47 augmented inference, train</code></pre><h3>After Change</h3><pre><code class='java'>
                &#47&#47 cv2.imwrite(&quotimg%g.jpg&quot % s, 255 * xi[0].numpy().transpose((1, 2, 0))[:, :, ::-1])  &#47&#47 save
                yi[..., :4] /= si  &#47&#47 de-scale
                if fi is 2:
                    <a id="change">yi[..., 1]</a> = img_size[0] - <a id="change">yi[..., 1]</a>  &#47&#47 de-flip ud
                elif fi is 3:
                    yi[..., 0] = img_size[1] - yi[..., 0]  &#47&#47 de-flip lr
                y.append(yi)</code></pre>