<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                if self.dynamic or self.grid[i].shape[2:4] != x[i].shape[2:4]:
                    self.grid[i], self.anchor_grid[i] = self._make_grid(nx, ny, i)

                y<a id="change"> = </a><a id="change">x[i].clone()</a>
                y[..., :5 + self.nc].sigmoid_()
                if self.inplace:
                    y[..., 0:2] = (y[..., 0:2] * 2 + self.grid[i]) * self.stride[i]  &#47&#47 xy
                    y[..., 2:4] = (y[..., 2:4] * 2) ** 2 * self.anchor_grid[i]  &#47&#47 wh</code></pre><h3>After Change</h3><pre><code class='java'>
                    wh = (wh.sigmoid() * 2) ** 2 * self.anchor_grid[i]  &#47&#47 wh
                    y = torch.cat((xy, wh, conf.sigmoid(), mask), 4)
                else:  &#47&#47 Detect (boxes only)
                    xy, wh, conf = <a id="change">x[i]</a>.sigmoid().split((2, 2, self.nc + 1), 4)
                    xy = (xy * 2 + self.grid[i]) * self.stride[i]  &#47&#47 xy
                    wh = (wh * 2) ** 2 * self.anchor_grid[i]  &#47&#47 wh
                    y = torch.cat((xy, wh, conf), 4)</code></pre>