<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :type inverse: bool, optional
        
        if train:
            self._parallel_variance(<a id="change">torch.mean(</a>x<a id="change">, dim=0)</a>, <a id="change">torch.var(</a>x<a id="change">, dim=0)</a>, x.shape[0])

        &#47&#47 scale back the data to the original representation
        if inverse:</code></pre><h3>After Change</h3><pre><code class='java'>
            with torch.no_grad():
                return self._compute(x, train, inverse)
        else:
            <a id="change">return </a>self._compute(x, train, inverse)</code></pre>