<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                x = module(x)
            elif mtype == &quotshortcut&quot:  &#47&#47 sum
                if verbose:
                    <a id="change">print(</a>&quotshortcut/add %s + %s&quot % (list(x.shape), [list(out[i].shape) for i in module.layers])<a id="change">)</a>
                x = module(x, out)  &#47&#47 weightedFeatureFusion()
            elif mtype == &quotroute&quot:  &#47&#47 concat
                layers = mdef[&quotlayers&quot]
                if verbose:</code></pre><h3>After Change</h3><pre><code class='java'>
            if mtype in [&quotconvolutional&quot, &quotupsample&quot, &quotmaxpool&quot]:
                x = module(x)
            elif mtype == &quotshortcut&quot:  &#47&#47 sum
                <a id="change">if </a><a id="change">verbose:
                    </a>l = [i] + module.layers  &#47&#47 layers
                    s = [list(x.shape)] + [list(out[i].shape) for i in module.layers]  &#47&#47 shapes
                    print(&quotshortcut/add: &quot + &quot + &quot.join(<a id="change">[&quotlayer %g %s&quot % x for x in zip(l, s)]</a>))
                x = module(x, out)  &#47&#47 weightedFeatureFusion()
            elif mtype == &quotroute&quot:  &#47&#47 concat
                layers = mdef[&quotlayers&quot]</code></pre>