<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    @torch.no_grad()
    def forward(self, outputs, targets, anchors, num_top_queries=1):
        bs = <a id="change">outputs["pred_logits"].shape[0]</a>

        &#47&#47 Split queries in individual classes
        if self.anchor_matching:
            classes_queries_boxes = anchors[None].repeat((bs, 1, 1)).reshape(bs, 20, 27, -1).cpu().float() </code></pre><h3>After Change</h3><pre><code class='java'>
    @torch.no_grad()
    def forward(self, outputs, targets, anchors, num_top_queries=1):
        bs, num_queries, _ = outputs["pred_logits"].shape
        num_queries_per_organ<a id="change"> = </a><a id="change">int(</a>num_queries<a id="change"> / </a>20<a id="change">)</a>

        &#47&#47 Split queries in individual classes
        if self.anchor_matching:
            classes_queries_boxes = anchors[None].repeat((bs, 1, 1)).reshape(bs, 20, num_queries_per_organ, -1).cpu().float() </code></pre>