<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if exists(self.to_time_embedding) and exists(time_context):
            time_embedding = self.to_time_embedding(time_context)
            time_embedding = rearrange(time_embedding, "b c -&gt; b c 1")
            scale_shift<a id="change"> = </a><a id="change">time_embedding.chunk(2</a><a id="change">, dim=1)</a>

        h = self.block2(h, scale_shift=scale_shift)

        return h + self.to_out(x)</code></pre><h3>After Change</h3><pre><code class='java'>

        skips = []
        for block in self.blocks:
            x<a id="change"> = </a>block(x, t)
            skips += [x]

        if self.use_attention:
            x = self.transformer(x)
            skips += [x]

        if not self.use_pre_downsample:
            x = self.downsample(x)

        <a id="change">return </a>x<a id="change">, skips</a>


class UpsampleBlock1d(nn.Module):
    def __init__(</code></pre>