<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
			nn.LeakyReLU()
		)

		self.adain_conv_layers = <a id="change">nn.ModuleList()</a>
		for i in range(n_adain_layers):
			self.adain_conv_layers<a id="change"> += </a>[
				nn.Upsample(scale_factor=(2, 2)),
				nn.Conv2d(in_channels=adain_dim, out_channels=adain_dim, padding=1, kernel_size=3),
				nn.LeakyReLU(),</code></pre><h3>After Change</h3><pre><code class='java'>
		self.config = config

		self.content_embedding = nn.Embedding(config[&quotn_imgs&quot], config[&quotcontent_dim&quot], config[&quotcontent_std&quot])
		self.class_embedding = nn.Embedding(config[&quotn_classes&quot], <a id="change">config[&quotclass_dim&quot]</a>)
		self.modulation = Modulation(config[&quotclass_dim&quot], config[&quotn_adain_layers&quot], config[&quotadain_dim&quot])
		self.decoder = Decoder(config[&quotcontent_dim&quot], config[&quotn_adain_layers&quot], config[&quotadain_dim&quot], config[&quotimg_shape&quot])
</code></pre>