<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x):
        out = self.stem(x)
        out = out.view(out.size(0), -1)
        out<a id="change"> = </a><a id="change">F.relu(</a><a id="change">self.fc1(</a>out<a id="change">))</a>
        out<a id="change"> = </a><a id="change">F.relu(self.fc2(</a>out<a id="change">)</a><a id="change">)</a>
        out<a id="change"> = </a><a id="change">self.fc3(</a>out<a id="change">)</a>
        <a id="change">return </a>out


if __name__ == "__main__":</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x):
        out = self.stem(x)
        &#47&#47 out = out.view(out.size(0), -1)
        out<a id="change"> = </a><a id="change">self.gap(</a>out<a id="change">)</a>
        out = out.view(out.size(0), -1)

        &#47&#47 out = F.relu(self.fc1(out))
        &#47&#47 out = F.relu(self.fc2(out))
        &#47&#47 out = self.fc3(out)
        <a id="change">return </a><a id="change">self.fc1(</a>out<a id="change">)</a>


if __name__ == "__main__":
    input = torch.zeros(5, 3, 32, 32)</code></pre>