<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            (&quotleaky_relu&quot, nn.LeakyReLU(0.2)),
            &#47&#47 _block(in_channels, out_channels, kernel_size, stride, padding)
            (&quotblock1&quot, self._block(features_d, features_d * 2, 4, 2, 1)),
            (&quotblock2&quot<a id="change">, self._block(features_d * 2, features_d * 4, 4, 2, 1)</a>),
            (&quotblock3&quot, self._block(features_d * 4, features_d * 8, 4, 2, 1)),
            &#47&#47 After all _block img output is 4x4 (Conv2d below makes into 1x1)
            (&quotconv_out&quot, nn.Conv2d(features_d * 8, 1, kernel_size=4,</code></pre><h3>After Change</h3><pre><code class='java'>
        super(Discriminator, self).__init__()
        self.norm = norm
        n_blocks = int(math.log2(img_size//8))
        block_list<a id="change"> = </a>[
            (f&quotblock{i}&quot, self._block(features_d*(2**(i-1)), features_d*(2**i),
                4, 2, 1))
            <a id="change">for</a> i in <a id="change">range(</a>1,n_blocks<a id="change">+1</a><a id="change">)</a>]
        full_list = [
            (&quotconv_in&quot, nn.Conv2d(
                channels_img, features_d, kernel_size=4,</code></pre>