<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        io_size = ch * freqs
        self.gru = nn.GRU(io_size, hidden_size, *args, **kwargs)
        self.norm = nn.LayerNorm(hidden_size)
        self.fc<a id="change"> = </a><a id="change">nn.Linear(</a>hidden_size, io_size<a id="change">)</a>

    def forward(self, x: Tensor, h: Optional[Tensor] = None) -&gt; Tuple[Tensor, Tensor]:
        GRU transposing [B, C, T, F] input shape to [B, T, C*F].
        _, _, _, f = x.shape</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()
        self.conv = Conv2dNormAct(in_ch, out_ch, kernel_size=kernel, fstride=fstride)
        assert gru_mode in ("skip", "scale")
        <a id="change">if gru_mode == "skip"</a><a id="change">:
            </a>skip = nn.Identity
            scale<a id="change"> = </a>None
        else:
            skip = None
            scale<a id="change"> = </a>nn.Sigmoid
        self.gru = GruSE(out_ch, gru_dim, groups=gru_groups, skip=skip, scale_activation=scale)

    def forward(self, input: Tensor, h=None) -&gt; Tuple[Tensor, Tensor]:</code></pre>