<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.downsample = downsample
        self.stride = stride

        <a id="change">if </a>use_cbam<a id="change">:
            </a>self.cbam<a id="change"> = </a>CBAM(planes * 4, 16)
        else:
            self.cbam = None
</code></pre><h3>After Change</h3><pre><code class='java'>
                    bias=False,
                ),
            )
            <a id="change">self.shortcut.add_module("shortcut_bn"</a>, nn.BatchNorm2d(out_channels)<a id="change">)</a>

    def forward(self, x):
        out = self.conv_reduce.forward(x)
        out = self.relu(self.bn_reduce.forward(out))</code></pre>