<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                outputs.append(self._ops[i_w](input_i, w1[i_w], w2[i_w]))
                i_w += 1
            inputs.append(sum(dim_assert(outputs)))
        return torch.cat(dim_assert(<a id="change">inputs[-self.n_nodes:]</a>), dim=1)
            
       </code></pre><h3>After Change</h3><pre><code class='java'>
                outputs.append(self._ops[i_w](input_i, w1[i_w], w2[i_w]))
                i_w += 1
            inputs.append(sum(outputs)) &#47&#47 debug: dim_assert
        return torch.cat(<a id="change">inputs[-self.n_nodes:]</a>, dim=1) &#47&#47 debug: dim_assert
            
       </code></pre>