<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x: torch.Tensor) -&gt; List[torch.LongTensor]:
        codes = list()
        latent = self._encoder(x)
        for i in <a id="change">range(</a>self._levels<a id="change">)</a>:
            head = <a id="change">self._heads[i]</a>
            z = head(latent)
            if i &lt; self._levels - 1:
                mapper = self._mappers[i]
                latent = mapper(latent)</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x: torch.Tensor, cAndPadding: torch.Tensor) -&gt; Tuple[List[torch.LongTensor], torch.Tensor]:
        codes = list()
        latent = self._encoder(x)
        for head, mapper, quantizer, deQuantizer in <a id="change">zip(</a>self._heads, self._mappers, self._quantizers, self._deQuantizers<a id="change">)</a>:
            z = head(latent)
            latent = mapper(latent)
            code = quantizer(z)</code></pre>