<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        batch_size, channels, width, height = x.size()

        &#47&#47 (b, 1, 28, 28) -&gt; (b, 1*28*28)
        x<a id="change"> = </a>x.view(batch_size, -1)
        x = self.layer_1(x)
        x = F.relu(x)
        x<a id="change"> = self.layer_2(</a>x<a id="change">)</a>
        x = F.relu(x)
        x = self.layer_3(x)
        x = F.relu(x)
        x<a id="change"> = self.layer_4(</a>x<a id="change">)</a>

        <a id="change">return </a><a id="change">F.log_softmax(</a>x<a id="change">, dim=1)</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
        x = F.relu(x)
        x = self.drop2(x)
        x = self.lin_2(x)
        <a id="change">return </a>torch.sigmoid(x)
</code></pre>