<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            std = log_std.exp()
            dist = distributions.SquashedNormal(mu, std)
        elif self.dist_impl == "beta":
            out = 1.0<a id="change"> + </a>F.softplus(out)
            alpha<a id="change">, beta = </a><a id="change">out.chunk(2</a><a id="change">, dim=-1)</a>
            dist = distributions.BetaDist(alpha, beta)
        return dist

</code></pre><h3>After Change</h3><pre><code class='java'>
            return distributions.create_tanh_normal(
                out, self.log_std_low, self.log_std_high
            )
        elif <a id="change"></a>self.dist_impl == "beta"<a id="change">:
            </a>return distributions.create_beta(out)


@gin.configurable</code></pre>