<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, predict, target):
        assert predict.shape == target.shape, &quotpredict & target shape do not match&quot
        dice = BinaryDiceLoss(**self.kwargs)
        total_loss<a id="change"> = </a>0
        &#47&#47 predict = F.softmax(predict, dim=1)

        for i in range(target.shape[1]):
            <a id="change">if i != self.ignore_index</a><a id="change">:
                </a>dice_loss = dice(predict[:, i], target[:, i])
                <a id="change">if self.weight is not None</a><a id="change">:
                    </a>assert self.weight.shape[0] == target.shape[1], \
                        &quotExpect weight shape [{}], get[{}]&quot.format(target.shape[1], self.weight.shape[0])
                    dice_loss *= self.weight[i]
                total_loss<a id="change"> += </a>dice_loss

        return total_loss/target.shape[1]</code></pre><h3>After Change</h3><pre><code class='java'>
            dice += 2 * (pred[:,i] * target[:,i]).sum(dim=1).sum(dim=1).sum(dim=1) / (pred[:,i].pow(2).sum(dim=1).sum(dim=1).sum(dim=1) +
                                                target[:,i].pow(2).sum(dim=1).sum(dim=1).sum(dim=1) + smooth)
        &#47&#47 返回的是dice距离
        dice<a id="change"> = </a>dice / <a id="change">pred.size(</a>1<a id="change">)</a>
        return torch.clamp((1 - dice).mean(), 0, 1)

class ELDiceLoss(nn.Module):
    def __init__(self):</code></pre>