<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                self.decoder.add_module(f&quotconv{i+1:d}&quot, conv)
                self.decoder.add_module(f&quotbn{i+1:d}&quot, bn)
                self.decoder.add_module(f&quot{activation}{i+1:d}&quot, activation_fn)
            elif <a id="change">layer == &quotmax&quot or layer == &quotaverage&quot:
                </a>pool<a id="change"> = </a>nn.Upsample(scale_factor=(2, 2))
        conv = Conv2d_SAME(structure[0], channel, kernel_size=(3, 3))
        bn = nn.BatchNorm2d(channel)
        self.decoder.add_module(&quotconv&quot, conv)</code></pre><h3>After Change</h3><pre><code class='java'>
                self.encoder.add_module(f&quotbn{i+1:d}&quot, bn)
                self.encoder.add_module(f&quot{activation}{i+1:d}&quot, activation_fn)
            else:
                <a id="change">assert </a>isinstance(layer, str)
                module = nn.MaxPool2d(kernel_size=(2, 2)) if layer == &quotmax&quot else nn.AvgPool2d(kernel_size=(2, 2))
                self.encoder.add_module(&quotpool&quot, module)
</code></pre>