<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.bn0 = batchnorm_2d(in_features=in_channels)
            self.bn1 = batchnorm_2d(in_features=out_channels)

        <a id="change">if activation_fn == "ReLU"</a><a id="change">:
            </a>self.activation = <a id="change">nn.ReLU(inplace=True)</a>
        elif <a id="change">activation_fn == "Leaky_ReLU"</a><a id="change">:
            </a>self.activation<a id="change"> = </a><a id="change">nn.LeakyReLU(negative_slope=0.1, inplace=True)</a>
        elif <a id="change">activation_fn == "ELU"</a><a id="change">:
            </a>self.activation<a id="change"> = nn.ELU(alpha=1.0, inplace=True)</a>
        elif <a id="change">activation_fn == "GELU"</a><a id="change">:
            </a>self.activation<a id="change"> = </a><a id="change">nn.GELU()</a>
        else:
            raise NotImplementedError

        self.average_pooling = nn.AvgPool2d(2)</code></pre><h3>After Change</h3><pre><code class='java'>
                                        stride=1,
                                        padding=1)

        <a id="change">if </a>not apply_d_sn<a id="change">:
            </a>self.bn0 = MODULES.d_bn(in_features=in_channels)
            self.bn1 = MODULES.d_bn(in_features=out_channels)

        self.activation = MODULES.d_act_fn</code></pre>