<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 compute by the spherical harmonics
        &#47&#47 -&gt; (Nbatch,Nelec,Nrbf)
        Y = SphericalHarmonics(xyz,self.bas_l,self.bas_m)
        <a id="change">print(</a>Y.shape<a id="change">)</a>

        return X * Y

if __name__ == "__main__":</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 add the components if DZ basis set
        if self.basis == &quotdz&quot:
            nrbf = XY.shape[-1]
            norb<a id="change"> = </a><a id="change">int(</a>nrbf<a id="change">/</a>2<a id="change">)</a>
            XY = XY.view(-1,self.nelec,2,norb).sum(2)

        return XY
</code></pre>