<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

            else:

                print("Number of Layers: " + str(len(list(<a id="change">self.encoderModel.encoder.parameters()</a>))))

                layers_to_freeze = self.encoderModel.encoder.layer[:frozen_layer_count]
                for module in layers_to_freeze:</code></pre><h3>After Change</h3><pre><code class='java'>

                print("Number of Layers: " + str(len(list(self.encoderModel.encoder.layer))))

                layers_to_freeze<a id="change"> = </a><a id="change">self.encoderModel.encoder.layer[:frozen_layer_count]</a>
                for module in layers_to_freeze:
                    for param in module.parameters():
                        param.requires_grad = False
</code></pre>