<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        log_std = self.std_clamp(log_std)

        <a id="change">return </a>mean, log_std


if __name__ == &quot__main__&quot:</code></pre><h3>After Change</h3><pre><code class='java'>
            log_std = self.std_clamp(log_std)
            std = log_std.exp()
            m = MultivariateNormal(mean.reshape(-1), torch.diag(std.reshape(-1)))
            action = <a id="change">m.sample()</a>
            action<a id="change"> = </a>action.reshape(mean.shape)

        action = action.tanh()
</code></pre>