<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        t = query_len

        q = qk[:, 0:query_len]
        qk = <a id="change">F.normalize(</a>qk, 2<a id="change">, dim=-1)</a>

        dot = torch.einsum(&quotbie,bje-&gt;bij&quot, q, qk)

        &#47&#47 qk attention requires tokens not attend to self</code></pre><h3>After Change</h3><pre><code class='java'>
        t = query_len

        q = qk[:, 0:query_len]
        qk = <a id="change">F.normalize(qk, 2, dim=-1).type(</a>q.type()<a id="change">)</a>

        dot = torch.einsum(&quotbie,bje-&gt;bij&quot, q, qk)

        &#47&#47 qk attention requires tokens not attend to self</code></pre>