<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                continue
            self.downsample_times_map[src_name] = SA_cfg[src_name].DOWNSAMPLE_FACTOR
            mlps = SA_cfg[src_name].MLPS
            <a id="change">for </a>k in <a id="change">range(</a>len(mlps)<a id="change">):
                </a>mlps[k] = [mlps[k][0]] + mlps[k]
            cur_layer = pointnet2_stack_modules.StackSAModuleMSG(
                radii=SA_cfg[src_name].POOL_RADIUS,
                nsamples=SA_cfg[src_name].NSAMPLE,</code></pre><h3>After Change</h3><pre><code class='java'>
            c_in += c_bev

        if &quotraw_points&quot in self.model_cfg.FEATURES_SOURCE:
            self.SA_rawpoints<a id="change">, cur_num_c_out</a> = pointnet2_stack_modules.build_local_aggregation_module(
                input_channels=num_rawpoint_features - 3, config=SA_cfg[&quotraw_points&quot]
            )
</code></pre>