<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 upsampling klass

        upsample_klass = BilinearUpsample<a id="change"> if </a>bilinear_upsample<a id="change"> else </a>Upsample

        &#47&#47 upsampling layers
</code></pre><h3>After Change</h3><pre><code class='java'>

        assert not (nearest_neighbor_upsample and bilinear_upsample)

        <a id="change">if bilinear_upsample</a><a id="change">:
            </a>upsample_klass<a id="change"> = </a>partial(InterpolateUpsample, mode = &quotbilinear&quot)
        elif <a id="change">nearest_neighbor_upsample</a><a id="change">:
            </a>upsample_klass<a id="change"> = </a>partial(InterpolateUpsample, mode = &quotnearest&quot)
        else:
            upsample_klass<a id="change"> = </a>Upsample

        &#47&#47 upsampling layers
</code></pre>