<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            w /= np.sum(w)
        else:
            raise ValueError(f"norm {norm} is not supported")
        self.register_buffer("window", <a id="change">torch.from_numpy(</a><a id="change">w.astype(</a><a id="change">default_dtype()))</a>)

        &#47&#47 Make padding module.
        if out_length is None or in_length == out_length:</code></pre><h3>After Change</h3><pre><code class='java'>
            w /= np.sum(w)
        else:
            raise ValueError(f"norm {norm} is not supported")
        self.register_buffer("window", <a id="change">numpy_to_torch(</a>w<a id="change">)</a>)

        &#47&#47 Make padding module.
        if out_length is None or in_length == out_length:</code></pre>