<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

		generated_img = self.decoder(regularized_content_code, class_adain_params)

		return <a id="change">{
			</a>&quotimg&quot: generated_img,
			&quotcontent_code&quot: content_code<a id="change">
		}</a>

	def init(self):
		self.apply(self.weights_init)
</code></pre><h3>After Change</h3><pre><code class='java'>
		else:
			regularized_content_code = content_code

		<a id="change">if </a><a id="change">self.training and self.config[&quotstyle_std&quot] != 0:
			</a>noise = torch.zeros_like(style_code)
			noise.normal_(mean=0, std=self.config[&quotstyle_std&quot])

			regularized_style_code<a id="change"> = </a>style_code + noise
		else:
			regularized_style_code = style_code
</code></pre>