<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        input0 = features[2]
        h0 = torch.zeros(self.num_layers, input0.size(0),
                         self.hidden_size).to(device)
        c0<a id="change"> = </a><a id="change">torch.zeros(self.num_layers, input0.size(0),
                         self.hidden_size).to(</a>device<a id="change">)</a>
        out, _ = self.lstm(input0, (h0, c0))
        out = self.attention_net(out)
        out = self.fc(out[:, -1, :])
        return out</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, features, device):
        inp = features[0]
        self.sequence_length = <a id="change">inp.size(1</a><a id="change">)</a>
        out, _ = self.lstm(inp)
        out = self.attention_net(out, device)
        out = self.fc1(out)
        out = self.fc2(out)</code></pre>