<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            stride = strides[i]
            dilation = dilations[i]
            dcn = self.dcn if self.stage_with_dcn[i] else None
            gcb = self.gcb<a id="change"> if </a>self.stage_with_gcb[i]<a id="change"> else </a>None
            planes = base_channels * 2**i
            res_layer = self.make_res_layer(
                block=self.block,</code></pre><h3>After Change</h3><pre><code class='java'>
            stride = strides[i]
            dilation = dilations[i]
            dcn = self.dcn if self.stage_with_dcn[i] else None
            <a id="change">if plugins is not None</a><a id="change">:
                </a>stage_plugins<a id="change"> = </a>self.make_stage_plugins(plugins, i)
            else:
                stage_plugins<a id="change"> = </a>None
            planes = base_channels * 2**i
            res_layer = self.make_res_layer(
                block=self.block,</code></pre>