<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            in_channels = out_channels
            out_channels = floor(out_channels * config[&quotchannel_gain&quot])

            <a id="change">if out_channels &gt; config[&quotmax_channels&quot]</a><a id="change">:
                </a>out_channels = config[&quotmax_channels&quot]

    def forward(self, x):
        &#47&#47 Forward down</code></pre><h3>After Change</h3><pre><code class='java'>
        for stage_id in range(num_stages):

            &#47&#47 Get encoder blocks
            <a id="change">if </a><a id="change">config[&quotuse_encoder_attn&quot] and stage_id &gt; 1: &#47&#47 Initial patch embedding done with convs
                </a>stage = EncoderSwinBlock(
                    dim=in_channels,
                    depth=config[&quotdepths&quot][stage_id - 2],
                    num_heads=config[&quotnum_heads&quot][stage_id - 2],</code></pre>