<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.assertEqual(klass_values[index], training[index].klass_value)

    def test_breakpoints_in_class_membership(self):
        path = <a id="change">datasetsDir(self) + &quotnumerical&quot + SEP + &quotperson&quot</a>
        training = format.C45_FORMAT.get_training_instances(path)
        klass_values = training.klass_values()
        self.assertEqual([&quotyes&quot, &quotno&quot, &quotyes&quot, &quotyes&quot, &quotyes&quot, &quotno&quot], klass_values)
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.assertEqual([2], breakpoints)

    def test_breakpoints_in_class_membership(self):
        breakpoints = ins.SupervisedBreakpoints([&quotyes&quot, &quotno&quot, &quotyes&quot, &quotyes&quot, &quotyes&quot, &quotno&quot], <a id="change">[</a>19.0, 21.0, 25.0, 31.0, 34.0, 42.0<a id="change"></a>])

        breakpoints = breakpoints.breakpoints_in_class_membership()
        self.assertEqual(3, len(breakpoints))</code></pre>