<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

class InstancesTestCase(unittest.TestCase):
    def test_the_number_of_instances(self):
        instances = ins.TrainingInstances(<a id="change">datasetsDir(self) + &quottest_phones&quot + </a><a id="change">SEP + &quotphoney&quot</a>)
        self.assertEqual(7, len(instances), &quot7 instances should be present&quot)
        
    def test_validatiy_of_attribute_values(self):</code></pre><h3>After Change</h3><pre><code class='java'>

class InstancesTestCase(unittest.TestCase):
    def test_the_number_of_instances(self):
        instances = ins.TrainingInstances([instance.TrainingInstance(<a id="change">[</a>&quotfoo&quot, &quotbar&quot<a id="change"></a>], &quota&quot), instance.TrainingInstance([&quotfoo&quot, &quotfoobar&quot], &quotb&quot)])
        self.assertEqual(2, len(instances), &quot2 instances should be present&quot)
        
    def test_validatiy_of_attribute_values(self):</code></pre>