<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for m in self.modules():
            if isinstance(m, self.Conv):
                m.weight = nn.init.kaiming_normal_(m.weight, mode="fan_out")
            elif <a id="change"></a>isinstance(m, self.Norm)<a id="change">:
                </a>if isinstance(self.Norm, nn.BatchNorm2d) or isinstance(
                    self.Norm, nn.BatchNorm3d
                ):
                    m.weight.data.fill_(1)</code></pre><h3>After Change</h3><pre><code class='java'>
                nn.init.kaiming_normal_(m.weight, mode="fan_out", nonlinearity="relu")
            elif isinstance(m, self.Norm):
                if m.weight is not None:
                    <a id="change">m.weight.data.fill_(1</a><a id="change">)</a>
                if m.bias is not None:
                    m.bias.data.zero_()
            elif isinstance(m, nn.Linear):
                nn.init.constant_(m.bias, 0)</code></pre>