<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            queries, 
            keys
        )
        <a id="change">if </a>attention_bias.ndim == 3<a id="change">:
            </a>attention_bias = attention_bias[:, None, :attention_weights.shape[-2], :attention_weights.shape[-1]]
        elif <a id="change">attention_bias.ndim == 2</a><a id="change">:
            </a>attention_bias<a id="change"> = </a>attention_bias[:, None, None, :attention_weights.shape[-1]]
        attention_weights += attention_bias
        attention_weights = torch.softmax(attention_weights, -1)
        attention_output: FloatTensor = torch.einsum(</code></pre><h3>After Change</h3><pre><code class='java'>
            keys
        )
        while attention_bias.ndim &lt; 4: 
            attention_bias = <a id="change">attention_bias.unsqueeze(1</a><a id="change">)</a>
        attention_weights += attention_bias
        attention_weights = torch.softmax(attention_weights, -1)
        attention_output: FloatTensor = torch.einsum(
            "bhqk,bkhc-&gt;bqhc",</code></pre>