<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.patches_resolution = patches_resolution

        &#47&#47 absolute position embedding
        <a id="change">if </a>self.ape<a id="change">:
            </a>self.absolute_pos_embed = nn.Parameter(torch.zeros(1, num_patches, embed_dim))
            <a id="change">trunc_normal_(</a>self.absolute_pos_embed<a id="change">, std=.02)</a>

        self.pos_drop = nn.Dropout(p=drop_rate)

        &#47&#47 stochastic depth</code></pre><h3>After Change</h3><pre><code class='java'>
            patches_resolution = [pretrain_img_size[0] // patch_size[0], pretrain_img_size[1] // patch_size[1]]

            self.absolute_pos_embed = nn.Parameter(torch.zeros(1, embed_dim, patches_resolution[0], patches_resolution[1]))
            <a id="change">trunc_normal_(</a>self.absolute_pos_embed<a id="change">, std=.02)</a>

        self.pos_drop = nn.Dropout(p=drop_rate)

        &#47&#47 stochastic depth</code></pre>