<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    ):
        super().__init__()
        image_height, image_width = pair(image_size)
        <a id="change">assert </a>(image_height % patch_size) == 0 and (image_width % patch_size) == 0, &quotimage height and width must be divisible by patch size&quot
        num_patches = (image_height // patch_size) * (image_width // patch_size)

        dim_ff = dim * ff_mult</code></pre><h3>After Change</h3><pre><code class='java'>
    ):
        super().__init__()
        image_height, image_width = pair(image_size)
        patch_height<a id="change">, patch_width = </a><a id="change">pair(</a>patch_size<a id="change">)</a>
        assert (image_height % patch_height) == 0 and (image_width % patch_width) == 0, &quotimage height and width must be divisible by patch size&quot
        num_patches = (image_height // patch_height) * (image_width // patch_width)

        dim_ff = dim * ff_mult</code></pre>