<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        priv_obses = self.lut_range_idx_2_priv_o[range_idxs]

        if isinstance(pub_obses, list):
            pub_obses<a id="change"> = </a><a id="change">torch.from_numpy(np.array(pub_obses)).to(</a>self.device, torch.float32<a id="change">)</a>

        if self.args.use_pre_layers:
            _board_obs = pub_obses[:, self.board_start:self.board_stop]
            _hist_and_state_obs = torch.cat([</code></pre><h3>After Change</h3><pre><code class='java'>

        priv_obses = self.lut_range_idx_2_priv_o[range_idxs]
        pf_mask = torch.where(pub_obses[:,14] == 1)
        priv_obses[pf_mask]<a id="change"> = </a><a id="change">self.lut_range_idx_2_priv_o_pf[range_idxs][pf_mask]</a>

        if self.args.use_pre_layers:
            _board_obs = pub_obses[:, self.board_start:self.board_stop]
            _hist_and_state_obs = torch.cat([</code></pre>