<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for ntype, n_nodes in self.n_nodes_dict.items():
            h = h_dict.get(ntype)
            if h is None:
                <a id="change">if all_feats</a><a id="change">:
                    </a>embed<a id="change"> = </a><a id="change">nn.Parameter(</a>torch.FloatTensor(n_nodes, self.embed_size)<a id="change">)</a>
                    &#47&#47 initrange = 1.0 / self.embed_size
                    &#47&#47 nn.init.uniform_(embed, -initrange, initrange)
                    nn.init.xavier_uniform_(embed, gain=nn.init.calculate_gain(&quotrelu&quot))
                    self.embed_dict[ntype] = embed</code></pre><h3>After Change</h3><pre><code class='java'>
            else:
                linear_dict[ntype] = h.shape[1]
        self.embes = HeteroEmbedding(embed_dict, embed_size)
        <a id="change">if </a>need_trans<a id="change">:
            </a>self.linear<a id="change"> = </a>HeteroLinear(linear_dict, embed_size)
        self.act = act  &#47&#47 activate

    def forward(self):</code></pre>