<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x, context = None, mask = None, context_mask = None):
        prev_attn = None
        for (layer_type, (norm, block)) in <a id="change">zip(</a>self.layer_types, self.layers<a id="change">)</a>:
            if self.pre_norm:
                x = norm(x)
</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x, context = None, mask = None, context_mask = None):
        prev_attn = None
        for ind, (layer_type, (norm, block)) in <a id="change">enumerate(</a><a id="change">zip(</a>self.layer_types, self.layers<a id="change">))</a>:
            is_last<a id="change"> = ind == (len(self.layers) - 1)</a>

            if self.pre_norm:
                x = norm(x)
</code></pre>