<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def __init__(self, in_planes, planes, stride=1):
        super(Bottleneck, self).__init__()
        self.conv1<a id="change"> = nn</a><a id="change">.Conv2d(</a>in_planes, <a id="change">planes</a><a id="change">, kernel_size=1, bias=False)</a>
        self.bn1 = nn.BatchNorm2d(planes)
        self.conv2 = nn.Conv2d(planes, planes, kernel_size=3, stride=stride, padding=1, bias=False)
        self.bn2<a id="change"> = nn</a><a id="change">.BatchNorm2d(planes</a><a id="change">)</a>
        self.conv3 = nn.Conv2d(planes, self.expansion*planes, kernel_size=1, bias=False)
        self.bn3 = nn.BatchNorm2d(self.expansion*planes)

        self.shortcut = nn.Sequential()
        if stride != 1 or in_planes != self.expansion*planes:
            self.shortcut = <a id="change">nn.Sequential(
                </a>nn.Conv2d(in_planes, self.expansion*planes, kernel_size=1, stride=stride, bias=False),
                nn.BatchNorm2d(self.expansion*planes)<a id="change">
            )</a>

    def forward(self, x):
        out = F.relu(self.bn1(self.conv1(x)))
        out = F.relu(self.bn2(self.conv2(out)))</code></pre><h3>After Change</h3><pre><code class='java'>

        self.transformer = Transformer(dim, depth, heads, mlp_dim, dropout)

        self.to_cls_token = <a id="change">nn.Identity()</a>

        self.mlp_head = nn.Sequential(
            nn.LayerNorm(dim),
            nn.Linear(dim, mlp_dim),
            nn.GELU(),
            <a id="change">nn.Dropout(</a>dropout<a id="change">)</a>,
            nn.Linear(mlp_dim, num_classes)
        )
</code></pre>