<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        seq_dim = -3
        index = torch.tensor([0], device=m.device)
        s = <a id="change">self.linear(</a>torch.index_select(m, dim=seq_dim, index=index)<a id="change">)</a>
        s<a id="change"> = </a>s.squeeze(seq_dim)

        return m, z, s
</code></pre><h3>After Change</h3><pre><code class='java'>
            blocks_per_ckpt=self.blocks_per_ckpt if self.training else None,
        )

        s = self.linear(<a id="change">m[..., 0, :, :]</a>)
        
        return m, z, s
</code></pre>