<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if padding &gt; 0:
            quad_q, quad_k, lin_q, lin_k, v = map(lambda t: F.pad(t, (0, 0, 0, padding), value = 0.), (quad_q, quad_k, lin_q, lin_k, v))

            <a id="change">if </a>exists(mask)<a id="change">:
                </a>mask = F.pad(mask, (0, padding), value = False)

        &#47&#47 group along sequence
</code></pre><h3>After Change</h3><pre><code class='java'>
        if padding &gt; 0:
            quad_q, quad_k, lin_q, lin_k, v = map(lambda t: F.pad(t, (0, 0, 0, padding), value = 0.), (quad_q, quad_k, lin_q, lin_k, v))

            mask = default(mask, <a id="change">torch.ones(</a>(b<a id="change">, n</a>)<a id="change">, device = device, dtype = torch.bool)</a>)
            mask = F.pad(mask, (0, padding), value = False)

        &#47&#47 group along sequence</code></pre>