<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()

        self.conv_1 = nn.Conv1d(1, 16, (3, 1))
        self.conv_2 = <a id="change">nn.Conv2d(</a>16, <a id="change">32</a>, (3, 1)<a id="change">)</a>
        self.conv_3 = nn.Conv2d(32, 32, (3, 1))
        self.conv_4 = nn.Conv2d(32, 64, (3, 1))
        self.conv_5 = nn.Conv2d(64, 64, (3, 1))
        self.max = nn.AdaptiveMaxPool2d(8)</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()

        self.conv_1 = nn.Conv2d(1, 8, (3, 1))
        self.bn_1<a id="change"> = </a><a id="change">nn.BatchNorm2d(8</a><a id="change">)</a>
        self.conv_2 = nn.Conv2d(8, 16, (3, 1))
        self.bn_2 = nn.BatchNorm2d(16)
        self.conv_3 = nn.Conv2d(16, 64, (3, 1))
        self.bn_3 = nn.BatchNorm2d(64)</code></pre>