<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        elif mask_nonlinear == &quotsoftmax&quot:
            self.mask_nonlinear2d = nn.Softmax(dim=1)
        else:
            <a id="change">raise </a><a id="change">NotImplementedError(</a>""<a id="change">)</a>
        
        self.take_log, self.take_db = take_log, take_db
        self.eps = eps
</code></pre><h3>After Change</h3><pre><code class='java'>
        kwargs = {}
        
        if mask_nonlinear == &quotsoftmax&quot:
            <a id="change">kwargs["dim"]</a> = 1
        
        self.mask_nonlinear2d = choose_nonlinear(mask_nonlinear, **kwargs)
        </code></pre>