<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        bq_k = look_around(b_t, **look_around_kwargs)

        dots = torch.einsum(&quotbhie,bhje-&gt;bhij&quot, bq, bk) * (e ** -0.5)
        mask_value = <a id="change">float(&quot-inf&quot</a><a id="change">)</a>

        if shared_qk:
            mask = bq_t[:, :, :, None] == bq_k[:, :, None, :]
            dots.masked_fill_(mask, TOKEN_SELF_ATTN_VALUE)</code></pre><h3>After Change</h3><pre><code class='java'>

        dots = torch.einsum(&quotbhie,bhje-&gt;bhij&quot, bq, bk) * (e ** -0.5)

        mask_value<a id="change"> = </a><a id="change">max_neg_value(</a>dots<a id="change">)</a>

        if shared_qk:
            mask = bq_t[:, :, :, None] == bq_k[:, :, None, :]
            dots.masked_fill_(mask, TOKEN_SELF_ATTN_VALUE)</code></pre>