<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        input_size = (dim * self.num_categories) + num_continuous
        l = input_size // 8
        mult1<a id="change">, mult2</a> = mlp_hidden_mults

        self.mlp = nn.Sequential(
            nn.Linear(input_size, l * mult1),</code></pre><h3>After Change</h3><pre><code class='java'>
        input_size = (dim * self.num_categories) + num_continuous
        l = input_size // 8

        hidden_dimensions<a id="change"> = </a>list(<a id="change">map(</a>lambda t: l * t, mlp_hidden_mults<a id="change">)</a>)
        all_dimensions = [input_size, *hidden_dimensions, dim_out]
        self.mlp = MLP(all_dimensions)
</code></pre>