<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :type iterations: int
        

        self.translation_table = <a id="change">defaultdict(</a>lambda: defaultdict(lambda: float)<a id="change">)</a>
        
        Probability(target word | source word). Values accessed as
        ``translation_table[target_word][source_word].``
        </code></pre><h3>After Change</h3><pre><code class='java'>
        super(IBMModel1, self).__init__(sentence_aligned_corpus)

        &#47&#47 seed with a uniform distribution
        initial_prob = <a id="change">1</a><a id="change"> / </a><a id="change">len(</a>self.trg_vocab<a id="change">)</a>
        for t in self.trg_vocab:
            for s in self.src_vocab:
                self.translation_table[t][s] = initial_prob
</code></pre>