<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return sum(self._read_tagged_sent_block(stream, simplify_tags), [])

    def _read_sent_block(self, stream):
        return <a id="change">filter(</a>None, [self._word(t) for t in self._read_block(stream)]<a id="change">)</a>

    def _read_tagged_sent_block(self, stream, simplify_tags=False):
        return filter(None, [self._tag(t, simplify_tags)
                             for t in self._read_block(stream)])</code></pre><h3>After Change</h3><pre><code class='java'>
        return sum(self._read_tagged_sent_block(stream, simplify_tags), [])

    def _read_sent_block(self, stream):
        return <a id="change">list(</a><a id="change">filter(</a>None, [self._word(t) for t in self._read_block(stream)]<a id="change">))</a>

    def _read_tagged_sent_block(self, stream, simplify_tags=False):
        return list(filter(None, [self._tag(t, simplify_tags)
                             for t in self._read_block(stream)]))</code></pre>