<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(IBMModel1, self).__init__(sentence_aligned_corpus)
        self.set_uniform_distortion_probabilities(sentence_aligned_corpus)

        <a id="change">self.train(</a>sentence_aligned_corpus, iterations<a id="change">)</a>
        self.__align_all(sentence_aligned_corpus)

    def set_uniform_distortion_probabilities(self, sentence_aligned_corpus):
        initial_prob = 1 / len(self.trg_vocab)</code></pre><h3>After Change</h3><pre><code class='java'>
        super(IBMModel1, self).__init__(sentence_aligned_corpus)
        self.set_uniform_distortion_probabilities(sentence_aligned_corpus)

        <a id="change">for </a><a id="change">n</a> in <a id="change">range(0</a>, iterations<a id="change">):
            </a><a id="change">self.train(</a>sentence_aligned_corpus<a id="change">)</a>

        self.__align_all(sentence_aligned_corpus)

    def set_uniform_distortion_probabilities(self, sentence_aligned_corpus):</code></pre>