<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        if output_nonlinear is not None:
            if output_nonlinear == &quottanh&quot:
                end_net.append(<a id="change">nn.Tanh()</a>)
            elif output_nonlinear == &quotsoftmax&quot:
                end_net.append(nn.Softmax(dim=1))
            else:</code></pre><h3>After Change</h3><pre><code class='java'>
        end_net.append(nn.Conv1d(hidden_channels, out_channels, kernel_size=1, stride=1, bias=False))
        
        if output_nonlinear is not None:
            <a id="change">if </a>output_nonlinear == &quotsoftmax&quot<a id="change">:
                </a>kwargs<a id="change"> = </a><a id="change">{
                    </a>"dim": 1<a id="change">
                }</a>
            else:
                kwargs = {}
            
            module = choose_nonlinear(output_nonlinear, **kwargs)</code></pre>