<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, layout: List[int], in_channels: int = 64) -&gt; None:
        super().__init__()
        _decoder_layers = [
            self.decoder_block(out_chan, in_chan) for in_chan, out_chan in zip(<a id="change">[</a>in_channels<a id="change"></a>] + layout[:-1], layout)
        ]
        self.decoders = nn.ModuleList(_decoder_layers)
</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()
        strides = [
            1 if (in_shape[-1] == out_shape[-1]) else 2
            for in_shape, out_shape in zip(layer_shapes[:-1], <a id="change">layer_shapes[1:]</a>)
        ]

        chans = [shape[0] for shape in layer_shapes]</code></pre>