<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if first_input is not None:

            &#47&#47 Shape check
            if <a id="change">len(</a>first_input[0].shape<a id="change">)</a> &gt; 5 or len(first_input[0].shape) &lt; 2:

                err_msg = (
                    &quotThe input of "linear" must be a tensor with one of the  &quot</code></pre><h3>After Change</h3><pre><code class='java'>
        self.transp_conv2d = False

        &#47&#47 Ensure kernel_size and padding are lists
        <a id="change">if </a>not <a id="change">isinstance(</a>self.kernel_size, list<a id="change">):
            </a>self.kernel_size<a id="change"> = </a>[self.kernel_size]
        if self.padding is not None and not isinstance(self.padding, list):
            self.padding = [self.padding]
</code></pre>