<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        else:
            shortcut = [spectral_norm(nn.Linear(input_size, output_size)) if spect_norm else
                        nn.Linear(input_size, output_size)]
            shortcut += batch_norm * [<a id="change">nn.BatchNorm1d(</a>output_size<a id="change">)</a>]

        block = [spectral_norm(nn.Linear(input_size, output_size)) if spect_norm else
                 nn.Linear(input_size, output_size)]</code></pre><h3>After Change</h3><pre><code class='java'>
        block = [spectral_norm(nn.Linear(input_size, output_size)) if spect_norm else
                 nn.Linear(input_size, output_size)]
        if norm:
            block<a id="change"> += </a><a id="change">[</a>norm(output_size)<a id="change"></a>]
        block += [activation]

        block += [spectral_norm(nn.Linear(output_size, output_size)) if spect_norm else</code></pre>