<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if &quotresnet&quot in arch_str:
            block = BasicResidualBlock
        for layer_definition in self.architecture_definition:
            if <a id="change">layer_definition.get(&quotresidual&quot</a>, False<a id="change">)</a>:
                block_kwargs = {
                    &quotstride&quot: layer_definition[&quotstride&quot],
                    &quotdownsample&quot: nn.Sequential(nn.Conv2d(in_dim,</code></pre><h3>After Change</h3><pre><code class='java'>
        for layer_definition in self.architecture_definition:
            layer_stride = layer_definition[&quotstride&quot]
            layer_out_dim = layer_definition[&quotout_dim&quot]
            if <a id="change">layer_definition.get(&quotresidual&quot</a>, False<a id="change">)</a>:
                block_kwargs = {
                    &quotstride&quot: layer_stride,
                    &quotdownsample&quot: nn.Sequential(nn.Conv2d(in_dim,</code></pre>