<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                 dilation=dilation,
                                 stride=1), spnn.BatchNorm(outc))

        self.downsample = nn.Sequential() if <a id="change">(inc == outc and stride == 1)</a> else \
            nn.Sequential(
                spnn.Conv3d(inc, outc, kernel_size=1, dilation=1, stride=stride),
                spnn.BatchNorm(outc)</code></pre><h3>After Change</h3><pre><code class='java'>
            spnn.BatchNorm(outc),
        )

        if <a id="change">inc == outc and stride == 1</a>:
            self.downsample = nn.Sequential()
        else:
            self.downsample = nn.Sequential(</code></pre>