<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :param input: An float tensor with shape of [batch_size, seq_len, embed_size]
        :return: An float tensor with shape of [batch_size, latent_variable_size]
        
        input = <a id="change">input.permute(0</a>, <a id="change">2</a>, <a id="change">1</a><a id="change">)</a>
        result = self.cnn(input)
        return result.squeeze(2)
</code></pre><h3>After Change</h3><pre><code class='java'>
        
        input = input.transpose(1, 2).contiguous()
        output = self.cnn(input)
        output<a id="change"> = </a><a id="change">torch.mean(</a>output<a id="change">, dim=-1)</a>
        return output
</code></pre>