<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 Layers
        backbone = models.resnext50_32x4d(pretrained=True)
        &#47&#47 Remove softmax layer at the end
        backbone = <a id="change">nn.Sequential(</a>*<a id="change">list(backbone.children())[:-1])</a>
        self.model = Trainable(backbone,
                               name="backbone",
                               trainable=True)
        self.logits = Trainable(nn.Linear(2048, n_classes),</code></pre><h3>After Change</h3><pre><code class='java'>
        self.block4 = Trainable(backbone.layer4,
                                trainable=True,
                                name="block4")
        self.avg_pool = <a id="change">nn.AdaptiveAvgPool2d(</a>(<a id="change">1</a><a id="change">, 1</a>)<a id="change">)</a>
        self.logits = Trainable(nn.Linear(2048, n_classes),
                                name="logits",
                                trainable=True)
</code></pre>