<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise ValueError
        inverted_residual=InvertedResidual

        <a id="change">if len(stages_repeats) != 3</a><a id="change">:
            </a>raise ValueError(&quotexpected stages_repeats as list of 3 positive ints&quot)
        if len(stages_out_channels) != 5:
            <a id="change">raise </a>ValueError(&quotexpected stages_out_channels as list of 5 positive ints&quot)
        self._stage_out_channels = stages_out_channels

        input_channels = 3</code></pre><h3>After Change</h3><pre><code class='java'>
            self.out_channels = (352, 704)
        elif self.version == "shufflenet-2.0":
            self._stage_out_channels = [24, 244, 488, 976, 2048]
            self.out_channels = (<a id="change">488</a><a id="change">, 976</a>)
        else:
            raise ValueError
</code></pre>