<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                  senna_binary_file)
                    
        &#47&#47 Build the senna command to run the tagger
        _senna_cmd<a id="change"> = </a><a id="change">[</a>senna_binary_file, <a id="change">&quot-path&quot</a>, self._path, <a id="change">&quot-usrtokens&quot</a>, <a id="change">&quot-iobtags&quot</a>]
        _senna_cmd.extend([&quot-&quot+op for op in self.operations])

        &#47&#47 Serialize the actual sentences to a temporary string</code></pre><h3>After Change</h3><pre><code class='java'>
        encoding = self._encoding
         
        &#47&#47 Build the senna command to run the tagger
        _senna_cmd = <a id="change">[</a>self.executable(self._path), <a id="change">&quot-path&quot</a>, self._path, <a id="change">&quot-usrtokens&quot</a>, <a id="change">&quot-iobtags&quot</a>]
        _senna_cmd.extend([&quot-&quot+op for op in self.operations])

        &#47&#47 Serialize the actual sentences to a temporary string</code></pre>