<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		for block in self.decoder:
			x = block(x, style_code)

		<a id="change">return </a>self.to_rgb(x)


class ContentEncoder(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>

		class_code = self.class_embedding(class_id)
		class_code_repeated = class_code.view((batch_size, -1, 1, 1)).repeat((1, 1, 16, 16))
		x<a id="change"> = </a>torch.cat((content_code, class_code_repeated), dim=1)

		<a id="change">for </a><a id="change">block</a> in self.adains<a id="change">:
			</a>x<a id="change"> = </a><a id="change">block(</a>x, class_code<a id="change">)</a>

		return self.convs(x)

</code></pre>