<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            mask = F.pad(mask, (0, self.image_seq_len), value = True)

        out = self.transformer(tokens, mask = mask)
        <a id="change">return </a>self.to_logits(out)
</code></pre><h3>After Change</h3><pre><code class='java'>
            mask = F.pad(mask, (0, self.image_seq_len), value = True)

        out = self.transformer(tokens, mask = mask)
        out<a id="change"> = </a>self.to_logits(out)

        if not return_loss:
            <a id="change">return </a>out

        offsetted_image = image + self.num_text_tokens
        labels = torch.cat((text, offsetted_image), dim = 1)
        labels = F.pad(labels, (0, 1), value = (self.total_tokens - 1)) &#47&#47 last token predicts EOS
        loss<a id="change"> = </a><a id="change">F.cross_entropy(</a>out.transpose(1, 2), labels[:, 1:]<a id="change">)</a>
        return loss
</code></pre>