<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            start_idx = slice_idx
        self.slice1 = sliced_modules[0]
        self.slice2 = sliced_modules[1]
        self.slice3 = <a id="change">sliced_modules[2]</a>
        self.slice4 = sliced_modules[3]
        self.slice5 = sliced_modules[4]

    def forward(self, net: torch.Tensor) -&gt; torch.Tensor:</code></pre><h3>After Change</h3><pre><code class='java'>
            sliced_modules.append(local_module)
            start_idx = slice_idx
        self.num_slices = len(sliced_modules)
        <a id="change">for </a>i, sliced_m in <a id="change">enumerate(</a>sliced_modules<a id="change">):
            </a>setattr(self, f"slice{i}", sliced_m)

    def forward(self, net: torch.Tensor) -&gt; torch.Tensor:
        for i in range(self.num_slices):</code></pre>