<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        pred_segmentation = self.segmentation(out_block2, out_block3, out_block4, out_block5)
        pred_eventspotting = self.events_spotting(global_features, local_features)

        <a id="change">return </a>pred_ball_global, pred_ball_local, pred_segmentation, pred_eventspotting

    def crop_original_batch(self, original_batch_input, pred_ball_global):
        &#47&#47 Process input for local stage based on output of the global one</code></pre><h3>After Change</h3><pre><code class='java'>
            resize_batch_input)

        input_ball_local = self.crop_original_batch(original_batch_input, resize_batch_input, pred_ball_global)
        input_ball_local<a id="change"> = </a><a id="change">input_ball_local.cuda()</a>
        pred_ball_local, local_features, _, _, _, _ = self.ball_local_stage(input_ball_local)

        pred_eventspotting = self.events_spotting(global_features, local_features)</code></pre>