<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.cin = cin
        self.cout = cout

        self.AAD1 = <a id="change">AADLayer(cin</a>, <a id="change">c_attr</a>, <a id="change">c_id</a><a id="change">)</a>
        self.conv1<a id="change"> = nn</a><a id="change">.Conv2d(cin</a>, <a id="change">cin</a><a id="change">, kernel_size=3, stride=1, padding=1, bias=False)</a>
        self.relu1 = <a id="change">nn.ReLU(inplace=True)</a>

        self.AAD2<a id="change"> = </a><a id="change">AADLayer(cin</a>, <a id="change">c_attr</a>, <a id="change">c_id</a><a id="change">)</a>
        self.conv2<a id="change"> = </a><a id="change">nn.Conv2d(cin</a>, <a id="change">cout</a><a id="change">, kernel_size=3, stride=1, padding=1, bias=False)</a>
        self.relu2<a id="change"> = </a><a id="change">nn.ReLU(inplace=True)</a>

        if cin != cout:
            self.AAD3 = <a id="change">AADLayer(cin</a>, <a id="change">c_attr</a>, <a id="change">c_id</a><a id="change">)</a>
            self.conv3<a id="change"> = </a><a id="change">nn.Conv2d(cin</a>, <a id="change">cout</a><a id="change">, kernel_size=3, stride=1, padding=1, bias=False)</a>
            self.relu3<a id="change"> = nn</a><a id="change">.ReLU(inplace=True)</a>

    def forward(self, h, z_attr, z_id):
        x = self.AAD1(h, z_attr, z_id)
        x = self.relu1(x)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.cin = cin
        self.cout = cout
        
        add_blocks = <a id="change">[]</a>
        <a id="change">for </a><a id="change">i</a> in <a id="change">range(num_blocks</a><a id="change">):
            </a>out = cin<a id="change"> if i</a><a id="change"> &lt; (num_blocks-1) else </a>cout
            <a id="change">add_blocks.extend(</a><a id="change">[AADLayer(cin</a>, <a id="change">c_attr</a>, <a id="change">c_id</a><a id="change">)</a>,
                               <a id="change">nn.ReLU(inplace=True)</a>,
                               <a id="change">nn.Conv2d(cin</a>, out<a id="change">, kernel_size=3, stride=1, padding=1, bias=False)</a>
                              ]<a id="change">)</a>
        self.add_blocks = AddBlocksSequential(*add_blocks)
        
        if cin != cout:
            last_add_block<a id="change"> = </a><a id="change">[</a><a id="change">AADLayer(cin</a>, <a id="change">c_attr</a>, <a id="change">c_id</a><a id="change">)</a>, 
                             <a id="change">nn.ReLU(inplace=True)</a>, 
                             <a id="change">nn.Conv2d(cin</a>, cout<a id="change">, kernel_size=3, stride=1, padding=1, bias=False)</a>]
            self.last_add_block = AddBlocksSequential(*last_add_block)
            
</code></pre>