<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    &#47&#47 --------------------------------------------------------------------------

    def forward(self, input, hx=None):
        output_size<a id="change"> = </a>(
            int((<a id="change">input.size(-1</a><a id="change">)</a> - self.kernel_size + 2 * self.padding_ih) / self.stride) + 1
        )
        &#47&#47 Handle the case of no hidden state provided
        if hx is None:</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 init hidden on forward
        if h_prev is None:
            h_prev = self.init_hidden(input)
        <a id="change">print(f"input: {input.shape} prev: {h_prev.shape}"</a><a id="change">)</a>
        combined = torch.cat((input, h_prev), dim=1)  &#47&#47 concatenate along channel axis

        combined_conv = F.sigmoid(self.conv_zr(combined))
</code></pre>