<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        labels = torch.cat((torch.zeros(batch, device = device), torch.ones(batch, device = device)), dim = 0)

        <a id="change">if </a>return_discr_loss<a id="change">:
            </a>labels = torch.flip(labels, (0,))

        real_or_fake = self.disc(torch.cat((fmap, img), dim = 0))
        gan_loss = F.binary_cross_entropy(real_or_fake, labels)</code></pre><h3>After Change</h3><pre><code class='java'>

        fmap, indices, commit_loss = self.encode(img)

        fmap<a id="change"> = </a><a id="change">self.decode(</a>fmap<a id="change">)</a>

        if not return_loss:
            return fmap
</code></pre>