<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 print("hello0")
        &#47&#47 下面是使用CFR
        crf_model = CRF(self.num_token_type, batch_first=True)
        <a id="change">if </a>USE_CUDA<a id="change">:
            </a>crf_model = crf_model.cuda()
        if not is_test:
            log_likelihood = crf_model(ner_score, data_item[&quottoken_type_list&quot].to(torch.int64),
                                       mask=data_item[&quotmask_tokens&quot])</code></pre><h3>After Change</h3><pre><code class='java'>
                                       mask=data_item[&quotmask_tokens&quot])
            loss_ner = -log_likelihood
            
        pred_ner<a id="change"> = </a><a id="change">self.crf_model.decode(</a>ner_score<a id="change">)</a>  &#47&#47 , mask=data_item[&quotmask_tokens&quot]
        
        &#47&#47 下面使用的是Softmax
        &#47&#47 loss_ner = F.softmax(ner_score, data_item[&quotner_type&quot])</code></pre>