<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            probs = torch.exp(logits - torch.logsumexp(logits, dim=1, keepdims=True))
            out = torch.sum(o * probs, dim=1)

        <a id="change">assert </a>out.shape == v.shape
        return out, buckets

class LSHSelfAttention(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, qk, v, query_len = None):
        batch_size, seqlen, dim = qk.shape
        query_len = seqlen<a id="change"> if query_len is None</a><a id="change"> else </a>query_len
        device = qk.device

        n_buckets = seqlen // self.bucket_size</code></pre>