<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

            X = torch.cat((X, Y),dim=1) &#47&#47Concat on Channel Dimension

        <a id="change">return </a>X

def transitionBlock(in_channel, out_channel):
    return nn.Sequential(</code></pre><h3>After Change</h3><pre><code class='java'>
                               bias=False)

    def forward(self, x):
        out<a id="change"> = </a>self.conv1(<a id="change">F.relu(</a><a id="change">self.bn1(</a>x<a id="change">))</a>)
        out<a id="change"> = </a>F.avg_pool2d(out, 2)
        <a id="change">return </a>out


class DenseNet(nn.Module):</code></pre>