<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 have much of an impact on final performance anyway. See page 8 (https://arxiv.org/pdf/2102.11972.pdf)
        super().__init__()

        inner_dim = <a id="change">int(</a>dim<a id="change"> * </a>ff_mult<a id="change">)</a>
        if ffn_type == "GEGLU":
            self.net<a id="change"> = </a>nn.Sequential(
                GEGLU(dim, inner_dim),
                nn.Dropout(dropout),
                nn.Linear(inner_dim, dim)</code></pre><h3>After Change</h3><pre><code class='java'>
        upper_tri_rows = rearrange(upper_tri_rows, &quoti j -&gt; () i j&quot)
        slopes = self._get_slopes(heads=int(heads / 2))

        all_rows<a id="change"> = </a><a id="change">[]</a>
        for h_ in range(int(heads / 2)):
            all_rows.append(lower_tri_rows * slopes[h_])
            all_rows.append(upper_tri_rows * slopes[h_])
</code></pre>