<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, inputs: Tuple[Tensor, Tensor, Tensor, Tensor]) -&gt; Tensor:
        laterals = [lateral_conv(inputs[i]) for i, lateral_conv in enumerate(self.lateral_convs)]
        <a id="change">laterals.append(</a>self.psp_forward(inputs)<a id="change">)</a>

        used_backbone_levels = len(laterals)
        for i in range(used_backbone_levels-1, 0, -1):
            laterals[i-1] += F.interpolate(laterals[i], size=laterals[i-1].shape[2:], mode=&quotbilinear&quot, align_corners=False)</code></pre><h3>After Change</h3><pre><code class='java'>
        f = self.ppm(features[-1])
        fpn_features = [f]

        for i in reversed(<a id="change">range(</a><a id="change">len(</a>features<a id="change">)</a>-1<a id="change">)</a>):
            feature = self.fpn_in[i](features[i])
            f = feature + F.interpolate(f, size=feature.shape[-2:], mode=&quotbilinear&quot, align_corners=False)
            fpn_features.append(self.fpn_out[i](f))</code></pre>