<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        eps = self.eps

        loss = -<a id="change"> target * torch.log(input + eps) - </a>(1 - target) * <a id="change">torch.log(</a>1 - input + eps<a id="change">)</a>
        loss = loss.squeeze(dim=1).mean(dim=1)
        
        if batch_mean:
            loss = loss.mean(dim=0)</code></pre><h3>After Change</h3><pre><code class='java'>
        if reduction == "mean":
            loss = loss.mean(dim=dim)
        elif reduction == "sum":
            loss<a id="change"> = </a><a id="change">loss.sum(dim=dim)</a>
        
        if batch_mean:
            loss = loss.mean(dim=0)
        </code></pre>