<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.encoder = UNetEncoder(input_channel, channel_in_between)
        self.middle_layer = self._build_middle_layer(channel_in_between[-1], middle_channel)
        self.decoder = UNetDecoder(middle_channel, <a id="change">channel_in_between[::-1]</a>)
        self.output_layer = nn.Conv2d(<a id="change">channel_in_between[0]</a>, output_channel, kernel_size=1)

    def forward(self, x):
        _, _, h, w = x.shape</code></pre><h3>After Change</h3><pre><code class='java'>

class UNetBase(nn.Module):
    def __init__(self, *, channel_in_between=[], to_remain_size=False, image_size=None):
        <a id="change">super()</a>.__init__()

        assert len(channel_in_between) &gt;= 1, f"[{self.__class__.__name__}] Please specify the number of channels for at least 1 layer."
</code></pre>