<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        fc=torch.nn.Linear(self.noise_size, self.num_generator_features*self.num_units*4*4)
        output=fc(input)
        output=output.view(-1, self.num_generator_features*self.num_units, 4, 4)
        ouptut=<a id="change">self.network(</a>output<a id="change">)</a>
        return output


class DCGAN_Discriminator(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        return layers

    def forward(self, input):
        <a id="change">return </a><a id="change">self.network(</a>output<a id="change">)</a>


class DCGAN_Discriminator(nn.Module):
</code></pre>