<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.conv1d = nn.Conv1d(in_channels, out_channels, kernel_size, stride=stride, dilation=dilation)

        if self.nonlinear:
            <a id="change">if </a>self.nonlinear == &quotrelu&quot<a id="change">:
                </a>self.nonlinear1d<a id="change"> = </a>nn.ReLU()
            elif self.nonlinear == &quotleaky-relu&quot:
                self.nonlinear1d = nn.LeakyReLU()
            else:
                <a id="change">raise ValueError(</a><a id="change">"Not support nonlinear {}".format(</a>self.nonlinear<a id="change">))</a>

        if self.dropout:
            self.dropout1d = nn.Dropout(dropout)
</code></pre><h3>After Change</h3><pre><code class='java'>
            self.conv1d = nn.Conv1d(in_channels, out_channels, kernel_size, stride=stride, dilation=dilation)

        if self.nonlinear:
            self.nonlinear1d<a id="change"> = </a><a id="change">choose_nonlinear(</a>nonlinear<a id="change">)</a>

        if self.dropout:
            self.dropout1d = nn.Dropout(dropout)
</code></pre>