<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.output_linear = nn.ModuleList(
            [nn.Sequential(nn.Linear(hidden_size, out_size),
                           nn.Sigmoid()) 
             for _ in <a id="change">range(</a>len(self.output_layers)<a id="change">)</a>])
        self.linear.apply(mfn_weights_init)
        self.output_linear.apply(mfn_weights_init)
</code></pre><h3>After Change</h3><pre><code class='java'>
            
        &#47&#47 make the final layer (after sigmoid) "almost" uniform in [0, 1]
        &#47&#47 TODO: find the math formula...
        nn.init.uniform_(<a id="change">self.out[0]</a>.weight,
                         -6/hidden_size**0.5, 6/hidden_size**0.5)

    def forward(self, x):</code></pre>