<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 head
        self.embeddings = []
        self.global_pool = nn.Sequential(OrderedDict([(&quotglobal_pool_layer&quot<a id="change">, global_pool_layer</a>)]))
        self.num_features = (self.planes * 8) * Bottleneck.expansion
        fc = nn.Linear(self.num_features, num_classes)
        self.head = nn.Sequential(OrderedDict([(&quotfc&quot, fc)]))</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 JIT layers
        space_to_depth = SpaceToDepthModule()
        anti_alias_layer<a id="change"> = </a><a id="change">partial(</a>AntiAliasDownsampleLayer<a id="change">, no_jit=no_aa_jit)</a>

        &#47&#47 TResnet stages
        self.inplanes = int(64 * width_factor)
        self.planes = int(64 * width_factor)</code></pre>