<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 slater kernel
        if self.kernel == &quotslater&quot:
            X<a id="change"> = </a>torch.sqrt(X)
            self.detS[:,:] = 1.

        &#47&#47 divide by the determinant of the cov mat
        X = (torch.exp(-0.5*X).unsqueeze(2) / self.detS).squeeze()

        <a id="change">return </a>X</code></pre><h3>After Change</h3><pre><code class='java'>
        elif self.kernel == &quotslater&quot:
            return self._slater_kernel(input)
        else:
            <a id="change">raise </a><a id="change">ValueError(&quotKernel not recognized&quot</a><a id="change">)</a>

    def _gaussian_kernel(self,input):

        if self.sigma.requires_grad:</code></pre>