<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        poi_in = x[0].view(-1, self.P_N, self.H, self.W)
        time_in = <a id="change">x[1]</a>.view(-1, self.T+7, self.H, self.W)

        t_x = self.t_trans(time_in)
        if self.P_N &gt;= 2:</code></pre><h3>After Change</h3><pre><code class='java'>

            poi_time = self.multiply(torch.stack([poi_in, t_x]))
        else:
            poi_time<a id="change"> = </a>self.multiply(<a id="change">torch.stack([</a>t_x<a id="change"></a>]<a id="change">)</a>)

        if self.isPT_F:
            poi_time = self.conv(poi_time)</code></pre>