<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47---------------------------------------------------------------&#47&#47
        &#47&#47   计算预测结果和真实结果的giou
        &#47&#47----------------------------------------------------------------&#47&#47
        giou        = self.box_giou(pred_boxes[y_true[...<a id="change">, 4</a>] == 1], y_true[..., :4][y_true[..., 4] == 1])

        loss_loc    = torch.sum((1 - giou) * box_loss_scale[y_true[..., 4] == 1])
        &#47&#47-----------------------------------------------------------&#47&#47</code></pre><h3>After Change</h3><pre><code class='java'>
            tobj        = torch.zeros_like(y_true[..., 4])
        loss_conf   = torch.mean(self.BCELoss(conf, tobj))

        <a id="change">if </a>n != 0<a id="change">:
            </a><a id="change">print(</a>loss_loc * self.box_ratio, loss_cls * self.cls_ratio, loss_conf * self.balance[l] * self.obj_ratio<a id="change">)</a>
        loss        += loss_conf * self.balance[l] * self.obj_ratio
        return loss
    
    def get_near_points(self, x, y, i, j):</code></pre>