<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for linear in linear_list:
            name = linear[0]
            in_dim = linear[1]
            out_dim<a id="change"> = </a><a id="change">linear[2]</a>
            inner_dim = out_dim
            nn_list = []
            for i in range(num_layers):
                in_d = in_dim if i == 0 else inner_dim</code></pre><h3>After Change</h3><pre><code class='java'>
        self.layers = nn.ModuleDict({})
        for name, linear_dim in linear_dict.items():
            nn_list = []
            for i in range(<a id="change">len(</a>linear_dim<a id="change">)</a>-1):
                in_dim = linear_dim[i]
                out_dim = linear_dim[i+1]
                layer = GeneralLinear(in_features=in_dim, out_features=out_dim, act=act,</code></pre>