<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            normed_embed = embed_norm(embed)
            normed_embeds.append(normed_embed)

        normed_embeds<a id="change"> = </a><a id="change">torch.stack(</a>normed_embeds<a id="change">, dim = -2)</a>
        normed_ngram_embeds = torch.stack(normed_ngram_embeds, dim = -2)

        if self.concat_ngrams:
            input_sliced_dim = normed_embeds.shape[-1] - normed_ngram_embeds.shape[-1]</code></pre><h3>After Change</h3><pre><code class='java'>
            ngram_ids_for_head = multi_way_hash_ids(ngram_ids, head_num + 1, head_num + 1, prime, vocab_size)

            ngram_embed = ngram_emb(ngram_ids_for_head)
            <a id="change">ngram_embeds.append(</a>ngram_embed<a id="change">)</a>

        embeds = rearrange(embeds, &quotb n (h d) -&gt; b n h d&quot, h = num_heads)
        normed_embeds = self.embeds_layernorm(embeds)
</code></pre>