<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                init.kaiming_normal_(w)
                self.vars.append(w)
                &#47&#47 [ch_out]
                self.vars.append(<a id="change">nn.Parameter(</a>torch.zeros(param[0])<a id="change">)</a>)
            if name is &quotGraphConv&quot:
                &#47&#47 param: in_dim, hidden_dim
                w = nn.Parameter(torch.Tensor(param[0], param[1]))</code></pre><h3>After Change</h3><pre><code class='java'>

        for i, (name, param) in enumerate(self.config):
            if name is &quotLinear&quot:
                w = nn.Parameter(torch.ones(<a id="change">param[1]</a>, param[0]))
                &#47&#47 gain=1 according to cbfinn&quots implementation
                init.kaiming_normal_(w)
                self.vars.append(w)</code></pre>