<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 This improves the model by 0.2~0.3% according to https://arxiv.org/abs/1706.02677
        if zero_init_residual:
            for m in self.modules():
                <a id="change">nn.init.constant_(</a>m.bn3.weight, 0<a id="change">)</a>

    def _make_layer(self, block, planes, blocks, stride=1, dilate=False):
        norm_layer = self._norm_layer
        downsample = None</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 This improves the model by 0.2~0.3% according to https://arxiv.org/abs/1706.02677
        if zero_init_residual:
            for m in self.modules():
                <a id="change">if isinstance(</a>m, Bottleneck<a id="change">)</a><a id="change">:
                    </a><a id="change">nn.init.constant_(</a>m.bn3.weight, 0<a id="change">)</a>

    def _make_layer(self, block, planes, blocks, stride=1, dilate=False):
        norm_layer = self._norm_layer
        downsample = None</code></pre>