<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def test_entropy_perplexity_unseen(self):
        &#47&#47 In MLE, even one unseen ngram should turn entropy and perplexity into NaN
        untrained = "acd"
        H = perplexity<a id="change"> = </a><a id="change">float(</a>"nan"<a id="change">)</a>

        self.assertEntropyPerplexityEqual(H, perplexity, corpus=untrained)

    def test_entropy_perplexity_unigrams(self):</code></pre><h3>After Change</h3><pre><code class='java'>

    def test_entropy_perplexity_unseen(self):
        &#47&#47 In MLE, even one unseen ngram should turn entropy and perplexity into NaN
        untrained = [(&quot&lt;s&gt;&quot<a id="change">, &quota&quot</a>),
                     (&quota&quot, &quotc&quot),
                     (&quotc&quot, &quotd&quot),
                     (&quotd&quot, &quot&lt;/s&gt;&quot)]</code></pre>