<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                if sentiment_score &gt; 0:
                    pos_sum += (float(sentiment_score) +1) &#47&#47 compensates for neutral words that are counted as 1
                if sentiment_score &lt; 0:
                    neg_sum<a id="change"> += </a>(<a id="change">float(</a>sentiment_score<a id="change">)</a> -1) &#47&#47 when used with math.fabs(), compensates for neutrals
                if sentiment_score == 0:
                    neu_count += 1
</code></pre><h3>After Change</h3><pre><code class='java'>

            compound = normalize(sum_s)
            &#47&#47 discriminate between positive, negative and neutral sentiment scores
            pos_sum<a id="change">, neg_sum, neu_count</a> = self._sift_sentiment_scores(sentiments)

            if pos_sum &gt; math.fabs(neg_sum):
                pos_sum += (punct_emph_amplifier)</code></pre>