<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 add relative positional embedding

        seq_index = default(seq_index, <a id="change">torch.arange(</a>n<a id="change">, device = device)</a>)
        seq_rel_dist = rearrange(seq_index, &quoti -&gt; () i ()&quot) - rearrange(seq_index, &quotj -&gt; () () j&quot)
        seq_rel_dist = seq_rel_dist.clamp(-self.max_rel_dist, self.max_rel_dist) + self.max_rel_dist
        rel_pos_emb = self.pos_emb(seq_rel_dist)</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47 template pos emb

            x_point = rearrange(x, &quotb i j d -&gt; (b i j) () d&quot)
            t_point<a id="change"> = </a><a id="change">rearrange(</a>t, <a id="change">&quotb t i j d -&gt; (b i j) t d&quot</a><a id="change">)</a>
            x_mask_point = rearrange(x_mask, &quotb i j -&gt; (b i j) ()&quot)
            t_mask_point = rearrange(t_mask_crossed, &quotb t i j -&gt; (b i j) t&quot)

            template_pooled = self.template_pointwise_attn(</code></pre>