<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            x = self.global_skip_conv(x)
        x0 = self.conv_in(x)
        x1 = self.down_block(x0)
        <a id="change">if </a>h_prev is not None<a id="change">:
            </a><a id="change">assert </a>self.conv_hprev_down is not None
            h_prev<a id="change"> = </a>self.conv_hprev_down(h_prev)
            x1 = x1 + h_prev
        x_rnn, h = self.gru(x1, h)
        x_rnn = x_rnn + x1</code></pre><h3>After Change</h3><pre><code class='java'>
        intermediate = []
        for enc_layer in self.enc:
            x = enc_layer(x)
            <a id="change">intermediate.append(</a>x<a id="change">)</a>
        x_rnn, h = self.rnn(x, h)
        for dec_layer, x_enc in zip(self.dec, reversed(intermediate)):
            x = dec_layer(x + x_enc)
        return x, x_rnn, h</code></pre>