<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.SA_layers.append(cur_layer)
            self.SA_layer_names.append(src_name)

            c_in += sum([<a id="change">x[-1]</a> for x in mlps])

        if &quotbev&quot in self.model_cfg.FEATURES_SOURCE:
            c_bev = num_bev_features</code></pre><h3>After Change</h3><pre><code class='java'>
                continue
            self.downsample_times_map[src_name] = SA_cfg[src_name].DOWNSAMPLE_FACTOR

            <a id="change">if </a>SA_cfg[src_name].get(&quotINPUT_CHANNELS&quot, None) is None<a id="change">:
                </a>input_channels = SA_cfg[src_name].MLPS[0][0] \
                    if <a id="change">isinstance(</a>SA_cfg[src_name].MLPS[0], list<a id="change">)</a> else SA_cfg[src_name].MLPS[0]
            else:
                input_channels = SA_cfg[src_name][&quotINPUT_CHANNELS&quot]
</code></pre>