<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        x = self.band_split(input)

        for idx, key in enumerate(<a id="change">self.bands[:-1]</a>):
            _x = self.net[key](x[idx])
            stacked.append(_x)
        </code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 TODO: scale
        x = self.nonlinear2d(x)

        output<a id="change"> = </a><a id="change">torch.cat([</a>x, x_invalid<a id="change"></a>]<a id="change">, dim=2)</a>

        return output

    </code></pre>