<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        emb = self.segment_head(x)
        if self.use_softmax:
            pred = self.classifier(emb)
            return <a id="change">{</a>&quotpred&quot: pred<a id="change">}</a>
        else:
            emb = self.fc(emb)
            return {&quotemb&quot: emb}
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.use_softmax = args.use_softmax

    def forward(self, x):
        <a id="change">dict_outputs</a> = {}
        emb = self.segment_head(x)
        if self.use_img_inp or self.use_visual_acuity:
            img_inp = self.fc_img_inp(emb)
            <a id="change">dict_outputs.update(</a>{"img_inp": img_inp}<a id="change">)</a>

        if self.use_softmax:
            pred = self.classifier(emb)
            <a id="change">dict_outputs.update(</a>{"pred": pred}<a id="change">)</a>

        else:
            emb = self.fc(emb)
            dict_outputs.update({"emb": emb})</code></pre>