<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        scale_shift = None
        if self.use_mapping:
            scale_shift = self.to_scale_shift(mapping)
        xs<a id="change"> = </a>torch.stack([<a id="change">conv(</a>x<a id="change">)</a> for conv in self.convs_in])
        x = reduce(xs, "n b c t -&gt; b c t", "sum")
        x = self.conv_mid(x, scale_shift)
        x = self.conv_out(x)</code></pre><h3>After Change</h3><pre><code class='java'>
        )

    def forward(self, x: Tensor, mapping: Optional[Tensor] = None) -&gt; Tensor:
        <a id="change">for </a>layer in self.layers<a id="change">:
            </a>x = F.elu(layer(x, mapping))
        x = self.to_out(x)
        return x
</code></pre>