<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for i in range(self.Local_B):
            row_output = self.intra_transformer[i](row_input.permute(1, 0, 2)).permute(1, 0, 2)

        row_output = <a id="change">row_output.reshape(B, P, K, N).permute(0</a>, <a id="change">3</a>, <a id="change">2</a>, <a id="change">1</a><a id="change">)</a>

        output = x + row_output

        &#47&#47 inter DPT
        col_input = output.permute(0, 2, 3, 1).reshape(B*K, P, N)

        for i in range(self.Local_B):
            col_output = self.inter_transformer[i](col_input.permute(1, 0, 2)).permute(1, 0, 2)

        col_output = col_output.reshape(B, K, P, N).permute(0, 3, 1, 2)

        output<a id="change"> = </a>output + col_output

        return output
</code></pre><h3>After Change</h3><pre><code class='java'>

        row_f = row_z3 + row_z

        row_output = <a id="change">row_f.reshape(B, P, K, N).permute(0</a>, <a id="change">3</a>, <a id="change">2</a>, 1<a id="change">)</a>

        &#47&#47 inter DPT
        col_z = row_output.permute(0, 2, 3, 1).reshape(B*K, P, N)
        col_z1 = col_z + self.inter_PositionalEncoding(col_z)

        for i in range(self.Local_B):
            col_z3 = self.inter_transformer[i](col_z1.permute(1, 0, 2)).permute(1, 0, 2)

        col_f = col_z3 + col_z
        col_output = <a id="change">col_f.reshape(</a>B, K, P, N<a id="change">)</a>.permute(0, 3, 1, 2)

        return col_output
</code></pre>