<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            )
        )

        <a id="change">return </a>tight_loss<a id="change">, logs</a>

    def get_distortion(self, Y_hat, targets):
        raise NotImplementedError()
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 tightens bound using IWAE: log 1/k sum exp(loss). shape: [batch_size]
        if n_z &gt; 1:
            rate = torch.logsumexp(rate, 0) - math.log(n_z)
            distortion<a id="change"> = </a>torch.logsumexp(distortion, 0)<a id="change"> - </a><a id="change">math.log(</a>n_z<a id="change">)</a>
        else:
            distortion = distortion.squeeze(0)
            rate = rate.squeeze(0)
</code></pre>