<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for subloss_idx, subloss in enumerate([global_ball_loss, local_ball_loss, event_loss, seg_loss]):
            total_loss += subloss / (self.vars[subloss_idx] ** 2) + torch.log(self.vars[subloss_idx])

        <a id="change">return </a>pred_ball_position_global<a id="change">, pred_ball_position_local, pred_events, pred_seg, total_loss, self.vars.data.tolist()</a>
</code></pre><h3>After Change</h3><pre><code class='java'>

        total_loss = global_ball_loss / (self.vars[0] ** 2) + torch.log(self.vars[0])
        total_loss += local_ball_loss / (self.vars[1] ** 2) + torch.log(self.vars[1])
        total_loss<a id="change"> += </a>event_loss<a id="change"> / (self.vars[2] ** 2) + </a><a id="change">torch.log(</a>self.vars[2]<a id="change">)</a>
        total_loss += seg_loss / (self.vars[3] ** 2) + torch.log(self.vars[3])

        return pred_ball_position_global, pred_ball_position_local, pred_events, pred_seg, total_loss, self.vars
</code></pre>