<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            )

    def forward(self, x, context=None, residual=None):
        <a id="change">if self.input_size != self.output_size</a><a id="change"> and residual is None:
            </a>residual<a id="change"> = </a>self.skip_layer(x)
        if residual is None:
            residual = x
</code></pre><h3>After Change</h3><pre><code class='java'>
            residual = x

        if self.input_size == 1 and self.hidden_size == 1:
            x<a id="change"> = </a><a id="change">torch.zeros_like(</a>residual<a id="change">, device=residual.device)</a>
            x = self.add_norm(x, residual)
            return x
        else:
            x = self.fc1(x)</code></pre>