<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        batch_size = predict.shape[0]
        for prb, lbl in zip(probas, targets):
            total_loss += lovasz_softmax_flat(prb, lbl, self.ignore_index, self.only_present)
        <a id="change">return </a>total_loss / batch_size</code></pre><h3>After Change</h3><pre><code class='java'>
        batch_size = predict.shape[0]
        for prb, lbl in zip(probas, targets):
            total_loss += lovasz_softmax_flat(prb, lbl, self.ignore_index, self.only_present)
        <a id="change">loss</a><a id="change"> = </a>total_loss / batch_size

        loss_dict = <a id="change">{</a>"LOVASZ": <a id="change">loss.item()}</a>
        <a id="change">return </a>loss<a id="change">, loss_dict</a></code></pre>