<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def test_instances_attributes_and_options_are_extracted_from_strings(self):
        path = datasetsDir(self) + &quotnumerical&quot + SEP + &quotperson&quot
        disc = <a id="change">discretise.Discretiser(</a>path, path + &quot.test,&quot +<a id="change"> path + &quotextra.test&quot</a>, <a id="change">&quot0,1,4,5,6,7&quot</a>, <a id="change">&quot2,3,2,3,4,2&quot</a><a id="change">)</a>
        self.assertEqual(6, len(disc.training))
        self.assertEqual(2, len(disc.instances))
        self.assertEqual(ins.TestInstances, disc.instances[0].__class__)
        self.assertEqual(ins.TestInstances, disc.instances[1].__class__)</code></pre><h3>After Change</h3><pre><code class='java'>

    def test_instances_attributes_and_options_are_extracted_from_strings(self):
        path = datasetsDir(self) + &quotnumerical&quot + SEP + &quotperson&quot
        training<a id="change">, attributes, klass, test, gold</a> = self.get_instances(path, True, False)
        disc = <a id="change">discretise.Discretiser(</a>training, attributes, klass, test, gold, <a id="change">[</a>0,1,4,5,<a id="change">6</a>,<a id="change">7</a>], <a id="change">[</a>2,3,2,<a id="change">3</a>,4,<a id="change">2</a>]<a id="change">)</a>
        self.assertEqual(6, len(disc.training))
        self.assertEqual(2, len(disc.test))
        self.assertEqual([0, 1, 4, 5, 6, 7], disc.attribute_indices)
        self.assertEqual([2, 3, 2, 3, 4, 2], disc.options)</code></pre>