<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        if not self.batch_first:
            &#47&#47 (t, b, c, h, w) -&gt; (b, t, c, h, w)
            input_tensor = <a id="change">input_tensor.permute(1</a>, <a id="change">0</a>, <a id="change">2</a>, <a id="change">3</a>, <a id="change">4</a><a id="change">)</a>

        b<a id="change">, _, _, h, w = </a>input_tensor.size()

        &#47&#47 Implement stateful ConvLSTM
        if hidden_state is not None:</code></pre><h3>After Change</h3><pre><code class='java'>
        cur_layer_input = torch.unbind(input, dim=int(self.batch_first))

        if not hidden_state:
            hidden_state = self.get_init_states(<a id="change">cur_layer_input[0].size(</a>int(not self.batch_first)<a id="change">)</a>)

        seq_len = len(cur_layer_input)
</code></pre>