<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.bn3 = batchnorm_2d(in_features=self.hidden_channels)
            self.bn4 = batchnorm_2d(in_features=self.hidden_channels)

        <a id="change">if activation_fn == "ReLU"</a><a id="change">:
            </a>self.activation = <a id="change">nn.ReLU(inplace=True)</a>
        elif <a id="change">activation_fn == "Leaky_ReLU"</a><a id="change">:
            </a>self.activation<a id="change"> = nn.LeakyReLU(negative_slope=0.1, inplace=True)</a>
        elif <a id="change">activation_fn == "ELU"</a><a id="change">:
            </a>self.activation<a id="change"> = </a><a id="change">nn.ELU(alpha=1.0, inplace=True)</a>
        elif <a id="change">activation_fn == "GELU"</a><a id="change">:
            </a>self.activation<a id="change"> = </a><a id="change">nn.GELU()</a>
        else:
            raise NotImplementedError

        if g_spectral_norm:</code></pre><h3>After Change</h3><pre><code class='java'>
            self.bn2 = MODULES.g_bn(in_features=self.hidden_channels)
            self.bn3 = MODULES.g_bn(in_features=self.hidden_channels)
            self.bn4 = MODULES.g_bn(in_features=self.hidden_channels)
        elif <a id="change"></a>self.g_cond_mtd == "cBN"<a id="change">:
            </a>self.bn1 = MODULES.g_bn(hier_z_dim, self.in_channels, MODULES)
            self.bn2 = MODULES.g_bn(hier_z_dim, self.hidden_channels, MODULES)
            self.bn3 = MODULES.g_bn(hier_z_dim, self.hidden_channels, MODULES)
            self.bn4 = MODULES.g_bn(hier_z_dim, self.hidden_channels, MODULES)</code></pre>