<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            semantic_embeddings.append(self.mods[i](new_g, h).flatten(1))
        &#47&#47semantic_embeddings = th.stack(semantic_embeddings, dim=1)  &#47&#47 (N, M, D * K)

        <a id="change">return </a>self.SemanticConv(semantic_embeddings)  &#47&#47 (N, D * K)</code></pre><h3>After Change</h3><pre><code class='java'>
            outputs[new_g.dsttypes[0]].append(self.mods[mp](new_g, h).flatten(1))
        &#47&#47semantic_embeddings = th.stack(semantic_embeddings, dim=1)  &#47&#47 (N, M, D * K)
        &#47&#47 Aggregate the results for each destination node type
        rsts = <a id="change">{}</a>
        <a id="change">for </a>ntype, ntype_outputs in <a id="change">outputs.items():
            </a>if len(ntype_outputs) != 0:
                <a id="change">rsts[ntype]</a><a id="change"> = </a>self.SemanticConv(ntype_outputs) &#47&#47 (N, D * K)
        <a id="change">return </a>rsts</code></pre>