<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if first_input is not None:

            &#47&#47 Shape check
            <a id="change">if </a>len(first_input[0].shape) &gt; 5 or len(first_input[0].shape) &lt; 2<a id="change">:

                </a>err_msg<a id="change"> = </a>(
                    &quotThe input of "linear" must be a tensor with one of the  &quot
                    "following dimensions: [time] or [batch,time] or "
                    "[batch,channels,time]. Got %s "</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 Ensure kernel_size and padding are lists
        if not isinstance(self.kernel_size, list):
            self.kernel_size = [self.kernel_size]
        if self.padding is not None and not <a id="change">isinstance(</a>self.padding, list<a id="change">)</a>:
            self.padding = [self.padding]

        &#47&#47 Making sure that the kernel size is odd (if the kernel is not</code></pre>