<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return res

    def __hash__(self):
      return hash((self._dir<a id="change">,tuple(self._restrs)</a>))

    def __str__(self):
        r_str = ""</code></pre><h3>After Change</h3><pre><code class='java'>
            return self.__class__.__name__ &lt; other.__class__.__name__

    def __hash__(self):
        <a id="change">try:
            </a>return self._hash
        <a id="change">except </a>AttributeError:
            self._hash = hash(self._comparison_key)
            return self._hash
</code></pre>