<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, label_dim=527, fstride=10, tstride=10, input_fdim=128, input_tdim=1024, imagenet_pretrain=True, audioset_pretrain=False, model_size=&quotbase384&quot):

        super(ASTModel, self).__init__()
        <a id="change">print(</a>&quot---------------AST Model Summary---------------&quot<a id="change">)</a>
        assert timm.__version__ == &quot0.4.5&quot, &quotPlease use timm == 0.4.5, the code might not be compatible with newer versions.&quot
        print(&quotImageNet pretraining: {:s}, AudioSet pretraining: {:s}&quot.format(str(imagenet_pretrain),str(audioset_pretrain)))
        &#47&#47 override timm input shape restriction
        timm.models.vision_transformer.PatchEmbed = PatchEmbed</code></pre><h3>After Change</h3><pre><code class='java'>
        super(ASTModel, self).__init__()
        assert timm.__version__ == &quot0.4.5&quot, &quotPlease use timm == 0.4.5, the code might not be compatible with newer versions.&quot

        <a id="change">if </a>verbose == True<a id="change">:
            </a><a id="change">print(</a>&quot---------------AST Model Summary---------------&quot<a id="change">)</a>
            print(&quotImageNet pretraining: {:s}, AudioSet pretraining: {:s}&quot.format(str(imagenet_pretrain),str(audioset_pretrain)))
        &#47&#47 override timm input shape restriction
        timm.models.vision_transformer.PatchEmbed = PatchEmbed
</code></pre>