<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x, w, fac1):
        out = self.backbone(x)
        if out.size(-1) != 1:
            out = <a id="change">out.view(</a><a id="change">out.size(0</a><a id="change">)</a>, <a id="change">-1</a><a id="change">)</a>
        else:
            out = out.squeeze()
        if self.is_gbs:
            return self.classifer(out, w, fac1)</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x, w, fac1):
        out = self.backbone(x)
        if out.size(-1) != 1:
            out = <a id="change">F.relu(out, inplace=True).mean(</a>[2, 3]<a id="change">)</a>
        else:
            out = out.squeeze()
        if self.is_gbs:
            return self.classifer(out, w, fac1)</code></pre>