<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            outputs = outputs.sum(axis=-1)
        else:  &#47&#47 for one input, do not perform variable selection but just encoding
            outputs = self.single_variable_grns[0](embedding)  &#47&#47 fast forward if only one variable
            sparse_weights = <a id="change">torch.ones_like(outputs).unsqueeze(-1</a><a id="change">)</a>
        return outputs, sparse_weights


class PositionalEncoder(torch.nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
            outputs = outputs.sum(axis=-1)
        else:  &#47&#47 for one input, do not perform variable selection but just encoding
            outputs = self.single_variable_grns[0](embedding)  &#47&#47 fast forward if only one variable
            sparse_weights = torch.ones(outputs.size(0), <a id="change">outputs.size(1</a><a id="change">)</a>, 1, 1, device=outputs.device)
        return outputs, sparse_weights

</code></pre>