<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            else:
                end_list.append(module)

            <a id="change">if name == "stage4"</a><a id="change">:
                </a>lat<a id="change"> = </a>False

        self.lat_features = nn.Sequential(*lat_list)
        self.end_features = nn.Sequential(*end_list)</code></pre><h3>After Change</h3><pre><code class='java'>
        lat_list = []
        end_list = []

        for i, layer in enumerate(<a id="change">all_layers[:-1]</a>):
            if i &lt;= latent_layer_num:
                lat_list.append(layer)
            else:</code></pre>