<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, voting_map, targets=None):
        batch_size, channels, width, height = voting_map.shape
        voting_map = voting_map.view(batch_size, self.region_num, self.num_classes, width, height)
        <a id="change">heatmap = </a><a id="change">torch.zeros(</a>(batch_size, self.num_classes, width, height)<a id="change">, dtype=torch.float)</a>.cuda()
        <a id="change">for </a>i in range(self.num_classes)<a id="change">:
            heatmap</a><a id="change">[:, i, :, :] = </a>self.deconv_filters(voting_map[:, :, i, :, :]).squeeze(dim=1)

        return heatmap
</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, voting_map, targets=None):

        <a id="change">if </a>self.model_v1<a id="change">:
            </a>batch_size, channels, width, height = voting_map.shape
            voting_map = voting_map.view(batch_size, self.region_num, self.num_classes, width, height)
            voting_map<a id="change"> = </a><a id="change">voting_map.permute(</a>0, 2, <a id="change">1</a>, <a id="change">3</a>, <a id="change">4</a><a id="change">)</a>
            voting_map<a id="change"> = </a>voting_map.reshape(batch_size, -1, width, height)

        heatmap = self.deconv_filters(voting_map)
</code></pre>