<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, num_states, num_actions):
        super(NoisyDQNValue, self).__init__()
        
        self.linear =  <a id="change">nn.Linear(</a>num_states, <a id="change">128</a><a id="change">)</a>
        self.noisy_layer_1 = NoisyLinear(128, 128)
        self.noisy_layer_2 = NoisyLinear(128, num_actions)
        
    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
        super(NoisyDQNValue, self).__init__()

        self.noisy = noisy_mlp(
            <a id="change">[</a><a id="change">state_dim] + list(fc_layers) + </a><a id="change">list(</a>noisy_layers<a id="change">)</a> + [action_dim]
        )

    def forward(self, state):</code></pre>