<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                token = vb
                return token
        except ValueError:
            <a id="change">raise</a>("Could not stem the word, it may not be a verb !")

    def verb_t1(self, token):
        </code></pre><h3>After Change</h3><pre><code class='java'>
        if vb is not None:
            return vb
        vb = self.verb_t2(token)
        <a id="change">if vb is not None</a><a id="change">:
            </a>return vb
        vb = self.verb_t3(token)
        if vb is not None:
            <a id="change">return </a>vb
        vb = self.verb_t4(token)
        if vb is not None:
            return vb</code></pre>