<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, features):
        outs = []
        <a id="change">for </a>idx, feature in <a id="change">enumerate(</a>features<a id="change">):
            </a>outs.append(self.convs[idx](feature))

        outs.append(self.p5_to_p6(features[-1]))
        outs.append(self.p6_to_p7(outs[-1]))</code></pre><h3>After Change</h3><pre><code class='java'>
            returns: outs: P3, P4, P4_2, P5, P5_2, P6, P7 feature maps 
        outs = []
        conv_idx = 0
        <a id="change">for </a>feature in features<a id="change">:
            </a>outs.append(self.convs[conv_idx](feature))

            if conv_idx &gt; 0:
                conv_idx += 1
                outs.append(<a id="change">self.convs[conv_idx](</a>feature<a id="change">)</a>)

            conv_idx += 1
</code></pre>