<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.latents_attend_to_patches = Attention(dim, norm = True, norm_context = True, **attn_kwargs)

        self.latent_self_attns = nn.ModuleList([])
        <a id="change">for </a>_ in <a id="change">range(</a>latent_self_attn_depth<a id="change">):
            </a>self.latent_self_attns.append(nn.ModuleList([
                Attention(dim, norm = True, **attn_kwargs),
                FeedForward(dim)
            ]))</code></pre><h3>After Change</h3><pre><code class='java'>

        attn_kwargs = {**attn_kwargs, &quottime_cond_dim&quot: time_dim}

        self.blocks = nn.ModuleList(<a id="change">[RINBlock(dim, latent_self_attn_depth = latent_self_attn_depth, **attn_kwargs) for _ in range(depth)]</a>)

    def forward(
        self,</code></pre>