<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                bias=bias,
            ),
            nn.BatchNorm1d(input_size),
            <a id="change">activation()</a>,
            &#47&#47 pointwise
            nn.Conv1d(
                input_size, input_size, kernel_size=1, stride=1, bias=bias</code></pre><h3>After Change</h3><pre><code class='java'>
                bias=bias,
            )
        
        self.after_conv<a id="change"> = </a>nn.Sequential(
            nn.BatchNorm1d(input_size),
            <a id="change">activation()</a>,
            &#47&#47 pointwise
            nn.Conv1d(
                input_size, input_size, kernel_size=1, stride=1, bias=bias</code></pre>