<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        for i in range(n):
            dist_ap.append(dist[i][pos_mask[i]].max().unsqueeze(0))
            dist_an.append(<a id="change">dist[i][neg_mask[i]].min().unsqueeze(0</a><a id="change">)</a>)

        dist_ap = torch.cat(dist_ap)
        dist_an = torch.cat(dist_an)</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 hard examples mining
        n, m = f.size(0), xbm_f.size(0)
        identity_mat = <a id="change">labels.expand(m, n).t().eq(xbm_labels.expand(n, m)).float()</a>
        dist_ap, dist_an = hard_examples_mining(dist_mat, identity_mat)

        &#47&#47 Compute ranking hinge loss
        y = torch.ones_like(dist_an)</code></pre>