<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        out = self.conv3(out)
        out = self.bn3(out)

        <a id="change">if self.downsample is not None</a><a id="change">:
            </a>residual<a id="change"> = self.downsample(</a>x<a id="change">)</a>

        if not self.cbam is None:
            out = self.cbam(out)
</code></pre><h3>After Change</h3><pre><code class='java'>
        out = self.conv_expand.forward(out)
        out = self.bn_expand.forward(out)

        residual<a id="change"> = </a><a id="change">self.shortcut.forward(</a>x<a id="change">)</a>

        if self.cbam_module is not None:
            out = self.cbam_module(out) + residual
        else:</code></pre>