<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            v = squash(s, dim=-1)

            &#47&#47 Update b
            <a id="change">if it &lt; self.num_iterations - 1</a><a id="change">:
                </a>b = b + torch.einsum(&quotijk, ilk -&gt; jl&quot, u_hat, v)
            else:
                return v
</code></pre><h3>After Change</h3><pre><code class='java'>
            b += uv

        &#47&#47 Last iteration with original u_hat to pass gradient
        c<a id="change"> = </a><a id="change">b.softmax(dim=1)</a>
        s<a id="change"> = </a>torch.einsum(&quotijk, ijkl -&gt; ijl&quot, c, u_hat_temp)
        v<a id="change"> = </a>squash(s)

        return v
</code></pre>