<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    outstr += "[frameRelation] {0} frame relations\n".format(len(frame.frameRelation))
    frels = []
    for fr in frame.frameRelation:
        frels.append("{0}({1})\n".format(<a id="change">fr[&quottype&quot]</a>,
                                         &quot,&quot.join([x for x in fr[&quotrelatedFrame&quot]])))
    outstr += "  " + ", ".join(frels) + &quot\n&quot
</code></pre><h3>After Change</h3><pre><code class='java'>
    outstr += "  " + ", ".join([x.name for x in frame.FEcoreSet]) + &quot\n&quot

    outstr += "[frameRelations] {0} frame relations\n".format(len(frame.frameRelations))
    outstr += &quot  &quot + &quot\n  &quot.join(<a id="change">repr</a>(frel) <a id="change">for</a> frel in frame.frameRelations) + &quot\n&quot
    
    outstr += "\n[lexUnit] {0} lexical units\n".format(len(frame.lexUnit))
    lustrs = []</code></pre>