<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.input_shape = input_shape
        self.input_value = torch.randn(_batch_size, *input_shape)
        self.output_leaves = []
        self._modules_added = <a id="change">[]</a>
        self.root = FMGraphNode(self.input_value,
                                functional_model=self)

    def get_input(self):</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, inputs, outputs):
        super().__init__()

        if <a id="change">isinstance(</a>inputs, FMGraphNode<a id="change">)</a>:
            inputs = (inputs,)
        assert all(isinstance(x, FMGraphNode) for x in inputs)
        self.inputs = inputs

        if <a id="change">isinstance(</a>outputs, FMGraphNode<a id="change">)</a>:
            outputs = (outputs,)
        assert all(isinstance(x, FMGraphNode) for x in outputs)
        self.outputs = outputs</code></pre>