<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        log_zr = [math.log(i) for i in zr]

        xy_cov = x_var = 0.0
        x_mean = 1.0<a id="change"> * </a><a id="change">sum(</a>log_r<a id="change">)</a> / len(log_r)
        y_mean = 1.0 * sum(log_zr) / len(log_zr)
        for (x, y) in zip(log_r, log_zr):
            xy_cov += (x - x_mean) * (y - y_mean)</code></pre><h3>After Change</h3><pre><code class='java'>
        log_zr = [math.log(i) for i in zr]

        xy_cov = x_var = 0.0
        x_mean = <a id="change">sum(</a>log_r<a id="change">)</a> / len(log_r)
        y_mean = sum(log_zr) / len(log_zr)
        for (x, y) in zip(log_r, log_zr):
            xy_cov += (x - x_mean) * (y - y_mean)</code></pre>