<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            task_per_metric = len(self._tasks)
            self._tasks_iter = self._fused_tasks_iter
        else:
            n_metrics<a id="change"> = </a><a id="change">len(</a>self._tasks<a id="change">)</a>
            task_per_metric = 1
            self._tasks_iter = self._unfused_tasks_iter

        self._metrics_computations: nn.ModuleList = nn.ModuleList(</code></pre><h3>After Change</h3><pre><code class='java'>
                    **{**kwargs, **self._get_task_kwargs(task_config)},
                )
                for task_config in (
                    <a id="change">[</a>self._tasks<a id="change"></a>]<a id="change">
                    if compute_mode == RecComputeMode.FUSED_TASKS_COMPUTATION</a><a id="change">
                    else </a>self._tasks
                )
            ]
        )</code></pre>