<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise RuntimeError("Unknown value for attention norm type")
        context = torch.bmm(alignment.unsqueeze(1), inputs)
        context = context.squeeze(1)
        <a id="change">return </a>context<a id="change">, alignment</a>


class Postnet(nn.Module):
    def __init__(self, mel_dim, num_convs=5):</code></pre><h3>After Change</h3><pre><code class='java'>
            alpha_norm = self.alpha / self.alpha.sum(dim=1).unsqueeze(1)
            &#47&#47 compute context
            context = torch.bmm(alpha_norm.unsqueeze(1), inputs)
            context<a id="change"> = </a><a id="change">context.squeeze(1</a><a id="change">)</a>
            <a id="change">return </a>context<a id="change">, alpha_norm, alignment</a>
        else:
            context = torch.bmm(alignment.unsqueeze(1), inputs)
            context = context.squeeze(1)
            return context, alignment, alignment</code></pre>