<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            norm_layer: Optional[Callable[..., nn.Module]] = None
    ) -&gt; None:
        super(Bottleneck, self).__init__()
        <a id="change">if norm_layer is None</a><a id="change">:
            </a>norm_layer = nn.BatchNorm2d
        width = int(planes * (base_width / 64.)) * groups
        &#47&#47 Both self.conv2 and self.downsample layers downsample the input when stride != 1
        self.conv1 = conv1x1(inplanes, width)</code></pre><h3>After Change</h3><pre><code class='java'>
                                               stride=stride,
                                               padding=0,
                                               bias=False))
            <a id="change">self.shortcut.add_module(
                &quotshortcut_bn&quot</a>, nn.BatchNorm2d(out_channels, momentum=0.001)<a id="change">)</a>

    def forward(self, x):
        bottleneck = self.conv_reduce.forward(x)
        bottleneck = self.act(self.bn_reduce.forward(bottleneck))</code></pre>