<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.bins = bins
        self.w = w
        &#47&#47 extract all layer until [-2]
        self.model = nn.Sequential(*<a id="change">(list(model.children())[:-2])</a>)

        &#47&#47 orientation head, for orientation estimation
        self.orientation = nn.Sequential(</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 dimension head
        self.dimension = nn.Sequential(
            <a id="change">nn.Linear(</a>512 * 7 * 7, 256<a id="change">)</a>,
            nn.ReLU(True),
            nn.Dropout(),
            nn.Linear(256, 256),</code></pre>