<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        output = self.net(x)
        <a id="change">return </a>output


class Postnet(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        o = self.convolution1d(x)
        o<a id="change"> = </a>self.batch_normalization(o)
        o<a id="change"> = </a><a id="change">self.activation(</a>o<a id="change">)</a>
        o<a id="change"> = </a>self.dropout(o)
        <a id="change">return </a>o


class Postnet(nn.Module):</code></pre>