<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.LayerNorm(dim) if dual_patchnorm else None,
        )

        self.axial_pos_emb = <a id="change">nn.Parameter(</a>torch.randn(2, patch_height_width, dim) * 0.02<a id="change">)</a>

        self.to_pixels = nn.Sequential(
            LayerNorm(dim),
            nn.Linear(dim, pixel_patch_dim),</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 axial positional embeddings, parameterized by an MLP

        pos_emb_dim = dim<a id="change"> // </a>2

        self.axial_pos_emb_height_mlp = nn.Sequential(
            Rearrange(&quot... -&gt; ... 1&quot),
            nn.Linear(1, pos_emb_dim),
            nn.SiLU(),
            nn.Linear(pos_emb_dim, pos_emb_dim),
            nn.SiLU(),
            <a id="change">nn.Linear(</a>pos_emb_dim, dim<a id="change">)</a>
        )

        self.axial_pos_emb_width_mlp = nn.Sequential(
            Rearrange(&quot... -&gt; ... 1&quot),</code></pre>