<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        layer_hidden = self.layer_norm(bert_hidden_states)
        fc_results = self.fc(layer_hidden)
        output = self.sigmoid(fc_results)
        batch_size<a id="change"> = </a><a id="change">output.size(0</a><a id="change">)</a>
        transfer_output = output.view(batch_size, -1, self.num_labels, 2)
        return transfer_output
</code></pre><h3>After Change</h3><pre><code class='java'>
        fc_results = self.fc(layer_hidden)
        batch_size = fc_results.size(0)
        logits = fc_results.view(batch_size, -1, self.num_labels, 2)
        probs<a id="change"> = </a><a id="change">torch.sigmoid(</a>logits<a id="change">)</a>
        return logits, probs
</code></pre>