<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        factors_updown = factors[:,:nup,nup:]

        &#47&#47 electron pairs up up
        factors_upup = <a id="change">factors_[:,:nup,:nup]</a>
        factors_upup<a id="change"> = </a>factors_upup[:,torch.tril(torch.ones(nup,nup))==0]

        &#47&#47 electron pairs down,down
        factors_downdown = factors_[:,nup:,nup:]</code></pre><h3>After Change</h3><pre><code class='java'>
        factors = torch.exp(self.static_weight * input / (1.0 + self.weight * input))
        &#47&#47factors = factors[:,torch.tril(torch.ones(self.nelec,self.nelec))==0].prod(1)
        factors = factors.sum(2).sum(1)
        <a id="change">return </a>factors.view(-1,1)
        &#47&#47return JastrowFunction.apply(input,self.weight,self.static_weight)

        </code></pre>