<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.mask = self.mask[:T, :T]
        w = w.masked_fill(self.mask == 0, 0)

        x = torch.cat([<a id="change">self.time_shift(x)[:, :-1, :C//2]</a>, x[:, :, C//2:]], dim = -1)
        if hasattr(self, &quottiny_att&quot):
            tiny_att = self.tiny_att(x, self.mask)
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.mask = self.mask[:T, :T]
        w = w.masked_fill(self.mask == 0, 0)

        x = torch.cat([<a id="change">self.time_shift(x[:, :, :C//2]</a><a id="change">)</a>, x[:, :, C//2:]], dim = -1)
        if hasattr(self, &quottiny_att&quot):
            tiny_att = self.tiny_att(x, self.mask)
</code></pre>