<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Returns:
            output (batch_size, 1, T)
        
        <a id="change">raise </a><a id="change">NotImplementedError("Implement forward."</a><a id="change">)</a>
    
    @property
    def num_parameters(self):
        _num_parameters = 0</code></pre><h3>After Change</h3><pre><code class='java'>
            estimated_sources: (batch_size, num_blocks * num_layers, 1, T) if stack_dim=1.
            sorted_speaker_vector: (batch_size, n_sources, latent_dim, T)
        
        <a id="change">if sorted_idx is None</a><a id="change">:    
            </a>sorted_idx = self.solve_permutation(mixture, spk_idx=spk_idx)

            return sorted_idx &#47&#47 (batch_size, T, n_sources)
        
        estimated_sources<a id="change">, sorted_spk_vector = </a>self.extract_latent(mixture, sorted_idx, return_all_layers=return_all_layers, stack_dim=stack_dim)

        if return_spk_vector:
            return estimated_sources, sorted_spk_vector</code></pre>