<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 calculate nearest neighbors

        nbhd_indices = None
        <a id="change">if num_nn &gt; 0</a><a id="change"> and num_nn &lt; n:
            </a>rel_dist<a id="change"> = </a>rel_coors.norm(dim = -1, p = 2)
            nbhd_indices<a id="change"> = </a>rel_dist.topk(num_nn, dim = -1, largest = False).indices

        &#47&#47 main network
</code></pre><h3>After Change</h3><pre><code class='java'>
    ):
        n, num_nn = feats.shape[1], self.num_nearest_neighbors

        <a id="change">if </a>exists(self.token_emb)<a id="change">:
            </a>feats<a id="change"> = </a>self.token_emb(feats)

        &#47&#47 main network
</code></pre>