<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        assert len(hids) &gt; 0
        conv1 = []
        conv1.append(<a id="change">RobustConv(</a>in_features,
                                <a id="change">hids[0]</a><a id="change">,
                                bias=bias,
                                activation=activations.get(acts[0]))</a>)

        if bn:
            conv1.append(nn.BatchNorm1d(hids[0]))</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()

        assert len(hids) &gt; 0
        self.conv1 = <a id="change">RobustConv(</a>in_features,
                                <a id="change">hids[0]</a><a id="change">,
                                bias=bias,
                                activation=activations.get(acts[0]))</a>

        if bn:
            self.bn1 = nn.BatchNorm1d(hids[0])
        else:</code></pre>