<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            h = h_dict.get(ntype)
            if h is None:
                if all_feats:
                    embed = <a id="change">nn.Parameter(</a>torch.FloatTensor(n_nodes, self.embed_size)<a id="change">)</a>
                    &#47&#47 initrange = 1.0 / self.embed_size
                    &#47&#47 nn.init.uniform_(embed, -initrange, initrange)
                    nn.init.xavier_uniform_(embed, gain=nn.init.calculate_gain(&quotrelu&quot))
                    self.embed_dict[ntype] = embed</code></pre><h3>After Change</h3><pre><code class='java'>
        self.type_node_num_sum = [0]
        self.all_type = []
        for ntype, type_num in n_nodes_dict.items():
            num_now = <a id="change">self.type_node_num_sum[-1]</a>
            num_now += type_num
            self.type_node_num_sum.append(num_now)
            self.all_type.append(ntype)
        self.type_node_num_sum = torch.tensor(self.type_node_num_sum)</code></pre>