<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        out = self.bn2(out)
        out = self.relu(out)

        out<a id="change"> = </a>self.conv3(out)
        out<a id="change"> = </a><a id="change">self.bn3(</a>out<a id="change">)</a>

        <a id="change">if self.downsample is not None</a><a id="change">:
            </a>identity<a id="change"> = </a><a id="change">self.downsample(</a>x<a id="change">)</a>

        out<a id="change"> += </a>identity
        out<a id="change"> = self.relu(</a>out<a id="change">)</a>

        <a id="change">return </a>out


class ResNet50(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        bottleneck = self.conv_expand.forward(bottleneck)
        bottleneck = self.bn_expand.forward(bottleneck)
        residual = self.shortcut.forward(x)
        <a id="change">return </a>self.act(residual + bottleneck)


class CifarResNeXt(nn.Module):</code></pre>