<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.re_channels_out()

        if self.with_focus:
            self.stage1 = Focus(3, <a id="change">self.channels_out[&quotstage1&quot]</a>)
        else:
            self.stage1 = Conv(3, self.channels_out[&quotstage1&quot], 3, 2)
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.C3 = Conv(self.channels_out[2], self.channels_out[3], 3, 2)
        self.conv2 = C3(self.channels_out[3], self.channels_out[4], self.get_depth(6))

        self.C4<a id="change"> = </a><a id="change">Conv(</a>self.channels_out[4], self.channels_out[5], <a id="change">3</a>, <a id="change">2</a><a id="change">)</a>
        self.conv3 = C3(self.channels_out[5], self.channels_out[6], self.get_depth(9))

        self.C5 = Conv(self.channels_out[6], self.channels_out[7], 3, 2)
</code></pre>