<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            init.zeros_(self.bias)

    def forward(self, x):
        batch_size<a id="change">, c_in, T, n_vertex</a> = x.shape

        x_first_mul = torch.mm(x.reshape(-1, c_in), self.weight).view(n_vertex, -1)
        x_second_mul = torch.mm(self.gcnconv_matrix, x_first_mul).view(-1, self.c_out)</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        &#47&#47bs, c_in, ts, n_vertex = x.shape
        x = <a id="change">torch.permute(</a>x, (0, 2, 3, 1)<a id="change">)</a>

        first_mul = <a id="change">torch.einsum(&quothi,btij-&gt;bthj&quot</a>, self.gso, x<a id="change">)</a>
        second_mul = torch.einsum(&quotbthi,ij-&gt;bthj&quot, first_mul, self.weight)

        if self.bias is not None:</code></pre>