<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47&#47&#47 Regressors
        if regressor_config is not None:
            self.regressor_names<a id="change"> = </a>sorted(<a id="change">list(</a>regressor_config.keys()<a id="change">)</a>)
            self.regressor_params = new_param(dims=[len(regressor_config.keys())])
        else:
            self.regressor_names = None</code></pre><h3>After Change</h3><pre><code class='java'>
            n_additive_regressor_params = 0
            n_multiplicative_regressor_params = 0
            for configs in self.regressors_dims.values():
                <a id="change">if </a>configs["mode"] == "additive"<a id="change">:
                    </a>n_additive_regressor_params<a id="change"> += </a>1
                else:
                    n_multiplicative_regressor_params += 1
</code></pre>