<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.bn2 = norm_layer(width)
        self.conv3 = conv1x1(width, planes * self.expansion)
        self.bn3 = norm_layer(planes * self.expansion)
        self.relu = <a id="change">nn.ReLU(inplace=True)</a>
        self.downsample = downsample
        self.stride = stride

    def forward(self, x: Tensor) -&gt; Tensor:</code></pre><h3>After Change</h3><pre><code class='java'>
            base_width: base number of channels in each group.
            widen_factor: factor to reduce the input dimensionality before convolution.
        
        <a id="change">super().__init__()</a>
        width_ratio = out_channels / (widen_factor * 64.)
        D = cardinality * int(base_width * width_ratio)
        self.conv_reduce = nn.Conv2d(
            in_channels, D, kernel_size=1, stride=1, padding=0, bias=False)</code></pre>