<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    
    def __init__(self, d_model: int = 512, dropout_p: float = 0.1, max_len: int = 5000) -&gt; None:
        super(PositionalEncoding, self).__init__()
        self.dropout<a id="change"> = </a><a id="change">nn.Dropout(</a>dropout_p<a id="change">)</a>

        pe = torch.zeros(max_len, d_model)
        position = torch.arange(0, max_len, dtype=torch.float).unsqueeze(1)
        div_term = torch.exp(torch.arange(0, d_model, 2).float() * (-math.log(10000.0) / d_model))</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, d_model: int = 80, max_len: int = 5000) -&gt; None:
        super(PositionalEncoding, self).__init__()
        pe = torch.zeros(max_len, d_model, requires_grad=False)
        position = <a id="change">torch.arange(0, max_len, dtype=torch.float).unsqueeze(1).float()</a>
        div_term = torch.exp(torch.arange(0, d_model, 2).float() * -(math.log(10000.0) / d_model))
        pe[:, 0::2] = torch.sin(position * div_term)
        pe[:, 1::2] = torch.cos(position * div_term)
        pe = pe.unsqueeze(0)</code></pre>