<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        print(any(torch.isnan(seq).view(-1)))
        seq = seq.transpose(0, 1)
        out = self.transformer(seq, seq).transpose(0, 1)
        <a id="change">print(</a>seq, <a id="change">&quot\n&quot</a>, out<a id="change">)</a>
        return self.fc_out(out)</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, seq):
        &#47&#47 seq - [batch_size, seq_len]
        mask = self._generate_square_subsequent_mask(<a id="change">seq.shape[1]</a>)
        print(mask)
        pos = torch.arange(0, seq.shape[1]).unsqueeze(0).repeat(seq.shape[0], 1).to(self.args.device)
        seq = (self.tok_embed(seq) * self.scale) + self.pos_encoding(pos)</code></pre>