<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        step2_success = False

        &#47&#47 Vowel accents are removed.
        <a id="change">word</a> = (word.replace("\xE4", "a").replace("\xE1", "a")
                    .replace("\xEB", "e").replace("\xE9", "e")
                    .replace("\xED", "i").replace("\xEF", "i")
                    .replace("\xF6", "o").replace("\xF3", "o")
                    .replace("\xFC", "u").replace("\xFA", "u"))

        &#47&#47 An initial &quoty&quot, a &quoty&quot after a vowel,
        &#47&#47 and an &quoti&quot between self.__vowels is put into upper case.
        &#47&#47 As from now these are treated as consonants.
        if word.startswith("y"):
            <a id="change">word</a> = "".join(("Y", word[1:]))

        for i in range(1, len(word)):
            if word[i-1] in self.__vowels and word[i] == "y":
                <a id="change">word</a> = "".join((word[:i], "Y", word[i+1:]))

        for i in range(1, len(word)-1):
            if (word[i-1] in self.__vowels and word[i] == "i" and
               word[i+1] in self.__vowels):
                <a id="change">word</a> = "".join((word[:i], "I", word[i+1:]))

        r1, r2 = self._r1r2_standard(word, self.__vowels)

        &#47&#47 R1 is adjusted so that the region before it
        &#47&#47 contains at least 3 letters.
        for i in range(1, len(word)):
            if word[i] not in self.__vowels and word[i-1] in self.__vowels:
                if len(word[:i+1]) &lt; 3 and len(word[:i+1]) &gt; 0:
                    r1 = word[3:]
                elif len(word[:i+1]) == 0:
                    return word
                break

        &#47&#47 STEP 1
        for suffix in self.__step1_suffixes:
            if r1.endswith(suffix):
                if suffix == "heden":
                    word = <a id="change">"".join(</a>(<a id="change">word[:-5]</a><a id="change">, "heid"</a>)<a id="change">)</a>
                    r1 = "".join((r1[:-5], "heid"))
                    if r2.endswith("heden"):
                        r2 = "".join((r2[:-5], "heid"))
</code></pre><h3>After Change</h3><pre><code class='java'>
        step2_success = False

        &#47&#47 Vowel accents are removed.
        <a id="change">word</a> = (word.replace("\xE4", "a").replace("\xE1", "a")
                    .replace("\xEB", "e").replace("\xE9", "e")
                    .replace("\xED", "i").replace("\xEF", "i")
                    .replace("\xF6", "o").replace("\xF3", "o")
                    .replace("\xFC", "u").replace("\xFA", "u"))

        &#47&#47 An initial &quoty&quot, a &quoty&quot after a vowel,
        &#47&#47 and an &quoti&quot between self.__vowels is put into upper case.
        &#47&#47 As from now these are treated as consonants.
        if word.startswith("y"):
            <a id="change">word</a> = "".join(("Y", word[1:]))

        for i in range(1, len(word)):
            if word[i-1] in self.__vowels and word[i] == "y":
                <a id="change">word</a> = "".join((word[:i], "Y", word[i+1:]))

        for i in range(1, len(word)-1):
            if (word[i-1] in self.__vowels and word[i] == "i" and
               word[i+1] in self.__vowels):
                <a id="change">word</a> = "".join((word[:i], "I", word[i+1:]))

        r1, r2 = self._r1r2_standard(word, self.__vowels)

        &#47&#47 R1 is adjusted so that the region before it
        &#47&#47 contains at least 3 letters.
        for i in range(1, len(word)):
            if word[i] not in self.__vowels and word[i-1] in self.__vowels:
                if len(word[:i+1]) &lt; 3 and len(word[:i+1]) &gt; 0:
                    r1 = word[3:]
                elif len(word[:i+1]) == 0:
                    return word
                break

        &#47&#47 STEP 1
        for suffix in self.__step1_suffixes:
            if r1.endswith(suffix):
                if suffix == "heden":
                    word = <a id="change">suffix_replace(</a>word, suffix, <a id="change">"heid"</a><a id="change">)</a>
                    r1 = suffix_replace(r1, suffix, "heid")
                    if r2.endswith("heden"):
                        r2 = suffix_replace(r2, suffix, "heid")
</code></pre>