<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, levels):
        b, n, l, d = levels.shape
        levels<a id="change"> = </a><a id="change">rearrange(</a>levels, <a id="change">&quotb n l d -&gt; b (l d) n&quot</a><a id="change">)</a>
        out<a id="change"> = </a>self.net(levels)
        out = <a id="change">rearrange(</a>out, <a id="change">&quotb (l d) n -&gt; b n l d&quot</a><a id="change">, l = l)</a>
        <a id="change">return </a>out

class ConsensusAttention(nn.Module):
    def __init__(self, attend_self = True, local_consensus_radius = 0):</code></pre><h3>After Change</h3><pre><code class='java'>
        )

    def forward(self, levels):
        <a id="change">return </a>self.net(levels)

class ConsensusAttention(nn.Module):
    def __init__(self, attend_self = True, local_consensus_radius = 0):</code></pre>