<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.main = nn.Sequential(
            nn.Conv2d(in_channels=in_depth, out_channels=12*model_size, kernel_size=5, stride=1),
            nn.LeakyReLU(),
            <a id="change">nn.MaxPool2d(2</a>, <a id="change">2</a><a id="change">)</a>,
            WideImpalaCNNBlock(12*model_size, 40*model_size, norm_func=norm_func),
            WideImpalaCNNBlock(40*model_size, 64*model_size, norm_func=norm_func),
            nn.ReLU()</code></pre><h3>After Change</h3><pre><code class='java'>

        self.pool = torch.nn.AdaptiveMaxPool2d((8, 8))
        self.dueling = Dueling(
            <a id="change">nn.Sequential(</a>linear_layer(<a id="change">2048</a><a id="change">*</a>model_size, 256),
                          nn.ReLU(),
                          linear_layer(256, 1)<a id="change">)</a>,
            nn.Sequential(linear_layer(2048*model_size, 256),
                          nn.ReLU(),
                          linear_layer(256, actions))</code></pre>