<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                self.num_blocks[lix], self.block_size, self.seq_length, num_heads[lix], depths[lix],
                embed_dims[lix], mlp_ratio, qkv_bias, drop_rate, attn_drop_rate, dpr, norm_layer,
                act_layer))            
            <a id="change">if lix &lt; self.num_levels - 1</a><a id="change">:
                </a><a id="change">self.block_aggs.append(</a>BlockAggregation(
                    embed_dims[lix], embed_dims[lix+1], norm_layer, pad_type=pad_type)<a id="change">)</a>
            else:
                &#47&#47 Required for zipped iteration over levels and ls_block_agg together
                self.block_aggs.append(nn.Identity())
</code></pre><h3>After Change</h3><pre><code class='java'>
        dp_rates = [x.tolist() for x in torch.linspace(0, drop_path_rate, sum(depths)).split(depths)]
        prev_dim = None
        curr_stride = 4
        for i in range(<a id="change">len(</a>self.num_blocks<a id="change">)</a>):
            dim = embed_dims[i]
            levels.append(NestLevel(
                self.num_blocks[i], self.block_size, self.seq_length, num_heads[i], depths[i], dim, prev_dim,</code></pre>