<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        h = self.block2(h, scale_shift=scale_shift)

        <a id="change">return </a>h + self.to_out(x)


class InsertNullTokens(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
            skips += [x]

        if not self.use_pre_downsample:
            x<a id="change"> = </a><a id="change">self.downsample(</a>x<a id="change">)</a>

        return x, skips

</code></pre>