<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        super(LinearClassifier, self).__init__()
        self.dense = nn.Linear(seq_len*input_features, h_features_loop)
        self.looplayer1 = <a id="change">nn.Linear(</a>h_features_loop, h_features_loop<a id="change">)</a>
        self.looplayer2 = nn.Linear(h_features_loop, h_features_loop)
        self.logits = nn.Linear(h_features_loop, label_features)
        self.class_loops = class_loops
        self.class_neg_slope = class_neg_slope</code></pre><h3>After Change</h3><pre><code class='java'>
        self.n_layers_classif = n_layers_classif
        self.neg_slope_classif = neg_slope_classif

        self.layers = <a id="change">nn.ModuleList()</a>
        <a id="change">for </a><a id="change">i</a> in range(int(n_layers_classif))<a id="change">:
            </a><a id="change">self.layers.append(</a>nn.Linear(h_dim_classif, h_dim_classif)<a id="change">)</a>

        self.layers.append(nn.Linear(h_dim_classif, label_features))

    def forward(self, x):</code></pre>