<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = self.unwrapPool1(x)

        y = x.view(self.outChans, self.imH, self.imW, -1)
        y = <a id="change">y.permute(3</a>, 1, 2, <a id="change">0</a><a id="change">)</a>
        y = self.l_relu(self.decode(y))
        return y

</code></pre><h3>After Change</h3><pre><code class='java'>
        x = self.multiPoolPrepare(x)
        b, _, _, _ = x.size()
        y = torch.zeros(b, self.outChans, self.imH, self.imW)
        <a id="change">for i</a> in <a id="change">range(</a>self.imH<a id="change">):
            </a>for j in range(self.imW):
                <a id="change">y</a>[:, :, i, j] = self.base_net(x[:, :, i:i+self.pH, j:j+self.pW])
        return y

</code></pre>