<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		if self.add:
			x = self.se(x)
			x = residual + x
		x = <a id="change">self.act(</a>x<a id="change">)</a>

		<a id="change">return </a>x


		&#47&#47 return x + self.cv2(self.cv1(x)) if self.add else self.cv2(self.cv1(x))</code></pre><h3>After Change</h3><pre><code class='java'>
		self.add = shortcut and c1 == c2

	def forward(self, x):
		<a id="change">return </a>x + self.cv2(self.cv1(x)) if self.add else self.cv2(self.cv1(x))


class BottleneckSE(nn.Module):</code></pre>