<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.norm2 = nn.LayerNorm(d_model)

        &#47&#47 obj self attention
        <a id="change">if </a>obj_self_attn<a id="change">:
            </a>self.self_attn_obj = nn.MultiheadAttention(d_model, n_heads, dropout=dropout)
            self.dropout_obj = <a id="change">nn.Dropout(</a>dropout<a id="change">)</a>
            self.norm_obj = nn.LayerNorm(d_model)
            self.obj_attn_mask = self.generate_obj_attn_mask()

        &#47&#47 ffn</code></pre><h3>After Change</h3><pre><code class='java'>

        self.shapes = {
            &quotP0&quot: [160, 160, 256],
            &quotP1&quot: <a id="change">[</a>80, 80, 128<a id="change"></a>],
            &quotP2&quot: [40, 40, 64],
            &quotP3&quot: [20, 20, 32],
            &quotP4&quot: [10, 10, 16],</code></pre>