<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        tokens = torch.cat((text_emb, image_emb), dim = 1)

        if exists(mask):
            mask<a id="change"> = </a><a id="change">F.pad(</a>mask, (<a id="change">0</a><a id="change">, self.image_seq_len</a>)<a id="change">, value = True)</a>

        out = self.transformer(tokens, mask = mask)
        out = self.to_logits(out)
</code></pre><h3>After Change</h3><pre><code class='java'>
            tokens = torch.cat((tokens, image_emb), dim = 1)

            if exists(mask):
                mask = F.pad(mask, (0, <a id="change">image_emb.shape[1]</a>), value = True)

        out = self.transformer(tokens, mask = mask)
        logits = self.to_logits(out)</code></pre>