<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    None for _ in range(num_blocks)
                ]
        else:
            raise ValueError(<a id="change">"Not support `out_channels`={}".format(</a>out_channels<a id="change">)</a>)

        net = []
        for idx in range(num_blocks):</code></pre><h3>After Change</h3><pre><code class='java'>
        net = []

        for idx in range(num_blocks):
            net.append(D2Block(in_channels, <a id="change">growth_rate[idx]</a>, kernel_size, depth=depth[idx], eps=eps))
            in_channels += growth_rate[idx] * depth[idx]
        
        self.net = nn.Sequential(*net)</code></pre>