<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.with_activation:
            &#47&#47 TODO: introduce `act_cfg` and supports more activation layers
            if self.activation not in [&quotrelu&quot]:
                raise ValueError(<a id="change">&quot{} is currently not supported.&quot.format(
                    </a>self.activation<a id="change">)</a>)
            if self.activation == &quotrelu&quot:
                self.activate = nn.ReLU(inplace=inplace)
</code></pre><h3>After Change</h3><pre><code class='java'>
        if self.with_activation:
            act_cfg_ = act_cfg.copy()
            &#47&#47 nn.Tanh has no &quotinplace&quot argument
            if <a id="change">act_cfg_[&quottype&quot]</a> not in [
                    &quotTanh&quot, &quotPReLU&quot, &quotSigmoid&quot, &quotHSigmoid&quot, &quotSwish&quot
            ]:
                act_cfg_.setdefault(&quotinplace&quot, inplace)</code></pre>