<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            wdiff = diff*self.chan_w[iconv]
            wdiff = torch.sum(torch.abs(wdiff),dim=(1,2))/diff.shape[0]/diff.shape[1] &#47&#47 average by batch and time dimensions
            dist = dist+wdiff
        <a id="change">return </a>self.act(dist)

class classifnet(nn.Module):
    def __init__(self,ndim=[16,6],dp=0.1,BN=1):</code></pre><h3>After Change</h3><pre><code class='java'>
            wdiff = torch.sum(torch.abs(wdiff),dim=(1,2))/diff.shape[0]/diff.shape[1] &#47&#47 average by batch and time dimensions
            dist = dist+wdiff
        if self.dist_act==&quotexp&quot:
            dist<a id="change"> = </a>torch.exp(<a id="change">torch.clamp(</a>dist<a id="change">,max=20.)</a>)/(10<a id="change">**</a>5) &#47&#47 exp(20) ~ 4*10**8
        else:
            dist<a id="change"> = </a>self.act(dist)
        <a id="change">return </a>dist

class classifnet(nn.Module):
    def __init__(self,ndim=[16,6],dp=0.1,BN=1):</code></pre>