<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		enc_h, (dec_h0, dec_c0) = self.Encoder(embed_enc_inputs, None)
		hidden = enc_h.size(2)
		dec_state = (dec_h0, dec_c0)
		dec_i1 = <a id="change">torch.rand(batch, 1, hidden).to(</a>device<a id="change">)</a>&#47&#47hidden not embed
		for i in range(city_t):
			dec_h, dec_state = self.LSTMprocess_block(dec_i1, dec_state)
			dec_i1 = self.attending_mechanism(enc_h, dec_h)</code></pre><h3>After Change</h3><pre><code class='java'>
		batch, city_t, xy = x.size()
		embed_enc_inputs = self.Embedding(x)
		enc_h, (h, c) = self.Encoder(embed_enc_inputs, None)
		dec_input = <a id="change">self.dec_input.unsqueeze(0</a><a id="change">)</a>.repeat(batch,1).unsqueeze(1).to(device)
		for i in range(city_t):
			_, (h, c) = self.Decoder(dec_input, (h, c))
			query, ref = h.squeeze(0), enc_h</code></pre>