<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.Dropout(dropout) if dropout &gt; 0 else nn.Identity(),
            self.conv2
        )
        self.bypass<a id="change"> = nn</a><a id="change">.Sequential()</a>
        if stride != 1:
            self.bypass = <a id="change">nn.Upsample(scale_factor=2)</a>

    def forward(self, x_in, noise_embed):
        batch = x_in.shape[0]
        x = self.model1(x_in)</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.Dropout(dropout) if dropout &gt; 0 else nn.Identity(),
            nn.Conv2d(out_channels, out_channels, 3, 1, padding=1)
        )
        self.bypass = <a id="change">nn.Sequential(
            </a><a id="change">nn.Upsample(scale_factor=2)</a> if stride &gt; 1 else nn.Identity(),
            nn.Conv2d(in_channels, out_channels, 1, 1)<a id="change">
        )</a>

    def forward(self, x_in, noise_embed):
        x = self.model1(x_in)
        x = self.noise_func(x, noise_embed)</code></pre>