<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):  &#47&#47 pylint: disable=arguments-differ
        Forward prop
        return <a id="change">x.clamp(min=self.min_val, max=self.max_val)</a>


class Scaler(nn.Module):
    </code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):  &#47&#47 pylint: disable=arguments-differ
        Forward prop
        x<a id="change"> = </a><a id="change">x.clamp(min=self.min_val)</a>
        <a id="change">return </a>x.clamp(max=self.max_val)


class Scaler(nn.Module):</code></pre>