<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 for level in

        cls_loss<a id="change">, box_loss</a> = None, None
        total_loss = cls_loss + self.box_loss_weight * box_loss
        return total_loss, cls_loss, box_loss
</code></pre><h3>After Change</h3><pre><code class='java'>
                cls_targets, box_targets, num_positives):
        cls_losses, box_losses = [], []

        <a id="change">for level</a> in <a id="change">range(</a>self.levels<a id="change">):
            </a>cls_loss<a id="change"> = </a>self._classification_loss(
                <a id="change">cls_outputs[level]</a>, cls_targets[level], num_positives)
            box_loss = self._regression_loss(
                box_outputs[level], box_targets[level], num_positives)
            cls_losses.append(cls_loss)</code></pre>