<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        tgt_len = target.size(0)
        hidden, new_mems = self._forward(data, mems=mems)

        pred_hid = hidden[<a id="change">-tgt_len:</a>]

    parser = argparse.ArgumentParser(description=&quotunit test&quot)
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47               monobeast.py, one will map it to num_actions, another to a value.
        &#47&#47               What do you think?
        &#47&#47 return F.softmax(pred_hid)
        <a id="change">return </a>pred_hid


if __name__ == &quot__main__&quot:</code></pre>