<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            x = block(x)
        x = self.suffix(x)
        if not self.classification:
            <a id="change">assert </a>len(x.size()) == 3
            &#47&#47 here x.shape = (bs, n_features, n_vertices)
            x = x.permute(0, 2, 1)
            &#47&#47 here x.shape = (bs,n_vertices, n_features)</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        &#47&#47here x.shape = (bs, n_vertices, n_vertices, n_features)
        if <a id="change">x.shape[3]</a> != self.original_features_num:
            print("expected input feature {} and got {}".format(self.original_features_num,x.shape[3]))
            return
        x = x.permute(0, 3, 1, 2)</code></pre>