<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        get_latent_attn = lambda: PreNorm(latent_dim, Attention(latent_dim, heads = latent_heads, dim_head = latent_dim_head))
        get_latent_ff = lambda: PreNorm(latent_dim, FeedForward(latent_dim))

        get_cross_attn<a id="change">, get_cross_ff, get_latent_attn, get_latent_ff = </a>map(cache_fn, (get_cross_attn<a id="change">, get_cross_ff, get_latent_attn, get_latent_ff</a>))

        self.layers = nn.ModuleList([])
        for i in range(depth):</code></pre><h3>After Change</h3><pre><code class='java'>
        get_latent_attn, get_latent_ff = map(cache_fn, (get_latent_attn, get_latent_ff))

        self.layers = nn.ModuleList([])
        cache_args<a id="change"> = </a><a id="change">{</a>&quot_cache&quot: weight_tie_layers<a id="change">}</a>

        for i in range(depth):
            self.layers.append(nn.ModuleList([
                get_latent_attn(**cache_args),</code></pre>