<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class Test6 ():
    def add_arrays(self):
        F = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        add = <a id="change">numpy.sum(</a>F<a id="change">)</a>
        cum = add*2
        return cum

</code></pre><h3>After Change</h3><pre><code class='java'>
    def add_arrays(self):
        H = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        fff = 0
        <a id="change">for a</a> in H<a id="change">:
            </a>fff<a id="change"> += </a>a
        cum = fff * 2
        return cum
</code></pre>