<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        S = P + Q + R

        K = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        sss = <a id="change">numpy.sum(</a>K<a id="change">)</a>
        loo = sss*100

        return S*cum
</code></pre><h3>After Change</h3><pre><code class='java'>

        L = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        jjj = 0
        <a id="change">for a</a> in L<a id="change">:
            </a>jjj<a id="change"> += </a>a
        cum = jjj * 2

</code></pre>