<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 self.linear2 = nn.Linear(label_width_d, ndf*8*4*4, bias=bias)
        &#47&#47 self.sigmoid = nn.Sigmoid()

        self.linear = <a id="change">nn.Sequential(
            </a>nn.Linear(ndf*8*4*4, 1, bias=bias),
            <a id="change">nn.Sigmoid()
        )</a>

    def forward(self, x, y):
        y = y.view(-1,1)
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.linear1 = nn.Linear(ndf*8*4*4, 1, bias=bias)
        self.linear2 = nn.Linear(label_width_d, ndf*8, bias=bias)
        &#47&#47&#47&#47 self.linear2 = nn.Linear(label_width_d, ndf*8*4*4, bias=bias)
        self.sigmoid = <a id="change">nn.Sigmoid()</a>

        &#47&#47 self.linear = nn.Sequential(
        &#47&#47     nn.Linear(ndf*8*4*4, 1, bias=bias),
        &#47&#47     nn.Sigmoid()</code></pre>