<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        :param smiles_batch: A list of SMILES strings.
        :return: A PyTorch tensor of shape (num_molecules, hidden_size) containing the encoding of each molecule.
        
        <a id="change">return </a><a id="change">self.encoder.forward(</a>mol2graph(smiles_batch, self.args)<a id="change">)</a>

    def viz_attention(self, smiles: List[str], viz_dir: str):
        
        Visualizes attention weights for a batch of molecular SMILES strings</code></pre><h3>After Change</h3><pre><code class='java'>
        :param smiles_batch: A list of SMILES strings.
        :return: A PyTorch tensor of shape (num_molecules, hidden_size) containing the encoding of each molecule.
        
        output<a id="change"> = </a><a id="change">self.encoder.forward(</a>mol2graph(smiles_batch, self.args)<a id="change">)</a>
        if self.args.adversarial:
            self.saved_encoder_output = output
        <a id="change">return </a>output

    def viz_attention(self, smiles: List[str], viz_dir: str):
        </code></pre>