<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for sample in self:
            c = self.get(sample, 0)
            if c &gt;= len(Nr):
                Nr<a id="change"> += </a>[0]*(c+1-<a id="change">len(</a>Nr<a id="change">)</a>)
            Nr[c] += 1
        self._Nr_cache = Nr
</code></pre><h3>After Change</h3><pre><code class='java'>
        Nr = defaultdict(int)
        for sample in self:
            c = self.get(sample, 0)
            <a id="change">if c == 0</a> and c not in Nr<a id="change">:
                </a>continue
            Nr[c] += 1
        self._Nr_cache = Nr
</code></pre>