<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.args.semiF_path:
            mol_graph, semiF_features = mol_graph
            if self.args.semiF_only:
                semiF_features = np.stack(<a id="change">[features.todense() for features in semiF_features]</a>)
                semiF_features = torch.from_numpy(semiF_features).float().cuda()
                return semiF_features
</code></pre><h3>After Change</h3><pre><code class='java'>
            mol_graph, features_batch = mol_graph

            if self.args.features_only:
                features_batch = torch.from_numpy(<a id="change">np.stack(</a>features_batch<a id="change">)</a>).float()

                if self.args.cuda:  &#47&#47 can&quott use next(self.parameters()).is_cuda b/c no parameters
                    features_batch = features_batch.cuda()</code></pre>