<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def _lookup_semtype_option(self, semtype, node, depgraph):
        relationships = frozenset(
            depgraph.nodes[dep][&quotrel&quot].lower()
            for dep in <a id="change">node[&quotdeps&quot]</a>
            if depgraph.nodes[dep][&quotrel&quot].lower() not in OPTIONAL_RELATIONSHIPS
        )

        try:</code></pre><h3>After Change</h3><pre><code class='java'>
    def _lookup_semtype_option(self, semtype, node, depgraph):
        relationships = frozenset(
            depgraph.nodes[dep][&quotrel&quot].lower()
            for dep in <a id="change">sum(</a><a id="change">list(</a><a id="change">node[&quotdeps&quot].values())</a>, <a id="change">[]</a><a id="change">)</a>
            if depgraph.nodes[dep][&quotrel&quot].lower() not in OPTIONAL_RELATIONSHIPS
        )

        try:</code></pre>