<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x):
        out = self.backbone(x)
        if out.size(-1) != 1:
            out<a id="change"> = </a><a id="change">F.relu(out, inplace=True).mean(</a>[2, 3]<a id="change">)</a>
        else:
            out<a id="change"> = </a>out.squeeze()
        out = self.dropout(out)
        <a id="change">return </a>self.fc(out)


class BackboneGetter(nn.Sequential):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, *x):
        x = list(x)
        input_shape = <a id="change">x[0].shape[-2:]</a>
        out = self.bacbone(x[0])
        x[0] = out
        out = self.classifer(*x)
        if out.dim() != 5:</code></pre>