<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            return self.forward_normal(x)

        else:
            <a id="change">assert </a>y_anchor is not None
            assert x_anchor is not None

            if self.collection_mode:</code></pre><h3>After Change</h3><pre><code class='java'>
        return x

    def forward(self, x, y_anchor=None, x_anchor=None, mode=1):
        if self.training or x_anchor is None or <a id="change">y_anchor is None</a>:
            return self.forward_normal(x)

        else:
            <a id="change">if mode == self.Mode.PHASE_CACHING</a><a id="change">:
                </a>x_var, x_mean = torch.var_mean(x, dim=(2, 3))  &#47&#47 [B, C]
                x_std = torch.sqrt(x_var + self.eps)
                &#47&#47 x_anchor, y_anchor = [B], [B]
                &#47&#47 table = [H, W, C]
                &#47&#47 update std and mean to corresponing coordinates
                self.mean_table[y_anchor, x_anchor] = x_mean
                self.std_table[y_anchor, x_anchor] = x_std
                x_mean = x_mean.unsqueeze(-1).unsqueeze(-1)
                x_std = x_std.unsqueeze(-1).unsqueeze(-1)

            elif mode == self.Mode.PHASE_INFERENCE:

                def multiply_kernel(x):
                    x = x * self.kernel  &#47&#47 [1, C, H, W] * [H, W] = [1, C, H, W]
                    x = x.sum(dim=(2, 3), keepdim=True)  &#47&#47 [1, C, 1, 1]
                    return x

                &#47&#47 currently, could support batch size = 1 for
                &#47&#47 kernelized instance normalization
                assert x.shape[0] == 1

                top = y_anchor
                down = y_anchor + 2 * self.padding + 1
                left = x_anchor
                right = x_anchor + 2 * self.padding + 1
                x_mean = self.padded_mean_table[
                    :, :, top:down, left:right
                ]  &#47&#47 1, C, H, W
                x_std = self.padded_std_table[
                    :, :, top:down, left:right
                ]  &#47&#47 1, C, H, W
                x_mean = multiply_kernel(x_mean)
                x_std = multiply_kernel(x_std)

            else:
                <a id="change">raise </a><a id="change">ValueError(f&quotUnknown mode: {mode}.&quot</a><a id="change">)</a>

            x = (x - x_mean) / x_std * self.weight + self.bias
            return x
</code></pre>