<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
           input from Prediction Network.
        
        assert input_TN.shape != 4, "Arg 1 must be a 4 dim tensor"
        <a id="change">assert </a>input_PN.shape != 4, "Arg 2 must be a 4 dim tensor"

        if self.joint == "sum":
            joint = input_TN + input_PN</code></pre><h3>After Change</h3><pre><code class='java'>
        input_PN: torch.Tensor
           input from Prediction Network.
        
        if <a id="change">input_TN.shape != 4</a>:
            raise ValueError("Arg 1 must be a 4 dim tensor")
        <a id="change">if input_PN.shape != 4</a><a id="change">:
            </a><a id="change">raise </a><a id="change">ValueError("Arg 2 must be a 4 dim tensor"</a><a id="change">)</a>

        if self.joint == "sum":
            joint = input_TN + input_PN
</code></pre>