<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.num_adj_degrees = num_adj_degrees
        self.adj_emb = nn.Embedding(num_adj_degrees + 1, adj_dim) if exists(num_adj_degrees) and adj_dim &gt; 0 else None

        edge_dim = edge_dim<a id="change"> if </a><a id="change">exists(</a>num_edge_tokens<a id="change">) else </a>0
        adj_dim = adj_dim if exists(num_adj_degrees) else 0

        self.layers = nn.ModuleList([])</code></pre><h3>After Change</h3><pre><code class='java'>
        self.num_adj_degrees = num_adj_degrees
        self.adj_emb = nn.Embedding(num_adj_degrees + 1, adj_dim) if exists(num_adj_degrees) and adj_dim &gt; 0 else None

        edge_dim = edge_dim<a id="change"> if </a>self.has_edges<a id="change"> else </a>0
        adj_dim = adj_dim if exists(num_adj_degrees) else 0

        self.layers = nn.ModuleList([])</code></pre>