<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise ValueError("&quot%s&quot should only be specified when calling a "
                             "`ContractExpression`, not when building it." % arg)

    dummy_arrays = <a id="change">[_ShapeOnly(s) for s in shapes]</a>

    return contract(subscripts, *dummy_arrays, gen_expression=True, **kwargs)</code></pre><h3>After Change</h3><pre><code class='java'>
            raise ValueError("&quot%s&quot should only be specified when calling a "
                             "`ContractExpression`, not when building it." % arg)

    <a id="change">kwargs[&quot_gen_expression&quot]</a> = True

    &#47&#47 build dict of constant indices mapped to arrays
    constants = kwargs.pop(&quotconstants&quot, ())</code></pre>