<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self._prodlist.insert(&quotend&quot, (&quot %s&quot % production))
        
    def edit_sentence(self, *e):
        sentence = &quot &quot.join(<a id="change">[tok.type() for tok in self._text]</a>)
        title = &quotEdit Text&quot
        EntryDialog(self._top, sentence, self.set_sentence, title)
</code></pre><h3>After Change</h3><pre><code class='java'>
            self._prodlist.insert(&quotend&quot, (&quot %s&quot % production))
        
    def edit_sentence(self, *e):
        sentence = &quot &quot.join([tok[&quotTEXT&quot] for tok in <a id="change">self._token[&quotSUBTOKENS&quot]</a>])
        title = &quotEdit Text&quot
        EntryDialog(self._top, sentence, self.set_sentence, title)
</code></pre>