<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        scales = self.hyper_synthesis(noisy_hyper_latent)

        if scales.shape != latent.shape:
            scales = _resize(scales, <a id="change">latent.shape[2:]</a>)

        noisy_latent, latent_likelihoods = self.image_bottleneck(latent, scales)
        reconstruction = self.image_synthesis(noisy_latent)</code></pre><h3>After Change</h3><pre><code class='java'>
        reconstruction = self.image_synthesis(noisy_latent)

        if not self.training:
            <a id="change">assert </a>images_shape is not None, "image_shape not found"
            h, w = images_shape
            reconstruction = reconstruction[..., :h, :w]
</code></pre>