<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            check_anchor_order(m)  &#47&#47 must be in pixel-space (not grid-space)
            m.anchors /= m.stride.view(-1, 1, 1)
            self.stride = m.stride
            <a id="change">if  </a>m.decoupled<a id="change">:
                </a>LOGGER.info(&quotdecoupled done&quot)
                pass 
            else:
                self._initialize_biases()  &#47&#47 only run once</code></pre><h3>After Change</h3><pre><code class='java'>
                self._initialize_biases()  &#47&#47 only run once    
                LOGGER.info(&quotinitialize_biases done&quot) 
            except :
                <a id="change">LOGGER.info(&quotdecoupled no biase &quot</a><a id="change">)</a> 

        &#47&#47 Init weights, biases
        initialize_weights(self)</code></pre>