<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        if self.sigma.requires_grad:
            self.invCov = self.invCovMat(self.sigma)
            self.detS<a id="change"> = </a>self.denom(self.sigma,self.input_features)

        &#47&#47 get the distancese of each point to each RBF center
        &#47&#47 (Nbatch,Nrbf,Ndim)
        delta<a id="change"> =  </a>(input[:,None,:]<a id="change"> - </a>self.centers[None,...])

        &#47&#47 Compute (INPUT-MU).T x Sigma^-1 * (INPUT-MU)-&gt; (Nbatch,Nrbf)
        X<a id="change"> = </a>( <a id="change">torch.matmul(</a>delta.unsqueeze(2),self.invCov<a id="change">)</a>.squeeze(2)<a id="change"> * </a>delta ).sum(2)

        &#47&#47 slater kernel
        if self.kernel == &quotslater&quot:
            X = torch.sqrt(X)
            self.detS[:,:]<a id="change"> = </a>1.

        &#47&#47 divide by the determinant of the cov mat
        X = (torch.exp(-0.5*X).unsqueeze(2) / self.detS).squeeze()

        <a id="change">return </a>X</code></pre><h3>After Change</h3><pre><code class='java'>
        if self.kernel == &quotgaussian&quot:
            return self._gaussian_kernel(input)
        elif self.kernel == &quotslater&quot:
            <a id="change">return </a>self._slater_kernel(input)
        else:
            raise ValueError(&quotKernel not recognized&quot)
</code></pre>