<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            x = self.net[idx](x)
            stacked.append(x)
        
        output = torch.cat(<a id="change">stacked[1:]</a>, dim=1)

        return output
</code></pre><h3>After Change</h3><pre><code class='java'>
        
        stacked = torch.cat(stacked, dim=2)
        
        key = <a id="change">self.bands[-1]</a> &#47&#47 &quotfull&quot
        x = self.net[key](input)
        x = torch.cat([stacked, x], dim=1)
        x = self.d2block(x)</code></pre>