<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        if not self.return_all_layers:
            layer_output_list = layer_output_list[-1:]
            last_state_list = <a id="change">last_state_list[-1:]</a>

        return layer_output_list, last_state_list

    def _init_hidden(self, batch_size, image_size):</code></pre><h3>After Change</h3><pre><code class='java'>
        cur_layer_input = torch.unbind(input, dim=int(self.batch_first))

        if not hidden_state:
            hidden_state = self.get_init_states(<a id="change">cur_layer_input[0]</a>.size(int(not self.batch_first)))

        seq_len = len(cur_layer_input)
</code></pre>