<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 dependent on position and i
        position = torch.arange(max_seq_len).unsqueeze(1)
        
        exp_input = <a id="change">torch.arange(</a>0, d_model, 2<a id="change">) * </a>(-math.log(10000.0) / d_model)
        
        div_term = torch.exp(exp_input) &#47&#47 Returns a new tensor with the exponential of the elements of exp_input
        </code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 copy pasted from PyTorch tutorial
        position = torch.arange(max_seq_len).unsqueeze(1)
        
        div_term = torch.exp(<a id="change">torch.arange(</a>0, d_model, 2<a id="change">) * </a>(-math.log(10000.0) / d_model))
        
        pe = torch.zeros(max_seq_len, 1, d_model)
        </code></pre>