<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        Return an Alignment object, being the inverted mapping.
        
        <a id="change">return </a>Alignment(((p[1], p[0])<a id="change"> + </a><a id="change">p[2:]</a>) for p in self)

    def range(self, positions=None):
        </code></pre><h3>After Change</h3><pre><code class='java'>
        @return: the invert object
        @rtype: AlignedSent
        
        <a id="change">return </a>AlignedSent(self._mots, self._words,
                               self._alignment.invert())

</code></pre>