<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 ========= weighted dimension-wise Median aggregation ===
        N, D = feat.size()
        row, col, e_id = graph.edges(order=&quotsrcdst&quot, form=&quotall&quot)
        edge_index<a id="change"> = </a><a id="change">torch.stack([</a>row, col<a id="change"></a>]<a id="change">, dim=0)</a>

        if self._norm != &quotnone&quot:
            &#47&#47 if edge_weight is all 1 and it is not necessary
            &#47&#47 to sort again</code></pre><h3>After Change</h3><pre><code class='java'>

            &#47&#47 cache edges
            if self._cached:
                self._cached_edges = row<a id="change">, col, edge_weight</a>

        if self.weight is not None:
            feat = feat @ self.weight
</code></pre>