<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                adjacency_matrix = weights.reshape(n_h, n)

                &#47&#47 Update human nodes
                h_node_encodings = self.sub_update(<a id="change">torch.cat([
                    </a>h_node_encodings,
                    <a id="change">torch.mm(adjacency_matrix</a>, <a id="change">self.obj_to_sub(</a>node_encodings<a id="change">))</a>
                ], <a id="change">1</a><a id="change">)</a>)

                &#47&#47 Update object nodes (including human nodes)
                node_encodings = self.obj_update(<a id="change">torch.cat([
                    node_encodings</a>,
                    <a id="change">torch.mm(</a><a id="change">adjacency_matrix.t()</a>, <a id="change">self.sub_to_obj(</a>h_node_encodings<a id="change">))</a>
                ], <a id="change">1</a><a id="change">)</a>)

            if targets is not None:
                all_labels.append(self.associate_with_ground_truth(</code></pre><h3>After Change</h3><pre><code class='java'>
            if not torch.all(labels[:n_h]==self.human_idx):
                raise AssertionError("Human detections are not permuted to the top")

            <a id="change">node_encodings</a> = box_features[counter: counter+n]
            &#47&#47 Duplicate human nodes
            h_node_encodings = node_encodings[:n_h]
            &#47&#47 Get the pairwise index between every human and object instance
            x, y = torch.meshgrid(
                torch.arange(n_h, device=device),
                torch.arange(n, device=device)
            )
            &#47&#47 Remove pairs consisting of the same human instance
            x_keep, y_keep = torch.nonzero(x != y).unbind(1)
            if len(x_keep) == 0:
                &#47&#47 Should never happen, just to be safe
                continue
            &#47&#47 Human nodes have been duplicated and will be treated independently
            &#47&#47 of the humans included amongst object nodes
            x = x.flatten(); y = y.flatten()

            adjacency_matrix = torch.ones(n_h, n, device=device)
            for i in range(self.num_iter):
                &#47&#47 Compute weights of each edge
                weights = self.adjacency(torch.cat([
                    h_node_encodings[x],
                    node_encodings[y]
                ], 1))
                <a id="change">adjacency_matrix</a> = weights.reshape(n_h, n)

                &#47&#47 Update human nodes
                messages_to_h = F.relu(<a id="change">torch.mm(
                    adjacency_matrix</a><a id="change">.softmax(dim=1)</a>,
                    <a id="change">self.obj_to_sub(</a>node_encodings<a id="change">)
                )</a>)
                h_node_encodings<a id="change"> = self</a><a id="change">.norm_h(
                    </a>h_node_encodings<a id="change"> + </a>messages_to_h<a id="change">
                )</a>

                &#47&#47 Update object nodes (including human nodes)
                messages_to_o = F.relu(<a id="change">torch.mm(
                    </a><a id="change">adjacency_matrix.t().softmax(dim=1)</a>,
                    <a id="change">self.sub_to_obj(</a>h_node_encodings<a id="change">)
                )</a>)
                node_encodings<a id="change"> = self.norm_o(
                    node_encodings</a><a id="change"> + </a>messages_to_o<a id="change">
                )</a>

            if targets is not None:
                all_labels.append(self.associate_with_ground_truth(
                    coords[x_keep], coords[y_keep], targets[b_idx])</code></pre>