<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        x = self.valley_transformer(x)

        x<a id="change"> = </a><a id="change">repeat(</a>x, <a id="change">&quotb n d -&gt; b (n r) d&quot</a><a id="change">, r = shorten_factor)</a>

        x = x[:, :n]
        x = x + x_residual
</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x):
        &#47&#47 b : batch, n : sequence length, d : feature dimension, s : shortening factor

        s, b, n = self.shorten_factor, *x.shape[<a id="change">:2</a>]

        &#47&#47 top half of hourglass, pre-transformer layers
</code></pre>