<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        neg_weight = torch.max(torch.zeros_like(neg_weight), neg_weight)
        lse_negative = torch.logsumexp(self.log_scale * (neg - self.neg_margin) * neg_weight, dim=-1)

        loss = <a id="change">F.softplus(</a>lse_positive<a id="change"> + </a>lse_negative<a id="change">)</a> / self.log_scale

        return torch.mean(loss), accuracy, furthest_positive.tolist(), average_negative.tolist(), 0, dists
</code></pre><h3>After Change</h3><pre><code class='java'>
        lse_negative_row = torch.logsumexp(self.log_scale * (neg - self.neg_margin) * neg_weight, dim=-1)
        lse_negative_col = torch.logsumexp(self.log_scale * (neg - self.neg_margin) * neg_weight, dim=-2)

        loss_row = <a id="change">F.softplus(</a>lse_positive<a id="change"> + </a>lse_negative_row<a id="change">)</a> / self.log_scale
        loss_col = F.softplus(lse_positive + lse_negative_col) / self.log_scale
        loss<a id="change"> = </a>(loss_row<a id="change"> + </a>loss_col) / 2

        return torch.mean(loss), accuracy, furthest_positive.tolist(), average_negative.tolist(), 0, dists
</code></pre>