<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.relu = nn.ReLU(inplace=True)
        &#47&#47 classifier
        self.avgpool = nn.AvgPool2d(8)
        self.fc = nn.Linear(<a id="change">nstages[3]</a>, output_classes)

        &#47&#47 weight initialization
        self._init_weights()</code></pre><h3>After Change</h3><pre><code class='java'>
                m.weight.data.normal_(0, math.sqrt(2. / n))
            elif isinstance(m, nn.BatchNorm2d):
                m.weight.data.fill_(1)
                <a id="change">m.bias.data.zero_()</a>

    def _make_layer(self, block, planes, blocks, stride=1):
        downsample = None
        if stride != 1 or self.inplanes != planes * block.expansion:</code></pre>