<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                            "Must specify doctest options with starting " +
                            "&quot+&quot or &quot-&quot.  Got %s" % (flag,))
                except (AttributeError, KeyError):
                    raise ValueError(<a id="change">"Unknown doctest option %s"</a><a id="change"> %
                                     </a>(flag[1:]<a id="change"></a>,))


</code></pre><h3>After Change</h3><pre><code class='java'>
                        self.options[key]=value
                        continue
                except (AttributeError, ValueError, KeyError):
                    raise ValueError(<a id="change">"Unknown doctest option {}".format(</a>stroption<a id="change">)</a>)
                else:
                    raise ValueError("Doctest option is not a flag or a key/value pair: {} ".format(stroption))
</code></pre>