<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                (feature.PROPERTY_NAME, value, ",".join(str(w) for w in feature.positions)))

        conditions = &quot & &quot.join([_condition_to_logic(f,v) for (f,v) in self._conditions])
        s = (<a id="change">&quot%s-&gt;%s if %s&quot</a><a id="change"> % </a>(
            self.original_tag<a id="change">,
            self.replacement_tag,
            conditions</a>))
        return s

</code></pre><h3>After Change</h3><pre><code class='java'>
            )

        conditions = &quot & &quot.join([_condition_to_logic(f, v) for (f, v) in self._conditions])
        s = <a id="change">&quot{0}-&gt;{1} if {2}&quot.format(
            </a>self.original_tag,
            self.replacement_tag,
            conditions<a id="change">
        )</a>

        return s

    def format(self, fmt):</code></pre>