<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.module = module

    def forward(self, x):
        return <a id="change">x</a><a id="change"> + </a><a id="change">self.module(</a>x<a id="change">)</a>


def SNN(in_channels, out_channels, hidden_channels=[256, 256, 256, 256]):
    return nn.Sequential(</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x):
        &#47&#47 use average to preserve self-normalization
        return 0.5 * (<a id="change">x</a><a id="change"> + </a><a id="change">self.module(</a>x<a id="change">)</a>)


class CausalConv1d(nn.Conv1d):</code></pre>