<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                device=device,
            )
            if not embedding_config.feature_names:
                embedding_config.feature_names<a id="change"> = </a><a id="change">[</a>embedding_config.name<a id="change"></a>]
            for feature_name in embedding_config.feature_names:
                if feature_name not in shared_feature:
                    shared_feature[feature_name] = False</code></pre><h3>After Change</h3><pre><code class='java'>
                raise ValueError(f"Duplicate table name {config.name}")
            table_names.add(config.name)
            self.embedding_dim = (
                config.embedding_dim<a id="change"> if self.embedding_dim &lt; 0</a><a id="change"> else </a>self.embedding_dim
            )
            if self.embedding_dim != config.embedding_dim:
                raise ValueError(</code></pre>