<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        greedy = inputs is None

        &#47&#47 (B, T, mel_dim) -&gt; (B, T&quot, mel_dim*r)
        <a id="change">if </a>inputs is not None<a id="change">:
            &#47&#47 Grouping multiple frames if necessary
            </a>if inputs.size(-1) == self.mel_dim:
                inputs<a id="change"> = </a>inputs.reshape(B, inputs.size(1) // self.r, -1)
            <a id="change">assert </a>inputs.size(-1) == self.mel_dim * self.r
            T_decoder = inputs.size(1)

        &#47&#47 Time first (T&quot, B, mel_dim*r)</code></pre><h3>After Change</h3><pre><code class='java'>
            stop = torch.sigmoid(stop)

            &#47&#47 Store predictions
            <a id="change">mel_outputs.append(</a>output<a id="change">)</a>
            attn_scores.append(attention_score.unsqueeze(1))
            stop_tokens.extend([stop] * self.r)

            if greedy:</code></pre>