<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return total_loss

    def forward(self):
        <a id="change">print(</a>f&quotImagining "{self.text}" from the depths of my weights...&quot<a id="change">)</a>

        self.model(self.encoded_text) &#47&#47 one warmup step due to issue with CLIP and CUDA

        if self.open_folder:</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self):
        penalizing = ""
        <a id="change">if len(self.text_min) &gt; 0</a><a id="change">:
            </a>penalizing<a id="change"> = </a>f&quotpenalizing "{self.text_min}"&quot
        print(f&quotImagining "{self.text}" {penalizing}...&quot)
        self.model(self.encoded_texts["max"][0]) &#47&#47 one warmup step due to issue with CLIP and CUDA
</code></pre>