<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise ValueError
        inverted_residual=InvertedResidual

        <a id="change">if </a>len(stages_repeats) != 3<a id="change">:
            </a>raise ValueError(&quotexpected stages_repeats as list of 3 positive ints&quot)
        if len(stages_out_channels) != 5:
            raise ValueError(&quotexpected stages_out_channels as list of 5 positive ints&quot)
        self._stage_out_channels = stages_out_channels</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.ReLU(inplace=True),
        )
        input_channels = output_channels
        self.maxpool<a id="change"> = </a><a id="change">nn.MaxPool2d(kernel_size=3, stride=2, padding=1)</a>

        stage_names = ["stage{}".format(i) for i in [2, 3, 4]]
        for name, repeats, output_channels in zip(
            stage_names, stages_repeats, self._stage_out_channels[1:]</code></pre>