<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        o_z = self.mt_z.forward(o)
        o_not_bg = torch.cat((o_p, o_phot, o_x, o_y, o_z), 1)

        <a id="change">if self.ch_out == 5</a><a id="change">:
            </a>o<a id="change"> = </a>o_not_bg

        elif <a id="change">self.ch_out == 6</a><a id="change">:
            </a>o_bg = self.mt_bg.forward(o)
            o = torch.cat((o_not_bg, o_bg), 1)

        Apply the final non-linearities</code></pre><h3>After Change</h3><pre><code class='java'>

        o = self.unet_union.forward(o)

        o_head<a id="change"> = []</a>
        <a id="change">for </a>i in range(self.ch_out)<a id="change">:
            </a><a id="change">o_head.append(</a>self.mt_heads[i].forward(o)<a id="change">)</a>
        o = torch.cat(o_head, 1)

        Apply the final non-linearities
        if self._use_last_nl:</code></pre>