<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        for i in range(target.shape[1]):
            if i != self.ignore_index:
                dice_loss<a id="change">, _ = </a>dice(predict[:, i], <a id="change">{</a>&quottargets&quot: target[:, i]<a id="change">}</a>, device)
                if self.weight is not None:
                    assert self.weight.shape[0] == target.shape[1], \
                        &quotExpect weight shape [{}], get[{}]&quot.format(target.shape[1], self.weight.shape[0])</code></pre><h3>After Change</h3><pre><code class='java'>
        inputs = inputs.view(-1)
        targets = targets.view(-1)
        
        intersection = <a id="change">(inputs * targets).sum()</a>                            
        dice<a id="change"> = </a>(2.<a id="change">*</a>intersection + self.eps)/(inputs.sum() + targets.sum() + self.eps)  
        
        loss =  1 - dice
</code></pre>