<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Returns:
            output (batch_size, num_features, S, chunk_size)
        
        <a id="change">pass</a>

def _test_global_attentive_block():
    pass
</code></pre><h3>After Change</h3><pre><code class='java'>
        x = x + residual
        
        if self.norm:
            x<a id="change"> = x.permute(1</a>,<a id="change">2</a>,<a id="change">0</a><a id="change">)</a> &#47&#47 (batch_size, embed_dim, T)
            x = self.norm1d(x) &#47&#47 (batch_size, embed_dim, T)
            x = <a id="change">x.permute(2</a>,<a id="change">0</a>,<a id="change">1</a><a id="change">)</a>.contiguous() &#47&#47 (batch_size, embed_dim, T) -&gt; (T, batch_size, embed_dim)
        
        output = x
</code></pre>