<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		batch, city_t, xy = x.size()
		embed_enc_inputs = self.Embedding(x)
		enc_h, (dec_h0, dec_c0) = self.Encoder(embed_enc_inputs, None)
		hidden = <a id="change">enc_h.size(2</a><a id="change">)</a>
		dec_state = (dec_h0, dec_c0)
		dec_i1 = torch.rand(batch, 1, hidden).to(device)&#47&#47hidden not embed
		for i in range(city_t):
			dec_h, dec_state = self.LSTMprocess_block(dec_i1, dec_state)</code></pre><h3>After Change</h3><pre><code class='java'>
		for i in range(city_t):
			_, (h, c) = self.Decoder(dec_input, (h, c))
			query, ref = h.squeeze(0), enc_h
			<a id="change">for i</a> in range(self.n_glimpse)<a id="change">:
				</a>query<a id="change"> = </a>self.glimpse(query, ref)
		&quot&quot&quot	
		- page 5/15 in paper
		critic model architecture detail is out there, "Critic’s architecture for TSP"</code></pre>