<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.model_cfg = model_cfg

        assert len(self.model_cfg.LAYER_NUMS) == len(self.model_cfg.LAYER_STRIDES) == len(self.model_cfg.NUM_FILTERS)
        <a id="change">assert </a>len(self.model_cfg.UPSAMPLE_STRIDES) == len(self.model_cfg.NUM_UPSAMPLE_FILTERS)
        layer_nums = self.model_cfg.LAYER_NUMS
        layer_strides = self.model_cfg.LAYER_STRIDES
        num_filters = self.model_cfg.NUM_FILTERS</code></pre><h3>After Change</h3><pre><code class='java'>
        else:
            layer_nums = layer_strides = num_filters = []

        <a id="change">if self.model_cfg.get(&quotUPSAMPLE_STRIDES&quot, None) is not None</a><a id="change">:
            </a><a id="change">assert </a>len(self.model_cfg.UPSAMPLE_STRIDES) == len(self.model_cfg.NUM_UPSAMPLE_FILTERS)
            num_upsample_filters = self.model_cfg.NUM_UPSAMPLE_FILTERS
            upsample_strides = self.model_cfg.UPSAMPLE_STRIDES
        else:
            upsample_strides = num_upsample_filters<a id="change"> = </a>[]

        num_levels = len(layer_nums)
        c_in_list = [input_channels, *num_filters[:-1]]</code></pre>