<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.activation = activation
        self.use_dense = use_dense

        in_units = [observation_shape[0]] + <a id="change">hidden_units[:-1]</a>
        self.fcs = nn.ModuleList()
        self.bns = nn.ModuleList()
        for i, (in_unit, out_unit) in enumerate(zip(in_units, hidden_units)):
            if use_dense and i &gt; 0:</code></pre><h3>After Change</h3><pre><code class='java'>
        self._activation = activation  &#47&#47 type: ignore
        self._use_dense = use_dense

        in_units = [observation_shape[0]] + list(<a id="change">hidden_units[:-1]</a>)
        self._fcs = nn.ModuleList()
        self._bns = nn.ModuleList()
        for i, (in_unit, out_unit) in enumerate(zip(in_units, hidden_units)):</code></pre>