<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            branch = nn.Sequential()
            branch.add_module(&quotbranch_backbone&quot, nn.Sequential(copy.deepcopy(res_conv4), copy.deepcopy(resnet.layer4)))
            branch.add_module(&quotbranch_pool&quot, pool2d(kernel_size=(24 // stripe, 8)))
            branch_reduces, branch_stripe_fc = nn.Sequential()<a id="change">, nn.Sequential()</a>
            for i in range(stripe + 1): &#47&#47 global + local
                branch_reduces.add_module(str(i), copy.deepcopy(reduction))
                branch_stripe_fc.add_module(str(i), copy.deepcopy(fc_layer))
            branch.add_module(&quotbranch_reduce&quot, branch_reduces)</code></pre><h3>After Change</h3><pre><code class='java'>
        branches = []
        for stripe_id, stripe in enumerate(stripes):
            embedding_layers = nn.ModuleList([copy.deepcopy(reduction) for _ in range(stripe+1)])
            fc_layers<a id="change"> = </a>nn.ModuleList([copy.deepcopy(fc_layer) <a id="change">for</a> _ in <a id="change">range(</a>stripe<a id="change">+1</a><a id="change">)</a>])
            branches.append(
                nn.ModuleList([
                    nn.Sequential(copy.deepcopy(res_conv4), copy.deepcopy(resnet.layer4)),</code></pre>