<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 to apply dropout when fine-tuning on a downstream task. Hence we need
        &#47&#47 to modify the fairseq cfg to activate dropout (if requested).
        if not freeze and dropout is not None:
            overrides<a id="change"> = </a><a id="change">{
                </a>"model": {
                    "dropout": dropout,
                    "encoder_layerdrop": dropout,
                    "dropout_input": dropout,
                    "attention_dropout": dropout,
                }<a id="change">
            }</a>
        else:
            overrides = {}

        (</code></pre><h3>After Change</h3><pre><code class='java'>
        overrides = {}
        if not freeze and dropout is not None:
            overrides["model"] = {}
            <a id="change">if dropout is not None</a><a id="change">:
                overrides["model"]["dropout"]</a><a id="change"> = </a>dropout
                overrides["model"]["dropout_input"]<a id="change"> = </a>dropout
                overrides["model"]["attention_dropout"] = dropout
            if layer_drop is not None:
                overrides["model"]["layer_drop"] = layer_drop</code></pre>