<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            gt_roi_label        = torch.Tensor(gt_roi_label).long()
            sample_roi_index    = torch.zeros(len(sample_roi))
            
            <a id="change">if feature.is_cuda</a><a id="change">:
                </a>sample_roi<a id="change">          = sample_roi.cuda()</a>
                sample_roi_index    = sample_roi_index.cuda()
                gt_roi_loc          = gt_roi_loc.cuda()
                gt_roi_label        = gt_roi_label.cuda()</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47   gt_rpn_label    [num_anchors, ]
            &#47&#47 -------------------------------------------------- &#47&#47
            gt_rpn_loc, gt_rpn_label    = self.anchor_target_creator(bbox, anchor)
            gt_rpn_loc                  = <a id="change">torch.Tensor(gt_rpn_loc).type_as(</a>rpn_locs<a id="change">)</a>
            gt_rpn_label                = torch.Tensor(gt_rpn_label).type_as(rpn_locs).long()

            &#47&#47 -------------------------------------------------- &#47&#47</code></pre>