<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        o_x = self.mt_x.forward(o)
        o_y = self.mt_y.forward(o)
        o_z = self.mt_z.forward(o)
        o_not_bg = <a id="change">torch.cat(</a>(o_p, o_phot, o_x, o_y, o_z), <a id="change">1</a><a id="change">)</a>

        if self.ch_out == 5:
            o = o_not_bg

        elif self.ch_out == 6:
            o_bg<a id="change"> = </a>self.mt_bg.forward(o)
            o = torch.cat((o_not_bg<a id="change">, o_bg</a>), 1)

        Apply the final non-linearities
        if self._use_last_nl:</code></pre><h3>After Change</h3><pre><code class='java'>

        o = self.unet_union.forward(o)

        o_head<a id="change"> = []</a>
        <a id="change">for </a>i in range(self.ch_out)<a id="change">:
            </a><a id="change">o_head.append(</a>self.mt_heads[i].forward(o)<a id="change">)</a>
        o = torch.cat(o_head, 1)

        Apply the final non-linearities
        if self._use_last_nl:</code></pre>