<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            anchor_boxes = self._anchor_cache
        indices = indices.cpu().numpy()
        classes = classes.cpu().numpy()
        image_ids<a id="change"> = image_ids.cpu()</a><a id="change">.numpy()</a>
        image_scale = image_scales.cpu().numpy()
        for i in range(x.shape[0]):
            detections = generate_detections(
                class_out[i], box_out[i], anchor_boxes, indices[i], classes[i],</code></pre><h3>After Change</h3><pre><code class='java'>
            detections = generate_detections_pt(
                class_out[i], box_out[i], anchor_boxes, indices[i], classes[i], image_scales[i])
            batch_detections.append(detections)
        <a id="change">return </a>torch.stack(batch_detections, dim=0)

</code></pre>