<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.aux_classifier is not None:
            x = features["aux"]
            x = self.aux_classifier(x)
            x<a id="change"> = </a><a id="change">F.interpolate(</a>x<a id="change">, size=input_shape, mode=&quotbilinear&quot, align_corners=False)</a>
            result["aux"]<a id="change"> = </a>x

        <a id="change">return </a>result
</code></pre><h3>After Change</h3><pre><code class='java'>
        result = OrderedDict()
        x = features["out"]
        x = self.classifier(x)
        <a id="change">return </a>F.interpolate(x, size=input_shape, mode=&quotbilinear&quot, align_corners=False)
</code></pre>