<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class Model(nn.Module):
    def __init__(self, model_yaml=&quotyolov5s.yaml&quot, ch=3, nc=None):  &#47&#47 model, input channels, number of classes
        super(Model, self).__init__()
        <a id="change">with </a>open<a id="change">(model_yaml) as f:
            </a>self.md = yaml.load(f, Loader=yaml.FullLoader)  &#47&#47 model dict
            if nc:
                self.md[&quotnc&quot] = nc  &#47&#47 override yaml value
</code></pre><h3>After Change</h3><pre><code class='java'>
class Model(nn.Module):
    def __init__(self, model_cfg=&quotyolov5s.yaml&quot, ch=3, nc=None):  &#47&#47 model, input channels, number of classes
        super(Model, self).__init__()
        <a id="change">if type(model_cfg) is dict</a><a id="change">:
            </a>self.md<a id="change"> = model_cfg</a>  &#47&#47 model dict
        else:  &#47&#47 is *.yaml
            <a id="change">with </a>open<a id="change">(model_cfg) as f:
                </a>self.md = yaml.load(f, Loader=yaml.FullLoader)  &#47&#47 model dict

        &#47&#47 Define model
        if nc:</code></pre>