<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    ):
        super().__init__()

        self.layer = <a id="change">nn.Sequential(
            </a>nn.Conv2d(in_channels, in_channels, kernel_size=kernel_size,
                      bias=False, stride=stride, padding=padding, groups=in_channels),
            nn.ReLU(inplace=True),
            nn.BatchNorm2d(in_channels),
            nn.Conv2d(in_channels, out_channels, kernel_size=1,
                      stride=1, bias=False, padding=0),
            <a id="change">nn.ReLU(inplace=True)</a>,
            nn.BatchNorm2d(out_channels)<a id="change">,
        )</a>

    def forward(self, x):
        return self.layer(x)
</code></pre><h3>After Change</h3><pre><code class='java'>
            blocks.PointwiseBlock(inp, oup, groups=groups)
        )

        self.branch2<a id="change"> = </a><a id="change">nn.Identity()</a>
        self.combine = blocks.Combine(&quotADD&quot)
        self.relu = <a id="change">nn.ReLU(inplace=True)</a>

    def forward(self, x):
        x = self.combine(self.branch1(x), self.branch2(x))
        x = self.relu(x)</code></pre>