<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    @staticmethod
    def forward(x: torch.Tensor) -&gt; torch.Tensor:
        &#47&#47 See paper sec. 3.2, final paragraph, and supplement Sec. 1.5 for discussion of factor 30.
        return <a id="change">torch.sin(</a>30<a id="change"> * </a>x<a id="change">)</a>


class Swish(nn.Module):
    r Applies the swish function element-wise.</code></pre><h3>After Change</h3><pre><code class='java'>
    @staticmethod
    def forward(x: torch.Tensor) -&gt; torch.Tensor:
        &#47&#47 See paper sec. 3.2, final paragraph, and supplement Sec. 1.5 for discussion of factor 30.
        out = <a id="change">torch.sin(</a>30<a id="change"> * </a>x<a id="change">)</a>

        return out

</code></pre>