<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        elif activation_fn == "Leaky_ReLU":
            self.activation = nn.LeakyReLU(negative_slope=0.1, inplace=True)
        else:
            <a id="change">raise </a>NotImplementedError

        self.ch_mismatch = False
        if in_channels != out_channels:</code></pre><h3>After Change</h3><pre><code class='java'>
            self.activation = nn.ReLU(inplace=True)
        elif activation_fn == "Leaky_ReLU":
            self.activation = nn.LeakyReLU(negative_slope=0.1, inplace=True)
        elif <a id="change">activation_fn == "ELU"</a><a id="change">:
            </a>self.activation<a id="change"> = nn.ELU(alpha=1.0, inplace=True)</a>
        elif <a id="change">activation_fn == "GELU"</a><a id="change">:
            </a>self.activation<a id="change"> = nn.GELU()</a>
        else:
            <a id="change">raise </a>NotImplementedError

        self.ch_mismatch = False
        if in_channels != out_channels:</code></pre>