<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()
        self.fc1 = nn.Linear(4, 256)
        self.fc2 = nn.Linear(256, 256)
        self.act1 = <a id="change">nn.Linear(</a>256, num_sprt<a id="change">)</a>
        self.act2 = <a id="change">nn.Linear(</a>256, num_sprt<a id="change">)</a>
    
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()
        self.fc1 = nn.Linear(4, 256)
        self.fc2 = nn.Linear(256, 256)
        self.acts = <a id="change">[nn.Linear(256, num_sprt) for _ in range(num_act)]</a>
    
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))</code></pre>