<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        seq = seq * scales * pi

        x_sinu = repeat(seq, &quoti d -&gt; i j d&quot, j = n)
        y_sinu = <a id="change">repeat(</a>seq, <a id="change">&quotj d -&gt; i j d&quot</a><a id="change">, i = n)</a>

        sin = torch.cat((x_sinu.sin(), y_sinu.sin()), dim = -1)
        cos = torch.cat((x_sinu.cos(), y_sinu.cos()), dim = -1)
</code></pre><h3>After Change</h3><pre><code class='java'>
        scales = self.scales[(*((None,) * (len(seq_x.shape) - 1)), Ellipsis)]
        scales = scales.to(x)

        scales = self.scales[(*((None<a id="change"></a>,) * (len(seq_y.shape) - 1)), Ellipsis)]
        scales = scales.to(x)

        seq_x = seq_x * scales * pi</code></pre>