<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        dimension = 0
        pretrained_dimension = field.vocab.vectors.size(-1)
        self.pretrained_embeddings = [nn.Embedding(len(field.vocab), pretrained_dimension)]
        <a id="change">self.pretrained_embeddings[0]</a>.weight.data = field.vocab.vectors
        self.pretrained_embeddings[0].weight.requires_grad = False
        dimension += pretrained_dimension
        if self.project:</code></pre><h3>After Change</h3><pre><code class='java'>
        dimension += pretrained_dimension

        if trained_dimension &gt; 0:
            self.trained_embeddings<a id="change"> = </a><a id="change">nn.Embedding(</a>len(field.vocab), trained_dimension<a id="change">)</a>
        else:
            self.trained_embeddings = None
        if self.project:
            self.projection = Feedforward(dimension, output_dimension)</code></pre>