<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    if i == 0:
                        rec_features.append(rec_feature[:, :inputs[i].size(1)])
                    else:
                        rec_features.append(<a id="change">rec_feature[:, \
                            inputs[i-1].size(1):inputs[i-1].size(1)+inputs[i].size(1)]</a>)
            &quot&quot&quot
            if i == 0:
                rec_features.append(rec_feature[:, :outs[i].size(-1)])</code></pre><h3>After Change</h3><pre><code class='java'>
        
        fuse = self.fuse(outs, training=training)
        logit = self.head(fuse, training=training)
        sizes = [<a id="change">torch.flatten(ii,start_dim=1).size(1</a><a id="change">)</a> for ii in inputs]
        rec_features = []
        if training:
            rec_feature = self.refiner(fuse, training=training)
            curr=0
            for i in range(input_num):
                if self.has_padding:
                    if i == 0:
                        rec_features.append(rec_feature[:, :inputs[0][i].size(1)])
                    else:
                        rec_features.append(rec_feature[:, \
                            inputs[0][i-1].size(1):inputs[0][i-1].size(1)+inputs[i].size(1)])
                else:
                    if i == 0:
                        rec_features.append(rec_feature[:, :sizes[0]])
                        curr = sizes[0]
                    else:
                        rec_features.append(rec_feature[:, \
                                curr:curr<a id="change">+</a>sizes[i]])
                        curr += sizes[i]
            &quot&quot&quot
            if i == 0:</code></pre>