<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            elif mtype == &quotroute&quot:  &#47&#47 concat
                layers = mdef[&quotlayers&quot]
                if verbose:
                    <a id="change">print(</a>&quotroute/concatenate %s + %s&quot % (list(x.shape), [list(out[i].shape) for i in layers])<a id="change">)</a>
                if len(layers) == 1:
                    x = out[layers[0]]
                else:
                    try:</code></pre><h3>After Change</h3><pre><code class='java'>
                x = module(x, out)  &#47&#47 weightedFeatureFusion()
            elif mtype == &quotroute&quot:  &#47&#47 concat
                layers = mdef[&quotlayers&quot]
                <a id="change">if </a><a id="change">verbose:
                    </a>l<a id="change"> = </a>[i - 1] + layers  &#47&#47 layers
                    s<a id="change"> = </a><a id="change">[</a>list(x.shape)<a id="change"></a>] + [list(out[i].shape) for i in layers]  &#47&#47 shapes
                    str = &quot &gt;&gt; &quot + &quot + &quot.join([&quotlayer %g %s&quot % x for x in zip(l, s)])
                if len(layers) == 1:
                    x = out[layers[0]]</code></pre>