<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    ) -&gt; Tuple[torch.Tensor, torch.Tensor]:
        inplace_safe = not (self.training or torch.is_grad_enabled())

        <a id="change">print(</a>chunk_size<a id="change">)</a>
        print(_attn_chunk_size)

        if(_attn_chunk_size is None):
            _attn_chunk_size = chunk_size</code></pre><h3>After Change</h3><pre><code class='java'>
            _offload_inference=_offload_inference,
        )

        <a id="change">if(</a><a id="change">inplace_safe):
            </a>out<a id="change"> = </a>input_tensors
        else:
            out<a id="change"> = </a><a id="change">[</a>m, z<a id="change"></a>]

        return out
</code></pre>