<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 This is a regular expression that matches any node whose
        &#47&#47 name includes SBJ, including NP-SBJ:
        self.assertEqual(tgrep.tgrep_positions(tree, &quot/SBJ/&quot),
                         <a id="change">[</a>(0<a id="change"></a>,), (1<a id="change"></a>,), (2<a id="change"></a>,)<a id="change"></a>])

    def test_node_tree_position(self):
        &quot&quot&quot</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 This is a regular expression that matches any node whose
        &#47&#47 name includes SBJ, including NP-SBJ:
        self.assertEqual(list(tgrep.tgrep_positions([tree], &quot/SBJ/&quot)),
                         <a id="change">[</a><a id="change">[</a>(0<a id="change"></a>,), (1<a id="change"></a>,), (2<a id="change"></a>,)<a id="change"></a>]<a id="change"></a>])

    def test_node_tree_position(self):
        &quot&quot&quot</code></pre>