<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.with_preprocess:
            x = x[:,[2,1,0],...]
            x = x * (1/255)
        x<a id="change">, _ = </a><a id="change">self.model(</a>x<a id="change">)</a>
        x = self.end2end(x)
        return x
</code></pre><h3>After Change</h3><pre><code class='java'>
            x = x[:,[2,1,0],...]
            x = x * (1/255)
        if isinstance(x, list):
            x = <a id="change">x[0]</a>
        else:
            x = x
        x = self.end2end(x)
        return x</code></pre>