<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if indivisual_attn:
            attn = attn.view(n_head, sz_b, len_q, len_k)

        return output<a id="change">, attn</a>


class ScaledDotProductAttention(nn.Module):
    def __init__(self, temperature):</code></pre><h3>After Change</h3><pre><code class='java'>
        if mapping_mask is not None:
            mapping_mask = mapping_mask.repeat(n_head, 1, 1)  &#47&#47 (n*b) x .. x ..
        if attn_prior is not None:
            attn_prior<a id="change"> = </a><a id="change">attn_prior.repeat(</a>n_head, <a id="change">1</a>, <a id="change">1</a><a id="change">)</a>
        output, attns, attn_logprob = self.attention(
            q, k, v, key_mask=key_mask, query_mask=query_mask, mapping_mask=mapping_mask, attn_prior=attn_prior)

        output = output.view(n_head, sz_b, len_q, d_v)</code></pre>