<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        block_forecasts = torch.stack(block_forecasts)
        block_forecasts = block_forecasts.permute(1, 0, 2)

        return forecast<a id="change">, block_forecasts</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 encoder_mask = encoder_mask.flip(dims=(-1,))
        encoder_mask = encoder_mask.unsqueeze(-1)

        level = <a id="change">encoder_y[:, -1:].repeat(1</a>, decoder_x_t.size(1), <a id="change">1</a><a id="change">)</a>  &#47&#47 Level with Naive1
        block_forecasts<a id="change"> = </a>[level]
        block_backcasts = [encoder_y[:, -1:].repeat(1, encoder_y.size(1), 1)]

        forecast = level</code></pre>