<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        output3 = self.final3(x0_3)
        output4 = self.final4(x0_4)
        output = self.conv_final(torch.cat([output1, output2, output3, output4], 1))
        return (output1<a id="change">, output2, output3, output4, output</a>)
</code></pre><h3>After Change</h3><pre><code class='java'>

        intra = torch.sum(torch.stack((x0_1, x0_2, x0_3, x0_4)), dim=0)
        ca1 = self.ca1(intra)
        out = self.ca(out) * (out + <a id="change">ca1.repeat(1</a>, 4, <a id="change">1</a>, 1<a id="change">)</a>)
        out<a id="change"> = </a>self.conv_final(out)

        return (out, )
</code></pre>