<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 prepare precomputed causal mask

        causal_mask = self.causal_mask[<a id="change">:n</a>]
        causal_mask = repeat(causal_mask, &quoti j -&gt; b i j&quot, b = b * h)

        &#47&#47 compute keys and values</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 causal mask

        i, j = sim.shape[-2:]
        causal_mask = <a id="change">self</a>.causal_mask[<a id="change">:</a>i, :j]
        causal_mask = repeat(causal_mask, &quoti j -&gt; b i j&quot, b = b * h)

        sim = sim.masked_fill(causal_mask, -torch.finfo(sim.dtype).max)</code></pre>