<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            resyn_audio = torch.cat([self.output_cache.to(audio.device), resyn_audio], dim=-1)
            if resyn_audio.shape[-1] &gt; orig_len:
                resyn_audio = resyn_audio[:, :orig_len]
                self.output_cache = resyn_audio[<a id="change">orig_len:</a>]
            return resyn_audio</code></pre><h3>After Change</h3><pre><code class='java'>
            &#47&#47 output cache (delay)
            resyn_audio = torch.cat([self.output_cache.to(audio.device), resyn_audio], dim=-1)
            if resyn_audio.shape[-1] &gt; orig_len:
                self.output_cache = <a id="change">resyn_audio</a>[:, <a id="change">orig_len</a>:]
                resyn_audio = resyn_audio[:, :orig_len]
            return resyn_audio</code></pre>