<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.patch_size = patch_size

        &#47&#47 Number of blocks at each level
        self.num_blocks = 4**<a id="change">(np.arange(num_levels)[::-1])</a>
        assert (img_size // patch_size) % np.sqrt(self.num_blocks[0]) == 0, \
                    &quotFirst level blocks don\&quott fit evenly. Check `img_size`, `patch_size`, and `num_levels`&quot

        &#47&#47 Block edge size in units of patches</code></pre><h3>After Change</h3><pre><code class='java'>
            self.feature_info += [dict(num_chs=dim, reduction=curr_stride, module=f&quotlevels.{i}&quot)]
            prev_dim = dim
            curr_stride *= 2
        self.levels = <a id="change">nn.Sequential(</a>*<a id="change">levels)</a>

        &#47&#47 Final normalization layer
        self.norm = norm_layer(embed_dims[-1])
</code></pre>