<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            logit = logit - logit.mean(1, keepdim=True)
            logit = logit / logit.std(1, keepdim=True)

            meanLogit<a id="change"> = </a><a id="change">logit.detach()</a>.mean(1)

            &#47&#47 [n, k], 3σ rule
            bernoulli = Bernoulli(logits=meanLogit - 3.0)</code></pre><h3>After Change</h3><pre><code class='java'>
            quantizeds.append(deTransformed)
            codes.append(sample.argmax(-1).reshape(n, h, w))
            logits.append(logit.reshape(n, h, w, -1))
        <a id="change">return </a>quantizeds<a id="change">, codes, logits, xs</a>
</code></pre>