<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = self.c12(x)
        x = self.c13(x)

        <a id="change">return </a>self.out(x)
</code></pre><h3>After Change</h3><pre><code class='java'>

        a4_ = self.A4_(a3_dwn)
        &#47&#47 a4_ = F.dropout(a4_, p=0.2)
        a4_dwn = <a id="change">F.max_pool2d(</a>a4_<a id="change">, kernel_size=2, stride=2)</a>

        a_mid = self.A_mid(a4_dwn)

        a4_up = self.A4_up(a_mid)
        _a4 = self._A4(UNet.match_and_concat(a4_, a4_up))
        &#47&#47 _a4 = F.dropout(_a4, p=0.2)

        a3_up = self.A3_up(_a4)
        _a3 = self._A3(UNet.match_and_concat(a3_, a3_up))

        a2_up = self.A2_up(_a3)
        _a2 = self._A2(UNet.match_and_concat(a2_, a2_up))
        &#47&#47 _a2 = F.dropout(_a2, p=0.2)

        a1_up<a id="change"> = </a>self.A1_up(_a2)
        _a1<a id="change"> = </a>self._A1(UNet.match_and_concat(a1_, a1_up))

        final<a id="change"> = </a>self.final(_a1)
        <a id="change">return </a>final

    @staticmethod
    def match_and_concat(bypass, upsampled, crop=True):</code></pre>