<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        last_output = torch.zeros((batch_size, self.d_output), device=device)

        if timespans is None:
            timespans = x.new_ones(x.shape[:-1]+(1<a id="change"></a>,)) / x.shape[1]

        for t in range(seq_len):
            inputs = x[:, t]</code></pre><h3>After Change</h3><pre><code class='java'>
    &#47&#47 def forward(self, x, state=None,lengths=None,timespans=None):
    def forward(self, u, state=None, rate=1.0, lengths=None, **kwargs):
        if state is not None:
            <a id="change">print("state is not None -&gt; breakpoint"</a><a id="change">)</a>
            breakpoint()
        &#47&#47 if lengths is not None:
        &#47&#47     print("lengths is not None -&gt; breakpoint")
        &#47&#47     breakpoint()</code></pre>