<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x_, attention_maps = attention_layer(x)
        print(x.shape, x_.shape)
        
        b, n, _, h = *x.shape<a id="change">, self.heads</a>
        qkv = self.to_qkv(x).chunk(3, dim=-1)
        q, k, v = map(lambda t: rearrange(t, &quotb n (h d) -&gt; b h n d&quot, h=h), qkv)

        dots = einsum(&quotb h i d, b h j d -&gt; b h i j&quot, q, k) * self.scale</code></pre><h3>After Change</h3><pre><code class='java'>
            q = q + pos_embeddings
            k = k + pos_embeddings
            if self.AddPosEmb2Value:
                <a id="change">print(&quotadd pos_embeddings to v&quot</a><a id="change">)</a>
                v = v + pos_embeddings

        &#47&#47 self attention
        attn_q, attn_map = self.Attention(q, k, v)  &#47&#47 attn_q has same shape with q</code></pre>