<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        @type index: C{int} or C{slice} or (C{list} of C{int})
        @raise IndexError: If the specified child does not exist.
        
        <a id="change">_chktype("AbstractTree.__getitem__"</a>,
                 <a id="change">1</a>, index, (_IntType<a id="change">, _SliceType, _TupleType</a>)<a id="change">)</a>
        if type(index) == _IntType:
            return self._children[index]
        elif type(index) == _SliceType:
            return self._children[index.start:index.stop]</code></pre><h3>After Change</h3><pre><code class='java'>
        @type index: C{int} or C{slice} or (C{list} of C{int})
        @raise IndexError: If the specified child does not exist.
        
        <a id="change">assert </a>_chktype(1, index, types.IntType,
                        types.SliceType, types.TupleType)
        if type(index) == types.IntType:
            return self._children[index]</code></pre>