<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                self[cond].inc(sample)

    def __reduce__(self):
        cond_samples<a id="change"> = </a><a id="change">[]</a>
        for condition in self.conditions():
            cond_samples.extend([(condition, sample)
                                 for sample in self[condition].samples()])
        return (self.__class__, (cond_samples,))</code></pre><h3>After Change</h3><pre><code class='java'>

    def __reduce__(self):
        kv_pairs = [(cond, self[cond]) for cond in self.conditions()]
        return (self.__class__, <a id="change">()</a>, None, None, iter(kv_pairs))

    def conditions(self):
        </code></pre>