<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.lsm = nn.LogSoftmax(dim=1)
        self.head = nn.Linear(input_dim, output_dim, bias=False)
        self.tail<a id="change"> = nn</a><a id="change">.ModuleList()</a>

        extra_denom = 1 if half_size else 0

        <a id="change">for </a><a id="change">i</a> in <a id="change">range(len(cutoff</a><a id="change">)</a><a id="change"> - 1</a><a id="change">):
            </a><a id="change">self.tail.append(
                nn</a><a id="change">.Sequential(
                    nn</a><a id="change">.Linear(input_dim</a>, <a id="change">input_dim</a><a id="change"> // 4</a><a id="change"> ** </a>(<a id="change">i</a><a id="change"> + extra_denom</a>)<a id="change">, bias=False)</a>,
                    <a id="change">nn.Dropout(</a>dropout<a id="change">)</a>,
                    <a id="change">nn.Linear(input_dim</a><a id="change"> // 4</a><a id="change"> ** </a>(<a id="change">i</a><a id="change"> + extra_denom</a>), <a id="change">cutoff[i + 1]</a><a id="change"> - cutoff[i], bias=False)</a><a id="change">
                )
            )</a>

        def init_weights(m):
            if hasattr(m, &quotweight&quot):
                nn.init.xavier_uniform_(m.weight)</code></pre><h3>After Change</h3><pre><code class='java'>

        self.lsm = nn.LogSoftmax(dim=1)
        self.head = nn.Linear(input_dim, output_dim, bias=False)
        <a id="change">self._make_tail(</a>True<a id="change">)</a>

        def init_weights(m):
            if hasattr(m, &quotweight&quot):
                nn.init.xavier_uniform_(m.weight)</code></pre>