<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.conv_block3 = nn.Conv2d(64, 3, (9, 9), (1, 1), (4, 4))

        &#47&#47 Initialize neural network weights
        <a id="change">self._initialize_weights()</a>

    def forward(self, x: torch.Tensor) -&gt; torch.Tensor:
        return self._forward_impl(x)
</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Reconnect a layer of convolution block after upsampling.
        self.conv3 = nn.Sequential(
            <a id="change">nn.Conv2d(</a>64, 64, (3, 3), (1, 1), (1, 1)<a id="change">)</a>,
            nn.LeakyReLU(0.2, True)
        )

        &#47&#47 Output layer.
        self.conv4 = <a id="change">nn.Conv2d(</a>64, 3, (3, 3), (1, 1), (1, 1)<a id="change">)</a>

    &#47&#47 The model should be defined in the Torch.script method.
    def _forward_impl(self, x: torch.Tensor) -&gt; torch.Tensor:
        out1 = self.conv1(x)</code></pre>