<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )

        if init_weights:
            <a id="change">self._initialize_weights()</a>

    def _initialize_weights(self):
        for m in self.modules():
            classname = m.__class__.__name__</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.LeakyReLU(negative_slope=0.2, inplace=True),

            nn.AdaptiveAvgPool2d(1),
            <a id="change">nn.Conv2d(</a>512, 1024<a id="change">, kernel_size=1)</a>,
            nn.LeakyReLU(0.2),
            <a id="change">nn.Conv2d(</a>1024, 1<a id="change">, kernel_size=1)</a>
        )

    def forward(self, input: Tensor) -&gt; Tensor:
        out = self.main(input)</code></pre>