<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.rewards = []

    def forward(self, input):
        x = <a id="change">F.relu(</a><a id="change">self.fc1(</a>input<a id="change">))</a>
        x = F.relu(<a id="change">self.fc2(</a>x<a id="change">)</a>)
        x = self.fc3(x)
        return F.softmax(x, 1)
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.log_probs = []

    def forward(self, input):
        x = <a id="change">self.fc1(</a>input<a id="change">)</a>
        x = <a id="change">F.relu(</a>x<a id="change">)</a>
        x = <a id="change">self.fc2(</a>x<a id="change">)</a>
        x = F.relu(x)
        x = self.fc3(x)
        return F.softmax(x, 1)
</code></pre>