<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 We use the same vector as both a query and a key.
        assert int(buckets.shape[1]) == self.n_hashes * seqlen

        ticker = <a id="change">torch.arange(self.n_hashes * seqlen, device=device).unsqueeze(0).expand_as(</a>buckets<a id="change">)</a>
        buckets_and_t = seqlen * buckets + (ticker % seqlen)
        buckets_and_t = buckets_and_t.detach()

        &#47&#47 Hash-based sort ("s" at the start of variable names means "sorted")</code></pre><h3>After Change</h3><pre><code class='java'>

        total_hashes = self.n_hashes + self.n_local_attn_hashes

        ticker = <a id="change">torch.arange(total_hashes * seqlen, device=device).unsqueeze(0</a><a id="change">)</a>.expand_as(buckets)
        buckets_and_t = seqlen * buckets + (ticker % seqlen)
        buckets_and_t = buckets_and_t.detach()
</code></pre>