<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for row in grid:
            if len(row) != len(grid[0]):
                raise ValueError(&quotInconsistent number of columns&quot)
        return <a id="change">[</a>grid<a id="change"></a>]

    &#47&#47/////////////////////////////////////////////////////////////////
    &#47&#47 Transforms</code></pre><h3>After Change</h3><pre><code class='java'>

    def _read_grid_block(self, stream):
        grids = []
        <a id="change">for block</a> in read_blankline_block(stream)<a id="change">:
            </a>block<a id="change"> = </a>block.strip()
            <a id="change">if </a>not block<a id="change">: </a>continue
            
            grid = [line.split() for line in block.split(&quot\n&quot)]
            </code></pre>