<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.locality_strength = locality_strength
        self.gating_param = nn.Parameter(torch.ones(self.num_heads))
        self.apply(self._init_weights)
        <a id="change">if </a>use_local_init<a id="change">:
            </a>self.local_init(locality_strength=locality_strength)

    def _init_weights(self, m):
        if isinstance(m, nn.Linear):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.proj_drop = nn.Dropout(proj_drop)
        self.locality_strength = locality_strength
        self.gating_param = nn.Parameter(torch.ones(self.num_heads))
        self.rel_indices: torch.Tensor = <a id="change">torch.zeros(</a>1, <a id="change">1</a>, 1, <a id="change">3</a><a id="change">)</a>  &#47&#47 silly torchscript hack, won&quott work with None

    def forward(self, x):
        B, N, C = x.shape</code></pre>