<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                pool_method=&quotmax_pool&quot
            )
            c_in += sum([x[-1] for x in mlps])
        if <a id="change">self.model_cfg[&quotadd_ego_mask_feature&quot]</a>:
            c_in += 1
        self.vsa_point_feature_fusion = nn.Sequential(
            nn.Linear(c_in, self.model_cfg[&quotnum_out_features&quot], bias=False),</code></pre><h3>After Change</h3><pre><code class='java'>
            if src_name in [&quotbev&quot, &quotraw_points&quot]:
                continue
            self.downsample_times_map[src_name] = SA_cfg[src_name][&quotdownsample_factor&quot]
            mlps = <a id="change">copy.copy(</a>SA_cfg[src_name][&quotmlps&quot]<a id="change">)</a>
            for k in range(len(mlps)):
                mlps[k] = [mlps[k][0]] + mlps[k]
            cur_layer = pointnet2_stack_modules.StackSAModuleMSG(
                radii=SA_cfg[src_name][&quotpool_radius&quot],</code></pre>