<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

            &#47&#47 cross attention

            x<a id="change"> = </a><a id="change">rearrange(</a>x, <a id="change">&quotb i j d -&gt; b (i j) d&quot</a><a id="change">)</a>

            m = msa_cross_attn(
                m,
                mask = msa_mask,</code></pre><h3>After Change</h3><pre><code class='java'>

        m = self.token_emb(msa)
        m += self.msa_pos_emb(torch.arange(msa.shape[-1], device = device))[None, None, ...]
        m += <a id="change">self.msa_num_pos_emb(torch.arange(msa.shape[1], device = device))[None, :, None, :]</a>

        m = rearrange(m, &quotb m n d -&gt; b (m n) d&quot)

        if exists(msa_mask):</code></pre>