<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = self.final_conv(self.blocks(x))
        x = self.final_linear(x.view(x.shape[0], -1))
             
        <a id="change">return </a>x.squeeze()
</code></pre><h3>After Change</h3><pre><code class='java'>
        batch, channel, height, width = out.shape

        group = min(batch, self.stddev_group)
        stddev = <a id="change">out.view(
            </a>group, <a id="change">-1</a>, self.stddev_feat, channel // self.stddev_feat, height, width<a id="change">
        )</a>
        stddev<a id="change"> = </a>torch.sqrt(stddev.var(0, unbiased=False)<a id="change"> + </a>1e-8)
        stddev<a id="change"> = </a>stddev.mean([2, 3, 4], keepdims=True).squeeze(2)
        stddev = stddev.repeat(group, 1, height, width)
        out = torch.cat([out, stddev], 1)
        
        out<a id="change"> = </a>self.final_conv(out)
        out = out.view(out.shape[0], -1)
        out<a id="change"> = </a>self.final_linear(out)
             
        <a id="change">return </a>out.squeeze()
</code></pre>