<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def __init__(self, input_size: int, attention_size: int) -&gt; None:
        super().__init__()
        self.weight = <a id="change">nn.Parameter(</a><a id="change">torch.ones(</a>(attention_size, input_size)<a id="change">)</a>, True<a id="change">)</a>
        nn.init.kaiming_uniform_(self.weight, a=math.sqrt(5))

    def forward(self, x: torch.Tensor) -&gt; torch.Tensor:
        del x</code></pre><h3>After Change</h3><pre><code class='java'>
        self.weights = torch.nn.ParameterList(
            [
                torch.nn.Parameter(weight)
                for weight in torch.Tensor(100, 300).split(<a id="change">[</a>100, 200<a id="change"></a>], dim=1)
            ]
        )
</code></pre>