<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 axial attention

        out<a id="change"> = </a>0

        if self.col_attn:
            w_x = rearrange(x, &quotb h w d -&gt; (b w) h d&quot)
            if exists(attn_bias):
                attn_bias = repeat(attn_bias, &quotb h i j -&gt; (b x) h i j&quot, x = w)

            tie_dim = w if self.global_query_attn else None
            w_out<a id="change"> = </a>self.attn(w_x, mask = w_mask, attn_bias = attn_bias, tie_dim = tie_dim)
            w_out = <a id="change">rearrange(</a>w_out, <a id="change">&quot(b w) h d -&gt; b h w d&quot</a><a id="change">, h = h, w = w)</a>

            out<a id="change"> += </a>w_out

        if self.row_attn:
            h_x = rearrange(x, &quotb h w d -&gt; (b h) w d&quot)</code></pre><h3>After Change</h3><pre><code class='java'>

        x = rearrange(x, input_fold_eq)

        <a id="change">if exists(</a>mask<a id="change">)</a><a id="change">:
            </a>mask<a id="change"> = </a>rearrange(mask, mask_fold_axial_eq)

        attn_bias = None
        if exists(self.edges_to_attn_bias) and exists(edges):</code></pre>