<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 delay in the masking stage.
        if not self.pad_specf:
            spec = self.pad_spec(spec)
        m<a id="change"> = </a>self.pad_out(<a id="change">m.unsqueeze(-1</a><a id="change">)</a>).squeeze(-1)
        spec = self.mask(spec, m)

        if self.run_df:</code></pre><h3>After Change</h3><pre><code class='java'>
        spec = self.mask(spec, m)
        df_coefs, df_alpha = self.df_dec(emb, c0)

        <a id="change">for </a>_ in <a id="change">range(</a>self.df_iter<a id="change">)</a><a id="change">:
            </a>if self.use_alpha:
                spec = self.df_op(spec, df_coefs, df_alpha)
            else:
                spec = self.df_op(spec, df_coefs)</code></pre>