<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def _read_block(self, stream):
        out = []
        &#47&#47 Skip any preamble.
        <a id="change">for line</a> in stream<a id="change">:
            </a>if line.strip() == &quot&lt;DOC&gt;&quot: break
        &#47&#47 Read the document
        out.append(line)
        for line in stream:
            <a id="change">out.append(</a>line<a id="change">)</a>
            if line.strip() == &quot&lt;/DOC&gt;&quot: break
        &#47&#47 Return the document
        return [&quot\n&quot.join(out)]
</code></pre><h3>After Change</h3><pre><code class='java'>
        while True:
            line = stream.readline()
            if not line: break
            <a id="change">out.append(</a>line<a id="change">)</a>
            if line.strip() == &quot&lt;/DOC&gt;&quot: break
        &#47&#47 Return the document
        return [&quot\n&quot.join(out)]
</code></pre>