<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>


                &#47&#47 compute the result of appending each tag to this history
                <a id="change">for </a>(tag, <a id="change">logprob</a>) in logprobs<a id="change">:
                    </a><a id="change">new_states.append(</a>(history + [tag],
                                       curr_sent_logprob + logprob)<a id="change">)</a>



</code></pre><h3>After Change</h3><pre><code class='java'>
                    p2 = log(p, 2) + log(p_wd, 2)

                    &#47&#47 compute the result of appending each tag to this history
                    <a id="change">new_states.append(</a>(history + [tC],
                                       curr_sent_logprob + p2)<a id="change">)</a>

        &#47&#47 otherwise a new word, set of possible tags is unknown
        else:
            self.unknown += 1</code></pre>