<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            columns_str, gloss = data_file_line.split(&quot|&quot)
            gloss = gloss.strip()
            definitions = []
            <a id="change">for gloss_part</a> in gloss.split(&quot;&quot)<a id="change">:
                </a>gloss_part = gloss_part.strip()
                if gloss_part.startswith(&quot"&quot):
                    <a id="change">synset._examples.append(</a>gloss_part.strip(&quot"&quot)<a id="change">)</a>
                else:
                    definitions.append(gloss_part)
            synset._definition = &quot; &quot.join(definitions)
</code></pre><h3>After Change</h3><pre><code class='java'>
            definition = re.sub(r"[\"].*?[\"]", "", gloss).strip()
            examples = re.findall(r&quot"([^"]*)"&quot, gloss)
            for example in examples:
                <a id="change">synset._examples.append(</a>example<a id="change">)</a>

            synset._definition = definition

            &#47&#47 split the other info into fields</code></pre>