<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        return nn.Sequential(*model)

    def forward(self, input):
        <a id="change">return </a>self.model(input)</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, input):
        dist_inputs = self.model(input)
        if self.dist == &quotnormal&quot:
            <a id="change">return </a>td.independent.Independent(<a id="change">td.Normal(</a>dist_inputs, 1<a id="change">)</a>, len(self._output_shape))
        if self.dist == &quotbinary&quot:
            return td.independent.Independent(td.Bernoulli(logits=dist_inputs), len(self._output_shape))
        if self.dist == None:</code></pre>