<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 build activation layer
        if self.with_activation:
            &#47&#47 TODO: introduce `act_cfg` and supports more activation layers
            <a id="change">if self.activation</a><a id="change"> not in [&quotrelu&quot]:
                </a><a id="change">raise ValueError(&quot{} is currently not supported.&quot.format(
                    self.activation</a><a id="change">)</a><a id="change">)</a>
            if self.activation == &quotrelu&quot:
                self.activate<a id="change"> = </a>nn.ReLU(inplace=inplace)

        &#47&#47 Use msra init by default
        self.init_weights()</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 build activation layer
        if self.with_activation:
            act_cfg_<a id="change"> = </a><a id="change">act_cfg.copy()</a>
            act_cfg_.setdefault(&quotinplace&quot, inplace)
            self.activate<a id="change"> = </a>build_activation_layer(act_cfg_)

        &#47&#47 Use msra init by default
        self.init_weights()</code></pre>