<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = self.backbone(x)
        x = self.neck(x)
        x = self.detect(x)
        <a id="change">return </a>x

    def _apply(self, fn):
        self = super()._apply(fn)</code></pre><h3>After Change</h3><pre><code class='java'>
        x = self.backbone(x)
        x = self.neck(x)
        if export_mode == False:
            featmaps<a id="change"> = </a>[]
            <a id="change">featmaps.extend(</a>x<a id="change">)</a>
        x = self.detect(x)
        return x if export_mode is True else [x, featmaps]

    def _apply(self, fn):</code></pre>