<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if c1 != c2:
            self.conv = Conv(c1, c2)
        self.linear = nn.Linear(c2, c2)  &#47&#47 learnable position embedding
        self.tr = nn.Sequential(*<a id="change">[TransformerLayer(c2, num_heads) for _ in range(num_layers)]</a>)
        self.c2 = c2

    def forward(self, x):</code></pre><h3>After Change</h3><pre><code class='java'>
        if c1 != c2:
            self.conv = Conv(c1, c2)
        self.linear = nn.Linear(c2, c2)  &#47&#47 learnable position embedding
        self.tr = nn.Sequential(*<a id="change">(TransformerLayer(c2, num_heads) for _ in range(num_layers))</a>)
        self.c2 = c2

    def forward(self, x):</code></pre>