<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    Cross-Domain Instance Matching. arXiv:1711.08106.
    
    def __init__(self, num_classes=0, loss={&quotxent&quot}, **kwargs):
        <a id="change">super(ResNet50M, self).__init__()</a>
        self.loss = loss
        resnet50 = torchvision.models.resnet50(pretrained=True)
        base = nn.Sequential(*list(resnet50.children())[:-2])
        self.layers1 = nn.Sequential(base[0], base[1], base[2])</code></pre><h3>After Change</h3><pre><code class='java'>
                 fc_dims=None,
                 **kwargs):
        self.inplanes = 64
        <a id="change">super(ResNet, self).__init__()</a>
        self.loss = loss
        self.feature_dim = 512 * block.expansion
        
        &#47&#47 backbone network</code></pre>