<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class MixedOp(nn.Module):

    def __init__(self, c, stride, use_transpose=False):
        <a id="change">super(MixedOp, self).__init__()</a>
        self._ops = nn.ModuleList()
        if stride &gt;= 2: &#47&#47 down or up edge
            primitives = CellLinkUpPos if use_transpose else CellLinkDownPos
            self._op_type = &quotup_or_down&quot</code></pre><h3>After Change</h3><pre><code class='java'>
        &quot&quot&quot
        c_node: in_channels == out_channels for MixedOp
        &quot&quot&quot
        <a id="change">super().__init__()</a>
        self._ops = nn.ModuleList()
        if stride &gt;= 2: &#47&#47 down or up edge
            primitives = UpOps if use_transpose else DownOps
            self._op_type = &quotup_or_down&quot</code></pre>