<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(Generator, self).__init__()
        self.z_dim = z_dim
        self.device=device
        self.fc1 = <a id="change">nn.Linear(</a>z_dim, hidden_dim<a id="change">, bias = False)</a>
        self.bn1 = <a id="change">nn.BatchNorm1d(</a>hidden_dim<a id="change">, affine = False, eps=1e-6, momentum = 0.5)</a>
        self.fc2 = nn.Linear(hidden_dim, hidden_dim, bias = False)
        self.bn2 = nn.BatchNorm1d(hidden_dim, affine = False, eps=1e-6, momentum = 0.5)
        self.fc3 = LinearWeightNorm(hidden_dim, input_dim, weight_scale = 1)
        self.bn1_b = Parameter(torch.zeros(hidden_dim))</code></pre><h3>After Change</h3><pre><code class='java'>
                in_dim=z_dim
            else:
                in_dim=hidden_dim[_-1]
            out_dim=<a id="change">hidden_dim[_]</a>
            fc=nn.Linear(in_dim, out_dim, bias=False)
            nn.init.xavier_uniform(fc.weight)
            self.layers.append(fc)
            self.bn_layers.append(nn.BatchNorm1d(out_dim, affine = False, eps=1e-6, momentum = 0.5))</code></pre>