<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        state_action = t.cat([all_states, action], dim=1)
        q = t.relu(self.fc1(state_action))
        q = t.relu(self.fc2(q))
        q = <a id="change">self.fc3(</a>q<a id="change">)</a>
        return q
    

if __name__ == "__main__":</code></pre><h3>After Change</h3><pre><code class='java'>
        state_action = t.cat([all_states, action], dim=1)
        q = t.relu(self.fc1(state_action))
        q = t.relu(self.fc2(q))
        q = t.relu(<a id="change">self.fc3(</a>q<a id="change">)</a>)
        q<a id="change"> = </a>self.fc4(q)
        return q
    
</code></pre>