<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    try:
        import sklearn
    except ImportError as e:
        <a id="change">raise SkipTest("scikit-learn is not installed") from </a>e


if __name__ == "__main__":</code></pre><h3>After Change</h3><pre><code class='java'>
    try:
        import sklearn
    except ImportError:
        <a id="change">pytest.skip("scikit-learn is not installed"</a><a id="change">)</a>


if __name__ == "__main__":
    from nltk.classify.util import names_demo, names_demo_features</code></pre>