<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    except ImportError as e:
        from nose import SkipTest

        <a id="change">raise SkipTest("tkinter is required, but it&quots not available.") from </a>e

    expressions = [
        r"x",</code></pre><h3>After Change</h3><pre><code class='java'>
    except ImportError as e:
        import pytest

        <a id="change">pytest.skip("tkinter is required, but it&quots not available."</a><a id="change">)</a>

    expressions = [
        r"x",
        r"([],[])",</code></pre>