<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.n_agents = self.custom_config["num_agents"]

        encoder_layer_dim = []
        <a id="change">for </a>i in range(self.custom_config["model_arch_args"]["fc_layer"])<a id="change">:
            </a>out_dim = self.custom_config["model_arch_args"]["out_dim_fc_{}".format(i)]
            encoder_layer_dim.append(out_dim)

        self.encoder_layer_dim = encoder_layer_dim</code></pre><h3>After Change</h3><pre><code class='java'>
        nn.Module.__init__(self)

        &#47&#47 decide the model arch
        <a id="change">self.custom_config</a> = model_config["custom_model_config"]
        self.full_obs_space = getattr(obs_space, "original_space", obs_space)
        self.n_agents = self.custom_config["num_agents"]

        <a id="change">if "encode_layer" in self.custom_config["model_arch_args"]</a><a id="change">:
            </a>encode_layer = <a id="change">self.custom_config["model_arch_args"]["encode_layer"]</a>
            encoder_layer_dim<a id="change"> = </a>encode_layer.split("-")
            encoder_layer_dim<a id="change"> = </a>[int(i) for i in encoder_layer_dim]
        else:  &#47&#47 default config
            encoder_layer_dim = []
            <a id="change">for </a>i in range(self.custom_config["model_arch_args"]["fc_layer"])<a id="change">:
                </a>out_dim = self.custom_config["model_arch_args"]["out_dim_fc_{}".format(i)]
                encoder_layer_dim.append(out_dim)

        self.encoder_layer_dim = encoder_layer_dim</code></pre>