<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self,x):
        out = self.dnn(x)
        <a id="change">return </a>out 


class task_generator(object):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self,x):
        feature_vector = self.encoder(x)
        ae_output<a id="change"> = </a><a id="change">self.decoder(</a>feature_vector<a id="change">)</a>
        cl_output<a id="change"> = </a>self.classifier(feature_vector) 
        <a id="change">return </a>ae_output<a id="change">, cl_output</a>


class task_generator(object):
    def __init__(self, data_name, data_path, label_name, saved = False):</code></pre>