<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        self.mlp = GPT2MLP(inner_dim, config)
        adapter_dict = {}
        <a id="change">if </a>self.use_adapters<a id="change">:
            </a>for key, value in self.domain_dict:
                adapter_dict[key] = Adapter(config)
        self.adapter_dict = adapter_dict
</code></pre><h3>After Change</h3><pre><code class='java'>
                adapter_list.append(Adapter(config))
            self.adapter_module = nn.ModuleList(adapter_list)

            <a id="change">logger.info(f"I was given a tree with {len(self.domain_dict.keys())} nodes and I initialized {len(adapter_list)} adapters!"</a><a id="change">)</a>

    def forward(
        self,
        hidden_states,</code></pre>