<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.Softmax(dim=-1)
        )

        <a id="change">return </a>model(x)

policy_registry = {
    &quotMlpPolicy&quot: MlpPolicy</code></pre><h3>After Change</h3><pre><code class='java'>
        self.loss_hist = Variable(torch.Tensor())

    def forward(self, x):
        x = <a id="change">nn.ReLU()(</a>self.fc1(x)<a id="change">)</a>
        x<a id="change"> = </a>nn.ReLU()(self.fc2(x))
        y<a id="change"> = </a>self.fc3(x)

        if isinstance(self.env.action_space,gym.spaces.Box):
            mean = y</code></pre>