<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        from time import time

        if not jacobian:
            <a id="change">assert</a>(derivative == 1)

        size = pos.shape
        assert size[1] == self.nelec * self.ndim</code></pre><h3>After Change</h3><pre><code class='java'>

            dr = self.extract_tri_up(self.edist(
                pos, derivative=1)).view(nbatch, 3, -1)
            d2r<a id="change"> = </a>self.extract_tri_up(self.edist(
                pos, derivative=2)).view(nbatch, 3, -1)

            <a id="change">return</a>(jast.prod(1).view(nbatch, 1)<a id="change">,
                   self._jastrow_derivative(r, dr, jast, jacobian),
                   self._jastrow_second_derivative(r, dr, d2r, jast)</a>)

    def _jastrow_derivative(self, r, dr, jast, jacobian):
        Compute the value of the derivative of the Jastrow factor</code></pre>