<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Returns:
            output (batch_size, num_features, S, chunk_size)
        
        <a id="change">pass</a>

def _test_global_attentive_block():
    pass
</code></pre><h3>After Change</h3><pre><code class='java'>
        Returns:
            output (batch_size, num_features, S, chunk_size)
        
        x<a id="change"> = </a>input &#47&#47 (T, batch_size, embed_dim)

        residual<a id="change"> = </a>x
        x, _ = self.multihead_attn(x, x, x) &#47&#47 (T_tgt, batch_size, embed_dim), (batch_size, T_tgt, T_src), where T_tgt = T_src = T
        x<a id="change"> = </a>x + residual
        
        if self.norm:
            x<a id="change"> = </a>x.permute(1,2,0) &#47&#47 (batch_size, embed_dim, T)
            x = self.norm1d(x) &#47&#47 (batch_size, embed_dim, T)
            x<a id="change"> = </a>x.permute(2,0,1).contiguous() &#47&#47 (batch_size, embed_dim, T) -&gt; (T, batch_size, embed_dim)
        
        output<a id="change"> = </a>x

        <a id="change">return </a>output

def _test_global_attentive_block():
    pass</code></pre>