<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                output = x.unsqueeze(0)
            else:
                output = torch.cat((output, x.unsqueeze(0)), dim=1)
        <a id="change">return </a>output


class DQN:</code></pre><h3>After Change</h3><pre><code class='java'>
                output = x.unsqueeze(0)
            else:
                output = torch.cat((output, x.unsqueeze(0)), dim=1)
        <a id="change">return </a><a id="change">output.cpu()</a>


class DQN:
    &#47&#47 The class initialisation function.</code></pre>