<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(GraphConvolutionalNetwork, self).__init__()

        if not isinstance(hidden_dims, Sequence):
            <a id="change">hidden_dims</a> = [hidden_dims]
        self.input_dim = input_dim
        self.output_dim = <a id="change">hidden_dims[-1]</a><a id="change"> * </a>(<a id="change">len(</a>hidden_dims<a id="change">) if concat_hidden</a><a id="change"> else </a>1)
        self.dims = [input_dim] + list(hidden_dims)
        self.short_cut = short_cut
        self.concat_hidden = concat_hidden</code></pre><h3>After Change</h3><pre><code class='java'>
        super(GraphConvolutionalNetwork, self).__init__()

        if not isinstance(hidden_dims, Sequence):
            <a id="change">hidden_dims</a> = [hidden_dims]
        self.input_dim = input_dim
        self.output_dim = <a id="change">sum(</a>hidden_dims<a id="change">) if concat_hidden</a><a id="change"> else hidden_dims[-1]</a>
        self.dims = [input_dim] + list(hidden_dims)
        self.short_cut = short_cut
        self.concat_hidden = concat_hidden
</code></pre>