<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                batch, permutation_dim, -1
            )
            combined_embedding = self.combining_function(trial_embeddings, dim=1)
            trial_counts<a id="change"> = </a><a id="change">torch.ones(</a>batch, 1<a id="change">, dtype=torch.float32)</a> * permutation_dim

        &#47&#47 otherwise we need to loop over the batch to account for varying trial lengths
        else:</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 Get number of trials from non-nan entries
        num_batch, max_num_trials = x.shape[0], x.shape[self.aggregation_dim]
        nan_counts = (
            <a id="change">torch.isnan(x)
            .sum(dim=self.aggregation_dim)  &#47&#47 count nans over trial dimension
            .reshape(-1)[:num_batch]</a>  &#47&#47 counts are the same across data dims
            .unsqueeze(-1)  &#47&#47 make it (batch, 1) to match embeddings below
        )
        &#47&#47 number of non-nan trials</code></pre>