<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        shared_network_layers.append(nn.Flatten())
        for ind, layer_spec in enumerate(dense_arch[:-1]):
            in_dim, out_dim = layer_spec.get(&quotin_dim&quot), <a id="change">layer_spec.get(&quotout_dim&quot</a><a id="change">)</a>
            shared_network_layers.append(nn.Linear(in_dim, out_dim))
            shared_network_layers.append(nn.ReLU())

        self.shared_network = nn.Sequential(*shared_network_layers)</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 no ReLU after last layer
        last_layer_spec = dense_arch[-1]
        shared_network_layers.append(
            nn.Linear(last_layer_spec[&quotin_dim&quot], <a id="change">last_layer_spec[&quotout_dim&quot]</a>))

        self.shared_network = nn.Sequential(*shared_network_layers)
</code></pre>