<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        quantize = self.project_out(quantize)

        if need_transpose:
            quantize<a id="change"> = </a><a id="change">rearrange(</a>quantize, <a id="change">&quotb d n -&gt; b n d&quot</a><a id="change">)</a>

        return quantize, embed_ind, loss
</code></pre><h3>After Change</h3><pre><code class='java'>
        need_transpose = not self.channel_last and not self.accept_image_fmap

        if self.accept_image_fmap:
            height<a id="change">, width = </a><a id="change">x.shape[-2:]</a>
            x = rearrange(x, &quotb c h w -&gt; b (h w) c&quot)

        if need_transpose:
            x = rearrange(x, &quotb d n -&gt; b n d&quot)</code></pre>