<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            last_layer = num_neurons
        
        &#47&#47the last layer without activation
        sequential_layers.append(nn.Linear(last_layer, <a id="change">head_layers[-1]</a>))
        last_layer = <a id="change">head_layers[-1]</a>

        head = nn.Sequential(
            *sequential_layers</code></pre><h3>After Change</h3><pre><code class='java'>
        head = nn.Sequential(
            *sequential_layers
          )
        self.resnet18.fc = <a id="change">nn.Identity()</a>
        self.head = head
        self.out = nn.Linear(last_layer, 2)
    </code></pre>