<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(EncoderCNN, self).__init__()
        resnet: models.resnet.ResNet = get_resnet(resnet, pretrained_resnet)
        original_modules: List[nn.Module] = list(resnet.children())[:-1]
        <a id="change">modules</a>: List[Union[nn.Module, nn.Dropout]] = <a id="change">[]</a>  &#47&#47 delete the last fc layer.

        for layer_no, layer in enumerate(original_modules):
            <a id="change">modules.append(</a>layer<a id="change">)</a>
            if layer_no + 1 != len(original_modules):
                <a id="change">modules.append(</a>nn.Dropout(dropout_cnn)<a id="change">)</a>

        self.resnet: nn.Module = nn.Sequential(*modules)
</code></pre><h3>After Change</h3><pre><code class='java'>
    ):
        super(EncoderCNN, self).__init__()

        self.cnn<a id="change">, self.cnn_output_size</a> = get_cnn(
            cnn_model_name=cnn_model_name, pretrained=pretrained_cnn
        )
</code></pre>