<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(BasicBlock, self).__init__()
        self.conv1 = conv3x3(inplanes, planes, stride, dilation)

        <a id="change">norm_layers</a> = <a id="change">[]</a>
        <a id="change">norm_layers.append(</a>build_norm_layer(normalize, planes)<a id="change">)</a>
        <a id="change">norm_layers.append(</a>build_norm_layer(normalize, planes)<a id="change">)</a>
        self.norm_names = ([&quotgn1&quot, &quotgn2&quot] if normalize[&quottype&quot] == &quotGN&quot
                           else [&quotbn1&quot, &quotbn2&quot])
        for name, layer in zip(self.norm_names, norm_layers):
            self.add_module(name, layer)</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 build_norm_layer return: (norm_name, norm_layer)
        self.norm1, norm1 = build_norm_layer(normalize, planes, postfix=1)
        self.norm2<a id="change">, norm2</a> = build_norm_layer(normalize, planes, postfix=2)
        self.add_module(self.norm1, norm1)
        self.add_module(self.norm2, norm2)
</code></pre>