<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        hard = hard.permute(0, 3, 1, 2)

        if self._wvShadow is not None:
            softSample<a id="change"> = </a><a id="change">(logit / temperature).softmax(</a>-1<a id="change">)</a>
            soft<a id="change"> = </a>softSample<a id="change"> @ </a>self._wvShadow(self._codebook)
            soft<a id="change"> = </a>soft.permute(0, 3, 1, 2)
        else:
            soft = hard
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47     soft = hard

        &#47&#47 [n, c, h, w], [n, h, w], [n, h, w, k], [n, c, h, w], [k, c]
        <a id="change">return </a>hard<a id="change">, trueCode, logit</a>


class L2Quantizer(nn.Module):
    def __init__(self, k: int, d: int):</code></pre>