<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		self.apply(self.weights_init)

	def forward(self, content_img_id, style_img_id, class_id):
		batch_size = <a id="change">content_img_id.shape[0]</a>

		content_code = self.content_embedding(content_img_id)
		style_code = self.style_embedding(style_img_id)
		class_code = self.class_embedding(class_id)</code></pre><h3>After Change</h3><pre><code class='java'>

			style_code = style_code + noise

		<a id="change">for block</a> in self.decoder<a id="change">:
			</a>x = <a id="change">block(</a>x, style_code<a id="change">)</a>

		return {
			&quotimg&quot: self.to_rgb(x),
			&quotcontent_code&quot: content_code.reshape(x.shape[0], -1)</code></pre>