<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.forecast_length = forecast_length
        self.share_thetas = share_thetas

        fc_stack = <a id="change">[
            </a><a id="change">nn.BatchNorm1d(</a>backcast_length<a id="change">)</a>,
            nn.Linear(backcast_length, units),
            nn.ReLU(),
            nn.BatchNorm1d(units),
            nn.Dropout(dropout)<a id="change"></a>,
        ]
        for _ in range(num_block_layers - 1):
            fc_stack.extend(</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.ReLU(),
        ]
        for _ in range(num_block_layers - 1):
            fc_stack.extend(<a id="change">[</a>linear(units, units, dropout=dropout), nn.ReLU()<a id="change"></a>])
        self.fc = nn.Sequential(*fc_stack)

        if share_thetas:</code></pre>