<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        )

        linear = <a id="change">[</a>nn.Linear(ndf*8*4*4+b_int_digits+b_dec_digits, 512),
                  <a id="change">nn.BatchNorm1d(</a>512<a id="change">)</a>,
                  nn.ReLU(),
                  nn.Linear(512,1)<a id="change"></a>]
        if use_sigmoid:
            linear += [nn.Sigmoid()]
        self.linear = nn.Sequential(*linear)</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47           nn.Linear(512,1)]

        &#47&#47 linear = [nn.Linear(ndf*8*4*4+b_int_digits+b_dec_digits, 1)]
        linear = <a id="change">[</a>nn.Linear(ndf*8*4*4+1, 1)<a id="change"></a>]
        if use_sigmoid:
            linear += [nn.Sigmoid()]
        self.linear = nn.Sequential(*linear)</code></pre>