<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                channels_group.append(int(round(inplanes * width_mult)))

        if use_se:
            use_ses = [False] * (<a id="change">layers[0]</a> + layers[1]) + \
                [True] * sum(layers[2:])
        else:
            use_ses = [False] * sum(layers[:])</code></pre><h3>After Change</h3><pre><code class='java'>

        layers = [1, 2, 2, 3, 3, 5]
        strides = [1, 2, 2, 2, 1, 2]
        use_ses<a id="change"> = </a>[False, False, True, True, True, True]

        layers = [ceil(element * depth_mult) for element in layers]
        strides = sum([[element] + [1] * (layers[idx] - 1)
                       for idx, element in enumerate(strides)], [])
        if use_se:
            use_ses = sum(<a id="change">[[element] * layers[idx] for idx, element in enumerate(use_ses)]</a>, [])
        else:
            use_ses = [False] * sum(layers[:])
        ts = [1] * layers[0] + [6] * sum(layers[1:])</code></pre>