<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        else:
            prev_features = inputs

        <a id="change">if </a>self.memory_efficient and self.any_requires_grad(prev_features)<a id="change">:
            </a>if torch.jit.is_scripting():
                raise Exception("memory efficient not supported in JIT")

            bottleneck_output = self.call_checkpoint_bottleneck(prev_features)
        else:
            bottleneck_output<a id="change"> = </a>self.bn_function(prev_features)

        new_features = self.conv2(self.relu2(self.norm2(bottleneck_output)))
        if self.drop_rate &gt; 0:</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, inputs: Tensor):
        concat_features = torch.cat(inputs, 1)
        bottleneck_output<a id="change"> = </a>self.conv1(self.relu1(<a id="change">self.norm1(</a>concat_features<a id="change">)</a>))
        new_features = self.conv2(self.relu2(self.norm2(bottleneck_output)))
        
        if self.drop_rate &gt; 0:</code></pre>