<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x):
        embed = self.head(x)
        logits = self.out(embed)
        <a id="change">return </a>logits, embed


</code></pre><h3>After Change</h3><pre><code class='java'>
        self.out = nn.Linear(dims[-1], num_class)

    def forward(self, x):
        features<a id="change"> = </a><a id="change">self.encoder(</a>x<a id="change">)</a>
        embeds = self.head(features)
        logits = self.out(embeds)
        <a id="change">return </a>features<a id="change">, logits, embeds</a>

    &#47&#47 def freeze(self, layer_name):
    &#47&#47     &#47&#47freeze encoder until layer_name
    &#47&#47     check = False</code></pre>