<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if exists(r):
            assert (r % 2) == 1, &quotReceptive kernel size should be odd&quot
            self.padding = r // 2
            self.R = nn.Parameter(<a id="change">torch.randn(</a>dim_k, dim_u, <a id="change">1</a>, r, r<a id="change">)</a>)
        else:
            assert exists(n), &quotYou must specify the total sequence length (h x w)&quot
            self.pos_emb = nn.Parameter(torch.randn(n, n, dim_k, dim_u))</code></pre><h3>After Change</h3><pre><code class='java'>
        self.local_contexts = exists(r)
        if exists(r):
            assert (r % 2) == 1, &quotReceptive kernel size should be odd&quot
            self.pos_conv = nn.Conv3d(dim_u, dim_k, (1<a id="change">, r, r</a>), padding = (0, r // 2, r // 2))
        else:
            assert exists(n), &quotYou must specify the total sequence length (h x w)&quot
            self.pos_emb = nn.Parameter(torch.randn(n, n, dim_k, dim_u))</code></pre>