<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        
        x: B, H*W, C
        
        H<a id="change">, W</a> = self.input_resolution
        B, L, C = x.shape
        assert L == H * W, "input feature has wrong size"
        assert H % 2 == 0 and W % 2 == 0, f"x size ({H}*{W}) are not even."</code></pre><h3>After Change</h3><pre><code class='java'>
        x = x.view(B, H, W, C)

        &#47&#47 padding
        pad_input = <a id="change">(H % 2 == 1) or (W % 2 == 1)</a>
        <a id="change">if </a>pad_input<a id="change">:
            </a>x<a id="change"> = </a>F.pad(x, (0, 0, 0, W % 2, 0, H % 2))

        x0 = x[:, 0::2, 0::2, :]  &#47&#47 B H/2 W/2 C
        x1 = x[:, 1::2, 0::2, :]  &#47&#47 B H/2 W/2 C</code></pre>