<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        o = x
        for block in self.res_blocks:
            res = o
            o = <a id="change">block(</a>o * x_mask if x_mask is not None else o<a id="change">)</a>
            o = o + res
        return o
</code></pre><h3>After Change</h3><pre><code class='java'>
        o = x * x_mask
        for block in self.res_blocks:
            res = o
            o<a id="change"> = </a><a id="change">block(</a>o<a id="change">)</a>
            o = o + res
            if x_mask is not None:
                o = o * x_mask
        return o</code></pre>