<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )

        layers = []
        for resl in <a id="change">list(resl2ch.keys())[::-1]</a>:
            layers += [
                ResBlock(resl2ch[resl], resl2ch[resl//2])
            ]</code></pre><h3>After Change</h3><pre><code class='java'>
            blocks.append(
                DBlock(ichannels, ochannels, block_num_conv)
            )
        <a id="change">blocks.append(</a>MiniBatchStdDev(mbsd_groups)<a id="change">)</a>
        blocks.extend([
            Conv2d(&quotelr&quot, ochannels+1, ochannels, 3, padding=1),
            nn.LeakyReLU(0.2, inplace=True),
            Flatten(),</code></pre>