<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = (x - 0.5) / 0.5
        shape = x.shape
        n, c, h, w = shape
        <a id="change">if c == 1</a><a id="change">:
            </a>x<a id="change"> = </a>x.expand(1, 3, 1, 1)
        hPad = max(0, 32 - h)
        wPad = max(0, 32 - w)
        x = F.pad(x, (0, wPad, 0, hPad))</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x: torch.Tensor) -&gt; List[torch.LongTensor]:
        codes = list()
        latent = self._encoder(x)
        <a id="change">for i</a> in range(self._levels)<a id="change">:
            </a>head = self._heads[i]
            z = head(latent)
            if i &lt; self._levels - 1:
                mapper<a id="change"> = </a>self._mappers[i]
                latent = mapper(latent)
                code = self._quantizers[i](z)
                hard<a id="change"> = </a>self._deQuantizers[i](code)
                latent<a id="change"> = </a>latent - hard
            else:
                code = self._quantizers[i](z)
            codes.append(code)</code></pre>