<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            &#47&#47 here x.shape = (bs,n_vertices, n_features)
        else:
            if not self.pretrained_classification:
                <a id="change">for </a><a id="change">l</a> in self.fc_layers<a id="change">:
                    </a>x<a id="change"> = </a><a id="change">l(</a>x<a id="change">)</a>
        <a id="change">return </a>x
</code></pre><h3>After Change</h3><pre><code class='java'>
        for block in self.reg_blocks:
            x = block(x)
        &#47&#47 return (bs, n_vertices, n_vertices, n_features)
        <a id="change">return </a>x.permute(0,2,3,1)

class Simple_Node_Embedding(nn.Module):
    def __init__(self, original_features_num, num_blocks, in_features,out_features, depth_of_mlp):</code></pre>