<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        if self.use_GPU:
            h = h.cuda()
            c<a id="change"> = </a><a id="change">c.cuda()</a>

        x_list = []
        for i in range(self.iteration):</code></pre><h3>After Change</h3><pre><code class='java'>
            x = F.relu(self.res_conv5(x) + resx)
            x = self.conv(x)

            <a id="change">if self.use_Contrast</a><a id="change">:
                </a>x<a id="change"> = </a>self.mix(fea1 = input, fea2 = x) &#47&#47 input: rain image, x: derained image
            else:
                x = x + input
</code></pre>