<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            if layer_norm:
                self.layers.append(nn.LayerNorm(hidden_features[i]))
            self.layers.append(
                GINConv(hidden_features[i], <a id="change">hidden_features[i + 1]</a>, activation=activation))
        self.linear1 = nn.Linear(hidden_features[-2], hidden_features[-1])
        self.linear2 = nn.Linear(hidden_features[-1], out_features)
</code></pre><h3>After Change</h3><pre><code class='java'>
                                       dropout=dropout))
        self.linear1 = nn.Linear(hidden_features[-2], hidden_features[-1])
        self.linear2 = nn.Linear(hidden_features[-1], out_features)
        <a id="change">if dropout &gt; 0.0</a><a id="change">:
            </a>self.dropout<a id="change"> = </a><a id="change">nn.Dropout(</a>dropout<a id="change">)</a>
        else:
            self.dropout<a id="change"> = </a>None
        self.reset_parameters()

    @property</code></pre>