<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def __init__(self, embedding_bag_collection: EmbeddingBagCollection) -&gt; None:
        super().__init__()
        self.embedding_bag_collection: EmbeddingBagCollection = embedding_bag_collection
        <a id="change">assert </a>self.embedding_bag_collection.embedding_bag_configs, "Embedding bag collection cannot be empty!"
        self.D: int = self.embedding_bag_collection.embedding_bag_configs[0].embedding_dim
        self._sparse_feature_names: List[str] = [
            name for conf in embedding_bag_collection.embedding_bag_configs for name in conf.feature_names</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, embedding_bag_collection: EmbeddingBagCollection) -&gt; None:
        super().__init__()
        self.embedding_bag_collection: EmbeddingBagCollection = embedding_bag_collection
        emb_config<a id="change"> = </a><a id="change">self.embedding_bag_collection.embedding_bag_configs()</a>
        assert emb_config, "Embedding bag collection cannot be empty!"
        self.D: int = emb_config[0].embedding_dim
        self._sparse_feature_names: List[str] = [
            name for conf in embedding_bag_collection.embedding_bag_configs() for name in conf.feature_names</code></pre>