<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.mid_after = blocks(mid_dim, mid_dim)
        self.mid_upsample = Upsample(mid_dim, dims[-2])

        for ind, ((dim_in, dim_out), nested_unet_depth) in enumerate(<a id="change">zip(</a>reversed(in_out[:-1]), reversed(nested_unet_depths[:-1])<a id="change">)</a>):
            is_last = ind &gt;= (num_resolutions - 1)

            self.ups.append(nn.ModuleList([</code></pre><h3>After Change</h3><pre><code class='java'>
            num_blocks_per_stage
        ]

        up_stage_parameters = <a id="change">[reversed(params[:-1]) for params in down_stage_parameters]</a>

        &#47&#47 downs

        for ind, ((dim_in, dim_out), nested_unet_depth, num_blocks) in enumerate(zip(*down_stage_parameters)):</code></pre>