<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 self.sub_mean = common.MeanShift(args.rgb_range, rgb_mean, rgb_std)
        
        &#47&#47 define head module
        head = <a id="change">ConvBlock(</a>num_channels, base_filter, 3, <a id="change">1</a>, 1<a id="change">, activation=&quotrelu&quot, norm=None)</a>

        &#47&#47 define body module
        body = [
            ResidualGroup(base_filter, 3, reduction, act=nn.ReLU(True), res_scale=scale_factor, n_resblocks=n_resblocks) \</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 self.sub_mean = common.MeanShift(args.rgb_range, rgb_mean, rgb_std)
        
        &#47&#47 define head module
        self.head = <a id="change">ConvBlock(</a>num_channels, base_filter, 3, <a id="change">1</a>, 1<a id="change">, activation=&quotrelu&quot, norm=None)</a>

        &#47&#47 define body module
        body = [
            ResidualGroup(base_filter, 3, reduction, act=nn.ReLU(True), res_scale=scale_factor, n_resblocks=n_resblocks) \</code></pre>