<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    ):
        with autocast(enabled = self.amp):
            loss = self.decoder(x, unet_number = unet_number, **kwargs)
        return <a id="change">self.scale(</a>loss<a id="change"> / </a>divisor<a id="change">, unet_number = unet_number)</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
    ):
        with autocast(enabled = self.amp):
            loss = self.decoder(x, unet_number = unet_number, **kwargs)
            scaled_loss = <a id="change">self.scale(</a>loss<a id="change"> / </a>divisor<a id="change">, unet_number = unet_number)</a>
            <a id="change">scaled_loss.backward()</a>
        return loss.item()
</code></pre>