<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if mean_dim is not None:
            loss = loss.mean(dim=mean_dim, keepdim=True)
        
        <a id="change">if </a>len(dims) &gt; 0<a id="change">:
            </a>loss = loss.squeeze(dim=dims)

        if batch_mean:
            loss = loss.mean(dim=0)</code></pre><h3>After Change</h3><pre><code class='java'>

        loss = (input - target)**2

        n_dims = <a id="change">loss.dim()</a>
        dims = (
            n_dims<a id="change"> + </a>dim if dim &lt; 0 else dim for dim in self.reduction_dims
        )
        dims = sorted(dims)[::-1]
</code></pre>