<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        for resnet, resnet2, attn, downsample in self.downs:
            x = resnet(x, t)
            x<a id="change"> = </a>resnet2(x, t)
            x = attn(x)
            <a id="change">h.append(</a>x<a id="change">)</a>
            x<a id="change"> = </a>downsample(x)

        x<a id="change"> = </a>self.mid_block1(x, t)
        x<a id="change"> = </a>self.mid_attn(x)
        x<a id="change"> = </a>self.mid_block2(x, t)

        for resnet, resnet2, attn, upsample in self.ups:
            x = torch.cat((x, h.pop()), dim=1)
            x<a id="change"> = </a>resnet(x, t)
            x<a id="change"> = </a>resnet2(x, t)
            x<a id="change"> = </a>attn(x)
            x<a id="change"> = </a>upsample(x)

        return self.final_conv(x)
</code></pre><h3>After Change</h3><pre><code class='java'>
            if isinstance(layer, ResnetBlock):
                x = layer(x, t)
            else:
                x<a id="change"> = </a>layer(t)
            feats.append(x)

        <a id="change">for layer</a> in self.mid<a id="change">:
            </a>if isinstance(layer, ResnetBlock):
                x<a id="change"> = </a>layer(x, t)
            else:
                x = layer(t)
</code></pre>