<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        :rtype: bool
        
        return (<a id="change">isinstance(</a>other, self.__class__<a id="change">)</a> and
                self._lhs == other._lhs and
                self._rhs == other._rhs)
</code></pre><h3>After Change</h3><pre><code class='java'>

        :rtype: bool
        
        return (<a id="change">type(self) == type(other)</a> and 
                self._lhs == other._lhs and
                self._rhs == other._rhs)
</code></pre>