<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            try:
                root = nltk.data.find(&quotcorpora/%s&quot % zip_name)
            except LookupError:
                <a id="change">raise</a>
                root = nltk.data.find(&quotcorpora/%s&quot % self.__name)
        else:
            try:
                root = nltk.data.find(&quotcorpora/%s&quot % self.__name)</code></pre><h3>After Change</h3><pre><code class='java'>
            try:
                root = nltk.data.find(&quotcorpora/%s&quot % zip_name)
            except LookupError as e:
                <a id="change">try: </a>root = nltk.data.find(&quotcorpora/%s&quot % self.__name)
                <a id="change">except </a>LookupError: <a id="change">raise </a>e
        else:
            try:
                root = nltk.data.find(&quotcorpora/%s&quot % self.__name)</code></pre>