<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    from nose import SkipTest
    tagger = POSTagger(&quot/usr/share/senna-v2.0&quot)
    if not path.isfile(tagger.executable(tagger._path)):
        <a id="change">raise </a>SkipTest("Senna executable expected at /usr/share/senna-v2.0/senna-osx but not found")
</code></pre><h3>After Change</h3><pre><code class='java'>
&#47&#47 skip doctests if Senna is not installed
def setup_module(module):
    from nose import SkipTest
    <a id="change">try:
        </a>tagger = POSTagger(&quot/usr/share/senna-v2.0&quot)
    <a id="change">except </a>ExecutableNotFound:
        <a id="change">raise </a>SkipTest("Senna executable not found")
</code></pre>