<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        _in_channels, _growth_rate = growth_rate[num_encoder_blocks - 1], growth_rate[num_encoder_blocks]
        bottleneck_bins = n_bins

        <a id="change">for </a>idx in range(num_encoder_blocks)<a id="change">:
            </a>bottleneck_bins //= scale[0]

        bottleneck_dense_block = choose_dense_rnn_block(
            rnn_type, rnn_position,</code></pre><h3>After Change</h3><pre><code class='java'>
                _n_bins //= scale[0]
                _n_bins += 1
            else:
                _n_bins //= <a id="change">scale[0]</a>
            n_bins_detail.append(_n_bins)

        if hidden_channels[num_encoder_blocks] &lt;= 0:
            bottleneck_dense_block = DenseBlock(</code></pre>