<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        Returns - None
        
        <a id="change">super().__init__()</a>
        self.filters = filters
        self.respath_length = respath_length
        self.conv2d_bn_1x1 = Conv2d_batchnorm(input_features=input_features, num_of_filters=self.filters,
                                              kernel_size=(1, 1), activation=&quotNone&quot, padding=0)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.length = length
        self.shortcut = conv2d_bn(in_channel, filters, 1, 1, activation=None, padding=&quotsame&quot)
        self.conv = conv2d_bn(in_channel, filters, 3, 3, activation=&quotrelu&quot, padding=&quotsame&quot)
        self.ReLu = <a id="change">nn.ReLU()</a>
        self.batchnorm = nn.BatchNorm1d(num_features=filters)
        if length &gt; 1:
            self.respath = ResPath(filters, filters, length - 1)
</code></pre>