<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
          activation -activation function to be used
        Returns - None
        
        <a id="change">super().__init__()</a>
        self.activation = activation
        self.conv1 = nn.Conv1d(in_channels=input_features, out_channels=num_of_filters, kernel_size=kernel_size,
                               stride=stride, padding=padding)
        self.batchnorm = nn.BatchNorm1d(num_of_filters, affine=False)</code></pre><h3>After Change</h3><pre><code class='java'>
        if activation is None:
            pass
        else:
            self.conv = nn.Sequential(self.conv, <a id="change">nn.ReLU()</a>)

    def forward(self, x):
        x = self.conv(x)</code></pre>