<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.add_module(self.norm_name, norm)

        if self.with_activatation:
            <a id="change">assert </a>activation in [&quotrelu&quot], &quotOnly ReLU supported.&quot
            if self.activation == &quotrelu&quot:
                self.activate = nn.ReLU(inplace=inplace)
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.with_norm = norm_cfg is not None
        self.with_activatation = activation is not None
        &#47&#47 if the conv layer is before a norm layer, bias is unnecessary.
        <a id="change">if bias == &quotauto&quot</a><a id="change">:
            </a>bias = False<a id="change"> if </a>self.with_norm<a id="change"> else </a>True
        self.with_bias = bias

        if self.with_norm and self.with_bias:</code></pre>