<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        out = einsum(&quotb h i j, b h j d -&gt; b h i d&quot, attn, v)

        out<a id="change"> = </a><a id="change">rearrange(</a>out, <a id="change">&quotb h n d -&gt; b n (h d)&quot</a><a id="change">)</a>
        return self.to_out(out)

def FeedForward(dim, mult = 4):
    return nn.Sequential(</code></pre><h3>After Change</h3><pre><code class='java'>
        q = q * self.scale
        sim = einsum(&quotb h i d, b h j d -&gt; b h i j&quot, q, k)

        <a id="change">if </a><a id="change">exists(</a>self.rel_pos_bias<a id="change">):
            </a>sim<a id="change"> = </a>sim<a id="change"> + </a>self.rel_pos_bias(sim)

        attn = sim.softmax(dim = -1, dtype = torch.float32)
</code></pre>