<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.preactivation = preactivation
        self._incremental_n_modes = incremental_n_modes

        <a id="change">assert </a>len(self.layer_configs) == n_layers
        

        if domain_padding is not None and domain_padding &gt; 0:</code></pre><h3>After Change</h3><pre><code class='java'>
        

        self.layer_configs = []
        <a id="change">for </a>l in range(n_layers)<a id="change">:
            </a>l_config = {}
            <a id="change">l_config[&quotout_channels&quot]</a><a id="change"> = </a>uno_layers[&quotout_channels&quot][l]
            l_config[&quotn_modes&quot] = uno_layers[&quotn_modes&quot][l]
            l_config[&quotres_scaling&quot] = uno_layers[&quotres_scaling&quot][l]
            self.layer_configs.append(l_config)</code></pre>