<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        classCounts = self.counts[instance.attrs[index]]
        max, maxClass = 0, None
        classValues = classCounts.keys()
        <a id="change">for classValue</a> in classValues<a id="change">:
            </a>count = classCounts[classValue]
            <a id="change">if count &gt; max</a><a id="change">:
                </a>max<a id="change"> = </a>count
                maxClass = classValue
        return maxClass
                </code></pre><h3>After Change</h3><pre><code class='java'>
        return float(errors)/ total
    
    def klass(self, instance):
        <a id="change">return </a>self.maxCounts[instance.valueAt(self.index)].klassValue
        
            
class MaxKlassCount:</code></pre>