<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.conv_subnet = nn.Sequential(*conv_layers)

        &#47&#47 construct fully connected layers
        input_dim_fc<a id="change"> = </a>out_channels_cnn_2 * (<a id="change">int(</a>input_dim<a id="change"> / </a>out_channels_cnn_2<a id="change">))</a>

        self.fc_subnet = FCEmbedding(
            input_dim=input_dim_fc,
            output_dim=output_dim,</code></pre><h3>After Change</h3><pre><code class='java'>
        assert isinstance(
            input_shape, Tuple
        ), "input_shape must be a Tuple of size 1 or 2, e.g., (width, [height])."
        <a id="change">assert </a>(
            0 &lt; len(input_shape) &lt; 3
        ), input_shape must be a Tuple of size 1 or 2, e.g.,
            (width, [height]). Number of input channels are passed separately</code></pre>