<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.sl_f != 0 and self.sl is not None:
            sl = torch.zeros((), device=clean.device)
            for mss in multi_stage_specs:
                mss = as_complex(<a id="change">mss.squeeze(</a>1<a id="change">)</a>).unsqueeze(1)
                sl += self.sl(input=mss, target=clean[..., : mss.shape[-1]])
            else:
                sl = self.sl(input=enhanced, target=clean)</code></pre><h3>After Change</h3><pre><code class='java'>
                clean_td = self.istft(clean)
                if multi_stage is not None:
                    &#47&#47 leave out erb enhanced
                    multi_stage_td = self.istft(multi_stage[:, <a id="change">1</a>:])

        ml, sl, mrsl, cal = [torch.zeros((), device=clean.device)] * 4
        if self.ml_f != 0 and self.ml is not None:</code></pre>