<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Returns:
            output (batch_size, 1, T)
        
        <a id="change">raise </a><a id="change">NotImplementedError(</a>"Implement forward."<a id="change">)</a>
    
    @property
    def num_parameters(self):
        _num_parameters = 0</code></pre><h3>After Change</h3><pre><code class='java'>
        estimated_sources, sorted_spk_vector = self.extract_latent(mixture, sorted_idx, return_all_layers=return_all_layers, stack_dim=stack_dim)

        if return_spk_vector:
            <a id="change">return </a>estimated_sources<a id="change">, sorted_spk_vector</a>
        
        return estimated_sources

    def extract_latent(self, mixture, sorted_idx, return_all_layers=False, stack_dim=1):</code></pre>