<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()

    def forward(self, x):
        <a id="change">return </a>x
</code></pre><h3>After Change</h3><pre><code class='java'>
    ):
        check_shape(proprio, &quotb d&quot, d = self.proprio_dim)
        check_shape(extero, &quotb n d&quot, n = self.num_legs, d = self.extero_dim)
        <a id="change">check_shape(</a>privileged, <a id="change">&quotb d&quot</a><a id="change">, d = self.privileged_dim)</a>

        latent_extero = self.extero_encoder(extero)
        latent_privileged = self.privileged_encoder(privileged)
</code></pre>