<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            linearInSize = linearInSize * 2

        self.out = nn.Sequential(
            nn.Linear(linearInSize, <a id="change">int(</a>linearInSize<a id="change"> / </a>3<a id="change">)</a>),
            nn.ReLU(),
            nn.Dropout(dropout),
            nn.Linear(int(linearInSize / 3), num_classes)</code></pre><h3>After Change</h3><pre><code class='java'>
        ])

        self.modality_weights = nn.Linear(len(modalities), 1, bias=False)
        self.modality_weights.weight = nn.Parameter(F.softmax(torch.ones(<a id="change">len(</a>modalities<a id="change">)</a>), dim=0))

        &#47&#47 linearInSize = hidden_size
        &#47&#47 if bidirectional:</code></pre>