<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

            if flattened_dim:
                logits = rearrange(logits, &quotb ... n -&gt; b (...) n&quot)
                logits = logits[:, <a id="change">:</a>seq_len]

            return logits
</code></pre><h3>After Change</h3><pre><code class='java'>

            logits = rearrange(logits, &quotb ... n -&gt; b (...) n&quot)

            logits = logits[:, <a id="change">1</a>:(seq_len + 1)] &#47&#47 exclude first start token

            if flattened_dim:
                return logits</code></pre>