<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if self.mode == &quotmean&quot:
            output_gather = output_gather / self.num_groups

        <a id="change">assert </a>output_gather.shape == (x.size(0), self.embedding_dim)
        return output_gather

    @classmethod</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x, offsets=None):
        if offsets is not None:
            x = x + <a id="change">x.new_tensor(offsets).unsqueeze(0</a><a id="change">)</a>

        &#47&#47 Get the quotient index.
        quotient_index = torch.div(x, self.num_buckets, rounding_mode=&quotfloor&quot)
</code></pre>