<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        total_loss = 0
        &#47&#47 predict = F.softmax(predict, dim=1)

        for i in range(<a id="change">target.shape[1]</a>):
            if i != self.ignore_index:
                dice_loss = dice(predict[:, i], target[:, i])
                if self.weight is not None:</code></pre><h3>After Change</h3><pre><code class='java'>
            dice += 2 * (pred[:,i] * target[:,i]).sum(dim=1).sum(dim=1).sum(dim=1) / (pred[:,i].pow(2).sum(dim=1).sum(dim=1).sum(dim=1) +
                                                target[:,i].pow(2).sum(dim=1).sum(dim=1).sum(dim=1) + smooth)
        &#47&#47 返回的是dice距离
        dice<a id="change"> = </a>dice<a id="change"> / </a><a id="change">pred.size(1</a><a id="change">)</a>
        return torch.clamp((1 - dice).mean(), 0, 1)

class ELDiceLoss(nn.Module):
    def __init__(self):</code></pre>