<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        longi_std = self.data_feature.get("longi_std", 0.04988770679679998)
        current_longi = (batch["current_longi"] - longi_mean) / longi_std
        lngs = torch.unsqueeze(current_longi, dim=2)
        lati_mean<a id="change"> = </a><a id="change">self.data_feature.get("lati_mean"</a>, <a id="change">30.652312982784895</a><a id="change">)</a>
        lati_std = self.data_feature.get("lati_std", 0.04988770679679998)
        current_lati = (batch[&quotcurrent_lati&quot]<a id="change"> - </a>lati_mean)<a id="change"> / </a>lati_std
        lats = torch.unsqueeze(current_lati, dim=2)

        states = self.state_em(batch[&quotcurrent_state&quot].long())</code></pre><h3>After Change</h3><pre><code class='java'>
        self.conv = nn.Conv1d(16, self.num_filter, self.kernel_size)

    def forward(self, batch):
        longi_mean, longi_std = <a id="change">self.data_feature["longi_mean"], self.data_feature["longi_std"]</a>
        current_longi = normalize(batch["current_longi"], longi_mean, longi_std)
        lngs = torch.unsqueeze(current_longi, dim=2)
        lati_mean, lati_std = self.data_feature["lati_mean"], self.data_feature["lati_std"]
        current_lati = normalize(batch["current_lati"], lati_mean, lati_std)</code></pre>