<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.assertAlmostEqual(0.85714286, confusion_matrix.fscore(), 8)

    def test_can_classify_data_having_continuous_attributes(self):
        zeror = <a id="change">z.ZeroR(</a>datasetsDir<a id="change">(self) + &quotnumerical&quot + SEP + &quotweather&quot)</a>
        zeror.verify(<a id="change">datasetsDir(self) + &quotnumerical&quot + </a><a id="change">SEP + &quotweather&quot</a>)
        
        
        </code></pre><h3>After Change</h3><pre><code class='java'>
        self.assertAlmostEqual(0.85714286, confusion_matrix.fscore(), 8)

    def test_can_classify_data_having_continuous_attributes(self):
        <a id="change">path</a> = datasetsDir<a id="change">(self) + &quotnumerical&quot + SEP + &quotweather&quot</a>
        zeror<a id="change"> = z.ZeroR(</a><a id="change">format.C45_FORMAT.get_training_instances(</a>path<a id="change">)</a>, <a id="change">format.C45_FORMAT.get_attributes(</a>path<a id="change">)</a>, <a id="change">format.C45_FORMAT.get_klass(</a>path<a id="change">)</a>, format.C45_FORMAT<a id="change">)</a>
        zeror.verify(format.C45_FORMAT.get_gold_instances(path))
        
        
        </code></pre>