<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.assertEqual(None, zeror.test_instances[i].klass_value)
            
    def test_verify_returns_correct_confusion_matrix(self):
        zeror = <a id="change">z.ZeroR(</a>datasetsDir<a id="change">(self) + &quotminigolf&quot + SEP + &quotweather&quot)</a>
        confusion_matrix = zeror.verify(<a id="change">datasetsDir(self) + &quotminigolf&quot + </a><a id="change">SEP + &quotweather&quot</a>)
        self.assertEqual(0.75, confusion_matrix.accuracy())
        self.assertEqual(0.25, confusion_matrix.error())
        self.assertEqual(1, confusion_matrix.tpr())</code></pre><h3>After Change</h3><pre><code class='java'>
            self.assertEqual(None, zeror.test_instances[i].klass_value)
            
    def test_verify_returns_correct_confusion_matrix(self):
        <a id="change">path</a> = datasetsDir<a id="change">(self) + &quotminigolf&quot + SEP + &quotweather&quot</a>
        zeror<a id="change"> = z.ZeroR(</a><a id="change">format.C45_FORMAT.get_training_instances(</a>path<a id="change">)</a>, <a id="change">format.C45_FORMAT.get_attributes(</a>path<a id="change">)</a>, <a id="change">format.C45_FORMAT.get_klass(</a>path<a id="change">)</a>, format.C45_FORMAT<a id="change">)</a>
        confusion_matrix = zeror.verify(format.C45_FORMAT.get_gold_instances(path))
        self.assertEqual(0.75, confusion_matrix.accuracy())
        self.assertEqual(0.25, confusion_matrix.error())
        self.assertEqual(1, confusion_matrix.tpr())</code></pre>