<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x, initial_state):
        w = torch.clamp(self._weights, 0.0, 1.0)
        for i in x.permute(2,0,1):
            <a id="change">print(</a>i<a id="change">)</a>

    &#47&#47 def call(self, inputs: Tensor, initial_state: Tensor):
    &#47&#47     Inputs is of shape [batch, seq_length, num_filters].
    &#47&#47     w = torch.clamp(self._weights, 0.0, 1.0)</code></pre><h3>After Change</h3><pre><code class='java'>

            return torch.cat(res)

        res<a id="change"> = </a>scan(func, x.permute(2,0,1))
        <a id="change">return res.permute(1</a>,<a id="change">0</a>,<a id="change">2</a><a id="change">)</a>
        &#47&#47 for i in x.permute(2,0,1):
        &#47&#47     print(i)

    &#47&#47 def call(self, inputs: Tensor, initial_state: Tensor):</code></pre>