<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        )

        self.branch2 = nn.Sequential(
            <a id="change">BasicConv2d(384</a>, <a id="change">64</a><a id="change">, kernel_size=1, stride=1)</a>,
            BasicConv2d(64, 96, kernel_size=3, stride=1, padding=1),
            BasicConv2d(96, 96, kernel_size=3, stride=1, padding=1)
        )</code></pre><h3>After Change</h3><pre><code class='java'>
        )

        self.branch1 = nn.Sequential(
            <a id="change">BasicConv2d(160</a>, <a id="change">64</a><a id="change">, kernel_size=1, stride=1)</a>,
            BasicConv2d(64, 64, kernel_size=(1, 7), stride=1, padding=(0, 3)),
            BasicConv2d(64, 64, kernel_size=(7, 1), stride=1, padding=(3, 0)),
            BasicConv2d(64, 96, kernel_size=(3, 3), stride=1)</code></pre>