<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 [k, k]
        intra = codebook @ codebook.T

        distance = 2 * ((<a id="change">inter[:, None]</a> - 2 * intra + inter) / codebook.shape[-1]).triu(1)

        lower = F.relu(self._lower - distance) ** 2
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 [k, k]
        intra = (codebook @ codebook.T).triu(1)

        loss = ((inter - 1.0) ** 2).mean() - <a id="change">intra.mean()</a>

        return loss

class L2Regularization(nn.Module):</code></pre>