<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                    "in torch.std() returning nan"
                )
            x_mean[i, :] = x[i, :, :].mean(dim=1)
            <a id="change">x_std[i, :]</a> = x[i, :, :].std(dim=1)
        &#47&#47 make sure x_std is not zero
        x_std += self.div_guard
        return (x - x_mean.unsqueeze(2)) / x_std.unsqueeze(2)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.div_guard = 1e-5

    def forward(self, x: torch.Tensor) -&gt; torch.Tensor:
        x_mean = <a id="change">x.mean(dim=2, keepdim=True)</a>.detach()
        x_std = x.std(dim=2, keepdim=True).detach()
        &#47&#47 make sure x_std is not zero
        x_std += self.div_guard</code></pre>