<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.block_depth = (depth - 4) // (3 * 2)

        self.conv = nn.Conv2d(in_channels, self.filters[0], (3, 3), stride=1, padding=1, bias=False)
        self.blocks = <a id="change">nn.Sequential(
            </a>Block(self.filters[0], self.filters[1], 1, self.block_depth, dropout),
            Block(self.filters[1], self.filters[2], 2, self.block_depth, dropout),
            Block(self.filters[2], self.filters[3], 2, self.block_depth, dropout),
            nn.BatchNorm2d(self.filters[3]),
            nn.ReLU(inplace=True),
            nn.AvgPool2d(kernel_size=8)<a id="change">,
        )</a>

        self.classification = nn.Linear(in_features=self.filters[3], out_features=labels)
        self._initialize()
</code></pre><h3>After Change</h3><pre><code class='java'>
        self.filters = [16, 1 * 16 * width_factor, 2 * 16 * width_factor, 4 * 16 * width_factor]
        self.block_depth = (depth - 4) // (3 * 2)

        self.f = <a id="change">nn.Sequential(</a><a id="change">OrderedDict([
            </a>(<a id="change">"0_convolution"</a><a id="change">, nn.Conv2d(in_channels, self.filters[0], (3, 3), stride=1, padding=1, bias=False)</a>),
            (<a id="change">"1_block"</a><a id="change">, Block(self.filters[0], self.filters[1], 1, self.block_depth, dropout)</a>),
            (<a id="change">"2_block"</a><a id="change">, Block(self.filters[1], self.filters[2], 2, self.block_depth, dropout)</a>),
            (<a id="change">"3_block"</a><a id="change">, Block(self.filters[2], self.filters[3], 2, self.block_depth, dropout)</a>),
            ("4_normalization", nn.BatchNorm2d(self.filters[3])),
            (<a id="change">"5_activation"</a><a id="change">, nn.ReLU(inplace=True)</a>),
            ("6_pooling", nn.AvgPool2d(kernel_size=8)),
            (<a id="change">"7_flattening"</a><a id="change">, nn.Flatten()</a>),
            (<a id="change">"8_classification"</a><a id="change">, nn.Linear(in_features=self.filters[3], out_features=labels)</a>)<a id="change"></a>,
        ]<a id="change">))</a>

        self._initialize()

    def _initialize(self):</code></pre>