<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        encoder_mask = encoder_mask.unsqueeze(-1)

        level = encoder_y[:, -1:].repeat(1, self.prediction_length, 1)  &#47&#47 Level with Naive1
        block_forecasts = <a id="change">[</a>level<a id="change"></a>]
        block_backcasts = [encoder_y[:, -1:].repeat(1, self.context_length, 1)]

        forecast = level</code></pre><h3>After Change</h3><pre><code class='java'>
        else:
            block_forecasts = []
            block_backcasts = []
            forecast<a id="change"> = </a><a id="change">torch.zeros_like(</a>forecast_level<a id="change">, device=forecast_level.device)</a>

        &#47&#47 forecast by block
        for block in self.blocks:
            block_backcast, block_forecast = block(</code></pre>