<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        out = self.conv0(out)
        out = self.activation(out)
        out = self.conv1(out)
        out = <a id="change">self.activation(</a>out<a id="change">)</a>
        out = self.conv1b(out)
        out<a id="change"> = </a>self.activation(out)
        out = self.conv2(out)
        out = (self.se(out)*2) * out
</code></pre><h3>After Change</h3><pre><code class='java'>
            shortcut = x

        out = self.activation(self.conv0(out))
        out = <a id="change">self.activation(</a>self.conv1(out)<a id="change">)</a>
        out = self.activation(self.conv1b(out))
        out = self.conv2(out)
        out = (self.se(out)*2) * out
</code></pre>