<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
    def forward(self, x):
        x0 = x

        x = <a id="change">self.activation(</a>x<a id="change">)</a>
        x<a id="change"> = </a>self.conv2d1(x)

        x = self.conv2d2(self.activation(x))
        x = self.conv2d3(self.activation(x))</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x):
        x0 = x

        x = self.conv2d1(<a id="change">self.activation(</a>x<a id="change">)</a>)
        x = self.conv2d2(self.activation(x))
        x = self.conv2d3(self.activation(x))
        x = self.activation(x)</code></pre>