<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.layers = nn.ModuleList()
        if layer_norm:
            self.layers.append(nn.LayerNorm(in_features))
        self.layers.append(GATConv(in_features, <a id="change">hidden_features[0]</a>, num_heads, activation=activation))
        for i in range(len(hidden_features) - 1):
            if layer_norm:
                self.layers.append(nn.LayerNorm(hidden_features[i] * num_heads))</code></pre><h3>After Change</h3><pre><code class='java'>
                                   attn_drop=0.0,
                                   residual=False,
                                   activation=None))
        <a id="change">if dropout &gt; 0.0</a><a id="change">:
            </a>self.dropout<a id="change"> = </a><a id="change">nn.Dropout(</a>dropout<a id="change">)</a>
        else:
            self.dropout<a id="change"> = </a>None

    @property
    def model_type(self):</code></pre>