<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        if data_samples is not None:
            target = [sample.gt_labels.item for sample in data_samples]
            target = torch.stack(target)
            target<a id="change"> = </a><a id="change">target.squeeze()</a>

        &#47&#47 Auxiliary loss
        if self.aux_head is not None:
            loss_aux = self.aux_head(x[-2], target)</code></pre><h3>After Change</h3><pre><code class='java'>
        loss_aux = dict()
        &#47&#47 Calculate auxiliary loss if `self.aux_head`
        &#47&#47 and `batch_data_samples` are not None.
        if <a id="change">self.aux_head is not None and batch_data_samples is not None</a>:
            loss_aux = self.aux_head.loss(x[-2], batch_data_samples)

        &#47&#47 Spatial Modulation</code></pre>