<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                 transpose=True, concat=True,  norm=nn.BatchNorm2d, act=F.relu, dilations=[1,2,5]):
        super(SharedDecoder, self).__init__()
        self.up_convs = []
        self.im_atts<a id="change"> = []</a>
        self.wm_atts = []
        self.mask_atts = []

        outs = in_channels
        for i in range(depth-1): &#47&#47 depth = 5 [0,1,2,3]
            ins = outs
            outs = ins // 2
            &#47&#47 512,256
            &#47&#47 256,128
            &#47&#47 128,64
            &#47&#47 64,32
            up_conv = UpConv(ins, outs, blocks, residual=residual, concat=concat, norm=norm,act=F.relu, dilations=dilations)
            self.up_convs.append(up_conv)
            self.im_atts.append(ECABlock(outs))
            self.wm_atts.append(ECABlock(outs))
            self.mask_atts.append(ECABlock(outs))
       
        up_conv = UpConv(outs, out_channels, blocks, residual=residual,concat=concat, norm=norm,act=F.relu, dilations=dilations)
        self.up_convs.append(up_conv)
        <a id="change">self.im_atts.append(</a>ECABlock(out_channels)<a id="change">)</a>
        self.wm_atts.append(ECABlock(out_channels))
        self.mask_atts.append(ECABlock(out_channels))
</code></pre><h3>After Change</h3><pre><code class='java'>
            ins = in_channels if i == start_depth else outs
            outs = min(ins * 2, max_filters)
            &#47&#47 Encoder convs
            pooling = True<a id="change"> if </a>i &lt; depth-1<a id="change"> else </a>False
            down_conv = DownConv(ins, outs, blocks, pooling=pooling, residual=residual, norm=norm, act=act, dilations=dilations)
            self.down_convs.append(down_conv)
</code></pre>