<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        @rtype: boolean
        

        <a id="change">raise </a>NotImplementedError

    def __repr__(self):
        </code></pre><h3>After Change</h3><pre><code class='java'>
        @return: True if passed alignment check
        @rtype: boolean
        
        <a id="change">if </a>not all([<a id="change">0 &lt;= p[0] &lt; len(self._words)</a> for p in a])<a id="change">:
            </a>raise IndexError("Alignment is outside boundary of words")
        <a id="change">if </a>not all([0 &lt;= p[1] &lt; len(self._mots) for p in a])<a id="change">:
            </a>raise IndexError("Alignment is outside boundary of mots")
        return True

    def __repr__(self):</code></pre>