<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 Verifies the existence of the executable
        if not path.isfile(self.executable):
          <a id="change">raise </a>ExecutableNotFound("Senna executable expected at %s but not found" %
                                   self.executable)

        &#47&#47 Build the senna command to run the tagger</code></pre><h3>After Change</h3><pre><code class='java'>
        
        if not path.isfile(senna_binary_file):
            &#47&#47 Check for the system environment 
            <a id="change">if &quotSENNA&quot in environ</a><a id="change">:
                </a>self._path = path.join(environ[&quotSENNA&quot],&quot&quot)  
                senna_binary_file = self.executable(self._path)
                <a id="change">if </a>not path.isfile(senna_binary_file)<a id="change">:
                    </a>raise ExecutableNotFound("Senna executable expected at %s but not found" %
                                  senna_binary_file)
                    
        &#47&#47 Build the senna command to run the tagger</code></pre>