<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 position_embeddings = position_embeddings.view(my_shape)

        position_embeddings = torch.take_along_dim(embeddings_table, final_mat.flatten().unsqueeze(1), dim=0)
        position_embeddings = position_embeddings.reshape(*final_mat.shape, <a id="change">embeddings_table.shape[-1]</a>)  &#47&#47 [seq_len, seq_len, hdsz]
        self.register_buffer(&quotposition_embeddings&quot, position_embeddings)
        &#47&#47 self.post = nn.Embedding.from_pretrained(position_embeddings, freeze=True)
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 self.register_buffer(&quotposition_embeddings&quot, position_embeddings)
        
        &#47&#47 实现方式3
        position_embeddings<a id="change"> = </a><a id="change">nn.Embedding.from_pretrained(</a>embeddings_table<a id="change">, freeze=True)</a>(final_mat)
        self.register_buffer(&quotposition_embeddings&quot, position_embeddings)

    def forward(self, qlen, klen):</code></pre>