<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.layer_1 = nn.Linear(28 * 28, config["lin1_size"])
        self.layer_2 = nn.Linear(config["lin1_size"], config["lin2_size"])
        self.layer_3 = nn.Linear(config["lin2_size"], config["lin3_size"])
        self.layer_4 = nn.Linear(<a id="change">config["lin3_size"]</a>, 10)

    def forward(self, x):
        batch_size, channels, width, height = x.size()</code></pre><h3>After Change</h3><pre><code class='java'>
    def __init__(self, config):
        super().__init__()

        self.model<a id="change"> = </a><a id="change">EfficientNet.from_pretrained(</a>&quotefficientnet-b1&quot<a id="change">)</a>
        &#47&#47 self.model = EfficientNet.from_pretrained(&quotefficientnet-b7&quot)

        for param in self.model.parameters():
            param.requires_grad = False</code></pre>