<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        oC, iC, kH, kW = self.weight.size()

        affined_style = self.style_fc(style)
        weight = self<a id="change">.elr_scale * self.weight.view(1, oC, iC, kH, kW) * </a>affined_style.view(B, 1, iC, 1, 1)
    
        if self.demod:
            norm = 1 / ((weight**2).sum([2, 3, 4]) + 1.e-8)**0.5
            weight = weight * norm.view(B, oC, 1, 1, 1)

        out = F.conv2d(
            x.contiguous().view(1, B*iC, H, W), weight.view(B<a id="change">*</a>oC, iC, kH, kW),
            stride=self.stride, padding=self.padding, groups=B
        )

        _, _, H, W = out.size()
        out = out.view(B, -1, H, W)
        <a id="change">return </a>out

class Bias(nn.Module):
    def __init__(self, out_channels, bias_init=0, lr=1.):</code></pre><h3>After Change</h3><pre><code class='java'>
            weight = weight * d

        &#47&#47 reshaping for conv input
        x<a id="change"> = </a><a id="change">x.reshape(1</a>, <a id="change">-1</a>, H, W<a id="change">)</a>
        _, _, *ws = weight.size()
        weight = weight.reshape(B*self.out_channels, *ws)
        pad = self._get_same_padding(H)

        &#47&#47 conv
        x = F.conv2d(x, weight, padding=pad, groups=B)

        &#47&#47 return with bias
        <a id="change">return </a>x.reshape(B, self.out_channels, H, W)<a id="change"> + </a>self.bias
    
    def _get_same_padding(self, size):
        return ((size - 1) * (self.stride - 1) + (self.kernel_size - 1)) // 2</code></pre>