<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def forward(self, x):
        &#47&#47 x: tensor of shape (batch_size, seq_length, hidden_size)
        encoder_hidden<a id="change"> = </a><a id="change">self.encoder(</a>x<a id="change">)</a>

        hidden<a id="change"> = </a>encoder_hidden
        for t in range(self.length):
            reconstruct_output, hidden = self.decoder(x, hidden)
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 x: tensor of shape (batch_size, seq_length, hidden_size)
        reconstruct_output, hidden = self.decoder(x, self.encoder(x))

        <a id="change">return </a>reconstruct_output.view(x.shape[0], -1)
</code></pre>