<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		feat1 = src[..., :3].transpose(1, 2)
		feat2 = tgt[..., :3].transpose(1, 2)
		src = src[..., :3]
		tgt = <a id="change">tgt[..., :3]</a>

		src_embedding = self.emb_nn(feat1)
		tgt_embedding = self.emb_nn(feat2)
		src_embedding_p, tgt_embedding_p = self.pointer(src_embedding, tgt_embedding)</code></pre><h3>After Change</h3><pre><code class='java'>

        else:
            rotation_ba = rotation_ab.transpose(2, 1).contiguous()
            translation_ba = -<a id="change">torch.matmul(</a>rotation_ba, translation_ab.unsqueeze(2)<a id="change">)</a>.squeeze(2)
        
        T_12 = rt_to_transformation(rotation_ab, translation_ab.unsqueeze(2))
</code></pre>