<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        *,
        text
    ):
        <a id="change">return </a>image
</code></pre><h3>After Change</h3><pre><code class='java'>
            text = self.tokenizer.encode(text)

        image_embed = prior.sample(text, num_samples_per_batch = 2)
        images<a id="change"> = </a><a id="change">decoder.sample(</a>image_embed<a id="change">)</a>
        return images
</code></pre>