<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        &#47&#47 Factorized attention.
        k_softmax = k.softmax(dim=2)
        factor_att = <a id="change">k_softmax.transpose(-1</a>, <a id="change">-2</a><a id="change">) @ </a>v
        factor_att = q<a id="change"> @ </a>factor_att

        &#47&#47 Convolutional relative position encoding.
        crpe = self.crpe(q, v, size=size)  &#47&#47 [B, h, N, Ch]</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Factorized attention.
        k_softmax = k.softmax(dim=2)
        factor_att = <a id="change">torch.matmul(</a><a id="change">k_softmax.transpose(-1</a>, <a id="change">-2</a><a id="change">)</a>, v<a id="change">)</a>
        factor_att = <a id="change">torch.matmul(</a>q, factor_att<a id="change">)</a>

        &#47&#47 Convolutional relative position encoding.
        crpe = self.crpe(q, v, size=size)  &#47&#47 [B, h, N, Ch]
</code></pre>