<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.module_list = nn.Sequential(*self.module_list)

    def forward(self, x):
        <a id="change">return </a>self.module_list(x)


class GraphSageModel(thnn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.lins.append(nn.Linear(hidden_dim, output_dim))

    def forward(self, x):
        <a id="change">for i</a> in <a id="change">range(</a>self.num_layers<a id="change"> - </a>1<a id="change">):
            </a>x<a id="change"> = </a>F.relu(self.lins[i](x))
            x = self.bns[i](x)  &#47&#47 batch norm
            x<a id="change"> = </a>F.dropout(x, p=0.5, training=self.training)
        x = self.lins[-1](x)
        return x
</code></pre>