<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        norm_class = ScaleNorm if use_scalenorm else nn.LayerNorm
        prenorm_fn = partial(PreNorm, dim, norm_class = norm_class)
        prenorm_fn = Rezero<a id="change"> if </a>use_rezero<a id="change"> else </a>prenorm_fn

        ff_kwargs, kwargs = groupby_prefix_and_trim(&quotff_&quot, kwargs)
        attn_kwargs, _ = groupby_prefix_and_trim(&quotattn_&quot, kwargs)</code></pre><h3>After Change</h3><pre><code class='java'>
        self.residual_attn = residual_attn

        norm_class = ScaleNorm if use_scalenorm else nn.LayerNorm
        norm_fn<a id="change"> = </a><a id="change">partial(</a>norm_class, dim<a id="change">)</a>

        norm_fn = nn.Identity if use_rezero else norm_fn
        branch_fn = Rezero if use_rezero else None
</code></pre>