<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super(FCNMaskHead, self).__init__()
        if upsample_method not in [None, &quotdeconv&quot, &quotnearest&quot, &quotbilinear&quot]:
            raise ValueError(
                <a id="change">&quotInvalid upsample method {}, accepted methods &quot
                &quotare "deconv", "nearest", "bilinear"&quot.format(</a>upsample_method<a id="change">)</a>)
        self.num_convs = num_convs
        &#47&#47 WARN: roi_feat_size is reserved and not used
        self.roi_feat_size = _pair(roi_feat_size)</code></pre><h3>After Change</h3><pre><code class='java'>
                 loss_mask=dict(
                     type=&quotCrossEntropyLoss&quot, use_mask=True, loss_weight=1.0)):
        super(FCNMaskHead, self).__init__()
        <a id="change">self.upsample_cfg = </a>upsample_cfg.copy()
        <a id="change">if self.upsample_cfg[&quottype&quot] not in [
                None, &quotdeconv&quot, &quotnearest&quot, &quotbilinear&quot, &quotcarafe&quot
        ]</a><a id="change">:
            </a><a id="change">raise </a>ValueError(
                <a id="change">&quotInvalid upsample method {}, accepted methods &quot
                &quotare "deconv", "nearest", "bilinear", "carafe"&quot.format(
                    </a>self.upsample_cfg[&quottype&quot]<a id="change">)</a>)
        self.num_convs = num_convs
        &#47&#47 WARN: roi_feat_size is reserved and not used
        self.roi_feat_size = _pair(roi_feat_size)
        self.in_channels = in_channels
        self.conv_kernel_size = conv_kernel_size
        self.conv_out_channels = conv_out_channels
        self.upsample_method = self.upsample_cfg.get(&quottype&quot)
        self.scale_factor<a id="change"> = </a>self.upsample_cfg.pop(&quotscale_factor&quot)
        self.num_classes = num_classes
        self.class_agnostic = class_agnostic
        self.conv_cfg = conv_cfg
        self.norm_cfg = norm_cfg
        self.fp16_enabled = False
        self.loss_mask = build_loss(loss_mask)

        self.convs = nn.ModuleList()
        for i in range(self.num_convs):
            in_channels = (
                self.in_channels if i == 0 else self.conv_out_channels)
            padding = (self.conv_kernel_size - 1) // 2
            self.convs.append(
                ConvModule(
                    in_channels,
                    self.conv_out_channels,
                    self.conv_kernel_size,
                    padding=padding,
                    conv_cfg=conv_cfg,
                    norm_cfg=norm_cfg))
        upsample_in_channels = (
            self.conv_out_channels if self.num_convs &gt; 0 else in_channels)
        upsample_cfg_<a id="change"> = </a>self.upsample_cfg.copy()
        if self.upsample_method is None:
            self.upsample = None
        elif self.upsample_method == &quotdeconv&quot:</code></pre>