<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                outputs=torch.stack(outputs).unsqueeze(0)
                for nc in self.nblocks:
                    noutputs.append(nc(output))
                return outputs<a id="change">, noutputs</a>

class WBlock(nn.Module):
    Define a linear block for W
    def __init__(self, dim, n_feat, init_type=&quotnormal&quot, init_gain=0.02, gpu_ids=[]):</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, input):
        Standard forward
        output = self.encoder(input)
        output<a id="change"> = </a><a id="change">self.decoder(</a>output<a id="change">)</a>
        return output
    
class MobileResnetEncoderSty2(nn.Module):
    def __init__(self, input_nc, output_nc, ngf, norm_layer=nn.InstanceNorm2d,</code></pre>