<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
		&#47&#47xs = [torch.squeeze(k) for k in xs]
		for x in xs:
			hs, cs = self.rim_model(row_index, ind, x, hs, cs)
		h = <a id="change">torch.cat(</a>hs<a id="change">, dim = 1)</a>
		preds = self.Linear(h)
		if y is not None:
			y = y.long()
			probs = nn.Softmax(dim = -1)(preds)</code></pre><h3>After Change</h3><pre><code class='java'>
		&#47&#47xs = [torch.squeeze(k) for k in xs]
		for x in xs:
			hs, cs = self.rim_model(row_index, ind, x, hs, cs)
		preds = self.Linear(<a id="change">hs.contiguous().view(</a>x.size(0), <a id="change">-1</a><a id="change">)</a>)
		if y is not None:
			y = y.long()
			probs = nn.Softmax(dim = -1)(preds)</code></pre>