<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                            reference=reference[i] if reference is not None else &quot&quot, 
                            loss_pos_paired=loss_pos_paired, loss_neg_paired=loss_neg_paired,
                            loss_pos_unpaired=loss_pos_unpaired, loss_neg_unpaired=loss_neg_unpaired)
            s<a id="change"> = </a>0
            for name, param in self.named_parameters():
                if name.startswith("score_"):
                    s += torch.sum(getattr(self, name) * getattr(self, "count_" + name[6:]))
            s<a id="change"> += </a>v - s.item()
            <a id="change">ss.append(</a>s<a id="change">)</a>
            if verbose:
                preds.append(pred)
                pairs.append(pair)
        <a id="change">if verbose</a><a id="change">:
            </a><a id="change">return torch</a><a id="change">.sum(torch.stack(ss</a><a id="change">)</a><a id="change">), preds, pairs</a>
        else:
            <a id="change">return torch</a><a id="change">.sum(torch.stack(ss</a><a id="change">)</a><a id="change">)</a>


    def predict(self, seq, max_internal_length=30, constraint=None, reference=None, 
            loss_pos_paired=0.0, loss_neg_paired=0.0, loss_pos_unpaired=0.0, loss_neg_unpaired=0.0, verbose=False):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, seq, max_internal_length=30, constraint=None, reference=None, 
            loss_pos_paired=0.0, loss_neg_paired=0.0, loss_pos_unpaired=0.0, loss_neg_unpaired=0.0, verbose=False):
        <a id="change">ss</a> = []
        preds = []
        pairs = []
        for i in range(len(seq)):
            self.clear_count()
            with torch.no_grad():
                v, pred, pair = interface.predict_zuker(seq[i], self, 
                            max_internal_length=max_internal_length if max_internal_length is not None else len(seq[i]),
                            constraint=constraint[i] if constraint is not None else &quot&quot, 
                            reference=reference[i] if reference is not None else &quot&quot, 
                            loss_pos_paired=loss_pos_paired, loss_neg_paired=loss_neg_paired,
                            loss_pos_unpaired=loss_pos_unpaired, loss_neg_unpaired=loss_neg_unpaired)
            <a id="change">if torch</a><a id="change">.is_grad_enabled():
                </a>s<a id="change"> = </a>0
                for name, param in self.named_parameters():
                    if name.startswith("score_"):
                        s += torch.sum(getattr(self, name) * getattr(self, "count_" + name[6:]))
                s<a id="change"> += </a>v - s.item()
                <a id="change">ss.append(</a>s<a id="change">)</a>
            else:
                <a id="change">ss.append(</a>v<a id="change">)</a>
            if verbose:
                preds.append(pred)
                pairs.append(pair)

        <a id="change">ss</a> = <a id="change">torch.stack(ss</a><a id="change">) if torch</a><a id="change">.is_grad_enabled() else </a>ss
        <a id="change">if verbose</a><a id="change">:
            </a><a id="change">return ss</a><a id="change">, preds, pairs</a>
        else:
            <a id="change">return ss</a>
</code></pre>