<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

    def _index_helper(self, xmltree, fileid):
        Helper for L{_index()}
        vnclass = <a id="change">_dotmap(</a><a id="change">xmltree.get(&quotID&quot</a><a id="change">))</a>
        self._class_to_fileid[vnclass] = fileid
        self._shortid_to_longid[self.shortid(vnclass)] = vnclass
        for member in xmltree.findall(&quotMEMBERS/MEMBER&quot):
            self._lemma_to_class[member.get(&quotname&quot)].append(vnclass)</code></pre><h3>After Change</h3><pre><code class='java'>

    def _index_helper(self, xmltree, fileid):
        Helper for L{_index()}
        vnclass = <a id="change">xmltree.get(&quotID&quot</a><a id="change">)</a>
        self._class_to_fileid[vnclass] = fileid
        self._shortid_to_longid[self.shortid(vnclass)] = vnclass
        for member in xmltree.findall(&quotMEMBERS/MEMBER&quot):
            self._lemma_to_class[member.get(&quotname&quot)].append(vnclass)</code></pre>