<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
class NIN(nn.Module):
    def __init__(self, in_dim, num_units, init_scale=0.1):
        super().__init__()
        self.W = <a id="change">nn.Parameter(</a>default_init(scale=init_scale)(
            (in_dim, num_units))<a id="change">, requires_grad=True)</a>
        self.b = <a id="change">nn.Parameter(torch.zeros(</a>num_units<a id="change">)</a><a id="change">, requires_grad=True)</a>

    def forward(self, x):
        x = x.permute(0, 2, 3, 1)
        y = contract_inner(x, self.W) + self.b</code></pre><h3>After Change</h3><pre><code class='java'>
        self.block = nn.Sequential(
            nn.GroupNorm(groups, dim),
            Swish(),
            nn.Dropout(dropout)<a id="change"> if </a>dropout != 0<a id="change"> else </a>nn.Identity(),
            nn.Conv2d(dim, dim_out, 3, padding=1)
        )
</code></pre>