<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()
        self.eps = eps
        self.bias = bias
        self.g = <a id="change">nn.Parameter(</a>torch.ones(1, channels, 1)<a id="change">)</a>
        self.b = <a id="change">nn.Parameter(torch.zeros(</a>1, channels, 1<a id="change">)</a><a id="change">)</a> if bias else None

    def forward(self, x: Tensor) -&gt; Tensor:
        var = torch.var(x, dim=1, unbiased=False, keepdim=True)</code></pre><h3>After Change</h3><pre><code class='java'>
        super().__init__()

        self.groupnorm = (
            nn.GroupNorm(num_groups=num_groups, num_channels=in_channels)<a id="change">
            if </a>use_norm<a id="change">
            else </a>nn.Identity()
        )
        self.activation = nn.SiLU()
        self.project = Conv1d(</code></pre>