<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                tag = xmlpos[0].text
                            word = (word,tag)
                        except (AttributeError,IndexError) as e:
                            word = (word<a id="change">,None</a>)
                            if suffixStem:
                                suffixStem = (suffixStem,None)
                    &#47&#47 relational</code></pre><h3>After Change</h3><pre><code class='java'>
                            xmlsuffixpos2 = xmlword.findall(&quot.//{%s}mor/{%s}mor-post/{%s}mw/{%s}pos/{%s}s&quot
                                                     % (NS,NS,NS,NS,NS))
                            if xmlsuffixpos2:
                                suffixTag = xmlsuffixpos[0].text+":"+<a id="change">xmlsuffixpos2[0]</a>.text
                            else:
                                suffixTag = xmlsuffixpos[0].text
                        except:</code></pre>