<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        @raise IndexError: If the specified child does not exist.
        
        _chktype("AbstractTree.__getitem__",
                 1, index, (_IntType<a id="change">, _SliceType, _TupleType</a>))
        if type(index) == _IntType:
            return self._children[index]
        elif type(index) == _SliceType:</code></pre><h3>After Change</h3><pre><code class='java'>
            return self
        elif len(index) == 1:
            return self._children[index[0]]
        elif isinstance(self._children[<a id="change">index[0]</a>], AbstractTree):
            return self._children[index[0]][index[1:]]
        else:
            raise IndexError(&quotBad tree position&quot)</code></pre>