<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
              alpha - 1.67 - factor used in the paper to dervie number of filters for multiresunet filters from Unet filters
            Returns - None
        
        <a id="change">super().__init__()</a>
        self.corresponding_unet_filters = corresponding_unet_filters
        self.alpha = alpha
        self.W = corresponding_unet_filters * alpha
        self.conv2d_bn_1x1 = Conv2d_batchnorm(input_features=input_features,</code></pre><h3>After Change</h3><pre><code class='java'>
                                  num_col=1, num_row=1, activation=None, padding=&quotsame&quot)
        self.conv3x3 = conv2d_bn(in_channel, filters=int(self.W * 0.167), num_col=3, num_row=3,
                                 activation=&quotrelu&quot, padding=&quotsame&quot)
        self.conv5x5 = conv2d_bn(<a id="change">int(</a>self.W<a id="change"> * </a>0.167<a id="change">)</a>, filters=int(self.W * 0.333), num_col=3, num_row=3,
                                 activation=&quotrelu&quot, padding=&quotsame&quot)
        self.conv7x7 = conv2d_bn(int(self.W * 0.333), filters=int(self.W * 0.5), num_col=3, num_row=3,
                                 activation=&quotrelu&quot, padding=&quotsame&quot)</code></pre>