<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            raise ValueError
        inverted_residual=InvertedResidual

        <a id="change">if len(stages_repeats) != 3</a><a id="change">:
            </a>raise ValueError(&quotexpected stages_repeats as list of 3 positive ints&quot)
        <a id="change">if len(stages_out_channels) != 5</a><a id="change">:
            </a><a id="change">raise </a><a id="change">ValueError(&quotexpected stages_out_channels as list of 5 positive ints&quot</a><a id="change">)</a>
        self._stage_out_channels = stages_out_channels

        input_channels = 3
        output_channels = self._stage_out_channels[0]</code></pre><h3>After Change</h3><pre><code class='java'>
            setattr(self, name, nn.Sequential(*seq))
            input_channels = output_channels

        <a id="change">if </a>pretrained<a id="change">:
            </a>self.load_pre_trained_weights()

            self.conv1.eval()
            for param in self.conv1.parameters():
                param.requires_grad<a id="change"> = </a>False

    def load_pre_trained_weights(self):
        print("Loading Pytorch pretrained weights...")</code></pre>