<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

        x = self.band_split(input)

        for idx, key in <a id="change">enumerate(</a>self.bands[:-1]<a id="change">)</a>:
            _x = self.net[key](x[idx])
            stacked.append(_x)
        </code></pre><h3>After Change</h3><pre><code class='java'>
        
        bands, sections = self.bands, self.sections

        _<a id="change">, _, n_bins, _ = </a><a id="change">input.size()</a>

        sections = [sum(sections), n_bins - sum(sections)]
        x_valid, x_invalid = torch.split(input, sections, dim=2)
</code></pre>