<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        for block_size in self.block_sizes:
            blocks = rearrange(x, &quotb (n m) d -&gt; b n m d&quot, m = block_size)

            if <a id="change">exists(</a>mask<a id="change">)</a>:
                mask_blocks = rearrange(mask, &quotb (n m) -&gt; b n m&quot, m = block_size)
                block_repr = masked_mean(blocks, mask_blocks, dim = -2)
            else:</code></pre><h3>After Change</h3><pre><code class='java'>

            block_x = x.clone()

            <a id="change">if </a><a id="change">exists(</a>mask<a id="change">):
                </a>block_mask<a id="change"> = </a>mask.clone()

            &#47&#47 pad for offsets, if needed
</code></pre>