<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        conv_type: Type[Union[nn.Conv1d, nn.Conv2d, nn.Conv3d]] = Conv[Conv.CONV, spatial_dims]
        pool_type: Type[Union[nn.MaxPool1d, nn.MaxPool2d, nn.MaxPool3d]] = Pool[Pool.MAX, spatial_dims]
        norm_type: Type[Union[nn.BatchNorm1d, nn.BatchNorm2d, nn.BatchNorm3d]] = Norm[Norm.BATCH, spatial_dims]
        dropout_type<a id="change">: Type[Union[nn.Dropout, nn.Dropout2d, nn.Dropout3d]] = </a>Dropout[Dropout.DROPOUT<a id="change">, dropout_dim</a>]

        self.inplanes = inplanes
        self.spatial_dims = spatial_dims</code></pre><h3>After Change</h3><pre><code class='java'>
            reduction=reduction,
            downsample_kernel_size=downsample_kernel_size,
        )
        all_layers<a id="change"> = </a><a id="change">[</a>layer0, layer1, layer2, layer3, layer4<a id="change"></a>]
        self.layers = nn.ModuleList(all_layers[:num_layers + 1])

        for m in self.modules():</code></pre>