<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                assert value is None
                &#47&#47 this will allow us to concat it with previous value and get
                &#47&#47 just get the previous value
                k = v = <a id="change">q.new(0</a><a id="change">)</a>
            else:
                k, v = self.in_proj_kv(key)
        else:
            q = self.in_proj_q(query)</code></pre><h3>After Change</h3><pre><code class='java'>
        if saved_state is not None:

            if &quotprev_key&quot in saved_state:
                <a id="change">if static_kv</a><a id="change">:
                    </a>k<a id="change"> = </a><a id="change">saved_state[&quotprev_key&quot]</a>
                else:
                    k = torch.cat((saved_state[&quotprev_key&quot], k), dim=0)
            if &quotprev_value&quot in saved_state:
                <a id="change">if static_kv</a><a id="change">:
                    </a>v<a id="change"> = </a><a id="change">saved_state[&quotprev_value&quot]</a>
                else:
                    v = torch.cat((saved_state[&quotprev_value&quot], v), dim=0)
            saved_state[&quotprev_key&quot] = k
            saved_state[&quotprev_value&quot] = v</code></pre>