<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        node specified by the mod address.
        
        for node in self.nodelist:
            <a id="change">if </a><a id="change">node[&quotaddress&quot] == head_address and (mod_address not in node[&quotdeps&quot]):
                </a>node[&quotdeps&quot].append(mod_address)

    def connect_graph(self):
        </code></pre><h3>After Change</h3><pre><code class='java'>
        Adds an arc from the node specified by head_address to the
        node specified by the mod address.
        
        <a id="change">self.nodes[head_address]</a>[&quotdeps&quot].append(mod_address)

    def connect_graph(self):
        </code></pre>