<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        ).detach()
        a.scatter_(dim=1, index=label.unsqueeze(1), src=src)

        sigma = torch.ones_like(inp, device=inp.device, dtype=inp.dtype)<a id="change"> * </a>self.m
        src = torch.ones_like(label.unsqueeze(1), dtype=inp.dtype, device=inp.device) - self.m
        sigma.scatter_(dim=1, index=label.unsqueeze(1), src=src)

        <a id="change">return </a>self.loss(a * (inp - sigma) * self.gamma, label)


def convert_label_to_similarity(normed_feature: Tensor, label: Tensor) -&gt; Tuple[Tensor, Tensor]:</code></pre><h3>After Change</h3><pre><code class='java'>
        logit_p = - ap * (sp - delta_p) * self.gamma
        logit_n = an * (sn - delta_n) * self.gamma

        loss = self.soft_plus(torch.logsumexp(logit_n, dim=0)<a id="change"> + </a><a id="change">torch.logsumexp(</a>logit_p<a id="change">, dim=0)</a>)

        return loss
</code></pre>