<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        dLoss = self._loss(logitsCondition, torch.ones_like(logitsCondition)) + self._loss(logitsJoint, torch.zeros_like(logitsJoint))
        if step % 2 == 0:
            return dLoss
        <a id="change">return -dLoss</a>
</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 self._loss = nn.BCEWithLogitsLoss()

    def forward(self, logitsCondition: torch.Tensor, logitsJoint: torch.Tensor, step: int):
        expMean = (<a id="change">logitsJoint.detach().logsumexp(</a>0<a id="change">)</a> - log(len(logitsJoint)))
        self._ema -= self._alpha<a id="change"> * </a>(self._ema - expMean)
        loss = EMALoss.apply(logitsJoint, self._ema)
        &#47&#47 dLoss = self._loss(logitsCondition, torch.ones_like(logitsCondition)) + self._loss(logitsJoint, torch.zeros_like(logitsJoint))
        return (-logitsCondition.mean()) + loss</code></pre>