<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        SOW = self.property(&quotSOW&quot)
        TEXT = self.property(&quotTEXT&quot)
        SUBTOKENS = self.property(&quotSUBTOKENS&quot)
        <a id="change">return {</a>SOW: Set([tok[TEXT] for tok in token[SUBTOKENS]])<a id="change">}</a>
    
    def features(self):
        return [SOW]
</code></pre><h3>After Change</h3><pre><code class='java'>
        pass
        
    def get_features(self, tokens):
        <a id="change">return </a><a id="change">{</a>&quotsow&quot: set(tokens)<a id="change">}</a>
    
    def features(self):
        return [&quotsow&quot]
</code></pre>