<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                                                tokens)

        &#47&#47 Return the tree that spans the entire text & have the right cat
        <a id="change">return </a>constituents.get((0, len(tokens), self._grammar.start()))

    def _add_constituents_spanning(self, span, constituents, tokens):
        </code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 Return the tree that spans the entire text & have the right cat
        tree = constituents.get((0, len(tokens), self._grammar.start()))
        <a id="change">return </a><a id="change">[]</a> if tree is None else <a id="change">[</a>tree<a id="change"></a>]

    def _add_constituents_spanning(self, span, constituents, tokens):
        </code></pre>