<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.asymmetric_pad = nn.ReflectionPad2d((0,1,1,0))  &#47&#47 Slower than tensorflow?
        self.post_pad = nn.ReflectionPad2d(1)

        heights = <a id="change">(2**i for i in range(4,9))</a>[::-1]
        widths = heights
        H1, H2, H3, H4, H5 = heights
        W1, W2, W3, W4, W5 = widths </code></pre><h3>After Change</h3><pre><code class='java'>
        self.asymmetric_pad = nn.ReflectionPad2d((0,1,1,0))  &#47&#47 Slower than tensorflow?
        self.post_pad = nn.ReflectionPad2d(1)

        heights = <a id="change">[2**i for i in range(4,9)]</a>[::-1]
        widths = heights
        H1, H2, H3, H4, H5 = heights
        W1, W2, W3, W4, W5 = widths </code></pre>