<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        _attn_chunk_size: Optional[int] = None,
        _offload_inference: bool = False,
    ) -&gt; Tuple[torch.Tensor, torch.Tensor]:
        inplace_safe = <a id="change">not (self.training or torch.is_grad_enabled())</a>

        if(_attn_chunk_size is None):
            _attn_chunk_size = chunk_size
</code></pre><h3>After Change</h3><pre><code class='java'>
            input_tensors = _offloadable_inputs
            del _offloadable_inputs
        else:
            input_tensors = <a id="change">[</a>m, z<a id="change"></a>]

        m, z = input_tensors
</code></pre>