<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 print(&quot[DEBUG] linear&quot,self.linear(x).squeeze(1).size())
        &#47&#47 print(&quot[DEBUG] fm&quot,self.fm(embed_x).size())
        &#47&#47 print(&quot[DEBUG] mlp&quot,self.mlp(embed_x).squeeze(-1).size())
        x = <a id="change">self.linear(x).squeeze(1</a><a id="change">)</a> + self.fm(embed_x) + self.mlp(embed_x).squeeze(-1)
        return torch.sigmoid(x)
</code></pre><h3>After Change</h3><pre><code class='java'>
        :param x: Long tensor of size ``(batch_size, num_fields)``
        
        embed_x = self.embedding(sparse_feats)
        linear_x<a id="change"> = </a>self.linear(dense_feats)
        combined_x<a id="change"> = </a><a id="change">torch.cat([</a>embed_x, linear_x<a id="change"></a>]<a id="change">, dim=1)</a>
        &#47&#47 print(&quot[DEBUG] embed x&quot,embed_x.size()) &#47&#47 [16384, 128]
        &#47&#47 print(&quot[DEBUG] linear&quot,self.linear(x).squeeze(1).size())
        &#47&#47 print(&quot[DEBUG] fm&quot,self.fm(embed_x).size())
        &#47&#47 print(&quot[DEBUG] mlp&quot,self.mlp(embed_x).squeeze(-1).size())</code></pre>