<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        Args:
            lambda_: regularization hyper-parameter of the negative scores : Takes value between 0 and 1
        
        <a id="change">super(TOP1_max_reg, self).__init__()</a>
        self.lambda_ = lambda_

    def forward(self, logit):
        </code></pre><h3>After Change</h3><pre><code class='java'>

class TOP1(nn.Module):
    def __init__(self):
        <a id="change">super(TOP1, self).__init__()</a>

    def forward(self, logits_scores, negative_mask):
        
        Args:</code></pre>