<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            self.bottleneck[0].bias.data.fill_(0.1)
            in_features = bottleneck_dim
        else:
            self.bottleneck = <a id="change">nn.Identity()</a>
            in_features = backbone.out_features
        self.head = ClassifierHead(in_features, num_classes, use_bottleneck=True, bottleneck_dim=head_bottleneck_dim)
        self.use_bottleneck = use_bottleneck
        self.num_classes = num_classes</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.Linear(width, num_classes)
        )
        &#47&#47 The adversarial classifier head
        self.adv_head<a id="change"> = </a>nn.Sequential(
            <a id="change">nn.Linear(</a>bottleneck_dim, width<a id="change">)</a>,
            nn.ReLU(),
            nn.Dropout(0.5),
            nn.Linear(width, num_classes)</code></pre>