<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                or (batch_size, depth * growth_rate, n_bins, n_frames) if type(growth_rate) is int
        
        x = input
        stacked<a id="change"> = </a><a id="change">[]</a>
        output = []

        stacked.append(input)
</code></pre><h3>After Change</h3><pre><code class='java'>
            x = self.net[idx](x)
            x_residual = x_residual + x
            
            in_channels<a id="change"> = growth_rate[idx]</a>
            stacked_channels<a id="change"> = sum(growth_rate</a><a id="change">[idx+1:])</a>
            sections<a id="change"> = </a><a id="change">[</a>in_channels, stacked_channels<a id="change"></a>]

            if idx != depth - 1:
                x, x_residual = torch.split(x_residual, sections, dim=1)</code></pre>