<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 mask: (batch, max_len, 1)
        mask = sequence_mask(
            sequence_length=length, max_len=target.size(1)).unsqueeze(2)
        losses = losses * <a id="change">mask.float()</a>
        loss = losses.sum()<a id="change"> / </a>(<a id="change">length.float().sum()</a> * float(target.shape[2]))
        return loss

</code></pre><h3>After Change</h3><pre><code class='java'>
            sequence_length=length, max_len=target.size(1)).unsqueeze(2).float()
        mask = mask.expand_as(input)
        loss = functional.l1_loss(
            input<a id="change"> * </a>mask, target<a id="change"> * </a>mask, reduction="sum")
        loss = loss<a id="change"> / </a><a id="change">mask.sum()</a>
        return loss


class MSELossMasked(nn.Module):</code></pre>