<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        raise NotImplementedError("Implement D3Net")
    
    def forward(self, input):
        <a id="change">raise </a><a id="change">NotImplementedError(</a>"Implement D3Net"<a id="change">)</a>

class D3Block(nn.Module):
    def __init__(self, in_channels, out_channels, kernel_size, num_blocks=3, depth=None, eps=EPS):
        super().__init__()</code></pre><h3>After Change</h3><pre><code class='java'>

        stacked.append(input)

        <a id="change">for idx</a> in range(self.num_d3blocks)<a id="change">:
            </a>if idx != 0:
                x<a id="change"> = </a>torch.cat(stacked, dim=1)
            x = self.net[idx](x)
            <a id="change">stacked.append(</a>x<a id="change">)</a>
        
        output = torch.cat(stacked[1:], dim=1)

        return output</code></pre>