<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                logits, decision = self.Policy_net(p_in.detach(), temp)

                decision = decision.unsqueeze(1)                   
                pose, hc = self.Pose_net(fv[:, i, :].unsqueeze(1), fv_alter[:, i, :].unsqueeze(1), <a id="change">fi[:, i, :].unsqueeze(1</a><a id="change">)</a>, decision, hc)
                decision_list.append(decision) 
                logit_list.append(logits) 
            </code></pre><h3>After Change</h3><pre><code class='java'>
                logit, decision = self.Policy_net(p_in.detach(), temp)

                decision = decision.unsqueeze(1)
                pose, hc = self.Pose_net(fv[:, i:i+1, :], fv_alter[:, i:i+1, :], <a id="change">fi[:, i:i+1, :]</a>, decision, hc)
                decisions.append(decision)
                logits.append(logit)
</code></pre>