<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        layers[-1].weight.data.uniform_(-init_w, init_w)
        layers[-1].bias.data.uniform_(-init_w, init_w)

        self.net<a id="change"> = </a><a id="change">nn.Sequential(</a>*<a id="change">layers)</a>

    def forward(self, state, action):
        x = torch.cat([state, action], 1)
        out = self.net(x)</code></pre><h3>After Change</h3><pre><code class='java'>

class Critic(nn.Module):
    def __init__(self, in_dim, action_dim, hidden_dim, num_layers_linear_hidden):
        <a id="change">super(Critic, self).__init__()</a>

        assert len(in_dim) == 1
        assert len(action_dim) == 1
</code></pre>