<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        _senna_cmd.extend([&quot-&quot+op for op in self.operations])

        &#47&#47 Serialize the actual sentences to a temporary string
        _input = <a id="change">&quot\n&quot.join(</a>(&quot &quot.join(x) <a id="change">for</a> x in sentences)<a id="change">)</a>+&quot\n&quot
        if isinstance(_input, compat.text_type) and encoding:
            _input = _input.encode(encoding)
</code></pre><h3>After Change</h3><pre><code class='java'>
        
        tagged_sents = super(SennaTagger, self).tag_sents(sentences)
        for i in range(len(tagged_sents)):
            for j in range(<a id="change">len(</a>tagged_sents[i]<a id="change">)</a>):
                annotations = tagged_sents[i][j]
                tagged_sents[i][j] = (annotations[&quotword&quot], annotations[&quotpos&quot])
        return tagged_sents</code></pre>