<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.binarization_loss_warmup_steps = train_config["duration"]["binarization_loss_warmup_steps"]
        self.sum_loss = ForwardSumLoss()
        self.bin_loss = BinLoss()
        self.mse_loss = <a id="change">nn.MSELoss()</a>
        self.mae_loss = nn.L1Loss()

    def forward(self, inputs, predictions, step):</code></pre><h3>After Change</h3><pre><code class='java'>
        self.binarization_loss_enable_steps = train_config["duration"]["binarization_loss_enable_steps"]
        self.binarization_loss_warmup_steps = train_config["duration"]["binarization_loss_warmup_steps"]
        self.gmm_mdn_beta = train_config["prosody"]["gmm_mdn_beta"]
        self.prosody_loss_enable_steps = <a id="change">train_config["prosody"]</a>["prosody_loss_enable_steps"]
        self.var_start_steps = <a id="change">train_config["step"]</a>["var_start_steps"]
        self.sum_loss = ForwardSumLoss()
        self.bin_loss = BinLoss()
        self.sil_ph_ids = sil_phonemes_ids()</code></pre>