<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.add_module(&quotflatten&quot, Flatten())
        self.add_module(&quotfc1&quot, nn.Linear(7 * 7 * 2048, 1024))

        <a id="change">self.add_module(&quotfc2&quot</a>, nn.Linear(1024, 256)<a id="change">)</a>
        self.add_module(&quotclassifier&quot, nn.Linear(256, n_classes))
        for m in self.modules():
            print(m)
            if isinstance(m, nn.Conv2d):</code></pre><h3>After Change</h3><pre><code class='java'>
            &quotpexp4_2&quot: [2048, 2048],
            &quotpexp4_3&quot: [2048, 2048],
        }
        filters<a id="change"> = </a><a id="change">{
            </a>&quotpexp1_1&quot: [56, 56],
            &quotpexp1_2&quot: [56, 56],
            &quotpexp1_3&quot: [56, 56],
            &quotpexp2_1&quot: [56, 112],
            &quotpexp2_2&quot: [112, 112],
            &quotpexp2_3&quot: [112, 112],
            &quotpexp2_4&quot: [112, 112],
            &quotpexp3_1&quot: [112, 216],
            &quotpexp3_2&quot: [216, 216],
            &quotpexp3_3&quot: [216, 216],
            &quotpexp3_4&quot: [216, 216],
            &quotpexp3_5&quot: [216, 216],
            &quotpexp3_6&quot: [216, 216],
            &quotpexp4_1&quot: [216, 424],
            &quotpexp4_2&quot: [424, 424],
            &quotpexp4_3&quot: [424, 424]<a id="change">,
        }</a>

        self.add_module(&quotconv1&quot, nn.Conv2d(in_channels=3, out_channels=56, kernel_size=7, stride=2, padding=3))
        for key in filters:
</code></pre>