<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                elif isinstance(act_layer, nn.LeakyReLU):
                    self.act_name = &quotleaky_relu&quot
                else:
                    <a id="change">assert </a>False, f&quotInvalid act layer {act_layer.__name__} for IABN&quot
        else:
            self.act_name = &quotidentity&quot
        self.act_param = act_param</code></pre><h3>After Change</h3><pre><code class='java'>
                    self.act_name = &quotelu&quot
                elif act_layer == nn.LeakyReLU:
                    self.act_name = &quotleaky_relu&quot
                elif <a id="change">act_layer == nn.Identity</a><a id="change">:
                    </a>self.act_name<a id="change"> = </a>&quotidentity&quot
                else:
                    <a id="change">assert </a>False, f&quotInvalid act layer {act_layer.__name__} for IABN&quot
        else:
            self.act_name = &quotidentity&quot
        self.act_param = act_param</code></pre>