<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        y = self.encoder(x)
        f = self.feature_maker(y)
        y_ = self.feature_demaker(f)
        x_<a id="change"> = </a><a id="change">self.decoder(</a>y_, self.encoder.pool_indeces<a id="change">)</a>

        <a id="change">return </a>x_


</code></pre><h3>After Change</h3><pre><code class='java'>
        self.decoder = Decoder(decoder_layers)

    def forward(self, x):
        <a id="change">return </a>self.decode(self.encode(x))

    def encode(self, x):
        return self.encoder(x)</code></pre>