<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        out = F.relu(self.bn2(self.conv2(out)))
        &#47&#47 NOTE: change pooling kernel_size 7 -&gt; 4 for CIFAR10
        out = F.avg_pool2d(out, 4)
        out = <a id="change">out.view(</a>out.size(0), <a id="change">-1</a><a id="change">)</a>
        out = self.linear(out)
        return out

</code></pre><h3>After Change</h3><pre><code class='java'>
    def forward(self, x: Tensor) -&gt; Tensor:
        x = self.features(x)
        x = nn.functional.adaptive_avg_pool2d(x, (1, 1))
        x = <a id="change">torch.flatten(</a>x, <a id="change">1</a><a id="change">)</a>
        x = self.classifier(x)
        return x

    def _initialize_weights(self) -&gt; None:</code></pre>