<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            nn.BatchNorm2d(512),
            nn.LeakyReLU(negative_slope=0.2, inplace=True),
        )
        self.avgpool = nn.AdaptiveAvgPool2d((14<a id="change">, 14</a>))
        self.classifier = nn.Sequential(
            nn.Linear(512 * 14 * 14, 1024),
            nn.LeakyReLU(negative_slope=0.2, inplace=True),</code></pre><h3>After Change</h3><pre><code class='java'>
            nn.LeakyReLU(negative_slope=0.2, inplace=True),

            nn.AdaptiveAvgPool2d(1),
            <a id="change">nn.Conv2d(512</a>, 1024<a id="change">, kernel_size=1)</a>,
            nn.LeakyReLU(0.2),
            nn.Conv2d(1024, 1, kernel_size=1)
        )</code></pre>