<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        nn.init.xavier_normal_(self._output_projection.weight, gain=1.414)

    def forward(self, g, metapath_idx_dict):
        <a id="change">with g</a><a id="change">.local_scope():
            &#47&#47 Intra-metapath latent transformation
            </a>for _metapath in self.metapath_list:
                self.intra_metapath_trans(g, metapath=_metapath, metapath_idx_dict=metapath_idx_dict)

        &#47&#47 Inter-metapath latent transformation</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47 Intra-metapath latent transformation
        feat_intra = {}
        for _metapath in self.metapath_list:
            <a id="change">feat_intra[_metapath] = \
                </a>self.intra_metapath_trans(feat_dict, metapath=_metapath, metapath_idx_dict=metapath_idx_dict)

        &#47&#47 Inter-metapath latent transformation
        feat_inter = \</code></pre>