<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        factors = torch.exp(self.static_weight * x /
                            (1.0 + self.weight * x))
        factors = factors[:, torch.tril(
            <a id="change">torch.ones(</a>self.nelec, self.nelec<a id="change">)</a>) == 0].prod(1)
        return factors.view(-1, 1)

        &#47&#47 return JastrowFunction.apply(input,self.weight,self.static_weight)</code></pre><h3>After Change</h3><pre><code class='java'>
        r = self.edist(pos)
        jast = self._get_jastrow_elements(r)

        <a id="change">if derivative == 0</a><a id="change">:
            </a>return self._unique_pair_prod(jast)

        elif derivative == 1:
            return self._jastrow_derivative(r, jast)</code></pre>