<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.lrelu = nn.LeakyReLU(negative_slope=0.1, inplace=True)

        num_parameters = sum(map(lambda x: x.numel(), self.parameters()))
        print(<a id="change">&quot&#47&#47Params : {:&lt;.4f} [K]&quot.format(</a>num_parameters / 10 ** 3<a id="change">)</a>)

    def forward(self, x, target=None):
        Forward function.</code></pre><h3>After Change</h3><pre><code class='java'>
            self.upconv = nn.Conv2d(self.dim, self.dim * (upscale ** 2), 3, 1, 1, bias=True)
            self.pixel_shuffle = nn.PixelShuffle(upscale)
        else:
            <a id="change">raise </a>NotImplementedError(
                <a id="change">&quotUpscale factor is expected to be one of (2, 3, 4), but got {}&quot.format(</a>upscale<a id="change">)</a>)
        self.last_conv = nn.Conv2d(self.dim, 3, 3, 1, 1)
        self.lrelu = nn.LeakyReLU(negative_slope=0.1, inplace=True)
</code></pre>