<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.lin = Lin(hparams_net["MLP3_channels"][-1], hparams_net["num_classes"])
        pi_init = hparams_net["pi_init"]
        a = 0
        b = -np.log((<a id="change">1</a><a id="change"> - </a>pi_init) / pi_init)
        self.lin.bias<a id="change"> = </a><a id="change">torch.nn.Parameter(
            </a>torch.Tensor(
                [
                    a,
                    b,
                ]
            )<a id="change">
        )</a>
        nn.init.xavier_normal_(self.lin.weight)

    def forward(self, batch):
        </code></pre><h3>After Change</h3><pre><code class='java'>

        self.num_classes = hparams_net["num_classes"]
        bn = hparams_net.get("batch_norm", True)
        d1 = hparams_net.get("MLP1_channels", <a id="change">[</a>10, 64, 64<a id="change"></a>])
        d2 = hparams_net.get("MLP2_channels", [64, 256, 512, 1024])
        d3 = hparams_net.get("MLP3_channels", [1088, 512, 256, 64, 4])
</code></pre>