<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.classifier = nn.Linear(hidden[1], num_class)

    def forward(self, x, neighbor):
        x, neighbor = <a id="change">nf.normalize(</a>x<a id="change">)</a>, [<a id="change">nf.normalize(</a>n<a id="change">)</a> for n in neighbor]
        
        h, neighbor = self.tran1(x), [self.tran1(n) for n in neighbor]
        x, neighbor_agg = self.app1(h, neighbor, h, neighbor)</code></pre><h3>After Change</h3><pre><code class='java'>
        x, neighbor_agg = self.acvt1(x), [self.acvt1(n) for n in neighbor_agg]
        x, _ = self.app2(x, neighbor_agg, h, neighbor)
        
        <a id="change">x[torch.isnan(x)]</a> = 0
        return self.classifier(x).squeeze(1)

</code></pre>