<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        len is equal to the batch size, the second len is equal to the top_k and the third len is equal to the respective
        number of classes for the child FC.
        
        <a id="change">raise </a>NotImplementedError()


class FlowDictDecorator(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        number of classes for the child FC.
        
        n = len(features)
        parent_indices = <a id="change">parent_flow_dict.activated.argsort(dim=1)[:, :self.top_k]</a>
        res = []
        for i in range(n):
            res_for_parent = []
            for parent_index in parent_indices[i]:</code></pre>