<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        coarse_token_ids,
        fine_token_ids
    ):
        <a id="change">raise </a>NotImplemented

&#47&#47 audio LM
</code></pre><h3>After Change</h3><pre><code class='java'>

        tokens = self.transformer(tokens)

        pred_coarse_tokens, pred_fine_tokens = tokens[:, :n], <a id="change">tokens[:, n:]</a>

        coarse_logits = self.coarse_logits(pred_coarse_tokens)
        fine_logits = self.fine_logits(pred_fine_tokens)
</code></pre>