<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>

class Generator(nn.Module):
    def __init__(self, ngf=64, n_blocks=6):
        <a id="change">assert </a>(n_blocks &gt;= 0)
        super(Generator, self).__init__()
        self.ngf = ngf
        self.n_blocks = n_blocks</code></pre><h3>After Change</h3><pre><code class='java'>

class FastGenerator(nn.Module):
    def __init__(self, ngf=16, n_blocks=3):
        <a id="change">super(FastGenerator, self).__init__()</a>
        self.ngf = ngf
        self.n_blocks = n_blocks
        DownBlock = []
        DownBlock += [nn.ReflectionPad2d(3),</code></pre>