<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            group=self._pg,
        )

        <a id="change">return </a>PooledEmbeddingsAwaitable(tensor_awaitable=tensor_awaitable)


class PooledEmbeddingsReduceScatter(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
            group=self._pg,
        )

        pooled_embedding_awaitable<a id="change"> = </a>PooledEmbeddingsAwaitable(
            tensor_awaitable=tensor_awaitable
        )
        <a id="change">pooled_embedding_awaitable.callbacks.extend(</a>self._callbacks<a id="change">)</a>

        return pooled_embedding_awaitable

    @property</code></pre>