<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        super().__init__()

    def forward(self, x):
        <a id="change">return </a>x
</code></pre><h3>After Change</h3><pre><code class='java'>
        assert n == self.dim_n, &quotscalar features have wrong dimensions&quot

        Vh = einsum(&quotb v c, v h -&gt; b h c&quot, coors, self.Wh)
        Vu<a id="change"> = </a>einsum(&quotb h c, h u -&gt; b u c&quot, Vh, self.Wu)

        sh = torch.norm(Vh, p = 2, dim = -1)
        vu<a id="change"> = </a><a id="change">torch.norm(</a>Vu<a id="change">, p = 2, dim = -1, keepdim = True)</a>

        s = torch.cat((feats, sh), dim = 1)
        sm = einsum(&quotb h, h m -&gt; b m&quot, s, self.Wm) + self.Bm

        feats_out = self.σ(sm)
        coors_out<a id="change"> = </a>self.σ_plus(vu)<a id="change"> * </a>Vu

        <a id="change">return </a>feats_out, coors_out
</code></pre>