<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        &#47&#47 https://github.com/pytorch/pytorch/issues/45208
        &#47&#47 https://github.com/pytorch/pytorch/issues/44768
        with torch.no_grad():
            mask = <a id="change">x.abs() &gt; 0.0</a>
            return normalize_tensor(x, mask, div_guard=self.div_guard)


class DitherAudio(nn.Module):</code></pre><h3>After Change</h3><pre><code class='java'>
        with torch.no_grad():
            mask = lengths_to_mask(lengths, x.shape[-1])
            return (
                normalize_tensor(x, mask.unsqueeze(1), div_guard=self.div_guard)<a id="change">,
                lengths</a>,
            )

</code></pre>