<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x2bot_samfeats, stage1_img_bot = self.sam12(res1_bot[0], x2bot_img)

        &#47&#47&#47&#47 Output image at Stage 1
        stage1_img<a id="change"> = </a><a id="change">torch.cat(</a>[stage1_img_top, stage1_img_bot],2<a id="change">)</a> 
        &#47&#47&#47&#47-------------------------------------------
        &#47&#47&#47&#47-------------- Stage 2---------------------
        &#47&#47&#47&#47-------------------------------------------</code></pre><h3>After Change</h3><pre><code class='java'>
        &#47&#47&#47&#47 Apply SAM
        x3_samfeats, stage2_img = self.sam23(res2[0], x3_img)

        <a id="change">del stage2_img, x2top, x2bot, x2top_cat, x2bot_cat, feat2_top, feat2_bot</a>
        torch.cuda.empty_cache()
        &#47&#47&#47&#47-------------------------------------------
        &#47&#47&#47&#47-------------- Stage 3---------------------
        &#47&#47&#47&#47-------------------------------------------</code></pre>