<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        self.in_channels = [ChannelEnum(in_channel) for in_channel in in_channels]
        self.out_channels = [ChannelEnum(out_channel) for out_channel in out_channels]

        <a id="change">if input_normalization is None</a><a id="change"> or input_normalization is False:
            </a>self.input_normalization<a id="change"> = </a>None
        else:
            self.input_normalization = input_normalization
</code></pre><h3>After Change</h3><pre><code class='java'>
                self.num_solutions = int(model_uncertainty_config["num_solutions"])
                self.use_mean_as_rec = model_uncertainty_config.get("use_mean_as_rec", False)
            elif self.model_uncertainty_method == ModelUncertaintyMethodEnum.MONTE_CARLO_VAE:
                self.num_solutions = int(model_uncertainty_config["num_solutions"])<a id="change"></a>,
                self.use_mean_as_rec = model_uncertainty_config.get("use_mean_as_rec", False)
            else:
                raise NotImplementedError</code></pre>