<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
            h_prime = []
            emb = emb.permute(1, 0, 2).contiguous()
            for i in range(self.num_heads):
                g.edata[&quotalpha&quot] = <a id="change">edge_attention[:, i]</a>
                g.srcdata.update({&quotemb&quot: emb[i]})
                g.update_all(Fn.u_mul_e(&quotemb&quot, &quotalpha&quot, &quotm&quot),
                             Fn.sum(&quotm&quot, &quotemb&quot))
                h_prime.append(g.ndata[&quotemb&quot])</code></pre><h3>After Change</h3><pre><code class='java'>
            res_attn = g.edata[&quotalpha&quot]
            edge_attention = edge_attention * \
                             (1 - self.beta) + res_attn * self.beta
        <a id="change">if self.num_heads == 1</a><a id="change">:
            </a>edge_attention = edge_attention[:, 0]
            edge_attention<a id="change"> = </a><a id="change">edge_attention.unsqueeze(1</a><a id="change">)</a>

        with g.local_scope():
            emb = emb.permute(0, 2, 1).contiguous()
            g.edata[&quotalpha&quot] = edge_attention</code></pre>