<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                         dilation=1, w_init_gain=&quotrelu&quot),
                nn.BatchNorm1d(hparams.encoder_embedding_dim))
            convolutions.append(conv_layer)
        self.convolutions<a id="change"> = </a><a id="change">nn.ModuleList(</a>convolutions<a id="change">)</a>

        self.lstm = nn.LSTM(hparams.encoder_embedding_dim,
                            int(hparams.encoder_embedding_dim / 2), 1,
                            batch_first=True, bidirectional=True)</code></pre><h3>After Change</h3><pre><code class='java'>
        super(Encoder, self).__init__()

        &#47&#47 convolution layers followed by batch normalization and ReLU activation
        activations = <a id="change">[</a><a id="change">nn.ReLU()</a>] * num_convs
        conv_out_channels = [conv_channels] * num_convs
        self.conv1ds = BatchNormConv1dStack(embed_dim, conv_out_channels, kernel_size=conv_kernel_size,
                                            stride=1, padding=(conv_kernel_size -1) // 2,</code></pre>