<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
                         kernel_size=hparams.encoder_kernel_size, stride=1,
                         padding=int((hparams.encoder_kernel_size - 1) / 2),
                         dilation=1, w_init_gain=&quotrelu&quot),
                <a id="change">nn.BatchNorm1d(</a>hparams.encoder_embedding_dim<a id="change">)</a>)
            convolutions.append(conv_layer)
        self.convolutions = nn.ModuleList(convolutions)
</code></pre><h3>After Change</h3><pre><code class='java'>

        &#47&#47 convolution layers followed by batch normalization and ReLU activation
        activations = [nn.ReLU()] * num_convs
        conv_out_channels<a id="change"> = </a><a id="change">[</a>conv_channels<a id="change"></a>] * num_convs
        self.conv1ds = BatchNormConv1dStack(embed_dim, conv_out_channels, kernel_size=conv_kernel_size,
                                            stride=1, padding=(conv_kernel_size -1) // 2,
                                            activations=activations, dropout=conv_dropout)</code></pre>