<link rel="stylesheet" href="../default.css">
<script src="../highlight.pack.js"></script> 
<script>hljs.initHighlightingOnLoad();</script>
<html><h3></h3><h3>Before Change</h3><pre><code class='java'>
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        output = self.fc3(x)
        <a id="change">if </a>last<a id="change">:
          </a>return output, x
        else:
          return output
    def get_embedding_dim(self):</code></pre><h3>After Change</h3><pre><code class='java'>

    def forward(self, x, last=False, freeze=False):
        if freeze:
            <a id="change">with torch.no_grad()</a><a id="change">:
                </a>out = self.pool(F.relu(self.conv1(x)))
                out = self.pool(F.relu(self.conv2(out)))
                out = self.pool(F.relu(self.conv3(out)))
                out = out.view(-1, 64 * 4 * 4)</code></pre>